[2020-04-30 09:19] philipreimer commented on #3920
Same problem here. Also on a Nokia 8.1.

It seems to be a problem related to the notch because - although it does not show on the screenshot - on my screen the upper right and upper left corners of the white gap space are rounded. Just like they would be if they were at the top of the screen.

Android 10
Mattermost 1.30.1

[2020-04-30 11:05] eadmaster opened #4249 "[Q] Android 6 build"
is it possible to build an apk for Android 6?

I am stuck on an older build which now is failing to log into my private MM instance.

[2020-05-01 19:19] licaon-kter commented on #4146
One _"strange trick that mattermost hates"_ is to install 5.19 and login, then upgrade to 5.28 and then to 5.30.

For some reason 5.19 to 5.30 asked me to login again, and of course failed.

[2020-05-02 21:27] licaon-kter commented on #4146
1.30.1 is on F-Droid, as said ^^^ upgraded ok if already logged in. Still fails to login otherwise.

[2020-05-04 06:38] licaon-kter commented on #4146
Hmm, looks like I can't send messages ...I get the red exclamation mark :(

[2020-05-04 16:18] tuxity opened #4259 "iOS share screen channels view height"
Hello,

#### Summary
I noticed something annoying when sharing a file to a MatterMost channel, the height of the view when choosing a channel is a bit small comparing to slack and I always end up not choosing the channel I want or clicking outside.

#### Environment Information
- Device Name: iPhone 11 Pro
- OS Version: iOS 13.4.1
- Mattermost App Version: 1.30.1
- Mattermost Server Version: 5.22.

[2020-05-04 16:28] amyblais commented on #4259
What Mattermost mobile app version are you on? What Mattermost server version are you on?

[2020-05-04 16:37] tuxity commented on #4259
Mattermost-server: 5.22.1
Mattermost iOS: 1.30.1

I have edited first post to add this info

[2020-05-04 17:20] daniel-nosachev opened #4260 "LED/Vibration (in 'sound on' mode, not silenced) doesn't work for new messages on OnePlus 5, Android 9."
#### Summary
LED indicator and vibration (in non-silent, sound-on mode) not working for any incoming messages.

#### Environment Information

- Device Name: OnePlus 5 (A5000)
- OS Version: Android 9
- Build Version: ONEPLUS A5000_23_200224
- Mattermost App Version: 1.30.1 (Build 287)
- Mattermost Server Version: 5.22.0 (Build 5.22.1)

#### Steps to reproduce
- Let the device lie, screen off.
- Rec

[2020-05-04 22:32] amyblais commented on #4249
We currently support Android 7+: https://docs.mattermost.com/install/requirements.html#mobile-apps.

[2020-05-05 09:48] eni23 opened #4263 "Upload File Size Limit from Server ignored"
## Summary

If change the setting `MaxFileSize` in `config.json` to eg. 128MB  the app ignores the setting and does not allow to upload bigger files. Works in web interface.

#### Environment Information

- Device Name: Apple iPad Pro
- OS Version: 13.4.1
- Mattermost App Version: 1.30 but also tested with older versions
- Mattermost Server Version: 5.9 LTS

#### Steps to reproduce
Change `MaxFile

[2020-05-05 12:06] enahum commented on #4263
@eni23 I just tested and the mobile app is getting the changed value for `MaxFileSize` when updated from the system console.

The updated value should be set either if the app is running in the foreground or with the next request to the server.

Can you please try again and report back any details to determine if there is an actual bug with this.

Thanks.

[2020-05-05 12:31] eni23 commented on #4263
We are running in HA Mode and thus are not able to change the value over the system console. I just tried to change the value again (change config.json and restart all 3 nodes) with an app open, but still the same, app does not allow to upload files bigger than ~50MB

[2020-05-05 17:01] nevyangelova opened #4265 "[MM-T541 (1.0)] Mobile Push Notifications - Fails to send reply from notification when not online"
#### Summary
Mobile Push Notifications - Fails to send reply from notification when not online
–––––––––––––––––––––––––
Available on iOS 13.3.1

#### Environment Information

- iPhone 7
- iOS 13.3.1
- Mattermost Beta v1.31.0 (291)
- community.mattermost.com

#### Steps to reproduce
- Have another user trigger a push notification for your RN app user
- Put your device into airplane mode / turn off

[2020-05-05 17:05] amyblais commented on #4265
@nevyangelova You can open a Jira bug ticket for this :)

[2020-05-05 17:06] enahum commented on #4265
closing as this should be track in jira

[2020-05-05 17:06] #4265 closed

[2020-05-06 08:55] eni23 commented on #4263
Addition: If curl'ing  `https://chat.example.com/api/v4/config/client?format=old` we will get the updated setting which is ignored by the app.

[2020-05-06 09:05] enahum commented on #4263
@saturninoabril can you help verify this?

[2020-05-06 09:06] saturninoabril commented on #4263
@enahum Sure, will do.

[2020-05-06 10:23] smirta commented on #4263
Additional info: It works as expected in mattermost-desktop on linux.

[2020-05-06 13:48] saturninoabril commented on #4263
I tested on ESR (LTS) test server and the changes made to max file size (set to 100MB) took effect to clients including iOS App (tried on 1.29 and 1.30) which allowed me to upload 94MB file. There's a file upload error on all clients but it's probably due to nginx setting (``client_max_body_size 50M``). I'm doing a separate setup where I could change such nginx value - will update on it.

[2020-05-06 16:29] saturninoabril commented on #4263
@eni23 @smirta Works for me.  I couldn't repro the one you're seeing.  Would be helpful if you could give more details -- fail log/message on client or server (is it "File above {size} cannot be uploaded..."), file type (same issue on other file?).

[2020-05-06 17:31] enahum commented on #4260
@daniel-nosachev aren't you able to customize the notification to vibrate/blink/change the sound in the android notifications settings for the app?

[2020-05-06 17:33] enahum commented on #4259
@esethna can you create a jira ticket for this, the implementation should be easy but I would prefer to have UX confirm the height and to determine if it also applies to the teams list.

[2020-05-06 19:04] esethna commented on #4259
+1! I'll let @matthewbirtch create a quick wins ticket for this and specify the height directly.

[2020-05-06 19:20] daniel-nosachev commented on #4260
@enahum I wish I could, but on Oxygen OS you can only switch notifications on/off and some extra settings for important to all messages and that's all. Vibrate/blink are not customizable for specific apps, unfortunately. See the screenshot attached.

![image](https://user-images.githubusercontent.com/54989757/81218962-b54a8a80-8fe7-11ea-9c07-7579ddc431a2.png)

Another odd thing is that if I switch

[2020-05-06 19:33] enahum commented on #4260
Sorry to hear that it may be an OS thing... I don't know what else to say/try

[2020-05-06 19:50] daniel-nosachev commented on #4260
I guess so too. No worries, I understand that likely it's not Mattermost's issue.

I'll close this one and hope maybe OS developers will fix such annoying bugs someday. And I'll consider changing the phone, again :D

Thanks a lot for responding, have a good one, and stay safe!

[2020-05-06 19:50] #4260 closed

[2020-05-06 20:39] smirta commented on #4263
I can only tell you from a user's perspective. If I'm uploading a file bigger than 50MB and smaller than 128 on iPadOS or Android, there is no error message. The file just appears as a failed upload and when the "post" button is pressed, some error saying that the attachment failed to upload.

![image](https://github.com/smirta/temp/raw/master/Screenshot_2020-05-06_at_22.31.01.png)

[2020-05-06 21:06] matthewbirtch commented on #4259
@esethna created https://mattermost.atlassian.net/browse/MM-24940

[2020-05-06 21:10] tuxity commented on #4259
Thank you guys 👍

[2020-05-07 09:29] eni23 commented on #4263
The server does not logs anything, looks like the request is not even passed to the server. If logging out and login to the iPad we get the following Message:
![Bildschirmfoto 2020-05-07 um 11 18 55](https://user-images.githubusercontent.com/3918506/81277920-54f23200-9055-11ea-8fa4-08e331823f60.png)

As mentioned, curl to: https://chat.example.com/api/v4/config/client?format=old gives the correct

[2020-05-07 10:57] eni23 commented on #4263
OK, additional Info: we use your antivirus-plugin: https://github.com/mattermost/mattermost-plugin-antivirus

If disabling the plugin, the upload works perfectly. Looks like the mobile app does not wait on an OK response from server, while the web app does.

[2020-05-07 13:14] saturninoabril commented on #4263
Thanks for the infos.  Unfortunately, I couldn't reproduced. There seemed to be 2 different issues here and those issues are actually not supporting each other:
- [orig from @eni23] - getting not allowed to upload file between 50-128MB after changing max file size -- nice to see this working now on your side but it might not be related directly to anti-virus plugin. It could be due to config chang

[2020-05-08 03:16] Roy-Orbison commented on #4146
To add weight, I'm getting this on Android 10 (not LineageOS).

Without looking into the code, it seems to be either a broken request, or an incompatibility with the server API. If I leave the password field blank and try logging in, the error is `Please enter your password`, but if I type anything at all and submit, the error becomes `Password field must not be blank`. It looks like the app's sub

[2020-05-08 09:23] a3nm commented on #4146
Same problem here, "Mattermost Beta" version 1.30.1 from F-droid, server Mattermost Enterprise Edition version 5.21.0.

[2020-05-12 12:41] UpriseNate commented on #1522
To get match working and automated building, the two things that hung me up were:

1) making sure each (NotificationService, MattermostShare, and the app) have provisioning profiles in the same app group

2) make sure each of those 3 are listed in MATCH_APP_IDENTIFIER so that match actually gets their provisioning profiles

I'm new to iOS build systems and certainly new to match, so maybe these ar

[2020-05-13 10:09] Gloriashield opened #4292 "iOS message doesn't scroll"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
This issue only occurs on iOS. It does not occur on the same version of Android. Turn on "Enable User Typing Messages" and "Type Typing Timeout" is 5000. If there is no problem without keypad. Touch input box to make keyboard visible. And someone type m

[2020-05-13 10:25] enahum commented on #4292
@Gloriashield we have a ticket to track this issue for quite some time now https://mattermost.atlassian.net/browse/MM-21155 but so far we have not found a solution that does not involve a change in UX, this is happening because of animating the user is typing element.

[2020-05-13 20:26] tamasgal commented on #622
Thanks for the link. So this is still unresolved.

We did an emergency switch to Mattermost because RocketChat broke our instance several times due to auto-update issues of the snap distribution. However, without a working mobile client using Google OAuth, Mattermost is not really an interesting alternative 😕

[2020-05-14 00:10] Gloriashield commented on #4292
@enahum
Thank you for your answer. If possible, I try to find a way to solve this problem and help. Please decide whether you want to end this ticket. Thank you :D

[2020-05-14 08:57] AiTranXuan opened #4298 "App loading forever in lazyload Channel screen when using mattermost 1.30.1 (App Store)"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Critical error cannot use the app

#### Environment Information

- Device Name: iPhone XS Max
- OS Version: 13.4.1
- Mattermost App Version: 1.30.1

#### Steps to reproduce
- First, download the Mattermost app on AppStore.(now, version MM - 1.30.1)
- Yo

[2020-05-16 00:53] jeffg2k commented on #1799
Just started getting this issue - I thin with v1.31.0
![68C72FED-E5C5-45E2-819F-A2B97E3362A3](https://user-images.githubusercontent.com/161904/82106237-b9fcf600-96ed-11ea-9fdc-f118ba272af4.jpeg)

[2020-05-18 09:59] sadamht commented on #4146
i have the same problem with this on Android. with Mattermost version 1.31.0
 please Mattermost Team Fix this issue

[2020-05-19 13:56] amyblais commented on #4298
@AiTranXuan Do you have ``ExperimentalPrimaryTeam`` enabled on your server?

[2020-05-19 16:15] #4186 closed

[2020-05-19 22:54] #4298 closed

[2020-05-19 23:00] amyblais commented on #4070
This was fixed for v1.31,

[2020-05-19 23:00] #4070 closed

[2020-05-20 09:32] malmstein opened #4310 "Android - Image can't be loaded, forcing the app to crash"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Entering a channel with an image makes the application crash

#### Environment Information

This is my device's information, although it crashes for everyone else on the team.

- Device Name: Nexus 3a
- OS Version: Android 10
- Mattermost App Version: 1

[2020-05-20 13:53] amyblais commented on #4310
A ticket is open for this here: https://mattermost.atlassian.net/browse/MM-25347.

[2020-05-20 15:10] enahum commented on #4310
@malmstein could you share back the image?

[2020-05-20 16:08] malmstein commented on #4310
I was wrong @enahum, the app was crashing before that image was posted so I'm afraid I can't have the exact image that made it crash.

[2020-05-20 19:47] #4310 closed

[2020-05-22 08:28] denniskawurek opened #4327 "Android app is crashing after update to 1.31.0"
#### Summary
After an update to version 1.31.0 on Android the apps starts to crash.

#### Environment Information

- Device Name: Motorola Moto G6 (XT1925-5)
- OS Version: Android 9
- Mattermost App Version: 1.31.0
- Mattermost Server Version: --

#### Observed behavior
When I open the app it freezes and closes automatically by the android system.

The behaviour can also be observed on other Andro

[2020-05-22 11:53] enahum commented on #4327
Any chance you can share resumts from logcat? This is the first report we get from the app crashing on cold start

[2020-05-22 15:00] ghisleouf commented on #4327
Hi there,

Same for me, and others in company :

**Environment Information**
Device Name: Huawei P20 Pro
OS Version: Android 9
Mattermost App Version: 1.31.0
Mattermost Server Version: 5.23.0

![image](https://user-images.githubusercontent.com/1439092/82681153-ab629180-9c4d-11ea-8b5a-ad4aa903e75a.png)

[2020-05-22 15:05] amyblais commented on #4327
@enahum ^

[2020-05-22 15:10] enahum commented on #4327
@amyblais the above issue with the screenshot is fixed by https://github.com/mattermost/mattermost-mobile/pull/4314

[2020-05-22 15:29] denniskawurek commented on #4327
I tried to wipe all data from the app and it worked for one channel. After switching the channel it crashed again or more like the screen stays black.

Below is my logcat for this.

![mattermostlogcat](https://user-images.githubusercontent.com/11777947/82683660-a69fdc80-9c51-11ea-91e1-241b559be7d9.png)

[2020-05-22 15:35] amyblais commented on #4327
@denniskawurek @ghisleouf We are considering this for a dot release. Would you be open to help test if v1.32 beta build fixes the issue?

[2020-05-22 15:38] denniskawurek commented on #4327
@amyblais Sure. Hit me up with further information as soon as the Beta is released.

[2020-05-22 16:20] amyblais commented on #4327
@denniskawurek You can sign up as a beta tester here: https://github.com/mattermost/mattermost-mobile#testing.

[2020-05-22 16:26] ghisleouf commented on #4327
Just installed and tested... Works fine!

[2020-05-22 16:33] denniskawurek commented on #4327
Yep, here is also everything fine.

[2020-05-25 06:17] bill2004158 opened #4342 "[Android] Unexpected error occurred after logout v1.31.1"
#### Summary
1. install latest mattermost from Google Play.
2. login & logout,  (maybe need try multiple times)
3. finally saw this error:
![20200525135821](https://user-images.githubusercontent.com/211855/82783093-624e4f80-9e90-11ea-8232-90c84d107876.jpg)

btw,  **I didn't see this issue in Debug mode**, only for release.

#### Environment Information

- Device Name: Huawei Honor V10
- OS Version

[2020-05-25 06:19] bill2004158 commented on #4342
I haven't test iOS, not sure if there is same issue.

[2020-05-26 17:48] dbogatov commented on #4056
Slack seems to support it.
So it is possible to do in a right way (i.e. without performance degrade).

[2020-05-26 20:05] enahum commented on #4056
@dbogatov slack uses a totally different technology and approach. Can you think of alternatives on how to do this?

[2020-05-27 12:48] licaon-kter commented on #4146
Same on 1.31.1 FYI

[2020-05-27 14:45] amyblais commented on #4342
@bill2004158 Would you be able to share results from logcat?

/cc @enahum

[2020-05-27 14:48] enahum commented on #4342
cc: @migbot @chuttam

[2020-05-27 15:27] bill2004158 commented on #4342
@amyblais

[code]

[2020-05-27 15:27] bill2004158 commented on #4342
@amyblais
other one:
[code]

[2020-05-27 15:29] bill2004158 commented on #4342
when logging out, ChannelBase is created & DidMount.
I am not sure why create channel page when loging out.

[2020-05-27 16:25] robinmetral commented on #4146
@amyblais is this being addressed?

[2020-05-27 16:50] amyblais commented on #4146
F-Droid is community maintained and is not officially supported by Mattermost. Has F-Droid been contacted about this issue?

[2020-05-27 16:57] licaon-kter commented on #4146
F-Droid does not have the expertise, hence this issue and the request to _please take a look_.

Since you (Mattermost) are not interested (afaik) in maintaining a fully FOSS flavor of the app, the patches that the F-Droid contributors made up are all that we have.

And those, I guess, are rather old and broken, albeit it miraculously builds. :)

I keep updating the F-Droid metadata for new builds

[2020-05-27 17:01] a3nm commented on #4146
I can confirm that the problem does not seem to be present on the APK of https://github.com/mattermost/mattermost-mobile/releases/tag/v1.31.1 so this bug may indeed be specific to F-droid.

However, if the F-droid folks are not managing to build the application in a way that works, so that the only way to get a working copy of the app is via the binary builds on Google Play, the App Store, and the

[2020-05-27 17:12] amyblais commented on #4342
https://mattermost.atlassian.net/browse/MM-25569

[2020-05-28 16:15] #4209 closed

[2020-05-31 00:46] bill2004158 commented on #4342
@migbot yes, it seems fix that issue in v1.32.
do you know "why the channel screen is mounting when logged out"?

[2020-06-01 08:10] sabbir360 opened #4374 "Tap on notification from android in slow network, not opening respective channel/direct message."
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Tap on notification from android in slow network, not opening respective channel/direct message.

#### Environment Information

- Device Name: Samsung Galaxy Note 9/10
- OS Version: Android 10 with one ui
- Mattermost App Version: 1.31.2
- Mattermost Se

[2020-06-01 11:03] enahum commented on #4374
I’m afraid your suggestion in already happening here https://github.com/mattermost/mattermost-mobile/blob/master/app/actions/views/root.js#L67 and https://github.com/mattermost/mattermost-mobile/blob/master/app/actions/views/root.js#L118.

Does ir happen when the notification belongs to a channel in a different team or the same team?

[2020-06-01 11:05] sabbir360 commented on #4374
Its happening for same team as well. Ok, looks like it's patched?
I will observe more and get back.

[2020-06-01 13:12] chuttam commented on #3835
@xRahul The Post composition input area when through a significant overhaul in app versions 1.30  (April) and 1.31 (May). Consequently, I am unable to reproduce the trouble you were having. I too remember seeing similar behaviour around 1.27 and 1.28.

Would you be willing to install the most recent app store version and try this again? As seen in the screen grab below, posted messages clear the t

[2020-06-02 03:05] bill2004158 commented on #4342
close issue as fixed in v1.32

[2020-06-02 03:05] #4342 closed

[2020-06-02 13:50] Adrian-Hufnagl commented on #4146
Im getting the same error by starting the App from scratch
Tested Version 1.19, 1.28, 1.30. Android Versions 6, 8, 10
It does not seem to be related just to the F-Droid Team

[2020-06-02 13:53] enahum commented on #4146
Are you building the app yourselves? Are you applying the patch for `rn-fetch-blob`? Without the patch being applied this is exactly what happens...

[2020-06-03 06:07] bitdessert opened #4380 "Why does the channel name look different?"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Issue in one concise sentence.

#### Environment Information

- Device Name: iOS, Android
- OS Version:
- Mattermost App Version: 1.31.2
- Mattermost Server Version: 5.23.0

#### Steps to reproduce

You can check it in the sidebar.

#### Expected behavi

[2020-06-03 07:16] ramsonline opened #4381 "App shows wrong Userstatus (online/away users appear as offline)"
#### Summary
The UI of the Github App shows a different User status then the Desktop App / Webinterface.

#### Environment Information

- Device Name:
Xiaomi Mi9
- OS Version:
Android 10
- Mattermost App Version:
App: 1.31.2 (Github Build)
- Mattermost Server Version:
Mattermost-Version: 5.23.0

#### Steps to reproduce
Setup an Instance with different Users
#### Expected behavior
The App and the W

[2020-06-03 10:51] enahum commented on #4380
@bitdessert do you have consistent repro steps? Cause I cannot reproduce

[2020-06-03 12:05] Adrian-Hufnagl commented on #4146
I have now ran it succesfully on android. I set the project up again with MacOS.
I took the Repo from Mattermost-Mobile. My other failed attempts ran with rn-fetch-blob 0.12.0

[2020-06-03 12:12] enahum commented on #4146
Now I wonder if the other patches are also being left out...

[2020-06-03 15:42] bitdessert commented on #4380
@enahum Just click on the top left hamburger button(drawer button). Create and compare 1:1 conversations and group(1:N) conversations. You can see that each chat room name is expressed differently

[2020-06-03 15:55] amyblais commented on #4381
@ramsonline Would you be able to help test if you see the same on v1.32 beta version?

[2020-06-03 15:55] amyblais commented on #4380
@bitdessert Would you be able to help test if you see the same on v1.32 beta version?

[2020-06-03 18:33] licaon-kter commented on #4146
@enahum Where are the patches applied exactly? I've looked at https://developers.mattermost.com/contribute/mobile/build-your-own/ or https://github.com/mattermost/mattermost-mobile/blob/master/Makefile and I can't grasp what step should do that.

[2020-06-03 19:21] enahum commented on #4146
@licaon-kter https://github.com/mattermost/mattermost-mobile/blob/master/Makefile#L74 which is triggered by https://github.com/mattermost/mattermost-mobile/blob/master/package.json#L158 and applies all the patches here https://github.com/mattermost/mattermost-mobile/tree/master/patches

[2020-06-03 23:54] bitdessert commented on #4380
@enahum Have you changed this option?
Change the options in the desktop app as shown below.
Account Settings-> Display Settings -> Teammate Name Display -> Show first and last name
What I tested was after selecting the third option.
If you select the first or second option, it changes like the desktop app, but the third option does not change on the mobile.

[2020-06-04 01:14] enahum commented on #4380
@josephbaylon can you try and repro and file a ticket if needed?

thanks.

[2020-06-04 01:21] bitdessert commented on #4380
@enahum I tested it by pulling version 1.32 from git and it looks good.

[2020-06-04 01:22] enahum commented on #4380
Thanks for confirming... can we close this issue then?

[2020-06-04 01:23] bitdessert commented on #4380
@enahum Will it be patched in version 1.31? If not, when will 1.32 be released?

[2020-06-04 01:25] enahum commented on #4380
A new verdion is released every 16th of the month, so 1.32 will be released in 13 days from today (June 16th 2020)

[2020-06-04 01:34] bitdessert commented on #4380
@enahum So there are no patch plans in 1.31?

[2020-06-04 01:35] enahum commented on #4380
Right, no plans to have this in a dot release

[2020-06-04 01:37] bitdessert commented on #4380
@enahum OK, thanks :)

[2020-06-04 01:37] #4380 closed

[2020-06-04 13:00] ramsonline commented on #4381
Is there an APK download available somewhere ?
The F-Droid Build of "Mattermost Beta" had its last changes about 12 Month ago and i do not use the Play-Store. Otherwise i can build it myself but it might take some time.

[2020-06-04 13:10] amyblais commented on #4381
This is a link to the latest beta APK: https://releases.mattermost.com/mattermost-mobile-beta/1.32.0/298/Mattermost_Beta.apk

[2020-06-04 13:31] ramsonline commented on #4381
Thank you its installed now... ill test it and give feedback in a few days !

[2020-06-04 15:50] licaon-kter commented on #4146
The main buildserver log is rather spartan so I've run it locally, for 296
[com.mattermost.rnbeta_296.log.gz](https://github.com/mattermost/mattermost-mobile/files/4730552/com.mattermost.rnbeta_296.log.gz)

The interesting bits start at line 1687, I guess:
[code]

But the files are there:
[code]
...right so, the files are parsed in order and `patch-package` bails out on the first error, so we need

[2020-06-05 08:09] just-ole opened #4388 "unsanitized use of user defined input as regex"
https://github.com/mattermost/mattermost-mobile/blob/master/android/app/src/main/java/com/mattermost/rnbeta/CustomPushNotification.java
[code]
the user controlled string `senderName` is passed to `String.replaceFirst` which expects the first argument to be a regex without any sanitizing which can crash the app by using `THE User ;-)` as name

but thats all I have time to investigate atm

current v

[2020-06-05 13:21] syky27 commented on #1512
Any update on this? @enahum

[2020-06-05 13:23] amyblais commented on #4388
@just-ole What device and version are you on?

[2020-06-06 17:17] dromer commented on #4146
Server: `5.23.1`
With client `1.19.0` this worked fine.

After upgrading to `1.31.1` I was able to reuse the login token. It was not possible to see old channel messages or send messages, but I could see new messages coming in.
After logging out I get the same `password must not be blank` message and am unable to use the app.

This seems to me like an issue in how the client communicates to the se

[2020-06-06 17:46] PanderMusubi commented on #4045
Can't retest as https://github.com/mattermost/mattermost-mobile/issues/4146 is blocking

[2020-06-06 17:46] PanderMusubi commented on #4043
Can't retest as https://github.com/mattermost/mattermost-mobile/issues/4146 is blocking

[2020-06-10 00:01] esethna commented on #1512
For those following this thread, we are heavily focused on reliability and performance of the mobile app at the moment. Many of the components within the app need refactors in order to performantly and reliably add multi-server support, and that is our focus right now. Multi-server support is certainly on our roadmap, and we are building the foundation to support it :)

[2020-06-10 06:10] bitdessert opened #4407 "File upload error when there is a space in the file name"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
File upload error when there is a space in the file name

#### Environment Information

- Device Name: Android Device
- OS Version: Android 10
- Mattermost App Version: 1.31.2
- Mattermost Server Version: 5.23.0

#### Steps to reproduce
Download the fil

[2020-06-10 08:39] enahum commented on #4407
Hey @bitdessert thanks for the report, would you be open to submit a PR for this?

[2020-06-10 09:04] bitdessert commented on #4407
@enahum I just tested it and didn't modify the code.

[2020-06-10 09:08] enahum commented on #4407
@bitdessert thank you for that, I guess what I’m saying is that if you are willing to make the fixes and then submit a PR, that would be very much welcomed and appreciate it ;)

If you cannot, that is also fine... we’ll try and take care of it but no specific ETA on that :(

[2020-06-10 09:34] nikkilocke opened #4408 "Android App keeps saying it hasn't posted a message when it has"
#### Summary
Often (particularly with a poor WiFi signal), the Android app (and, I hear, the iOS one too) claims it hasn't sent a message, offering the options to Try Again, Delete Message or Cancel. But the claim is not removed even when the message has been posted successfully. Clicking Try Again will often cause the message to be posted again (but still not make the claim go away!).

#### Envir

[2020-06-11 00:28] bitdessert commented on #4407
@enahum Thank you. I wish the error could be fixed.

[2020-06-11 00:36] Roy-Orbison commented on #4146
I can confirm I'm able to log in, view all previous messages, etc. with v1.31.2. 🎉 🍾

[2020-06-11 06:11] dromer commented on #4146
Yup, with latest version of the app in f-droid `1.31.2` things seem to work.

[2020-06-11 06:47] a3nm commented on #4146
Same here. Thanks for fixing this issue! I think the bug can be closed.

[2020-06-11 08:24] ramsonline commented on #4381
This problem seems to be already fixed in the new build. Thanks for your help !

[2020-06-11 08:24] #4381 closed

[2020-06-11 11:28] sadamht opened #4410 "STUCK iOS on Splash Screen After Change Signin & Capabilities"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
I Change all Signin  & Capabilities for iOS
Run in XCode
No error!!!
But, while running simulator. its's stuck on Splash screen and xcode stuck.

#### Environment Information

- Device Name: iPhone 11 ProMaxSimulator
- OS Version: 13.5
- Mattermost App

[2020-06-11 11:33] sadamht commented on #4146
Same here

[2020-06-11 11:37] licaon-kter commented on #4043
1.31.2 does not help?

[2020-06-11 11:37] licaon-kter commented on #4045
1.31.2 does not help?

[2020-06-11 11:47] PanderMusubi commented on #4043
Fxied, thanks

[2020-06-11 11:47] #4043 closed

[2020-06-11 11:48] PanderMusubi commented on #4045
Fxied, thanks

[2020-06-11 11:48] #4045 closed

[2020-06-11 12:55] enahum commented on #4410
Hi @sadamht you may want to edit this patch file https://github.com/mattermost/mattermost-mobile/blob/master/patches/react-native-mmkv-storage%2B0.3.2.patch#L10 and set your own app group id

[2020-06-11 13:09] prcmt commented on #4374
I had a user report this exact issue today.

### Environment Information
* Device Name: HTC U11
* OS Version: Android 9
* Mattermost App Version: 1.31.2
* Mattermost Server Version:  5.23.1

[2020-06-11 13:16] sabbir360 commented on #4374
I am also found this happened again for my version.
### Environment Information
- Device Name: Samsung Galaxy Note 9/10
- OS Version: Android 10 with one ui
- Mattermost App Version: 1.31.2
- Mattermost Server Version:  5.22.0

[2020-06-13 14:56] nikkilocke commented on #4408
You would have thought it would be easy enough to check the incoming
messages from Mattermost to see if there was one from me with exactly the
same text as the one that the app thinks hasn't been sent yet.

On Wed, 10 Jun 2020, 14:03 Elias Nahum, <notifications@github.com> wrote:

[2020-06-13 15:12] svnoak opened #4421 "Android app freezes when too many gifs in one message"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Mattermost Android app slows down/gets unresponsive when many gifs in one message

#### Environment Information

- Device Name: Moto G7 Plus
- OS Version: Android 9
- Mattermost App Version: 1.31.2 (Build 296)
- Mattermost Server Version: 5.23.0

#### S

[2020-06-15 07:34] sadamht commented on #4410
thank you for reply...
i solved or fixed issue change
on TARGETS
MattermostShare -> AppGroups -> change to my  App Goup
NotificationService -> AppGroups -> change to my  App Goup

[2020-06-15 07:34] #4410 closed

[2020-06-16 09:54] just-ole commented on #4388
got introduced in https://github.com/mattermost/mattermost-mobile/commit/1777a4f7504271fccf123e50589a5edc6ffb8ea3 and is still in master so all versions after that and since I already located the bug in the code I didn't bother to find out which version was the latest in the google play store at that point of opening that issue especially since it should be easier to for you to figure that out you

[2020-06-16 11:15] enahum commented on #4388
@just-ole would you be willing to submit a PR?

[2020-06-16 11:27] enahum commented on #4388
Actually we should remove that entire code block, is been there for 18 months or so and now the sender name is set in the notification bundle and no longer in the message.

[2020-06-16 14:07] amyblais commented on #4421
Our devs mentioned that this is somewhat expected as the device runs out of memory. We will need to investigate if we can find an alternative where we have the server create a thumbnail for gifs in link previews / markdown images and we only play the gif in the gallery view.

[2020-06-17 04:35] 9cat commented on #3355
please nehance the notication , it is really the worst thing in mattermost. we really want to heavily depend on mattermost. but he notification part is really not that satisified for a long time.

[2020-06-17 05:50] cibinstark123 opened #4428 "aws-partition not found"
when im using the command (make build-android) it gives me a error like aws-partition not found..can anyone know about this?any help ?

[2020-06-17 08:45] AiTranXuan opened #4429 "The iOS error receives the notification very slowly, it takes a few minutes for the notification to appear."
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Receive notifications slowly. User experience is really bad

#### Environment Information

- Device Name: iPhone XS Max
- OS Version: 13.5.1
- Mattermost App Version: 1.30.1
- Mattermost Server Version:

#### Steps to reproduce
Use 2 users to chat with

[2020-06-17 11:22] reposocial opened #4430 "[Android] Keep Stopping aka Force Closed After Add React Native Firebase"
#### Summary
I want to add firebase v7. When i add @react-native-firebase (app/crashlytics/messaging) its work and finished installed but, Keep Stoping on Android

#### Environment Information

- Device Name: Nexus 5x emulator
- OS Version: API 29
- Mattermost App Version: 1.31.0
- Mattermost Server Version: Own Server

#### Steps to reproduce
How can we reproduce the issue?
add @react-native-fire

[2020-06-17 11:35] reposocial opened #4431 "[iOS] Didnt Received Notification but, Android Succesfull"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Hello, i change all cert and key for iOS Notification its running well no error. but, while test some message [iOS] Didnt Received Notification Foreground,Backgorund or Closed App
#### Environment Information

- Device Name: 11 Pro Max Simulator / Real

[2020-06-17 13:10] just-ole commented on #4388
haven't wrote a single line of java in over 5 years, so I won't touch anything

[2020-06-17 14:02] enahum commented on #4428
Hi @cibinstark123 you need to install fastlane..
change directory to the fastlane folder, run `bundle install` and it should be good to go as long as you  have all the requirements.

more info here https://developers.mattermost.com/contribute/mobile/build-your-own/

[2020-06-17 14:08] enahum commented on #4429
@AiTranXuan thanks for reporting this and trying to figure it out, but the code in the extension if anything goes wrong should prevent the notification from showing at the most for 30 seconds which is the timeout set by the OS itself.. if its taking longer it may very  well be a delay in the delivery by APNS

[2020-06-17 14:13] enahum commented on #4430
Hi @sadamht can you provide more details? and after replacing the google-services.json file have you edited the AndroidManifest.xml as well ?

[2020-06-17 14:14] enahum commented on #4431
have you deployed your own push proxy? can you share configuration files etc?

[2020-06-18 01:56] AiTranXuan commented on #4429
@enahum
Thank you so much for this quick response. I will investigate further from your suggestion. Wish you a good day ^^

[2020-06-18 14:28] sreekanthgs opened #4449 "Very high cold load time in Android 10"
#### Summary
Very high cold load time in Android 10

#### Environment Information

- Device Name: Oneplus 5T
- OS Version: Android 10
- Mattermost App Version: 1.32.0
- Mattermost Server Version: 5.23

#### Steps to reproduce
Clear Mattermost mobile app from memory and do a fresh open.

#### Expected behavior
App opens with short load time normal for react native apps.

#### Observed behavior
Cold

[2020-06-18 14:36] hahmadia commented on #4449
Also experiencing this. Using a Oneplus 5T Android version 9 and recently having upgraded my mobile app to latest one available on google playstore, it is taking noticeably longer to load the channels compared to previous versions. However, once things are loaded the app works fine.

[2020-06-18 14:57] licaon-kter opened #4450 "f-droid"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Issue in one concise sentence.

#### Environment Information

- Device Name:
- OS Version:
- Mattermost App Version:
- Mattermost Server Version:

#### Steps to reproduce
How can we reproduce the issue?

#### Expected behavior
Describe your issue in det

[2020-06-18 14:57] #4450 closed

[2020-06-18 15:00] licaon-kter commented on #566
1.32.0 fails with:
[code]

[2020-06-18 19:49] sreekanthgs commented on #4449
Tried the same on mattermost server 5.24. Knew it can't be a server side issue, but still. No change.

[2020-06-18 20:25] Rudloff commented on #566
@licaon-kter This might be caused by our scanner removing some build.gradle file in `node_modules/@react-native-community/masked-view/` (probably because it contains a non-free dependency).

[2020-06-18 20:26] enahum commented on #4449
This is being looked at here https://github.com/mattermost/mattermost-mobile/pull/4452

[2020-06-18 20:27] enahum commented on #4449
it would really help if you can test out  the APK posted in the PR link

[2020-06-18 20:31] licaon-kter commented on #566
@Rudloff I'm looking into it, yes, build takes a while to get to that point of failing...

[2020-06-19 15:14] sadamht commented on #4431
hai @enahum thank you for response.
i'am just a jr. mobile dev.
backend or config server there is a person who handle this.

what do you need files to share here
<img width="353" alt="Screen Shot 2020-06-18 at 17 19 03" src="https://user-images.githubusercontent.com/34335974/85148013-d30f3e80-b279-11ea-87f4-b605a100f51d.png">

[2020-06-19 15:19] sadamht commented on #4184
hello @enahum  and @amyblais  i'am facing same issue

Environment Information
Device Name: iPhone XR & iPhone 6
OS Version: 13.5.
Mattermost App Version: 1.31.1
Mattermost Server Version: -
Steps to reproduce
Use the app
keep it in background for some time or closed the app
open app again

[2020-06-19 15:39] enahum commented on #4184
@sadamht are you using a custom build? or the one in the stores ?

[2020-06-19 16:00] licaon-kter commented on #566
Ok, got this far:
[code]
Now what?

This metadata:
[code]

[2020-06-19 23:12] #4449 closed

[2020-06-23 04:50] bitdessert opened #4470 "The title disappears when an old message is pressed in a recent mention menu."
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
The channel title disappears when I click on an old message in the recent mention.

#### Environment Information

- Device Name: Android emulator (api 24)
- OS Version:
- Mattermost App Version: 1.32.0
- Mattermost Server Version: 5.23.0

#### Steps to

[2020-06-23 06:32] bitdessert opened #4471 "When I close the 'channel more' modal, the keyboard does not disappear."
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary

Click the Channel More button in the left sidebar. If you do nothing and close the modal(click left top button), the keyboard won't close.
#### Environment Information

- Device Name: android emulator
- OS Version:
- Mattermost App Version: 1.32.0
- Ma

[2020-06-23 09:17] bitdessert opened #4472 "The theme is not applied well."
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary

Changing the theme has problems rendering colors.
In dark mode, the background screen appears white.
After changing the theme, the color does not come out properly on the random screen.

#### Environment Information

- Device Name: android device
- OS

[2020-06-23 21:39] shawnhwei opened #4473 "Failed to login with Gitlab SSO using iOS app"
#### Summary
Cannot proceed past the "Single Sign-On" screen using Gitlab SSO (with 2FA). After logging-in and completing 2FA a blank page is shown and the "Single Sign-On" is stuck. I have isolated the issue to app build 1.32.0 (302) and greater, not experiencing the issue on all prior versions down to 1.30.0.

#### Environment Information
- Device Name: iPhone XS/iPhone 7
- OS Version: 13.5.1
-

[2020-06-24 01:16] jn5010 opened #4478 "cannot uploading files in Android"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Issue in one concise sentence.

#### Environment Information

- Device Name: Xiaomi Mi A2
- OS Version: Android 9
- Mattermost App Version: 1.32.0
- Mattermost Server Version: 5.23.0

#### Steps to reproduce
Cannot uploading files with spaces in the nam

[2020-06-24 06:40] sadamht commented on #4430
@enahum sorry i was change the subject bugs. any solution?

[2020-06-24 09:28] sphr commented on #4473
We're experiencing the same issue on both android and ios, but have 2FA disabled, downgrading the mobile client to anything lower than 1.32.0 works.

[2020-06-24 11:12] enahum commented on #4430
@sadamht I’m afraid I cannot be of much help as I haven’t ever used `react-native-firebase` Also your not providing any info that could allow anyone to try and tell you whats wrong with your implementation... if what you want is crash reports, maybe enabling Sentry (which is built in) is a better alternative?

[2020-06-24 16:48] amyblais commented on #4473
@shawnhwei @sphr Are you able to reproduce this on the latest beta app version (version 305)? You can get the latest beta version via https://github.com/mattermost/mattermost-mobile#testing.

[2020-06-24 17:26] sphr commented on #4473
I can still reproduce the problem on beta client 1.32.1; getting stuck with a white page at "Single Sign-On" after login.

[2020-06-24 17:31] shawnhwei commented on #4473
Still no good. Version 1.3.2 (301) is the last working build for me.

[2020-06-24 20:02] amyblais commented on #4473
Does the blank screen ever disappear, e.g. after waiting for 10 seconds?

[2020-06-24 20:07] shawnhwei commented on #4473
No, it seems to stay on the Single Single-On screen with a blank webview indefinitely.

[2020-06-24 22:25] amyblais commented on #4478
Thanks, opened https://mattermost.atlassian.net/browse/MM-26489.

[2020-06-24 22:28] amyblais commented on #4471
Thanks, opened https://mattermost.atlassian.net/browse/MM-26490.

[2020-06-25 09:21] mikaeleiman opened #4481 "Fails with certificate error when trying to connect over HTTP"
#### Summary
The iOS app fails to connect to a HTTP Mattermost instance, complaining about certificate error

#### Environment Information

- Device Name: iPhone 11 Pro
- OS Version: 13
- Mattermost App Version: 1.32.0
- Mattermost Server Version: 5.21.0

#### Steps to reproduce
* Set up a Mattermost instance, expose it over HTTP in addition to HTTPS-with-self-signed-cert.
* Try connect to the ins

[2020-06-25 09:42] mthaddon opened #4482 "Android app converts help URL to all lowercase"
#### Summary
In the Android app, Mattermost converts help URLs to all lowercase.

#### Environment Information

- Device Name: Huawei Honor 10
- OS Version: Android
- Mattermost App Version: 1.32.0
- Mattermost Server Version: 5.23.0

#### Steps to reproduce
Set the help URL in a Mattermost instance to include upper and lower case characters. Visit the URL from android.

#### Expected behavior
The

[2020-06-25 09:52] hloeung commented on #4482
It's probably https://github.com/mattermost/mattermost-mobile/blob/master/app/screens/settings/general/settings.js#L153

`const link = config.HelpLink ? config.HelpLink.toLowerCase() : '';`

[2020-06-25 09:59] svelle commented on #4482
I don't want to argue, just trying to understand why one would expect uppercase URLs?

[RFC2396](https://www.ietf.org/rfc/rfc2396.txt) states that

actually case insensitive, and the URL <http://www.XEROX.com>
is equivalent to <http://www.xerox.com>.

(see Page 22, section 6.)

[2020-06-25 10:02] hloeung commented on #4482
That's for host names / site names. So http://www.xerox.com/MyPage vs. http://www.xerox.com/mypage.

[2020-06-25 10:15] nobuto-m commented on #4482
One example is that URLs with MoinMoin Wiki engine are case-sensitive.

http://moinmo.in/MoinMoinWiki -> ok
vs
http://moinmo.in/moinmoinwiki -> "This page does not exist yet."

[2020-06-25 10:23] svelle commented on #4482
@hloeung @nobuto-m thanks to both of you, totally forgot about these cases! makes a lot more sense now :)

[2020-06-26 08:43] bill2004158 opened #4486 "Profile picture doesn't show if SSO"
#### Summary
profile picture doesn't show when SSO.

#### Environment Information

- Device Name: iOS simulator
- OS Version: 13.2.2
- Mattermost App Version: 1.32.0
- Mattermost Server Version: 5.21.0

#### Steps to reproduce
1. sso login (gitlab)
2. and then check profile picture

#### Expected behavior
show profile picture

#### Observed behavior
the http request:
[code]
response:
[code]
#### P

[2020-06-26 09:31] bill2004158 commented on #4473
I have got similar issue.
1. the server is deployed to url:  http://some.domain.com/mm  --> Note:  **/mm**
3. thus the cookie's path is **/mm**
2. however, the sso trying to get the cookie from path **/**
`CookieManager.get(parsedUrl.origin, true)`
the value of parsedUrl.origin is **http://some.domain.com**

[2020-06-26 10:33] shawnhwei commented on #4473
My case is also using a subdomain but at the root path. I cannot reproduce the issue on an Android 11 emulator, only on my physical iOS devices. Unfortunately I don't have a Mac to build for iOS. Is it possible to push a debug RN build to test flight so we can use the RN debugger?

[2020-06-26 12:44] dragosiancu0504 opened #4487 "Swift Bridging Header not being generated after changing project settings"
Hey guys,
I'm having troubles building the latest version of iOS mobile app.

After downloading the code and running "make pre-run" and "make run" the app launches and everything is ok.

But the second I modify anything in the XCode project settings, the build stops working giving the following error:

This error is produced by line 11 of UIPasteboard+GetImageInfo.m because the Bridging Header is

[2020-06-26 14:17] enahum commented on #4487
The bridging header is already there https://github.com/mattermost/mattermost-mobile/blob/master/ios/Mattermost/Mattermost-Bridging-Header.h

Maybe you need to double check what is it that you are modifying

[2020-06-26 14:19] enahum commented on #4486
Anything in your server deployment that could prevent it from setting the authorize cookies?

[2020-06-26 14:21] dragosiancu0504 commented on #4487
Not that one.

The Mattermost-Swift.h bridging header is not generating.

I am modifying only the app name, bundle id and Signing certificates & profiles. That's it.

Any ideas?

[2020-06-26 14:49] enahum commented on #4487
Then why do you need it to create the bridging header I don’t really get it.

Have you tried doing that (app name, bundle id, profiles...) by building with the env variables + the command line to do so? Have you read https://developers.mattermost.com/contribute/mobile/build-your-own/ ?

[2020-06-26 17:43] sphr commented on #4473
This is true in our install as well, we run mattermost in a subdir in https://our.org/app

[2020-06-26 18:11] enahum commented on #4473
Thank @bill2004158 very helpful information. I believe I found the cause of this issue... running some tests... then we'll need to decide if this goes to a second 1.32 dot release or if its going to be shipped with 1.33.

@amyblais your call

[2020-06-26 18:26] elyscape commented on #4473
This is also affecting us. We're using SAML login rather than Gitlab SSO and we are not running Mattermost in a subdirectory.

[2020-06-26 20:41] #4473 closed

[2020-06-27 02:52] bill2004158 commented on #4486
I am not sure, will check that.

[2020-06-27 06:21] bill2004158 commented on #4486
@enahum , in android, authorize cookie is included.
however, not sure why in ios (I am testing using simulator), it doesn't include authorize cookies, but only "Authorization: BEARER dwnth4ggyfdbiph9wznpopzsph".

the test details:
req:
[code]
response:
[code]

and the next request:
[code]
resp:
[code]

it seems Set-Cookie doesn't works for iOS?

[2020-06-27 10:56] bill2004158 commented on #4486
tried latest rev of branch release_1.32,
I got same issue.

[2020-06-27 11:11] bill2004158 opened #4505 "[iOS] UI API called from background thread Group"
#### Summary
1.  [UIApplication applicationState] must be used from main thread only
file: libMMKV.mm
method: + (void)initialize
[code]
stacktrace:
[code]

2. [UIApplication setApplicationIconBadgeNumber:] must be used from main thread only
file: react-native-notifications\RNCommandsHandler.m
[code]
stacktrace:
[code]

#### Environment Information

- Mattermost App Version: 1.32.2

[2020-06-27 14:58] enahum commented on #4486
Do you get the same result using the app from the app store?

[2020-06-27 15:01] enahum commented on #4505
Plz this warnings you should report with the library creators.

Thanks.

[2020-06-27 15:01] #4505 closed

[2020-06-28 11:47] enahum commented on #4431
Sorry for the late response...

When you build the iOS app you need to sign it with your own provisioning profiles, that means that you’ll need your own APNS certificate installed in https://github.com/mattermost/mattermost-push-proxy and deploy that server. Then configure the MM server to use that push proxy instead.

More info here https://developers.mattermost.com/contribute/mobile/push-notific

[2020-06-28 11:51] enahum commented on #4430
I believe the underlying **react-native-notifications** is already implementinf _firebase-messaging_, maybe you have conflicting versions?

[2020-06-28 11:55] enahum commented on #4428
@cibinstark123 Were you able to run this? Can we close the issue?

[2020-06-28 11:56] #4327 closed

[2020-06-28 11:57] #4249 closed

[2020-06-28 11:58] #4146 closed

[2020-06-28 11:59] enahum commented on #4144
@AiTranXuan Is this still an issue for you?

[2020-06-28 12:02] enahum commented on #4068
Self sign certs are not supported as specified in the changelog https://github.com/mattermost/mattermost-mobile/blob/master/CHANGELOG.md

[2020-06-28 12:02] #4068 closed

[2020-06-28 12:06] enahum commented on #3948
Is this still happening?

[2020-06-29 04:04] bill2004158 commented on #4505
it seem react-native-notifications have fixed this issue?
https://github.com/wix/react-native-notifications/issues/184

[2020-06-29 08:05] dragosiancu0504 commented on #4487
I don't, that's how xcode build works when you have swift code used inside obj-c code. It generates a "ModuleName"-Swift.h bridging header.

I have followed the steps shown here (https://developers.mattermost.com/contribute/mobile/developer-setup/run-on-device/)

Yes, and the build still fails for the same reason. Does it work for you?

Thanks

[2020-06-29 11:14] bill2004158 commented on #4486
@enahum ,
I found something maybe related to this issue from reactnative.dev:
_As a minimum on iOS, when redirected through a 302, if a Set-Cookie header is present, the cookie is not set properly. Since the redirect cannot be handled manually this might cause a scenario where infinite requests occur if the redirect is the result of an expired session._
ref:
https://reactnative.dev/docs/network

i

[2020-06-30 07:15] dragosiancu0504 commented on #4487
So, for anyone encountering problems like this try using fastlane command from terminal instead of using the makefile commands cause it will give you a more specific error for you to correct.
Just run "fastlane" and then select the option you need.

Cheers,
D

[2020-06-30 07:15] #4487 closed

[2020-06-30 10:07] sadamht commented on #4431
its okey. @enahum  i have updated some screenshoot ...
cert and convet its running well and successed.

about proxy and configure server there is a backend team to handle that...

[2020-06-30 10:15] sadamht commented on #4430
@enahum  yah i now react-native-notifications has implementation firebase-messaging. but, i just want to add package @react-native-firebase(app/crashlytics). then,i configure like react native firebase documentation. boom. its conflict on android (Failed Launch aka Forced Closed) but, on iOS its no error and running well.

[2020-06-30 11:01] nylocx commented on #4481
I have the same issues with our corporate Mattermost, I’m connected to a VPN and http connection does not work with the same error as above.

[2020-06-30 12:31] enahum commented on #4431
@sadamht so, issue resolved?

[2020-06-30 12:36] enahum commented on #4430
@sadamht Then maybe you need to go the extra mile and remove react-native-notifications and all related code and have it replaced with firebase, or you could find a way to have them co-exists. That my friend we cannot help you with.

[2020-06-30 12:42] enahum commented on #4481
The mobile app will first attempt to establish a secure connection using https if no connection can be establish it the fallback to http.

In your case is not fallingback as there is a service listening under https with an untrusted certificate.

I’d suggest either have a trusted cert or if you want to use it with http only turn off https

[2020-06-30 12:48] mikaeleiman commented on #4481
I did try disabling the TLS port when I was trying to figure out what the problem was, at least I tried to disable it. Either way I want to have the TLS port open for use in browsers where I can add an exception for the self-signed cert.

IMHO it would be better if the app did what I instructed it to do - connect using HTTP over port 80.

I can't use a trusted cert, because the server is on a priv

[2020-06-30 13:09] mikaeleiman commented on #4481
I tried exporting the certificate from the web server, using:

openssl s_client -showcerts -servername domain -connect domain:443 </dev/null

Copy-pasted relevant part of output into a .crt file, airdropped that file to my iPad, added it as a trusted certificate, but it still doesn't work :(

[2020-07-01 04:11] sadamht commented on #4431
@enahum not yet, any solution ?

[2020-07-01 04:16] enahum commented on #4431
@sadamht reading the description in the issue, you  mention you  are using an iPhone simulator.. you do know that remote notifications do **not** work with the simulator and that you need a real device, right ?

[2020-07-01 04:42] sadamht commented on #4431
@enahum actuallly, we has tested on TestFlight for our team for testing. device (iPhone 6, iPhone XR, iPhone XS & iPhone 11

[2020-07-01 07:06] enahum commented on #4431
So, you’ve built the app successfully, then push it to test flight, configured the push proxy with the apns cert, pointed the MM to your push proxy, logged in to the server with the app, the session is being registered as iPhone Native App (meaning the session has the device id set in the database).

Sent a message that triggers a notification and no notification is received.

Ok lets say that is

[2020-07-01 09:28] licaon-kter commented on #566
Blindly scanignore-ing random build.gradle files doesn't feel like progress :(
https://gitlab.com/fdroid/fdroiddata/-/merge_requests/7037

[2020-07-01 15:10] bitdessert opened #4513 "Channel is not rendered after sign in."
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary

A problem occurs when the value of AutoSelectServerUrl in config.json is true.

#### Environment Information

- Device Name: Android emulator
- OS Version: api 24(android 7)
- Mattermost App Version: 1.32.2
- Mattermost Server Version:5.23

#### Steps

[2020-07-01 15:15] bitdessert opened #4514 "Channel is not rendered after sign in."
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary

A problem occurs when the value of AutoSelectServerUrl in config.json is true.

#### Environment Information

- Device Name: Android emulator
- OS Version: api 24(android 7)
- Mattermost App Version: 1.32.2
- Mattermost Server Version:5.23

#### Steps

[2020-07-01 15:22] #4513 closed

[2020-07-02 00:57] bitdessert commented on #4514
@migbot Thanks. I'll check.

[2020-07-02 01:16] bitdessert commented on #4514
@migbot Thanks. I confirmed that there was a problem with the server settings.

[2020-07-02 09:09] bitdessert commented on #4514
@migbot As a result of checking, the processing for 'BATCH_LOAD_ME' is different. User roles are different. When I check the response of the community.mattermost.com server and the server I tested, the user role received is different. In conclusion, the 'resetState()' of global_event_handler is called once more on the server I tested.
Looking at the order, it is in the order of loadme->loadme end

[2020-07-03 02:03] bitdessert commented on #4514
@migbot On the community.mattermost.com server, 'SelectServer' component is updated(componentDidUpdate) after sign in, but on the server I tested, 'SelectServer' component is unmounted and then remounted after sign in. So, resetState of global_event_handler is called again, and currentUserId is blown and channel rendering is not performed. Do you know why??

[2020-07-03 09:28] savmickael opened #4527 "Unable to use the app on android 10 since the last release."
#### Summary
Unable to use the app on android 10 since the last release.

#### Environment Information

- Device Name: SM-A405FN
- OS Version: Android 10 with One UI 2.0
- Mattermost App Version: 1.32.2
- Mattermost Server Version: 5.20.1 with OAuth authentication

#### Steps to reproduce
Use mobile app and try to read something

#### Expected behavior
Read the content of the mattermost

#### Obse

[2020-07-03 14:16] enahum commented on #4527
Hey @savmickael thanks for reporting this.. we sure will look into it.. but while that happens can I ask you  to attempt to delete the cache data (in android settings), try again and report back ?

[2020-07-03 16:25] savmickael commented on #4527
delete cache done but no effect, same behavior.

[2020-07-03 16:29] enahum commented on #4527
@savmickael when clearing the cache.. did you have to login again?

[2020-07-04 09:13] Hobby-Student commented on #4481
I have the same problem. VPN is active and mattermost is used without SSL, but the server also serves https with self signed certs. I had a look at the source
https://github.com/mattermost/mattermost-mobile/blob/4ff9cd024ae61a0cd3bf406c120af4c78bc54076/app/screens/select_server/select_server.js#L328

For the behaviour you described, this should be
[code]

Am I missing something?

[2020-07-05 05:27] alexanderon opened #4530 "Documentation for the setting up react native app in the windows machine"
#### Summary
Documentation for the windows machine is missing. Build is not property running while starting the local development.

#### Environment Information
- OS Version: Windows 10
- Mattermost App Version : React Native

#### Steps to reproduce
checkout the repo for the MM mobile.
run the npx react-native run-android

#### Expected behavior
React Native Bundler should run without any error a

[2020-07-05 05:39] enahum commented on #4530
@alexanderon there is no windows documentation as the team uses mac internally, we would definitely welcome a PR for the documentation if you are up for it

[2020-07-05 07:14] alexanderon commented on #4530
@enahum , sure but here are some issue which needs to solved. When run `npm install` in the repo. following error occurs.

![issue_with_npm_install](https://user-images.githubusercontent.com/14137097/86527527-32e22800-bebd-11ea-8df2-2e3fc3c284f9.PNG)

[2020-07-05 11:14] enahum commented on #4530
@alexanderon i think you need to enable “Windows Subsystem for Linux” which should be part of the doc

[2020-07-05 11:34] alexanderon commented on #4530
@enahum , https://developers.mattermost.com/contribute/server/developer-setup/windows-wsl/ this is for the server right ? How is this related to react native setup ?

[2020-07-05 11:38] enahum commented on #4530
@alexanderon We use a Makefile to run certain things like the post install scripts, having to run `make` is the existing relation

[2020-07-06 06:18] piotrfilipek opened #4533 "Notifications with new messages when I'm logged out"
#### Summary
App is sending notifications with new messages, although I'm logged out.

#### Environment Information

- Device Name: iPhone SE 2020
- OS Version: 13.5.1
- Mattermost App Version: v1.32.2

#### Steps to reproduce
1. Log in
2. Log out
3. Wait for new messages

#### Expected behavior
App can't showing notifications with new messages when I'm logged out.

#### Observed behavior
App is s

[2020-07-06 06:22] enahum commented on #4533
@danoxide when logging out probably there was a failure, thus the app logged you out the session remain active in the server.

This is intentional behavior to not have you be unable to switch servers and watnot...

To remove the session you can login to the webapp go to Account Settings -> Security -> View active sessions, and then force the logout for the device

[2020-07-06 08:13] danoxide commented on #4533
Okay, but IMO when I want to log out I'd expect that I'll be logged out and the notifications were stopped. I think "active session" should only provide possibility to close session remotely.

[2020-07-06 08:18] enahum commented on #4533
True, but to ensure that is the case we will need to block the “logout” until the server acknowledge which can be a problem as well cause of connectivity. Basically in your case you would’ve been “stuck” and would’ve needed to try and logout again and again until successful.

If we weight the two I think that the frustration of not being able to logout is grater than continue receiving notificatio

[2020-07-06 12:14] savmickael commented on #4527
No the app connect directly without interaction

[2020-07-06 12:46] enahum commented on #4527
@savmickael the idea is that you delete all data related to the application, even try re-installing the app to see if that helps.

[2020-07-06 16:07] AlanVerbner commented on #622
I can confirm https://github.com/mattermost/mattermost-mobile/issues/622#issuecomment-450472819 approaach worked for us. We haven't added any test but we were able to login using google auth and the webview approach.

[2020-07-07 01:37] bitdessert opened #4541 "The keypad does not disappear after 'add a comment'"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Issue in one concise sentence.

#### Environment Information

- Device Name: Android emulator / Android Device
- OS Version: API 24~
- Mattermost App Version:  1.32.2
- Mattermost Server Version: 5.23.0

#### Steps to reproduce
1. click a post
2. add a

[2020-07-07 02:34] enahum commented on #4541
@bitdessert this is an issue with the navigation library https://github.com/wix/react-native-navigation/issues/5525 feel free to comment over there.

Closing.

[2020-07-07 02:34] #4541 closed

[2020-07-07 13:50] enahum commented on #4527
@artfulrobot App still won’t login

Care to give more information? As in login method, do you get any errors? Any logs on the server when you attempt to login?

[2020-07-07 13:51] enahum commented on #4527
Also I believe @savmickael issue and @artfulrobot login problems are two different things

[2020-07-07 13:54] MikeyMJCO commented on #4527
The server in question for @artfulrobot is https://chat.civicrm.org if that helps?

[2020-07-07 14:32] enahum commented on #4527
@MikeyMJCO indeed helps, do you happen to have a redirect configure at the server in ngnix or something that is causing a redirect to the `/login` endpoint ? cause I can clearly see it when trying to connect to that server. That is also the reason why it works on a browser but not on the app.

I'd suggest to take a closer look at your server deployment configuration.

[2020-07-07 14:38] MikeyMJCO commented on #4527
Have made our infra point-person aware of this issue - hopefully they can clarify any setup changes?

[2020-07-07 14:45] mlutfy commented on #4527
Yikes, yes, we did have a redirection in place. It's now removed. (I think it was to help with new user creation, to always use the correct team, but I think that new Mattermost versions have a setting to set the default team)

[2020-07-07 14:48] MikeyMJCO commented on #4527
Thanks for your help/input!

[2020-07-07 14:50] enahum commented on #4527
@artfulrobot @MikeyMJCO @mlutfy glad it got resolved.

[2020-07-07 14:51] enahum commented on #4527
@savmickael Are you using the same server?

[2020-07-07 17:11] madhermit opened #4547 "iOS: Images I've uploaded disppear after couple of weeks"
#### Summary
Images that I've uploaded will disappear from my Mattermost channel history after a time, resulting in a broken link icon.

#### Environment Information

- Device Name: iPhone 8+
- OS Version: iOS 12.3.2
- Mattermost App Version: v1.32.2
- Mattermost Server Version: 5.21.0

#### Steps to reproduce
1.) Upload a photo from local phone image library to Mattermost using the image icon bel

[2020-07-07 21:37] #4471 closed

[2020-07-08 12:40] savmickael commented on #4527
No I didn't use the same server. After remove all data (but not uninstall the app), I succeed to reach the authentication page but when I put my credentials the app failed to connect to the server (blank page with wheel).

[2020-07-08 13:42] amyblais commented on #4547
@madhermit
1. Do you see any errors on your app's Report a Problem page?
2. Do you see any server log errors?
3. Would you have a screenshot to illustrate what you're seeing?
4. Is this happening also on browser / webapp?

[2020-07-08 13:56] savmickael commented on #4527
I have test with a public server https://framateam.org and its works. I will try to see with the IT team which install the mattermost if they do something specific.

[2020-07-08 17:06] gbonnefille commented on #4527
Looking at the Mattermost instance referenced by @savmickael , it occurs that a request on the `https://mattermost.corp/oauth/gitlab/mobile_login` ends, as expected, with a `/signup/gitlab/complete` with a HTTP_CODE=200.
What can blocks the client to continue?

[2020-07-08 18:31] enahum commented on #4527
@gbonnefille is it locked entirely as in an infinite loop for ages? Are there other users with the same problem in the org?

@josephbaylon can you help replicate this? Maybe we need more info about the GitLab deployment?

[2020-07-08 20:51] josephbaylon commented on #4527
@enahum @savmickael @gbonnefille
I'm unable to reproduce the issue on v1.32.2.
Steps,
Pre-req: Register to GitLab (https://framagit.org/users/sign_in)
1. Connect to server using `framateam.org`
2. Select GitLab > Standard
3. Fill in username and password and Hit Sign In

Observed and expected: User is able to login successfully.

[2020-07-08 22:42] madhermit commented on #4547
Hi @amyblais
1.) No errors on the Report a Problem page, clicking it just opens Apple Mail
2.) No server log errors; additionally, after querying other users of this team, no one else seems to have this problem
3.) See attached
4.) This is not happening on the webapp, the images are still there on the webapp, yet missing from the mobile app.

![IMG_9723](https://user-images.githubusercontent.com/1

[2020-07-09 05:14] gbonnefille commented on #4527
Yeah, sorry if my previous message was incorrect: it works on framateam, but not on our corporate instance.

[2020-07-09 05:20] gbonnefille commented on #4527
I can't help as I don't have Android (UBports here). I don't know if there is an effective loop or only an empty page with an animation to let the user wait.

Yes, the problem was reported by two users: it worked nicely until they upgraded the app.
The server is still in 5.20.1.

[2020-07-10 18:57] cguess opened #4557 "Note that WebSockets require TLS 1.2 (TLS 1.3 is not supported) in documentation"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Issue in one concise sentence.
Documentation should note that when the iOS app attempts to create a websocket connection with a server only supporting TLS 1.3, it will never succeed.

#### Environment Information

- Device Name: iPhone X
- OS Version: 1

[2020-07-10 19:05] enahum commented on #4557
@grundleborg do you know if this is the WS on the server or is it just that the client does not seem to support it ?

[2020-07-10 21:42] cguess commented on #4557
For what it's worth, the websockets connect from the browser just fine (including verified in the developer tools).

[2020-07-12 12:39] ilyakonovalenko opened #4562 "Incorrect mouse scroll behaviour"
#### Summary
I have an Android 10 tablet with MatterMost application installed.
I noticed that the mouse scroll works incorrectly. When you are trying to scroll to the bottom, the chat content goes to the top and the same for top scroll.

#### Environment Information

- Device Name: Samsung Galaxy Tab S6 Lite
- OS Version: Android 10 kernel 4.14.113-18723785
- Mattermost App Version: 1.32.2 build

[2020-07-13 08:16] grundleborg commented on #4557
@enahum since the TLS is being terminated at Nginx in this example, I don't think the server has anything to do with it. Also see @cguess comment above mine.

[2020-07-13 12:55] enahum commented on #4557
Thanks @grundleborg

@cguess thanks for letting us know, I’ll incestigate, in case is needed we are going to have to report this to the react native team.

Would yo be interested in drafting and submitting a PR to update the docs to clarify that TLS 1.3 does not work with the mobile app websocket?

[2020-07-13 15:40] danieldres opened #4564 "iOS Mattermost app shows frequent crashes"
#### Summary
The Mattermost app on iOS crashes frequently, especially when looking at threads with posted images, but also when e.g. just copying the app version info and server version info from my phone to the computer.

#### Environment Information

- Device Name: iPhone 6s
- OS Version: iOS 13.5.1
- Mattermost App Version: 1.32.2 (Build 370)
- Mattermost Server Version: 5.23.0 (Build 5.23.1)

[2020-07-13 16:10] cguess commented on #4557
Will do.

-Christopher Guess
cguess@gmail.com
US/WhatsApp/Signal: +1 262.893.1037
PGP: AAE7 5171 0D82 B45B

On Mon, Jul 13, 2020 at 8:55 AM Elias Nahum <notifications@github.com>
wrote:

[2020-07-13 17:05] josephbaylon commented on #4564
I tested on the following specs,
Device Name: iPhone 6s
OS Version: iOS 13.5.1 and 12.4
Mattermost App Version: 1.32.2
Mattermost Server Version: 5.23.0 and 5.24.2

I also tested on iPhone X 13.5.1.

Unfortunately I'm not able to reproduce the issue in the following areas,
1. post image and text in main thread
2. post image and text in reply thread
3. post image and text via share extension

@dani

[2020-07-13 23:40] ahmaddanialmohd commented on #4547
Hi, @madhermit

From the channel that contains the broken image, may I know if you are able to tap and hold on the icon and obtain the link to this image like this?

![image](https://user-images.githubusercontent.com/49461314/87363902-c9d96f00-c5a4-11ea-95fe-e63bd888ec51.png)

If yes, can you paste the URL copied on to your mobile web browser and open it to confirm that it is showing the right ima

[2020-07-14 07:28] danieldres commented on #4564
Thanks @josephbaylon for the quick reply. I repeated the test with my colleague's phone:
* iPhone XR
* iOS 13.5.1
* Mattermost app version 1.32.2

In my colleague's case, it is even worse. The app won't even start, he has a blank white screen.

Also, I repeated the test on my phone. Crash after just a few seconds, even when not doing anything. The "Mattermost classic" app works fine, but it doesn'

[2020-07-14 12:46] amyblais commented on #4562
Our devs mentioned that it seems this is not supported by React Native.

[2020-07-14 13:09] ilyakonovalenko commented on #4562
Hello Amy,

I did an additional tests and found that scroll works fine for left menu (where are channels, chats, etc located) as well as for settings pages. But it does not work correctly for the area where messages are displayed.

So I am not sure if that is React Native only issue as everything except messages scroll correctly.

[2020-07-14 13:51] enahum commented on #4562
Hi @ilyakonovalenko they are two different sets of list with different functionality, the ones you describe in your last comment are just plain list, the one that displays the post is an **inverted** virtualized list that loads the content into the list when needed, that disparity there may be more than enough to have the mouse behaving incorrectly as it wasn’t designed with a mouse in mind.

[2020-07-14 14:57] amyblais commented on #4564
@danieldres Can you test by using the same phone but connecting to a different server (e.g. https://community.mattermost.com)? If you can still reproduce, please provide step-by-step repro steps.

There could be a specific image causing an out of memory crash.

[2020-07-14 16:20] meaz opened #4568 "Restrict channel creation to admin only"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
I'd like to restrict channel creation to admin only.
I've set `RestrictPublicChannelCreation": "system_admin"`, in `config.json` but users can still create channel. What am I doing wrong?

#### Environment Information

Debian Strect
Mattermost Version:

[2020-07-14 16:45] amyblais commented on #4568
@meaz It seems the setting was deprecated in 2018: https://docs.mattermost.com/administration/config-settings.html#enable-public-channel-creation-for. Are you using Advanced Permissions?

[2020-07-14 16:46] meaz commented on #4568
I don't see any Advances Permissions... Is that in the pay version only? That is too bad...

[2020-07-14 16:48] amyblais commented on #4568
Yes, it's currently on Enterprise Edition.

[2020-07-14 16:48] #4568 closed

[2020-07-15 00:59] madhermit commented on #4547
@ahmaddanialmohd

When the icon is pressed I do get that pop-up screen and copying the link into the mobile browser does bring up the expected image.

I’m not certain if the photos disappear a second time after deleting & reinstalling.  It seemed to correct the problem when the app was first deleted/reinstalled, but not so on the following time.  I haven’t kept track of which photos remain active

[2020-07-15 15:36] rousesDev opened #4570 "App stuck at splash screen iOS"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
App is stuck at splash screen when selecting the run option.

#### Environment Information

- Device Name: iPad Pro 11-inch
- OS Version: 13.5.1
- Mattermost App Version:  1.33.0
- Mattermost Server Version: 5.9

#### Steps to reproduce
Opened project i

[2020-07-15 15:38] enahum commented on #4570
@rousesDev you'll need to update the app group Id in MMKV the file is `node_modules/react-native-mmkv-storage/ios/MMKVStorage.m`

[2020-07-15 15:53] rousesDev commented on #4570
Thank you for that @enahum that fixed my issue.

[2020-07-15 15:53] #4570 closed

[2020-07-16 15:38] danieldres commented on #4564
Hi @amyblais, now I tested two different things. First, I connected too community.mattermost.com. No crash.
Second, I used our institute's usual server, but selected channels with low traffic. No crash.
The crashes occur in two channels that have a lot of images, I count 99 cellphone pictures in one of the two channels (each one typically 1-2 MB, so the channel has maybe 100-200 MB). The other cha

[2020-07-16 15:43] danieldres commented on #4564
OK update: Now the test channel I created has 65 photos (~1 MB each), one PDF. When I try to add one photo by using the "take picture" function on my phone, it crashes after I took the picture, but before I am able to click "use photo". Reproducible. When I post text from my phone, no crash.

[2020-07-16 15:49] danieldres commented on #4564
Second update: I created yet another private test channel. In the brand new channel, I am able to post a photo using the "use photo" function. So one problem seems to be something for already large channels when you try to add a photo.

The second problem, more serious, is for the channels I use for my work. Those crash even when I don't do anything. I see the same behaviour now in the private Tes

[2020-07-16 17:08] amyblais commented on #4564
@josephbaylon Can you help reproduce? Sounds that the issue is when channels have a large amount of photos / files, the app crashes either when just switching to the channel or when trying to add another photo in the channel.

@danieldres Do you see the same issue with v1.33.1?

[2020-07-16 18:54] josephbaylon commented on #4564
@amyblais @danieldres Unfortunately, I'm still not able to repro the issue on a channel with lots of images and file attachments. I tested both v1.32.2 and v1.33.1

@danieldres If the channel you created is on Community server, can you please add my user to the channel `joseph.baylon` and I'll test there and try to see if I can reproduce. Thanks.

[2020-07-17 04:55] nylocx commented on #4481
I have a strong opinion that it should be possible to force http. The server hosting our Mattermost in a secure VPN protected network segment is also hosting another service under another domain using https (it's a repository service with a self signed cert), so nginx always has to fall back to this host if someone tries to connect to https://some-domain-that-points-to-my-server. This will not be

[2020-07-17 09:56] SponToN83 opened #4582 "Can't send standard emojis picked from autocomplete in mobile application."
Summary
Can't send standard MM emoji when it is picked from autocomplete picker.

Steps to reproduce
start typing :_NAME_OF_EMOJI
pick it from autocomplete picker.
Emoji is showed in input.
Send Emoji.
Emoji is showing with error after i and it is not delivered. Retrying makes no difference.
Custom emojis are working properly. One difference is that after picking custom emoji from picker instead o

[2020-07-17 12:45] amyblais commented on #4582
@SponToN83 We are unable to reproduce this internally. Do you also see this on v1.33.1?

[2020-07-17 13:11] SponToN83 commented on #4582
Yes I have this version. 1.33.1 (Build 311).

[2020-07-17 13:13] SponToN83 commented on #4582
Reactions emoji picker is working ok.

[2020-07-17 13:27] SponToN83 commented on #4582
How can I help you with investigating this issue ? Do you need any more info ?

[2020-07-17 13:36] amyblais commented on #4582
Are you able to reproduce this on different servers such as https://community.mattermost.com?

@josephbaylon Do you reproduce this?

[2020-07-17 14:23] SponToN83 commented on #4582
It looks ok on this server.

[2020-07-20 10:38] Ashitaka57 commented on #3630
Any news on that https://mattermost.atlassian.net/browse/MM-10166 ?

[2020-07-20 12:57] danieldres commented on #4564
@amyblais @josephbaylon now I created a channel on the community server that reliably crashes. I just checked, on my phone we have v1.33.1. The iOS is 13.5.1. I added both of you to my test channel so you can see whether you can reproduce the problem.

[2020-07-20 12:59] danieldres commented on #4564
Ok sorry @amyblais, you seem to have a different user ID on the community server. The channel is here:
https://community.mattermost.com/core/channels/iphone-crash-test
I can add you if you tell me your ID there.

[2020-07-20 14:52] olivier-magloire opened #4589 "[iOS] Notification dots inconsistently used"
#### Summary
The Android and iOS app notification dots behave differently on general notifications (not mentions).

#### Environment Information

- Device Name:
- OS Version: iOS 13.3
- Mattermost App Version: 1.32.0
- Mattermost Server Version: 5.19.0

#### Steps to reproduce
Setup:
* User A: Browser
* User B: Android app
* User C: iOS app
* All users in same private channel

App config for both

[2020-07-20 14:52] olivier-magloire commented on #4589
Manually created mentions seem to work as expected.

[2020-07-20 17:35] josephbaylon commented on #4564
@danieldres @amyblais Yes, I'm able to repro the issue using the channel you created. I'm on v1.33.1 for iOS 13.5.1
It doesn't look like a recent regression.
It looks like an issue that only occurs when channel tries to load tons of images and attachments

[2020-07-20 17:43] amyblais commented on #4564
Thanks, opened a ticket: https://mattermost.atlassian.net/browse/MM-27139.

[2020-07-20 18:35] josephbaylon commented on #4589
@olivier-magloire @amyblais I can confirm the issue on iOS. On Android, the dot badge always appear. However for iOS, the badge appears intermittently for `@all / @here / @channel`

Single `@here` does not trigger badge. `@here --> @here` also does not trigger badge.

However, when user receives `@here --> @all --> @here`, then the badge appears for `@here`. The same goes for `@all --> @channel --

[2020-07-20 18:42] amyblais commented on #4589
Thanks, opened a ticket here: https://mattermost.atlassian.net/browse/MM-27141.

[2020-07-20 21:24] rousesDev opened #4593 "Can not build Android App"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Can not build Android app.

#### Environment Information

- Device Name:
- OS Version: MacOS 10.15.5
- Mattermost App Version: 1.33
- Mattermost Server Version:

#### Steps to reproduce
using make build-android or Android Studio

#### Expected behavior

[2020-07-21 18:54] amyblais commented on #4582
@SponToN83 Do you experience the same on browser?

[2020-07-21 19:05] SponToN83 commented on #4582
Only on mobile. On browser and windows application is ok

[2020-07-22 13:42] amyblais commented on #4582
@SponToN83 Does it happen with all standard emojis or specific ones?

[2020-07-22 14:27] SponToN83 commented on #4582
I've tested it on several of theme and it was the same effect for all of them. It is weird that on community server it was ok. Maybe there is a problem with server installation / configuration.

[2020-07-22 20:44] amyblais commented on #4582
Our support team may be able to help better - you can email them at feedback@mattermost.com.

[2020-07-24 12:43] kernandreas commented on #4547
Ich can report the same problem on my iPhone with version 1.33.1. Not a single image is visible.
My iPad with version 1.28.0 has this behaviour for some images.
All of them are visible in the web and Mac client.

[2020-07-26 19:47] gidoBOSSftw5731 commented on #4557
Hey, can we fix this? why can we not use TLSv1.3 on only SOME platforms and still get marginal functionality. At this point, TLSv1.3 is a critical feature for security, particularly since it removes many old ciphers that could be a large security hole in misconfigured servers (among which there are certainly many). TLSv1.3 also improves speed dramatically with its shorter handshake, which is requi

[2020-07-26 21:35] enahum commented on #4557
@DSchalla can you help verify this? Also check this thread I found, could it be related? https://developer.apple.com/forums/thread/132286

Based on the code in RN implementation, it looks like the right values are being set https://github.com/facebook/react-native/blob/master/Libraries/WebSocket/RCTSRWebSocket.m#L506

[2020-07-27 18:03] eljeffeg opened #4616 "Unable to connect - Client Cert not prompting"
The latest version of MM app is no longer working for me.

#### Summary
When I click Connect, it says "Cannot connect to the server.  Please check your server URL and Internet connection."  My server requires a client cert and MM is no longer prompting me to use the client cert.  The latest update may have completely broken what was partially broken with issue #3869

#### Environment Information

[2020-07-28 07:06] AiTranXuan opened #4618 "Update android project (Target API level requirements from August 2020)"
#### Summary
Your app currently targets API level 28 and must target at least API level 29 to ensure it is built on the latest APIs optimized for security and performance.

From August 2020, new apps must target at least Android 10 (API level 29).
From November 2020, app updates must target Android 10 (API level 29).

#### Environment Information

- Device Name: Android
- OS Version: Android
- Mat

[2020-07-28 13:05] enahum commented on #4618
Master branch already targets 29

[2020-07-28 13:05] #4618 closed

[2020-07-28 15:32] amyblais commented on #4616
@jeffg2k Have you had a chance to check our troubleshooting guide: https://docs.mattermost.com/mobile/mobile-troubleshoot.html#i-keep-getting-a-message-cannot-connect-to-the-server-please-check-your-server-url-and-internet-connection?

[2020-07-30 06:54] absynth47215 opened #4622 "Tables don't render on iOS mobile app"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Tables in chat messages seem to be rendered as ASCII in the iOS app.

#### Environment Information

- Device Name: iPhone SE 2020
- OS Version: iOS 13.5.1
- Mattermost App Version: 13.33.1 (Build 311)
- Mattermost Server Version: 5.24.0 (Build 5.24.2) E

[2020-07-30 07:10] absynth47215 commented on #4622
According to feedback by a colleague, the table is plain ASCII in the current version of the Playstore Android app as well.

[2020-07-30 07:10] absynth47215 commented on #4622
Sorry, that shouldn't have been closed.

[2020-07-30 08:19] enahum commented on #4622
@absynth47215 is working for me, maybe check your table formatting
![image](https://user-images.githubusercontent.com/6757047/88899234-cf2cef80-d21b-11ea-9ded-b294f4e77bfa.png)
![image](https://user-images.githubusercontent.com/6757047/88899255-d6ec9400-d21b-11ea-8bcd-48de031cb29d.png)

[2020-07-30 08:24] absynth47215 commented on #4622
When I copy&paste the unformatted table into a chat message, it renders fine. However when my mattermost integration posts it, it doesn't render on iOS/Android.
I will check for extra whitespace or something - maybe the desktop app has a more forgiving parser than the mobile app.

[2020-07-30 08:33] absynth47215 commented on #4622
@enahum The table rows had extra whitespace at the beginning. The desktop parser seems to tolerate this but the mobile client does not.
I'll close this here but in my opinion, it's at least worth taking a look at in the long run. Thanks!

[2020-07-30 08:33] #4622 closed

[2020-07-30 08:35] enahum commented on #4622
Yes, indeed the parser for the desktop/web is different than the one used in the mobile app.

@hmhealey do you know why is more forgiving the one used in the webapp?

[2020-07-30 15:43] hmhealey commented on #4622
The webapp is using a much older Markdown parser from before Markdown was properly standardized as CommonMark, so it had to be looser with the rules because of that. That said, we usually reference GitHub's version of CommonMark, and they seem to support whitespace before tables, so the mobile app may still be incorrect here.

Like
[code]

renders as

  | asdf | foo|
  | -- | -- |
  | aa| bb|

so

[2020-07-30 16:37] jaydeland commented on #4557
Jira ticket for this issue:
[DOPS-175: MM server with TLS 1.3 (To Do)](https://mattermost.atlassian.net/browse/DOPS-175)

[2020-07-31 18:27] someone-somenet-org opened #4632 "Weird file crashes android app..."
Someone uploaded this file (unzipped .mp4) to one of my instances: [birdsnotreal.mp4.zip](https://github.com/mattermost/mattermost-mobile/files/5008424/birdsnotreal.zip)

"file" says its actually a `MPEG transport stream data` (Therefore the correct extension would be `.ts`), but it still gets accepted/uploaded by mm as mp4.

When trying to play said file with the current andoid app, it reliably c

[2020-08-05 13:14] fzyzcjy opened #4645 "The local storage redux-persist will grow infinitely, thus making app slower and slower?"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
IMHO, after reviewing the code, it seems that the local storage will grow infinitely. The reason is that, redux-persist will persist the whole state tree into AsyncStorage. Thus the longer a user uses, the bigger the state tree will be. Thus, not only w

[2020-08-05 15:28] enahum commented on #4645
@fzyzcjy we have this middleware that cleans up the reducers once you send the app to the background https://github.com/mattermost/mattermost-mobile/blob/master/app/store/middlewares/message_retention.js#L59

That being said, we are also working on a new version (designing stage) that won't be using redux but a proper database instead.

[2020-08-05 23:48] fzyzcjy commented on #4645
Get it, thanks! IMHO this may be a little bit complicated... Naively I originally thought there may be a way that this can be done quite trivially!

[2020-08-05 23:50] enahum commented on #4645
If you have any ideas suggestions, feel free to share them

[2020-08-05 23:51] fzyzcjy commented on #4645
Yes I am writing my suggestion! Wait a minute :)

[2020-08-05 23:55] fzyzcjy commented on #4645
## My naive suggestion

We can first build a graph of references. For example, to say "if we want to keep postId=42, we need to keep the reaction data associated to it" ([here](https://github.com/mattermost/mattermost-mobile/blob/master/app/store/middlewares/helpers.js#L99)), we annotate that "hey `state.entities.posts.reactions`'s primary key is a `post.id`). Then we can mimic the Java GC (of cou

[2020-08-05 23:58] enahum commented on #4645
It sounds like a good idea, are you willing to give it a try and submit a PR?

[2020-08-05 23:59] fzyzcjy commented on #4645
I can do that in my free time :)

[2020-08-08 02:03] zxqdx commented on #4582
We use Teams Edition (Mattermost 5.25) and have the same issue.
[code]

The same message does work when sending via a desktop or mobile web browser. It just doesn't work on the Andriod and iOS Mattermost app.

[2020-08-10 03:51] darkpiv commented on #4547
I'm having the same problems on iOS devices, quite rare and hard to reproduce. Delete the app does solve but it'll happen.

[2020-08-12 12:28] pba9061 opened #4663 "ios 13.6 + MM 1.33.1 / Untrusted certificate"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
After the dowload of the 1.33.1 version on iOS, we get an error "Untrusted certificate". We use a self signed certificate but configured Certificate transparency on our MDM. It works well with 1.29.0...

#### Environment Information

- Device Name: iPho

[2020-08-12 17:28] jfcastroluis opened #4665 "Crash when there is a message with attachment whose footer icon URL is unreachable"
#### Summary
Mobile application crashes turning to a black screen when there is a message with attachment whose footer icon URL is unreachable.

#### Environment Information
- Device Name: Samsung Galaxy Note 10+
- OS Version: Android 10 (Android security patch level 1 August 2020)
- Mattermost App Version: 1.31.1
- Mattermost Server Version: 5.25.2

#### Steps to reproduce
Create a post with an a

[2020-08-13 14:31] colorchestra opened #4667 "iOS app falsely shows "Server upgrade required""
#### Summary
The iOS app shows a message saying "Server upgrade required", even though the server is already on version 5.19 and has been for a while.

#### Environment Information

- Device Name: iPhone 8
- OS Version: 13.6
- Mattermost App Version: 1.33.1
- Mattermost Server Version: 5.19.1

#### Steps to reproduce
Log into a server using the same app and server versions as above, I think?

![Sc

[2020-08-13 14:35] enahum commented on #4667
Resolved by https://github.com/mattermost/mattermost-mobile/pull/4608 and it should be available with v1.34.0 that was already shipped.

[2020-08-13 14:35] #4667 closed

[2020-08-13 14:36] enahum commented on #4667
Btw I'd recommend upgrading your server as 5.19 is reaching EOL

[2020-08-14 13:54] enahum commented on #4665
@jfcastroluis Thanks for the report, I did tried to replicate but it seems to be working fine for me (no image rendered)

| iOS | Android |
|-------|-----------|
|![image](https://user-images.githubusercontent.com/6757047/90256272-7f514980-de13-11ea-9b8e-f5ae1f4198c3.png)| ![image](https://user-images.githubusercontent.com/6757047/90256498-d8b97880-de13-11ea-88d3-bd47e1dc3b12.png)|

[2020-08-17 01:17] matthewtckr commented on #3416
Stumbled across this using Azure AD Application Proxy, just wanted to share for awareness if anyone else tries to implement it on their Azure AD.

[2020-08-17 04:14] innovationhub-asia commented on #2283
What was the outcome of this case at the end ?

[2020-08-17 16:00] esethna commented on #2283
@innovationhub-asia this issue is still open, however websocket connections are successful when using platforms such as [AppDome](https://www.appdome.com/platform/) or [BlueCedar](https://www.bluecedar.com/integration-accelerator-blackberry).

[2020-08-19 12:21] dpanic opened #4701 "Android app crashes"
#### Summary
App crashes when push notification is received.

#### Environment Information
- Device Name: Tesla 9.2
- OS Version: 8.1.0
- Mattermost App Version: 1.34.0
- Mattermost Server Version: 5.26.0

#### Steps to reproduce
Set name/display name to "**YOURNAME {dev}**". Without quotes.

#### Observed behavior
App crashes with error screen.
![image-44b47229-e525-47dd-88ad-d8fcb53f26b9](https:

[2020-08-19 12:32] pba9061 commented on #4663
The issue has been solved by sending the complete chain certificates instead of the only server certificate...

[2020-08-19 12:32] #4663 closed

[2020-08-19 18:00] josephbaylon commented on #4701
Hi @dpanic, unfortunately I'm not able to reproduce the crash error.

I tested on both v1.34 and v1.35 against rc.test (v5.26) and didn't get a crash on either iOS or Android.

I changed nickname to `YOURNAME {dev}` and set the Display > Teammate Name Display > Show nickname if one exists, otherwise show first and last name.

`YOURNAME {dev}` is displaying fine on private/public/dm.

I also tested

[2020-08-19 19:43] dpanic commented on #4701
Hi @josephbaylon, yes error is there.

iOS is not the problem, it never was.  I will attach screen recording shortly.

[2020-08-19 20:45] dpanic commented on #4701
Here is video as promised.

[![IMAGE ALT TEXT HERE](https://img.youtube.com/vi/_u3rNCVoCUQ/0.jpg)](https://www.youtube.com/watch?v=_u3rNCVoCUQ)

NOTE: It is not always reproducible.

Steps to reproduce:
1. reboot mobile phone
2. open mattermost app
3. one direct message
4. go to other channel (change focus) and exit from the app (app sent to background)
5. after several messages there is error

[2020-08-20 18:03] amyblais commented on #4701
Ticket was opened here: https://mattermost.atlassian.net/browse/MM-28006.

[2020-08-21 06:37] gbonnefille commented on #4527
Hi, some news here.

With the new version of the mobile app, we have the following error:

Yes, the '#' is suspicious. Trying such URL with a curl conclude in a redirect to '/'.

Where does this '#' came from?

[2020-08-21 09:59] nicolinuxfr opened #4711 "CocoaPods could not find compatible versions for pod "MMKV""
#### Summary
I am trying to build a custom Mattermost mobile version for iOS and I have an error during the build phase with CocoaPods and MMKV pod.

#### Environment Information

- Mattermost version : latest commit on the main branch (here's the latest one currently : https://github.com/mattermost/mattermost-mobile/commit/68457c5e7e8e37be2edf7eaffc8a51ec334991ce)
- macOS 10.15.6
- nodejs 10.22

[2020-08-21 11:47] #4711 closed, assigned to nobody

[2020-08-21 12:09] mcrainydrop opened #4712 "[iOS] Bug when Login using GitLab SSO"
#### Summary
Login using GitLab SSO shows error message (see screenshot) in last step of the login procedure, i.e. adding/updating device to list of user devices.
Login procedure according oauth works fine, but this last step fails.

#### Environment Information

- Device Name: iPhone
- OS Version: 13.6.1
- Mattermost App Version: 1.34.0 (Build 318)
- Mattermost Server Version: 5.25.0 (Build 5.25.

[2020-08-24 08:12] bitdessert opened #4716 "[iOS]There is a problem with the file download progress bar."
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary

It does not change from 0% when downloading a video file.

#### Environment Information

- Device Name: iOS device
- OS Version:
- Mattermost App Version: 1.34.0
- Mattermost Server Version:5.26

#### Steps to reproduce
It changes from 0% to 100% when

[2020-08-24 17:10] amyblais commented on #4712
We have been unable to reproduce this internally,
@PokeMMO Are you seeing the same server errors as the original reporter?

Are there any other details that you could help share about your config settings, logs, environment, etc. that could could help us reproduce this?

[2020-08-25 09:13] jn5010 opened #4723 "Sidebar of the web app and the mobile app are not synchronized."
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
When using the experimental Sidebar Features function, the sidebar of the web app and the mobile app are not synchronized.

#### Environment Information

- Device Name: iOS device
- OS Version: 13.6.1
- Mattermost App Version: 1.34.0
- Mattermost Server

[2020-08-25 11:46] enahum commented on #4723
@jn5010 Sidebar feature is not available on mobile.

FYI @esethna

[2020-08-26 15:52] #4593 closed

[2020-08-26 15:52] rousesDev commented on #4593
Closed decided to build the android on Ubuntu instead.

[2020-08-26 16:16] amyblais commented on #4712
@mcrainydrop @PokeMMO We have a PR open that may fix the issue: https://github.com/mattermost/mattermost-mobile/pull/4731. Would you be open to testing on the [test builds](https://github.com/mattermost/mattermost-mobile/pull/4731#issuecomment-680970145) if the fix works?

[2020-08-26 16:19] enahum commented on #4712
Only Android is testable as the ipa file for iOS won;t let you install it on your devices.

[2020-08-27 10:07] mcrainydrop commented on #4712
Ok, I was too slow in further debugging myself.
I also came to the conclusion, that this issue is related to the Client4 url generation part. I was able to 'workaround' this problem for this very request 'api/v4/users/sessions/device' with rewriting the url for PUT / to PUT /api/v4/users/sessions/device (as it was easy recognizable and rewritable), but then the next request for fetching 'users/me'

[2020-08-27 12:36] #4712 closed

[2020-08-27 23:50] amyblais commented on #4712
v1.34.1 dot release fixes this issue and will be available in the app store soon.

[2020-08-29 06:24] jack9603301 opened #4752 "It is recommended to support multi server and account login"
Just as slack supports multi workspace login, it is recommended to support multi server address and multi account login, so users can get the same experience as desktop app. At present, the desktop application of mattermost has been supported. Now, when will mobile phone software support it?

[2020-08-29 10:36] enahum commented on #4752
Hi @jack9603301 thank you for yor suggestion. Multi-server support is now planned for FY2021. It will come right after some major reachitecture of the mobile app.

[2020-08-29 10:38] enahum commented on #4716
@bitdessert I’m unable to reproduce it, its working as it should for me. Are you testing this on a remote server?

[2020-08-29 10:40] enahum commented on #4665
@jfcastroluis Were you able to confirm that is in fact the wring image in the footer causing the issue? I’ve used your same example and seen no crash as my comment above shows

[2020-08-29 10:44] enahum commented on #2400
Going to close this issue as it hasn’t had any recent activity

[2020-08-29 10:44] #2400 closed

[2020-08-29 10:48] enahum commented on #2480
Going to close this issue as it hasn’t had any recent activity

[2020-08-29 10:48] #2480 closed

[2020-08-29 10:48] enahum commented on #2506
Going to close this issue as it hasn’t had any recent activity

[2020-08-29 10:48] #2506 closed

[2020-08-29 10:49] enahum commented on #2507
Going to close this issue as it hasn’t had any recent activity

[2020-08-29 10:49] #2507 closed

[2020-08-29 10:49] enahum commented on #2636
Going to close this issue as it hasn’t had any recent activity

[2020-08-29 10:49] #2636 closed

[2020-08-29 10:50] enahum commented on #2639
Going to close this issue as it hasn’t had any recent activity

[2020-08-29 10:50] #2639 closed

[2020-08-29 10:50] enahum commented on #2647
Going to close this issue as it hasn’t had any recent activity

[2020-08-29 10:50] #2647 closed

[2020-08-29 10:51] enahum commented on #2662
Going to close this issue as it hasn’t had any recent activity

[2020-08-29 10:51] #2662 closed

[2020-08-29 10:51] enahum commented on #2675
Going to close this issue as it hasn’t had any recent activity

[2020-08-29 10:51] #2675 closed

[2020-08-29 10:52] enahum commented on #2684
Going to close this issue as it hasn’t had any recent activity

[2020-08-29 10:52] #2684 closed

[2020-08-29 10:52] enahum commented on #2826
Going to close this issue as it hasn’t had any recent activity

[2020-08-29 10:52] #2826 closed

[2020-08-29 10:53] enahum commented on #2851
Going to close this issue as it hasn’t had any recent activity

[2020-08-29 10:53] #2851 closed

[2020-08-29 10:54] enahum commented on #2869
Going to close this issue as it hasn’t had any recent activity

[2020-08-29 10:54] #2869 closed

[2020-08-29 10:54] enahum commented on #2875
Going to close this issue as it hasn’t had any recent activity

[2020-08-29 10:54] #2875 closed

[2020-08-29 10:55] enahum commented on #2886
Going to close this issue as it hasn’t had any recent activity

[2020-08-29 10:55] #2886 closed

[2020-08-29 10:56] enahum commented on #2897
Going to close this issue as it hasn’t had any recent activity

[2020-08-29 10:56] #2897 closed

[2020-08-29 10:57] enahum commented on #2928
Going to close this issue as it hasn’t had any recent activity

[2020-08-29 10:57] #2928 closed

[2020-08-29 10:57] enahum commented on #2937
Going to close this issue as it hasn’t had any recent activity

[2020-08-29 10:57] #2937 closed

[2020-08-29 10:58] enahum commented on #2950
Going to close this issue as it hasn’t had any recent activity

[2020-08-29 10:58] #2950 closed

[2020-08-29 10:58] enahum commented on #2978
Going to close this issue as it hasn’t had any recent activity

[2020-08-29 10:58] #2978 closed

[2020-08-29 10:59] enahum commented on #3071
Going to close this issue as it hasn’t had any recent activity

[2020-08-29 10:59] #3071 closed

[2020-08-29 11:00] enahum commented on #3095
Going to close this issue as it hasn’t had any recent activity

[2020-08-29 11:00] #3095 closed

[2020-08-29 11:00] enahum commented on #3198
Going to close this issue as it hasn’t had any recent activity

[2020-08-29 11:00] #3198 closed

[2020-08-29 11:01] enahum commented on #3207
Going to close this issue as it hasn’t had any recent activity

[2020-08-29 11:01] #3207 closed

[2020-08-29 11:01] enahum commented on #3210
Going to close this issue as it hasn’t had any recent activity

[2020-08-29 11:01] #3210 closed

[2020-08-29 11:02] enahum commented on #3229
Going to close this issue as it hasn’t had any recent activity

[2020-08-29 11:02] #3229 closed

[2020-08-29 11:03] enahum commented on #3294
Going to close this issue as it hasn’t had any recent activity

[2020-08-29 11:03] #3294 closed

[2020-08-29 11:03] enahum commented on #3305
Going to close this issue as it hasn’t had any recent activity

[2020-08-29 11:03] #3305 closed

[2020-08-29 11:05] enahum commented on #3355
@9cat Sorry for the delayed response, but can you please share with us what is it that you are seeing and what is your expectation?
FYI @esethna

[2020-08-29 11:05] enahum commented on #3410
Going to close this issue as it hasn’t had any recent activity

[2020-08-29 11:05] #3410 closed

[2020-08-29 11:06] enahum commented on #3427
Going to close this issue as it hasn’t had any recent activity

[2020-08-29 11:06] #3427 closed

[2020-08-29 11:07] enahum commented on #3510
Going to close this issue as it hasn’t had any recent activity

[2020-08-29 11:07] #3510 closed

[2020-08-29 11:07] licaon-kter commented on #2826
Looks fixed, I thought this was closed. Thanks

[2020-08-29 11:07] enahum commented on #3532
Going to close this issue as it hasn’t had any recent activity

[2020-08-29 11:07] #3532 closed

[2020-08-29 11:08] enahum commented on #3544
Going to close this issue as it hasn’t had any recent activity

[2020-08-29 11:08] #3544 closed

[2020-08-29 11:08] enahum commented on #3545
Going to close this issue as it hasn’t had any recent activity

[2020-08-29 11:08] #3545 closed

[2020-08-29 11:13] AndreKR commented on #2480
Closing it kind of suggests that it has been solved, but I don't think it has.

I was watching this issue because I'm on Android 5 and I'd like to use Mattermost in my company.

[2020-08-29 11:17] enahum commented on #2480
Sorry @AndreKR in fact we made a concious decision to support Android 7+, I can say we’ll not be supporting Android 5. I understand this can be a pain for some people, like yourself, but as you would understand supporting all versions of Android is a somewhat impossible task.

Sorry for the inconvenience :/

[2020-08-29 16:14] MartB commented on #2506
This got fixed with the re-design of the input section down there anyway, so yeah right call to close this.

[2020-08-29 17:07] uusijani opened #4753 "Mobile devices receive ghost notifications for already read messages"
#### Summary
Mobile devices receive "ghost" notifications for already read messages, when set to receive notifications "when Away or offline", and receiving user is set to be Away.

#### Steps to reproduce
1. Set "Mobile Push Notifications" to "Trigger push notifications when": "Away or offline" (and send "For all activity")
2. Using web interface on desktop, set your status to Away
3. (Still in t

[2020-08-29 22:43] jeffg2k commented on #4616
@amyblais I've gone through the troubleshooting guide and it has not resolved the issue.  Using https, cert appears fine at SSL labs.  Creating an account on demo.mattermost.com worked fine, however, that site doesn't require a client cert, which is what I think the issue is about.  I have verified that my client cert (and the site) works fine on any other platform and it was working with prior ve

[2020-08-29 23:02] enahum commented on #4616
Hey @jeffg2k I’m sorry this has been an issue on your end. Mutual TLS (client side certificate) has been for a while an experimental feature, a few months back we conciously broke it as we needed to push another feature regarding performance out. As the mTLS was and still remains experimental I would suggest not to rely on it, at least until it is revisited.

I can share that currently there are p

[2020-08-30 00:13] jeffg2k commented on #4616
@enahum Thank you for the confirmation on the issue and for the explanation.  I'll relay it to the administration team hosting our MM instance.

[2020-08-30 03:21] enahum commented on #4753
@uusijani just as an FYI, the mobile app just receives the notification, does not send it, so I’m asking someone from the server team for them to check if its expected and someone from the webapp team to see if the messages should in fact be marked as read.

[2020-08-31 00:39] jn5010 commented on #4723
Do you have plans to develop Sidebar features on mobile app?

[2020-08-31 06:45] bradjones1 commented on #2639
There may not be activity here but I think this is still a valid issue.

[2020-08-31 07:39] dbrgn commented on #2639
For the record, I have given up on building a custom Mattermost app version, because every new release required hours of work to update the build scripts and fix problems during compilation. Right now we simply use the official Mattermost app, with the downsides like pushes going through Mattermost servers, users not being able to use two Mattermost servers simultaneously and not being able to pre

[2020-08-31 20:13] esethna commented on #4723
@jn5010 yes we plan on making sure mobile respects the categories defined on webapp, however we are still in the design stage on mobile and don't have a timeline available yet. When we release the sidebar feature out of experimental it will have corresponding mobile support.

[2020-09-01 04:11] AiTranXuan opened #4757 "Upload image in thead screen but when go back to channel screen image thumbnail still exist"
#### Summary
Upload image in thead screen but  when go back to channel screen image thumbnail still exist

#### Environment Information

- Device Name:  IOS and Android
- OS Version: 10.15.6
- Mattermost App Version: 1.35
- Mattermost Server Version:5.25

#### Steps to reproduce
![ezgif-5-f5963034a4da](https://user-images.githubusercontent.com/15552410/91811631-0139d300-ec5a-11ea-8664-6343ccd2a971

[2020-09-01 05:24] enahum commented on #4757
@AiTranXuan Are you changing the image picker dependency?

First of all I cannot reproduce and then looking at your gif, it seems you are able to select multiple files from the photo gallery which is not shipped with the app, so I wanted to confirm

[2020-09-01 06:47] AiTranXuan commented on #4757
Sorry @enahum, I sent the wrong gif file. This is when I tested the Mattermost app on the master branch on September 1 (today). I resend you the demo error.
https://im5.ezgif.com/tmp/ezgif-5-f5963034a4da.gif

[2020-09-01 06:52] enahum commented on #4757
Can you try the release-1.35 branch?

[2020-09-01 06:56] AiTranXuan commented on #4757
I am currently testing the latest commit on the master branch. I will try again at branch I am currently testing the latest commit on the master branch. I will try again at branch 1.35 now

[2020-09-01 07:11] AiTranXuan commented on #4757
The release-1.35 branch does not have this error. I will probably use this branch temporarily. Thanks for your support @enahum

[2020-09-01 13:18] gbonnefille commented on #4527
I've tested the 1.34.1. The error about `#` has gone. But I now encounter:

[2020-09-01 13:38] gbonnefille opened #4760 "Missing Accept Header"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
It seems that Accept Header is missing.

#### Environment Information

- Device Name: Android
- OS Version: 7
- Mattermost App Version: 1.34.1
- Mattermost Server Version:

#### Steps to reproduce
Normal login.

#### Expected behavior
Our ModSecurity co

[2020-09-01 20:36] #4757 closed

[2020-09-02 20:37] jfcastroluis commented on #4665
Hi @enahum

Sorry about my delay answering to this issue :(

I checked again and I was wrong. The problem is when `footer_icon` is a relative URL. Something like `/api/v4/users/3c8qt6dce3ynz8yjm9z7eojo4w/image`

I understand that could not work properly because of the non-sense relative URL (actually now I concat the main domain before) but that causes a crash of the application turning to a black

[2020-09-03 07:42] gbonnefille commented on #4527
Currently, we still encounter problem around a missing device_id:
[code]

Sniffing traffic let identify that the POST request is empty.

[2020-09-03 07:42] gbonnefille commented on #4527
Please, note that in the exactly same situation, the [version published on F-Droid (1.31.2)](https://f-droid.org/fr/packages/com.mattermost.rnbeta/) is working.

[2020-09-03 07:56] enahum commented on #4527
@gbonnefille fdroid is not published or maintained by us but by the community :)

[2020-09-03 08:01] gbonnefille commented on #4527
OK. I hoped such information can help to locate the bugs: working in 1.31.2 and not in 1.34.1.

[2020-09-03 08:20] gbonnefille opened #4763 "The device_id is missing"
#### Summary
Unable to connect: an error message report that device_id is missing in api/v4/users/sessions/device

#### Environment Information

- Device Name: Android/iOS
- OS Version:
- Mattermost App Version: 1.34.1
- Mattermost Server Version: 5.25.2

Login is based on Gitlab SSO. Push Notification Service is active.

#### Steps to reproduce
Simply try to connect to server.

#### Expected beha

[2020-09-03 08:25] enahum commented on #4763
@gbonnefille Can you make sure you are actually patching the dependencies? This looks like the rn-fetch-blob dependency is not being patched

[2020-09-03 08:34] gbonnefille commented on #4763
I will check. But please, note that the previous captures are made with the official APK.

[2020-09-03 08:41] enahum commented on #4763
🤔 the official apk? So in the other thread you talked about fdroid, in this one I’m seeing the react native LogBox which is only available while developing. Now you mention is the official apk, so I’m lost...

I wonder if this is something specific to your deployment?

You also mention that the request is empty, are you inspecting the request how? Charles proxy?

[2020-09-03 08:48] gbonnefille commented on #4763
Yes, we are defenitively trying to propose a working APP for our users. So we checked many solutions.

* One of them is, naturally, the official APK provided via Google Play
* Another is the old (but signed and easy to install) APK provided by F-Droid
* The last one (orange capture screen) is from sources.

Do you prefer I remove this last part of the report?

Yes, we are also trying to identify t

[2020-09-03 09:02] matpascaud commented on #4763
I am working with @gbonnefille and I tried to do the following steps.

1.  rm -rf node_modules
2. npm i --ignore-scripts
3. npx patch-package

But I keep getting the same error with the device_id.

[code]

[2020-09-03 10:47] gbonnefille commented on #4763
I finally succeeded doing more tests on another instance. And it worked. But this instance do not use push-notification-service.
So I disabled the push-notification-service on our primary instance and it worked.

So I really suspect a bug in the application when SSO + Push-Notification-Service activated.

[2020-09-03 16:03] esethna commented on #4753
@uusijani appreciate you reporting this, I've opened a ticket to address this, good find! https://mattermost.atlassian.net/browse/MM-28327

[2020-09-04 03:22] yewkay commented on #4564
I am in charge of deploying MM in my company and for the past few months have the same issue with iPhones in the company as well. The ticket is marked as closed by my colleagues are still having the issue. We have a channel where our colleague posts job updates as images and only that channel crashes. It still does now.

[2020-09-04 09:26] gbonnefille commented on #4763
We did many many more tests with other deployments and... it worked.
So I fear it is something in our side, but quite tricky.

Sorry for the noise, I close here to limit enthropy.

[2020-09-04 09:26] #4763 closed

[2020-09-08 06:48] enahum commented on #4760
@gbonnefille Thanks for the report. After having an internal convo with the team I got the following:

The Mattermost Server does not require the Accept headers and has suitable default content types set when they are not present. In fact none of our clients set it.

I s this a real security issue? Maybe not, maybe is just that "best practice" scanning is likely to pick it up in a generic way.

[2020-09-09 11:04] bill2004158 opened #4792 "select team page still trigger to load more even loaded all the teams"
#### Summary
select team page still trying to load more even no more team.
it seems still trigger load more if no more data.

#### Environment Information

- Device Name: Android
- OS Version: 8.0.0
- Mattermost App Version: 1.34.1
- Mattermost Server Version:

#### Steps to reproduce
1.  go to select team page
2. scroll down to the end after loaded,
3. and scroll down again

#### Expected behavio

[2020-09-09 11:30] enahum commented on #4792
@bill2004158 Can you expand? Why is this a problem?

[2020-09-09 12:07] bill2004158 commented on #4792
the problem is:
it may send many load requst to server, while which is not required.
not a big issue, but it is better avoid send useless request.

[2020-09-09 12:16] enahum commented on #4792
Although I totally agree with you in this scenario a new team can be created after the app fetched then “all” thus the newly created one will not appear.

What you suggest we do in other places like posts in a channels as we know for sure there are no more to load as we reached the older one.

If you have any suggestions on how to improve here that’ll be great. Even better if you want to contribut

[2020-09-10 10:22] tclavier opened #4796 "trust certificat"
### Summary
The ssl certificat of my mattermost server is trust by TERENA. The application from playstore says my server is not correctly configured. And the application from fdroid says : cannot connect to the server.

![IMG_20200910_121541](https://user-images.githubusercontent.com/357257/92716647-6038cf80-f35f-11ea-8ffa-c5de1e73c4b8.jpg)

#### Environment Information

- Device Name: oneplus 6t

[2020-09-10 11:20] enahum commented on #4796
Your SSL certificate chain is incomplete!

https://www.ssllabs.com/ssltest/analyze.html?d=mm-iutinfo.univ-lille.fr

![image](https://user-images.githubusercontent.com/6757047/92722724-64a0c080-f33e-11ea-897c-ab99162b0572.jpeg)

[2020-09-10 12:18] tclavier commented on #4796
You write @enahum, it's possible to have only a warning ? with chrome and firefox, that work well :-(

[2020-09-10 12:20] enahum commented on #4796
@tclavier we attempted that in the forst place but came across a security issue and we decided against it. Anyway I think you’d be better off if the chain is fixed and complete.

[2020-09-11 06:21] bill2004158 commented on #4792
agree.
so when scroll to bottom, always trying to check if any new data.

how about add "throttle" for loading more?
because when scrolling, it may trigger multiple loading more request at same time.
when I test, I saw at least two requests were sent out.
I think only 1 is enough.

[2020-09-11 07:07] nobuto-m opened #4806 "Warning message to archive a channel is too weaker compared to the web version"
#### Summary

Warning message to archive a channel is too weaker compared to the web version. It doesn't mention to the fact that the channel will be inaccessible for everyone.

#### Environment Information

- OS Version: Android 10
- Mattermost App Version: 1.34.1
- Mattermost Server Version: 5.23.0

#### Steps to reproduce
Open a channel and select the archive option with an admin right of the c

[2020-09-11 12:42] enahum commented on #4792
Yes, throtteling would be nice, are you willing to make that improvement and submit a PR?

[2020-09-14 05:51] jn5010 opened #4809 "Can't download TXT file in mobile app"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Can't download TXT file in mobile app

#### Environment Information

- Device Name: Galaxy S8+
- OS Version: Android 8.0.0
- Mattermost App Version: 1.34.0
- Mattermost Server Version:5.26.1

#### Steps to reproduce
Open the TXT file in the mobile app.

[2020-09-14 05:54] bitdessert commented on #4716
![video_progressbar](https://user-images.githubusercontent.com/42505950/93048450-dd36b280-f699-11ea-9c6d-80cd4c9a5678.gif)

prev video -> When downloading to preview the video, the progress bar works normally.
download video -> When I press the top right button icon to download a video, the progress bar does not work at 0%.

[2020-09-15 12:13] tclavier commented on #4796
My admin has update the TLS configuration :
![image](https://user-images.githubusercontent.com/357257/93208810-72e74600-f75d-11ea-91da-671d8f7f202a.png)

But i think it's a good idea to have a similar comportment between firefox and mattermost :-)

[2020-09-15 13:43] enahum commented on #4796
Glad it was resolved!

[2020-09-15 13:43] #4796 closed

[2020-09-15 13:54] tclavier commented on #4796
I'm not agree with you, mattermost android application has not the same comportment than all navigators ... I thins it's a big problem, you can use Firefox or Chrome to go to a miss configured Mattermost and not with Android Application. IMHO it's a very bad user experience.

[2020-09-15 14:28] enahum commented on #4796
@tclavier although I understand where you’re coming from, the certificate restriction is applied by the operating systems. For example Android explains it [here](https://developer.android.com/training/articles/security-ssl#MissingCa).

The truth of the matter is that as long as the admin sets up the certificate correctly this should not happen and it wouldn’t be a bad experience for the user.

Thi

[2020-09-16 13:16] amyblais commented on #4809
I'm unable to reproduce this, are you still able to reproduce this on v1.35?

[2020-09-17 03:33] AiTranXuan opened #4815 "Error "Team could not be loaded " when logout"
#### Summary
Error "Team could not be loaded " when logout

#### Environment Information

- Device Name: Android/ IOS
- OS Version:
- Mattermost App Version: 1.35
- Mattermost Server Version: 5.27

#### Steps to reproduce
Login to App and click logout in Setting Slidebar

#### Observed behavior
![D59E73ED-6E9C-458D-AFA6-FDAE629F6F13](https://user-images.githubusercontent.com/15552410/93416953-01c8

[2020-09-17 06:36] jn5010 commented on #4809
I can open the TXT file as a preview on v.1.35. but There is no button to save files locally.
![Screen_Recording_20200917-151004_Mattermost](https://user-images.githubusercontent.com/35473594/93429071-84feeb00-f8fb-11ea-817d-18ff9a6a67e8.gif)

[2020-09-17 10:23] Sakaala opened #4816 "Fallback option is ignored in push notifications"
#### Summary
Fallback option from attachments is ignored in push notifications when post is created from webhooks or via server api

#### Environment Information

- Device Name: Xiaomi Mi Mix 2
- OS Version: Android 9 PKQ1.190118.001
- Mattermost App Version: 1.35.0 (Build 325)
- Mattermost Server Version: 5.26.0 (Build 5.26.1)

#### Steps to reproduce
Create post via webhook or api with [message

[2020-09-17 13:41] amyblais commented on #4815
@AiTranXuan
1. Which login method do you use for Mattermost?
2. Is this a new issue in v1.35 for you?
3. What happens when you click on "Try again"?
4. Are there any other details that you'd be able to share about your environment or log errors?

[2020-09-17 13:45] amyblais commented on #4716
I'm able to reproduce, opened a ticket: https://mattermost.atlassian.net/browse/MM-28820.

[2020-09-17 13:47] amyblais commented on #4809
Thanks, reproduced now. Ticket here: https://mattermost.atlassian.net/browse/MM-28821.

[2020-09-17 18:31] amyblais commented on #4816
@Sakaala Have you observed this issue on previous mobile versions or do you think this is a new issue?

[2020-09-17 18:34] Sakaala commented on #4816
@amyblais I don't really know but i think this issue has been around for a while

[2020-09-18 00:29] bitdessert opened #4817 "Keypad does not disappear when I reply and press the sidebar"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Keypad does not disappear when I reply and press the sidebar

#### Environment Information

- Device Name:  galaxy
- OS Version: android 9
- Mattermost App Version: 1.35.0
- Mattermost Server Version:

#### Steps to reproduce
1.Write a reply to the conv

[2020-09-18 18:29] amyblais commented on #4817
A ticket was opened here: https://mattermost.atlassian.net/browse/MM-28880.

[2020-09-21 14:38] amyblais commented on #4816
@enahum Is this a known issue or would you like me to open a ticket?

[2020-09-21 14:40] enahum commented on #4816
@amyblais I think this has to be done on the server, when a notification is sent to include the right message, and if id-loaded is used, the set the right message when fetching from the server.

[2020-09-23 13:01] amyblais commented on #4816
Opened a ticket: https://mattermost.atlassian.net/browse/MM-28984

[2020-09-25 03:35] pjaudiomv opened #4843 "Mobile App Unresponive 1.35.1"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
The iOS and Android app latest version 1.35.1 is extremely slow and unresponsive, it can take up to a minute to register a touch if at all. Many users on various devices and OS versions are reporting this with latest release.

#### Environment Informati

[2020-09-25 18:18] michaelkozakovsc opened #4845 "Bug - video previews are stretched"
Playback of videos uploaded to Mattermost on iOS 14 shows up stretched:
![image](https://user-images.githubusercontent.com/22355373/94302211-dc274000-ff39-11ea-82e7-66b6138b0eb8.png)

[2020-09-26 14:19] pjaudiomv commented on #4843
Hi, yes the community server works fine. I guess this must be issue with our server. the weird thing is the web app and desktop apps work fine. Is there anything special about the way the mobile apps communicate that would cause them to be slow that's different from web an desktop apps.

[2020-09-27 22:52] VandorpeDavid opened #4850 "Mentioning users with numeric username."
#### Summary

Numeric usernames are not being mentioned correctly in the mobile app.

#### Environment Information

- Device Name: Galaxy A50
- OS Version: Android 10, but reported by multiple users.
- Mattermost App Version: 1.35.1
- Mattermost Server Version: 5.24.0

#### Steps to reproduce

1. Enable Gitlab login.
2. Login through Gitlab with a user that has a numeric username.
2. Mention this

[2020-09-27 22:55] enahum commented on #4850
Fyi @hmhealey @esethna @ashishbhate

[2020-09-28 06:21] bitdessert opened #4851 "The dimmed screen does not disappear when I click the Show More button."
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
When I receive a long message and click the More button, the dimmed screen does not disappear.

#### Environment Information

- Device Name: GALAXY 8
- OS Version:  android 10
- Mattermost App Version: 1.35.1
- Mattermost Server Version:5.26.1

#### Ste

[2020-09-28 14:56] amyblais commented on #4851
Opened a ticket: https://mattermost.atlassian.net/browse/MM-29095

[2020-09-28 20:34] hmhealey commented on #4850
Interesting find. The reason it doesn't work is because we don't normally support usernames starting with a number, but OAuth lets you bypass that restriction. I'd welcome a PR to fix that, but I am slightly worried that there might be other side effects from having a numberic username such as other issues with not receiving mentions. I'll see if anyone has any idea of why we didn't allow them ori

[2020-09-29 05:21] ashishbhate commented on #4850
Do you mean just on mobile? From the OP, numeric mentions work in the webapp and desktop. The web/desktop apps don't use commonmark (which was last updated a year ago). They use a different regex https://github.com/mattermost/mattermost-webapp/blob/master/utils/text_formatting.tsx#L24 which works with fully numeric mentions.

[2020-09-30 21:16] hmhealey commented on #4850
I'm meaning there might be side effects on the server like mentions may not be triggered on the server similar to how they are on mobile.

I looked back and, as far as I can tell, we've never supported usernames starting with numbers, but I can't figure out why. I wonder if it might have been copied from team names not being able to start with numbers because the original version of Mattermost use

[2020-10-01 08:30] wojtekw92 commented on #3630
Hello :)
Are there any news on MM-10166? A lot of new phones have now bigger resolution than 24Mpixels.

[2020-10-01 21:33] fritojay opened #4858 "Unable to click links whenever a default browser other than Safari is set in iOS 14"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
After setting Firefox as the default browser in iOS 14, all links throw an error stating that the link was not found on the server.

#### Environment Information

- Device Name: iPhone XS
- OS Version: 14.0.1
- Mattermost App Version: 1.35.1
- Mattermos

[2020-10-01 21:43] enahum commented on #4858
Apparently this is an iOS14 bug? https://developer.apple.com/forums/thread/660241

[2020-10-01 21:46] enahum commented on #4858
@migbot can you try this and seeif removing the check and executing openURL works? Also I believe openURL will reject the promise if it fails

[2020-10-02 17:01] #4858 closed

[2020-10-05 08:38] laktak opened #4869 "Selecting a Team should switch to the Channels Page"
#### Summary

When I select a team, the sidebar closes and I am in the channel I had open the last time. So I have to open the sidebar again to see which channels have new messages.

#### Environment Information

- Device Name: iPhone
- OS Version:  14.0
- Mattermost App Version: 1.35.1
- Mattermost Server Version: 5.27.0

#### Steps to reproduce

- open the sidebar
- switch to another team
- the

[2020-10-07 14:51] RooSoft commented on #4752
Thanks for working on this... if you need any help, I may be tempted to try and contribute.

[2020-10-13 08:04] henricook commented on #622
@AlanVerbner So you compiled it yourself with a changed user agent and it worked? Was it a simple string replace, if not would you consider sharing the changeset?

[2020-10-14 12:04] Temirtator opened #4890 "Login is broken on some types of mobile phones"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
If in override/config.json set DefaultServerUrl and set AutoSelectServerUrl to true, after login, channel data is not loading.

#### Environment Information

- Device Name: Samsung Galaxy S10 - SMG973F
- OS Version: Android 10
- Mattermost App Version:

[2020-10-14 15:00] amyblais commented on #4890
@Temirtator Are you using the app in English or in another language?

[2020-10-14 15:30] Temirtator commented on #4890
I am using application on russian language

[2020-10-16 17:10] razbag opened #4895 "Unsupported Server Version"
- Device Name:
- OS Version: Andriod 10
- Mattermost App Version: 1.36.0
- Mattermost Server Version: 5.23.1

#### Steps to reproduce
How can we reproduce the issue?
Upgrade from mobile version 1.35.1 to 1.36.0

#### Expected behavior
Dear Support team in your GitHub release page you mention that this version 1.36.0 is compatible with Mattermost servers v5.19+. but when I install it into my mobile

[2020-10-16 17:14] amyblais commented on #4895
@razbag That was incorrect so I've updated the release page with v5.25.

I'm also updating the Readme file https://github.com/mattermost/mattermost-mobile/pull/4896.

[2020-10-16 17:20] razbag commented on #4895
Thanks for the reply Just one more thing can I permanently dismiss it from our users until we will test and upgrade our backend ?

BTW we don't receive any notification or email regarding this change or this type of warning will be shown if we do not upgrade our back-end

Thanks,
Razmik

[2020-10-16 17:33] amyblais commented on #4895
I believe there isn't a way to permanently disable it.

We've sent emails to customers. The in-app notification that you received is a way for us to reach out to everyone to encourage upgrades.

[2020-10-16 17:48] razbag commented on #4895
We didn't receive any email last email which we was received it about new release of the Server V 5.27 just for you info we are using EE and not Team Edition

Thank you for your quick response
we will plan our back-end upgrade

[2020-10-18 00:08] ophirr commented on #4845
+1 on fixing this. Our users are reporting it every few days. Ty!

mattermost version 5.19.0

[2020-10-18 08:18] schweigel commented on #3630
Hi there,

I have the same problem with a resolution of 4312x5760px.
For me an option to optionally down scale the image would be great.

Thanks

[2020-10-19 11:02] enahum commented on #4845
@ophirr thanks for the reminder on this issue, as reported in the library repo, this issue is actually corrected by Apple on iOS 14.2 (which hasn't yet release to the general public) while the solution proposed in the lib repo has some other side effects. It looks like we just need to wait.

Another thing I noted about your report is that you  mentioned to be using mattermost version 5.19. Th mobi

[2020-10-21 20:20] dannyhanes commented on #3532
@DHaussermann Is there someplace where I can track the progress of the enhancement request to have the bot profile image show up in notifications?

[2020-10-26 05:19] x9t9 opened #4922 "Implement a font size setting or possibility to increase font inline"
#### Summary

Font size option ( in the settings or inline ) is quite an important feature to increase accessibility for all users including vision impairment users on various levels.

#### Environment Information

This issue might be relevant on all screens depending on users .

#### Steps to reproduce
I think the issue is quit self - explanatory.

#### Expected behavior
Users should be able to i

[2020-10-29 13:56] smirta commented on #4589
Hi @amyblais, are there plans to implement this anytime soon? We have people waiting to get this resolved. This is quite crucial for working together.

[2020-10-29 13:59] amyblais commented on #4589
I don't have an ETA on this, the latest comment on the ticket is that one of the dev teams will address the ticket alongside work related to overhauling how unread counts work.

[2020-10-31 15:41] jjercx commented on #1522
I fixed this by removing the check of automatically manage sign in and manually selecting from the dropdown the profiles created by match.

[2020-11-01 02:08] ylluminate commented on #4723
Are there any updates as to this yet? I'm not only having troubles with this, but generally the iOS app is having trouble keeping messages sometimes after sending messages. Overall it seems that there are a lot of problems with the iOS execution presently.

[2020-11-03 00:26] esethna commented on #4723
@ylluminate yes we plan on offering the sidebar categories on mobile for the January 16th 2021 release when we release the sidebar categories feature as general available (currently it's an experimental feature). You can follow the JIRA ticket here: https://mattermost.atlassian.net/browse/MM-28474

Can you share more about "having trouble keeping messages sometimes after sending messages" with our

[2020-11-08 09:35] zeeshanwarriach93 commented on #4410
This link isn't working, can you provide a working link please.

[2020-11-08 11:03] enahum commented on #4410
@zeeshanwarriach93 at this point if you follow the documentation you don't have to edit that patch anymore.

You would only nees to set the env var for the group id and the build script will apply it for you.

If you are trying to build it manually you'll have to manually edit the Info.plist files for the three targets

[2020-11-08 19:32] zeeshanwarriach93 commented on #4410
It's  still not working, I'm getting this error. Can you please guide me through steps.
Regards
<img width="1680" alt="Screen Shot 2020-11-09 at 12 31 47 AM" src="https://user-images.githubusercontent.com/74134024/98482415-f6d02280-2222-11eb-88bf-400b59174dc2.png">

[2020-11-08 19:38] DHaussermann commented on #3532
Hi @dannyhanes, sorry for the late reply.
It's possible that the team working on mobile has already considered this but, I was unable to find a Story in our ticket tracker that discusses the feature.

I have created a story for it here https://mattermost.atlassian.net/browse/MM-30348 to see if the team is taking this under consideration fir a future release.

[2020-11-08 19:55] AustinFuller commented on #1522
Unselecting the automatic signing within Xcode resolved this problem for me as well...

[2020-11-11 05:36] bitdessert opened #4957 "Are you getting ready for the iPhone 12 dpi?"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
The statusbar goes up as shown below

https://github.com/mattermost/mattermost-mobile/issues/3606

#### Environment Information

- Device Name: iPhone 12 pro
- OS Version:
- Mattermost App Version: 1.36.0
- Mattermost Server Version:

#### Steps to repr

[2020-11-11 14:55] amyblais commented on #4957
@josephbaylon Do you or someone else on QA have iPhone 12 to test this?

[2020-11-11 15:15] enahum commented on #4957
@amyblais a device is on its way in order for us to test this.

There is already a ticket to track https://mattermost.atlassian.net/browse/MM-30164 currently in the backlog until the device arrives.

[2020-11-12 15:55] KheroNem commented on #4815
Is there a fix for this bug ? for me the problem seems to appear when the function `resetState` of [global_event_handler](https://github.com/mattermost/mattermost-mobile/blob/release-1.35/app/init/global_event_handler.js) file for a reason the app launch an `getTeams()` request just after the call of this function.

[2020-11-14 12:21] uusijani opened #4966 "build.sh uses bashisms, but shebangs /bin/sh"
1.37.0 fails to build in my build environment (Ubuntu 18.04 in LXC) with this error:

    ubuntu@mattermost-mobile:~/mattermost-mobile$ npm run build:android

    ./scripts/build.sh: 3: ./scripts/build.sh: Syntax error: "(" unexpected
    npm ERR! code ELIFECYCLE
    npm ERR! errno 2
    npm ERR! mattermost-mobile@1.37.0 build:android: `./scripts/build.sh apk`
    npm ERR! Exit status 2
    npm ER

[2020-11-14 22:47] phpony opened #4967 "Mattermost Classic is no longer working and Mattermost Mobile is not supporting Android 5 and 6"
### Summary
[Mattermost Android Classic](https://github.com/mattermost/mattermost-android-classic) is no longer working with latest [Mattermost Server](https://github.com/mattermost/mattermost-server) and [Mattermost Mobile](https://github.com/mattermost/mattermost-mobile) is not supporting Android 5.1 and 6. There's no way to use Mattermost on 11.5% + 16% = 27.5% of actual Android mobile devices.

[2020-11-16 14:59] amyblais commented on #4967
@phpony Can you help provide more details on the issues you're experiencing on the Classic App?

Does the newer app work https://play.google.com/store/apps/details?id=com.mattermost.rn&hl=en?

[2020-11-16 16:39] levidurfee commented on #4957
The menu button is not clickable on the iPhone 12 mini.

![66BE79D7-AE66-46A7-B585-527514410213](https://user-images.githubusercontent.com/10798199/99281325-5c627700-2800-11eb-917d-aa4600c02dbc.jpeg)

[2020-11-16 17:18] henricook commented on #622
I'd really like this fixed but don't have the ready skills to do it myself. I've posted a $500 bounty on this: https://www.bountysource.com/issues/46286041-problem-using-google-auth-in-mattermost-mobile-ios-android-versions

Requirements would be: Auth with Google IDP succeeds, change must be merged and available in the store-based apps for bounty to be paid. Solution can either be the user agent

[2020-11-16 20:08] esethna commented on #622
cc// @thefactremains ^

[2020-11-16 20:28] thefactremains commented on #622
@henricook we are building support for this in our upcoming support for OpenID Connect. We expect to release this by Jan 2021 at the latest.

[2020-11-16 20:35] henricook commented on #622
Thanks for the info @thefactremains

I was hoping for a solution for a fairly specific use case. I have a gitlab instance that uses Google Auth. I can't login to mattermost with it on mobile at the moment. I don't _think_ the openid work you describe will affect that problem unless it takes over all Google/Microsoft etc auth flows and pops them out into a browser?

[2020-11-19 02:45] #4966 closed

[2020-11-19 05:18] thefactremains commented on #622
Our implementation of OpenID Connect will replace all OAuth SSO (including Google and Microsoft) for E20 licensed servers. It's possible that an E20 server could use OpenID connect to GitLab/Google SSO and would work on mobile, but I'm not certain - and that use case isn't covered in the MVP.

We're aiming to release this very shortly, so if you're on E20 (or considering it) the OIDC feature may w

[2020-11-19 08:54] henricook commented on #622
Not entirely sure what license I'm on, will check - I don't think it's E20. When do E20 features filter down to the common folk?

[2020-11-19 08:55] henricook commented on #622
Do you think someone would accept a PR as a stopgap to change the user agent mattermost uses to impersonate a real browser? (And evade Google's webview/user-agent restrictions)?

[2020-11-19 16:59] thefactremains commented on #622
We are not currently planning to add OpenID Connect to E10 or Team Edition. We do however, regularly revisit our packaging based on input like this.

A community contributor could attempt to get this working. Based on my understanding, they would face a number of known issues (and some unknown).

[2020-11-22 05:46] phpony commented on #4967
Classic app is stuck on loading screen after entering any server address.  Newer app can't be installed cause it don't support Android 5.1.

[2020-11-29 12:41] moussetc opened #4994 "Unexpected emoji picker search results"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Emoji search does not return the expected emojis

#### Environment Information

- Device Name: Samsun galaxy s10e
- OS Version: Android 10
- Mattermost App Version: 1.37.0 build 3000334
- Mattermost Server Version: 5.26.0 build 5.26.2

#### Steps to rep

[2020-11-30 20:12] licaon-kter commented on #566
Taking it for another spin. Updated recipe:
[code]
...but an odd fail:
[code]
...any thoughts?

[2020-12-01 10:14] licaon-kter commented on #566
There's also this error that I don't understand
[code]
...it tries to create but it fails? Where exactly should I create it then?

[2020-12-01 10:19] kalvdans commented on #566
Sounds like you are not using bash to run this script. `[[` is a bash-specific extension. It is strange though since the first line tells it to be executed by `bash`.

[2020-12-01 10:37] licaon-kter commented on #566
Why should it use bash? The scripts ask for `sh`, [right](https://github.com/mattermost/mattermost-mobile/blob/v1.37.0/scripts/postinstall.sh#L1)? FYI, [in master](https://github.com/mattermost/mattermost-mobile/commit/b226d451f37549a55e8267e5f892c59e8dd6e72d#diff-fb07e43d29bff868985b89fef043fa58deb0abe6c26e835cad51a09dfca86ef7) it's fixed. ;)

Anyway, from the recipe: `- sed -i -e 's/\#\!\/bin\/s

[2020-12-01 12:48] licaon-kter commented on #566
Moving a bit forward/backward dunno
[code]
...in theory I could add some placeholders for these...from yaxim or Conversations maybe

[2020-12-01 13:42] amyblais commented on #4994
Thanks, opened a ticket: https://mattermost.atlassian.net/browse/MM-30994

[2020-12-11 08:38] bitdessert opened #5033 "Error occurred during build"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Error occurred during build.

#### Environment Information

- Device Name: android
- OS Version:
- Mattermost App Version: 1.37.0
- Mattermost Server Version:

#### Steps to reproduce
The build method we've been doing is as follows.
1. make pre-run
2. c

[2020-12-11 10:21] enahum commented on #5033
https://developers.mattermost.com/contribute/mobile/build-your-own/android/

[2020-12-11 10:24] #5033 closed

[2020-12-11 21:55] totongcute opened #5038 "https://github.com/mattermost/mattermost-mobile"

[2020-12-11 22:11] #5038 closed

[2020-12-13 12:02] tobiasBora opened #5039 "Parser of images do not accept url escaped string, contrary to what happens in the web version"
#### Summary
It is impossible to link to an image that uses some urlescape codes, like in `![alpha](https://latex.codecogs.com/gif.latex?%5Calpha)`: I would expect to see this image: ![y](https://latex.codecogs.com/gif.latex?%5Calpha) but instead, nothing appears. However, if you remove the `%5C` char, then it displays an image... but of course not the expected one since we removed the important c

[2020-12-14 13:23] licaon-kter commented on #566
Looking at 1.38.0 since that will be released soon, updated recipe, still failling for InstallReferrer:
[code]

[2020-12-14 16:19] amyblais commented on #5039
Opened a ticket: https://mattermost.atlassian.net/browse/MM-31341.

[2020-12-15 21:49] varungupta85 commented on #2757
Hi, I am not using mattermost but I am observing a similar error in my app only in release mode on Android after I moved my mobile app to a mono-repo structure. I would be grateful if you could share any information how to debug/fix this problem.

[2020-12-17 09:19] agnivade commented on #4753
@uusijani - Unfortunately I am not able to reproduce this. In my case, I always get a notification which does not disappear, which is expected from the code from what I am seeing. The server checks the user status, and if it is set to away, sends a PN. That's it.

Unless you manually switch to the channel which got the message in the web interface, no "read message" event gets sent out, which make

[2020-12-17 10:54] SayantanD opened #5043 "Reflected XSS error in ios/Mattermost/AppDelegate.m"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
In security testing, getting Reflected XSS in ios/Mattermost/AppDelegate.m file, in line 123 and 126

#### Environment Information

- Device Name: N/A
- OS Version:  N/A
- Mattermost App Version: mattermost-mobile 1.38.0
- Mattermost Server Version: N/A

[2020-12-17 11:07] enahum commented on #5043
Hey @SayantanD i f you suspect you’ve found a vulnerability in the Mattermost mobile app, please report your findings to responsibledisclosure@mattermost.com. We ask you not to use public GitHub issues for reporting security issues.

[2020-12-17 11:07] #5043 closed

[2020-12-18 07:33] Barlerer opened #5046 "App is low on fps on new upgrade to android 11"
#### Summary
Since upgrading my S20 plus to the new android 11 update, the app appears to perform super slow. I have also attached a view, and the low fps you will see is not from the recording, but from only the mattermost app.

#### Environment Information

- Device Name: Samsung Galaxy S20 Plus
- OS Version: Android 11
- Mattermost App Version: 1.38.0
- Mattermost Server Version: 5.26.0

#### S

[2020-12-18 08:26] uusijani commented on #4753
Yes, this is still reproducible here with the current server (v5.29.1).

Here's the [server log](https://github.com/mattermost/mattermost-mobile/files/5714505/mm.log) and [MPNS log](https://github.com/mattermost/mattermost-mobile/files/5714506/mpns.log) during which

1. I switch debug level from error to debug
2. I send one "hello" message to a bot (from the web UI)
3. the bot responds with one me

[2020-12-18 09:47] agnivade commented on #4753
Hey @uusijani - thanks for getting back!

Couple of clarifications:
- You have manually set your status to away.
- Set "Mobile Push Notifications" to "Trigger push notifications when": "Away or offline" (and send "For all activity")
- Then you send a message to a bot
- The bot replies back
- You get a Push notification for the reply on your phone, which then immediately goes away

Is that accurate

[2020-12-18 13:15] justvanbloom opened #5047 "Videos mp4 h.264 won‘t play anymore on iOS"
#### Summary
Video in mp4 format encoded with h.264 does not start/play. Issue startet with latest Version of iOS Client. Bevor all was ok

#### Environment Information

- Device Name: iphone
- OS Version: 14.3
- Mattermost App Version: 1.38 (build 337)
- Mattermost Server Version: 5.29.0

#### Steps to reproduce
1. Upload video on PC
2. Play on iOS

#### Expected behavior
Video starts playing

##

[2020-12-18 13:22] uusijani commented on #4753
Yup, your description of the issue is exactly right @agnivade, and thanks for looking into this!

I set up the two users in parallel windows. Sending a normal message as userB this way does not trigger the issue (I do get a notification on userA's phone, but it doesn't go away by itself), but that's because userA's window is (obviously) not active, since I'm typing in userB's window. The notificat

[2020-12-18 14:24] amyblais commented on #5046
Does this happen after re-installing the app? We suspect this may be device-specific.

[2020-12-18 14:25] amyblais commented on #5047
This happens at times when the video cannot buffer correctly. We have a ticket open to improve on having the server perform better streaming of videos.

[2020-12-18 16:09] Barlerer commented on #5046
Yes, also after re-installing.

בתאריך יום ו׳, 18 בדצמ׳ 2020, 16:24, מאת Amy Blais ‏<
notifications@github.com>:

[2020-12-18 16:33] agnivade commented on #4753
Hey @uusijani - if the receiver's window is active, I think that's the right behavior. If a user is away, then they are meant to be "away". But if they are active, then the status should be "active".

From the server side, it is hard to _not_ send a push notification based on if you have set the status to "away" and left your desk (in which case a push notification is expected), and whether you ha

[2020-12-19 16:41] uusijani commented on #4753
@agnivade Oh I see, so it's a result of conflicting indicators ("away" vs. being active) from the user. I'm trying to recalibrate my expectation based on this, but it's difficult.

My immediate thought is perhaps (in the problematic case) sending the notification, but then clearing it only once I start typing (typing appears to have an event associated with it, at least based on the logs) would be

[2020-12-19 18:09] agnivade commented on #4753
It would be certainly _technically possible_ to clear it on the typing event. But the semantics of it gets really complicated IMO. What makes the typing event special, than let's say, a channel view event? The system assumes that the user can only look at a single place at one time. So if you are at the web client generating some activity, then you are not on your phone, so it makes sense to clear

[2020-12-21 12:16] koenrot commented on #5046
Just here to let you know I have the exact same issue on a similar phone.

There is no difference in having the phone run on 120fps or 60 fps. The app appears to be running on a much lower framerate. Can't really say how much fps exactly, but if I have to guess it would be lower than 25fps.

**Environment Information**
- Device Name: Samsung Galaxy S20
- OS Version: Android 11
- Mattermost App Ver

[2020-12-23 01:30] cafefish opened #5066 "custom url scheme doesn't work in iOS 1.38.1"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
custom url scheme doesn't work in the newest iOS version 1.38.1

#### Environment Information

- Device Name: iPad Pro 11 (2020)
- OS Version: 14.2 or 14.3
- Mattermost App Version: 1.38.1
- Mattermost Server Version: 5.25.0

#### Steps to reproduce
con

[2020-12-23 01:32] enahum commented on #5066
@cafefish Can you share what is the scheme? Also schemes are directly controlled by the OS so I find this to be very curious...

@migbot could this be based on the change made to use `Linking.canOpenUrl`?

[2020-12-23 01:36] cafefish commented on #5066
"mpgreader" for launching an internal app

[2020-12-30 13:12] henricook commented on #622
@thefactremains All packaging revisits greatly appreciated. At a total guess you've got a lot of people about to be affected by https://developers.googleblog.com/2020/08/guidance-for-our-effort-to-block-less-secure-browser-and-apps.html on January the 4th 2021 who don't realise they're about to be affected.

[2020-12-30 18:03] techyyz opened #5074 "Unsigned iOS app Push Notification Requirement"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Issue in one concise sentence.

#### Environment Information

- Device Name: iPhone 12 Pro/iPad Pro 2018
- OS Version: 14.3 / 14.3
- Mattermost App Version: Mattermost Enterprise Edition 1.38.1(build 338)
- Mattermost Server Version: 5.28.0(build 5.28.)

[2021-01-04 00:03] mondlicht-und-sterne opened #5076 "Screenshots for F-Droid"
You can add Screenshots for F-Droid, too, if you want.

https://f-droid.org/en/docs/All_About_Descriptions_Graphics_and_Screenshots/

https://gitlab.com/snippets/1895688

[2021-01-04 20:25] gpopesc opened #5080 "cannot upload high resolution pictures in android app"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary

I got uploading error because of high resolution pictures (4896x6528px) files

#### Environment Information

- Device Name: Huawei P30Pro
- OS Version:  10
- Mattermost App Version: 1.38.1
- Mattermost Server Version: 5.30.0

#### Observed behavior

I

[2021-01-04 20:49] natewiebe13 opened #5081 "Mention Highlight Link Color"
#### Summary
On mobile, then mention highlight text color is using the `Link Color` (`linkColor`) theme variable instead of `Mention Highlight Link` (`mentionHighlightLink`).

#### Environment Information

- Device Name: Pixel 5
- OS Version: Android 11
- Mattermost App Version: 1.38.1 (Build 3000338)
- Mattermost Server Version: 5.30.0 (Build 5.30.1)

#### Steps to reproduce
Set custom theme colo

[2021-01-04 20:52] enahum commented on #5080
Hey @agnivade what was the server restriction for this? Are we planning on removing that restriction? IIRC it was because of a potential image bomb

[2021-01-04 20:54] enahum commented on #5081
FYI @matthewbirtch

[2021-01-04 20:59] matthewbirtch commented on #5081
I believe you mean `mentionHighlightLink` rather than `mentionColor`?

[2021-01-04 21:00] natewiebe13 commented on #5081
Correct, I grabbed the wrong variable. I've updated the issue to reflect this.

[2021-01-05 04:49] agnivade commented on #5080
With a quick look, I am not seeing any mobile specific restriction on image uploads. If the file can be uploaded from a windows client, it should work for mobile also.

@gpopesc - Would you be able to share the server logs at a DEBUG level when this failure happens?

[2021-01-05 08:41] gpopesc commented on #5080
Thank you very much for your answer.
I think you can put a warning in the app when somebody try to share big images or/and may be you can resize the image when it is uploaded (like whatsapp and other apps)
I my case there is a possible bug in Huawei camera for selfies and I cannot change the resolution (in the actual software version). I need to use a not standard camera app or to resize the pictu

[2021-01-05 08:55] gpopesc commented on #5080
Please close if you consider

[2021-01-05 09:07] agnivade commented on #5080
Hi @gpopesc - we already resize the image when it's uploaded. The issue is that just limiting the maximum upload size is not enough. An attacker can send a carefully crafted gzipped image, which when unzipped can become much larger in memory. Therefore, we limit the maximum image dimensions that can be uploaded to prevent a potentially DOS-eable resize operation.

I agree that a better error messa

[2021-01-05 15:17] natewiebe13 commented on #5081
@matthewbirtch updated with screenshots as well to illustrate the issue.

[2021-01-06 12:03] SteveJos commented on #5046
I can confirm this issue since the upgrade to Android 11 on my Samsung Galaxy S20+
The navigation in the app is sluggish and slow.
The developer overlay shows a maximum of 30fps in the app. All other apps works as usual.
![Screenshot_20210106-110146_Mattermost](https://user-images.githubusercontent.com/23660491/103766722-99d4cb00-501f-11eb-982b-d603d20ccfa6.jpg)

[2021-01-06 16:11] #5066 closed

[2021-01-06 17:32] amyblais commented on #5081
@enahum Would you like me to open a ticket for Mobile or UX?

[2021-01-08 13:40] bill2004158 commented on #4486
@enahum ,
it is same issue that cannot preview the image if someone send a image in channel.
(only effect iOS)

and I have found out the issue finally.
https://github.com/mattermost/mattermost-mobile/blob/master/app/screens/sso/sso.js#L120
CookieManager.get(url, true)  --> the second parameter true, means get cookie from **WKWebsiteDataStore.defaultDataStore.httpCookieStore**
which is cookie store

[2021-01-08 13:43] enahum commented on #4486
@bill2004158 That is in fact a nice theory, but I wonder why does it work for every MM staff members that signs in to the community server using SSO

[2021-01-08 13:53] bill2004158 commented on #4486
@enahum

doc from apple:
https://developer.apple.com/documentation/foundation/nshttpcookiestorage
`Each app and app extension has a unique data container, meaning they have separate cookie stores. `
`WKWebView — Each WKWebView instance has its own cookie storage. See the WKHTTPCookieStore class for more information.`

I am not sure why it works for you.
can you show me the code when the cookie MMA

[2021-01-08 14:03] enahum commented on #4486
@bill2004158 After the user successful authentication, this is being set https://github.com/mattermost/mattermost-mobile/blob/master/app/screens/sso/sso.js#L137

Basically the token gets set for the client to execute further autenthicated requests. Once the first response comes in RNFetchBlob which is the library that we use, will set the cookies here https://github.com/joltup/rn-fetch-blob/blob/m

[2021-01-08 14:18] bill2004158 commented on #4486
@enahum ,
that is for reply.

`After the user successful authentication, this is being set https://github.com/mattermost/mattermost-mobile/blob/master/app/screens/sso/sso.js#L137`
--> yes, that set the token to Client4,
however, some requests (such as preview image) is not send from Client4.

`Once the first response comes in RNFetchBlob which is the library that we use, will set the cookies here

[2021-01-08 14:25] enahum commented on #4486
@bill2004158 yes the images are not being requested from Client4 and in consequence without RNFetchBlob.

That said, the first request after a successful login is executed here https://github.com/mattermost/mattermost-mobile/blob/86ae89d3eb6d8fdee8804eb58d0bacbb7f36da37/app/actions/views/user.js#L190 and that will then generate requests to the endpoints found in this action function https://github

[2021-01-08 15:35] bill2004158 commented on #4486
@enahum ,

ah, I see.
in my server, the first request of loadMe() is `Get api/v4/users/me`.
which response:
`HTTP/1.1 304 Not Modified`
`Expires: 0`
`ETag: 5.27.0.cimdxwxz7pys5png1p465ta5kc.1598861638199..0.true.true.0`
`Vary: Accept-Encoding`
`X-Request-Id: u9qwekhtsfrixjed7smupi7pzo`
`X-Version-Id: 5.27.0.5.27.0.94bf8d3f894ad10e1a0aa6fc0ee3c179.false`
`X-Powered-By: ARR/3.0`
`X-Powered-By: ASP.N

[2021-01-08 21:04] Dallasss7 commented on #5081
i have never contributed to this project but would like to start. may i please tackle this bug and have it assigned to me?

[2021-01-08 21:07] enahum commented on #5081
@Dallasss7 absolutely, maybe you can coordinate with @matthewbirtch so he can provide the right values to use in each use case.

@matthewbirtch would you be willing to open a ticket with the details and then we can generate the Help Wanted issue.

Thanks to both of you!

[2021-01-08 21:08] enahum commented on #5081
Hmmm not sure if @amyblais ended up opening the ticket. @amyblais can you please confirm?

[2021-01-08 21:10] amyblais commented on #5081
I haven't opened a ticket yet.

[2021-01-08 22:16] matthewbirtch commented on #5081
I created a Jira Ticket: https://mattermost.atlassian.net/browse/MM-31874. From what I can tell, this is only used in the post component when a username mention is highlighted. @enahum are you aware of any other location this occurs?

[2021-01-08 22:18] enahum commented on #5081
@matthewbirtch I wasn't talking about the location but as highlight when mention, or when a keyword other than a mention or who knows what else, I just want to make sure we cover all use cases

[2021-01-08 22:35] matthewbirtch commented on #5081
From what I can tell we don't highlight for anything other than what triggers a mention. We don't currently highlight search terms in search results and I can't think of any use cases other than what user's have set as 'words that trigger mentions'

[2021-01-09 16:10] panther7 commented on #5046
Same problem, Samsung S10e, Android 11... Maybe bug is in OneUI 3.0 by Samsung.

[2021-01-10 05:56] fabioespinosa commented on #4410
i'm getting the same error @zeeshanwarriach93  did you manage to fix it?

[2021-01-11 05:07] bitdessert opened #5101 "The downloaded image is not in the gallery"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
The downloaded image is not in the gallery

#### Environment Information

- Device Name: Android
- OS Version:
- Mattermost App Version: 1.38.1
- Mattermost Server Version:5.30.1

#### Steps to reproduce
1. Touch an image in a conversation
2. Click the

[2021-01-11 07:48] tdittmar opened #5102 "PDFs don't open"
#### Summary
PDFs attached to a mattermost post do not open within the app. Instead, it displays the file name, "data" and information on the file size.

#### Environment Information

- Device Name: iPhone
- OS Version: iOS 14.3
- Mattermost App Version: 1.38.1 (Biold 338)
- Mattermost Server Version: 5.30.0 (Build 5.30.1)

#### Steps to reproduce
Attach a PDF to a post and try to open it by klick

[2021-01-11 15:52] amyblais commented on #5101
@josephbaylon Are you able to reproduce this on Android?

[2021-01-11 15:54] amyblais commented on #5102
@tdittmar Would you be open to sharing a screenshot of what you're seeing?

[2021-01-11 15:57] josephbaylon commented on #5101
Depending on your Android device, the file share will not download the file to device directly anymore. Try sharing the file to either Google Photos or Google Drive and download from there.

[2021-01-11 16:07] tdittmar commented on #5102
Of course. I've anonymized them a bit, but you will be able to see what I mean.

This screenshot shows the post that contains the PDF.

![IMG_3246](https://user-images.githubusercontent.com/4012492/104205819-22dc6f80-542f-11eb-8877-5dbdd70992d9.PNG)

When I tap on it, I see this:

![IMG_3247](https://user-images.githubusercontent.com/4012492/104205929-40113e00-542f-11eb-933d-a869f84d630b.PNG)

Whe

[2021-01-11 17:23] amyblais commented on #5102
This may be because of the dots in the filename. Would you be able to test by renaming the file on the mobile app by removing the dots from the filename?

[2021-01-11 17:39] enahum commented on #5102
I have a ticket related to this were we will attempt to open the file regardless of having multiple dots in the filename

[2021-01-11 23:07] #4753 closed

[2021-01-12 07:45] tdittmar commented on #5102
OK, wow, it actually seems to work at least on the iPhone if I remove all the dots and just have a filename named "Separate Words.pdf". Thanks for the advice, still, it would be a great improvement to allow multiple dots and only consider the last part as the file extension.

[2021-01-12 11:24] enahum commented on #5102
Fixed by #5109

[2021-01-15 08:29] dpanic commented on #2921
I had same problem on Android 9 only! On Android 10 it worked well.

After debugging here is what I found:
- User set server url as http:// instead of https:// (even http->https redirection is enabled)
- Push notifications are not set on Android 9

#### Regular user which had no issues:

User with issues, had no DeviceId set...

#### User with issues:

**_Result: simple server url set to exact one

[2021-01-15 10:49] enahum commented on #2921
Can you guys please upgrade to 1.39 and report back? Thanks

[2021-01-15 11:09] dpanic commented on #2921
It was version 1.38.1
On version 1.39 it works...I can ask from my team people to check if this http->https thing is related to version if you want

[2021-01-15 11:53] enahum commented on #2921
@dpanic not really related as it will follow the redirection.

We did have a race condition to set the deviceId which resulted at times to be missed and got fixed in 1.39

[2021-01-15 11:55] dpanic commented on #2921
That makes sense. Thank you.
I made mistake than by not checking this byself, by letting users to notify me :-)

[2021-01-16 07:05] prince-mishra commented on #2299
Hi @amyblais,
With 2021 and all the discussions on online privacy and their violations thereof by the big corporations going on, Mattermost has become all the more important.
It is disheartening to see that the mobile app still does not have the ability to register users.
Is there a plan to do so?

[2021-01-18 10:15] divsln commented on #5046
Same thing on s10, android 11.

[2021-01-18 11:44] vasimi opened #5122 "Login WebView on iOS doesn't support WebAuthn"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
I can't login to the mobile app using SSO because I use WebAuthn key as a 2FA device and WKWebView doesn't support `navigator.credentials`

#### Environment Information

- Device Name: iPhone 12 Pro
- OS Version: iOS 14.4 Beta 2
- Mattermost App Version

[2021-01-18 11:58] enahum commented on #5122
@anurag6713 will #5075 help resolve this?

[2021-01-18 12:00] vasimi commented on #5122
Looks like it could, Safari has no issues with using WebAuthn keys.

[2021-01-18 12:01] anurag6713 commented on #5122
New implementation should solve this issue as the flow is in Safari now.

[2021-01-18 12:03] vasimi commented on #5122
Yup, Safari has no problems with using WebAuthn keys. Thanks, I hope this gets done soon! :+1:

[2021-01-18 19:08] oli-ver opened #5124 "Run mattermost-mobile in webapp contexts and therefore allow other platforms than ios and android"
Hello everyone,

I submitted a feature request and also began development (just as a proof of concept):

https://mattermost.uservoice.com/forums/306457-general/suggestions/42407710-run-mattermost-mobile-in-webapp-contexts-and-there

#### Summary
Support more platforms by introducing react-native-web. I started a proof of concept in a forked repository's branch. Perhaps we can discuss if this is wo

[2021-01-20 02:00] yewkay commented on #5101
I've tested it on our colleague's Samsung Note 10 Plus, Samsung A41, Samsung Note 20 Ultra. It didn't appear in the gallery.
We are trying to keep resources within our hosting environment and not wanting to reupload the files out of our servers, that's the whole premise of using Mattermost to have our privacy in our own control. Is there any other ways to let the files appear in the phone?

[2021-01-20 02:29] yewkay opened #5128 "Selecting multiple files for upload"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Using the Android app, I am unable to select multiple files for upload in the file selection window. I need to repeat the process 5 times to select 5 files.

#### Environment Information

- Device Name:  Samsung Note 20 Ultra
- OS Version: Andriod 11
-

[2021-01-20 03:27] enahum commented on #5128
This is in fact the current implementation and the limitation is based on the library that we are using. As of today the plan to improve this UX is after we release the version 2 of the mobile app around Q3 this year. That said we do have a help wanted ticket https://github.com/mattermost/mattermost-server/issues/14478 to better improve the UX if you are interested.

[2021-01-20 23:41] amyblais commented on #5101
Is this OS specific or is there any way we can improve this? // @enahum

[2021-01-20 23:44] amyblais commented on #2299
Thanks, appreciate your feedback @prince-mishra,

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so

[2021-01-20 23:46] enahum commented on #5101
@amyblais the functionality that we implemented in the gallery is to provide a way to share the files, regardless of the file type including images.

The OS provides the available options, we use to have a download option in the past but got replaced by sharing. We could ask UX to think about adding an option to save the files on top of sharing. iOS already gives the option to save them in the sha

[2021-01-21 00:25] amyblais commented on #5101
Opened a ticket: https://mattermost.atlassian.net/browse/MM-32204

[2021-01-21 05:11] yewkay commented on #5128
thank you for the update and the continuous hard work to prefect the eco system. I'm not very programming savvy myself.

[2021-01-21 07:14] kirkbowe commented on #5046
Same low frame rate issue on Samsung Note 20 Ultra.  Latest Android 11 and One UI 3.  Mattermost client 1.39.0 (build 3000341).  Have not noticed any other apps exhibiting the same issue.  No difference whether device is set to fixed 60 Hz or adaptive 120 Hz.  Had a quick look at a few other React Native apps but didn't notice the same issue.

[2021-01-21 08:47] licaon-kter commented on #566
Ok, react-native-device-info 8.0.0 no longer needs GMS and InstallReferrer [thanks to Jitsi Meet devs](https://github.com/jitsi/jitsi-meet/issues/8353).

So, updated recipe:
[code]

Patch contents:
[code]

But now an odd fail:
[code]

What am I missing?

[2021-01-25 12:46] rezun opened #5131 "Extreme stuttering in every part of the app"
#### Summary
Every part of the UI (scrolling, all animations) is stuttering extremely.

#### Environment Information

- Device Name: Samsung Galaxy S20
- OS Version: Android 11, OneUI 3.0
- Mattermost App Version: 1.39.0
- Mattermost Server Version: 5.30.1

#### Steps to reproduce
It's a persistent issue on my phone.
Don't think it's easily reproducable.

#### Observed behavior
I have this issue d

[2021-01-25 14:31] rajpootathar commented on #5046
same issue on my galaxy note 10 + , android 11 and one UI 3 update.

[2021-01-25 20:29] loicsapone commented on #5131
Same problem on my Samsung since the upgrade from Android 10 to 11 (OneUI 2 to 3)

**Environment Information**

- Device Name: Samsung Galaxy S10
- OS Version: Android 11, OneUI 3.0
- Mattermost App Version: 1.39.0
- Mattermost Server Version: 5.30.0

[2021-01-25 20:31] loicsapone commented on #5046
Same problem on my Samsung since the upgrade from Android 10 to 11 (OneUI 2 to 3)

Environment Information

Device Name: Samsung Galaxy S10
OS Version: Android 11, OneUI 3.0
Mattermost App Version: 1.39.0
Mattermost Server Version: 5.30.0

[2021-01-26 22:03] rezun commented on #5131
One other important thing I noticed.
This seems to have something to do with text rendering.
If mostly images are shown, the app scrolls smoothly, as shown here.
I also have not seen this in any other app on my smartphone. So, my web renderer doesn't seem to be broken in general.

https://user-images.githubusercontent.com/1188549/105911563-98992b80-602a-11eb-9977-5159882132f5.mp4

[2021-01-28 08:22] scabux commented on #5131
Can confirm this problem on a similar device.

[2021-01-29 07:37] bitdessert opened #5145 "Why do I have to log in every time I run it?"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Each time I run the app, the login screen is launched.

#### Environment Information

- Device Name: iphone xr
- OS Version: 13.5.1
- Mattermost App Version: 1.39.0
- Mattermost Server Version: 5.30.0

#### Steps to reproduce
1. Pull the source with git

[2021-01-29 11:07] enahum commented on #5145
@bitdessert what is it that you are changing in code that could cause this, cause there is no reson why it would happen to you if the app store version is using the same source code. I would advice for you to look closer to your changes as it sounds like a corrupted keychain, perhaps try removing the app from your device, restart the device and then go again?

[2021-01-29 14:33] bitdessert commented on #5145
1. git pull 1.39.0 or download the source code(.tar.gz)
2. npm i
3. open xcode
4. change bundle identifier
5. product->archive
6. Install the app on the iPhone
7. run->select server-> log in->success
8. Exit the app (running in the background) -> run the app -> Still logged in
9. Quit app (completely close even in background) -> run the app -> select server-> login

I think number 9 is an error. N

[2021-01-29 16:14] enahum commented on #5145
Have you also updated the app group and keychain group in the entitlements? This is all done automatically if you use the scripts to build the app as stated in the docs

[2021-01-29 16:18] bitdessert commented on #5145
Of course. I also changed the app group and keychanin. All certifications were automatically completed.

[2021-01-29 20:29] VincentSC commented on #5131
Can confirm on Samsung Note 10. I think it has to do with OneUI 3.0, as since then it started to be unusable. Other apps don't have the problem, AFAIK

[2021-01-30 01:18] jfolz commented on #5046
Also here, S10e after update for Android 11 / OneUI 3.0. The actual chat portion of the app is barely usable.

[2021-01-30 11:19] VincentSC commented on #5131
Here are some tips where to look into: https://developer.android.com/topic/performance/vitals/render

[2021-01-31 14:53] satryacode commented on #5145
same here...

what I've done so far:
1. git clone https://github.com/mattermost/mattermost-mobile.git
2. cd Mattermost-mobile folder and then ran npm install
3. cd iOS and ran pod install
4. open project file in Xcode
5.  change bundle ids of app, share and notification. Changed App group, keychain sharing and iCloud containers.
6. Closed Xcode
7. ran the app to device via Xcode but error happens,

[2021-01-31 15:02] satryacode commented on #5145
![sign n capabilities](https://user-images.githubusercontent.com/1912381/106388185-f5705980-640f-11eb-90fc-972bf6e2630f.jpg)

here is my signing and capabilities section

[2021-02-01 11:59] ahmednabil950 commented on #5046
I am using s20 plus and i can tell this is a confirmation  that the app on latest upgrade is really super slow in navigation and any animation effect is slow (very obvious in side menu)

[2021-02-01 23:08] jfolz commented on #5131
Probably a duplicate of #5046, also Samsung devices after update to OneUI 3.0.

[2021-02-02 14:47] divsln commented on #5046
Seems resolved after latest web view update.

[2021-02-02 17:22] amyblais commented on #5046
Would you have more details on what update fixed the issue?

[2021-02-02 19:53] rezun commented on #5046
I just installed the most recent version 88.0.4324.141 (released today) but it didn't change anything. The problem still persists.

[2021-02-02 19:56] rezun commented on #5131
Yes. It is a duplicate. Didn't see the other issue.

[2021-02-03 08:58] jfolz commented on #5046
Update didn't make any difference for me either. Same for the beta, dev, and canary WebView apps. There is no appreciable difference between any of these.

[2021-02-03 09:00] Barlerer commented on #5046
Same for me, updated web views and not change

[2021-02-04 03:23] satryacode commented on #5145
when running in debug mode,
I see this
`[unspecified] log container_create_or_lookup_app_group_path_by_app_group_identifier: client is not entitled`
But I have set the correct app group

[2021-02-08 08:18] Transisto opened #5160 "App crash, turn black then eventually shows this error"
Seems like an element it's trying to display crashes it.
![image](https://user-images.githubusercontent.com/388716/107192885-32ae8b80-69bc-11eb-893a-993858beb57c.png)

[2021-02-08 14:24] amyblais commented on #5160
Would you be able to post the reproduction steps that lead to this error?

We also have a ticket (to be fixed in v1.40 release), where the app crashes when a post contains a large number of asterisks https://mattermost.atlassian.net/browse/MM-32254 - could it be related to this?

[2021-02-09 00:37] Transisto commented on #5160
Nothing special on the place where it's stuck now

No *, no large image, Just a small animated 1mb gif and a link to a youtube video with it's preview.

about 10 posts total,

[2021-02-09 13:17] mahenzon opened #5162 "App crashes with 'Unexpected error occurred': t.split is not a function. (In 't.split(v)', t.split is undefined)"
#### Summary
App crashes when tries to parse unexpected field value

#### Environment Information

- Device Name: iPhone 12 mini, Pixel 3
- OS Version: iOS 14.4, Android 11
- Mattermost App Version: 1.39.0
- Mattermost Server Version: 5.31.0

#### Steps to reproduce
Send a message with attachments where an attachment has an integer value (works well with 'null' or string). Example payload:

[code]

[2021-02-09 14:04] amyblais commented on #5162
cc @migbot ^
Do we know if this is a regression?

[2021-02-09 14:05] amyblais commented on #5160
Would you be open to sharing a sample file attachment that crashes the app?

[2021-02-09 15:42] mahenzon commented on #5162
I'm sending it via bot. I provided the full payload to send. In the response it shows integer value too (is the server designed to store the value it was provided without any validation? 🤔)

[2021-02-09 16:16] mahenzon commented on #5162
what do you get in the response? here's mine `"POST /api/v4/posts HTTP/1.1" 201`

[code]

[2021-02-10 04:01] Transisto commented on #5160
I cam maybe create you an account to the MM server in question.

I've manage to jump to another group with only a few comments and noticed that scrooling up and down these few text post was very choppy, like 7 frame per seconds.

[2021-02-10 21:39] #5162 closed

[2021-02-10 21:48] stuartm commented on #5046
Same issue with S10 updated to Android 11, it's unusable. Conversely mattermost in the browser on the same device is lightning fast. This is the only app with the issue so far in my testing, that includes other html based apps using webview.

[2021-02-11 09:00] AIRpwnz commented on #5046
Same for me, samsung s10e
Very low fps in the app

[2021-02-11 17:40] #5076 closed

[2021-02-12 10:39] vbrz commented on #5046
I also have this issue (Galaxy S20 Ultra)

[2021-02-12 10:46] panther7 commented on #5046
We know, we know, problem is Samsung, One UI 3.0, Android 11...

Question is, whether will be Mattermost app fixed?

[2021-02-12 12:26] francislavoie commented on #5145
Might not be exactly the same issue, but periodically on Android, I get kicked out of the app and need to sign in again. Sometimes it does it every time I kill the app until I reboot my device. Once rebooted, it continues to remember the auth token. I use Gitlab SSO to authenticate.

App Version: 1.39.0 (Build 3000341), from the play store.
Device: Pixel 4 XL, Android 11.

[2021-02-13 16:39] Frichetten opened #5176 "Configured Push Notifications Do Not Create Notification Badge"
#### Summary
Push notifications when configured for "[Generic description with only sender name](https://docs.mattermost.com/administration/config-settings.html#push-notification-contents)" do not create a notification badge on the app icon.

#### Environment Information

- Device Name: iPhone 11
- OS Version: iOS 14.4
- Mattermost App Version: 1.39.0
- Mattermost Server Version: 5.30.0

#### Step

[2021-02-15 05:11] satryacode commented on #5145
I have resolved the issue with this change
the AppGroup is hardcoded in `ios/Mattermost/Info.plist`, `ios/MattermostShare/Info.plist` and `ios/NotificationService/Info.plist`
change the `AppGroupIdentifier` from `group.com.mattermost.rnbeta` to `YOUR_APP_GROUP`
then rebuild the app

[2021-02-15 13:31] duckyb opened #5178 "Bot messages are crashing the app"
#### Summary
When the profile picture for a user cannot be loaded the mobile app crashes and freezes the device.
Might be related to #5160

#### Environment Information

- Device Name: Redmi Note 8
- OS Version: Android 10.0
- Mattermost App Version:  Mattermost Beta - Latest
- Mattermost Server Version: // unknown

#### Steps to reproduce
Have a user send a message without a profile picture, exam

[2021-02-15 14:10] duckyb commented on #5178
### Error logs

In this message I attach the video of the error happening, as well as a logcat recorded alongside the video footage.

https://user-images.githubusercontent.com/27895007/107956163-0d62e400-6f9f-11eb-8312-2aa392ec8090.mp4

[missing_profile_picture_logcat.txt](https://github.com/mattermost/mattermost-mobile/files/5981878/missing_profile_picture_logcat.txt)

Here is the [same logcat in

[2021-02-16 10:40] duckyb commented on #5178
We fixed the image url for that user but the app is still crashing.
Please let me know if there are other useful informations that I can provide.

[2021-02-16 14:13] amyblais commented on #5176
I tested it but wasn't able to reproduce this, @josephbaylon would you be able to help test this?

[2021-02-16 14:14] amyblais commented on #5178
@migbot Please help take a look at the log errors shared by the reporter here https://github.com/mattermost/mattermost-mobile/issues/5178#issuecomment-779247406.

[2021-02-16 14:42] Frichetten commented on #5176
If it helps at all, [here](https://www.youtube.com/watch?v=kvnzqk6ld1c&feature=youtu.be) is a video showing it. Note that I get the banner but no badge on the app icon. Additionally I should mention, the thing I'm doing to send the message is via the webhook integration. Under Integrations > Incoming Webhooks, I have a webhook that posts. Not sure if that makes a difference compared to another use

[2021-02-16 15:20] duckyb commented on #5178
This seems like the most interesting section in my opinion: @migbot
[code]

[2021-02-16 15:25] josephbaylon commented on #5176
@amyblais @Frichetten I believe the app icon badge only increments with at-mention messages. I tried it on my device and it seems to work properly with at-mentions. Ordinary posts will not increment badge.

@Frichetten Can you please try sending an at-mention to the one receiving the message?

[2021-02-16 15:29] duckyb commented on #5178
Going toward the root of the problem: https://github.com/DylanVann/react-native-fast-image/issues/407

[2021-02-16 15:34] Frichetten commented on #5176
@josephbaylon, Yep that worked! Thank you for the information, I didn't know that at-mentions triggered the badge only.

Is there a setting to enable badge incrementing for non at-mentions? I ask because, while I do get the banners in notification center, they kind of get lost in the backlog for me and I end up missing messages. For most apps the badge is what get's my attention to go in and check

[2021-02-16 15:50] josephbaylon commented on #5176
@Frichetten Thanks for testing the at-mention. Unfortunately, we currently don't have a configuration to increment non at-mentions.

If it's an important feature, it may be worthwhile to post to the public [Developers: Mobile](https://community.mattermost.com/core/channels/native-mobile-apps) channel to see if it can be done by mobile developers

[2021-02-16 16:25] duckyb commented on #5178
Yes. But what would be the purpose of doing so?

[2021-02-16 17:05] #5176 closed

[2021-02-17 14:00] amyblais commented on #5178
/cc @migbot

[2021-02-17 16:57] duckyb commented on #5178
Surprizingly, the crashing has stopped for both my colleagues and me.

It appears that the problem was the broken profile picture of the bot, once the image was updated and all of the bot's messages deleted, the crashing stopped.

I still believe that the issue was caused by the profile picture path not being an http string but rather a relative path.

***

We think this was just caused by an old

[2021-02-17 17:15] enahum commented on #5122
Apparently this is resolved with #5075 feel free to re-open if it doesn't

[2021-02-17 17:15] #5122 closed

[2021-02-17 17:17] enahum commented on #5046
Hi all, I've attempted something to try and see if it helps, I wasn't unable to really test it as the app worked without issues on my Pixel 4.

Would you please try running this version https://pr-builds.mattermost.com/mattermost-mobile/android-pr-fps/Mattermost_Beta.apk and report back?

Thanks in advance

[2021-02-17 17:22] rajpootathar commented on #5046
Hi @enahum , I tried the build you mentioned.. it is still clunky and fps are really bad for me

device : Note 10 + (One Ui 3+)
Android Version : 11

[2021-02-17 17:25] enahum commented on #5046
@rajpootathar interesting as I'm setting the app to use the  max amount of fps available on the device

[code]

wondering what else could cause this and also why it only seems to be affecting Samsung with One UI 3+

[2021-02-17 17:26] Barlerer commented on #5046
Also doesn't work for me

[2021-02-17 18:07] #5178 closed

[2021-02-17 20:08] enahum commented on #5046
On long shot, what happens if you enable Developer options in your phone and change the settings for:
* Window animation scale
* Transition animation scale
* Animator duration scale

and set them all to .5x

[2021-02-17 20:49] Barlerer commented on #5046
Also doesn't work.

[2021-02-18 12:34] svelle commented on #5046
Hey @SteveJos could you give me some more info on what kind of tool you used to get these detailed metrics from your screenshot. I'm seeing similar behavior on my Pixel 5 and would like to further investigate.

[2021-02-18 12:53] VincentSC commented on #5046
One UI 3.1 is out for S20 and S21. Has this maybe solved it? https://news.samsung.com/us/samsung-one-ui-3-1-update-powerful-features-galaxy-s21-galaxy-s20-galaxy-note20-galaxy-z-series/

[2021-02-18 12:55] VincentSC commented on #5046
For measuring performance see https://developer.android.com/training/testing/performance
I'm happy to run a test, but have no time to define it.

[2021-02-18 16:24] svelle commented on #5046
Okay I think I somehow understood the metrics capture info from adb, thanks @VincentSC

If anyone who's running into the issue could do the following I'd greatly appreciate it:

- Download and unpack the android sdk platform tools for your system
- Open up a terminal and navigate into the directory you unpacked this to
- Make sure adb picks up your device and you have enabled and allowed usb debug

[2021-02-19 07:45] tpgxyz commented on #5046
Yes i can confirm that after update to Android 11 on my SM-G973F, the mattermost 1.39.0 application started to act very slow on:

- scrolling
- navigating menus

[2021-02-19 10:21] matpascaud opened #5181 "ruby/config.h not found"
#### Summary
Cannot build with npm install, getting an error when installing json 2.5.1 with native extensions.
fatal error: 'ruby/config.h' file not found

#### Environment Information

- Device Name: iPhone X
- OS Version: 10.15.6
- Mattermost App Version: 1.40.0 (build 345)
- Mattermost Server Version:

#### Steps to reproduce
Run npm install with Xocde 12.4

#### Expected behavior
Should run w

[2021-02-19 11:09] enahum commented on #5181
Maybe take a look at this, was the first result after searching the web https://stackoverflow.com/questions/53135863/macos-mojave-ruby-config-h-file-not-found

[2021-02-19 11:19] matpascaud commented on #5181
I saw that and tried cd /Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/System/Library/Frameworks/Ruby.framework/Versions/2.6/usr/include/ruby-2.6.0 && ln -s universal-darwin20 universal-darwin19 but could not make it work.
And using rbenv to install another version of ruby might lead to problem. If I do no find any other solution, I will try that.

[2021-02-19 11:27] enahum commented on #5181
I use rvm and works without issues

[2021-02-19 13:15] tpgxyz commented on #5046
@svelle Hope this will help a bit:

[code]

[2021-02-20 21:46] jfolz commented on #5046
I noticed that framerate is low when text messages are on the screen, but normal if there is nothing but thumbnails.

https://user-images.githubusercontent.com/3245870/108609302-58c92800-73cd-11eb-8ab0-b7cd2ff009ae.mp4

[2021-02-20 21:59] rezun commented on #5046
Can confirm this (Issue #5131)

[2021-02-21 01:59] officiallymarky opened #5184 "iOS App cannot connect while on celluar"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
When off Wifi, the app no longer can connect.

#### Environment Information

- Device Name: iPhone X
- OS Version: 14.4
- Mattermost App Version: 1.39.0
- Mattermost Server Version: 5.30.0

#### Steps to reproduce
How can we reproduce the issue?

Disabl

[2021-02-21 02:02] enahum commented on #5184
As you can see in the attached screenshot I'm able to connect to our community server without wifi just fine!
[Uploading 108613335...]

[2021-02-21 02:18] officiallymarky commented on #5184
Oh if it works for you then I must be making it up.

[2021-02-21 02:20] enahum commented on #5184
It could just be that the request to get the teams you belong failed for some reason

[2021-02-21 02:32] officiallymarky commented on #5184
For sure it is some reason, that's what I'm trying to figure out
I turn off Wifi, I can't connect, turn it on, it works.

[2021-02-21 03:54] officiallymarky commented on #5184
You can see the behavior here.

https://www.youtube.com/watch?v=bFbi85yTaEY

[2021-02-21 04:18] enahum commented on #5184
If you go to your phone settings and look for Mattermost, is cellular data enabled?

![image](https://user-images.githubusercontent.com/6757047/108615418-a3a16a80-73e2-11eb-9867-52e6b275a369.png)

[2021-02-21 04:19] officiallymarky commented on #5184
Yes, and I toggled it to see if maybe it was somehow thinking it wasn't enabled.

[2021-02-21 04:21] enahum commented on #5184
Can you reach the server by entering the url in chrome or safari while on cellular network?

[2021-02-21 04:23] enahum commented on #5184
What about connecting to https://community.mattermost.com ?

[2021-02-21 04:36] officiallymarky commented on #5184
https://community.mattermost.com loads on Wifi and Cellular.
The server I'm trying to access only works on Wifi, off wifi if I go to the site directly I'm getting an SSL error.

[2021-02-21 10:24] enahum commented on #5184
Then it doesn't seem to be an app issue.. sadly can't say for sure what it could be

[2021-02-24 07:40] Barlerer commented on #5046
Just updated, still same issue.

[2021-02-24 08:35] matpascaud commented on #5181
I used rvm to solve the problem :
`brew install rbenv ruby-build
echo 'if which rbenv > /dev/null; then eval "$(rbenv init -)"; fi' >> ~/.bash_profile
rbenv install 2.6.3
rbenv global 2.6.3`

[2021-02-24 08:37] #5181 closed

[2021-02-24 18:52] officiallymarky commented on #5184
resolved, looks like it was an ipv6 issue on the server

[2021-02-24 18:52] #5184 closed

[2021-02-28 11:31] vbrz commented on #5046
I updated to OneUI 3.1 and I can confirm that the problem is still present.

[2021-03-01 19:43] enahum commented on #5046
[Here](https://github.com/mattermost/mattermost-mobile/pull/5199#issuecomment-788206690) you'll find an apk that forces the app to run at 60 fps, this is an attempt to see if the app runs better on your devices but no promises hehehe.

That said, it would be awesome if you can try it and report back, even better if you upload a comparison video between the current app in the Play Store and the apk

[2021-03-01 19:49] Barlerer commented on #5046
I have tried, and there is no difference. Works the same as the regular app.

[2021-03-01 19:50] enahum commented on #5046
Can you share a video?

[2021-03-01 20:05] Barlerer commented on #5046
I'm afraid I cannot, I'm in a confidential workspace that requires privacy for the members.
Don't have the tools to blur the video.

[2021-03-01 20:09] enahum commented on #5046
@Barlerer you could always create an account and connect to our community server :)

[2021-03-01 20:27] Barlerer commented on #5046
New version
https://user-images.githubusercontent.com/34626564/109554099-7b99c180-7adc-11eb-9c59-bf494e4998e2.mp4

Google Play version:
https://user-images.githubusercontent.com/34626564/109554398-d7fce100-7adc-11eb-8876-e38c6e531299.mp4

[2021-03-01 20:31] enahum commented on #5046
Anyone else using Right to Left? Or does it happen with left to right?

also this seems to be a Time to Render issue that won’t be solved until v2 (hopefully) aimed for Q3/Q4 this year

[2021-03-01 21:19] jnugh commented on #5046
Hi all, same problem for me. in my case LTR environment. Tested the Beta too, no difference. Not sure if this helps but I created a systrace (as described in https://reactnative.dev/docs/profiling)
[trace.html.zip](https://github.com/mattermost/mattermost-mobile/files/6064517/trace.html.zip)

[2021-03-08 10:57] malugiso commented on #4589
Hey all
i just wanted to ask if this issue is still on the board to fix or if this is closed.
We still have the same issue, that the badges on IOS don't show up if a user receives an message which isn't directly addressed to him.
IOS: 14.4
MM: 1.40.0

[2021-03-08 19:07] capJavert commented on #5047
Any updates on this?

[2021-03-09 01:29] bitdessert commented on #5145
thanks @satryacode, resolved

[2021-03-09 01:29] #5145 closed

[2021-03-09 01:58] bitdessert opened #5217 "When 5 images are uploaded, sliding does not work."
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
When 5 images are uploaded, sliding does not work.

#### Environment Information

- Device Name: galaxy s8+
- OS Version: android 9
- Mattermost App Version: 1.40.0(build 3000345)
- Mattermost Server Version: 5.32.1

#### Steps to reproduce
Upload 5 ima

[2021-03-09 15:46] amyblais commented on #5217
@josephbaylon Do we have Android 9 to test this on?

[2021-03-09 16:04] amyblais commented on #5217
Thanks, ticket: https://mattermost.atlassian.net/browse/MM-33671

[2021-03-10 07:06] bitdessert opened #5218 "Press the back button while sharing an image, the app crashes."
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Press the back button while sharing an image, the app crashes.

#### Environment Information

- Device Name:
- OS Version: android 9
- Mattermost App Version: 1.40.0
- Mattermost Server Version: 5.32.1

#### Steps to reproduce
1. Upload 5 images.
2. Tap

[2021-03-10 08:42] enahum commented on #5218
@bitdessert would you be willing to submit a PR to fix this?

[2021-03-10 09:11] bitdessert commented on #5218
Thank you for the suggestion @enahum, but I can't because I have a job.

[2021-03-10 09:23] enahum commented on #5218
Alright thank you

[2021-03-10 14:09] amyblais commented on #5218
@josephbaylon Are you able to repro this on Android, and can you open a ticket?

[2021-03-11 20:40] amyblais commented on #5218
@enahum Were you able to repro this?

[2021-03-11 20:53] enahum commented on #5218
@amyblais Yes

[2021-03-11 21:19] amyblais commented on #5218
Ticket: https://mattermost.atlassian.net/browse/MM-33778

[2021-03-19 09:44] sksole commented on #3779
Hi! Getting same error on iOS App version 1.41.0. The device and App is managed by MobileIron, and this happens after the device is remotely "unlocked". (PIN and Face ID reset). New PIN and Face ID has been set on the device many times, but the App still refuses to open. The App has been deleted and reinstalled to no help. It seems that the App is not able to register in the "Face ID & Passcode" l

[2021-03-21 13:13] ellidi commented on #5047
Bump.

[2021-03-22 06:27] Ch1llb0 commented on #5046
Same issue here and persisting after upgrade to Android 11 (LOS 18.1 on Xiaomi Mi A2 Lite Daisy) and new install of the app. Laggy as hell.

[2021-03-24 11:23] panther7 commented on #5046
Still no fix, after 4 month? :'(

[2021-03-24 15:23] vbrz commented on #5046
Yes, same here, to this day the problem is still not fixed for my device (even with mattermost beta)

[2021-03-24 17:34] zetaab commented on #5046
so none in mattermost mobile developers has device which has this problem?

[2021-03-24 17:41] enahum commented on #5046
I do and I can reproduce, so far been unable to pinpoint the cause, there are many many moving parts.

Sadly enough I can't spend a lot of time on this as I'm currently I'll and will undergo surgery this Monday, March 29

I can asure you we are indeed looking into this trying to get it resolved

[2021-03-25 17:26] ryankern43 opened #5243 "iOS 1.41.0 Crashes Frequently As Documents and Data gets too large"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Users find the iOS app crashes frequently (more than Android) when uploading and sharing multiple pictures into private channels.

#### Environment Information

- Device Name: iPhone 12
- OS Version: 14.4.1
- Mattermost App Version: 1.41.0 (Build 347)
-

[2021-03-25 17:37] ryankern43 commented on #5243
Our specific use that is causing this issue is our QA department sharing pictures from their patrols. They regularly take 4 pictures with their phones, three of them are one from each side, then a picture of the barcode. They share these four pictures to a channel for each line, and they do this patrol every two hours.

A member of our QA team will share about 60 pictures from their phones a night

[2021-03-25 18:37] amyblais commented on #5243
@ryankern43 What error message do you see when the crash occurs?