[2018-06-25 14:13] nmatt commented on #1799
Same here on iPhone SE running OS 10.3.3.

[2018-06-25 14:45] amyblais commented on #1774
@jekil It looks we don't officially support this yet - you can upvote this [feature request](https://mattermost.uservoice.com/forums/306457-general/suggestions/10197642-support-openid-connect) or open a new feature request! If you open a new feature request, please include a link back to this GitHub issue.

[2018-06-25 14:46] pichouk commented on #1807
I'm a bit confused, why is this open on `mattermost-mobile` repository ?
@mabushey Are you using the [`docker-compose.yml`](https://github.com/mattermost/mattermost-docker) provided on `mattermost-docker` repository ?
Also, are you running other containers on your server ? It seems that your server receive other requests from the server `192.144.191.120`.

[2018-06-25 14:51] amyblais commented on #1815
Hi @abdelrahmanrifai! Thank you for reporting this.

I'll test this today to see if I can repro, and I'll let you know what I find.

[2018-06-25 16:59] mabushey commented on #1807
My mistake.

I'm not sure what the problem was, maybe the fourth `docker-compose up` worked. I'll close it out.

[2018-06-25 16:59] #1807 closed

[2018-06-25 22:03] andyseubert opened #1829 "unable to complile android app on windows"
#### Summary
unable to compile app

#### Environment Information

- Device Name: my pc
- OS Version: windows 10
- Mattermost App Version: latest available ANDROID app
- Mattermost Server Version: latest available

#### Steps to reproduce
1follow instructions to set up dev environment attempting to compensate for lack of description for windows environment

#### Expected behavior
I expect the appli

[2018-06-25 22:32] andyseubert commented on #1829
npm WARN optional Skipping failed optional dependency /sane/fsevents:
npm WARN notsup Not compatible with your operating system or architecture: fsevents@1.2.4
npm WARN optional Skipping failed optional dependency /chokidar/fsevents:
npm WARN notsup Not compatible with your operating system or architecture: fsevents@1.2.4
npm WARN commonmark-react-renderer@4.3.3 requires a peer of commonmark@^0.27

[2018-06-25 22:34] andyseubert commented on #1829
I tried again using the linux sub-system for windows and got this error
[npm-debug.log](https://github.com/mattermost/mattermost-mobile/files/2134940/npm-debug.log)

[2018-06-25 22:59] andyseubert commented on #1829
ok maybe progress; now unable to resolve dependencies:

Unable to resolve dependency for ':app@unsigned/compileClasspath': Could not resolve project :react-native-document-picker. Open FileShow Details |  
-- | --
Unable to resolve dependency for ':app@unsigned/compileClasspath': Could not resolve project :react-native-keychain. Open FileShow Details |  
Unable to resolve dependency for ':app@unsi

[2018-06-25 23:21] koxen commented on #1829
this is not officially supported

[2018-06-26 08:19] amir-khalili commented on #1815
We have this problem too!
Please help us....
It`s urgent :(

[2018-06-26 08:44] SHKonB612 commented on #1815
i have the same problem
i would be thankful if you please solve it

[2018-06-26 09:16] LidaEmadi commented on #1815
We have The same Problem too
We're glad to help us faster because it's very important
thanks

[2018-06-26 09:28] sorooshmh commented on #1815
i have this problem,please check it.Thanks.

[2018-06-26 09:35] melody80 commented on #1815
Please take action as soon as possible, it's urgent!
Thanks

[2018-06-26 12:51] sadsfae commented on #1812
@amyblais thanks for the response, I did indeed just see that update and it hasn't occurred since.  I'm closing this issue now.

[2018-06-26 12:51] #1812 closed

[2018-06-26 13:43] amyblais commented on #1815
Hey all, thank you for reaching out - we have created a ticket to fix this: https://mattermost.atlassian.net/browse/MM-11055

Can you help confirm if you didn't see this issue on v1.8?

[2018-06-26 13:55] amyblais commented on #1720
Hi @vukhanhtruong, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-06-26 13:55] #1720 closed

[2018-06-26 15:16] amyblais commented on #1799
Hey all! Letting you know that we are working on a 1.9.2 dot release which addresses the crash issue - I'll let you know when the dot release is out.

[2018-06-26 18:22] Ahmed-Ayman commented on #1815
it's working fine on 1.8
this is before resetting the cache.
![before](https://user-images.githubusercontent.com/15092932/41931476-8111c9ee-797e-11e8-8846-7e7f7af652c6.png)

and this one after the reset!
![after](https://user-images.githubusercontent.com/15092932/41931477-813b2d02-797e-11e8-95d6-abcb09edae0c.png)

[2018-06-26 22:03] amyblais commented on #1815
Thank you! Update: we are working on a 1.9.2 dot release which includes a fix for this issue. I'll let you know when the dot release is out. Stay tuned!

[2018-06-27 14:15] yatzy opened #1841 "Android app crashes when reopening"
#### Summary
Android app crashes when reopening

#### Environment Information

- Device Name: Samsung Galaxy S8
- OS Version: Android 8.0.0
- Mattermost App Version: 1.9.1 (Build 114)
- Mattermost Server Version: 4.10.0 (Build v4.10.0-1)

#### Steps to reproduce

Happened to me now couple of times this week. Basically when you open the app, change to couple of other apps and reopen the Mattermost,

[2018-06-27 17:32] enahum commented on #1015
done

[2018-06-27 17:32] #1015 closed

[2018-06-27 17:33] enahum commented on #1269
this is fixed.

thanks

[2018-06-27 17:33] #1269 closed

[2018-06-27 17:33] enahum commented on #1268
fixed

[2018-06-27 17:33] #1268 closed

[2018-06-27 18:07] amyblais commented on #1841
Hi @yatzy! Thank you for reaching out.

We are currently working on a v1.9.2 dot release which addresses this issue among other issues on v1.9 and v1.9.1 - I'll let you know when the dot release is out!

[2018-06-27 18:11] yatzy commented on #1841
Thank you for the information. Cheers!

[2018-06-27 22:51] amyblais commented on #1841
Hi @yatzy! v1.9.2 is now available.

[2018-06-27 22:53] amyblais commented on #1816
Hi @scrazy77! v.1.9.2 was just released to the app stores, so it should be available within a day or two.

[2018-06-27 22:53] amyblais commented on #1815
Hi all! v1.9.2 is now available!

[2018-06-27 22:54] amyblais commented on #1799
Hi all! We just released v1.9.2 to the app stores, so it should be available within a day or two.

[2018-06-27 23:17] abdelrahmanrifai commented on #1815
Thanks @amyblais for your cooperation. I can confirm that v1.9.2 is working fine!

Thanks again for the whole team for the prompt fix, well done! 🙌

[2018-06-27 23:17] #1815 closed

[2018-06-29 02:48] AkaiWell commented on #1816
Hi @amyblais v.1.9.2 still can't type Chinese.

[2018-06-29 02:57] scrazy77 commented on #1816
@amyblais v.1.9.2 still can't type Chinese.

[2018-06-29 06:55] membero commented on #1799
Same here. I logged in with 1.9.0, then it crashed with the same screenshot from bkarlson. 1.9.1 and 1.9.2 are crashing directly without error message. iOS 10.3.3 iPhone SE.

[2018-06-29 08:29] RubenVerborgh commented on #1799
@amyblais How about we take this step by step? I.e., first identify the potential problem, communicate it to us so we can help you verify, and then move over to a fix?

[2018-06-29 08:41] ashceryth commented on #1841
I had the same issue and can confirm that this has been resolved with the new release.

[2018-06-29 14:16] amyblais commented on #1816
Thanks! I've notified engineers about this.

[2018-06-29 16:24] enahum commented on #1799
Ok I believe here we have a set of different issues in fact:

1. Android crash saying `illegalArgumentException: on of 'message' or 'data' must be set` this should be fixed on 1.9.2 let us know if this is not the case
2. iOS Error saying: `NSDictionary setObject... ` should also been fixed on 1.9.2 but again let us know if that is not the case
3. iOS Error: `Signal 11 was raised (null)` or a `Sign

[2018-06-29 16:33] RubenVerborgh commented on #1799
Thanks for the details!

I'm opening 1.9.2 on IOS 10.3.3 and it closes without notification. Let me know how I can help.

[2018-06-29 17:01] enahum commented on #1799
@RubenVerborgh can you post a video?

[2018-06-29 17:29] enahum commented on #1799
one more question, what locale are you using? is the device using english or another locale? what about the logged in user?

@RubenVerborgh does this also happens if the user is logged out?

[2018-06-29 17:32] enahum commented on #1799
do you have data retention policies enabled?

[2018-06-29 19:48] RubenVerborgh commented on #1799
Not right now, but it looks as follows:
- Mattermost icon with a "3" counter
- Tap the icon
- White screen with Mattermost logo for 3 seconds
- Screen with blue bar at the top and gray icons / conversations
- App closes

There used to be an error message, but not anymore.

My guess is (because of the timing with the error message) that the app is trying to load a certain conversation, and that thi

[2018-06-29 19:51] enahum commented on #1799
Thanks for the above.

in the webapp you can go to

Account Settings -> Security -> View and Logout of Active Sessions

Find the session for the mobile device and select logout.

The next time you open the app it should log you out.

Another way would be uninstalling and reinstalling the app

[2018-06-29 19:53] RubenVerborgh commented on #1799
Done that multiple times, but that didn't help.

Just tried that, but still the exact same result as mentioned above.

[2018-06-29 22:23] amyblais commented on #1841
Sounds like the issue is fixed - however, @yatzy feel free to re-open this ticket if you still see the issue, and please open a new ticket if you see any other issues!

Thank you all!

[2018-06-29 22:23] #1841 closed

[2018-06-29 22:31] enahum commented on #1799
This PR #1860 attempts to fix that crash, I have a running app on an iOS iPhone 5s simulator running iOS 10.3.1 and so far so good, will leave it running for at least 12-18 more hours and see if I get a crash report or if it works fine.

I was able to install, open the app and login to a server without issues, switch channels, post messages , etc..

[2018-06-30 13:09] pwec opened #1862 "Hangs after bringing back from background"
#### Summary
When try to bring back from open apps list (or even just coming back from the list without switching to any other app in a mean time) app completely hangs (see [picture](https://www.dropbox.com/s/qd58k7i36f54pfx/Screenshot_20180630-134647_Mattermost.jpg?dl=0)) and needs to be killed before reopening

#### Environment Information

- Device Name: samsung galaxy note 8
- OS Version: andr

[2018-06-30 13:50] enahum commented on #1829
What version of node and npm are you using? I have not tried this on Windows really so no clue but what I can say for sure is that node 10.x won’t work

[2018-07-01 05:41] koxen commented on #1862
is the menu button responsive when the application bugs out?

[2018-07-01 11:21] pwec commented on #1862
Not at all. Only thing I can do is go to open apps list and close it, then
open it again from home screen.

On Sun, 1 Jul 2018, 06:41 Michał Odziemczyk, <notifications@github.com>
wrote:

[2018-07-02 10:49] passaseo commented on #1653
Hi, I have the problem of the status ok screen, on two android devices: tablet Android 7.0, and S9plus with Android 8.0. The server is mattermost.cern.ch, I cannot access with https, but it works with http. I logon through gitlab (the only option I have) , use the single sign screen, and after signin and status ok, nothing more.
I don't know the version of gitlab, I tried both mattermost version 1

[2018-07-02 15:30] amyblais commented on #1653
Hi @passaseo! Thank you for letting us know 👍

We have a ticket open here to investigate this issue: https://mattermost.atlassian.net/browse/MM-10573. We'll let you know updates on its progress.

[2018-07-02 15:53] passaseo commented on #1653
HI problem solved, together with the server administrator, I had to connect to a different (not the one for desktop) server, using https. thanks

[2018-07-03 15:18] amyblais commented on #1802
Hi @jfew! This is the part of the config that Elias was referring to: https://docs.mattermost.com/administration/config-settings.html#push-notification-contents. Changing that setting might help with the issue you are seeing.

[2018-07-04 08:36] ejo60 opened #1877 "Posts in groups on mattermost are incompletely displayed."
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Mattermost hides a part of a posting on an iphone.+

#### Environment Information

- Device Name: iphone
- OS Version: iOS 11.4
- Mattermost App Version: 1.9.2
- Mattermost Server Version: 5.0.0.

#### Steps to reproduce
Simply browse through posts in a

[2018-07-04 08:39] ejo60 commented on #1877
I modified the image because it did not open the way I expected.

[2018-07-04 13:38] amyblais commented on #1774
Hi @jekil, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-07-04 13:38] #1774 closed

[2018-07-04 13:39] amyblais commented on #1862
Hi all! Letting you know that we are working on a 1.9.3 dot release for this issue.

[2018-07-04 14:02] pwec commented on #1862
Excellent! Thanks.

On Wed, 4 Jul 2018, 14:40 amyblais, <notifications@github.com> wrote:

[2018-07-04 14:46] ejo60 commented on #1877
I'm using an iphone 7

[2018-07-04 22:46] amyblais commented on #1862
Hey @pwec! Letting you know that v1.9.3 is now released to the app stores and will be available to download in the next few days.

[2018-07-04 22:46] amyblais commented on #1816
Hey all! Letting you know that v1.9.3 is now released to the app stores and will be available to download in the next few days.

[2018-07-04 22:56] pwec commented on #1862
Thanks for info and for super quick reaction!

On 4 Jul 2018 23:46, "amyblais" <notifications@github.com> wrote:

Hey @pwec <https://github.com/pwec>! Letting you know that v1.9.3 is now
released to the app stores and will be available to download in the next
few days.

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://github.com/matterm

[2018-07-05 23:28] amyblais commented on #1877
Hi @ejo60! Thank you for reporting this.

I wasn't able to repro this but I'm on an v1.10 RC version - I'll check with the team on whether there is a way to test this on a 1.9 version.

I'll let you know the feedback!

[2018-07-06 02:42] avasconcelos114 opened #1895 "PDF file download still possible when enableMobileDownload is set to false"
#### Summary
PDF files can still be downloaded when an user accesses the file through separate viewer

#### Environment Information

- Device Name: iPhone 6s
- OS Version: iOS 11.4
- Mattermost App Version: 1.9.2
- Mattermost Server Version: 5.0

#### Steps to reproduce
1. Set `enableMobileDownload` to `false` on the server's `config.json` file
2. Upload a PDF file on a channel
3. Through the mobi

[2018-07-06 08:12] membero commented on #1799
Version 1.9.3 did not fix the issue. Still crashes on start. No changes to version 1.9.1 or 1.9.2. iOS 10.3.3 iPhone SE.

I helped me now with installing mattermost classic.

[2018-07-06 08:25] mzed opened #1896 "Doesn't handle bad https"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
I can't connect to our private mattermost server via the android client.

#### Environment Information

- Device Name: Pixel
- OS Version: Android 8.1.0
- Mattermost App Version: 1.9.3, and Beta 1.10.0
- Mattermost Server Version: 4.10.1

#### Steps to

[2018-07-06 08:47] IchHabRecht commented on #1799
Same for me. App still crashes after start. Uninstall, re-login nothing seems to help. Don't know why it is not possible to release a version that fixes all problems. Shouldn't be that hard to test before. I'm on iPhone 6s plus with ios 10

[2018-07-06 11:44] dxball commented on #1799
Update to 1.9.3 still crash, reinstall did not help.
iPhone SE, iOS 10.3.3

[2018-07-06 12:41] nmatt commented on #1799
Same here.

[2018-07-06 13:17] amyblais commented on #1799
Hey all! Thank you for reporting this.

We just released v1.10 beta version (124) to the app stores which includes further fixes for this issue. It should be available soon.

Here is the PR that went in to fix this: https://github.com/mattermost/mattermost-mobile/pull/1889

Apologies for all the inconvenience!

[2018-07-06 13:46] IchHabRecht commented on #1799
@amyblais I would love to test the current beta, but unfortunately the registration for iOS seems to be down. Would you mind to check that?

[2018-07-06 14:59] amyblais commented on #1877
Hi @ejo60!

I'm not able to reproduce this on the same environment - would you have any further details on the situation around the issue, e.g.

1. what types of channels you are seeing this on (DMs, public channels, etc.)?
2. does it happen when you come to the app after clicking on a push notification?
3. do those posts ever look normal, e.g. after a refresh or logging out?

[2018-07-06 16:42] amyblais commented on #1877
Hi @ejo60! Thank you for the additional details.

We are currently working on testing for 1.10 beta (and server v5.1), so I'll keep an eye on this for a few days (also on 1.9.x).

[2018-07-06 19:02] amyblais commented on #1896
Hi @mzed! Thank you for reporting this.

I'll ask our RN team about this.

[2018-07-06 19:02] amyblais commented on #1895
Hi @avasconcelos114! Thank you for reporting this.

I'll ask our RN team about this.

[2018-07-06 22:32] amyblais commented on #1802
Hi @jfew, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-07-06 22:32] #1802 closed

[2018-07-07 07:38] IchHabRecht commented on #1799
I tested the beta yesterday. Unfortunately the problem still remains.

[2018-07-07 11:53] enahum commented on #1799
Hi @IchHabRecht and everyone else on this thread

Sadly we haven’t been able to replicate this behavior which basically makes it impossible to fix

Can you please provide as much detail as possible so that we can try and pinpoint the issue.

Things like device type/model, os version, screenshots, video recording, exact steps taken to repro the issue.

There is an ongoing conversation in the [nativ

[2018-07-07 12:01] RubenVerborgh commented on #1799
@enahum Regardless of the specific issue, the fact that the app closes without any message makes this also hard. I'd assume that a global try/catch could at least help with that.

[2018-07-07 12:29] enahum commented on #1799
Ruben would it be possible for you to setup a dev environment? Maybe that can be of help as you get this issue and I don’t??

[2018-07-07 12:30] RubenVerborgh commented on #1799
Unfortunately, I'm a bit overloaded right now. Might be able to do that later.

[2018-07-09 16:37] amyblais commented on #1896
Hi @mzed! I apologize for late reply!

For issues with "Cannot connect to server", it's usually an issue with either the server URL or the certificate - here is further information: https://docs.mattermost.com/mobile/mobile-troubleshoot.html#i-keep-getting-a-message-cannot-connect-to-the-server-please-check-your-server-url-and-internet-connection.

Here is further information on certificates - it

[2018-07-10 12:39] amyblais commented on #1829
Hi @andyseubert, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-07-10 12:39] #1829 closed

[2018-07-10 14:42] Gubbydvl commented on #1799
I've noticed another thing today, maybe it's worth mentioning.
In my previous comment I've stated that it seems I am logged in because I've received notifications. But.
Today I've tried another thing. Go to iPhone Images -> Send Image -> Mattermost -> and it told me I wasn't logged in and I need to Login within the app before I can send an image to it.. so .. maybe the crash happens when trying to

[2018-07-10 14:52] enahum commented on #1799
Well we actually submitted a PR yesterday about the app crashing cause of an issue with authentication, it should be ok with release of 1.10

[2018-07-10 23:54] lindalumitchell commented on #1895
@amyblais @avasconcelos114 we filed https://mattermost.atlassian.net/browse/MM-11286 to track this.

[2018-07-11 11:40] IchHabRecht commented on #1799
New testflight release crashes without any message. Tried to deinstall/install and logout/login again. Nothing seems to help.

[2018-07-11 11:49] enahum commented on #1799
Is that build 125?

[2018-07-11 12:03] IchHabRecht commented on #1799
Build 1.10.0 (125)

[2018-07-11 12:57] enahum commented on #1799
@IchHabRecht I'm really running out of ideas here.

Can I ask you to try this:
1. Go into the TestFlight app
2. Select the Mattermost Beta app so it takes you to the app details
3. Select Previous Builds
4. Install the latest 1.8.0 version, I believe it is build 104
5. Open the 1.8.0 app to see if it also crashes

Thanks

[2018-07-11 13:20] IchHabRecht commented on #1799
@enahum Indeed it crashes if I about the touch ID alert and loads forever if I confirm touch ID. It worked without any issues before 1.9.x upgrades. I even uninstalled all versions and tried to install again. Anything I have to do to clean up temp files or something like that?

[2018-07-11 13:40] saturninoabril commented on #1799
Hi @IchHabRecht and everyone, I'm on iOS as well but didn't encounter app crash.  I'm just throwing idea here hoping to get some leads on the issue.  I'm thinking something like backwards compatibility issue that might have been introduced.
With that, is it possible to share your server config (just redact sensitive info)?

[2018-07-11 13:45] kars10 commented on #1799
I've been experiencing similar crashes on my iPhone SE running iOS 10.3.3.  The app is crashing on launch, with either Signal 6, 11, or simply a black screen, on all of these versions:
Mattermost Beta Version 1.10.0 (125)
Mattermost Beta Version 1.10.0 (124)
Mattermost Beta Version 1.9.3 (122)
Released version 1.9.3 (from AppStore)

I looked through the comments above and noticed a trend of iPhone

[2018-07-11 13:48] IchHabRecht commented on #1799
I can confirm I'm using 10.3.3 but there is no chance for me to update iOS to current version 11. IHMO the mattermost app should work on iOS 10.3.3 as well, shouldn't it?!

[2018-07-12 21:56] Franck0d commented on #1799
Hello. Here is my issue #2135 posted on the wrong thread on July 6th.

 Hello, since the last update on iOS 10.3.3 (iPhone 5) the app quits when I try to open it.
The number of non read message is still appearing.
I have tried to remove the app en reloaded it but no change.
Can anybody help?

Since, the release 1.10 Is out and no change.

[2018-07-13 17:07] jfchevrette commented on #1672
This seem to be the same bug: https://github.com/facebook/react-native/issues/19434

I ran the reproducer using Expo on my device running DP4 and the scrolling behaviour is the same.

[2018-07-13 20:04] IchHabRecht commented on #1799
For me the current TestFlight version 127 is finally working again 👻

[2018-07-13 21:29] enahum commented on #1799
Really glad to hear it, can the others confirm as well so we can close this issue?

[2018-07-13 21:49] vRobM commented on #1799
only close this once the app store version works for most.

++ Rob

About me <https://remote.com/r>

On Fri, Jul 13, 2018 at 2:29 PM, Elias Nahum <notifications@github.com>
wrote:

[2018-07-14 01:35] dxball commented on #1799
How to install the TestFlight version?

[2018-07-14 02:52] enahum commented on #1799
The app will be submitted to the store on Monday I believe.

@dxball in the readme file there is a link to signup as a beta tester

[2018-07-16 01:55] dxball commented on #1799
@enahum I would like to test the Beta version, but the [link](https://mattermost-fastlane.herokuapp.com/) to signup as iOS beta tester don't work.
Page shows
[code]

[2018-07-16 13:09] enahum commented on #1799
@dxball the link should be back up now

[2018-07-16 15:34] membero commented on #1799
I can also confirm that 1.10 Build 127 fixed this issue with iOS 10.3.3 on iPhone SE. Thanks!

[2018-07-16 16:43] dxball commented on #1799
After install the Build 127 from TestFlight, the app can open on my iPhone SE (iOS 10.3.3)

[2018-07-17 21:22] Franck0d commented on #1799
Hello,

Does any body has tested it on an iPhone5 (iOS10.3.3)?
When will be available the official final build?
Franck

	Construisons ensemble l’avenir énergétique de notre région.

Franck DUMONTIER
+ 33 (0)608 845 608
www.lasolairedulac.fr <http://www.lasolairedulac.fr/>
Facebook : La Solaire du Lac <https://www.facebook.com/LaSolaireduLac/>
Twitter : @LaSolaireduLac <https://twitter.com/LaSolair

[2018-07-18 01:49] nmatt commented on #1799
Works for me, thanks!

[2018-07-18 03:19] vRobM commented on #1799
This issue now seems resolved.

Please post a reason, fix and close the issue.

++ Rob

About me <https://remote.com/r>

On Tue, Jul 17, 2018 at 6:49 PM, nmatt <notifications@github.com> wrote:

[2018-07-18 11:18] licaon-kter commented on #1356
And again for 1.10.0

[2018-07-18 13:10] enahum commented on #1799
The fix for this was made on the react-native-fetch-blob fork that was trying to fetch a client certificate file from the keychain using a specific query when connecting the WebSocket, that API behaves a little bit different in iOS 10.3 and iOS 11, iOS 11 handles it properly and iOS 10.3 throws an error that was not being handled

[2018-07-18 13:10] #1799 closed

[2018-07-18 13:17] amyblais commented on #1816
Hey all, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-07-18 13:17] #1816 closed

[2018-07-18 13:19] amyblais commented on #1862
Hi @pwec, I'll close this Issue for now as there haven't been updates in the past few weeks.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-07-18 13:19] #1862 closed

[2018-07-18 15:19] pwec commented on #1862
I can confirm that issue is solved for me. Thanks

On Wed, 18 Jul 2018, 14:19 amyblais, <notifications@github.com> wrote:

[2018-07-18 20:37] Franck0d commented on #1799
Yes!! it works!

Good job.
Thanks

[2018-07-19 02:37] danleepw opened #1935 "Timestamp of messages are not shown in local timezone"
The timestamp of messages are not shown in local timezone.

Server Version: 4.10.0 (Build 4.10.1)
App Version: 1.10.0 (Build 127)
App Platform: android

#### Expected behavior
The timestamp of messages are shown in local timezone

#### Observed behavior
The timestamp of messages are shown in UTC

[2018-07-19 10:43] bertramr commented on #1896
Also a problem at our site.

[2018-07-19 12:41] amyblais commented on #1935
Hi @danleepw!

This might be due to a new Timezone feature that was added. Can you go to Account Settings > Display > Timezone and check what the timezone is set to? (You might need to do this on browser / webapp)

[2018-07-19 14:57] danleepw commented on #1935
Hi @amyblais

I can't find this setting in mattermost on browser

My Mattermost server version is 4.10.1

[2018-07-19 15:04] amyblais commented on #1935
Hi @danleepw! The timezone feature is available on 4.10 - it's possible that it has been disabled by your System Admin in the Console. Here is the setting: https://docs.mattermost.com/administration/config-settings.html#timezone.

Would you be able to ask an Admin on your system to check if that setting is enabled or disabled?

[2018-07-19 15:22] danleepw commented on #1935
Hi @amyblais ,

My mattermost web interface is showing correct timezone without any setting. It seems the web and mobile behavior are not in-sync

[2018-07-19 15:58] amyblais commented on #1935
I checked with the team about the new timezone feature and one reply was:

"It is picking the timezone automatically based on device settings.  My guess is that the user has OS timezone preferences that do not match what he's expecting. Because it's getting locale data from the OS. Also worth noting that his desktop/webapp can play a role. If the locale settings is different from mobile they would

[2018-07-19 17:51] danleepw commented on #1935
I have a message which was sent at GMT 16:11. Then, I tried to manually change my android phone to different timezones. Here are the timestamps shown:

London (GMT +1, British Summer Time) -> 17:11
Hong Kong (GMT +8, Kong Kong Standard Time) -> 16:11
Toyko (GMT +9, Japan Standard Time) -> 01:11
Seoul (GMT +9, Korean Standard Time) -> 16:11
Sydney (GMT +10, Australian Eastern Standard Time) -> 16:1

[2018-07-19 21:31] dmittr commented on #1935
Looks like time calculation is wrong.

**My setup**
Server (CentOS 7.4, Mattermost v. 5.1.0) timezone
[code]
Desktop client v. 4.1.2 (Ubuntu) - same time-zone settings as server-side
Mobile app v. 1.10.0 - same time-zone settings as server-side
**What i see**
Desktop client - correct time (19:54, 21:56) https://i.imgur.com/3YldI2M.png
Mobile client - wrong time (9:54, 11:56) https://i.imgur.com/HQ

[2018-07-20 07:31] enahum commented on #1935
Fyi @miguelespinoza

[2018-07-20 14:12] amyblais commented on #1877
Hi @ejo60! We haven't been able to repro this, would you like to update to the latest app version (v1.10, build 127) to see if the issue is resolved?

[2018-07-20 14:16] ejo60 commented on #1877
Ok I will

[2018-07-21 13:12] enahum commented on #1799
@sounance thanks for the report, definitely something that we might have omitted, I’ll look into this when I have a chance.

I have created a ticket for this https://mattermost.atlassian.net/browse/MM-11445

[2018-07-21 19:20] drzraf commented on #566
Any plan to provide an alternative to GCM?
Couldn't MTTQ be a promising alternative protocol?
AFAIU https://github.com/mattermost/mattermost-webrtc/blob/master/Dockerfile#L32 uses https://github.com/meetecho/janus-gateway `--disable-mqtt` (which would otherwise provide support for MQTT using https://www.eclipse.org/paho/clients/c/)

But couldn't https://github.com/mattermost/mattermost-push-proxy

[2018-07-23 12:40] amyblais commented on #1896
Hi @mzed, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-07-24 10:01] mzed commented on #1896
IAs I said in my report, we did have a legitimately misconfigured certificate. As a feature request, it would be great if there was, at least, an error message to that effect. Ideally, users could continue on if they knew the certificate was ok.

[2018-07-24 20:21] amyblais commented on #1896
Hi @mzed - makes sense, would you like to help open [a feature request](https://mattermost.uservoice.com/forums/306457-general) and upvote it! I also found this [existing feature request](https://mattermost.uservoice.com/forums/306457-general/suggestions/13210239-ios-and-android-apps-should-allow-users-to-bypass) that sounds similar to what you are requesting.

[2018-07-26 07:53] paddatrapper opened #1943 "Back button does not close application on Android"
#### Summary
Pressing the back button does not close the application

#### Environment Information

- Device Name: Samsung J5 Pro (SM-J530F)
- OS Version: Android 7.0
- Mattermost App Version: 1.10.0 (Build 127)
- Mattermost Server Version: 5.1.0

#### Steps to reproduce
Open the app, press the hardware back button

#### Expected behavior
It should close the application

#### Observed behavior
Not

[2018-07-26 12:02] amyblais commented on #1943
Hi @paddatrapper!

This will be fixed in v1.11, here is a ticket you can follow for the fix: https://mattermost.atlassian.net/browse/MM-11381.

[2018-07-26 12:03] paddatrapper commented on #1943
@amyblais thanks a lot!

[2018-07-26 16:41] josh-torrey opened #1946 "Push notifications not reaching mobile devices when using cellular network"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Push notifications are not reaching mobile devices (both iOS and Android clients) when using cellular data ONLY. Push notifications work normally when the device is connected to the internet via wifi, and old notifications that were missed (while using

[2018-07-26 17:53] hmhealey commented on #1756
This was actually fixed in Mattermost 5.0 by https://github.com/mattermost/mattermost-server/pull/8949. If you're using the bundled Mattermost instance, the latest version of GitLab now ships with Mattermost 5.0

[2018-07-26 17:53] #1756 closed

[2018-07-26 18:10] amyblais commented on #1935
Hi @dmittr - Have you enabled the [experimental timezone](https://docs.mattermost.com/administration/config-settings.html#timezone) settings on your server?

[2018-07-26 19:15] josh-torrey commented on #1946
Hi @amyblais - thanks for the quick follow-up.

I can confirm that data usage was/is enabled for the Mattermost App on my device, which was affected by this push notification issue.

We are experiencing a situation where push notifications were working normally for a while (on the 4.9 release), but at some point this changed. Unfortunately I cannot specify when exactly push notifications started t

[2018-07-27 16:40] wildloop commented on #1512
Workaround: you can clone Mattermost App using https://play.google.com/store/apps/details?id=com.applisto.appcloner&hl=pl and have many apps - one per server - it's working for me :)

[2018-07-27 16:51] Thoro opened #1951 "Inline Images with a size constraint are not rendered"
#### Summary
When posting an inline image link with a size constraint in a channel, the mobile app is rendering the plain text.

#### Environment Information

- Device Name: iPhone X
- OS Version: 11.4.1
- Mattermost App Version: 1.10.0 (Build 127)
- Mattermost Server Version: 5.1.0

#### Steps to reproduce
Insert a link like so into a post

[code]

#### Expected behavior
That the image is display

[2018-07-27 17:45] amyblais commented on #1951
Thanks for reporting this @Thoro! I'll test it out and report back if I can repro.

[2018-07-27 17:46] amyblais commented on #1946
Thanks @josh-torrey! I'll test it out and see if I can repro.

[2018-07-27 21:32] amyblais commented on #1946
Hi @josh-torrey! I wasn't able to repro this on v5.0 and v5.1 - would you be able to do a few tests on our build server in case the issue is something to do with the server version: https://pre-release.mattermost.com/login.

Also, my OS version is 11.4, can you help confirm if all affected users are on 11.3 or if they have different versions?

[2018-07-28 17:43] trash-anger commented on #1512
Great work around ! Thank you !
[image: cid:image001.png@01D1BDB6.89818780]
Florian Frouin
*Promotion digital medias 2018 *
+33 (0)6 71 33 51 64

*École supérieure des technologies de l’information appliquées aux métiers*

On Fri, Jul 27, 2018 at 6:40 PM wildloop <notifications@github.com> wrote:

[2018-08-01 14:26] dmittr commented on #1935
Thanks to @amyblais for pointing me solution. After setting ExperimentalTimezone mobile clients able to turn off automatic time-zone.

[2018-08-01 14:38] danleepw commented on #1935
hi @amyblais , could you give us more info about that? So, the only solution is to enable  experimental timezone settings on server?

[2018-08-01 14:42] amyblais commented on #1935
It could be a solution, would you be able to try it out? If it doesn't help resolve the issue, can you help with details on your Android OS version?

[2018-08-01 15:14] danleepw commented on #1935
i can't try that setting on server. Actually, that issue just occurred after upgrading mattermost app. Is it also related to server-side? My Android version is 8.0.0

[2018-08-01 15:53] danleepw commented on #1935
@amyblais , sorry that I don't quite understand the situation. If the feature is disabled by default, why does it bring the impact when using with server which doesn't enable the "experimental timezone"? On the other hand, if "experimental timezone" must be enabled on server in order to make the app correctly working, then it shouldn't be "experimental", right?

[2018-08-02 15:26] PromoFaux commented on #1672
@amyblais Might be some movement on an alternative according to [this comment](https://github.com/facebook/react-native/issues/19434#issuecomment-408858552)

[2018-08-03 09:08] dbrgn commented on #566
Note that implementing custom push channels is really challenging on newer Android devices (especially Chinese flavors like Xiaomi and Huawei) because of all the energy management functionality, doze mode etc.

Most probably you'll get a lot of complaints of pushes not arriving because the network connection or the push service was killed in the background.

If you provide a version without GCM in

[2018-08-07 15:53] APengue1 commented on #1672
I have found a workaround to this issue until it can get fixed.

Phone: Pixel XL
Build: 9.0.0 (PPR1.180610.009, Aug 2018)
Mattermost Version: 1.10.0

With your scroll finger, scroll slightly and keep your finger in contact with the screen.
Take any other finger (best if on different hand) and keep it in contact with the screen.
You can now scroll normally with your scroll finger.
This allows you t

[2018-08-08 08:09] anhhangxom0610 opened #1983 "How can I build and run this app on window 10"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
 Unable to resolve module `app/actions/views/login`  on window 10
#### Environment Information

- Device Name: MI LTE4
- OS Version: Window 10
- Mattermost App Version: Lastest
- Mattermost Server Version:Lastest

#### Steps to reproduce
How can we repr

[2018-08-08 11:36] enahum commented on #1983
Node and npm version?

[2018-08-08 12:54] amyblais commented on #1896
Hi @mzed, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-08-08 12:54] #1896 closed

[2018-08-08 12:56] amyblais commented on #1877
Hi @ejo60! Checking in - has the issue been reproducing on the latest version?

[2018-08-08 15:50] ejo60 commented on #1877
Next I restarted the mattermost app, problem gone.

Sent from my iPhone

[2018-08-08 16:33] sherpya commented on #701
still happens with mattermost 5.1.0 and android app 1.10.0, It happens if I enable email login and gitlab together, temporary disabling email login made my app login work

[2018-08-08 16:44] enahum commented on #701
Can you make sure your server url and the redirect url from your oauth matches?

[2018-08-09 07:04] dylan-chong opened #1988 "iOS 9 app crash on open"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Issue in one concise sentence.

#### Environment Information

- Device Name: iPhone 5s
- OS Version: 9.3.3
- Mattermost App Version: 1.10.0
- Mattermost Server Version: not relevant since I can't login

#### Steps to reproduce

Download the app on an iO

[2018-08-09 12:43] amyblais commented on #1988
Hi @dylan-chong! Thanks for reaching out.

@enahum do you have access to the full iTunes crash log?

[2018-08-09 12:47] enahum commented on #1988
I do, but there is nothing in there for an iPhone 5s iOS 9.3.3, at least not for the 1.10.0 version.

[2018-08-09 12:49] amyblais commented on #1988
@dylan-chong Are you using build version 127?

[2018-08-09 20:17] dylan-chong commented on #1988
I am using the latest version from the App Store

By the way, I've just disabled and re enabled the 'share with app developers' privacy setting, so hopefully that helps it to show up now  on iTunes connect

[2018-08-10 06:16] emilioagustin opened #1991 "Not connecting to server url"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Can not connect to a valid server, returns Can not connect to the server

#### Environment Information

- Device Name: Galaxy S9+
- OS Version: Oreo 8
- Mattermost App Version: Latest
- Mattermost Server Version: Unkown

#### Steps to reproduce
I instal

[2018-08-10 12:03] BenjaminAupetit commented on #1991
Similar problem here : it can not connect to a valid server.
It displays the string name "mobile.server_ping_failed" in my langage.

**Environment Information**
- Device Name: Galaxy A5
- OS Version: Oreo 8
- Mattermost App Version: Latest from Google Play
- Mattermost Server Version: 5.1.0

[2018-08-10 13:12] amyblais commented on #1877
Hi @ejo60, we did have this ticket open to investigate this but it was closed because we haven't been able to reproduce the issue: https://mattermost.atlassian.net/browse/MM-11573. I'll check with team if the ticket should be re-opened for further investigation.

[2018-08-10 13:29] amyblais commented on #1991
Hey all, thanks for reaching out 👍

Can you help take a look at this section in our docs for troubleshooting tips: https://docs.mattermost.com/mobile/mobile-troubleshoot.html#i-keep-getting-a-message-cannot-connect-to-the-server-please-check-your-server-url-and-internet-connection.

[2018-08-10 23:53] ffuentes commented on #1935
Confirmed too in app v1.11.0 build 129.

Server Version: 5.1.0 (Build 5.1.1)
App Version: 1.10.0 (Build 129)
App Platform: android

[2018-08-12 04:07] Mouthik opened #1998 "How to connect to a server?"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Issue in one concise sentence.

#### Environment Information

- Device Name:
- OS Version:
- Mattermost App Version:
- Mattermost Server Version:

#### Steps to reproduce
How can we reproduce the issue?

#### Expected behavior
Describe your issue in det

[2018-08-13 12:40] amyblais commented on #1998
Hi @Mouthik, would you be able to provide the above additional details so that we can troubleshoot the issue?

[2018-08-13 14:59] amyblais commented on #1988
@enahum Do you see crash reports for this now?

[2018-08-13 15:03] enahum commented on #1988
Yes I got the report now.. we can take a closer look but it seems to be a Native RN causing the crash, we could look into it to see if we can fix it although I would recommend updating the OS

[2018-08-13 23:41] amyblais commented on #1946
Hi @josh-torrey, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-08-13 23:41] #1946 closed

[2018-08-14 10:59] sjstyle commented on #1988
My teammate experienced same problem, and I fixed it. (It was crashed on iPhone 6, iOS 9.3.5)
I will create PR if you don't mind.

[2018-08-14 11:15] sjstyle commented on #1935
Server version 4.7.3 also makes happens.
App Version 1.10.0 shows wrong timezone (in android)
App Version 1.9.0 shows correct timezone.

[2018-08-14 11:25] enahum commented on #1988
@sjstyle please submit the PR and mention me once you do so I can review it, there are a couple more days to cut the next release so having this soon will help.

Thank you

[2018-08-14 17:09] miguelespinoza commented on #1935
Hey everyone, sorry for the late response.
I agree, when an experimental feature is disabled by default it should not impact the client.
Seems an issue occurred specifically to Android devices.

@enahum, it would be cool if you could add a link to the issue that fixed it so I can take a look at what was missed.

[2018-08-14 17:10] enahum commented on #1935
https://github.com/mattermost/mattermost-mobile/pull/1982

the problem is the toDateLocaleString

[2018-08-15 17:41] ibot3 opened #2009 "Android client shortens names too early (OnePlus 6)"
#### Summary
The Layout was fine on my OnePlus 5, but on my OnePlus 6 (bigger display), the mattermost app shortens channel and usernames that are already short enough.

#### Environment Information

- Device Name: OnePlus 6
- OS Version: Android 8.1.0
- Mattermost App Version: 1.10.0 (Build 127)
- Mattermost Server Version: 5.1.0

#### Steps to reproduce
Use App on OnePlus6

#### Expected behavio

[2018-08-15 18:26] amyblais commented on #2009
Hi @ibot3! Thank you for reporting this - we're releasing v1.11 tomorrow and I'm wondering if you'd like to test this out with the newest release in case it includes a fix for this issue?

[2018-08-16 15:18] lindalumitchell commented on #1988
I just did some testing on a device on iOS 9.3.5, on build 132 of the app, and no crashing so far. 👍

[2018-08-17 13:02] Grummfy opened #2016 "Can't connect on a subdirectory"
#### Summary
Install mattermost inside a subdirectory like https://example.tld/mattermost/ and the app will not be able to connect.

#### Environment Information
- Device Name: One Plus 5
- OS Version: Android 8.1.0
- Mattermost App Version: 1.11.0
- Mattermost Server Version: 5.1.0

#### Steps to reproduce
Install mattermost inside a subdirectory like https://example.tld/mattermost/ and the app w

[2018-08-17 17:32] amyblais commented on #2016
Hi @Grummfy, thank you for reporting this 👍

I'm wondering if this is a backwards compatibility issue as I couldn't find a ticket related to this issue and this feature was well tested last release. I'll ask our QAs for help in testing this and we'll let you know the feedback.

[2018-08-17 21:59] amyblais commented on #2016
Hi @Grummfy,

Our QAs tested this and weren't able to repro the issue.

Are you seeing any errors in logs from around the time the issue occurs?

[2018-08-19 19:01] #2016 closed

[2018-08-19 19:02] Grummfy commented on #2016
in fact, it's a network error, bad configuration from my side. Sorry for the error and thanks for the work

[2018-08-20 05:54] coderafei opened #2022 "ui bug"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
![image](https://user-images.githubusercontent.com/4183342/44322553-6c077f80-a480-11e8-93ed-a9dd39edc54c.png)

this is a black area appear on bottom of screen

#### Environment Information

- Device Name: Xiaomi 8
- OS Version:
- Mattermost App Version:

[2018-08-20 13:50] amyblais commented on #2022
Hi @coderafei, thank you for reaching out.

I believe the black bar is the phone’s menu, not part of the Mattermost app. Example in the screenshot below - let me know if this makes sense.

![img_0084](https://user-images.githubusercontent.com/29708087/44344308-61d48980-a45e-11e8-922d-b7cde9157198.JPG)

[2018-08-20 14:11] coderafei commented on #2022
![image](https://user-images.githubusercontent.com/4183342/44345423-e73f5480-a4c5-11e8-9ee2-62ac00d528f3.png)
it just black area
blow is phone's menu

[2018-08-20 14:28] amyblais commented on #2022
What is your Mattermost server version (it can be found in the app settings)?

Also, we have just released app v1.11, which will be available to download in the next few days - would you like to test on that version (in case a bug related to this has been fixed on the latest version)? You can also sign up as a beta tester here to test on the latest version: https://play.google.com/apps/testing/com

[2018-08-20 15:46] hmhealey commented on #2022
Also, what device are you using, and what version of Android do you have?

[2018-08-21 06:36] coderafei commented on #2022
@amyblais ok, i will try new version
@hmhealey Xiaomi 8 with android 8.1.0

[2018-08-21 12:01] amyblais commented on #1935
Great to hear it, I'll close this Issue for now then,

[2018-08-21 12:01] #1935 closed

[2018-08-21 15:42] paddatrapper commented on #1943
Fixed in v1.11

[2018-08-21 15:42] #1943 closed

[2018-08-21 16:20] rugk commented on #566
@dbrgn Hi, totally impossible to guess, where you have that knowledge/experience from… :smile:

[2018-08-22 12:05] prodigy7 opened #2027 "Office 365 integration"
Maybe i'm too fast with my ticket (if yes, i think a small answere will solve it) but today we test mattermost 5.2 with O365 integration. So far, so good but in the mobile app I got not possibility, login with O365 account. I configured our system allow login by mail or O365 and got the message, I should login with O365 when I try my O365 mail address.
Feature already in the queue? Tried it with m

[2018-08-22 23:15] #1877 closed

[2018-08-22 23:16] amyblais commented on #1983
Hi @anhhangxom0610, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-08-22 23:16] #1983 closed

[2018-08-23 09:34] coderafei commented on #2022
new version not fix this

[2018-08-23 18:43] amyblais commented on #2009
@ibot3 Sorry about that! I've asked our QAs to help test this out.

[2018-08-23 22:55] amyblais commented on #2022
Hi @coderafei,

Our QAs are not able to reproduce this - are other screens in the app showing the same issue (e.g. other than the channel view screen)?

[2018-08-23 22:56] amyblais commented on #2009
Hi @ibot3,

Our QAs are not able to reproduce this - are other screens in the app showing the same issue (e.g. other than the channel view screen)?

[2018-08-24 03:32] coderafei commented on #2022
yes all screen

[2018-08-24 09:04] #972 closed

[2018-08-24 09:47] ibot3 commented on #2009
No, it only happens when viewing a channel.

[2018-08-24 09:53] licaon-kter commented on #1356
And for 1.11.0 again

Fixing #566 would help 👉👍

[2018-08-24 13:29] amyblais commented on #2022
Hi @coderafei, can you help take a look at the tips on this page for a possible solution: https://stackoverflow.com/questions/43126544/optimise-android-apps-for-phones-with-the-new-ratios-like-the-s8-18-59?

Here is also an article that seems to be related: https://economictimes.indiatimes.com/magazines/panache/the-189-display-dilemma-will-the-new-smartphone-screens-make-our-lives-easier-or-do-the

[2018-08-24 13:30] amyblais commented on #2009
Hi @ibot3, this seems to be an issue on the RN side - you can follow it here: https://github.com/facebook/react-native/issues/15114.

[2018-08-24 15:12] amyblais commented on #1951
@hmhealey PR here: https://github.com/mattermost/commonmark.js/pull/4

[2018-08-24 15:46] amyblais commented on #1356
@enahum

[2018-08-24 15:48] enahum commented on #1356
published

[2018-08-24 15:48] enahum commented on #1356
https://github.com/mattermost/mattermost-mobile/releases/tag/v1.11.0

[2018-08-25 12:36] matterkit commented on #1624
Thanks @dbarden  ...Can we have this in the ReadMe ?

https://github.com/mattermost/mattermost-mobile/issues/1624#issuecomment-391249799

[2018-08-27 08:06] H3npi commented on #1672
Got the same issue on a Pixel 2 XL

App Version: 1.11.0 (Build 133)
Server Version: 5.2.0 (Build 5.2.1)
Database: mysql
Android Version: 9
Build number: PPR1.180610.009

[2018-08-27 13:13] amyblais commented on #2022
Hi @coderafei,

We created a ticket for this here: https://mattermost.atlassian.net/browse/MM-11846.

Our devs are taking a look if they are able to fix it - however, since we're not able to reproduce the issue, we're not able to effectively test if the fix works. Hence, we're wondering if you'd be able to help with testing and/or fixing of the issue? We're able to send you an apk file and give gu

[2018-08-27 13:14] amyblais commented on #2009
Hi @ibot3,

We created a ticket for this here: https://mattermost.atlassian.net/browse/MM-11845.

Our devs are taking a look if they are able to fix it - however, since we're not able to reproduce the issue, we're not able to effectively test if the fix works. Hence, we're wondering if you'd be able to help with testing and/or fixing of the issue? We're able to send you an apk file and give guidan

[2018-08-27 15:08] amyblais commented on #2022
Thank you! Do you have an idea on how to get started if you attempt to fix it?

One of our developers set up an emulator with a resolution of 1080x2160 and wasn't able to reproduce this yet.

[2018-08-27 21:57] hmhealey commented on #1951
@Thoro Thanks for the report and PR. I'll take a look at those tomorrow morning.

I wouldn't worry about getting the images to render on the same line as each other(RN doesn't like mixing text and non-text) or having them render at the specified dimensions on mobile due to the limited screen size, but as long as we can get them rendering at all, that'll be a big improvement

[2018-08-28 06:26] Thoro commented on #1951
Actually it would be really nice to get the size also working, my use case is to use mattermost as a deployment channel, and i‘m using icons with 2x res as images and would love to have crisp icons on the iphone

I tried to touch the react natice code, but have no idea what‘s going on, also it seems that not all tests are passing, which is even more confusing!

[2018-08-29 10:45] ibot3 commented on #2009
Yes, I am interested.

[2018-08-29 13:09] amyblais commented on #2009
Awesome! Do you have an idea on how to get started if you have a chance to help with a fix?

Our devs will also investigate a fix for this, but it might not make it to v1.12 as we haven't been able to reproduce this internally yet.

[2018-08-29 22:56] koxen commented on #2022
@coderafei @amyblais you can fix it by going to 'fullscreen settings' in system settings (not sure how it's exactly in english locale) and switch on Mattermost :)

[2018-08-30 05:05] coderafei commented on #2022
@koxen amazing, it's "全面屏" in chinese at system setting, turn it on and fixed this 👍

[2018-08-30 05:05] #2022 closed

[2018-08-30 12:36] hmhealey commented on #2022
Nice find, @koxen! I'm not surprised that it's a device-specific issue since those are hard to debug without owning the exact device, so huge thanks for your help.

[2018-08-30 13:39] licaon-kter opened #2057 "Inactive users are not marked as such"
#### Environment Information

- Mattermost App Version: 1.11.0
- Mattermost Server Version: 5.2.0

#### Steps to reproduce
Press + to start a private message

#### Expected behavior
See all users, inactive (disabled) ones should be marked with a `name-inactive`

#### Observed behavior
All user names look the same, unless you know who is inactive (disabled).

[2018-08-30 14:39] amyblais commented on #2057
Hi @licaon-kter! Thank you for reporting this.

What device and OS version are you using?

[2018-08-30 14:48] licaon-kter commented on #2057
Happens on any device.

[2018-08-30 14:53] amyblais commented on #2057
Thanks! I'll test this out today and report back if I can reproduce.

[2018-08-30 17:42] hmhealey commented on #1951
I submitted a PR to update CommonMark for the 1.13 of the mobile app

[2018-08-31 19:56] metaa opened #2068 "[Android] Slash suggestions display command name instead of trigger"
#### Summary
When I summon the slash command completion for a *custom* slash command, the commands render with the slash following the command's **title**, not the **trigger** leading to a confusing autocompletion experience.

#### Environment Information

- Device Name: Nexus 5X
- OS Version: 8.1.0
- Mattermost App Version: 1.11.0
- Mattermost Server Version: 5.1.11

#### Steps to reproduce
Start

[2018-09-02 17:17] cjbirk opened #2069 "Formatted text such as tables and formulas do not work in mobile"
#### Summary
Formatted text such as tables and formulas do not work in mobile

#### Environment Information

- Device Name: iPhone X
- OS Version: 11.4.1 (15G77)
- Mattermost App Version: 1.11.0 (Build 133)
- Mattermost Server Version: 5.2.0 (Build 5.2.1)

#### Steps to reproduce
Using the desktop or webapp: Paste formatted text, such as a table or formula:

[code]

and view it on your mobile devi

[2018-09-02 17:34] kongr45gpen commented on #2069
After some conversation on [~developer-toolkit](https://pre-release.mattermost.com/core/pl/sqdxs4nde7r98cxkgpdkrbxtjy), it looks like the problem comes from *spaces at the start of each line* of the table.

Here's a simple failing example:
[code]

[2018-09-03 15:17] enahum commented on #2069
@hmhealey, @saturninoabril I think there is a small difference to render tables between the webapp's markdown and mobile's commonmark libraries, can you please take a look?

[2018-09-04 13:29] amyblais commented on #2057
@licaon-kter Apologies for the delay - I created a ticket for this here: https://mattermost.atlassian.net/browse/MM-11942.

[2018-09-04 14:04] amyblais commented on #2068
Hi @metaa, thank you for reporting this.

I'll ask our QAs to help test this since I don't have an Android, and I'll let you know their feedback.

[2018-09-04 14:18] kongr45gpen commented on #2068
If it helps, I can also confirm this on Mattermost Server 5.2.1, App 1.11.0.

[pic 1](https://user-images.githubusercontent.com/720678/45036927-6ad07800-b066-11e8-85e0-841adcf73e0b.png), [pic 2](https://user-images.githubusercontent.com/720678/45036688-d1a16180-b065-11e8-87b8-3537c2678a0d.png)

[2018-09-04 16:28] hmhealey commented on #2069
Nice find, and great investigation into it being caused by the whitespace at the beginning of the line.

I filed a Jira ticket filed to look into this more ([link](https://mattermost.atlassian.net/browse/MM-11955)), but if anyone is interested in helping fix this, I can give some pointers. The problem code is likely [here in our commonmark.js fork](https://github.com/mattermost/commonmark.js/blob/

[2018-09-04 20:46] WGH- opened #2077 "Symbols +, - and *, when alone on the line, are rendered as empty unordered list element"
#### Summary
Mobile Mattermost client renders symbols `+`, `-`, and `*`, when they're alone on the line, as empty unordered list element, which deviates from Mattermost web client behaviour.

#### Environment Information

- Device Name: Redmi Note 4
- OS Version: Android 7.1.2
- Mattermost App Version: 1.11.0 (Build 133)
- Mattermost Server Version: 5.0.0

#### Steps to reproduce
Send message cont

[2018-09-04 22:04] amyblais commented on #2068
Hi all, we created a ticket for this here and a fix for it is already submitted for v1.12: https://mattermost.atlassian.net/browse/MM-11963.

[2018-09-04 22:11] metaa commented on #2068
@amyblais @kongr45gpen Awesome, thanks!

[2018-09-05 13:19] amyblais commented on #2027
Hi @prodigy7, we haven't received an update for a while so I'll close this Issue for now.

Thank you for sharing this feature request!

[2018-09-05 13:19] #2027 closed

[2018-09-05 13:43] hmhealey commented on #2077
Hi @WGH-,

Thanks for the report. While I agree that it would probably make more sense to just show the character like it does on the web app, we're moving towards following the [CommonMark](https://commonmark.org/) spec to match up with other services like GitHub, and CommonMark renders an empty list item in those cases.

We do plan on having the web app follow that as well by switching it to use

[2018-09-05 13:47] hmhealey commented on #2077
One other thing, if you do want just a single one of those characters, you can escape it with a backslash like `\+`.

[2018-09-06 12:37] amyblais commented on #1895
The Jira ticket and associated PR are completed and we have tested internally that this works in v1.12 - feel free to re-open this Github Issue if the issue persists after upgrading to v1.12 (scheduled to be released in Sept. 14th).

[2018-09-06 12:37] #1895 closed

[2018-09-06 22:50] hmhealey commented on #1951
@Thoro Alright, this has been merged into the master branch, so it'll be available in 1.13, our October release. Thanks again for reporting and fixing this

If you happen to want to use this sooner, feel free to use the beta version of our app which should be updated with these changes in a couple weeks.

[2018-09-06 22:50] #1951 closed

[2018-09-07 16:30] #2077 closed

[2018-09-08 08:37] micolous commented on #1672
@amyblais FYI, there's a "simple" workaround mentioned upstream: https://github.com/facebook/react-native/issues/19434#issuecomment-419245151

[2018-09-10 09:08] dkudriavtsev opened #2096 "App crashes on launch"
#### Summary
The app crashes on launch on Android.

#### Environment Information

- Device Name: OnePlus 5T
- OS Version: Android 8.1.0, OxygenOS Open Beta 15
- Mattermost App Version: 1.11.0
- Mattermost Server Version: Not applicable, I don't even get to the server selection

#### Steps to reproduce

Launch the app

#### Expected behavior

App does anything but force close

#### Observed behavio

[2018-09-10 12:27] amyblais commented on #1672
Hi all, letting you know that our developers are working on a fix / workaround for this, but it's still a work in progress and it will be part of a larger feature in a future release.

[2018-09-10 12:41] amyblais commented on #2096
Hi @dkudriavtsev, thank you for reaching out.

Have you tried uninstalling and re-installing the app?

[2018-09-10 18:30] dkudriavtsev commented on #2096
Yes. I have tried reinstalling and clearing data. The beta version also
crashes.

On Mon, Sep 10, 2018, 5:41 AM amyblais <notifications@github.com> wrote:

[2018-09-10 19:11] amyblais commented on #2096
@dkudriavtsev

When you launch the app, are you logged in or logged out?
Also, can you help press the "Send feedback" in case there are any error messages we can look at.

[2018-09-10 22:15] amyblais commented on #2068
I'll close this Issue for now as the above ticket has been resolved and tested internally - the fix will be available in v1.12 (scheduled release day is Sept. 14th).

[2018-09-10 22:15] #2068 closed

[2018-09-10 23:30] dkudriavtsev commented on #2096
I have sent feedback from both the release and beta version of the app. I
am not able to see if I am logged in or out, the crash happens too quickly,
but I have never logged into the app (started crashing from.a clean install)

On Mon, Sep 10, 2018, 12:11 PM amyblais <notifications@github.com> wrote:

[2018-09-11 12:44] amyblais commented on #2096
@enahum do you have access to the Android crash log for this?

[2018-09-11 17:52] amyblais commented on #2096
@enahum Thank you, should I create a Jira ticket for this?

[2018-09-13 18:35] amyblais commented on #2057
Hi @licaon-kter, the Jira ticket has been resolved and tested internally and the fix will be available in v1.12 release.

[2018-09-13 18:35] #2057 closed

[2018-09-13 18:44] licaon-kter commented on #2057
I keep forgetting that this repo builds both iOS and Android, indeed my report was on Android. :)

[2018-09-14 05:58] dkudriavtsev commented on #2096
Maybe I should try starting the app with location mocking disabled...

[2018-09-14 06:00] dkudriavtsev commented on #2096
Still crashes exactly the same way

[2018-09-14 06:03] dkudriavtsev commented on #2096
[Video of the crash if it helps in any way](https://youtu.be/-h-bB6eTS6M)

[2018-09-14 12:37] amyblais commented on #2096
I created a ticket here for our devs to look at a fix: https://mattermost.atlassian.net/browse/MM-12170.

As a temporary workaround, you can use the browser to access Mattermost on your phone.

[2018-09-14 12:48] amyblais commented on #2096
Hi @dkudriavtsev, our devs came back to this and said that there is no way for us to reproduce the issue as we don't have this device model or OS version. The issue seems to be caused by one of our dependencies (https://github.com/GantMan/jail-monkey) and it would make sense to have the creators of that dependency to take a look at fixing this issue.

[2018-09-14 13:14] cjbirk commented on #2069
@hmhealey Would you call this an 'introductory' level fix? I'm not a javascript expert but would be willing to take a stab if it is something you would consider beginner level.

[2018-09-14 13:19] enahum commented on #2069
@cjbirk there is already a fix for this https://github.com/mattermost/mattermost-mobile/pull/2114 but I guess it will be included in 1.13 scheduled to be released Oct 16th

[2018-09-15 11:27] Rudloff commented on #566
@hmhealey @jasonblais Since you don't want to merge #1686 at the moment, I worked on a different approach for our F-Droid package. We would fetch your source code, remove the non-free dependencies with `sed` and then build the APK.
(You can see the changes we would make here: https://gitlab.com/fdroid/fdroiddata/blob/da75e134e5da9dc20d1b83185e815faa74b38118/metadata/com.mattermost.rnbeta.yml#L39)

[2018-09-17 14:11] jasonblais commented on #566
Thanks @Rudloff - appreciate the thoughtfulness. We'll be meeting to discuss the changes as a team later this week.

[2018-09-18 07:02] philiplb commented on #1672
Glad there is already an issue about this. I experience the same on an Essential Phone with Android Phone, App Version 1.12.0.

[2018-09-18 21:42] phoenixrizen001 opened #2139 "Mattermost Android Connection issues"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
I am having an issue connecting to mattermost server with the android app.

#### Environment Information

- Device Name: Samsung Note 8
- OS Version: 8.0.0
- Mattermost App Version: 1.12.0
- Mattermost Server Version: 5.1.0

#### Steps to reproduce
not

[2018-09-18 22:20] amyblais commented on #2139
Hi @phoenixrizen001, thanks for reaching out 👍

Can you help take a look at this section of our troubleshooting docs and see if it helps: https://docs.mattermost.com/mobile/mobile-troubleshoot.html#i-keep-getting-a-message-cannot-connect-to-the-server-please-check-your-server-url-and-internet-connection?

[2018-09-19 07:35] ElNovi commented on #2139
I can confirm this, connection worked all right. But people can't connect to Mattermost after updating to 1.12.0.

We are using Gitlab omnibus deployment and our current version of Mattermost is 5.1.1

[2018-09-19 12:29] amyblais commented on #2139
Hi @ElNovi,

Can you help take a look at this section of our troubleshooting docs and see if it helps: https://docs.mattermost.com/mobile/mobile-troubleshoot.html#i-keep-getting-a-message-cannot-connect-to-the-server-please-check-your-server-url-and-internet-connection?

[2018-09-19 14:36] ElNovi commented on #2139
Hi @amyblais,

I did look at that, but it didn't help.

Those who didn't update their mobile app are still able to connect to server.

[2018-09-19 15:44] amyblais commented on #2139
@ElNovi, Can you help with more details on your environment and can you also help share a link to your server and we can test it out?

[2018-09-19 17:34] phoenixrizen001 commented on #2139
Hi @ElNovi
do you happen to have the old apk file for Android?

[2018-09-19 18:54] ElNovi commented on #2139
@phoenixrizen001 Thanks for advice 😄 I found the previous version here https://apkpure.com/mattermost/com.mattermost.rn and it's working with the old version 🙂

@amyblais As i said it's Gitlab Omnibus, Mattermost version is 5.1.1, Gitlab is 11.2.3 and authentication to Mattermost is done through Gitlab. Phones used vary in Android version and phone manufacturer. I can send you our address via some

[2018-09-19 19:04] amyblais commented on #2139
@ElNovi You can find me at our [Community server](https://pre-release.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676) as `amyblais` or you can email me at `amy.blais@mattermost.com`.

[2018-09-19 19:57] phoenixrizen001 commented on #2139
@ElNovi, Do you happen to know which apk version works?

[2018-09-19 20:17] ElNovi commented on #2139
@phoenixrizen001 Yes the previous one 1.11.0

[2018-09-19 20:59] amyblais commented on #2139
Hi @ElNovi, our QAs tested this and they are seeing the same issue. Can you help share the results of ssllabs.com so we can take a look if there's any issues? We also recommend not using self-signed certificates (not sure why it's working on v1.11).

[2018-09-19 22:38] amyblais commented on #2139
Hi @phoenixrizen001, can you help share the results from ssllabs.com and we can take a look if there's any issues?

[2018-09-20 05:47] ElNovi commented on #2139
Hi @amyblais I don't think this is related to the certificate. It worked well from 1st january 2017 until now. The reason why it worked with self-signed certificate is that that everyone has installed our root certificate on their Android or iOS devices.

When you don't have our company certificate it will tell you right away that the connection can't be established. But now with 1.12.0 it tries t

[2018-09-20 17:47] amyblais commented on #2139
Hi @ElNovi @phoenixrizen001 I asked our developers about this and they also want to see the ssllabs.com reports, can you help send them over?

[2018-09-20 18:16] phoenixrizen001 commented on #2139
@amyblais Where would you like me to send them? to your email?

[2018-09-21 19:01] amyblais commented on #2139
@phoenixrizen001 The cert has issues that need to be resolved - the ssl report shows that the chain is incomplete. Our devs confirmed this.

@ElNovi Unfortunately we cannot test the cert as it is a self-signed cert and we don't have the root cert, so we recommend using Let's Encrypt.

[2018-09-23 13:02] lannonbr opened #2152 "Mattermost iOS UI tight / overlapping on iPhone XS"
#### Summary
The top UI of Mattermost on iOS on a iPhone XS is either tight or overlapping the system topbar & text box at bottom is being cut off due to rounded corners of the screen.

#### Environment Information

- Device Name: iPhone XS
- OS Version: iOS 12.0
- Mattermost App Version: 1.12.0 (Build 142)
- Mattermost Server Version: 5.1.0

#### Steps to reproduce
1) Open Mattermost on a iPhone

[2018-09-23 13:27] enahum commented on #2152
Also let me know if you are interested in fixing and submitting a PR for this one ;)

[2018-09-23 13:47] lannonbr commented on #2152
@enahum I would be interested in helping out. Should be a fairly easy change in the code and then I'll just need to test it which shouldn't be too bad. I'm expecting the PR should be up likely the same day that PR from react-native-device-info is published to NPM.

As well, the other only screen that does this is the search screen.

[2018-09-23 13:58] enahum commented on #2152
@lennonbr that would be great although we do have use a fork from device-info and I’ll need to merge that PR into our fork, I could actually do it before they merge it in the lib

[2018-09-23 17:26] enahum commented on #2152
@lannonbr PR with the fix submitted

[2018-09-24 15:26] amyblais commented on #2069
Closing this Issue as the Jira ticket has been resolved and tested internally - it will be available in v1.13 release.

[2018-09-24 15:26] #2069 closed

[2018-09-24 17:57] vRobM opened #2155 "Help users avoid struggling entering the server URL"
#### Summary
When users are on-boarding, every one of them has issues with the server URL, because they don't expect to have to enter http:// or https://

#### Expected behavior
Have the app accept server URLs without having to specify https:// or http://, it should know how to handle them and try the appropriate alternative in case the initial assumption fails.

#### Observed behavior
Users are b

[2018-09-24 18:13] enahum commented on #2155
Hi @vRobM

That was done and should be working in v1.12.0 build 142 (https://github.com/mattermost/mattermost-mobile/pull/2044)

[2018-09-24 18:16] vRobM commented on #2155
Thanks, your search-fu is better than mine.

[2018-09-25 14:58] enahum commented on #566
Hi @Rudloff - first and foremost, I want to say we all appreciate your thoughtfulness and time you've put in supporting the F-Droid package. It's great to see such dedication from community members like yourself.

To answer your question: building and distributing the F-Droid package as you described is certainly okay.

What we discussed further is what steps can Mattermost take to better support

[2018-09-25 15:37] Rudloff commented on #566
Thank you @enahum, I am really glad we could find common ground.
We will now proceed to building and publishing the package.

I am totally OK with joining a channel about this. (My username on https://pre-release.mattermost.com/ is *rudloff*.)

[2018-09-25 16:29] rugk commented on #566
Is not over 100 already quite a lot?

[2018-09-25 18:03] #2152 closed

[2018-09-28 09:42] r00tbox commented on #2139
I have the same issue, it just stopped working with 1.12.0 and is still working with 1.11.0.

**Conclusion is that at least one change in 1.12.0 broke your it!** We use AlphaSSL Certificate.

[2018-09-28 13:41] amyblais commented on #2139
Hi @r00tbox, can you help share the results from ssllabs.com and we can take a look if there's any issues in your cert?

[2018-09-28 23:00] phoenixrizen001 commented on #2139
@amyblais you are correct, I installed the intermediate certs and it works like a charm.  Thank you

[2018-09-30 23:42] koxen commented on #1038
fix has been merged. probably didn't make it into mattermost release yet though

[2018-10-01 08:12] Gloriashield opened #2198 "could not upload any files to server via 5.3.1"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Issue in one concise sentence.

#### Environment Information

- Device Name: Samsung Galaxy Note 8, iPhone SE
- OS Version: Android 8.0(oreo), iOS 12.1(beta)
- Mattermost App Version: 4.1.2 (Standard App Store/Google Play version)
- Mattermost Server Ve

[2018-10-01 09:35] lindy65 commented on #2152
Hi @lannonbr :)

The fix for this issue has been tested on simulator but we wondered whether you'd be interested in helping to test on your device?  You can sign up for beta testing [here](https://play.google.com/apps/testing/com.mattermost.rnbeta) if you don't already have access.  We'd really appreciate that!

[2018-10-01 10:15] enahum commented on #2198
Hi @Gloriashield, thanks for the report this issue has been fixed in #2151 and will be shipped with the 1.13.0 release on Oct 16th

[2018-10-01 12:08] amyblais commented on #2198
Closing this as the referenced PR and Jira ticket have been resolved,

[2018-10-01 12:08] #2198 closed

[2018-10-01 12:13] amyblais commented on #1038
Hi all, closing this Issue since the PR and associated Jira ticket have been resolved and tested internally. The fix will be available in 5.4 release,

[2018-10-01 12:13] #1038 closed

[2018-10-01 12:36] lannonbr commented on #2152
@lindy65, just signed up for the Beta through iOS TestFlight. The build I downloaded was 1.12.0 Build 141. Is there a planned push to the beta program today that will include the fix that was merged last week (#2153)

[2018-10-01 16:09] lindy65 commented on #2152
Hi @lannonbr :)

Sorry about that,

Build 145 (latest) has been pushed to TestFlight now so you should be able to access it there. Please let me know if you have further issues.

Thanks!

[2018-10-01 16:37] amyblais commented on #1672
Hi all, we've submitted a fix for this issue but we don't have Android P to test the fix internally.

Would anyone here be able to help test the fix?  You'd need to sign up for [beta testing](https://play.google.com/apps/testing/com.mattermost.rnbeta) and then download the latest app version from Google Playstore.

PR: https://github.com/mattermost/mattermost-mobile/pull/2161
Jira ticket: https://

[2018-10-01 16:53] philiplb commented on #1672
Hi, just tried it on my Essential Phone with P.
Scrolling works just fine now, bit when I got the pagination at the top, it doesn't load more. Just an endless loading indicator.

[2018-10-01 16:57] cbenhagen commented on #1672
Loading and scrolling both work here. Thanks!

Philip <notifications@github.com> schrieb am Mo., 1. Okt. 2018, 18:53:

[2018-10-01 17:15] compilenix commented on #1672
I can confirm that this works on the Google Pixel 2 XL with Android P (patch level September 5, 2018)

But i'm unable to load older messages, the loading never completes. This works using the current stable app version.

[2018-10-01 19:21] enahum commented on #1522
@yakimant this is really helpful, actually I'm making some changes to the fastlane script and I'm about to include this one question:

What value do you set for `PROVISIONING_PROFILE_SPECIFIER`?

I'm assuming the value for `CODE_SIGN_STYLE`  is `Manual` right?

[2018-10-01 22:02] amyblais commented on #1672
Hi @philiplb @compilenix For the "endless loading indicator" issue, are there any error messages you're seeing? We're not able to reproduce it internally so any additional information will be helpful.

[2018-10-01 22:52] compilenix commented on #1672
No error, just the loading indicator. I noticed that this does not occur every time.
Sometimes i need to switch between chennels a couple of times and scroll up on each one. At some point no messages get loaded anymore, restarting the app solves the problem until it hangs again.

The first couple of messages, after switching to a channel, does get loaded every time. This problem occures only when

[2018-10-01 23:30] koxen commented on #1672
confirmed fix on xiaomi with android 9 👍

[2018-10-02 12:10] amyblais commented on #1672
It looks like this issue is resolved so I'll close this Github ticket - @compilenix / @philiplb can I ask your help to open a new Github Issue and we can continue to troubleshoot the new issue on the loading indicator there?

[2018-10-02 12:10] #1672 closed

[2018-10-02 12:32] philiplb commented on #1672
@amyblais Sure!

[2018-10-02 13:37] yakimant commented on #1624
Has the same, the downgrade of node helped.

[2018-10-02 17:53] lannonbr commented on #2152
Hey @lindy65 So I downloaded Build 145 and I can confirm that the fix is in it and is now properly spaced out :tada:

[2018-10-02 17:55] lindy65 commented on #2152
Fantastic @lannonbr :)

Thank you so much for helping to test!  Much appreciated!

[2018-10-02 21:53] sherifelgafary opened #2211 "Android app not started on real device"
#### Summary
when i try to run the app on a device it gets only to the splash screen and never loads the JS files for the app to start

#### Environment Information

- Device Name: multiple devices
- OS Version:  multiple OS versions
- Mattermost App Version: 1.12
- Mattermost Server Version:

#### Steps to reproduce
1- cloning the code from github
2- cd clone directory
3- make pre-run
4- npm inst

[2018-10-02 22:21] enahum commented on #2211
Hi @sherifelgafary have you tried this http://facebook.github.io/react-native/docs/running-on-device#method-2-connect-via-wi-fi ?

[2018-10-03 11:45] cburschka opened #2213 "Weird scrolling bug in Android 9"
#### Summary
When scrolling the message pane, the scroll direction reverses after you let go.

#### Environment Information

- Device Name: Pixel
- OS Version: 9
- Mattermost App Version: 1.12.0 (142)
- Mattermost Server Version: 5.3.0 (Build 5.3.1)

#### Steps to reproduce
Open any channel/conversation history, and swipe rapidly down (to scroll up to older messages) or up (to scroll down to newer

[2018-10-03 12:49] amyblais commented on #2213
Hi @cburschka, this issue will be fixed in v1.13 - here are links to the fixes for reference:

-https://mattermost.atlassian.net/browse/MM-12273
-https://github.com/mattermost/mattermost-mobile/pull/2161

If you want to, you can sign up for [beta testing](https://play.google.com/apps/testing/com.mattermost.rnbeta) and then download the latest app version from Google Playstore. It includes a fix fo

[2018-10-03 12:49] #2213 closed

[2018-10-03 14:10] cburschka commented on #2213
Thanks very much! I'll be using the beta version for now, which seems to be working well so far.

[2018-10-03 22:40] r00tbox commented on #2139
No pls reopen this, this still exists!

@amyblais sorry i can't deliver this because ssllabs only allows default ports and we don't use default ports.

anyway i have intermediate installed and this works with 1.11.0 but not with 1.12.0! Pls let me know what kind of information you need.

Did you change anything according to the certificate check? This should be a point to check for your devs!

[2018-10-03 23:10] amyblais commented on #2139
@r00tbox You mentioned you're using AlphaSSL Certificate, is that a self-signed / client certificate?

[2018-10-03 23:17] r00tbox commented on #2139
No it's not a self signed certificate. We use a commercial wildcard certificate from them.

[2018-10-03 23:41] amyblais commented on #2139
@r00tbox Can you help check if another SSL server test page might work to check the certificate, e.g. https://www.sslshopper.com/ssl-checker.html? The first step in troubleshooting connection errors like this is to check whether there are any issues with the certificate, and usually fixing those issues is the easiest solution.

[2018-10-04 16:56] brycied00d commented on #2139
I've also been suffering since the 1.12.0 release and I'm happy to see I'm not alone.

Our setup:
* Internal Mattermost server. (Cannot provide the output from SSL checker or similar tools)
* Internal certificate authority, installed + trusted by the phone.
  Confirmed trusted as Chrome has no problems accessing and using the web interface. And the CA is listed in the device's user-installed crede

[2018-10-04 17:16] brycied00d commented on #2139
I did a bit more digging, determined that the Mattermost Android (and iOS, I gather) apps use react-native and Googled for a similar issue. I think this issue may be caused by https://github.com/facebook/react-native/issues/20488

I noticed that the AndroidManifest.xml does not specify a "network configuration block", and I wonder if the change in c24492be8f7f9f64e0a2d18f4a670e98494cc3f4 undid som

[2018-10-05 12:59] sherifelgafary commented on #2211
@enahum  i have tried to make the developer menu to show with many ways like shaking and using the command to trigger the developer menu event but without any success but i tried to make the app listens to the correct port using this command
adb -s <device name> reverse tcp:8081 tcp:8081
and it was successful but my main issue now is whenever i create a release apk file from android studio it cras

[2018-10-05 13:11] piemonkey commented on #2139
I'm seeing this problem and I'm using a Let's Encrypt certificate. I haven't had much chance to do much digging but since the app is RN I'll take a closer look when I can.

At the moment I suspect that the app is ignoring the https in the url as I'm seeing a request in the nginx logs which returns a 301. I'm using the docker production set-up, hosted on own network using duckdns and with my own Le

[2018-10-05 13:34] enahum commented on #2211
@sherifelgafary the developer menu should show if you deployed a debug build to the phone, if you run `make run-android` with the phone attached to your computer it should do it for you.

as for the release apk I never build it with Android Studio, so no idea why is it crashing for you, do you happen to have the logs? maybe it can give you an indication of why is it crashing.

to build the apps fo

[2018-10-09 16:05] powhu opened #2236 "iOS Share Extension crashes"
#### Summary

If `AppGroupId` was not set correct, iOS share extension crashes.

mattermost-mobile/share_extension/ios/extension.js
[code]

`this.entities = value || initialState;`
 must be
`this.entities = value || initialState.entities;`

![extension](https://user-images.githubusercontent.com/1047661/46682307-c7075880-cc1f-11e8-8e6c-09c853fe1ef3.png)

#### Environment Information

- Device Name:

[2018-10-09 17:07] enahum commented on #2236
Hey @powhu great catch, two questions
1. are you building the app yourself? we do have a fastlane script that should set the correct appGroupId
2. will you be willing to submit a PR to fix it?

[2018-10-10 01:54] powhu commented on #2236
#2242

[2018-10-11 14:03] #2009 closed

[2018-10-12 09:49] redfast00 opened #2261 "App crashes when spamming emoji"
#### Summary
App crashes when spamming emoji. If you don't get kicked from the channel after crashing, it keeps crashing when you open the app again.

#### Environment Information

- Device Name: Oneplus 2
- OS Version: Android 8.1.0
- Mattermost App Version: 1.13.0 (build 147) and 1.12.0 (build 142)
- Mattermost Server Version: 5.3.1

#### Steps to reproduce
Just spam a lot of emoji in a message

[2018-10-12 14:38] amyblais commented on #2261
Thank you @redfast00, we are able to repro this and created a ticket here: https://mattermost.atlassian.net/browse/MM-12668.

[2018-10-13 18:14] promethe42 commented on #622
Could we use this solution https://github.com/RocketChat/Rocket.Chat.Cordova/issues/159#issuecomment-275730484 ?

[2018-10-14 11:12] sherifelgafary commented on #2211
@enahum  thanks a lot for your help indeed it worked when the apk file is generated using the make commands

[2018-10-14 11:46] sherifelgafary opened #2266 "Disable view / download attachments"
#### Summary
i have been trying to disable the users to view/download attachments with no success
#### Environment Information

- Device Name: iphone 8
- OS Version: 11.4
- Mattermost App Version: 1.12.0
- Mattermost Server Version: mattermost pre-release server

#### Steps to reproduce
i have changed https://github.com/mattermost/mattermost-mobile/blob/master/app/components/file_attachment_list/i

[2018-10-14 14:07] enahum commented on #2236
PR submitted

[2018-10-14 14:07] #2236 closed

[2018-10-14 14:14] enahum commented on #2266
You also need to set it as false here https://github.com/mattermost/mattermost-mobile/blob/master/app/screens/image_preview/index.js#L15

[2018-10-14 14:15] enahum commented on #2211
@sherifelgafary awesome, good to know.

Going to close this issue as resolved.

[2018-10-14 14:15] #2211 closed

[2018-10-14 19:34] oli-ver opened #2267 "Text is cut off (Marshall, Model „London“, Android 5.0.2)"
#### Summary
Text in the Mattermost mobile App is cut off in all channels and conversations.

#### Environment Information

- Device Name: Marshall, Model „London“
- OS Version: Android 5.0.2
- Mattermost App Version: 1.13.0 (Build 149)
- Mattermost Server Version: 5.3.0

#### Steps to reproduce
How can we reproduce the issue?
Install app, connect to server and receive and write a message

#### Ex

[2018-10-14 19:43] enahum commented on #2267
Should be fixed with https://github.com/mattermost/mattermost-mobile/pull/2244

[2018-10-14 19:47] oli-ver commented on #2267
@enahum Thanks for the fast reply. Then I think this one here can be closed at duplicate of #2244. When will this version be released?

[2018-10-14 19:47] #2267 closed

[2018-10-14 19:52] enahum commented on #2267
Sadly is scheduled to be released on Nov 16th but probably in a week or two you could get a beta app with the fix included

[2018-10-14 20:06] oli-ver commented on #2267
Ok thank you, I’ll let the Android users know.

[2018-10-17 12:14] nicolinuxfr commented on #1522
Well, it's strange, I have the issue on the first post again today :

[code]

It seems the variables in the `.env` file inside fastlane folder are not taken into account. I haven't changed my configuration, and it worked fine the last time I built a custom iOS version (it was after the last App Store version, 1.12.0).

To be sure, I even deleted everything and started fresh, but the error is still

[2018-10-17 16:56] enahum commented on #1522
@nicolinuxfr env vars have changed take a look at https://developers.mattermost.com/contribute/mobile/build-your-own/

[2018-10-17 16:57] enahum commented on #2266
Did you solve the issue? Feel free to close this

[2018-10-18 05:39] nicolinuxfr commented on #1522
@enahum OK, sorry about that, I had missed the changes.

I did apply the new vars in the file and it's better, even if I stumble on a different error? I don't think this is related to this issue, so I can open a new one if you want.

[code]

[2018-10-18 10:19] enahum commented on #1522
Seems to me that you’ve updated XCode to version 10, there is a known issue where react native fails to build unless you switch your build process to legacy mode

[2018-10-18 11:43] enahum commented on #2266
Closing as it was reported as done in pre-release

[2018-10-18 11:43] #2266 closed

[2018-10-18 11:44] #1624 closed, assigned to nobody

[2018-10-18 12:01] nicolinuxfr commented on #1522
Indeed, since it's the latest stable version.

What do you mean by legacy mode ?

[2018-10-18 13:17] enahum commented on #1522
@nicolinuxfr take a look at this thread https://github.com/facebook/react-native/issues/19573

[2018-10-19 19:53] maxsdw commented on #1522
@enahum in the .env file, should I use `export IOS_EXTENSION_APP_IDENTIFIER=` or `export EXTENSION_APP_IDENTIFIER=`, in https://developers.mattermost.com/contribute/mobile/build-your-own/ it says it is "EXTENSION_APP_IDENTIFIER", but now I'm confused.

[2018-10-19 19:55] enahum commented on #1522
@maxsdw, the second one `EXTENSION_APP_IDENTIFIER` as in the doc

[2018-10-19 21:04] maxsdw commented on #1522
Thanks @enahum , with the adjustment I could advance almost till the end of the process, but now gym is returning this error:

error: Build input file cannot be found: '/Users/maxsdw/go/src/github.com/mattermost/mattermost-mobile/node_modules/react-native/third-party/double-conversion-1.1.6/src/strtod.cc'

same for files: fixed-dtoa.cc, fast-dtoa.cc, double-conversion.cc

Any ideas?

[2018-10-19 21:05] maxsdw commented on #1522
@enahum  NVM, I just saw someone else already posted the same issue.

[2018-10-19 22:20] maxsdw commented on #1522
I modify gym config within Fastfile to use: xcargs: "-UseNewBuildSystem=NO" and now it works, thanks!.

[2018-10-22 17:23] esethna opened #2283 "Mattermost mobile app does not complete websocket connection with Blackberry Dynamics in BYOD deployment when AppDome is not used"
#### Summary

Mattermost mobile app does not complete websocket connection with Blackberry Dynamics in BYOD deployment.

Mobile app works when deployed with Blackberry Dynamics and AppConfig (non-BYOD), and it works with Blackberry Dynamics BYOD when AppDome is used, but not in BYOD without AppDome.

#### Steps to reproduce

1. Download [Mattermost app](https://github.com/mattermost/mattermost-mob

[2018-10-24 02:17] avasconcelos114 opened #2286 "Korean characters not processing properly on iOS"
#### Summary
When typing Korean, characters do not properly form syllables if the user tries to re-edit the middle of a sentence.

#### Environment Information

- Device Name: iPhone 6s
- OS Version: iOS 12
- Mattermost App Version: 1.13.1 (Build 151)
- Mattermost Server Version: 5.4.0

#### Steps to reproduce
1. With a Korean keyboard enabled, type `테스트` (`ㅌ` + `ㅔ` + `ㅅ` + `ㅡ` + `ㅌ` + `ㅡ`) in the

[2018-10-24 06:39] bbodenmiller commented on #2139
Based on the whole idea of people running Mattermost on their own servers I assume many of your users have custom root CAs that are installed on computers & phones. Based on https://github.com/facebook/react-native/issues/20488#issuecomment-409535369 it sounds like some additional configurations need to be added to the app to once again support user installed CAs since the update to Android SDK 26

[2018-10-24 13:33] amyblais commented on #2286
Thank you @avasconcelos114, I'll test this out today.

One of our developers said that this might also be an issue on the React Native side, so we'll see if we open an Issue on their repo as well.

[2018-10-24 20:37] amyblais commented on #2139
Hey all, would anyone be interested to submit a PR to fix this based on ``bbodenmiller's`` discovery above ^ ?

[2018-10-24 23:02] piemonkey commented on #2139
For anyone reading this who's using Let's Encrypt, for me it was a problem with the certificate chain, all I needed to do was point the Mattermost nginx config's `ssl_certificate` at the `fullchain.pem` generated by, in my case, Dehydrated. I'm now able to connect to it.

@amyblais I'm not using a self-cert, but given how simple this looks I could probably throw in a PR. You mentioned before that

[2018-10-25 03:38] bbodenmiller commented on #2139
@piemonkey I believe the trusty flag they didn't want to add is different than the details I added above. The details above would just allow the app to continue working as it did in SDK 25 & above as it relates to CAs.

[2018-10-25 12:20] amyblais commented on #2286
@avasconcelos114 I opened a bug ticket here: https://mattermost.atlassian.net/browse/MM-12813.

[2018-10-25 14:48] amyblais commented on #2139
@piemonkey Yes, I believe PR in this case is find 👍

[2018-10-29 23:05] amyblais commented on #2139
Following up on if anyone has any questions on this if they are working on a fix for this issue?

[2018-10-30 14:44] amyblais commented on #2286
Hi @avasconcelos114,

Letting you know that this is an RN issue and there is a bug report on their repo here: https://github.com/facebook/react-native/issues/19313.

I'll close this Issue here for now,

[2018-10-30 14:44] #2286 closed

[2018-10-30 21:28] jsha opened #2296 "Sharing photo from photo library requires "take photos and record video" permission"
#### Summary
Sharing photo from photo library requires "take photos and record video" permission.

#### Environment Information

- Device Name: Pixel 3
- OS Version: 9.0
- Mattermost App Version: 1.13.0 (Build 151)
- Mattermost Server Version: 5.1.0

#### Steps to reproduce
Tap the "+" icon to upload an attachment. Tap "Photo Library". A permissions prompt comes up asking to access files on your p

[2018-10-30 21:31] jsha opened #2297 "Enable "Show Password While Typing""
#### Summary
Per the latest NIST 800-53 guidelines, "Show Password While Typing" is a [security and usability best practice](https://auth0.com/blog/dont-pass-on-the-new-nist-password-guidelines/).

#### Environment Information

- Device Name: Pixel 3
- OS Version: 9.0
- Mattermost App Version: 1.13.0 (Build 151)
- Mattermost Server Version: 5.1.0

[2018-10-30 22:17] enahum commented on #2296
Sorry @jsha  but this is required by Android and iOS as well and there is no way around that, if you don't explicitly grant permissions then the library will not be accessible.

[2018-10-30 22:17] amyblais commented on #2296
Hi @jsha,

This could be due to the fact that users on v1.13 should upgrade to v5.4 for compatibility reasons (file uploads on v1.13 only work on server v5.4). More details on the changelog: https://github.com/mattermost/mattermost-mobile/blob/master/CHANGELOG.md#v1130-release.

Would you be able to test on v5.4 if it helps with the issue? You can also test on our [community server](https://pre-re

[2018-10-30 22:19] enahum commented on #2297
Thanks @jsha would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

A PR would also be welcomed

[2018-10-31 00:06] tankerkiller125 opened #2298 "Many Emoji Slows/Crashes App"
#### Summary
If you insert many emoji in messages (thing enough to fill the screen) it will cause the app to freeze up and sometimes even crash. In my testing, each emoji was different and not the same.

#### Environment Information

- Device Name: LG G6
- OS Version: Android 8.0
- Mattermost App Version: 1.13.0 (Build 151)
- Mattermost Server Version: 5.4.0

#### Steps to reproduce
Insert ALOT of

[2018-10-31 00:07] jsha commented on #2296
@enahum The app asks for two different permissions:

1) Storage
2) Camera

You can check these in the system settings page. When selecting "Photo Library", only "Storage" is needed, not "Camera." So there should be no prompt for the "Camera" permission.

At a minimum, granting the "Storage" permission but rejecting the "Camera" permission should allow the user to proceed with selecting an image fr

[2018-10-31 00:15] amyblais commented on #2298
Thank you @tankerkiller125,

This is a React Native issue, and we are planning to submit an Issue in their repo in the upcoming days.

[2018-10-31 00:15] amyblais commented on #2261
Hi @redfast00, letting you know that this a React Native, so we will open an Issue in their repo in the next upcoming days.

[2018-10-31 00:15] #2261 closed

[2018-10-31 06:56] ChenZhaobin opened #2299 "Sign up or register using mobile App"

[2018-10-31 11:47] enahum commented on #2296
Hi @jsha this is cause the library that we use handles the permission request for us and they actually do request for both. see: https://github.com/react-community/react-native-image-picker/blob/v0.27.0/android/src/main/java/com/imagepicker/ImagePickerModule.java#L601 <- that is the code responsible in the library so perhaps best to report this in their repo? Sadly there's not much we can do here

[2018-10-31 13:05] enahum commented on #2298
Filed an issue in the react-native repo: https://github.com/facebook/react-native/issues/22038

[2018-10-31 13:07] amyblais commented on #2298
Closing this Issue as this can be followed via react native,

[2018-10-31 13:07] #2298 closed

[2018-10-31 13:38] amyblais commented on #2299
Hi @ChenZhaobin, can you help fill in the form so we know what issue you're experiencing?

[2018-10-31 18:37] neeeeds commented on #2139
Hi all, any help with this problem ? since tune update of the app i can't connect to our framateam server. thank you.

[2018-10-31 22:16] amyblais commented on #2139
Hi all, our developers just submitted a fix for this here: https://github.com/mattermost/mattermost-mobile/pull/2301

[2018-11-01 02:39] ChenZhaobin commented on #2299
@amyblais  sorry about that ,I want to allow my clients to registe their account from mobile app ,but I have not found this function in source code ,is this not completed or some other reasons?

[2018-11-01 06:40] dynatom opened #2303 "App built from github is block in start screen"
#### Summary
App built from github is not working.

#### Environment Information

- Device Name: Samsung Galaxy A5
- OS Version: Android 8.0.0, Samsung Experience 9.0, Knox 3.1, Knox API 25, TIMA 3.3.0
- Mattermost App Version: Github master branch
- Mattermost Server Version: Mattermost Enterprise Edition

#### Steps to reproduce
Launch the app after build with following step.

1.Get code from [g

[2018-11-01 06:54] dynatom commented on #2303
I also tried not use environments.
Just git pull and change google-services.json.
Then make build & run, but it also block in the same startscreen.

[2018-11-01 13:12] amyblais commented on #2303
@enahum ^

[2018-11-01 13:13] amyblais commented on #2299
@enahum The user is compiling the app and cannot find the source code to add user sign-up / registration.

[2018-11-01 13:19] enahum commented on #2303
1. Why are you adding `implementation 'com.google.firebase:firebase-core:16.0.1'` on step 3 ?
2. on 5 you only need to have the values that you want to override

why are you running make build-android and make run-android?

build is used to compile the app and get the apk, run is to compile the app and run it in dev mode.

Also when building the app make sure your the react-native packager is runn

[2018-11-01 13:21] enahum commented on #2299
@ChenZhaobin @amyblais mobile app does not have the feature to sign-up / register, as of now the only way is to do it from the desktop/webapp or if SSO is enabled.

You can file a feature request or even better submit a PR ;)

[2018-11-01 14:26] Sloth-on-meth opened #2305 "Jumbo emojis don't seem to work on mobile"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Issue in one concise sentence.

Jumbo emojis don't seem to work on android using the latest release from github

#### Environment Information

- Device Name: OnePlus 5t
- OS Version: 8.0
- Mattermost App Version: 1.13
- Mattermost Server Version: 4.10

[2018-11-01 14:33] amyblais commented on #2305
Hi @Sloth-on-meth,

Support for jumboemojis was added in server v5.4, so I believe you'll just need to upgrade and it will work.

[2018-11-01 14:49] enahum commented on #2305
There is a ticket for adding Jumbo emoji to the mobile app https://mattermost.atlassian.net/browse/MM-12353

[2018-11-01 14:57] Sloth-on-meth commented on #2305
Sorry, server version is 5.4.0.
https://mattermost.atlassian.net/browse/MM-12353
Closed

[2018-11-01 14:57] #2305 closed

[2018-11-01 15:00] kjohannessen opened #2306 "Tables do not render correctly on app"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
The new app does not render tables correctly on Iphone. Wide tables look terrible.

Same tables render correctly on desktop / web and Classic App

#### Environment Information

- Device Name: Iphone
- OS Version: IOS12
- Mattermost App Version: Latest
-

[2018-11-01 15:01] enahum commented on #2306
There is already a ticket for this https://mattermost.atlassian.net/browse/MM-11232

[2018-11-01 15:10] kjohannessen commented on #2306
OK .. didn't see that issue .. will close this one then

[2018-11-01 15:10] #2306 closed

[2018-11-02 01:32] enahum commented on #2303
Your step 3 is not needed, please make sure to follow the guide [here](https://developers.mattermost.com/contribute/mobile/build-your-own/)

[2018-11-02 10:51] enahum commented on #2303
Looks like you afe trying to build with node 11? Try node 9 or 10

[2018-11-02 21:05] #2139 closed

[2018-11-04 14:32] shawn111 commented on #2303
I trird below node & npm.
node v8.12.0 / npm v6.4.1
node v9.11.2 / npm v5.6.0
node v10.13.0 / npm v6.4.1
node v11.1.0 / npm v6.4.1

The error messages show as below.

[code]

[2018-11-05 02:04] dynatom commented on #2303
I try nvm to install 9.3.0 which [Developer Setup suggests](https://developers.mattermost.com/contribute/mobile/developer-setup/)

but still see the error

It seems because of the path error of mattermost-redux.
Find the node_modules folder, `mattermost-redux/utils/event_emitter` doesn't exist but `mattermost-redux/src/utils/event_emitter` exists.

[2018-11-05 02:12] enahum commented on #2303
It seems that somehow in your setup the mattermost-redux library is not building properly.

Try changing directory to `node_modules/mattermost-redux` then run `npm install` and `npm run build` before building the app.

Then we can try why mattermost-redux is not being installed properly in your environment

[2018-11-05 03:29] dynatom commented on #2303
Use `make build-android`

[Result](https://imgur.com/LbW93QB)
Seems node9.3.0/npm5.5.1 don't support `npm ci`

Use .apk install app, still block in start screen (no local:8081 to connect).

Use  `make run-android`

[Succes](https://imgur.com/UdZmjif)
It finally passes the start screen.
But needs connect mac and phone.

Try `VARIANT=release make run-android`
[Build failed](https://imgur.com/LgiJ8Wb

[2018-11-06 01:03] dynatom commented on #2303
Thanks.

Use only two env, can build debug, can't build release.

I go to try these and build release again.

[2018-11-06 02:04] dynatom commented on #2303
Thanks all a lot.
Finally build release success.
The enviorment needs these two for building release apk.

If no `BETA_BUILD=false` would build release error.

[2018-11-07 16:04] Rudloff opened #2327 "Node crashes during build"
#### Summary
When trying to build 1.13.1 on an F-Droid build VM, Node crashes during `bundleReleaseJsAndAssets`.

#### Steps to reproduce
The build recipe is available [here](https://gitlab.com/fdroid/fdroiddata/blob/2fae7a5f204314606dcdd707f6f1d381f18c5899/metadata/com.mattermost.rnbeta.yml) but except for the patching, we are basically running this:
[code]

#### Expected behavior
The app should

[2018-11-07 18:30] saturninoabril commented on #2327
@Rudloff Thanks for the report.  That's interesting but I thought 2GB is pretty low.  Honestly, I don't know if there's a way to limit memory usage while building the app.  Maybe try experimenting like upgrading the node version or the like.
Also can you try to revisit our [build documentation](https://developers.mattermost.com/contribute/mobile/build-your-own/), especially the build preparation a

[2018-11-07 21:18] Rudloff commented on #2327
I agree, but we use these VMs to build much larger apps like Firefox, and it is slow but does not crash like that. I think Gradle is smart enough to detect the available memory but Node does not seem to do that.

I tried to use Node 10.13.0 but it does not change anything.
I see that Node has a `max-old-space-size` flag but I am not sure how to make Gradle use it when calling the React Native buil

[2018-11-07 23:22] Rudloff commented on #2327
I found a way to limit the amount of memory Node can use:
[code]

I still wish this could be done automatically but at least we can build the app now :slightly_smiling_face:

[2018-11-08 10:48] Rudloff commented on #2327
It looks like I claimed victory too soon. Even with `--max-old-space-size`, Node uses too much memory (but not every time for some reason).

But instead of the 137 exit code, I get a more verbose memory allocation error:
[code]

[2018-11-12 14:31] paddatrapper opened #2334 "Notification preferences not saved"
#### Summary
Changing email/push notifications in the android app, does not update the user's notification preferences.

#### Environment Information

- Device Name: Android
- OS Version: 8.1.p
- Mattermost App Version: 1.13.0
- Mattermost Server Version: 5.4.0

#### Steps to reproduce
Disable email notifications within the app and wait for a notification.

#### Expected behavior
The notification

[2018-11-12 14:49] enahum commented on #2334
Hi @paddatrapper are you sure the preferences are not updated or they are just out of sync, I know they could be out of sync cause of the preferences update not being sent throw the websocket, can you confirm by reloading the webapp after making the changes in the mobile app?

Thanks.

[2018-11-13 18:57] jadielam commented on #2096
Any updates on this issue? I am having the same problem in my device. Google Nexus 4P with Android 8.1.0

[2018-11-13 22:00] dkudriavtsev commented on #2096
What is Nexus 4P?
-- Dmitry Kudriavtsev

On Tue, Nov 13, 2018 at 10:57 AM Jadiel <notifications@github.com> wrote:

[2018-11-14 14:05] amyblais commented on #2296
Hi @jsha, we haven't received an update for a while so I'll close this Issue for now.

If you have any further questions, please reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-11-14 14:05] #2296 closed

[2018-11-14 14:06] amyblais commented on #2297
@jsha we haven't received an update for a while so I'll close this Issue for now.

If you have any further questions, please reopen this issue with the relevant information and we'd be glad to help you where we can. Thank you for considering adding this to the feature request forum!

[2018-11-14 14:06] #2297 closed

[2018-11-14 14:07] amyblais commented on #2299
@ChenZhaobin we haven't received an update for a while so I'll close this Issue for now.

If you have any further questions, please reopen this issue with the relevant information and we'd be glad to help you where we can. Thank you for considering adding this to the feature request forum!

[2018-11-14 14:07] #2299 closed

[2018-11-15 17:59] samnazarko opened #2346 "Issues building iOS application"
#### Summary
I am unable to run make build-ios

#### Environment Information

- OS Version: macOS Mojave

#### Steps to reproduce
Run make build-ios

#### Expected behavior
My Fastlane environment file is:

[code]

#### Observed behavior
When I try and build the app, I get:

[code]

#### Possible fixes
I’m not sure why this is the case. I went in to XCode and temporarily renamed the app to tv.osmc

[2018-11-15 18:01] samnazarko opened #2347 "Issues building Android application on macOS: dependencies unclear"
#### Summary
During make build-android; I receive a message telling me I need to install the JDK.

#### Environment Information

- Device Name: MacBook
- OS Version: macOS Mojave

#### Steps to reproduce
Install dependencies (Android Studio + SDKs) as advised in tutorial on a vanilla macOS install

#### Expected behavior
I am told to I need to install the JDK. I do not have java or javac in my pat

[2018-11-15 20:58] svelle commented on #2347
JDK 8 will work 100%, can't give any guarantees about newer versions though. Maybe that should be added to the documentation to avoid confusion in the future.

[2018-11-16 07:02] shawn111 opened #2349 "Mattermost iOS deviceId something been "" or "null""
#### Summary
Mattermost iOS deviceId something been "" or "null".
Remove application from background and re-launch could fix the issue.

#### Environment Information
- Device Name: Iphone 8
- OS Version: iOS 12.1
- Mattermost App Version: 1.13.1 (Build 151)
- Mattermost Server Version: 5.2.1

#### Steps to reproduce
It happens randomly but it just happened on iOS. (We didn't find any android devic

[2018-11-16 17:36] amyblais commented on #2346
I pinged our devs on this and they said that this might help: https://docs.fastlane.tools/codesigning/troubleshooting/.

[2018-11-17 15:02] hanzei commented on #424
Maybe we should post this again on https://github.com/mattermost/mattermost-server?

[2018-11-17 15:04] enahum commented on #424
This one is already being done by someone

[2018-11-17 15:12] hanzei commented on #424
Can we then close this one and keep track of this issue in https://github.com/mattermost/mattermost-server/issues/9504?

[2018-11-17 15:47] #424 closed

[2018-11-17 22:08] it33 commented on #2283
FYI, now investigating "long pole" approach for self-compiled versions of mobile app that could address this issue.

[2018-11-19 19:14] enahum commented on #2349
When the app opens it requests the device id, if it is the first time it will ask for permissions.

If the permission is granted it will request the id and once it gets it will register the device Id on login or when opening the app at a later time, each time the app is opened it will do the same.

Please check:
* The permission was denied (in that case needs to be enabled manually in the device n

[2018-11-19 19:18] enahum commented on #2347
When you run the command there are some files that get moved from `'/Users/samnazarko/Code/Git/mattermost-mobile/android/app/src/main/java/com/mattermost/rnbeta/`` to a folder with your package name, make sure those files are in the above folder before running the build command. you can make sure that is the case by resetting the git branch

[2018-11-20 01:08] esethna commented on #2283
Update: The Mattermost team is in discussions on a potential partnership with AppDome as a next step to address this issue.

[2018-11-20 17:51] samnazarko commented on #2347
git status shows that the files are untouched:

[code]

[code]

[2018-11-20 18:13] enahum commented on #2347
@samnazarko perhaps you could join us in our community server and there I could help you a bit more, even others can jump in to help you. https://community.mattermost.com best place to talk about this would be the [ ~Native Mobile apps](https://community.mattermost.com/core/channels/native-mobile-apps) channel

[2018-11-21 15:54] rudiv commented on #722
Why is this issue closed? This is still an issue.

System Admins get sporadic messages appearing out of order (1 hour behind) despite identical timezones between client and server.

For example when sending 3 messages ("a", "b" and "c"), the first message would show in the history at, for example 14:00 (current local time and server time), but the second message would show at 13:00, the third mess

[2018-11-23 17:15] jacobgude opened #2374 "Build iOS and Android App using Google SSO"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Would like to build mobile iOS and android app using Google SSO. Documentation says to fill out an issue to begin process.

#### Environment Information

- Device Name:
- OS Version:
- Mattermost App Version:
- Mattermost Server Version:

#### Steps to

[2018-11-27 20:10] amyblais commented on #2334
Hi @paddatrapper, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-11-27 20:10] #2334 closed

[2018-11-29 12:16] plattreuter opened #2394 "Playing audio attachments on iOS does not work"
#### Summary
Playing audio attachments on iOS does not work

#### Environment Information

- Device Name: Apple iPhone XS
- OS Version: 12.1
- Mattermost App Version: 1.14.0
- Mattermost Server Version: 5.4.0

#### Steps to reproduce
Tap on an audio file (e.g. mp3) inside a channel in the iOS app.

#### Expected behavior
The native file handler (iOS audio player) should appear and play the mp3.
On

[2018-11-29 13:00] amyblais commented on #2394
Thanks, appreciate your feedback @plattreuter.

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so an

[2018-11-29 21:45] jsha commented on #2296
It looks like someone else has already reported this same issue on react-native-image-picker: https://github.com/react-community/react-native-image-picker/issues/828.

[2018-11-29 21:57] mgrebenets opened #2398 "What is the _exact_ version of npm required to build an app?"
The instructions at https://developers.mattermost.com/contribute/mobile/developer-setup/ are saying

However, `npm` doesnt have version `9.3.0`, `node` does.
Maybe things like this are clear for JS devs, but it doesn't really help to someone who doesn't have experience with `node` and `npm`.
Even after installing `node` version `9.3.0` I still had issues with using `npm` version `5.x.x`, so I had

[2018-11-29 21:59] PromoFaux opened #2399 "Not all images show correctly"
#### Summary
image attachments with the extension `.jpeg` are not displayed properly

#### Environment Information

- Device Name: Google Pixel 2
- OS Version: Android 9
- Mattermost App Version: 1.14.0
- Mattermost Server Version: 5.4.0

#### Steps to reproduce
Attach an image with the `.jpeg` extension.  Displays fine on desktop browser, but not in mobile client.

#### Expected behavior
All imag

[2018-11-29 22:00] mgrebenets opened #2400 "Bundle install and bundle update are missing from Makefile"
While trying to `make build-ios` I get tons of errors with regards to missing gems.
The gems are listed in `fastlane/Gemfile`, but `Makefile` has no rule to install those gems.
Shouldn't there be another pre-build step in `Makefile` to run at least `bundle install && bundle update`?

[2018-11-29 22:03] mgrebenets opened #2401 "Documentation and examples are out of sync."
The https://github.com/mattermost/mattermost-mobile/blob/master/fastlane/env_vars_example and https://developers.mattermost.com/contribute/mobile/build-your-own/ are out of sync.

Example file has vars like `IOS_APP_NAME` while the page says it's `APP_NAME`.
Doesn't really help with building the app.

Helps even less for those who pay for E10 or E20 plans.

[2018-11-29 22:04] jacobsalmela commented on #2399
I see the exact same on the iOS app.

MM mobile app version: 1.14.0
iOS version: 12.1

[2018-11-29 23:05] enahum commented on #2401
Thanks @mgrebenets I've submitted a PR #2402 to update the example env vars

[2018-11-29 23:07] enahum commented on #2400
@mgrebenets appreciate your input, right now our CI runs `bundle install` in a different step, but I'll be up to accept a PR that will include that step in the Makefile if you want to submit one ;)

note: there is no need to run `bundle update` after running `bundle install` as we don't want newer unproven version installed to build the app.

[2018-11-29 23:36] amyblais commented on #2399
Thank you all,

I'm not able to reproduce this on iOS on a mobile app v1.15, server v5.6 version, so it looks like this has been fixed.

If you want to test it out, you can join our [community server here](community.mattermost.com) which is on v5.6. You can sign up for beta testing here to get v1.15: https://play.google.com/apps/testing/com.mattermost.rnbeta.

[2018-11-30 00:21] mgrebenets commented on #2400
Should `Gemfile` list specific versions of the gems then, so there's no unwanted updated happening?

Also, should `cocoapods` gem be part of the bundle too?
They have breaking changes from time to time.

On CocoaPods part, would it be even better to commit `Pods` directory which is the default recommended approach?
https://guides.cocoapods.org/using/using-cocoapods

I was lucky that I had CocoaPod

[2018-11-30 00:30] mgrebenets opened #2404 "make build-ios removes node_modules each time"
Whenever I'm running `make build-ios` the `node_modules` folder is removed.
It seems like it's part of `npm ci` command.

Is there a better way for me to build and test incrementan changes without re-downloading all node packages?
I'm working behind a really bad proxy, it's so bad that it simply fails under load when I try to get all 350mb of node packages :/

I'd love to be able to download the n

[2018-11-30 00:34] mgrebenets opened #2405 "Getting "premature close" errors with npm install"
Using node version 0.9.3 and npm version 6.4.1 I'm getting errors like this when running `make pre-run` or `make pre-build` or just `npm install`.

[code]

The package name doesn't really matter.

I end up retrying again and again until I get that "lucky" run when all node packages are downloaded and extracted and I can proceed to next step.

Is there something wrong on my end?
I tried to connect

[2018-11-30 00:36] bezumkin commented on #2404
Run this command once
[code]

Then you can build app so many times as you need:
[code]

Works for me well

[2018-11-30 01:10] mgrebenets commented on #2405
So it looks like `node` version has to be `9.3.0`.
`npm` version has to be `6.4.1` (I'm not sure what's the lowest version that can be used, but I know that default 5.x.x will not work).
Running `npm install` or `npm ci` commands directly did not work for me.
I had to use `make pre-run` instead 🤷‍♂️

[2018-11-30 01:29] mgrebenets opened #2407 "Can't run iOS app on simulator"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Failed to load bundle while running on iOS simulator

#### Environment Information

- Device Name: iPhone Simulator
- OS Version: 11.1
- Mattermost App Version: 1.14.0 (commit `aa41579f` from github)
- Mattermost Server Version: <don't know>

#### Steps

[2018-11-30 01:40] mgrebenets commented on #2407
While trying to run `Release` configuration I get an error due to missing `main.jsbundle`.
And the file is missing because "Bundle React Native code and images" build phase failed.
It failed due to the same issue: `Unale to resolve module `mattermost-redux-client`.
I'm not sure what could be wrong here, since `make pre-run` finished successfully.

[2018-11-30 01:51] mgrebenets commented on #2405
Running fresh `npm ci` command on 9.3.0/6.4.1 node/npm I occassionally get this:

[code]

And `mattermost-redux` is exactly the package that's causing issues while running the app: https://github.com/mattermost/mattermost-mobile/issues/2407

[2018-11-30 01:54] mgrebenets commented on #2405
Same premature close when using node 10.11.0 and npm 6.4.1

Also, `make pre-run` fails with same error too, so it looks like I got one-off successful run :/

[2018-11-30 02:34] mgrebenets commented on #2407
Found reference to similar issue here https://github.com/mattermost/mattermost-mobile/issues/2303
Since I couldn't get stable package install from `npm`, I tried `yarn`.

`yarn` is much better when it comes to installing packages.
However, even when using `yarn install` and then `yarn start -- --reset-cache` I get same error as on screenshot.

One part that's confusing to me is why does it say "sh

[2018-11-30 02:41] mgrebenets commented on #2405
So it looks like using `yarn` to install packages _may_ be the workaround.
Still both with `npm` and with `yarn` I end up having this issue: https://github.com/mattermost/mattermost-mobile/issues/2407

[2018-11-30 07:05] PromoFaux commented on #2399
Thanks for looking into it.

Play store beta version is still 1.14, so unable to confirm :)

[2018-11-30 10:18] enahum commented on #2407
The problem here is that mattermost-redux builds itself during the prepare script, seems for some reason npm sometimes failed to run the prepare script, we are looking for other alternatives. As a workaround you can `cd node_modules/mattermost-redux` and run npm install in that directory for it to build properly, also maybe try with node 10, in my case I have node 10.11.0 and npm 6.4.1 and it work

[2018-11-30 10:31] enahum commented on #2400
I see your point on not having to install cocoapods to download the dependencies, maybe is worth it, and it looks like it is their recommendation although that same link mentions the fact the adding the pods or not depends on each project etc and they are benefits to check them in and benefits to ignore them.

I’m not against but it is a huge amount of data to be checked in and for me the reasons

[2018-11-30 10:36] enahum commented on #2374
@jacobgude are you aware this will. We’d some development from your end, right? And perhaps once is done if you find a way to make it optional you could submit a PR to support this on build time ;)

[2018-11-30 10:38] enahum commented on #2398
I’m using node 10.11.0 and npm 6.4.1

[2018-11-30 16:31] C2L2C opened #2411 "Jumbo emoji not working on mobile app after upgrade"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Jumbo emoji not working on mobile app after upgrade
#### Environment Information

- Device Name: Asus zenfone 5z
- OS Version: Android 8
- Mattermost App Version: 1.14.0
- Mattermost Server Version: 5.5

#### Steps to reproduce
How can we reproduce the

[2018-11-30 16:33] amyblais commented on #2411
Hi @C2L2C,

Support for jumbo emojis on the mobile app will be added in v1.15 release: https://mattermost.atlassian.net/browse/MM-12353.

[2018-11-30 21:26] dabbill opened #2412 "App crash with specific message"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Specific message can crash app.

#### Environment Information

- Device Name:
- OS Version: Android 8.0.0 Sept 1st 2018 security update
- Mattermost App Version: 1.14.0
- Mattermost Server Version: 5.4 (gitlab bundle)

#### Steps to reproduce
How can we

[2018-11-30 21:27] swood opened #2413 "My messages don't highlighted"
Hello.

I'm using the application Beta on iOS of version 1.13.1.
And I sight that messages I wrote to any channels don't highlight whereas on the desktop or web version of the same chat
Do you need some proof of that or it is known error? Or it is not a bug, and I have to solve it by myself?

[2018-12-01 00:28] jsha opened #2415 "Stay logged in"
I've noticed that the Mattermost Android app periodically logs out the user, presumably every 30 days. I would recommend using persistent sessions by default (i.e. "stay logged in"). When users get logged out periodically, they tend to choose weak passwords that are easy to remember and easy to type, particularly on mobile. So periodically logging out users can actually act as a detriment to secur

[2018-12-01 13:50] enahum commented on #2415
Hey @jsha thanks for the feedback in fact the session length is controlled by a server setting that the administrator can set in **System Console > Security > Sessions**

[2018-12-01 17:41] jsha commented on #2415
Awesome, thanks!

[2018-12-01 17:41] #2415 closed

[2018-12-02 09:31] mgrebenets commented on #2398
Thanks @enahum.
I've got success with both node 9.3.0 and node 10.11.0.
And latest yarn, haven't had success with npm :(, fails to download packages with "end of stream" error.

Should the doco specify both node and npm version?
The default npm version for node 9.3.0 is 5.x.y (don't recall completely) and that version doesn't support `npm ci` command.

[2018-12-02 09:34] mgrebenets commented on #2400
`ios/Pods` so far is 260K.
I was also negative about the approach, but later came to appreciate it.
Our CI servers are behind firewall and can't even install or update pods, so we had to do it out of necessity as well (an alternative would be to maintain internal copy of all the pods we use, which we did too and it wasn't pleasant either).

[2018-12-03 04:53] #2407 closed

[2018-12-03 04:53] #2404 closed

[2018-12-03 07:45] eMPee584 commented on #1512
Strong objection: this feature request should stay open until it is resolved, as need for multiple servers is a common scenario in deployment.
That way, users can at least find some information about the issue here, instead of filing duplicate reports.

[2018-12-03 08:20] shawn111 commented on #2349
Hi @enahum,
The notification permission was allowed.

![screenshot](https://chat.easystack.io/files/hkptddfupbrd3picjtifc1hrry/public?h=-XyQ8f9xend1VZ0qiK2gZuKFpIa2NNwHo44KxGZO5FE)

[2018-12-03 09:22] hanzei commented on #1512
Work on this feature has been begun. You can follow the progress via https://mattermost.atlassian.net/browse/MM-11067.

[2018-12-03 17:47] swood commented on #2413
Hi, @hmhealey, you're right. Please, mention it.
Also, I'd like to know why it was an intentional design decision?

[2018-12-03 18:48] amyblais commented on #2412
Hi @dabbill,

Thank you for the report, I'll start by testing this out on iOS as I don't have Android. If I can't reproduce this then I'll ask one of our QAs to test it out on Android in case it is Android specific issue.

[2018-12-03 20:55] dabbill commented on #2412
I am on T-Mobile LG G7 ThinQ.

On Mon, Dec 3, 2018, 12:24 PM Harrison Healey <notifications@github.com
wrote:

[2018-12-04 14:41] hmhealey commented on #2413
I just asked some of our designers about it, and we're trying to cut down on the number of visual elements in the post list to make it easier to read. It's something we're trying out on the mobile app, and we're also considering removing that effect on the web and desktop apps as well.

[2018-12-04 15:23] hmhealey commented on #2412
I think I see what's happening here since I actually fixed it already, but I didn't realize that change wasn't included in 1.14. Certain characters trigger the Markdown renderer to start a new text node so while `I'm using Markdown` might render as `<Text>I'm using Markdown</Text>`, `!!!` might render each as its own Text node so you get `<Text>!</Text><Text>!</Text><Text>!</Text>`. It looks like

[2018-12-04 16:03] dabbill commented on #2412
Awesome. Thanks for the updates  :-)

-----Original Message-----
From: Harrison Healey <notifications@github.com>
Reply-To: mattermost/mattermost-mobile <
reply@reply.github.com

To: mattermost/mattermost-mobile <mattermost-mobile@noreply.github.com>
Cc: Ryan Gillette <dabbill@gmail.com>, Mention <
mention@noreply.github.com>
Subject: Re: [mattermost/mattermost-mobile] App crash with specific
mess

[2018-12-05 13:43] elvisfromsouth opened #2420 "Unable to load script from assets 'index.android.bundle'"
i build my android apk (via `make build-android`), but i see only spash screen

[code]
also
i try `make unsigned-android`, but i cant install apk

fastlane -  2.108.0.

[2018-12-05 13:56] enahum commented on #2420
can you confirm your node and npm versions? I just updated the documentation to use node 10.11.0 and npm 6.4.1

[2018-12-05 14:02] elvisfromsouth commented on #2420
node - v10.14.1
npm - 6.4.1

[2018-12-05 14:05] enahum commented on #2420
can you post the full log so I can take a better look?

[2018-12-05 14:19] elvisfromsouth commented on #2420
@enahum
[code]

[2018-12-05 14:20] elvisfromsouth commented on #2420
@enahum why signed apk need permission like developer mode?

i use:
[code]
via `make build-android`

[2018-12-05 14:24] elvisfromsouth commented on #2420
@enahum
i checkout from branch master (last commit), and just want to build apk. i dont edit source code

[2018-12-05 14:35] elvisfromsouth commented on #2420
@enahum

[code]

[2018-12-05 14:37] elvisfromsouth commented on #2420
I edit config to
[code]

and
ANDROID_BUILD_FOR_RELEASE=true
and add keystore setting but my apk still Dev, why?

[2018-12-07 04:14] #2401 closed

[2018-12-12 12:49] yakimant commented on #1522
PROVISIONING_PROFILE_SPECIFIER = "match Development com.XXX.mattermost"

Yes

I'm trying to switch to use `make build-ios` and included Fastlane. The goal is to only have `.env` file.
Looks like it's not possible to sign with `Distribution` profile using only `.env` changes.

[2018-12-13 05:43] andrewbanchich opened #2457 "Support round icons"
Pixel Launcher (the default launcher for Pixel phones) uses circular app icons. Almost all of my apps support this, but Mattermost doesn't, so the icon becomes a white circle with a very small blue square inside.

It would look much better and be fairly easy to fix this.

[2018-12-13 11:17] enahum commented on #2457
@andrewbanchich thanks for the report.

We have a Help Wanted ticket https://github.com/mattermost/mattermost-server/issues/9758 just for this, would you be interested in doing the implementation?

[2018-12-14 02:58] avasconcelos114 opened #2461 "Blank spaces break markdown table"
#### Summary
Blank spaces in certain places of Markdown tables cause them not to render at all

Note: There was a [very similar issue](https://mattermost.atlassian.net/browse/MM-11955) reported in the past. But in this issue blank spaces in other places will cause the same behavior to occur

#### Environment Information

- Device Name:
- OS Version: iOS 12
- Mattermost App Version: 1.14 .0 (Build

[2018-12-14 13:45] andrewbanchich commented on #2457
I'm not sure how much free time I have at the moment, but I would like to get involved in contributing to Mattermost when I do have more time.

[2018-12-15 00:02] amyblais commented on #2461
Thanks for the report, opened a ticket here: https://mattermost.atlassian.net/browse/MM-13516.

[2018-12-17 13:57] nicolinuxfr opened #2463 "The iPad version could use the desktop interface rather than smartphone"
#### Summary
The iPad/tablet version of the app uses a bigger iPhone/smartphone interface, rather than using the desktop website. In particular, the sidebar with all channels is hidden by default and takes almost the whole screen when displayed :

![img_0126](https://user-images.githubusercontent.com/2078386/50091381-83c2fa80-020b-11e9-86bd-b24c2b20c29d.png)

![img_0129](https://user-images.github

[2018-12-24 02:13] randallgrout opened #2476 "Blurry or fuzzy font display in Android app"
#### Summary
As of version at least 1.15.1, the Android app's fonts are shown with a slight blur appearance.

#### Environment Information

- Device Name: OnePlus 6
- OS Version: Android 9.0
- Mattermost App Version: 1.15.1 (build 166)
- Mattermost Server Version: 5.4.0

#### Steps to reproduce
View app with version 1.15.1.  Compare to version 1.14.0 (build 158).

#### Expected behavior
Sharp and

[2018-12-24 14:32] tgly307 opened #2477 "[Android]Date of timeline is incorrect"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
The showed date in a channel is incorrect, the date showed in app is earlier than current date. For example, current date is 2018-12-24, but the date showed in app is 2018-12-23.

#### Environment Information

- Device Name: HUAWEI MATE 20 pro
- OS Vers

[2018-12-25 22:16] dbrgn opened #2480 "Android minSdkVersion changed from 21 to 24 (Android 5/6 support dropped)"
In #2470, the `minSdkVersion` for Android builds was increased from 21 to 24.

What this means, is that Android 5 and 6 are not supported anymore, and Android 7+ is required.

Or, in other words, as of October 2018, you are cutting off support for over half (50.3%) of Android users.

https://developer.android.com/about/dashboards/#Platform

![img](https://tmp.dbrgn.ch/screenshots/20181225231012-ks

[2018-12-26 23:57] promethe42 commented on #622
@lfbrock @lindy65 AFAIK changing the user agent should do the trick. The SSO webview is created here:

https://github.com/mattermost/mattermost-mobile/blob/master/app/screens/sso/sso.js#L232

We could simply set the `userAgent` property:

https://github.com/react-native-community/react-native-webview/blob/master/docs/Reference.md#useragent

We could do this only when we're dealing with a Google OA

[2018-12-28 08:55] lindy65 commented on #622
Hi @promethe42,

Thanks for your message and the offer of a PR :)

I'll defer to @enahum and @esethna as they are more closely involved with the roadmap for the mobile apps. I'm not sure whether they're out for the holidays so they might only respond after the new year

[2018-12-29 04:27] realyenman opened #2482 "After login to channel which create non admins, I see only a white screen"
#### Summary
After login to channel which create non admins - I see only a white screen

#### Environment Information

- Device Name: Samsung Galaxy S9+
- OS Version: Android 8.0.0
- Mattermost App Version: 1.15.1
- Mattermost Server Version: 5.6.1

#### Steps to reproduce
Create a public channel through the desktop application and try to login it on the mobile application.

#### Expected behavior

[2018-12-29 07:33] promethe42 commented on #622
@enahum OK I'll do it.

Here is my plan:

* setup a build/config parameter to change the user agent declared by the web view
* provide a default value that works for the Google Auth
* attempt to use this user agent only for Google Auth URLs to minimize the impact

This would be my first Mattermost PR, so I'll have to setup my dev env first. But the documentation looks great.

In the meantime, plea

[2018-12-29 10:16] enahum commented on #622
@promethe42 sounds like a solid plan, you can refer to the logic in the webapp to enable/disable the login option.

I’ve created this ticket https://mattermost.atlassian.net/browse/MM-13602 so it can be tracked.

Let me know if you need help with the dev env setup.

Thanks for taking care of this.

[2018-12-29 10:20] enahum commented on #2482
Is that channel empty or it contains posts? Cause it could be that is failing to render a specific post. If that is the case it would help to narrow down which post is it so a fix can be applied.

[2018-12-29 10:40] enahum commented on #2374
Duplicate of #622

[2018-12-29 10:40] #2374 closed

[2018-12-29 11:38] tgly307 commented on #2477
@enahum Yes, I checked the device settings, the date is right. My server and clients are in the same time zone(UTC/GMT+08:00).
I have tried the android client on 2 phone,1 pad and android simulator on PC,  the date is all incorrect( They are all ahead of the day ). But when I access mattermost by browser on these devices, the date is correct.

[2018-12-29 14:31] promethe42 commented on #622
I've setup a working `Dockerfile` to build the Android app with a one liner.
I'll make a first PR with that.

Where should I put this kind of config variable?

[2018-12-29 15:05] jasonblais commented on #2476
Thanks for the report @randallgrout! I checked and the issue is fixed with react-native v0.57.8 as you said - we'll likely update to that version (from v0.57.5) on our next dependency update after holidays.

[2018-12-29 15:10] JacobDB commented on #2457
Just to add on to this – technically, Pixel phones use Adaptive Icons, not just circular. I have mine set to squircle at the moment. See [Google's documentation](https://developer.android.com/guide/practices/ui_guidelines/icon_design_adaptive).

[2018-12-29 15:12] enahum commented on #622
@promethe42 I think it should go in `assets/base/config.json`

[2018-12-30 15:08] promethe42 opened #2484 "Android app stuck on splashscreen"
#### Summary

After building/installing the Android app, it's stuck on the splashscreen.

#### Environment Information

- Device Name: Galaxy S9
- OS Version: Android Pie (9.0)
- Mattermost App Version: master
- Mattermost Server Version: NA

#### Steps to reproduce

[code]

Content of `fastlane/.env`:

[code]

#### Expected behavior

The app builds and runs. After the splashscreen, the app starts

[2018-12-30 18:21] realyenman commented on #2482
There are no posts in the channel.

[2018-12-30 20:04] jasonblais commented on #2482
@realyenman Would you be open to changing your language to English (via Account Settings > Display > Language), then trying again if this reproduces for you?

I tried with Russian translations myself, but wasn't able to reproduce it yet.

[2019-01-01 01:31] tgly307 commented on #2477
@amyblais I have upgraded my server to 5.6.2 and set ExperimentalTimezone enabled, it doesn't work.
I also try this on the community server, the issue still exists.

[2019-01-01 15:38] amyblais commented on #2394
Closing this as there hasn't been activity on this for a while,

[2019-01-01 15:38] #2394 closed

[2019-01-01 15:40] #2412 closed

[2019-01-01 15:40] #2413 closed

[2019-01-01 15:41] amyblais commented on #2457
Closing this as there is a Help Wanted ticket to track this,

[2019-01-01 15:41] #2457 closed

[2019-01-01 15:42] enahum commented on #2457
@amyblais can you link the help wanted ticket?

[2019-01-01 15:43] amyblais commented on #2399
Have you had a chance to check if you can reproduce this bug on v1.15?

[2019-01-01 15:49] amyblais commented on #2457
Ticket here: https://github.com/mattermost/mattermost-server/issues/9758

[2019-01-02 00:49] PromoFaux commented on #2399
Hi Amy,

Currently have 1.15.1 installed and still seeing this bug.

[2019-01-02 03:37] jasonblais commented on #2477
Hmm, would you happen to have any other apps on your Android device? Do they show the correct date?

Trying to think of reasons why the date would be incorrect on Android but correct elsewhere.

[2019-01-02 03:51] tgly307 commented on #2477
@jasonblais I have check the date of telegram and nextcloud(I just find these show date information), it is correct.
I guess if this problem is related to the time zone. I don't have an Android environment in other time zones, so I can't test it. Have you tried it on your Android device? Is there the same problem?

[2019-01-02 04:14] jasonblais commented on #2480
Thank you @dbrgn for the feedback!

The decision to increase the minimum SDK version was due to a requirement by Google Play:

https://android-developers.googleblog.com/2017/12/improving-app-security-and-performance.html

As a result, the Android 7+ requirement was applied for our December 16th release (1.15.0). Previous versions can, however, continue to use 1.14 on newer Mattermost servers witho

[2019-01-02 04:46] jasonblais commented on #2399
Thanks @PromoFaux - would you be open to trying test if it reproduces on our [community server here](https://community.mattermost.com/)? I think you're already a member of the Contributors team.

That'll help us narrow down the potential problem if it doesn't reproduce on community.mattermost.com.

[2019-01-02 08:48] dbrgn commented on #2480
Hi @jasonblais. This decision by Google only affects the targetSdkVersion, not the minSdkVersion. You can increase the targetSdkVersion without changing the minSdkVersion.

Cross-version compatibility can be done with the support library (now renamed to https://developer.android.com/jetpack/androidx/).

[2019-01-02 11:54] enahum commented on #2480
Hi @dbrgn that is true indeed, but we ended up bumping the `minSdkVersion` also cause the app is now using some specific API not available in SDK level 21-23 and was causing all those devices to crash at startup anyway.

Right now people with API levels lower than 24 will keep continue using 1.14 as the latest version and people with API level 24+ will get the updates.

In any case feel free to su

[2019-01-02 12:02] dbrgn commented on #2480
I can't promise anything, because I don't have much capacity for other projects at the moment.

The general way how this can be solved though, is by adding the `@TargetApi(Build.VERSION_CODES.O)` annotation to methods that use new APIs (notification channels), so that the app can be built for the old target SDK. To check whether the notification channels are supported, you can then use `Build.VERS

[2019-01-03 23:35] amyblais commented on #2399
@PromoFaux You could check in the database and see if the mime types are correct for these file types. You can check mime types with
[code]

[2019-01-05 19:13] PromoFaux commented on #2399
@jasonblais

Just did some tests on your server and on ours, and it appears that it may be server-side rather than mobile related (at this stage, in any case!) Screenshots below:

Your server (note that `jpeg` extension is showing fine both on web client and mobile):

![image](https://user-images.githubusercontent.com/1998970/50728174-c34f7900-111d-11e9-85f7-257951156dbf.png)

![image](https://use

[2019-01-05 19:14] PromoFaux commented on #2399
@amyblais I will get our server admin to check that, as I don't have access to the database... paging @dschaper

[2019-01-05 19:33] dschaper commented on #2399
[code]

[2019-01-05 22:20] dschaper commented on #2399
`.jpg` seems okay, `.jpeg` shows:

[code]

[2019-01-06 17:06] promethe42 commented on #2484
I'd love some help on this since it's keeping me from implementing https://github.com/mattermost/mattermost-mobile/issues/622

[2019-01-07 11:30] yakimant commented on #1522
@enahum, I have tried your Fastlane config with following env variables set:
- BUILD_FOR_RELEASE
- MAIN_APP_IDENTIFIER
- EXTENSION_APP_IDENTIFIER
- IOS_ICLOUD_CONTAINER
- IOS_APP_GROUP
- IOS_BUILD_EXPORT_METHOD
- FASTLANE_TEAM_ID

This was not enough for Enterprise Distriution signing / export.

The following changes are needed additionally:
- Change ```CODE_SIGN_IDENTITY``` to ```iPhone Distribut

[2019-01-07 21:15] razbag commented on #2477
I am also confirm that  current date is 2019-01-07, but the date showed in app is 2019-01-06.

Time is correct only problem with date

Environment Information
Device Name: Xiaomi Mi 5
OS Version: Android 8.0
Mattermost App Version: 1.15.1(build 166)
Mattermost Server Version: 5.5.0

[2019-01-09 12:49] realyenman commented on #2482
If i change language to English on the desktop client - the channel starts to open normaly. If i change the language back to Russian - it continues to work like a charm. But this is not a solution. I can not understand the patterns. In reviews on Google Play, there are many of the same as my reviews from users from Russia.

[2019-01-09 12:54] jasonblais commented on #2482
Now that you switched back to Russian, does creating a public channel through the desktop application and logging in the mobile app reproduce the issue, or it works great?

I'm not sure what might have caused it..did it happen to many users in your team?

[2019-01-09 13:00] realyenman commented on #2482
This is guaranteed with all users in the team. Mobile phones on Android and iOS. The channel that was the problem - it works fine. But if I create a new channel, users will enter it, after some time it will stop working on the mobile device and the user will need to switch the language in the settings again.

[2019-01-10 10:39] arsradu opened #2502 "iOS notification badge stuck on unread messages"
#### Summary
iOS notification badge stuck on unread messages, although all the chats are up to date (already read).

![image-1](https://user-images.githubusercontent.com/5080446/50962464-fa81a980-14d2-11e9-851b-3208f3031204.jpg)

#### Environment Information

- Device Name: iPhone 7
- OS Version: 12.1.3 Beta 3 (same issue on 12.1.2 though)
- Mattermost App Version: 1.15.1 (Build 166)
- Mattermost

[2019-01-10 13:05] amyblais commented on #2502
Hi @arsradu,

This issue has been fixed and the fix will be available in the next Server release (v5.7): https://mattermost.atlassian.net/browse/MM-13600.

[2019-01-10 13:16] arsradu commented on #2502
Awesome. Thank you! :)

[2019-01-10 14:30] weekscharlie commented on #2502
Came here to report this if it hadn't been already.  Thanks for the quick ID and response on this!

[2019-01-10 16:24] hmhealey commented on #2484
Hi @promethe42. Are you able to run the app if you just do a `make run-android` to run the app in debug mode? There might be some more useful information logged in that mode

[2019-01-10 16:27] hmhealey commented on #2477
Does this happen with the experimental timezone setting disabled, or is it just when it is enabled? It might be something to do with that

[2019-01-11 10:01] razbag commented on #2477
I try with experimental timezone setting enabled

[2019-01-11 11:08] tgly307 commented on #2477
@hmhealey Hi, I have tried to set `ExperimentalTimezone` true and false, then restart the server. But the issue still exists.
I alse tried to set the timezone different, the displayed time changed, but the date is still wrong.

[2019-01-11 11:50] tgly307 commented on #2477
I found the statement that the 1.14 version date is completely correct is wrong. I looked at the dates of all the channels in version 1.14 and found that some channel dates are correct and some are wrong. This is very strange. So this reason seems a bit complicated, it may be that there is some kind of defect before, but it is completely exposed in the 1.15 version.

[2019-01-11 15:53] gigaherz opened #2506 "Not enough margin at the bottom of the message list"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
The mobile app doesn't have any margin between the end of the chat history and the message inputbox, giving the impression that there is more to scroll since it seems like the message is cut off.

#### Environment Information

- Device Name: Xperia Z5 C

[2019-01-14 09:49] Robbe7730 opened #2507 "Too many url requests"
#### Summary
When there are urls in a direct message, the app queries them all at the same time, causing spam filters to trigger.

#### Environment Information

- Device Name: Huawei P20 Lite
- OS Version: Android 8.0.0
- Mattermost App Version: 1.15.1 (Build 166)
- Mattermost Server Version: 5.6.0 (Build 5.6.2)

#### Steps to reproduce

- Make sure a spam filter (like fail2ban) running on the ser

[2019-01-14 14:43] uusijani commented on #1687
A hint for anyone googling for this: make sure that the value of <code>gcmSenderId</code> in your <code>AndroidManifest.xml</code> still has <a href="https://github.com/mattermost/mattermost-mobile/blob/0af947476e31d8dac26950807c3cf49d93443a16/android/app/src/main/AndroidManifest.xml#L24">the trailing backslash (\\)</a> after you've changed the project number to your own. <a href="https://stackove

[2019-01-14 19:12] hmhealey commented on #2477
We're still having trouble reproducing the exact issue, but maybe we can try to replicate what you're seeing as best we can. Can you answer all of the following?

1. What time zone is your phone using in the settings?
2. Do you have the experimental timezone setting currently enabled? If so, what timezone is your account using and is it set to automatically detect the timezone?
3. What are the dat

[2019-01-15 00:08] amyblais commented on #2506
Hi @gigaherz,

Thank you for reporting this, I don't have an Android device to test this on so I'll ask our QAs to help test this.

[2019-01-15 07:40] cpajaron commented on #2477
Hi,
Is there a fix for this issue already? I am experiencing the same as well. Also my colleague experienced the same issue.
I have done the same troubleshooting. Android OS and apps have been updated to the latest version but no luck.

[2019-01-17 18:39] 2xB opened #2512 "Text input looses focus with external keyboard"
#### Summary
When an external keyboard is used, the chat input text field looses focus as soon as the on-screen-keyboard is hidden.

#### Environment Information

- Device Name: Samsung Galaxy Tab S2
- OS Version: 7.0
- Mattermost App Version: 1.15.1 (Build 166)
- Mattermost Server Version: 5.5.0

#### Steps to reproduce
Select the chat input text field to write text. The Android keyboard opens.
E

[2019-01-20 13:47] pesintta opened #2514 "SSO login page never loads with IOS-10"
#### Summary
Current versions of mattermost-mobile cannot complete SSO login on IOS-10

#### Environment Information
- Device Name: iPad 4th gen
- OS Version: iOS 10.3.3
- Mattermost App Version: 5.6
- Mattermost Server Version: 5.7

#### Steps to reproduce
1. Install latest mattermost-mobile from app store
2. Open app and connect to server that supports SSO, e.g. SAML
3. Try to login using SAML.

[2019-01-20 19:48] razbag commented on #2477
Hi @tgly307 I have update Mattermost Mobile to version 1.15.2 and  now in my side date and time is ok for now

[2019-01-21 00:51] tgly307 commented on #2477
@razbag thx bro, it works!
Thank you for your outstanding work guys. @amyblais @jasonblais
I will close this issue.

[2019-01-21 00:51] #2477 closed

[2019-01-21 09:27] Bables55 opened #2516 "I can not add Emoji/reactions"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
There is no pictogram input icon in the iPhone application. I do not see it even if I add a reaction by long pressing the sentence.

#### Environment Information

- Device Name: iPhone SE
- OS Version: iOS 12.1.2
- Mattermost App Version: .15.2
- Matter

[2019-01-21 09:41] licaon-kter opened #2517 "Android - share limited to open channels/users"
#### Environment Information
- Mattermost App Version: 1.15.2
- Mattermost Server Version: 5.7.0

#### Steps to reproduce
Share an image from gallery app

#### Expected behavior
Press channel, see open channels/chats, use the input field to search for ALL channels/users, choose one/any channel/user on the team that you can access

#### Observed behavior
Search field can search only open channels/u

[2019-01-22 23:13] amyblais commented on #2516
Hi @Bables55,

I'm not able to reproduce this on a similar environment. Can you try do a long press on a post and you should see a drop-down menu appear?

[2019-01-23 00:38] Bables55 commented on #2516
I may have solved it. I thought that it was a problem of "language", I changed the language of iOS from Japanese to English. Since then, I can add Emoji even in English environment and Japanese environment. And then I can add Emoji even if I return to the Japanese environment.
Restarting iOS did not solve it. Did I have a special accidental incident with My iPhone SE and the other iPhone8?

Is it

[2019-01-23 14:54] enahum commented on #2507
It seems there is a PR for this https://github.com/mattermost/mattermost-server/pull/10118

[2019-01-23 15:07] hmhealey commented on #2507
Hi @Robbe7730,

The reason this happens is because the app is looking at the external link to find content that it can show as a preview. When it hits that particular endpoint, it's checking to see if the link is from a link shortener like bit.ly.

In addition to the PR linked by @enahum, we're also doing further work to have the server be in charge of making those requests (right now, it does it

[2019-01-23 15:10] hmhealey commented on #2507
In the mean time though, there's no easy way to prevent those requests without modifying the code of the app. If you're looking to do that, I can point you to what needs to be disabled to turn that behaviour off

[2019-01-23 15:58] amyblais commented on #2512
Hi @2xB,

I've passed this along for QA testing, but our developers gave a heads-up that this is currently expected as we don't have official support for external keyboards.

[2019-01-23 16:00] amyblais commented on #2502
v5.7 and RN v1.15.2 have been released so I'll close this Issue for now.

If you sill see this issue, you may be hitting an edge case which we have a ticket for fixing in a future release: https://mattermost.atlassian.net/browse/MM-13722.

[2019-01-23 16:00] #2502 closed

[2019-01-23 16:01] amyblais commented on #2463
Closing this as there hasn't been activity here for a while,

[2019-01-23 16:01] #2463 closed

[2019-01-23 16:02] amyblais commented on #2420
Closing this as there hasn't been activity here for a while,

[2019-01-23 16:02] #2420 closed

[2019-01-23 16:06] amyblais commented on #2514
Hi @pesintta, thank you for the PR!

[2019-01-23 17:34] amyblais commented on #2517
Hi @licaon-kter,

I asked our QAs about this and the part regarding the share extension to be able to share to all public channels as well as any DM channel has never worked that way (it's currently expected behaviour).

The second part could makes sense to be able to search any user on the server instead of just DM on the sidebar, but being able to search across all public channels does not make

[2019-01-23 17:53] amyblais commented on #2517
I also opened a ticket for our UX team to take a look: https://mattermost.atlassian.net/browse/MM-13813.

[2019-01-24 09:33] Bables55 commented on #2516
It recurred.

`{"level":"error","ts":1548322322.2159781,"caller":"app/ratelimit.go:85","msg":"Denied due to throttling settings code=429 key="}`

[2019-01-24 12:09] Robbe7730 commented on #2507
Thanks for the reply. However, I think the problem is not server-side, but the app sending too many requests to the server, so improving caching on the server will not fix this problem, unless this behaviour is shifted to the server completely.

Other options are for example keeping a cache on the app itself, to only send one request to the server per URL instead of one per message containing a UR

[2019-01-24 14:26] hmhealey commented on #2507
The actual call to that API is done [here](https://github.com/mattermost/mattermost-mobile/blob/master/app/components/post_body_additional_content/post_body_additional_content.js#L127) where it's looking to see what preview should be displayed by the client.

Looking at that component, you're absolutely right that it doesn't do any sort of caching on the potentially-expanded link, so it make the s

[2019-01-24 14:40] Robbe7730 commented on #2507
I've used redux before, so I'll look into it soon. Do we also want to store when the request is pending? I assume the requests happen asynchronous, so another request could be sent to the server while the previous one is still pending. This could be done by watching for the `REDIRECT_LOCATION_REQUEST` action, but that then needs to send the url it's requesting in its `data`-field.

If we do that,

[2019-01-24 15:09] FluffyAlpaca opened #2521 "Keyboard lose focus"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Issue in one concise sentence.

I got a flip phone and so, a physical keyboard along with a touchscreen.
On the physical keyboard, when I type letters, everything's works fine.
When I type special characters, like single quotes or parenthesis, and when

[2019-01-24 15:42] hmhealey commented on #2507
I don't think we really need to store when there's already a request pending since it would probably be rare that the same link is posted twice in a short period of time, and even if it is, I don't think that would help since the redux state probably wouldn't be updated in time to prevent the second request.

Watching for failure makes sense though so we know not to make the request again. Perhaps

[2019-01-24 18:37] Robbe7730 commented on #2507
That's true, altough I'm not convinced on storing the failed url as the expanded one. Maybe there was a temporary problem getting the expanded URL, but it does work after some time. The app wouldn't know it did not work.

Also, is the redux state presistent? If so, a url may change to another expanded url after some time. Maybe there could be a TTL by adding a lastChecked?

About the changes in `m

[2019-01-25 05:26] Bables55 opened #2522 "Adjust font size - too small"
#### Summary
Font size is too small for some users.
The font size can not be adjusted.

There was dynamic size change in past articles, but I do not want that much. I want the font size to be changeable. It can be set with numbers or large, medium or small.

#### Environment Information

- Device Name:  iPhone SE, 7, 8, X, XS Max
- OS Version: iOS 12.1.2, 12.1.3
- Mattermost App Version: 1.15.2
-

[2019-01-26 14:21] Gloriashield opened #2524 "Public team join issue (specific domain). Very serious."
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
This problem has very serious consequences. Set domain constraints on teams that are open to the public. Users who do not have a domain you set up earlier will have trouble join. When the user touch(click) a team, mobile app will show a "refresh(reload)

[2019-01-28 12:32] jazzzz opened #2528 "No notifications at all for mentions in muted channels"
#### Summary
I receive no notifications when I am mentioned in a muted channel.

#### Environment Information

- Device Name: Samsung Galaxy S7 Edge (G935F)
- OS Version: Android 7.0
- Mattermost App Version: 1.15.2
- Mattermost Server Version: 5.6.2

(Also reproduced on the iOS app).

#### Steps to reproduce
- User A mute a channel
- Send a message in this channel with user A mentioned

The user

[2019-01-28 14:42] jazzzz commented on #2528
Ho you're right, my mistake! So there seems that there is no way no avoid the badge at the right of channel when we are not mentioned but still get notifications?
Anyway, it's not an issue of the apps...

[2019-01-28 14:42] #2528 closed

[2019-01-28 14:59] hmhealey commented on #2507
While it's not ideal to store the non-expanded link, I think adding some sort of retry is a lot of effort when the failure case is just that the link preview might not show for shortened links if the network is unstable since those previews are the only reason we actually follow those shortened links.

Redux state is somewhat persistent. I'm not 100% sure on the lifecycle of all of the data, but t

[2019-01-28 16:05] enahum commented on #2524
I've file a ticket https://mattermost.atlassian.net/browse/MM-13860 to ensure this gets looked at

[2019-01-29 15:48] amyblais commented on #2327
Has this issue been resolved? If not, I encourage joining our [Mobile app channel](https://community.mattermost.com/core/channels/team-icu) on our community server to further troubleshoot this.

[2019-01-29 15:48] amyblais commented on #2347
Has this issue been resolved? If not, I encourage joining our [Mobile app channel](https://community.mattermost.com/core/channels/team-icu) on our community server to further troubleshoot this as Elias suggested.

[2019-01-29 15:49] amyblais commented on #2349
Has this issue been resolved? If not, I encourage joining our [Mobile app channel](https://community.mattermost.com/core/channels/team-icu) on our community server to further troubleshoot this.

[2019-01-29 15:49] amyblais commented on #2398
Has this issue been resolved? If not, I encourage joining our [Mobile app channel](https://community.mattermost.com/core/channels/team-icu) on our community server to further troubleshoot this.

[2019-01-29 15:54] amyblais commented on #2521
Hi @FluffyAlpaca,

Is this issue similar to https://github.com/mattermost/mattermost-mobile/issues/2512?

[2019-01-29 15:55] samnazarko commented on #2347
Unfortunately this hasn't been resolved.
I had a chat with @enahum but I didn't receive a response to recent messages.

My understanding is that the current documentation is out of sync; and I am still unable to properly build the Mattermost application for iOS.

[2019-01-29 15:58] amyblais commented on #2512
Hi @2xB, since we don't officially support this yet, would you be open to creating a feature request for this?

[2019-01-29 16:38] enahum commented on #2347
@samnazarko perhaps you can join the mobile channel and ping me there my username is `@elias` and we could potentially jump into a screen sharing and see what can be the issue

[2019-01-29 16:39] samnazarko commented on #2347
I am in the mobile channel and we discussed this previously, although I can appreciate that you may have been busy at the time. I'll give you a ping shortly.

[2019-01-29 16:41] Robbe7730 commented on #2507
All right, I've got the mobile dev app set up on my pc/phone. I'll see if I can add this :slightly_smiling_face:

[2019-01-29 22:38] Rudloff commented on #2327
Unfortunately, I can still reproduce this issue with 1.15.2 and Node 10.15.0 :slightly_frowning_face:

[2019-01-30 15:47] 2xB commented on #2512
Although I do not quite see where this is a missing feature, because this is specific to all resizing on-screen keyboards and not only to the behaviour of on-screen keyboards in use with an external keyboard, I nevertheless created a feature request:
https://mattermost.uservoice.com/forums/306457-general/suggestions/36676618-support-external-keyboard
I also created a feature request for a probably

[2019-01-30 15:52] 2xB commented on #2521
Hey, this actually is exactly the same cause as my issue #2512: My issue is caused by a resizing on-screen keyboard and has the same symptoms as yours (loss of focus on resizing keyboard). Nevertheless your last comment documented the problem way better than I did and your example also shows that this is a bug with resizing on-screen keyboards and not a missing feature.

[2019-01-31 00:36] amyblais commented on #2506
@gigaherz,

An update on this: our QA team hasn't been able to reproduce this, so it is possible that this an issue specific to the device / OS.

[2019-01-31 09:54] FluffyAlpaca commented on #2521
Ah indeed, when I go from the digital keyboard to the physical keyboard, I also have the same bug, I didn't notice.
On the following screenshot, I type on my physical keyboard :
![image](https://user-images.githubusercontent.com/25431347/52045876-b7e94500-2545-11e9-84cb-d49454a10e3f.png)
Then here, I clicked again on the text field to activate the digital keyboard and I typed a letter :
![image](h

[2019-01-31 13:57] amyblais commented on #2522
Hi @Bables55,

Would you be open to sharing this idea in the [Feature request forum here](https://mattermost.uservoice.com/forums/306457-general)?

[2019-01-31 14:03] amyblais commented on #2399
Just wanted to give an update that we haven't been able to reproduce this so far, so this seems to be a client side issue.

[2019-01-31 15:17] enahum commented on #2327
Have you tried setting the following env var `export NODE_OPTIONS=--max_old_space_size=12000` ?

[2019-01-31 16:00] Rudloff commented on #2327
Isn't the correct option `--max-old-space-size` (see [here](https://nodejs.org/api/cli.html#cli_node_options_options))?

Anyway, setting `NODE_OPTIONS` in the build environment seems to be ignored. (I suppose Gradle does not pass environment variables when calling node?)
But as mentioned in https://github.com/mattermost/mattermost-mobile/issues/2327#issuecomment-436952935, I tried setting the same

[2019-01-31 16:22] enahum commented on #2327
Are you using the make build-android command?

[2019-01-31 16:32] Rudloff commented on #2327
No, as mentioned quickly in https://github.com/mattermost/mattermost-mobile/issues/2327#issue-378354882, we use `make pre-run` to get the Node dependencies and then our build system calls `gradle assembleRelease` directly.
(This way we don't have to install Fastlane in our build VM and can reuse the automated process we use for other Gradle apps.)

Your Fastlane script seems to do basically the sa

[2019-01-31 16:39] enahum commented on #2327
@Rudolff sadly I don’t know why building the app that way is not working. Perhaps you should consider going through the fastlane route.

And perhaps is also the fact that your env var is using `dashes` instead of `underscores`? I think there is a difference between the cli option and the env vars

[2019-01-31 16:49] dschaper commented on #2399
It's reproducible, upload a file as `file.jpg` and everything is normal. Upload that same exact file as `file.jpeg` and the logs show `error ... File doesn't have a thumbnail image`. Along with the nginx proxy showing the http error.

[2019-01-31 23:52] amyblais commented on #2521
Hey all, I asked about this from our team again, and they confirmed that physical keyboards are not officially supported yet. Thanks for creating the Feature request Issues!

[2019-02-01 00:32] Bables55 commented on #2516
That is the only error sentence. Only the items of ts and key are different, but otherwise the same error is output for a considerable amount.

In my environment, this seems likely to occur in mobile origin. For a while, when the user is not using the "Add Reaction" function, it will almost certainly happen if mobile users use the function to add reactions. After that, when the PC user adds a reac

[2019-02-01 09:36] 2xB commented on #2521
Hello, just to be perfectly clear: This is not an issue of physical keyboards. This is an issue of resizing keyboards. Physical keyboards are only one very prominent example I chose for my issue because bugs with them are easy to reproduce. See for example Gboard, the digital keyboard by Google. It has a floating mode, meaning the keyboard disappears and is then drawn above the current application

[2019-02-02 15:17] Rudloff commented on #2327
It turns out that, while our dev VM has only 2 GB of RAM, our production server has 6 GB.
It seems to be enough to build the app so I will close this issue.

(I am still interested in making it build with 2 GB though, because we use the dev VM to test new builds.)

[2019-02-02 15:17] #2327 closed

[2019-02-04 17:34] hmhealey commented on #2516
Is that the only time you see that error message? The error message seems like it might not be related to reactions.

That is odd that the mobile app is able to add reactions after one is added by a user on the web or desktop apps. I'm not aware of any differences between how those work differently than mobile.

I'm sorry, but I don't understand your question. The screenshot I sent is how I usuall

[2019-02-04 19:56] ranamateen opened #2546 "Error in mutex.h file: Config.h file not found Xcode 10.1"
![screen shot 2019-02-04 at 5 33 59 am](https://user-images.githubusercontent.com/12171964/52233391-c5edeb80-28e0-11e9-9945-c28d38efdc5a.png)

I am getting this error "config.h file not found" in mutex.h file. I am using MacOS High sierra 10.13.6 and Xcode 10.1. In glog-0.3.5 folder I have already done the following solution but glog folder do not showing config.h file in it and it is used in the

[2019-02-04 20:10] enahum commented on #2546
have you installed the npm dependencies and the cocoapods dependencies by running `make pre-run`

[2019-02-04 20:47] ranamateen commented on #2546
Yes I have installed npm dependencies and cocoapods dependencies by running 'make pre-run'.

When I run make run it is sending this error in terminal when running in xcode it says config.h file not found. Please see the attached screenshot.

![screen shot 2019-02-05 at 1 44 11 am](https://user-images.githubusercontent.com/12171964/52236184-f5ecbd00-28e7-11e9-9315-60c76ac32ca0.png)

[2019-02-04 23:06] lindalumitchell commented on #2482
I'm able to reproduce this on 5.6 and 5.8 servers, with RN builds from latest back to v1.15.0. Does not reproduce for me on RN version v1.14. Reproduces for me as described: Only fails when set to Russian, works again when set to English and back, then fails again on Russian. Did not reproduce for me on a couple other languages I tried. I added details to the ticket: https://mattermost.atlassian.n

[2019-02-04 23:57] enahum commented on #2546
anyone else seeing this? I'm definitely not seeing it

[2019-02-05 16:31] amyblais commented on #2517
Closing this as there is now a Help Wanted ticket open for this (linked above).

[2019-02-05 16:31] #2517 closed

[2019-02-05 19:33] amyblais commented on #2512
Closing this via https://github.com/mattermost/mattermost-mobile/issues/2521

[2019-02-05 19:33] #2512 closed

[2019-02-05 19:33] amyblais commented on #2521
I'll ask our team for more details on this,

[2019-02-06 13:02] sushantbansal90 commented on #2303
i have same problem but unable to find location of (mattermost-mobile-env-vars) file

[2019-02-06 14:26] enahum commented on #2482
This was cause due to a bad translation in the translation server, should be fixed once we release 1.16.0 as it will include the fixed translation.

Once released feel free to corroborate and then close this issue

[2019-02-06 14:27] enahum commented on #2347
@samnazarko is it ok to close this issue now?

[2019-02-06 14:29] enahum commented on #2303
@sushantbansal90 here is the file https://github.com/mattermost/mattermost-mobile/blob/614e8e32ca1caf13ae3a04d97b95458a05ad6347/fastlane/env_vars_example you can also refer to the docs here https://developers.mattermost.com/contribute/mobile/build-your-own/

[2019-02-06 19:07] amyblais commented on #2521
Hi all, letting you know that I asked our team about this again, and they said that we don't support this yet.

Thanks @2xB for opening the feature request tickets in your previous Github Issue!

[2019-02-06 19:07] #2521 closed

[2019-02-07 10:31] FluffyAlpaca commented on #2521
Alright, thank you for your answers :)

[2019-02-07 14:19] samnazarko commented on #2347
Yes. Thank you so much for your help!

[2019-02-07 14:19] #2347 closed

[2019-02-08 18:39] ranamateen commented on #2546
Anybody there to see this issue?

[2019-02-11 07:59] AntonGG opened #2560 "Return white activity"
White activity

#### Environment Information

- Device Name: Honor 9 (STF-L09)
- OS Version: Android 8.0 (EMUI)
- Mattermost App Version: 1.15.2
- Mattermost Server Version: 5.7.1

#### Steps to reproduce
How can we reproduce the issue?
-White page opens on one of the chats.

#### Possible fixes
If you can, link to the line of code that might be responsible for the problem.
-Remove data app
![phot

[2019-02-11 14:50] licaon-kter opened #2561 "Crash stacktrace view allow selection&copy"
...so I can report it here.

v1.15.2

[2019-02-11 15:04] licaon-kter opened #2562 "Multiple select share crash"
#### Environment Information

- OS Version: Pie
- Mattermost App Version: 1.15.2
- Mattermost Server Version: 5.7.1

#### Steps to reproduce
Share multiple files from an app to Mattermost

#### Expected behavior
Show a view to select user/channel to share to...

#### Observed behavior
[code]

[2019-02-13 08:31] rubdottocom opened #2568 "Inline images not displayed when inside a table"
#### Summary
Inline images not displayed when inside a table

#### Environment Information

- Device Name: Samsung S9+
- OS Version: Android 8.0.0
- Mattermost App Version: 1.15.2
- Mattermost Server Version: 5.7.1

#### Steps to reproduce
Write this markdown on Mattermost Desktop or Web client

[code]

#### Expected behavior
Markdown renders to a table with an image inside

#### Observed behavior

[2019-02-14 10:30] TheCapsLock opened #2571 "Mattermost android loses its session after some days"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary

Mattermost loses session on Android after some time. We must reconnect too often by using account/password this is hugely annoying

#### Environment Information

- Device Name: Fairphone 2
- OS Version: 8.1.0
- Mattermost App Version: Classic 3.10.3
-

[2019-02-14 10:51] DSchalla commented on #2571
Hi @TheCapsLock,
can you check whether the timeout behavior is related to your configured session length for mobile duration? The behavior you've described sounds like the server admin has it configured that way. See: https://docs.mattermost.com/administration/config-settings.html#session-length-for-mobile-apps-days

[2019-02-14 12:02] TheCapsLock commented on #2571
@DSchalla thanks for pointing out that peace of documentation, I'll give a try

[2019-02-14 13:55] amyblais commented on #2560
Hi @AntonGG, does this only happen on one specific channel?

[2019-02-15 18:31] amyblais commented on #2568
Hi @rubdottocom, our QAs reproduced this so we created a ticket for this here: https://mattermost.atlassian.net/browse/MM-14232.

[2019-02-19 13:12] amyblais commented on #2562
Hi @licaon-kter, letting you know that our QAs reproduced this and opened a ticket here: https://mattermost.atlassian.net/browse/MM-14249.

[2019-02-20 19:41] hmhealey commented on #2507
Hi @Robbe7730,

Sorry that this has taken quite some time to get through review. Since we've been doing some other work that will allow us to remove the getRedirectLocation endpoint endpoint entirely, we were actually wondering if you'd be interested in helping finish off those changes. The link for that ticket is [here](https://mattermost.atlassian.net/browse/MM-13807), but basically, the client

[2019-02-21 12:51] PromoFaux commented on #2399
@amyblais Just to confirm this appears to be working now:

Mattermost Version: 5.8.0
App Version 1.16.0 (Build 175)

[2019-02-21 13:31] #2399 closed

[2019-02-25 07:08] licaon-kter opened #2593 "Archived teams reappear in selector"
Android AOSP 9, 1.16.1 on server 5.8.0

There's a high chance that old archived teams reappear and can be switched to.

Once that happens the teams selector disappears and you are stuck there needing to logout and login again.

There is no error standing out in logcat.

Repro steps (not sure these trigger it every time):
* open app and login as an admin
* no teams selector available
* open random

[2019-02-25 16:19] amyblais commented on #2562
Closing this as this has been fixed for v1.16.1 dot release.

[2019-02-25 16:19] #2562 closed

[2019-02-25 16:21] amyblais commented on #2482
Closing this as v1.16 has been released.

[2019-02-25 16:21] #2482 closed

[2019-02-25 16:22] amyblais commented on #2398
Closing this as we haven't received an update on this for a while,

[2019-02-25 16:22] #2398 closed

[2019-02-25 16:22] amyblais commented on #2349
Closing this as we haven't received an update on this for a while,

[2019-02-25 16:22] #2349 closed

[2019-02-25 19:30] amyblais commented on #2593
Hi @licaon-kter,

How are you archiving the team?  Or do you mean archived channels?

[2019-02-25 19:49] licaon-kter commented on #2593
`mattermost team archive`

[2019-02-26 20:07] amyblais commented on #2484
Closing this for now as there haven't been updates on this for a while.

[2019-02-26 20:07] #2484 closed

[2019-02-26 20:09] amyblais commented on #2516
Closing this for now as there haven't been updates on this for a while,

[2019-02-26 20:09] #2516 closed

[2019-02-26 20:10] amyblais commented on #2568
Letting you know that the Jira ticket was closed since this is not possible on the mobile app. Closing this for now,

[2019-02-26 20:10] #2568 closed

[2019-02-27 17:24] ranamateen commented on #2546
I removed glog folder from mattermost app and add a new glog folder in the directory by creating a new react native project and replace it with the old glog folder in mattermost code's directory. It worked for me.

[2019-02-27 17:24] #2546 closed

[2019-03-01 19:10] amyblais commented on #2571
Closing this for now as there hasn't been activity on this for a while. Please re-open this issue if the problem persists.

[2019-03-01 19:10] #2571 closed

[2019-03-01 19:26] amyblais commented on #2560
Hi @AntonGG, I'll close this issue for now because we haven't received feedback for a while.

If the issue continues, please upgrade your mobile version to the latest (v1.16.1).

If upgrading doesn't help, please let us know and re-open this issue.

[2019-03-01 19:26] #2560 closed

[2019-03-02 03:16] MartB commented on #2506
This seems to be an issue with my Mate 20 pro too, it looks super weird to have little to no space down there.

[2019-03-04 13:18] ajdev6 opened #2619 "[Android] Notification Dot not showing up"
#### Summary
Notification Dot is not showing up on app icon.

#### Environment Information

- Device Name: OnePlus 6
- OS Version: 9
- Mattermost App Version: 1.16.1
- Mattermost Server Version: 5.9.0

#### Steps to reproduce
How can we reproduce the issue?
When a user sends you a message and app is running in background, notification dot is not showing on app icon.

Show Notification Dot is enabl

[2019-03-04 23:10] amyblais commented on #2619
Hi @ajdev6, would you happen to know your Mattermost server version? You would normally find the information from Mattermost settings > About this App section.

[2019-03-05 03:20] ajdev6 commented on #2619
5.7.0

[2019-03-06 13:30] amyblais commented on #2619
Hi @ajdev6,

Letting you know that this is not a bug as the badges on Android are only available on certain devices. Android officially added support for 8.0+ https://developer.android.com/training/notify-user/badges.

Would you like to share this idea on our feature request forum here: https://mattermost.uservoice.com/forums/306457-general?

[2019-03-06 17:23] ajdev6 commented on #2619
Hi @amyblais,

I am testing on OnePlus 6 on Android 9. It supports notification badge. I have diagnosed the issue.
The issue is with mattermost-server payload.

I checked with the server payload in this file https://github.com/mattermost/mattermost-push-proxy/blob/master/server/push_notification.go

We need to update it according to the following docs:
https://firebase.google.com/docs/cloud-messag

[2019-03-06 19:34] amyblais commented on #2619
Hi @ajdev6, our developers said that this is a new thing that we have never added support for. Only some devices have had this feature.

[2019-03-07 19:05] amyblais commented on #2619
Hi @ajdev6, letting you know that we've opened an improvement ticket for this here: https://mattermost.atlassian.net/browse/MM-14467. There is no need to open a feature request issue as we can track this via the Jira ticket. Thanks for reporting this!

[2019-03-07 20:38] txnathrt opened #2636 "Android won't compile - missing gradle and google services"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
When attempting to build the Android app it fails with "Could not resolve all artifacts for configuration". It's looking for gradle 3.3.1 and google services 4.2 which don't exist as far as I can tell.

#### Environment Information

- Device Name:
- OS

[2019-03-07 21:33] enahum commented on #2636
Hi @txnathrt what branch are you trying to build?

[2019-03-07 21:37] txnathrt commented on #2636
I've tried 2 - master, and 1.16.1

The only difference is the version of missing gradle. Version 1.16.1 is looking for 3.1.4 while the master is trying for 3.3.1. None of which are available at jcenter,bintray.com.

[2019-03-07 21:40] enahum commented on #2636
gradle 3.3.1 should be available in google() repo and the google-services 4.2 should be available in maven

Can you make sure you have installed the SDK Tools for
* Google Play services
* Android Support Repository, rev 47
* Google Repository (version 58)

[2019-03-07 22:06] txnathrt commented on #2636
thx, installing them now

[2019-03-07 22:07] enahum commented on #2636
ok @txnathrt please report back.

[2019-03-07 22:21] txnathrt commented on #2636
installed google play, the 2 repositories were already there so part of the errors have been resolved

still missing gradle 3.1.4, looking around

[2019-03-08 14:27] etursunbaev commented on #1647
@lindy65 Above ticket is closed, so writing here.
Issue is actual. Mattermost mobile app on android disconnects when it is minimized or in standby mode in a background. If you need more information I can provide

[2019-03-08 17:20] lindy65 commented on #1647
Hi @etursunbaev :)

Thank you for the report!  As this issue is old and we weren't able to reproduce it on our team when it was opened last year (see [ticket](https://mattermost.atlassian.net/browse/MM-10408)) would you please open a new issue so we can reproduce it with what you're seeing now?

Please let us know which version on the Android App you are using as well as which Mattermost server yo

[2019-03-08 20:23] dbrgn opened #2639 "Repeatable build process"
I'm not submitting this to http://www.mattermost.org/feature-requests/ since it's not an app feature request.

#### Summary

In both of the following two use cases...

- ...trying to set up a development environment to be able to build the app in order to be able to contribute fixes
- ...trying to build every tagged release for a non-profit association I'm involved in

...I face difficulties getti

[2019-03-08 21:19] enahum commented on #2639
Thanks for the feedback @dbrgn

Even though I understand where you coming from, I have to say that we need to constantly bump dependencies versions for every platform: iOS, Android and JavaScript.

That said we do update the [developer setup docs](https://developers.mattermost.com/contribute/mobile/developer-setup/) and the [build your own docs](https://developers.mattermost.com/contribute/mobile/

[2019-03-08 21:40] dbrgn commented on #2639
@enahum thanks for the quick reply! Those docs are much better than I had them in mind (last time I looked at them was over half a year ago).

If those instructions / dependencies could be put into a set of scripts or something like a Dockerfile that can be easily replicated in an isolated environment, I think that would really improve the situation tremendously.

I'll try again to build version 1

[2019-03-09 10:10] cpanato commented on #2639
@enahum yes, I will make a PR adding the Jenkins pipeline in the documentation. Also, the plan is opensource the code we have so far, but I need some time to review to check if there is not sensitive data.

but for now i will make a pr adding the code in the documentation.

[2019-03-09 10:10] cpanato commented on #2639
assigning myself to make the pr :)

[2019-03-09 13:51] dbrgn commented on #2639
By the way, fastlane setup is missing in the developer setup docs. :slightly_smiling_face:

[2019-03-11 14:23] txnathrt commented on #2636
same result on Gradle:

[2019-03-11 14:24] txnathrt commented on #2636
![Capture](https://user-images.githubusercontent.com/45575257/54130964-c6016f80-43e7-11e9-8f30-65dd65473698.PNG)

[2019-03-12 23:02] avm5689 opened #2643 "Podfile.lock not in sync"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
When compiling using "make build-ios", the following error appears while compiling:

error: The sandbox is not in sync with the Podfile.lock. Run 'pod install' or update your CocoaPods installation.

#### Environment Information

- Device Name: MacBook

[2019-03-13 09:29] hho commented on #1951
This still doesn't work. :disappointed:

* Android 9
* Mattermost App 1.16.1
* Mattermost Server 5.8.0

[2019-03-13 09:31] Thoro commented on #1951
Neither inline nor the size constraint work, BUT it now displays the image instead of the source code ;)

[2019-03-13 09:40] hho commented on #1951
It doesn't for me:
![Screenshot_20190313-103220-redacted](https://user-images.githubusercontent.com/478228/54268820-5d97c700-457c-11e9-9f78-b767bd06e73d.png)

[2019-03-13 09:45] Thoro commented on #1951
Yep, issue is that you have directly =100  -> so seems that's not covered

[2019-03-13 10:02] hho commented on #1951
Thanks for the workaround. I'd open a pull request, but as the scaling doesn't work anyway... ¯\\\_(ツ)_/¯

[2019-03-13 11:34] enahum commented on #2643
Have you try updating cocoapods to version 1.5.3?

[2019-03-14 15:44] WGH- opened #2647 "Text input occasionally lags horribly"
#### Summary
Sometimes, when entering text, the keyboard input lags horribly. There's a large delay between pressing a key and letter appearing.

The following video illustrates the problem.  Visual keypress indications on the virtual keyboard represents actual touches pretty closely.

https://wgh.torlan.ru/ss/1552574716-yR.mp4

Note that video doesn't over-exaggerate the problem: lags are more or

[2019-03-16 00:22] enahum commented on #2619
@ajdev6 can you help clarify what is missing in the payload?

[2019-03-16 23:06] amyblais commented on #2647
Hi @WGH- ,

Thank you for the report. We're releasing v1.17 next week, would you be able to test then if the issue continues? If yes, then we'll continue to help investigate as we weren't able to reproduce this previously after a few users reported this some weeks ago.

Also upgrading your server version to the latest (v5.9) might help. You can test on our [community server](https://community.matt

[2019-03-21 09:56] mcuking opened #2662 "mattermost mobile couldn't not be debugged using react-native-debugger."
React Native Debugger app version: [0.9.7]
React Native version: [0.58.5]
Platform: [ iOS]
Is real device of platform: [No]
Operating System: [macOS]

when I download the latest version mattermost app code, run npm i && make run-ios, and close the chrome debugger page, use rect-native-debugger to debug it. The button in the picture could not be clicked. And close react-native-debugger, using chrom

[2019-03-22 05:28] enahum commented on #2662
Thia sounds like a problem of react-native-debugger, have you reported this issue in their repo?

[2019-03-22 05:31] enahum commented on #2647
This is a react native issue, we are waiting for a fix upstream. https://github.com/facebook/react-native/issues/20119

[2019-03-22 05:40] enahum commented on #2593
@amyblais this seems to be an issue with the API endpoint that does not returned deleted/archived teams.

When the app is closed or the WebSocket disconnected the app does not know anything about the archived/deleted team. When the app is re-opened it contains offline data with the team that was deleted and when the teams are fetch from the server that endpoint does not return any information abou

[2019-03-22 05:41] enahum commented on #2561
What is this about?

[2019-03-22 06:20] mcuking commented on #2662
@enahum yes, I don't know where the error is, so I reported this issue in your 2 repo at the same time yesterday.

By the way, do you have plan to create Mattermost mobile app with flutter?

[2019-03-22 06:47] licaon-kter commented on #2561
When an error occurs I'm presented with a view where the stacktrace is seen....but I can't interact vith it...I can't copy that stacktrace to open an issue here.

[2019-03-22 12:17] enahum commented on #2561
Oh that is presented and handled by the OS we can’t do anything about it. What we normaly do is we take a screenshot and report the bug with it.

[2019-03-22 12:26] enahum commented on #2662
@mcuking ok thanks.

We have no plans of building the app with flutter, we’ve taken a look at the technology, one of our members even started to play around with it.

The reality is that it would be a huge effort to start another project with flutter and we are still betting on react native at least for now.

Perhaps what can happen is that someone like you or even a group of people can start deve

[2019-03-22 14:01] amyblais commented on #2593
@enahum Thank you, I was waiting on QAs to test this. I opened a ticket here: https://mattermost.atlassian.net/browse/MM-14697.

[2019-03-23 13:01] mcuking commented on #2662
Thanks for your reply very much, I'll try to create a  flutter app with Mattermost.

[2019-03-26 18:54] EugeneDae opened #2673 "Unable to create channels with non-Latin names"
#### Summary
Name field validation error in the channel creation dialog when using non-Latin characters.

#### Environment Information

- Device Name: iPhone
- OS Version: 12.1.4
- Mattermost App Version: latest
- Mattermost Server Version: 5.9.0

#### Steps to reproduce
1. Tap + to create a new channel.
2. Type non-Latin (e.g. Cyrillic) chars into the channel name field.

#### Expected behavior
I

[2019-03-27 14:28] amyblais commented on #2643
There haven't been updates on this for a while so I'll close this issue for now.

Please re-open this issue if the problem persists,

[2019-03-27 14:28] #2643 closed

[2019-03-27 14:33] amyblais commented on #2514
Closing this as the PR has been merged for v1.18 release.

@enahum @migbot Does this need a Jira ticket for QA testing now that the PR is merged?

[2019-03-27 14:33] #2514 closed

[2019-03-27 14:47] yakimant opened #2675 "Upgrade pop up doesn't appear"
#### Summary
Upgrade pop up doesn't appear

#### Environment Information

- Device Name: iPhone SE
- OS Version: 12.1.4
- Mattermost App Version: 1.17.0
- Mattermost Server Version: 5.8.0

#### Steps to reproduce

1. Setup EnableMobileClientUpgrade, MobileClientUpgradeAndroidApkLink and MobileClientUpgradeIosIpaLink as described here: https://github.com/mattermost/mattermost-mobile/pull/948#
2. Co

[2019-03-27 22:20] jwilander commented on #2673
Hi @EugeneDae, thanks for the report. I have a JIRA ticket for this here https://mattermost.atlassian.net/browse/MM-14498 that I'll be working on shortly

[2019-03-27 22:20] #2673 closed

[2019-03-28 07:08] winmasta opened #2678 "Can't login"
#### Summary
Can't login via android mobile app.

#### Environment Information

- Device Name: Xiaomi Mi A2 one
- OS Version: Android 9
- Mattermost App Version: 5.9
- Mattermost Server Version: latest as I suppose, can't find a way to find out version neither from device nor from Google Play

#### Steps to reproduce
1.Install new server (docker)
2.Register first user as admin
3.Confirm his email

[2019-03-28 08:06] winmasta commented on #2678
The problem was:
1.Before I made steps 1-5 there was test mattermost server installed on another VM
2.When I removed that test VM mobile app just stuck on connecting process
3.I have cleaned storage and cache and removed app and reinstalled it again but it still stuck on connecting
4.Moreover I can't see any packets with tcpdump from device external ip address on nginx server where mattermost serv

[2019-03-28 09:05] winmasta commented on #2678
The was a problem in DNS cache.

[2019-03-28 09:05] #2678 closed

[2019-03-29 01:52] shawn111 commented on #2349
@amyblais,
It been resolved, after upgrade to new version of mattermost-mobile.
Thanks

[2019-04-01 12:15] ThakkarRonak opened #2683 "Can't Upload Image in mobile version"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Issue in one concise sentence.

#### Environment Information

- Device Name:
- OS Version:
- Mattermost App Version:
- Mattermost Server Version:

#### Steps to reproduce
How can we reproduce the issue?

#### Expected behavior
Describe your issue in det

[2019-04-01 13:00] amyblais commented on #2683
Hi @ThakkarRonak,

There is no information to help troubleshoot this issue. Can you help fill in the required information so we can help you?

[2019-04-01 16:47] heapifyman opened #2684 "[Android] NullPointerException when receiving message"
#### Summary
Receiving a new message in Android Client causes:

at com.wix.reactnativenotifications.gcm.FcmInstanceIdListenerService.onMessageReceived(FcmInstanceIdListenerService.java:29)
at
com.google.firebase.messaging.FirebaseMessagingService.zzd(Unknown Source: 60)
at
com.google.firebase.iid.zzg.run(Unknow Source: 4)
...

#### Environment Information

- Device Name: Fairphone 2
- OS Version:

[2019-04-03 13:57] #2561 closed

[2019-04-03 14:36] amyblais commented on #2675
Hi @yakimant,

Did this comment help: https://github.com/mattermost/mattermost-mobile/pull/948#issuecomment-477435248?

[2019-04-03 15:30] amyblais commented on #2684
Hi @heapifyman,

Here are more details about the progress on adding support for f-droid: https://github.com/mattermost/mattermost-mobile/issues/566#issuecomment-424379020.

[2019-04-03 16:37] hzj629206 commented on #622
any update？

[2019-04-05 06:37] ThakkarRonak commented on #2683
you can consider all devices including iPhone.

[2019-04-07 13:11] steedos commented on #2662
+1 i can not use debugger too

[2019-04-09 02:10] unistylist opened #2706 "android app hangs when all the permissions app needs are not allowed"
#### Summary
Android app hangs when all the permissions app needs are not allowed.
When mattermost app starts as a new process is okay but then after switch to other app then switch back to the mattermost app, the app hangs at the splash screen.

I found that this symptom is solved if you go to application setting and give the app all permissions that needs.

I think the app doesn't have a process

[2019-04-10 08:54] monkeydbobo opened #2709 "android mobile app has stopped at launch_screen"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
android mobile app has stopped at launch_screen

#### Environment Information

- Device Name: Neuxs5
- OS Version: Android7.0
- Mattermost App Version: 1.1.18
- Mattermost Server Version:

#### Steps to reproduce
How can we reproduce the issue?
make run

[2019-04-10 11:52] enahum commented on #2709
Anything in the logs? Try using adb logcat and provide more information about the error/problem

[2019-04-10 15:14] amyblais commented on #2706
Hi @unistylist,

Would you be open to checking if this also reproduces on v5.9?
Can you help specify what permissions you are referring to?

[2019-04-10 15:18] unistylist commented on #2706
Storage and Camera
And Floating permission

I think mattermost app doesn't check the status of the permissions and not inform to user about it

[2019-04-12 14:49] DHaussermann commented on #2706
Hi @unistylist
I've tested with Android 9 and can't seem to repo this issue. I never get the app to hang on loading regardless of the state of the permissions. I tested on 1.17 and a build of 1.18.

If possible, can you try on the 1.18 beta to see if the issue reproduces?

[2019-04-12 15:21] unistylist commented on #2706
The thing is this happens randomly. Is there debug mode of this app? I wanna enable debug mode and save the log to check what is happening.

[2019-04-12 15:47] DHaussermann commented on #2706
You can use the Report a Problem option to send your session details which may containing helpful information.

[2019-04-12 17:21] DHaussermann commented on #2706
@unistylist
I just repoed this. I will try and collect more details.  For now I have created https://mattermost.atlassian.net/browse/MM-15079 to investigate further.

[2019-04-15 18:41] esethna commented on #2514
@pesintta would you be open to testing to verify this is fixed with your PR? You can use this link to join our Beta app that has your fix. just click this link on your iOS device after installing the TestFlight app: https://testflight.apple.com/join/Q7Rx7K9P

[2019-04-16 02:13] monkeydbobo commented on #2709
BUILD SUCCESSFUL in 39s
450 actionable tasks: 398 executed, 52 up-to-date
Running /Users/wanghaobo/Library/Android/sdk/platform-tools/adb -s 0192b8b408eb4f30 reverse tcp:8081 tcp:8081
Starting the app on 0192b8b408eb4f30 (/Users/wanghaobo/Library/Android/sdk/platform-tools/adb -s 0192b8b408eb4f30 shell am start -n com.mattermost.rnbeta/com.mattermost.rnbeta.MainActivity)...
Starting: Intent { cmp=

[2019-04-16 02:30] monkeydbobo commented on #2709
E/ReactNativeJS: Error while starting app: Error: No icon defined for tab Entry
04-17 10:25:55.868 22680-22680/com.mattermost.rnbeta E/unknown:ReactNative: Unable to launch redbox because react activity is not available, here is the error that redbox would've displayed: console.error: "Error while starting app: Error: No icon defined for tab Entry"

[2019-04-16 03:40] monkeydbobo commented on #2709
thanks for your reply, I have solved the problem by setting  icon for tabs.  tab icon must be set on android platform when you use     Navigation.startTabBasedApp.

[2019-04-16 03:40] #2709 closed

[2019-04-16 04:41] pesintta commented on #2514
I tested with mattermost beta from testflight today and I am happy to report that the SSO login now works on my device as expected.

[2019-04-17 00:02] storrgie commented on #1512
Can you re-open this feature... or consider disabling issues altogether and forcing people towards your atlassian instance. It's confusing that this is closed even though the feature is in in development.

Would you consider financial prioritization for this feature?

[2019-04-17 00:16] esethna commented on #1512
Hi @storrgie, thanks for the feedback. We use GitHub issues for bug reports and ask that feature requests be diverted to http://www.mattermost.org/feature-requests/ as per the issue template.

As per were we are at on multi-server support, we've opened a channel for discussion and updates on the feature. It's currently queued for Q4 2019. https://community.mattermost.com/core/channels/rn-multi-ser

[2019-04-18 09:33] licaon-kter commented on #1356
And for 1.18.0 ?

[2019-04-18 10:35] glebtv opened #2722 "Weird ios-only SSO cookie bug"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Gitlab SSO does not work on iOS

#### Environment Information

- Device Name: iPhone (any)
- OS Version: 10+
- Mattermost App Version: 1.17, master
- Mattermost Server Version: 5.10.beta

#### Steps to reproduce
Seems to be happening if mattermost is us

[2019-04-18 13:18] amyblais commented on #1356
@enahum?

[2019-04-18 14:32] enahum commented on #2722
Hi @glebtv thanks for the report, that seems to be an issue with the library, have you considered submitting a pull request to the library directly?

[2019-04-18 14:36] enahum commented on #1356
release for 1.18 https://github.com/mattermost/mattermost-mobile/releases/tag/v1.18.0