[2017-11-02 14:13] divanikus commented on #1079
Hi @lfbrock

I have tested the Beta for a while. Well, cold start is still very slow. For example, I left my phone on the desk for several hours, later I have picked up it and see I have 3 mentions in MM. I tap the icon and wait for like 7-10 seconds until it draws the chat. In contrast if I tap WhatsApp or Telegram, they do appear immediately.

The UI is more responsive than the current version,

[2017-11-02 15:03] enahum commented on #1079
Hi @divanikus

Indeed Android has an issue for cold start that is taking between 7-10 seconds and it looks like is has something to do with one of our dependencies, we will be looking into that for the 1.5 release which is scheduled by Dec 5th (that is the same reason why you see a white screen for the same amount of time when your app has been in the background for a while)

as for the No interne

[2017-11-02 20:10] divanikus commented on #1079
Hi @enahum

As for No internet connection. I got this message during switching between channels. And it won't go away until I closed and reopened app. I was able to see updates and post new messages. I've tried to pull chat history to force update, but it was no go, message was still there.
As for grayed message, well, I can believe that I had a short disconnect.

[2017-11-02 20:17] enahum commented on #1079
@jarredwitt can you look into the "no internet connection" thing, looks like is a bug

[2017-11-03 11:24] th-joerger opened #1091 "Space before Emoticon is removed when selecting the emoticon from suggestion list"
#### Summary
Space before Emoticon is removed when selecting the emoticon from suggestion list

#### Environment Information

- Device Name: LG G4 (LG-H815)
- OS Version: 6.0 (3.10.84 kernel)
- Mattermost App Version: 1.3.0
- Mattermost Server Version: 4.1.0

#### Steps to reproduce
Type a text and try to insert emoticon :roll
------------------------------------------^here suggestions pop up. Sel

[2017-11-03 17:03] divanikus commented on #1079
You should consider fixing long cold start and reopening ASAP, because I could say it is one of the most annoying things actually.

[2017-11-03 22:59] pokamest opened #1097 "Android app crashes on screen splitting on Android 7"
#### Environment Information

- Device Name: Nokia 6
- OS Version: Android 7.1.2
- Mattermost App Version: 1.3.0 build 57
- Mattermost Server Version: 4.3.0 build 4.3.1

#### Steps to reproduce
While in an app, hold down on the Recent Apps button. Screen will be split and app will freeze

[2017-11-04 22:31] jespino commented on #910
I'm taking a look to this and sounds difficult to implement, Basic auth use Authorization header, and mattermost use Authorization header too for send the user token. It's possible to use multiple "blocks" in the Authorization header, but looks like not very standard. This thread have some information about it https://stackoverflow.com/questions/29282578/multiple-http-authorization-headers

[2017-11-07 12:20] Rudloff commented on #566
I would be very interested in a version without Play Services, even if it means having no push notifications.

[2017-11-07 17:25] lfbrock commented on #1097
Hi @pokamest - we just released v1.4.0 of the Android app which contained some fixes for Android app crashes, can you check and see if this issue reproduces on the new version?

[2017-11-07 17:31] lfbrock commented on #1052
@C5205568 - v1.4 is now released, I'm going to close this issue but if you see it happening still please re-open?

@devTomek - if you're still seeing issues, please feel free to open a new issue with more details about your set up

[2017-11-07 17:31] #1052 closed

[2017-11-07 17:50] lfbrock commented on #1050
Hi @SnowShock35 - can you try deleting and re-installing the app (newest is v1.4) to see if the issue still reproduces?

And if it does, can you try going to the Settings menu > Report a problem, and share any errors you see there?

[2017-11-07 17:57] lfbrock commented on #1037
Hi @Shygar - we fixed some errors related to this in the latest release (v1.4.0), would you be able to try upgrading and let us know if you still see the issue?

[2017-11-07 17:57] lfbrock commented on #989
Closing this issue, if anyone runs into it again please re-open!

[2017-11-07 17:57] #989 closed

[2017-11-07 18:03] lfbrock commented on #742
Hi @riemers - sorry just saw this message, if you're still seeing the issue can you try:

1. Upgrade to the latest version of the app (v1.4)
2. Go to settings menu > Report a problem, and copy any errors you see from there into a new GitHub issue?

[2017-11-07 18:05] lfbrock commented on #742
Closing this issue - if anyone is still having problems, can you open a new GitHub issue with:

1. The errors you're seeing
2. Your server config settings, and NGINX config settings

[2017-11-07 18:05] #742 closed

[2017-11-07 18:17] lfbrock commented on #722
Does anyone still see this issue? (@CmdrSharp?)

I think we fixed some bugs on the server a while ago where System Admins could sometimes have this happen, are people still seeing it on mobile?

[2017-11-07 18:20] lfbrock commented on #1068
@tareko - Actually, can the user:

1. Upgrade to the latest version (v1.4.0)
2. If the issue shows up again, go to the app settings > Report a problem, and copy any errors that show up there to this GitHub issue
3. Try App Settings > Advanced > Reset Cache, to see if the issue fixes itself after that

[2017-11-07 18:34] Shygar commented on #1037
Hi @lfbrock ,
I did get the latest and I am still seeing the issue. I tried clearing data/cache but I noticed again today that I'm still getting a crash. It does not appear to happen all of the time. I'm not certain but I feel like it happens more when I read/contribute to a channel via the desktop app on my laptop, then go and clear the notifications.

I submitted the feedback again so if you can

[2017-11-08 10:13] riemers commented on #742
I did do the upgrades and it seems its doing much better now, only have to reconnect if idle long (but that can be due to mobile iron which sits in between)

[2017-11-08 11:36] rveeblefetzer opened #1106 ""Connecting..." message hanging on iOS app"
#### Summary
In any channel, `Connecting...` and throbber icon shows below the channel name and hangs, despite new messages loading and the ability to scroll up and load more previous messages.

#### Environment Information

- Device Name: iPhone 5
- OS Version: iOS 10.3.3
- Mattermost App Version: 1.4.0 (Build 63)
- Mattermost Server Version: 4.3.0 (Build 4.3.1)

#### Steps to reproduce
Launch th

[2017-11-08 16:09] hassec opened #1108 "Gitlab Single Sign on not working"
There seems to be a problem when signing in via the GitLab single sign on.
After providing the URL I am correctly redirected to the use the GitLab single sign on which then redirects me  to a login page.

However after then logging, mattermost only shows a blank white page.
This behavior has been observed for a couple of weeks now.

App is installed and updated on the latest IOS.
Mattermost Server

[2017-11-08 16:20] dmitriydementor opened #1109 "App crashes when I go to settings->notifications->mobile"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Issue in one concise sentence.

#### Environment Information

- Device Name: Asus Zenfone 2 ZE551ML
- OS Version: Android 6.0.1 Marshmallow
- Mattermost App Version: 1.4.0 build 63
- Mattermost Server Version: 4.3.0

#### Steps to reproduce
How can we r

[2017-11-08 21:50] tareko commented on #1068
After approximately 24 hours of use with the 1.4.0 app, this issue is resolved for our users. Thank you. I will close, but would welcome others reopening if 1.4.0 does not solve it for them.

[2017-11-08 21:50] #1068 closed

[2017-11-08 21:58] tareko opened #1112 "Notifications have stopped in 1.4.0"
#### Summary
As of upgrade to 1.4.0, several users report no more notifications.

#### Environment Information

Device 1 + 2
- Device Name: Samsung Galaxy S7 Edge
- OS Version: Android 7.0
- Mattermost App Version: 1.4.0
- Mattermost Server Version: 4.2.0

#### Steps to reproduce
Receive a message that should trigger a notification and would have triggered it in 1.3.0.

#### Expected behavior
Noti

[2017-11-08 23:02] enahum commented on #1109
Can you try this, give the app permission to access storage and try again.

Please let us know if that helps.

[2017-11-09 02:09] lfbrock commented on #1112
Hi @tareko - do you see any errors:

1. In the Mattermost logs?
2. For the affected users, if they go to the mobile app settings menu > Report a problem?

[2017-11-09 02:14] lfbrock commented on #1106
Hi @rveeblefetzer, can you go to the mobile app settings menu > Report a Problem, and check if there's any errors showing up there?

[2017-11-09 05:12] dmitriydementor commented on #1109
no, the app has full permissions but error keeps appearing

On Nov 9, 2017 1:02 AM, "enahum" <notifications@github.com> wrote:

[2017-11-09 05:16] rveeblefetzer commented on #1106
@lfbrock No, there is no error section under there. Also weird, I don't have that hanging notification, whether on wifi or mobile data, without VPN. For a little while, there was no notification, but now it says "No internet connection". Despite this, I do see a couple of new messages and I can pull up to load more previous messages.

![mattermost2](https://user-images.githubusercontent.com/152273

[2017-11-09 06:53] tareko commented on #1112
Hello @lfbrock,

Thank you for your quick reply. Here are the mattermost server level logs:

[code]

For a working user, here is a screenshot that shows notifications working as expected (iOS):
![Working notifications](https://user-images.githubusercontent.com/1128840/32592130-14109e68-c52b-11e7-9645-8f1d2e1f6da4.PNG)

For our server configuration, we're trying to get a license for EE, but in the

[2017-11-09 06:56] lindy65 commented on #1091
Hi @th-joerger,

Thank you for your report,

I have reproduced your issue and have created a [ticket](https://mattermost.atlassian.net/browse/RN-480) to track.

[2017-11-09 09:07] Matzgitz commented on #1106
get the same error like rveeblefetzer on iOS11.2 beta and other devices with iOS11 different hardware.
Using latest app and server with MobileIron MDM and AppTunnel. No workaround until no.

[2017-11-09 09:35] enahum commented on #1109
I'm trying to repro this on a Samsung J5 with an Android 6.0.1 but it looks like is working just fine for me.

Any chance that you can use logcat to see if you are able to get more info?

[2017-11-09 11:05] th-joerger commented on #1091
Thank you very much :)

[2017-11-09 13:33] dmitriydementor commented on #1109
Here is the error from logcat:

Full trace:

11-09 15:30:55.720 5774-9097/?
E/io.sentry.android.event.helper.AndroidEventBuilderHelper: Error getting
Proguard UUIDs.

               java.io.FileNotFoundException: sentry-debug-meta.properties

                   at android.content.res.AssetManager.openAsset(Native
Method)

                   at
android.content.res.AssetManager.open(AssetManager.jav

[2017-11-09 13:36] enahum commented on #1109
@hmhealey thoughts on this?

[2017-11-09 14:49] hmhealey commented on #1109
Not sure. I found an old issue filed with Sentry about that file not being generated ([link](https://github.com/getsentry/react-native-sentry/issues/137)), but I'm not sure why it wouldn't exist here.

@dmitriydementor Where did you install the app from? Did you use the Play Store, one of the apks from here (and if so, was it the signed or the unsigned one?), or did you compile it yourself

[2017-11-09 15:08] dmitriydementor commented on #1109
I installed it from Play Market. Maybe I can check if this specific file
exists on my device?

On Thu, Nov 9, 2017 at 4:49 PM, Harrison Healey <notifications@github.com>
wrote:

[2017-11-09 16:25] hmhealey commented on #1109
I think the file is supposed to somewhere be in the apk, but I wasn't able to find where exactly. It wasn't in any of the apks that we have hosted on GitHub though. It's odd that we're still getting error reports from other users, so I'm not sure what the issue here would be. Are there any other errors showing up in Logcat around that time? Maybe that stack trace isn't actually the one causing the

[2017-11-09 17:05] lfbrock commented on #1018
Hi @vimmerru - v1.4 is now released, going to close this issue but if you see it happening still please re-open

[2017-11-09 17:05] #1018 closed

[2017-11-09 17:10] hassec commented on #1108
Hi, sorry for the separate issue I hadn't seen the other one.

Yes Mattermost app was just recently updated and is on v1.4.0.
I actually reinstalled it once as well to make sure it's not my phone screwing up.

The Gitlab server is GitLab Enterprise Edition 9.5.5-ee

[2017-11-09 18:48] lfbrock commented on #1038
Hi @vincent-dravert - are you using the apps from the Google play store, or building them yourself?

We've been trying to reproduce this but haven't had much luck, when a channel is read we send a special notification that lets us clear the other ones. It seems to be working when we test it out, so not sure what's happening here.

[2017-11-09 18:52] lfbrock commented on #1106
Hi @Matzgitz and @rveeblefetzer - we think we know what's causing this, it looks like we're pinging google to check for connection right now which doesn't work for air gapped networks or if you're in a location that blocks access.

Ticket is here to fix: https://mattermost.atlassian.net/browse/RN-495

[2017-11-09 22:35] robbyandrews opened #1123 "Mattermost 1.4.0 on iOS 11.1 not showing channels and crashing."
#### Summary
After updating to 1.4.0,  the Mattermost Application on iOS hangs with a spinning loading icon, preventing any navigation or ability to chat.  Push notifications still come through, but there's no ability to reply.

#### Environment Information

- Device Name: iPhone 7 Plus
- OS Version: iOS 11.1
- Mattermost App Version:  1.4.0
- Mattermost Server Version: 4.2.0

#### Steps to reprod

[2017-11-09 22:54] YuliaCV opened #1124 "The "plus" and "minus" signs are displayed as dots."
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
The "plus" and "minus" signs are displayed as dots.

#### Environment Information

- Device Name: Asus K56CM
- OS Version: Windows 10
- Mattermost App Version: 4.3.0
- Mattermost Server Version: empty

AND

- Device Name: Samsung Galaxy S6 (SM-G920F)
-

[2017-11-09 22:55] #1124 closed

[2017-11-09 22:57] TheHunterSem opened #1125 "The "plus" and "minus" signs are displayed as dots."
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
The "plus" and "minus" signs are displayed as dots.

#### Environment Information

- Device Name: Asus K56CM
- OS Version: Windows 10
- Mattermost App Version: 4.3.0
- Mattermost Server Version: empty

AND

- Device Name: Samsung Galaxy S6 (SM-G920F)
-

[2017-11-09 23:05] vincent-dravert commented on #1038
Hi,

yes I am using the app from the Play store and actually all my team (about 20 people in various mobiles) all have the same issue, and also online, people are posting the same issue on blogs. I will test again with the new version released this week on Android, as I disabled notifications so far.

Thanks for your investigation

Vincent

[2017-11-09 23:06] enahum commented on #1123
@robbyandrews i left you a comment in the forum thread, let me know if that helps

[2017-11-09 23:10] robbyandrews commented on #1123
i replied, still not loading. let me know if you need any additional info.

On Thu, Nov 9, 2017 at 3:06 PM enahum <notifications@github.com> wrote:

[2017-11-10 08:23] tareko commented on #1112
Hello all,

During the debugging process, our team's notifications for Android all resumed. This happened when changing Log level to debug. I assume that this restarted some process in the server and returned notifications.

I will close this issue for now. If others have this problem, perhaps restart / reboot and then try again and reopen as necessary?

Thank you,

tarek : )

[2017-11-10 08:23] #1112 closed

[2017-11-10 14:13] muirdok opened #1126 "Unable to download attached files from IOS 10.x"
#### Summary
Subj. It works for Mattermost Classic  but doesn't work for 1.4.0

#### Environment Information

- Device Name: iphone 5c
- OS Version:  10.3.2
- Mattermost App Version: 1.4.0
- Mattermost Server Version: 4.3.0  (4.3.1)

#### Steps to reproduce
* Send any file (e,g. .docx)
* Open file frim app

#### Expected behavior
It opens preview\icon of file and "DOWNLOAD" button is presented

##

[2017-11-10 16:01] hmhealey commented on #1125
Hi @TheHunterSem,

That may look like a bug, but it is actually correct when using Markdown because it is trying to turn those into items in a list. The same thing happens when you use a plus or minus sign in GitHub like

[code]

+

-

[2017-11-11 00:59] lfbrock commented on #1126
Hi @muirdok - what type of file was this for?

I think on iOS we only support image files right now, although with iOS 11 we can look at adding it for additional file types.

If there's a typical place to store files we could look at doing it for older iOS versions as well - where would you expect it to be downloaded to?

[2017-11-14 08:13] ThiefMaster commented on #1108
This happens for us too; we use the GitLab SSO integration of Mattermost with a custom OAuth backend (as there is no generic OAuth support in MM team edition) and it works everywhere else, but we now have users on iOS who report the same issue - just a white page after logging in on SSO.

[2017-11-14 16:26] clonezone opened #1146 "On iOS 11, posting a HEIF image should convert to JPEG so that it is viewable."
#### Summary

On iOS 11, photos get attached to messages, but are not viewable.

#### Environment Information

- Device Name:
- OS Version: iOS 11.1.1
- Mattermost App Version: 1.4.0 (Build 63)
- Mattermost Server Version: 4.3.0 (Build 4.3.1)

#### Steps to reproduce

1. Take a picture using iOS 11's camera app.
2. Start a message.
3. Add a photo from the Photo Library
4. Submit.

#### Expected be

[2017-11-14 16:49] clonezone opened #1148 "On iOS, it is impossible to copy a URL from a message."
#### Summary

There is no way to copy a URL from a message on iOS.

#### Environment Information

- Device Name:
- OS Version: iOS 11.1.1
- Mattermost App Version: 1.4.0 (Build 63)
- Mattermost Server Version: 4.3.0 (Build 4.3.1)

#### Steps to reproduce

1. Post or view and existing message with a URL in it in the iOS client.
1. Touch and hold on the URL.

#### Expected behavior

The iOS share sh

[2017-11-15 10:33] licaon-kter opened #1154 "Input box not honoring auto capitalization"
#### Environment Information

- Device Name: Xperia/Samsung 6.0.1
- Mattermost App Version: 1.4.0
- Mattermost Server Version: 4.3.1

#### Steps to reproduce
Have a keyboard that autosets letters as uppercase after a dot and at the start of the text (eg. Gboard )

#### Expected behavior
When giving focus to the input field or after a dot it should switch to uppercase or whatever the keyboard wants

[2017-11-15 11:37] soletan opened #1155 "Can't enter username on re-login due to form switching back to server selector"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Can't enter username on re-login due to form switching back to server selector

#### Environment Information

- Device Name:  Apple iPhone 6s Plus
- OS Version: iOS 11.0.x
- Mattermost App Version: 1.4.0
- Mattermost Server Version:

#### Steps to repro

[2017-11-15 14:53] cpfeiffer opened #1157 "Posting 4MB images causes OutOfMemoryException"
#### Summary
Selecting a 4MB image from the camera or media store fails with an OutOfMemoryException.

#### Environment Information

- Device Name: Samsung S7, others
- OS Version: 5.0 - 7.1 (tested)
- Mattermost App Version: 1.4.0
- Mattermost Server Version: 4.3.1

#### Steps to reproduce
Use mattermost-mobile on Android and try to post a 4MB file. Take this one for example: http://www.letsgodig

[2017-11-15 15:33] Silvood commented on #1109
Hello,
Same problem for me, but with different Hardware ^^
Environment Information
    Device Name: Sony XPeria XA1 G3112
    OS Version: Android 7.0
    Mattermost App Version: 1.4.0 build 63 (from google play)
    Mattermost Server Version: 4.3.1
    "Mattermost Edition Entreprise"
    Database: mysql

The error log of the app in the 2 screenshot (wasn't able to copy/paste on my phone)
![screens

[2017-11-15 17:11] brs17 commented on #1109
I downloaded the app last night (tried both the beta and the normal version and had the above mentioned issue happen consistently.

My specs:

Environment Information
Device Name: Nexus 5x
OS Version: Android 8.0
Mattermost App Version: 1.4.0 build 63 (from google play)
Mattermost Server Version: 4.0.0(Build 4.0.1)
Database: postgres

[2017-11-15 21:43] lfbrock commented on #1148
Hi @clonezone - we have this feature merged into master, it should be in the next release in a couple weeks!

https://github.com/mattermost/mattermost-mobile/pull/1069

[2017-11-15 22:04] clonezone commented on #1148
Not the ideal solution. The native share sheet should be used.

[2017-11-16 18:52] ramonaerne opened #1166 "Mobile Notification Button causes ArrayIndexOutOfBoundsException"
#### Summary
Pressing on the button `Mobile` inside Settings/Notifications causes the app to crash

#### Environment Information

- Device Name: Nexus 5x
- OS Version: Android 8.0.0
- Mattermost App Version: 1.4.0 (Build 63)
- Mattermost Server Version: 4.3.0 (Build 4.3.0)

#### Steps to reproduce
Click on Settings -> Notifications -> Mobile

#### Expected behavior
Button click should cause anothe

[2017-11-16 21:10] enahum commented on #1157
Hi @cpfeiffer this is great, do you think you can make a PR for this?

[2017-11-16 23:59] Patriccarver opened #1168 "Clicking on attachments does nothing..."
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
I'm noticing when I'm using Mattermost on iPhone, if Danielle sends a Word file or a PDF file, I can't launch or open the Word doc or PDF file. This is pretty limiting.

#### Environment Information

- Device Name: Iphone 5SE
- OS Version: 11
- Mattermo

[2017-11-17 17:11] enahum commented on #1157
Closed via #1169

[2017-11-17 17:11] #1157 closed

[2017-11-17 19:14] robbyandrews commented on #1123
1.4.1 has fixed this issue.

[2017-11-17 19:14] #1123 closed

[2017-11-17 21:34] lfbrock commented on #1168
Hi @Patriccarver - we're working on adding previews for other file types, and will also be looking into adding sharing files to other apps, and downloading files to iOS devices (download is already supported on Android).

Pull request is here with the start of the work: https://github.com/mattermost/mattermost-mobile/pull/1170

[2017-11-17 22:08] lfbrock commented on #1148
@clonezone - we're working on improving files next, and a part of that will be looking into adding the native share sheet.

[2017-11-19 05:28] danleepw commented on #1166
I am having the same issue in

App Version: 1.4.1 (Build 64)
Server Version: 4.2.0 (4.2.1)

[2017-11-20 21:57] Shygar commented on #1037
Hi, I was wondering if you had a chance to look at this one.

[2017-11-21 13:30] Matzgitz commented on #1106
fixed with last update. thank you.

[2017-11-21 18:14] zakatsv opened #1184 "App crashes when navigate to Settings > Notifications > Mobile"
#### Summary
App crashes when navigate to Settings > Notifications > Mobile

#### Environment Information

- Device Name:
- OS Version: Nexus 5
- Mattermost App Version: 1.4.1 build 64
- Mattermost Server Version: 4.3.0 build 4.3.1

#### Steps to reproduce
Navigate to Settings > Notifications > Mobile

#### Expected behavior
I expected to find settings menu to turn off vibration for notifications

[2017-11-22 10:02] Silvood commented on #1184
Same as #1109 and #1166, I hope the team can investigate on this issue quickly as we are more and more to have this problem :)

[2017-11-22 10:02] Silvood commented on #1109
Same as #1184 and #1166, I hope the team can investigate on this issue quickly as we are more and more to have this problem :)

[2017-11-22 10:03] Silvood commented on #1166
Same as #1109 and #1184, I hope the team can investigate on this issue quickly as we are more and more to have this problem :)

[2017-11-22 23:13] bobavery opened #1198 "integration w habit tracker"
I am looking to integrate a chat app with a habit tracker.  Any documentation or suggestions you can point me to?

Specifically would like users to be able see how people are doing on habits and communicate around it

[2017-11-23 11:00] ThiefMaster commented on #1108
Just noticed that @hassec is actually from my organization. So my comment above about connecting to a custom OAuth endpoint and not a real GitLab instance applies to him as well.

[2017-11-25 09:40] fantast7 commented on #1109
Same error message as user Silvood.
My mobile: HTC M7

[2017-11-25 21:54] mrleblanc101 opened #1204 "support@exemple.com ?"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Replace the placeholder support email adresse with the real support email address of Mattermost or remove the feature from the app.

#### Environment Information

- Device Name: iPhone X
- OS Version: 11.2
- Mattermost App Version: 1.4.1
- Mattermost Se

[2017-11-27 10:52] muirdok commented on #1126
Hi. IOS 11 has "special" storage for downloaded files. I calls "Files" :). Try to open any .PDF file for example even you have PDF reader installed

[2017-11-27 16:31] atkozhuharov opened #1208 "Push notifications on Android"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Push notifcations are not working with the Android app built from source

#### Environment Information

- Device Name: Samsung S8
- OS Version: 7.0.1
- Mattermost App Version: Latest
- Mattermost Server Version: Latest

#### Expected behavior
I have a l

[2017-11-28 00:13] enahum commented on #1208
Dide you deploy your own mattermost-push-proxy and set you server to use that one?

[2017-11-28 00:14] enahum commented on #1204
This looks to me that the admin on your server set that email address as the feedback address in the server configuration

[2017-11-28 01:44] mrleblanc101 commented on #1204
So the in-app button to report a problem is not to report a problem about the app ? But the report a problem about the mattermost server ? That seems very weird and confusing... I guess i’ll Just post my problem here or on uservoice and expect nothing to change.

[2017-11-28 02:43] enahum commented on #1204
Actually it is to report problems with the app to the server administrator if the admin changed the feedback email, if the feedback email used is the default then the email should go to feedback@mattermost.com, perhaps you should talk to your server admin about this :)

[2017-11-28 11:10] atkozhuharov commented on #1208
@enahum - yes, the mattermost proxy is on the local server:
{
    "ListenAddress":":8066",
    "ThrottlePerSec":300,
    "ThrottleMemoryStoreSize":50000,
    "ThrottleVaryByHeader":"X-Forwarded-For",
    "EnableMetrics": false,
    "ApplePushSettings":[
        {
            "Type":"apple",
            "ApplePushUseDevelopment":false,
            "ApplePushCertPrivate":"/opt/mattermost-push-proxy/

[2017-11-28 11:32] enahum commented on #1208
and do you get the push notifications on iOS?

[2017-11-28 11:35] atkozhuharov commented on #1208
Nope, I don't get any push notifications (tried on with the stock iOS app).

[2017-11-28 11:52] enahum commented on #1208
@coreyhulen any ideas on this one?

[2017-11-28 14:43] alexrashed opened #1216 "Non-standard vibration pattern"
#### Summary
The vibration pattern for Android push notifications is unusual and distracting / non-standard.

#### Environment Information
- Device Name: Nexus 5X
- OS Version: 8.0.0
- Mattermost App Version:
- Mattermost Server Version: 4.4.1

#### Steps to reproduce
- Enable notifications with vibrations
- Trigger a notification on your Android device

#### Expected behavior
The vibration on pus

[2017-11-29 00:10] coreyhulen commented on #1208
Not sure.  Android pushes are working for our version of the mobile app in the store.

What OS are you running the push proxy on?  What version of go did you compile the push proxy with?

Do you have the latest code from the repo?  The error should look something like "Failed to send GCM push ..."

[2017-11-29 01:34] enahum commented on #1216
Hi @alexrashed are you willing to make a PR for that?

[2017-11-29 08:48] atkozhuharov commented on #1208
Centos 7.4 - the push proxy and server are both on the same machine.
As per the version of Go - I downloaded the archive from downloads.
Do I have to compile the source ?

[2017-11-29 10:10] alexrashed commented on #1216
I don't have an Android toolchain set up, so I could look into it next week.

[2017-11-29 11:11] enahum commented on #1216
Thanks @alexrashed that'll be highly appreciate it

[2017-11-29 15:24] lfbrock commented on #1109
Hi @fantast7 @Silvood @brs17 @dmitriydementor

Sorry for the delay on this, we thought we had the issue fixed in v1.4.1 but it seems it didn't work for everyone. If you're still seeing the issue, would you be able to help us test out a beta build that has a new fix in it?

You can sign up for beta testing following the instructions here: https://github.com/mattermost/mattermost-mobile#testing

And

[2017-11-29 16:45] fantast7 commented on #1109
Hi,
I installed the beta app. Unfortunately the same error occurs.
Next I uninstalled both mattermost apps, restarted my HTC M7 with
Android 5 and installed the beta app again. Same thing, same message.
Sorry.
Cheers from Vienna, Austria
Am Mittwoch, den 29.11.2017, 15:24 +0000 schrieb Lindsay:

[2017-11-29 16:48] coreyhulen commented on #1208
You shouldn't have too.  What version push proxy did you download because the logging message format looks old.  Could you try with the latest from https://github.com/mattermost/mattermost-push-proxy/releases/tag/v4.4

[2017-11-29 16:57] enahum commented on #1109
can we give this a try

in the webapp go to your notification settings to something different, and then try seeing if you can access that screen on the app.

Anyway we'll investigate further

[2017-11-29 17:28] enahum commented on #1109
also can you try and check if the app has permissions to storage?

![screenshot_1511976507](https://user-images.githubusercontent.com/6757047/33389441-988d61b2-d511-11e7-87a3-ef2d7e277207.png)

[2017-11-29 18:42] fantast7 commented on #1109
The screen on Android 5 looks different, but it does/should have access to storage.

[2017-11-29 18:42] enahum commented on #1109
Guys I have a custom build and I'm looking for anyone who is having this issue if you can test an apk to confirm that the fix works

anyone?

[2017-11-29 19:05] fantast7 commented on #1109
I should be able to install it.

[2017-11-29 19:06] enahum commented on #1109
cool @fantast7 I'll be sending you a link in about 20 mins

[2017-11-29 19:23] enahum commented on #1109
@fantast7 can you try this apk and see if the issue is resolved, I'm not 100% as I had to guess what the issue might be as I cannot reproduce it in my phone or using the android emulator.

can't wait to hear back good news ;)

[Mattermost-beta.apk.zip](https://github.com/mattermost/mattermost-mobile/files/1515199/Mattermost-beta.apk.zip)

[2017-11-29 19:52] fantast7 commented on #1109
works!!! Sent a test notification. No crash anymore.

[2017-11-29 20:39] enahum commented on #1109
awesome, great to hear, I've just submitted a PR to included it for the next scheduled release

[2017-11-29 21:15] Silvood commented on #1109
Yeah, the apk works for me too :) thanks @enahum (note: nothing else you suggested had work ^^)
Did you find the real origin of this problem? (I'm always curious ^^)

[2017-11-29 21:18] enahum commented on #1109
@silvood I had to guess what it was and made some code changes you can take a look at the PR to see what was changed and it all worked

[2017-11-29 22:42] #1109 closed

[2017-11-29 23:37] enahum commented on #1184
Closed via #1233

[2017-11-29 23:37] #1184 closed

[2017-11-29 23:56] enahum commented on #1166
closed via #1233

[2017-11-29 23:56] #1166 closed

[2017-11-30 00:00] #1126 closed

[2017-11-30 00:00] #1168 closed

[2017-11-30 00:02] #1148 closed

[2017-11-30 00:03] #1146 closed

[2017-11-30 01:47] alecisec commented on #742
I'm also having this issue with the 1.4.1 client on IOS.
Android 1.4.1 works perfectly, IOS Classic 3.10.1 works fine.

Our mattermost server sits behind an AWS ALB

[2017-11-30 05:12] alecisec commented on #742
I resolved this by removing the port number from the "Site URL"
it was previously -

https://site.com:443
and I changed it to
https://site.com

this stopped the IOS react native application from failing due to incorrect websocket origins.
Setting allow CORS to * ( as @lfbrock stated) is not a good idea.

while the config states:

The URL that users will use to access Mattermost. Standard ports, su

[2017-11-30 09:38] el-moalo-loco commented on #1106
Hello @lfbrock and all the others, I'm still experiencing this problem.

**Steps to reproduce**
1.) Open app. => Everything looks fine. "Connecting" message is not displayed.
2.) Swipe up to trigger fetch of new messages.
3.) "Connecting" message appears and stays forever.

**Device**
iPhone 5S, iOS 11.1.2

**Mattermost**
App Version 1.4.1 (Build 64), Server Version 4.4.0, Database: postgres

**Ge

[2017-11-30 09:51] el-moalo-loco commented on #1050
Could this be related to #1106? To me this looks like the same problem just on a different OS...

[2017-11-30 09:56] el-moalo-loco commented on #844
Could this be related to #1106 and/or #1050?

[2017-11-30 16:26] atkozhuharov commented on #1208
No luck - reinstalled the proxy and I'm still getting the errors. The first log was from mattermost server, here is from the proxy:
Nov 30 18:21:23 chat mattermost-push-proxy[1305]: 2017/11/30 18:21:23 INFO Sending android push notification for type=android_rn
Nov 30 18:21:23 chat mattermost-push-proxy[1305]: 2017/11/30 18:21:23 INFO Sending android push notification for type=android_rn
Nov 30 18:

[2017-11-30 16:37] enahum commented on #1208
one question, did you modify/update the `google-services.json` file inside `<project-dir>/android/app/` folder before compiling the apps, right?

[2017-11-30 17:03] atkozhuharov commented on #1208
I replaced just the key. How should I proceed - register a whole new app here(https://developers.google.com/mobile/) and replace the entire google-service.json ?

[2017-11-30 18:50] enahum commented on #1208
you should register the app here https://console.firebase.google.com/ and then replace the entire `google-services.json` file, that should do it

[2017-12-01 09:03] atkozhuharov commented on #1208
I registered the app and added my new google-services.json. Now building fails like this:
error: bundling failed: NotFoundError: Cannot find entry file index.js in any of the roots: ["/home/user/mattermost-mobile"]
    at DependencyGraph._getAbsolutePath (/home/user/mattermost-mobile/node_modules/metro-bundler/src/node-haste/DependencyGraph.js:305:11)
    at DependencyGraph.getDependencies (/home/

[2017-12-01 13:45] nicolinuxfr opened #1239 "The text field is partially hidden on the iPhone X"
#### Summary

On the iPhone X, the text field is partially hidden behind text suggestions.

#### Environment Information

- Device Name: iPhone X
- OS Version: iOS 11.2 b5
- Mattermost App Version: build 67
- Mattermost Server Version: 4.4.0 (build 4.4.2)

#### Steps to reproduce
Write text in any channel on the iPhone X.

#### Expected behavior
The field text should be visible.

Here's what it lo

[2017-12-01 21:19] enahum commented on #1239
this was fixed by #1205 and will be available with the next release

[2017-12-01 21:47] nicolinuxfr commented on #1239
No, precisely. I’m using a version that includes this PR and the problem is still here.

[2017-12-01 21:51] enahum commented on #1239
@hmhealey care to take a look at this?

[2017-12-01 21:52] enahum commented on #1208
are you building from master?

try the following:
* make clean
* make pre-run
* build you app the way you are doing it

[2017-12-02 03:43] sadsfae opened #1245 "Beta IOS signup isn't working for me"
I am reporting an issue with the Heroku-hosted IOS MatterMost mobile beta signup webapp.

#### Summary

When hitting submit on the [IOS beta signup](https://mattermost-fastlane.herokuapp.com/) I get the following error:

[code]

Issue in one concise sentence.

#### Environment Information

- Device Name: Firefox 57 and Chrome on Linux
- OS Version: Fedora 26
- Mattermost App Version: N/A
- Matterm

[2017-12-02 15:27] andersaamodt commented on #722
This is happening to me now. Moving through lots of time zones, right now I think I am in the same time zone as the server, but message timestamps are two hours in the future. My system clock is correct & I don't know how to fix this :(. I'm an admin so I need correct times!

[2017-12-03 21:06] enahum commented on #1245
Hi @sadsfae I've updated the beta signup page, can you please try again and let us know if the issue has been resolved?

[2017-12-04 12:14] enahum commented on #1208
Hi @atkozhuharov  can I ask you to please join our [Mattermost pre-release server](https://pre-release.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676) and then join the channel [Native Mobile Apps](https://pre-release.mattermost.com/core/channels/native-mobile-apps) so we can talk about this in a more dynamic form as I really want to understand what is going on and how to

[2017-12-04 13:06] sadsfae commented on #1245
@enahum thanks I'm all sorted now, works for me.

[2017-12-04 13:06] #1245 closed

[2017-12-04 15:12] enahum commented on #1216
your PR has been merged

[2017-12-04 15:12] #1216 closed

[2017-12-05 04:30] alecisec opened #1263 "New IOS client (1.4.1) sends malformed Upgrade Origin for Websocket"
Android is unaffected (both Classic and new client) and IOS Classic client works fine, however the new IOS client 1.4.1 sends an incorrect Origin during the websocket upgrade request.

if Site URL on the server is set to 'https://blah.com' it will reject an upgrade request from new IOS client as the client sets the upgrade origin to 'wss://blah.com:443'

a workaround is to set a CORS entry for 'ws

[2017-12-05 10:16] enahum commented on #1263
Wondering if the problem is the `http://blah.com` instead of https

Looks to me that the origin set in the websocket for an https url is correct.

[2017-12-05 16:10] lfbrock commented on #1125
Going to close this issue since it's expected behaviour for markdown, @TheHunterSem - if you think the behaviour should be changed to not support list bullet points or to use another character for them, you can submit a feature request here: https://mattermost.uservoice.com

[2017-12-05 16:10] #1125 closed

[2017-12-05 16:13] lfbrock commented on #1204
Going to close this issue, to summarize for anyone else running into this issue:

The default feedback email address for servers is `feedback@mattermost.com`. System Administrators can choose to change that email if they would prefer the support and feedback requests go to them.

[2017-12-05 16:13] #1204 closed

[2017-12-05 18:30] lfbrock opened #1265 "[Help Wanted] Preview text files"
Jira ticket: https://mattermost.atlassian.net/browse/RN-528

We currently support viewing most file types in the app (video, word docs, PDFs, etc), but we still need to add support for previewing text files.

The expected behaviour should be similar to other files:
- Tapping on the file thumbnail downloads the file
- The file opens in the previewer so it can be viewed

For text files, the previewe

[2017-12-05 22:24] alecisec commented on #1263
I used Burp suite to MitM the iPhone traffic and could see the origin in the GET request

[2017-12-05 22:27] enahum commented on #1263
have you tried setting your siteURL with https?

[2017-12-05 22:27] alecisec commented on #1263
It is, my post has a typo, fixed now.

[2017-12-05 22:42] enahum commented on #1263
that's weird then cause is doing exactly what I expect, and that is working just fine with any other server out there, perhaps @hmhealey or @jarredwitt can pitch in cause I can't really say what might be going wrong here

[2017-12-05 23:06] lfbrock opened #1267 "[Help Wanted] Add text to the "Report a Problem" email"
Jira ticket: https://mattermost.atlassian.net/browse/RN-247

Currently the "Report a Problem" email only contains information about the errors and app version. Many people just send the email without adding a description of the problem.

Proposed Change: Add help text at the beginning of the email saying "Please share a description of the problem:". Follow the new text with a few blank lines, and

[2017-12-05 23:10] lfbrock opened #1268 "[Help Wanted] Improve the animation on the "Jump to..." channel screen"
Jira ticket: https://mattermost.atlassian.net/browse/RN-510

Repro:
1. Open the channel sidebar
2. Tap the search box saying "Jump to..."

Observed: The animation as the sidebar expands is not very smooth (see video in Jira ticket)

Expected: The animation should be smoother

[2017-12-05 23:21] lfbrock opened #1269 "[Help Wanted] Improve emoji autocomplete filtering"
Steps to reproduce:
1. Login to RN app
2. Open a channel
3. In the text input box start typing the name of a unique emoji, for example`:1st_pla`

Observed: Shows the emoji for `:1st_place`, but also shows other results that do not match the search text.

Expected: Only the results that match the emoji name appear in the results list.

[2017-12-05 23:36] billybob2017 commented on #1263
get this man a mattermost coffee mug @alecisec @it33

[2017-12-05 23:40] alecisec commented on #1263
I've capped a couple of GET requests here, the top is from the IOS app and the bottom from Firefox (desktop) https://i.imgur.com/xrvGyhQ.png

[2017-12-06 11:16] enahum commented on #1239
Closed via #1249

[2017-12-06 11:16] #1239 closed

[2017-12-06 11:28] nicolinuxfr commented on #1239
Indeed, it’s fine with the latest build ! 👍

[2017-12-06 12:37] #532 closed

[2017-12-06 14:22] bhaney commented on #1108
Hello,

I also have the exact same problem of seeing a white screen after the SSO screen on iOS. The most recent iOS allows you to screen capture what you're doing, so I made a video of downloading Mattermost from the app store and trying to log in, demonstrating what this problem looks like.

https://drive.google.com/open?id=1cnCFxdQKw28Tu9eHpWb_Pbkp0b6fYLIR

[2017-12-07 13:27] arjitc opened #1277 "Allow sharing of images/videos directly from gallery"
#### Summary
Would be nice to have the ability to share images/videos directly from the gallery.

#### Environment Information

Android 7.1.1

#### Steps to reproduce
Try sharing an image from your phones gallery and Mattermost won't appear as a destination to send images to (like you can share into Telegram etc)

#### Expected behavior

Mattermost should appear as a destination to which an image

[2017-12-07 17:08] enahum commented on #1277
This is planned for the 1.6 release

[2017-12-07 17:23] arjitc commented on #1277
Perfect! Thanks. I'll close this issue now 👍

[2017-12-07 17:23] #1277 closed

[2017-12-08 00:23] #1263 closed

[2017-12-08 00:56] enahum commented on #1208
Hi @atkozhuharov did you ended up fixing this?

can you share your feedback on how you solved it so others can find it?

and please once you do feel free to close the issue ;)

[2017-12-08 10:39] atkozhuharov commented on #1208
@enahum - yes the issue was resolved and thanks a million for your help. Here is some guidance for future reference:
First of all - the contribute guide has a reference on how to set up your machine for building the apps.
1) Make sure to register your app in Google - https://developers.google.com/mobile/add. You will have to name the app for example com.somename.mattermost
2) After the registratio

[2017-12-08 10:39] #1208 closed

[2017-12-08 22:37] Shygar commented on #1037
This appears to be fixed in the latest build 72. Thanks!

[2017-12-08 22:37] #1037 closed

[2017-12-09 10:01] g3d commented on #424
Hi guys, is that issue still open to pick up?

[2017-12-09 11:03] enahum commented on #424
Yes it is ;)

[2017-12-11 19:38] lfbrock commented on #1198
Hi @bobavery - no suggestions, our developer documentation is available at the following links but we don't have anything around habit tracking.
- https://api.mattermost.com/
- https://developers.mattermost.com/
- https://docs.mattermost.com/guides/developer.html

[2017-12-11 19:38] #1198 closed

[2017-12-11 19:38] lfbrock commented on #1155
Hi @soletan - we made some changes to the login screen on the latest app version (v1.5.1), can you let us know if you're still seeing this issue?

[2017-12-11 19:43] lfbrock commented on #884
@anton-johansson - v1.5.1 of the app should fix this

[2017-12-11 19:43] #884 closed

[2017-12-11 19:43] lfbrock commented on #891
@ImagoPL - haven't heard back so I'm going to close this issue, if you're still seeing it please re-open?

[2017-12-11 19:43] #891 closed

[2017-12-11 19:48] lfbrock commented on #936
For anyone interested in notifications without a push server, please upvote the feature here: https://mattermost.uservoice.com/forums/306457-general/suggestions/16853752-support-mobile-web-push-notifications

[2017-12-11 19:50] lfbrock commented on #1038
Hi @vincent-dravert - just wanted to follow up on this issue, are you still having problems with this?

[2017-12-11 19:56] lfbrock commented on #1106
Hi @el-moalo-loco - can you check the NGINX settings on your site as a first step?

https://docs.mattermost.com/mobile/mobile-troubleshoot.html#i-see-a-connecting-bar-that-does-not-go-away

[2017-12-11 19:59] lfbrock commented on #1079
Renamed this issue to "Improve Cold Start on Android" since it seems to be the major remaining issue

[2017-12-11 20:02] lfbrock commented on #1154
@licaon-kter - sorry for the delay on this, reproduced the issue and filed a ticket here to fix: https://mattermost.atlassian.net/browse/RN-575

[2017-12-11 20:04] lfbrock commented on #1091
This issue is fixed in v1.5.1

[2017-12-11 20:04] #1091 closed

[2017-12-11 20:23] lfbrock opened #1293 "[Help Wanted] Add a "+" button to make it easy to add Emoji Reactions"
Jira ticket: https://mattermost.atlassian.net/browse/RN-576

Description:

When a post has existing emoji reactions, add a "+" button to the end of the list of emoji reactions.
When tapped, it should open the emoji picker so people can easily select an emoji to add.

<img width="99" alt="screenshot 2017-12-11 15 22 41" src="https://user-images.githubusercontent.com/9354841/33852097-2bd706ca-de87-1

[2017-12-11 22:03] Neusaric opened #1294 "Cannot connect to server on mobile."
**Environment Information**

- Device Name: LG Stylo 3
- OS Version: Android 7.0
- Mattermost App Version: 1.5.1
- Mattermost Server Version: 4.3.0 (Build 4.3.1)

**Steps to reproduce**
Unable to reproduce. Only one occurrence.

**Expected behavior**
When I input the server address it throw an error: "Cannot connect to the server. Please check your server URL and internet connection." The URL is c

[2017-12-11 22:23] Neusaric commented on #1294
I just tried the Mattermost classic app again, it appears to work.

[2017-12-11 22:49] Darkman commented on #1294
I'm the admin for the server in question. I've checked all the logs I can think of and haven't been able to find any clues as to why @Neusaric can not connect.

Other people including myself seem to be able to connect just fine, though a different person is getting "Invalid or expired session" when trying to log in with the current and beta app, though the classic app also works fine for the other

[2017-12-12 09:53] hassec commented on #1108
@ThiefMaster just FYI, I have a colleague who encountered the same problem on an android phone.

[2017-12-12 09:56] ThiefMaster commented on #1108
@hassec: Which version of the app? I just tried with `com.mattermost.rn` version 1.5.1  and it worked fine for me.

[2017-12-12 10:25] dominikmuller commented on #1108
I had the same problem (at the same organization) with version 1.4.1, which is what I get from Google Play Store on Android. I just updated manually to 1.5.1 which works fine.

[2017-12-12 10:27] hassec commented on #1108
just to clarify Dominik is the colleague whom I was talking about, so we are back to only having IOS problems...

[2017-12-12 14:08] enahum commented on #1294
can you please check your SSL certificate with ssllabs.com to see if you have any issues with the certificate, it is known to have this kind of behavior.

[2017-12-12 16:33] bhaney commented on #1108
I just updated to 1.5 on iOS and the issue still is the same for me.

[2017-12-12 18:01] Darkman commented on #1294
ssllabs.com gave an A+ with the only yellow property being DNS CAA = No.
The only simulated handshakes that failed were:

- Android 2.3.7
- IE 8 / XP
- Java 6u45
- Java 7u25

[2017-12-12 20:55] enahum commented on #1294
Could you share you server url?

[2017-12-12 21:23] Darkman commented on #1294
https://chat.darkman.io

[2017-12-12 21:58] enahum commented on #1294
I just tried with a Nexus 5 running Android 7.1.1 and I can connect just fine

![screenshot_1513115769](https://user-images.githubusercontent.com/6757047/33910647-3bad347e-df6e-11e7-98bb-aa966270eeb9.png)

[2017-12-12 22:18] Darkman commented on #1294
Any other ideas why the classic app would work for him but not the current/beta?

[2017-12-12 22:33] enahum commented on #1294
does he have a custom ROM?
I just tried on an Android 6.0.1 Samsung J5 and it also works just fine.

[2017-12-12 23:14] Darkman commented on #1294
No custom ROM. I thought it might be an IPv6 thing since my server doesn't support it and he was getting an IPv6, but he tried connecting through a VPN and no luck either.

[2017-12-13 00:00] soletan commented on #1155
Hi, tried to reproduce the bug, but having problems w/ proper session timeout causing me to re-login.

# Set Session Timeout for Mobile Applications to 1.
# Logged out manually on iOS device.
# Logged in again.
# Reverted Session Timeout for Mobile Applications to previous value so other user's won't be bothered unnecessarily.
# Waited a whole day, then got the Push notification on session having

[2017-12-13 07:42] anton-johansson commented on #884
It works indeed! However, a newline is generated before and after each image, unlike in the browser, where I can include an embedded icon in the middle of the line.

[2017-12-13 07:51] torgeirl opened #1296 "Announcement Banner isn't displayed on mobile"
#### Summary
Announcement banner isn't displayed in mobile client.

#### Environment Information
- Device Name: Sony Xperia Z-something
- OS Version: Android 7.1.1
- Mattermost App Version: 1.5.1
- Mattermost Server Version: 4.4.x

#### Steps to reproduce
Set an announcement banner (System Console > Policy; requires E10 or higher) the next time you're planning to take down the server for maintenan

[2017-12-13 09:44] rid3re commented on #1294
I have the same issue.

Device: Samsung GT-I9300
OS: LineageOS
Android: 7.1.2
Mattermost App: 1.5.1
Mattermost Server: 4.4.0 (Build 4.4.5)

[2017-12-13 14:46] MamoulianDelacroix opened #1297 "compiling issues"
👋 hello together,
I'm quite new in app-development.
I have a sticky problem compiling the mattermost-mobile-app and sadly I can't find a clue what's going wrong.
I download the source files via git.
cd into 'mattermost-mobile' and execute 'npm install'. After that I cd into 'android' and execute './gradlew assembleRelease ' to get an apk-File.
Sadly I get the following error
`15:45:27.243 [DEBUG]

[2017-12-13 14:53] atkozhuharov opened #1298 "built iOS app keeps crashing"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Issue in one concise sentence.

#### Environment Information

- Device Name: iPhone 5S
- OS Version: iOS 11.2
- Mattermost App Version: Latest
- Mattermost Server Version: Latest

#### Steps to reproduce
Fetched the latest version from the main branch a

[2017-12-13 16:55] Neusaric commented on #1294
You know, thinking about it, it might be a custom ROM. It's a Virgin Mobile phone, So it they might have done something.

[2017-12-13 16:57] enahum commented on #1294
Yeah looks like a custom ROM thing, cause with stack ROMs everything seems to run fine :S I have no ideas

@hmhealey or @jarredwitt thoughts?

[2017-12-13 17:00] enahum commented on #1297
Hi @MamoulianDelacroix have you followed https://docs.mattermost.com/developer/mobile-developer-setup.html ?

[2017-12-13 17:02] enahum commented on #1298
Have you followed the docs? https://docs.mattermost.com/developer/mobile-developer-setup.html

Also if you run it in debug mode you need to have the react native packager running somewhere reachable in your network

[2017-12-13 17:38] Neusaric commented on #1294
For clarity, When @Darkman said "No custom ROM. I thought it might be an IPv6 thing since my server doesn't support it and he was getting an IPv6, but he tried connecting through a VPN and no luck either." he was referring to me.

Also, I really don't know if Virgin changed anything buy I've heard that the prepaid phone companies do.

[2017-12-13 19:10] lfbrock commented on #1296
Thanks @torgeirl, created a ticket here to support the announcement banner: https://mattermost.atlassian.net/browse/RN-579

[2017-12-14 01:13] hljhttp opened #1299 "no render of message attachments in direct message but the desktop version did"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
I made a bot to send a message attachment below,the android version didn't show the attachment but the desktop version did.

[code]

#### Environment Information

Device Name: LG Stylo 3
OS Version: Android 7.0
Mattermost App Version: 1.5.1
Mattermost S

[2017-12-14 05:16] #1299 closed

[2017-12-14 05:18] hljhttp commented on #1299
sorry for this for i used a diffrent user (non admin user)test on  android.

[2017-12-14 08:30] MamoulianDelacroix commented on #1297
@enahum : Thanks a lot I will take a look at it.
But I'm a bit confused the instructions look quiet different from the one from here
https://github.com/mattermost/mattermost-mobile

[2017-12-14 12:02] atkozhuharov commented on #1298
@enahum  - exactly does docs. It isn't for debug - I built the app for release with our cert and our apple account. The packaging part went fine, but after installing it locally on the iPhone the app won't start fast enough(it gets killed).

[2017-12-14 12:06] enahum commented on #1298
@atkozhuharov would you be able to join our [pre-release server](https://pre-release.mattermost.com)  and join the [Native Mobile Apps](https://pre-release.mattermost.com/core/channels/native-mobile-apps) channel so we can discuss there more fluently what are you doing, what's going on so we can find a way to fix it for you?

[2017-12-14 14:04] atkozhuharov commented on #1298
@enahum - thank you for your time and patience :)
Thanks to you I managed to build the app:
1) Prepare all necessary certs in developer.apple.com(in my case for ad-hoc in house testing)
2) Clean the build tree
3) Archive(not build for running) - this is for production release
4) Export the ipa and then install it via Xcode to the device.

[2017-12-14 14:04] #1298 closed

[2017-12-14 14:12] MamoulianDelacroix commented on #1297
Hmm 🤔
Now I used your instructions and the error pictures has changed:
`fries@fries-virtual-machine:~$ git clone https://github.com/mattermost/mattermost-mobile.git
Cloning into 'mattermost-mobile'...
remote: Counting objects: 15039, done.
remote: Compressing objects: 100% (86/86), done.
remote: Total 15039 (delta 73), reused 95 (delta 59), pack-reused 14894
Receiving objects: 100% (15039/15039),

[2017-12-14 14:23] atkozhuharov commented on #1106
I'm hitting the same issue with iOS 11.2.1 iPhone 7 and iOS 11.2 iPhone 5S (can't reproduce on Android).
Setup: mattermost + push proxy on a VM in GCP.

[2017-12-14 14:42] mlazarov commented on #1106
Adding AllowCorsFrom: "*" fixes this.

[2017-12-18 10:26] artlbv commented on #1108
Hi, I've got the same problem on iOS with the same server. Updating to v1.5.1 did not help.

I've noticed that when entering the server URL I have to click on "connect" twice, otherwise it does not proceed to the gitlab login. Then it shows the blank screen with SSO authentification.

[2017-12-18 22:28] Poussinou commented on #566
Very interested too (even if it's without notification), I use it at school instead of Slack :)

@IzzySoft maybe you could do something in the meantime? ;)

[2017-12-18 23:22] IzzySoft commented on #566
@Poussinou you certainly thought about something like [this](https://apt.izzysoft.de/fdroid/index/apk/com.mattermost.rn)? Yes, I could indeed. But someone should have an eye on that riskware thingy VT reports, maybe. And as for the official repo: a different flavor without those Google dependencies would certainly help.

[2017-12-19 16:14] ayehuda opened #1301 "Unable to resolve module `app/mattermost`"
#### Summary
[fatal][tid:main] Unable to resolve module `app/mattermost` from `/Users/avi/src/mattermost/mattermost-mobile-master/index.js`: Module does not exist in the module map
#### Environment Information

- Device Name: A6iPad
- OS Version: iOS 11.0.2
- Mattermost App Version: N/A
- Mattermost Server Version: N/A

#### Steps to reproduce
npm install and run the resulting xcode project

####

[2017-12-19 16:41] ws141 opened #1302 "Keyboard jumps over chat box on keyboard change."
#### Summary
Keyboard jumps over chat box on keyboard change.

#### Environment Information

- Device Name: iPhone 7
- OS Version: iOS 11.2
- Mattermost App Version: 1.5.1
- Mattermost Server Version: 4.5.0

#### Steps to reproduce
Switch keyboard from Swedish keyboard to Emoji keyboard.

#### Expected behavior
The message box should stay visible when the keyboards are switched.

#### Observed beh

[2017-12-21 13:35] FelixDefrance opened #1312 "Able to download mattermost-mobile apk from your site."
Hi,

Is it possible to provide a direct download link in "https://about.mattermost.com/download/" for Android based OS ?

Some people like me don't have google account..

Thanks for us.

[2017-12-21 13:47] enahum commented on #1312
you can download them from here https://github.com/mattermost/mattermost-mobile/releases

[2017-12-21 13:56] FelixDefrance commented on #1312
Sweet ! Maybe you could make a link in front of your site? It will be more easy.

[2017-12-22 19:06] #1302 closed

[2017-12-22 22:26] Poussinou commented on #566
Yep, that was what I thought about :)
@IzzySoft Are you ok if I ping you when I find an Android app that is not (yet) in the official F-Droid repo and has .apk available for download, so that you can include them in your own repo?

[2017-12-24 10:22] IzzySoft commented on #566
@Poussinou sure. Or just go here: https://gitlab.com/IzzyOnDroid/repo and file an issue with the data, like it's done for F-Droid as well :wink:

[2018-01-02 02:00] avasconcelos114 opened #1326 "Slack Attachment Actions not breaking into new line"
#### Summary
Layout of attachment buttons does not break into new line at the end of component.

#### Steps to reproduce
App Version: Mattermost Mobile 1.5.1
Server Version: 4.2.0
The exact steps taken were:
1. Create slash command that displays 4 buttons using the message attachment feature
2. Utilize slash command and view response on Mobile Application

#### Expected behavior
Have complete view

[2018-01-05 11:55] th-joerger opened #1338 "List enumeration render difference between mobile and desktop app"
#### Summary
Enumerated lists are treated differently in Desktop app and mobile client

#### Environment Information

- Device Name: LG G4 - H815
- OS Version: 6.0.0
- Mattermost App Version: 1.5.1 (Build 74)
- Mattermost Server Version: 4.3.0 (Build 4.3.2)

#### Steps to reproduce
Post the following to a channel:
[code]

#### Expected behavior
This should render the same in desktop app and mobile

[2018-01-05 12:42] enahum commented on #1326
nice catch @avasconcelos114 I've created a ticket to track the progress https://mattermost.atlassian.net/browse/RN-600

[2018-01-05 13:30] Nek- commented on #1108
Hello,

I have the same issue with Android (7.1.1). OnePlus 5T.

I get `{"status":"ok"}` error.

[2018-01-06 05:01] Darkman commented on #1294
Coincidentally, we have another friend that just tried to connect to the server and got the same error with the same type of phone (LG Stylo 3). Is there any other debugging we could try to narrow this down as to why the type of phone would be causing an issue?

[2018-01-06 05:39] Darkman commented on #1294
Is there a chance this could be an issue with the SSL ciphers I have set in NGINX?
I currently have this:
`ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";`

Could that be too strict? @Neusaric was able to connect to the prerelease mattermost server with the app, just not mine.

[2018-01-07 04:28] Darkman commented on #1294
@enahum I've finally been able to narrow down the setting that is causing this.

It's the ssl_ecdh_curve parameter in nginx that I currently have set to:
`ssl_ecdh_curve secp384r1;`

[2018-01-07 05:52] tareko commented on #1079
Hello all. Members of our teams have also noticed the long cold-start times for the mobile app (especially android as more of us use that). For those of us who use MM as mobile-first, this is a particular problem. I understand December would have been a slow development month, however has any more progress been made on this issue?

Thank you!

[2018-01-07 13:49] enahum commented on #1294
That is great to hear, I don’t have much knowledge about ssl curves, but this seem like a good candidate to add in our trobleshooting section, mind making a PR to the docs repo?

[2018-01-07 13:52] enahum commented on #1079
We’ve been looking into this but it seems the issue has to do with the way react-native and rect-native-navigation bootstraps the app.

We are constantly looking for alternatives but if anyone has some experience with native development and want to help out with this that would be awesome

[2018-01-08 01:07] #1294 closed

[2018-01-08 15:52] lfbrock commented on #1108
Hi @Nek-, are you using just plain GitLab SSO? Or do you use another authentication backend, or a method like LDAP along with GitLab?

[2018-01-08 17:17] Nek- commented on #1108
It's plain gitlab sso.

And here are gitlab versions:

[code]

[2018-01-08 17:20] #1326 closed

[2018-01-10 04:54] tareko commented on #1079
I am not a RN developer, so I understand that I have limited perspective. In doing some web searches, I don't see other apps taking as long as MM to boot, with many apps talking about 2s load times (MM on my Nexus 5X typically takes 6-7s to show a network load screen).

I looked [here](https://code.facebook.com/posts/895897210527114/dive-into-react-native-performance/) and saw that some devs use p

[2018-01-12 09:36] sils opened #1349 "iOS app crashes when uploading an image"
#### Summary

I have a client who uses the iOS app and reports that the app crashes every time when he wants to upload an image.

#### Environment Information

- Device Name: unknown
- OS Version: unknown
- Mattermost App Version: unknown, installed late december probably
- Mattermost Server Version: Version: 4.4.0  (4.4.3)

#### Steps to reproduce

Open app, open private channel to a person, choo

[2018-01-12 11:27] enahum commented on #1349
@sils please try and find out the version of the app and OS

[2018-01-12 12:14] sils commented on #1349
App version: 1.5.1.
iOS 11.2.1

[2018-01-15 22:13] alecisec opened #1355 "Crash on resuming (Android 1.5.2 Build 77)"
Upon resuming (from background) the app commonly stops responding and needs to reopen/relaunch.
This occurs on app version 1.5.2 (and earlier) on Stock-firmware Nexus 5x (Android 7.1.2, 8.0 and 8.1 tested)
Likely due to background process caching as this is a somewhat low-memory device (2GB RAM)

[2018-01-16 10:05] licaon-kter opened #1356 "No Github release nor Tag"
1.5.2 - But it's already on https://play.google.com/store/apps/details?id=com.mattermost.rn

[2018-01-17 02:08] jcarrillo7 opened #1358 "Cannot paste images on input text box iOS"
#### Summary
Input text field for conversations does not accept pasting images/screenshots.

#### Environment Information

- Device Name: iPhone X
- OS Version: iOS 11
- Mattermost App Version: 1.5.2
- Mattermost Server Version: 4.1

#### Steps to reproduce
Take screenshot
Edit screenshot in new iOS 11 screenshot UI
Copy screenshot to clipboard
Delete screenshot
Go to mattermost app
Attempt to pas

[2018-01-17 03:50] phuihock opened #1359 "Cannot 'make stop'"
#### Summary
`make stop` does not stop RN packager server.

#### Environment Information

- Device Name: N/A
- OS Version: Ubuntu Linux 16.04
- Mattermost App Version: master
- Mattermost Server Version: N/A

#### Steps to reproduce
Run `make stop` command

#### Expected behavior
In Linux, `ps -e` used in `make stop` task produces only the process name without the argument. Should use `ps -ef`

##

[2018-01-19 06:58] licaon-kter commented on #1356
Thanks

[2018-01-19 21:44] stephenkiers commented on #1154
Is this issue reproducible with other auto-Capitalization keyboards, other than Gboard? I am unable to reproduce with Android Keyboard (AOSP), and it seems like this is a known issue with Gboard's keyboard, re: https://forums.oneplus.net/threads/auto-capitalisation-not-working-on-gboard.597573/

[2018-01-19 21:45] stephenkiers commented on #1154
Tested on other keyboards and could not reproduce

[2018-01-19 21:46] stephenkiers commented on #1154
Please re-open if reproducible with other keyboards.

[2018-01-20 08:54] licaon-kter commented on #1154
Reproducible with:
* AnySoftKeyboard
* Multiling O Keyboard
* Sony Xperia Stock Keyboard

[2018-01-22 06:12] jpalko opened #1366 "Android client cuts off last character of 3 character usernames in discussions"
#### Summary
Android client cuts out last character of username in channel discussions when usernames are 3 letters long.

#### Environment Information

- Device Name:
- OS Version: 7.1.1
- Mattermost App Version: Stable 1.5.2 and Beta 1.6.0
- Mattermost Server Version: Started to show incorrectly from version 4.4.2 and continued in versions 4.5.0 and 4.6.0

#### Steps to reproduce
Make usernames

[2018-01-22 11:14] moussetc opened #1367 "Text sometimes cut at message's end"
#### Summary
Text messages can be cut and thus not displayed entirely.

#### Environment Information

- Device Name: Galaxy A3 (2016)
- OS Version: Android 7.0
- Mattermost App Version: 1.5.2 (Build77)
- Mattermost Server Version: 4.6.0

#### Steps to reproduce
Write some messages.

#### Expected behavior
All text should be visible.

#### Observed behavior
The text can sometimes be cut, whether it

[2018-01-22 16:31] stephenkiers commented on #1154
Ok, reopened for further testing.

[2018-01-22 19:38] stephenkiers commented on #1154
Unable to reproduce on Gboard or AnySoftKeyboard. https://www.youtube.com/watch?v=i6BuDgRMPrc

Using App 1.6.0
Server 4.6.0
on Emulated Nexus 5X

I am marking as cannot reproduce and I assume it has been fixed, or is an issue with individual device.

[2018-01-22 19:38] #1154 closed

[2018-01-22 20:20] licaon-kter commented on #1154
I can't test 1.6.0 as it's [not yet released](https://github.com/mattermost/mattermost-mobile/releases)

With 1.5.2, I can repro this on Sony 5.1.1, Sony 6.0.1 and Samsung 6.0.1.

[2018-01-22 21:59] enahum commented on #1359
@phuihock feel free to submit a PR ;)

[2018-01-22 23:39] stephenkiers commented on #1154
yeah. I closed as 'already fixed' (perhaps unintentionally). If you still have issues after updating to 1.6, then we can re-open again, but I was not able to repro on the latest builds. :)

[2018-01-22 23:41] stephenkiers commented on #1154
If you did want to try and reproduce on the current dev version, you may setup and try to reproduce on your machine. https://docs.mattermost.com/developer/mobile-developer-setup.html

[2018-01-22 23:53] phuihock commented on #1359
Done :)

[2018-01-23 13:35] saturninoabril commented on #1366
Thanks for submitting an issue!
May I know what's the phone having an issue? Is it also happening on other Android users with different phone/models?
Could you try changing system fonts and see if that helps.

[2018-01-23 13:35] enahum commented on #1367
Hi @moussetc I've created a ticket to keep track of this https://mattermost.atlassian.net/browse/ICU-640

Thanks for the report

[2018-01-23 13:38] enahum commented on #1358
Hi @jcarrillo7 this functionality is not available in the app, are you interested in submitting a PR to add the functionality?

[2018-01-23 13:45] enahum commented on #1355
Hi @alecisec we have had reports like this, and we are currently investigating, but haven't been able to determined what is causing the problem.

you can follow this ticket to track the progress of the issue https://mattermost.atlassian.net/browse/ICU-592

[2018-01-23 13:47] enahum commented on #1349
@sils sadly I cannot repro this issue.

I'm able to upload images to public, private, direct and group channels without a problem.

Do you have an idea of the size in px and mb of the image?

[2018-01-23 13:48] #1312 closed

[2018-01-23 13:49] enahum commented on #1301
@ayehuda are you following the [docs](https://docs.mattermost.com/developer/mobile-developer-setup.html) on how to set your environment, compile and run the app?

[2018-01-23 13:51] enahum commented on #1297
the documentation should have all the steps to build an apk, doesn't it?

[2018-01-23 16:37] jpalko commented on #1366
Sorry, I forgot to put the device model in the report. I did a bit of
additional testing:
-Lenovo Yoga Book Android 7.1.1, System font, account names work fine
-OnePlus 5T, Android 7.1.1, Roboto font, account names work fine
-OnePlus 5T, Android 7.1.1, OnePlus Slate font, account names drop last
letter
-OnePlus 3T, Android 8.0.0, Roboto font, account names work fine
-OnePlus 3T, Android 8.0.0, One

[2018-01-23 16:42] jpalko commented on #1366
Also, let's remove the 3 character bit from the report, we just happened to have 3 character accounts. It happens for the OnePlus Slate font for any length of account name.

[2018-01-24 21:35] #1359 closed

[2018-01-25 06:18] bbodenmiller commented on #1108
Having same issue as @Nek. GitLab 10.2

[2018-01-25 13:15] Nek- commented on #1108
shh, don't tell it, security upgrade is required for you 😄

[2018-01-25 14:46] Kelloggs commented on #734
On iOS, table still aren't rendered. Did this work in the past and is regression?

[2018-01-25 15:14] enahum commented on #734
@Kelloggs sadly markdown tables are still not supported, it was originally planed to be included in 1.3 but other things have taken priority

You can keep track of the progress for markdown tables by following this ticket https://mattermost.atlassian.net/browse/ICU-601

[2018-01-26 18:28] stephenkiers commented on #1367
Hey @moussetc I was wondering if you could send me your theme information? I am unable to reproduce and I would like to make my environment as close to yours as possible.

thanks

[2018-01-26 18:36] moussetc commented on #1367
Sure! Is the following JSON what you need?

`{"sidebarBg":"#262626","sidebarText":"#ffffff","sidebarUnreadText":"#ff0000","sidebarTextHoverBg":"#525252","sidebarTextActiveBorder":"#7e9949","sidebarTextActiveColor":"#ffffff","sidebarHeaderBg":"#363636","sidebarHeaderTextColor":"#ffffff","onlineIndicator":"#99cb3f","awayIndicator":"#b8b884","dndIndicator":"#f74343","mentionBj":"#ffffff","mentionColo

[2018-01-26 18:50] stephenkiers commented on #1367
yeah. Hopefully that helps. :)

[2018-01-26 19:19] stephenkiers commented on #1367
Hmm... still unable to reproduce.
1) Are there any other customizations or settings that may be different than the default installation?
2) Have you changed any Android settings for text size, etc?
3) are you able to reproduce consistently, or is it more of a random error?
4) is anyone else on your team experiencing the issue?
5) is the issue new with the latest upgrade, or has it been happening f

[2018-01-26 19:32] moussetc commented on #1367
1. I can't think of any.
2. No.
3. I'v done some quick testing and it looks like emojis might be the issue here:
    The bottom of the 'y' in 'ty :p' is cut while 'ty' is displayed correctly. I tried several type of emojis and the issue is also present.
4. I'v asked, I'll get back to you on that point. Alas, since we haven't yet managed to install our notifications server&build our own version of

[2018-01-26 21:20] stephenkiers commented on #1367
I think I reproduced with your hint in 3
Lets see if I can fix

[2018-01-26 23:32] stephenkiers commented on #1367
I have started a discussion on what to do here : https://pre-release.mattermost.com/core/pl/wchehqs4w3yspycke5nq6mk85r

[2018-01-27 17:37] moussetc commented on #1367
Hi again, I just had the issue on a message that did not contain any emoji :S A line was missing at the end, I tapped the message and it then appeared completely. I restarted the app and the message was displayed correctly.
I tried writing the same message again, but the issue was not present this time.

[2018-01-27 17:39] enahum commented on #1367
Question, was it really missing? Scrolling up and down disn’t show the full message?

[2018-01-27 18:11] moussetc commented on #1367
Uh, I don't understand the question. Messages above and below were fully visible, there should have been no need to scroll.

[2018-01-29 11:51] saturninoabril commented on #1366
@jpalko Sorry to inform you but we are setting low priority for this kind of device specific font compatibility issue over a long list of features that needs to port from webapp to mobile app.
Alternatively, you could open a feature request on our [forum](https://mattermost.uservoice.com/forums/306457-general) where you and others can up-vote the suggestion up to 10 times.
I'm closing this now but

[2018-01-29 11:51] #1366 closed

[2018-01-30 02:49] Bortseb opened #1393 "Text in code blocks doesn't wrap like on the desktop client"
#### Summary
Text in code blocks doesn't wrap on mobile like on the desktop client

#### Environment Information

- Device Name:
- OS Version: Android 7.0
- Mattermost App Version: 1.5.2
- Mattermost Server Version: 4.3.0

#### Steps to reproduce
Write text that is long enough to wrap when on mobile between the code blocks formatting, i.e. ``` , then view on mobile.

#### Expected behavior
When I

[2018-01-30 11:53] saturninoabril commented on #1393
@Bortseb Thanks for the report! I filed a ticket here https://mattermost.atlassian.net/browse/ICU-677.
I'm closing this issue; tracking will be on the filed ticket.

[2018-01-30 11:53] #1393 closed

[2018-01-31 19:47] stephenkiers commented on #1367
PR submitted : https://github.com/mattermost/mattermost-mobile/pull/1402
For all reproducible issues. I am hoping they will also fix your non-reproducible issues.

Otherwise we will need a new issue report after next release, or consistent repro steps for the current version to test beforehand.

Thanks @moussetc

[2018-01-31 19:48] #1367 closed

[2018-02-01 10:40] chumbalum opened #1404 "Mattermost mobile apps can't connect to server 4.6 with new SSL certificate (Thawte RSA CA 2018)"
#### Summary
Mobile apps won't connect anymore after upgrading server to 4.6 and usage of a new ssl certificate. The ssl certificate was issues by Thawte RSA CA 2018.

#### Environment Information

- Device Name: Nexus 5X / IPhone 5
- OS Version: 8.1.0
- Mattermost App Version: 1.5.2 / 3.10.0 (classic) / 1.6.0 (Beta)
- Mattermost Server Version: 4.6

#### Steps to reproduce
Use Mattermost Server w

[2018-02-01 12:07] chumbalum commented on #1404
I just installed the CA certificate on my device and it resolved my issue.

https://search.thawte.com/support/ssl-digital-certificates/index?page=content&id=INFO1384

So I don't know if this is an issue of the app or must be resolved by the OS.

[2018-02-02 22:39] enahum commented on #1404
Looks like this is an OS issue

[2018-02-02 22:40] enahum commented on #1355
Resolved by https://github.com/mattermost/mattermost-mobile/pull/1403 and it will be available for 1.7

[2018-02-02 22:41] #1355 closed

[2018-02-03 23:40] dbrgn opened #1412 "Build date in about dialog incorrect"
#### Summary

In the about dialog, the build date seems wrong.

#### Environment Information

- Device Name: Fairphone 2
- OS Version: Android 6.0.1
- Mattermost App Version: master (c4ad99d)
- Mattermost Server Version: 4.4.0 (Build 4.4.5)

#### Steps to reproduce

- Build the current master version of the Android app with `make build-android`
- Deploy to device, open app, log in
- Go to Settings

[2018-02-04 06:26] alizainkazmi opened #1413 "What is the appropriate way to use custom theme?"
I just want to know if there is a way defined to use a custom theme?

[2018-02-04 12:28] dbrgn commented on #1079
The long cold start times (5-10s) are also one of the main pain points for me.

[2018-02-05 13:04] enahum commented on #1412
@dbrgn the build date in the About screen is referring to the build date for the server, perhaps is not that clear?

actually the Build Hash also refers to the server one, @esethna thoughts?

[2018-02-05 13:05] enahum commented on #1413
@hmhealey thoughts?

[2018-02-05 13:06] dbrgn commented on #1412
@enahum ah, I see 🙂 No, it was not clear to me, I assumed that was the build date of the app.

[2018-02-08 05:41] hydrapolic commented on #1349
I can too confirm, but it seems to happen rather randomly. I had the phone on for some time, took a picture and tried to send it and the app crashed. The next time started it went just fine. I also had reports from other colleagues that the picture upload stuck (endless spinner on thumbnail).

ios 11.2.2
Mattermost Team Edition 4.6.1
App version 1.6.0

[2018-02-08 07:53] prateekpandey44 commented on #1297
@enahum
this is the issue that I faced after the command :-

make check-device-android

/bin/sh: 2: @echo: not found
/bin/sh: 3: @exit: not found
Makefile:116: recipe for target 'check-device-android' failed
make: *** [check-device-android] Error 127

[2018-02-08 11:59] licaon-kter commented on #1154
Looks fixed in 1.6.0, thanks.

[2018-02-08 16:53] artlbv commented on #1108
For some reason the "Mattermost Classic" app started to work, while the non-classic still does not.

[2018-02-08 17:47] stephenkiers commented on #1154
Thanks for following up

[2018-02-09 14:46] hadware commented on #1108
Same problem for me, got the `{ "status": ok }` blank page. On android, latest version of the mobile app. I don't know the version of the gitlab server though.

[2018-02-09 14:57] MicaelCarvalho commented on #1108
Have you tried typing the URL with https instead of http? :)

[2018-02-13 15:23] #1296 closed

[2018-02-14 10:54] moussetc commented on #1367
Hi, thank you for your work, alas the issue is still present using the 1.6.1 version.
On my phone, I can always reproduce it by typing "yay :P" and the bottom of the text is cut, as well as the very top of the emoji:
![image](https://user-images.githubusercontent.com/8834237/36200663-b6df308e-117d-11e8-99f5-ea5ad922d7c3.png)

[2018-02-14 11:50] gordallott commented on #1108
is there any update on this? this is basically a dealbreaker for us to use mattermost

[2018-02-16 05:00] hadware commented on #1108
It worked for me using https, maybe it's specific to our gitlab installation. I don't know...

[2018-02-18 13:32] cpanato commented on #1267
I guess we can close this ticket

[2018-02-18 13:46] enahum commented on #1412
@dbrgn is it ok to close this issue?

[2018-02-18 13:47] enahum commented on #1404
Were you able to solve this? Did you look at your certificate using a tool like ssllabs.com?

[2018-02-18 13:49] enahum commented on #1349
Wondering if this happen cause of a network glitch while uploading the image

[2018-02-18 13:50] enahum commented on #1301
@ayehuda, were you able to solve it?

[2018-02-18 13:52] enahum commented on #1297
@prateekpandey44 we’ve made some changes to our Makefile and this should not happen now when running `make check-device-android`

[2018-02-18 14:30] dbrgn commented on #1412
Yes, although I still think putting the build date (ideally the build commit id) of the app in the about dialog would make sense :)

[2018-02-18 16:51] hydrapolic commented on #1349
Don't think so,it happened for various people on different ios devices/networks :-/

[2018-02-18 22:07] jimbothree opened #1448 "First letter gets duplicated when using search functionality on Android"
#### Summary
When adding a public channel, adding/managing users to a channel, or starting a new direct message..  typing into the search bar for all of these areas will see the first letter typed duplicated as the second letter is typed.

#### Environment Information

- Device Name: Droid Turbo 2
- OS Version: Android Version 7.0
- Mattermost App Version:  1.6.0 (Build 75)
- Mattermost Server Ver

[2018-02-19 11:05] cpanato commented on #1293
working on this

[2018-02-20 01:19] jimbothree opened #1454 "Image fails to load when viewing 'Developers' Channel info on Android"
#### Summary
When viewing the channel info for the 'Developers' Channel, in the Header section of channel info I received an error message 'Image failed to load: codecov'

#### Environment Information
- Device Name: Droid Turbo 2
- OS Version: Android Version 7.0
- Mattermost App Version: 1.6.0 (Build 75)
- Mattermost Server Version: 4.7.1 (Build 4.7.1-rc1)

#### Steps to reproduce
(Only confirmed

[2018-02-20 11:25] cpanato commented on #1293
PR: https://github.com/mattermost/mattermost-mobile/pull/1455

[2018-02-20 13:59] #1293 closed

[2018-02-23 21:26] koxen opened #1460 "User online statuses are never updated"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
User online statuses are never updated.
This has been an inssue since forever...

#### Environment Information

- Device Name:  Samsung s7
- OS Version:  android 7.0
- Mattermost App Version:  master
- Mattermost Server Version: master

#### Steps to re

[2018-02-23 21:29] koxen opened #1461 "Channel is not refreshed after clicking a notification"
#### Summary
After clicking a notification that brings you to the channel, the new messages are not loaded unless you force a channel refresh by swiping from down.

#### Environment Information
Tested on samsung s7 and iphone 6.
- Device Name:
- OS Version:
- Mattermost App Version: <s>master</s> latest app store
- Mattermost Server Version: master

#### Steps to reproduce
How can we reproduce the

[2018-02-25 00:22] licaon-kter opened #1462 "Notification setting - 2 issues"
#### Environment Information

- Device Name:  Xperia/Samsung 6.0.1
- Mattermost App Version: 1.6.1
- Mattermost Server Version: 4.7.2

#### Steps to reproduce
1. Open app, settings, notifications, email
2. If one is not selected, select one (eg. 15 minutes), save

#### Expected behavior
1. See an option selected, the one you setup earlier via the web UI
2. After selection, kill the app, open this

[2018-02-25 10:07] cometkim opened #1463 "The team sidebar is not working after clicking on post profile picture."
#### Summary
The team sidebar is not working after clicking on post profile picture.

#### Environment Information

- Device Name:
- OS Version: Android 7.1.1
- Mattermost App Version: 1.6.1
- Mattermost Server Version: 4.7

#### Steps to reproduce
1. Join multiple teams to use team sidebar.
2. Click on any profile picture in channel view.
3. Close user profile modal, try to use team sidebar.

###

[2018-02-27 08:17] madflow opened #1466 "After taking down the upstream server - the app halts at "Refresh""
#### Summary

After taking down the upstream server - the app halts at "Refresh"

#### Environment Information

- Device Name: iphone6
- OS Version: 11.2.6
- Mattermost App Version: 1.6.1
- Mattermost Server Version: 4.3.1

#### Steps to reproduce

I have initially configured the app with the server https://my.server.com. Then we took this server "down" and changed the new server to https://my-new

[2018-02-27 09:42] sherifelgafary commented on #1466
I have the same issue i'm using the demo server
https://pre-release.mattermost.com/
and after logging in with my credentials it's stuck at refreshing only

[2018-02-28 18:23] mattrampolla opened #1472 "Mobile - iOS: Edit Channel Name does not display updated name until channel is reselected"
#### Summary
When editing a Channel's Name, on iOS (App Version 1.7.0 Build 87), the name change is registered at the top of the start of the channel -- "Beginning of [channelName]" and "This is the start of the [channelName] channel...". The change is not updated in the Channel Name Bar at the top of the screen, until the channel drawer is opened and the channel is reselected.

#### Environment I

[2018-02-28 18:34] mattrampolla opened #1473 "Mobile - iOS: Preview is broken - 'Unexpected error occurred' and forces Relaunch of app"
#### Summary
When tapping an JPG image, to preview, the app returns an "Unexpected error occurred" message and forces the user to select "Relaunch".

#### Environment Information

- Device Name: iPhone 6s Plus
- OS Version: 11.2.5
- Mattermost App Version: 1.7.0 (Build 87)
- Mattermost Server Version: 4.7.1 (4.8.0-rc1)

#### Steps to reproduce

1. Login on iOS (App Version 1.7.0 Build 87)
2. From

[2018-02-28 18:36] mattrampolla opened #1474 "Mobile - iOS: Portrait and Landscape mode show inconsistent channel/message focus"
#### Summary
When rotating back and forth, between portrait mode and landscape mode, the focus on the opened channel/message is continually changed with most rotations.

#### Steps to reproduce
1.  Login to App Version 1.7.0 (Build 87) on iOS with phone in portrait orientation
2. Open any channel or message with enough messages/posts to allow the user to scroll and load more
3. Swipe down repeated

[2018-03-03 11:23] mawen7 commented on #1297
@MamoulianDelacroix @enahum
[code]

was necessary for me to fix "bundle: not found".

[code]

was necessary to get aapt working (from https://stackoverflow.com/a/28231767)

[2018-03-03 13:49] moussetc opened #1478 "Truncated message line on Android app"
As asked on issue #1367, as the problem is still here, I'm opening another issue.
Some text lines are truncated at the top and the bottom on my device. It's most of the time when the line contains an emoji, but there was at least one time when the line didn't have emoji in it (although other lines displayed on the same screen may have had emojis).

#### Environment Information

- Device Name:  Gal

[2018-03-04 07:07] gajananpp commented on #1265
working on this

[2018-03-05 09:13] sherifelgafary opened #1480 "Customizing the navigation bar"
I would like to add an banner contains some text above the navigation bar in all the app how can i achieve something like that easily your help is so much appreciated as it's my first time in react native

thanks

[2018-03-05 11:19] madflow opened #1481 "Markdown Inline SVG Images not showing up"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary

Markdown Inline Images with an absolute URL not showing up. The do show up in the "Web-App"

#### Environment Information

- Device Name: iphone6
- OS Version: 11.2.6
- Mattermost App Version: 1.6.1
- Mattermost Server Version: 4.3.1

#### Steps to rep

[2018-03-05 15:12] #1472 closed

[2018-03-05 15:46] lindalumitchell commented on #1448
Thanks for the detailed report, @jimbothree! I verified we had filed a JIRA ticket for the issue: https://mattermost.atlassian.net/browse/MM-9250, and it appears to have been fixed. There is a separate issue with typed characters not being visible, so for this issue I verified so far that the search results are filtered as expected. We will go back and double-check this issue after the invisible t

[2018-03-07 12:29] enahum commented on #1481
I think the problem is the svg file type that is not supported for inline images.

@hmhealey can you take a look?

[2018-03-07 14:33] hmhealey commented on #1481
I think we could look into it, but we'd need to see if the SVG library that we have can display arbitrary SVGs or if it needs them built out of its own components.

I filed a ticket [here](https://mattermost.atlassian.net/browse/MM-9746)

[2018-03-08 08:17] moussetc commented on #1478
Quite sure. I still have the problem today and the version number displayed is the one I put in the description. It was installed and updated from the Play Store.

[2018-03-09 08:04] estan opened #1495 "Can't connect to server that perform SSL client certificate verification"
#### Summary

Trying to connect to a server that performs SSL client certificate verification using the Android app gives the error "Cannot connect to the server. Please check your server URL and Internet connection.".

Connecting through a mobile browser like Chrome works (pops up a dialog asking for the client certificate).

#### Environment Information

- Device Name: Sony Xperia Z5 Compact
- O

[2018-03-09 11:32] dbrgn opened #1496 "Tilde channel links (~channel) not linked if user is not member"
#### Summary

While in the webapp channel links (`~channel`) are linked no matter whether the viewing user is a member of that channel or not, on the mobile app they are only linked if the viewing user is a member.

#### Environment Information

- Device Name: Fairphone 2
- OS Version: 6.0.1
- Mattermost App Version: 1.6.1
- Mattermost Server Version: 4.5.0

#### Steps to reproduce

Send a message

[2018-03-10 15:05] koxen commented on #1038
this is still not working on android

[2018-03-10 15:09] koxen commented on #1038
code looks fine. not sure why this doesn't work.
https://github.com/mattermost/mattermost-mobile/blob/master/android/app/src/main/java/com/mattermost/rnbeta/CustomPushNotification.java#L312

[2018-03-11 07:51] law commented on #1495
Same here.

[2018-03-11 13:36] estan commented on #1495
To Mattermost devs: See [this](https://github.com/facebook/react-native/issues/10885#issuecomment-260070604) comment for what needs to be done, until [this](https://react-native.canny.io/feature-requests/p/support-tls-client-certificate-authentication-in-fetch-api-implementation) React Native feature request is taken care of.

[2018-03-13 14:30] dbrgn commented on #1038
For me, when I open the mobile app, the mobile notifications are cleared.

What I'm missing though is that notifications on the mobile are cancelled when I read the messages using the web chat. Is that out of scope?

[2018-03-13 14:34] koxen commented on #1038
do you mean they are getting cleared or NOT cleared?

[2018-03-13 14:39] dbrgn commented on #1038
- When I read messages in the app, the app notifications are cleared. (Custom Android build, about 2 weeks old based on a tagged release)
- When I read messages in the browser, the app notifications are not cleared. This would require a new push notification to cancel the old notifications. (At least on Android, AFAIK it's not possible to delete notifications from a push handler on iOS.)

[2018-03-13 21:49] khronosschoty opened #1501 "formatting errors between matterircd and mobile app [Edit: issue caused by incorrect rendering of MIRC color codes]"
#### Summary
Formatting of text from matterircd is not always correctly shown on the web interface or the mobile app etc.

#### Steps to reproduce
Use the IRC bot Malibu developed by Stinger for the browser game utopia-game.com

#### Expected behavior
Formatting should be the same in the IRC client (or near the same).

#### Observed behavior (that appears unintentional)

![f95jrcd](https://user-im

[2018-03-14 14:31] #1265 closed

[2018-03-14 14:48] koxen commented on #1501
are you claiming it looks correctly on mattermost-webapp?

[2018-03-14 20:02] koxen opened #1504 "PUSH_TYPE_CLEAR is not doing anything"
#### Summary
PUSH_TYPE_CLEAR does nothing.
Not sure if the issue is on the server side, but my review is that both logic on mobile-android side and server side is correct :| so I don't know the cause.
Old notifications are not cleared when you mark channel as viewed on PC.

#### Environment Information

- Device Name: samsung s7
- OS Version: android 7
- Mattermost App Version: latest play store
-

[2018-03-15 17:55] trash-anger opened #1512 "[feature request] Connecting to multiple mattermost servers"
Hi,

I looked to set in my android's mattermost app a second mattermost server and, correct me if I'm wrong, it seems impossible ...

The thing is that discovered mattermost in my current school and I convert all my company's colleagues who now uses mattermost.

I would terribly love to use mattermost on my phone for both my school and company ! 👍

Do you think it's possible ?

[2018-03-15 19:35] koxen commented on #1512
unfortunately due to how codebase currently works it would be _very_ hard to implement :/

[2018-03-15 19:35] koxen commented on #1512
if you are fine with 2 servers, you can join the betatesting and use "mattermost beta" for the second server

[2018-03-15 22:08] trash-anger commented on #1512
Oh !!! Very good idea ! ;)
Thank you !

[image: cid:image001.png@01D1BDB6.89818780]
Florian Frouin
*Promotion digital medias 2018 *
+33 (0)6 71 33 51 64

*École supérieure des technologies de l’information appliquées aux métiers*

On Thu, Mar 15, 2018 at 8:36 PM, Michał Odziemczyk <notifications@github.com

[2018-03-16 15:48] enahum commented on #1512
is not just the code base cause we could work really really hard and have a nice UX for it and everything but then you have another problem that involves different certificates to get notifications from our hosted push notification proxy and then from those who deploy their own mattermost push proxy which requires them to build the app and thus certificates are different, etc..

so in short is a v

[2018-03-16 16:27] trash-anger commented on #1512
I'm know almost nothing about how the app is coded and how to correctly (and securely) develop it.

But concerning the UX, I see exactly how to implement it ! ;)

[2018-03-16 16:33] enahum commented on #1512
Foorian that would be a great first step, perhaps you could join our [pre-release server](https://pre-release.mattermost.com) and then join the UX mobile channel and share your ideas.

[2018-03-17 07:12] kopurando commented on #1038
same on app for iOS (latest version) and MM 4.6 bundled with GitLab. Using http://push-test.mattermost.com with TPMS. Mobile notifications are not cleared when reading messages on OSX /  Web client.

[2018-03-19 04:33] Maxim-Filimonov commented on #784
Same problem here. Neither shift or alt enter work - forced to use my fingers to touch the button
Device Name: Apple iPad 12.9" + Apple Smart Keyboard
OS Version: 11.2
App Version: 1.7.0(88)
Mattermost Server Version: 4.8

[2018-03-19 15:11] nicolinuxfr opened #1522 "iOS build issues with signing"
#### Summary

I think the iOS build process does not always take into account the variables from .env file for the signing part. I have an error during signing, since the build is trying to use the default profile instead of mine.

#### Environment Information

I'm using macOS Sierra, latest version of Fastlane (2.85.0) and I cloned the project at this commit : https://github.com/mattermost/matter

[2018-03-19 18:19] enahum commented on #1522
Have you set up match? I'm almost sure that match should be run in order to sign correctly for iOS.

Probably there is something else we missed for env vars that is used by `gym` that is being set by match.

[2018-03-19 18:21] enahum commented on #1522
for more you can check the fastlane script under `fastlane/Fastfile` to better understand what's going on

[2018-03-19 21:04] nicolinuxfr commented on #1522
Yes, I did set up Match. And I think it works as intended, but it’s my first Fastlzne experience so…

[2018-03-20 05:17] Hyeongmin-Kwon opened #1524 "Time is pushed out when user name long enough to line wrap."
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Time to the right of the name is pushed out when name long enough to wrap.

#### Environment Information

- Device Name: Samsung Galaxy Note Fan Edition / SM-N935K
- OS Version:  7.0
- Mattermost App Version: 1.6.1 (Build 86)
- Mattermost Server Version

[2018-03-21 21:32] koxen commented on #1504
I'll close this as fix will be merged soon in mattermost-server

[2018-03-21 21:32] #1504 closed

[2018-03-22 07:42] prodigy7 opened #1532 "Insert gif in message crashs app"
#### Summary
When I want send over my swiftkey keyboard in the android app a gif as message, the application crashs reproducable.

#### Environment Information

- Device Name: HTC 10
- OS Version: Android 8.0.0 Security Patch-Level 1st Dec. 2017, 3.16.401.2
- Mattermost App Version: 1.6.1 (Build 86)
- Mattermost Server Version: 4.8.0

#### Steps to reproduce
Open channel or private chat and send g

[2018-03-22 08:24] avasconcelos114 opened #1534 "Markdown Table doesn't support CJK characters"
#### Summary
When parsing a markdown table that includes a Chinese, Japanese, or Korean character, the table doesn't render.

#### Environment Information
- Device Name: Samsung Galaxy S7 (Simulator using Genymotion)
- OS Version: Android 7.1.1
- Mattermost App Version: master branch, latest commit being https://github.com/mattermost/mattermost-mobile/commit/ebbbd9689ba84623a46dc300d59e31316cd8a55

[2018-03-22 14:31] hmhealey commented on #1534
Hi @avasconcelos114,

Thanks for the report. Are you able to post the original message as it appears when typed in the textbox or when you edit the post? I tried recreating what you typed, and it's working fine for me. I'm on iOS, but that shouldn't matter for this.

[code]

<img width="375" alt="screen shot 2018-03-22 at 10 29 45 am" src="https://user-images.githubusercontent.com/3277310/37776615

[2018-03-23 14:02] muirdok opened #1538 "Unable to download attached docx\xlsx files (IOS)"
#### Summary
There is no button to download. Preview shows only docx\xlsx icon but no ways to download. In same time others files could be downloaded e.g, pdf. On Android devices docx\xlsx files are downloaded successfully.

#### Environment Information
- Iphone\Ipad
- OS Version: 11.2.6
- Mattermost App Version: 1.6.1 (build 86)
- Mattermost Server Version: 4.8.0 (postgres)

#### Steps to reprodu

[2018-03-23 14:02] hmhealey commented on #1534
My apologies. I tested all these including the one I sent originally on a Nexus 5, and it does appear to work differently on Android than iOS. I really did not expect that.

I've filed a ticket to track this on our end ([link](https://mattermost.atlassian.net/browse/MM-9940))

[2018-03-23 17:09] enahum commented on #1538
Android works a little bit different than iOS, on Android you have access to the whole storage as on iOS only to the sandbox the app lives in and there is the Photo Gallery.

Where do you want to save those files? is it not enough that you can open them in within the app and then share it to any other app?

Do you know how to accomplish saving the file to another location in the device? or perhaps

[2018-03-26 15:40] hmhealey commented on #1534
Wow, nice work. The behaviour they describe in that ticket is bizarre, but I think that makes sense. I'll take a look at implementing it since I think we might do a 1.7.1 to fix that.

That thread also mention it should be fixed by upgrading React Native which we're currently doing for 1.8, but we probably wouldn't want to do that big of an upgrade for a dot release

[2018-03-26 21:28] wezm commented on #1538
I’m seeing the same behaviour with a plain text file that someone has shared.

Also regarding doc files I believe iOS has built in support for previewing them and many other formats: https://developer.apple.com/documentation/quicklook/qlpreviewcontroller#//apple_ref/occ/cl/QLPreviewController

[2018-03-27 01:13] avasconcelos114 commented on #1534
Ah great!

Just tested it again with your newest commit and it's working nicely :)

Thank you for taking care of it

[2018-03-27 02:14] miker opened #1548 "Android device back button should open channel list not exit the app."
#### Summary
Hitting the back button while in a channel should open the channel list.

#### Environment Information

- Device Name: Galaxy S7 Edge
- OS Version: Android 7.0
- Mattermost App Version: 1.6.1 (Build 86)
- Mattermost Server Version: 4.8.0
- Database postgres
#### Steps to reproduce
Enter any channel. Hit the device back button. Mattermost exits to the last thing that was active or the

[2018-03-27 10:34] enahum commented on #1548
@miker can you please explain why? What is the reasoning and UX support for that? Maybe we missed something

[2018-03-27 13:01] miker commented on #1548
This may just be a personal preference/my experience with other apps. Hitting the back button to get back to the 'start' is a habit and feels natural to me.

A friend and I have been heavily testing matter most with a personal project that may lead to use in a professional setting. Hitting the back button purposely and sometimes accidentally and having the app instantly close to the desktop has be

[2018-03-27 15:12] miker commented on #1532
I ran into a similar issue not 100% if it's the same. I am using SwiftKey as well though not sure if that's relevant.

I'm trying to share a png and it crashes the server. Will try to get some logs later. I was trying to share a screenshot of another issue I'm having. This is the image https://filebin.pw/FzAKF/ I crashed the mm server 3 times in a row.

Let me know if I should open a new bug.

[2018-03-27 15:38] miker opened #1550 "Message that failed to send cannot be deleted"
#### Summary
I have a failed message that cannot be deleted and is now causing other issues.

#### Environment Information

- Device Name: Galaxy S7 Edge
- OS Version: 7.0
- Mattermost App Version: 1.6.1 (Build 86)
- Mattermost Server Version: 4.8.0

#### Steps to reproduce
I tried to send a message when the server crashed after trying to upload a png. I reported that issue here. https://github.co

[2018-03-28 04:07] miker commented on #1550
I upgraded to the release available today (3/28) and the undeletable message. I'll try to reproduce if possible and report back.

[2018-03-28 04:19] miker commented on #1550
I could not reproduce the stuck message issue. I was able to crash the server on png upload consistently.

Closing

[2018-03-28 04:19] #1550 closed

[2018-03-28 04:24] miker commented on #1532
I am able to consistently crash the server upon trying to upload a png from a picture taken on my Galaxy S7 Edge. This is **not** gif dependent.
Issue persists after updating to the 3/27 release.
Happy to do more testing/troubleshooting.

[2018-03-28 08:12] Twilek-de opened #1553 "Share Extension freezes running program"
#### Summary
When opening the new share extension in the latest Ios version in the app store it just freezes the program that the extension was called from and nothing shows.

#### Environment Information

- Device Name: Iphone 6 and Ipad Air 2
- OS Version: 11.2.6
- Mattermost App Version:  1.7.0 (Build 91)
- Mattermost Server Version: 4.8.0

#### Steps to reproduce
Try to send something via the

[2018-03-28 14:43] koxen commented on #1553
have you tried waiting a few seconds for it to load? like say 10 seconds max

[2018-03-28 15:55] Twilek-de commented on #1553
Yes I waited several minutes and the Safari on an Ipad that froze this morning was still frozen when I reactivated it this afternoon about 9 hours later.

[2018-03-28 17:11] koxen commented on #1553
I might have an idea. Could you try with Mattermost Beta first?
https://mattermost-fastlane.herokuapp.com/ <- invite link

[2018-03-28 17:12] koxen commented on #1553
if it works on Mattermost Beta for you, then I know why, will PR a fix then

[2018-03-28 18:05] Twilek-de commented on #1553
I enrolled in the Beta Program and installed the beta but the error is still there

[2018-03-28 18:08] koxen commented on #1553
just to be sure...and you are actually clicking "Mattermost Beta" on the share screen and it still makes a freeze?

[2018-03-28 18:13] Twilek-de commented on #1553
Yep sorry, I especially paid attention to that.

[2018-03-28 18:15] Twilek-de commented on #1553
I also just checked that other share extensions work, so it´s not some general error with my ios setup.

[2018-03-28 18:18] koxen commented on #1553
I don't have an iphone to test right now, but it works fine on my custom build since my company is deploying a customized one.
AFAIK my coworker just told me the same yesterday about the "app store" build and that it works fine on our build

Share extension will freeze if app group is incorrectly set or provisioning profile was incorrect.
AFAIK currently the official app store version is manually

[2018-03-28 18:29] Twilek-de commented on #1553
My Ios devices are all private vanilla. There is no customization and no company provisioning.

[2018-03-28 18:54] koxen commented on #1553
I understand, just wanted to add more context that share works if I compile mattermost-mobile myself.
I will pass that this to @enahum when he's back as he is currently on a leave.
(the app store version is being deployed from his Mac)

[2018-03-29 12:29] ccoenen commented on #1548
If this were true, it would be OS-wide standard. Please don't mess with system wide ux patterns.

Also, it does not "exit" the app, it will put it into the background like all other apps are put into your android task switcher history. And it will be in exactly the state where you left it.

[2018-03-29 18:36] fuedhdf opened #1559 "File upload only for photo and Video"
#### Summary
Fileupload is only available for photo and video.

#### Environment Information

- Device Name: Mate 9
- OS Version: Android 8
- Mattermost App Version: Beta
- Mattermost Server Version: 4.8

#### Steps to reproduce
Try to upload a file
#### Expected behavior
I have only the option to take a photo and upload a video or photo
#### Observed behavior

#### Possible fixes

[2018-03-30 20:21] koxen commented on #1553
@Twilek-de the fix was commited to master, but I don't know when next beta/release will be pushed so you can use it

[2018-03-30 20:33] Twilek-de commented on #1553
I will keep my eyes peeled and report back when some new version is released.

[2018-03-30 21:27] ccoenen commented on #1548
No, I am saying the back button has a very defined way of working. You usually travel back the series of screens or modals you opened. And this is already exactly what happens in the app:

* Open the sidebar, press `back`. Sidebar closes. Yey!
* Open the settings, then notification settings dialog, press `back`, press `back` again. Return to your current channel. Yey!

In other words: it is fine,

[2018-03-31 08:41] Twilek-de commented on #1553
I will keep my eyes peeled and report back when some new version is released.

[2018-03-31 16:17] miker commented on #1548
I guess I didn't realize the channel list was technically a menu. I was thinking of it as more of a "home page" than a menu. I guess I'd say this request would be more for a home page than the back button opening the channel list then. I still don't think the back button should exit the app. Sorry background the app. When I'm in a channel I almost never want to leave the app if I hit the back butt

[2018-03-31 16:20] miker commented on #1461
I've seen this behavior as well. It seems in the last update this is sorta fixed. The channel does seem to refresh and load new comments eventually. It seems to be slow though and I've noticed that it sometimes causes the app to hang. Either "refreshing" forever and I'm unable to do anything until I go to the recent apps and kill matter most, or properly loading new comments.

[2018-03-31 16:58] miker commented on #1548
Just for reference I can confirm rocket chat has the same behavior of backgrounding the app if you hit the back button while in a channel. I don't like this behavior in rocket either.

Instead of opening a menu when hitting back could there be a "homepage"  that is opened after hitting back? It would be cool to show stats and other cool things eventually. Profile info. Friend status (online offlin

[2018-04-02 15:54] hmhealey commented on #1534
Awesome, glad to hear it works. If you're using the version from the App Store or Play Store, it'll be fixed shortly in 1.7.1

[2018-04-02 15:54] #1534 closed

[2018-04-03 02:49] enahum commented on #1559
Have you tried sharing the file from another app into mattermost?

[2018-04-03 02:50] enahum commented on #1553
Release 1.7.1 includes a fix for this, waiting on Apple’s approval

[2018-04-03 02:54] enahum commented on #1532
Looks like the way SwiftLey Keyboard shares the data is not expected by the app thus crashing.

The app is actually expecting a local file and not a remote one.

[2018-04-04 07:15] jcelerier commented on #701
I'm having the same problem but my server does not have a trailing slash :(

[2018-04-04 08:28] koxen commented on #1461
@miker are you running ios?

[2018-04-04 15:40] miker commented on #1532
I'll test with the standard Samsung keyboard when I get a chance. I can upload images using swiftkey right after the crash/restart. Then it seems after a few uploads the issue starts happening again.

[2018-04-04 18:51] Twilek-de commented on #1553
Seems to work alright now thanks!

[2018-04-04 18:51] #1553 closed

[2018-04-05 14:29] jnbt commented on #1522
I've encountered the same problem, because the Xcode project was still set up to "Automatically manage signing" which didn't worked for me.

From Fastlane:

After deactivating the automatic code signing and selecting the profile generated by fastlane's match for the main and share target it worked.

Maybe it would make sense to include the `disable_automatic_code_signing` [action](https://docs.fas

[2018-04-05 15:30] enahum commented on #1522
@jnbt feel free to make a PR if that helps, later on I can review + test.

The one thing is to try and use the current ENV vars.

Thanks

[2018-04-05 16:12] koxen commented on #1522
Maybe it would make sense to include the disable_automatic_code_signing action in the Fastfile?

I did already implement that for myself, I can share the code. Had the same issue as you

[2018-04-05 16:13] nicolinuxfr commented on #1522
Please, share, I’m interested. :-)

[2018-04-05 16:13] koxen commented on #1522
[code]

+ set GYM_CODESIGNING_IDENTITY env :)

[2018-04-05 16:14] koxen commented on #1522
this took 2 days of debugging to find a combination that works... 🤦‍♂️

[2018-04-06 15:56] SmartHoneybee opened #1573 "[Android] Team Edition: Emoji auto-completion list doesn't change on input"
#### Summary
Emoji auto-completion list no longer changes on user input.

#### Environment Information
- OS Version: Android 7
- Mattermost App Version: 1.7.0 and 1.7.1
- Mattermost Server Version: 4.8.0

#### Steps to reproduce
* Prepare to write a message.
* Type `:` - emoji auto-completion list appears (suggesting ':100:`:100:`', ':1234:`:1234:`', ...)
* Type 'coffee'.

#### Expected behavior
E

[2018-04-06 22:07] faxe78 opened #1575 "iOS - Scrolling stutters"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
ios app scrolling stutters.

#### Environment Information

- Device Name: iphone 7 plus
- OS Version: 113
- Mattermost App Version:  1.7.1
- Mattermost Server Version: 4.8.0

#### Steps to reproduce
i have a test channel with 30 messages and the scrolli

[2018-04-09 15:05] nicolinuxfr commented on #1522
Thanks @koxen !

I'm a Fastlane newbie (first try ever), so I'm not sure I'm doing the right think. I added your code inside the `Fastfile`, replacing the gym part where there the gym function was, and adding the rest above. I also added in my `.env` file the code signing identity.

But when I build, I have this error :

[code]

So I guess I did something wrong, somewhere ? Could you point me in t

[2018-04-09 21:47] koxen commented on #1522
can you paste your env? something stopped fastlane script from updating bundle ids to what you have in ENV

[2018-04-10 06:46] nicolinuxfr commented on #1522
Here it is :

[code]

Every `xxxxxx@me.com` is the same email address, the one I also used for Fastlane's Match.

Thanks for your help !

[2018-04-10 07:59] jnbt commented on #1522
@nicolinuxfr I think whitespace is not supported for app or extension identifiers, e.g.  `IOS_EXTENSION_APP_IDENTIFIER`:

[code]

[2018-04-10 08:00] nicolinuxfr commented on #1522
@jnbt you're right, but the file is right, it's a typo error when I redacted this line.

[2018-04-10 11:29] koxen commented on #1522
you can also paste your fastlane logs, it should make it pretty clear why it didn't update the bundle id 🤔

[2018-04-10 12:13] nicolinuxfr commented on #1522
This ?

[Mattermost-Mattermost.log](https://github.com/mattermost/mattermost-mobile/files/1894499/Mattermost-Mattermost.log)

[2018-04-10 20:51] koxen commented on #1522
no, not this..are you building without fastlane? you need to run fastlane, and not compile via xcode

[2018-04-11 05:42] nicolinuxfr commented on #1522
Of course not ! I'm using the `make build-ios` command which uses fastlane behind the scene. This log is suggested after the error, I don't know where to find other logs ?

[2018-04-11 11:34] koxen commented on #1522
you need to pipe it like
make build-ios &> fastlane.log

[2018-04-11 11:45] nicolinuxfr commented on #1522
OK then :
[fastlane.log](https://github.com/mattermost/mattermost-mobile/files/1898624/fastlane.log)

[2018-04-11 21:17] lukeallister commented on #1466
This happened to me also. I reinstalled the app, which did not fix it. I switched to the mattermost beta app, which is working correctly for me.

[2018-04-11 22:14] koxen commented on #1522
ah yes I remember.
you need to patch this attribute in info.plist files :D
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
^ change to this

[2018-04-13 15:26] #1532 closed

[2018-04-16 07:33] bkarlson commented on #1038
Still experiencing this issue on MM EE 4.9 (https://push.mattermost.com) with latest iOS app

[2018-04-16 08:09] lindy65 commented on #1575
Hi @faxe78,

Thanks for your feedback,

You might want to try upgrading to the latest version of the [Mattermost server](https://about.mattermost.com/download/) to see if this resolves the scrolling issue for you.

[2018-04-16 08:14] lindy65 commented on #1573
Hi @SmartHoneybee,

Thanks for your feedback,

I'm not able to reproduce your issue on v1.7.1, build 92, Mattermost server v4.9 (which released today - April 16th).

Could you let us know if this issue still reproduces for you once you have upgraded to the latest version of Mattermost server?

[2018-04-16 08:25] lindy65 commented on #1496
Hi @dbrgn,

Thanks for your feedback :)

I'm not able to reproduce your issue on v1.7.1, Mattermost server v4.9 which released today (April 16th). Please try upgrading to the latest versions and let us know whether this issue still reproduces for you?

Thanks!

[2018-04-16 08:30] lindy65 commented on #1480
Hi @sherifelgafary,

Could you share which version of Mattermost server you're using as well as whether you're using the Team or Enterprise edition?

If you have the Enterprise edition, you can set up a custom banner via the System Console > Settings >Policy >Enable Announcement Banner.

[2018-04-16 08:32] lindy65 commented on #1466
Hi @madflow @sherifelgafary @lukeallister

Thanks for your feedback! 👍

Please try upgrading to v1.7.1 of the app and v4.9 of the Mattermost server (released today - April 16th) which should fix the issue for you.

[2018-04-16 08:35] lindy65 commented on #1463
Hi @cometkim

Thanks for your feedback,

Please try upgrading to the [latest version of the app](https://about.mattermost.com/download/#mattermostApps) as well as the Mattermost server (v4.9 released today - April 16th) to see whether this fixes the issue for you?

[2018-04-16 08:36] lindy65 commented on #1462
Hi @licaon-kter

Thanks for your feedback :)

This issue has been resolved... Please upgrade to the [latest version of the app](https://about.mattermost.com/download/#mattermostApps) as well as Mattermost server (v4.9 released today - April 16th).

Thanks!

[2018-04-16 08:37] lindy65 commented on #1461
Hi @koxen @miker

Thanks for your feedback :)

I believe this issue has been resolved... Please upgrade to the [latest version of the app](https://about.mattermost.com/download/#mattermostApps) as well as Mattermost server (v4.9 released today - April 16th).

Thanks!

[2018-04-16 08:38] faxe78 commented on #1575
Hi,

Did the upgrade no change in the ios app. In mobile safari i see the dark theme in ios i see some white theme. Maybe the app should use the standard mobile theme?

Greetings

Markus

[2018-04-16 08:38] lindy65 commented on #1460
Hi @koxen

Thanks for your feedback :)

I believe this issue has been resolved... Please upgrade to the [latest version of the app](https://about.mattermost.com/download/#mattermostApps) as well as Mattermost server (v4.9 released today - April 16th).

Thanks!

[2018-04-16 08:39] lindy65 commented on #1454
Hi @jimbothree

Thanks for your feedback :)

I believe this issue has been resolved... Please upgrade to the [latest version of the app](https://about.mattermost.com/download/#mattermostApps) as well as Mattermost server (v4.9 released today - April 16th).

Thanks!

[2018-04-16 08:39] #1412 closed

[2018-04-16 08:41] lindy65 commented on #1404
Hi @chumbalum,

It seems you've resolved your issue so I'll close this off here for now.  Please feel free to open a new issue if you are still experiencing problems.

Thanks!

[2018-04-16 08:41] #1404 closed

[2018-04-16 09:13] licaon-kter commented on #1462
Still an issue here w/ 4.9.0 server & 1.7.1 app

No radio button is selected when I open the setting.
I check 15min, save, kill the app, reopen the app, no radio button selected.

[2018-04-16 09:15] lindy65 commented on #1575
Hi @faxe78

Apologies, I'm totally confused, is your issue about scrolling issues or theme colour?

The scrolling issues are fixed in the latest app and server versions.

If I change my theme in a browser (the actual setting to change it in the app is not yet available) it does display in the app (on Android and iOS).

Please help me understand if I'm not on the right path here :)

[2018-04-16 09:52] AL-Cui opened #1588 "can't find node_modules"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
I use android studio open the project,but i can't find the node_modules

#### Environment Information

- Device Name:
- OS Version: Debian 9.4
- Mattermost App Version: 1.7.1
- Mattermost Server Version:4.9.0

#### Steps to reproduce
you can use android

[2018-04-16 09:54] AL-Cui commented on #1588
the build.gradle is in app folder

[2018-04-16 09:55] #1588 closed

[2018-04-16 10:13] licaon-kter commented on #1462
Huawei 8.0.0 / Samsung 6.0.1

The word `save` was mentioned in both of my posts. 😐

[2018-04-16 13:18] sudheerDev commented on #1575
Hey, @faxe78 are you saying that mobile app the scrolling stutters but on viewing the same channel in safari(i.e accessing webapp mobile version using a browser) the scrolling experience is better?

[2018-04-16 15:57] cometkim commented on #1463
@lindy65 It looks already fixed in a previous version 👍
now it looks fine to me.

[2018-04-16 15:57] #1463 closed

[2018-04-16 17:53] lindy65 commented on #1463
Perfect @cometkim 👍

[2018-04-16 18:24] lindy65 commented on #1462
Sorry about that @licaon-kter - I see you mentioned saving 🤦‍♀️

I'm wondering whether it could be an issue with email batching (you mention selecting `15 min`).  Email batching was off on the server when I tested earlier on so I had only `immediately` and `never` as options to select.

I've tested with email batching on and can _intermittently_ get one of the settings ("Immediately", "Every 15 mi

[2018-04-16 21:14] faxe78 commented on #1575
yes that's i meant the scrolling with safari on an iphone is way better, with the app it stutters.

i was searching for the cause of the stuttering, the light and dark theme mobile code for safari and the code that the mobile app is using maybe there is the reason of the issue. i think safari and the webviews are not 100% the same on ios but i am not a dev.

[2018-04-16 21:20] gregoryperrin opened #1591 "RN App: Messages from same user don't concatenate"
In Android App, when a user post multiple messages, the messages don't concatenate, which means for each line the username is displayed in bold. Which means, after a couple lines, 50% of the screen is filled with the same information : the username, in bold.

This doesn't happen on the mattermost web app, slack android app, slack desktop, slack web, rocket chat android app, rocket chat web app.

S

[2018-04-16 21:36] gregoryperrin commented on #1591
On android 7.1.2 and MM 1.7.1 build 92

[2018-04-17 06:48] sudheerDev commented on #536
I will take this up.

[2018-04-17 14:25] koxen commented on #1591
I did implement that recently for myself, but reverted because it was causing some complications:
- when posts are constant size like now, you can be sure that rendering say 10, 15 posts can fill the screen at once. when you enable merging, it becomes problematic because depending on the conversation these 15 posts can either fill the whole screen, or only half which would look ugly.
the channel r

[2018-04-17 14:33] koxen commented on #536
@sudheerDev I don't think re-adding this channel loading screen is a good idea. But if you could do kindof opacity transition between two loaded PostLists, that should look good :)

[2018-04-17 21:46] gregoryperrin commented on #1591
interesting!

I am adding some images to illustrate what I am talking about.
![testtt](https://user-images.githubusercontent.com/15223909/38899824-2f4a55e8-4267-11e8-9a91-37196485ff7f.png)
![screenshot_20180416-201328](https://user-images.githubusercontent.com/15223909/38899828-37c970f0-4267-11e8-963a-a135e7e1e487.png)
![screenshot_20180416-201123](https://user-images.githubusercontent.com/1522390

[2018-04-17 23:55] koxen commented on #1591
poor react native performance makes it hard to implement without sacrificing channel loading/switch times heavily :/

[code]

[2018-04-18 01:37] koxen commented on #1038
@bkarlson @kopurando we've been digging into it since, the mobile app logic is OK but a server-side fix is underway in mattermost-server PR - hopefully it will make it into 4.10

[2018-04-18 08:01] lindy65 commented on #1349
Hi @sils @hydrapolic

I'm not able to reproduce this issue on the [latest version of the iOS app](https://about.mattermost.com/download/#mattermostApps) and Mattermost server v4.9 (released April 16th).

I'm going to close this issue off here for now but if you can still reproduce after [upgrading to the latest versions](https://about.mattermost.com/download/), please feel free to open a new issue

[2018-04-18 08:01] #1349 closed

[2018-04-18 08:05] lindy65 commented on #1358
Hi @jcarrillo7, we haven't received an update so we'll close this issue off for now.

Please feel free to add a feature request to our [forum](https://mattermost.uservoice.com/forums/306457-general?category_id=158667) where it can be upvoted by you and others.

[2018-04-18 08:05] #1358 closed

[2018-04-18 08:08] #1454 closed

[2018-04-18 08:08] #1460 closed

[2018-04-18 08:09] #1461 closed

[2018-04-18 08:10] lindy65 commented on #1462
I'll close this issue off here for now and we can track via the above-linked ticket.

[2018-04-18 08:10] #1462 closed

[2018-04-18 08:10] #1466 closed

[2018-04-18 08:16] lindy65 commented on #1559
Hi @fuedhdf,

As there hasn't been any feedback on this issue, I'll close it off for now.  If you find sharing files from the other app into Mattermost isn't an option, please feel free to open a feature request on our [forum](https://mattermost.uservoice.com/forums/306457-general?category_id=158667) where it can be upvoted by yourself and others to increase it's popularity.

[2018-04-18 08:16] #1559 closed

[2018-04-18 08:24] lindy65 commented on #1501
Hi @khronosschoty,

I'm going to close this issue off here for now as it seems the issue is with MIRC and not Mattermost.

[2018-04-18 08:28] lindy65 commented on #1481
I'll close this issue off for now and we can track via the above-linked ticket.

[2018-04-18 08:28] #1481 closed

[2018-04-18 08:33] lindy65 commented on #1473
Hi @mattrampolla,

I believe this issue is fixed with the latest version of [the app](https://about.mattermost.com/download/#mattermostApps) and [Mattermost server](https://about.mattermost.com/download/#mattermostServer) so I'll close this issue off for now.

Please feel free to open a new issue if you still experience problems after upgrading.

Thanks!

[2018-04-18 08:33] #1473 closed

[2018-04-18 12:07] hmhealey commented on #1338
Hi @th-joerger,

The behaviour in the desktop app is correct. I've filed a ticket [here](https://mattermost.atlassian.net/browse/MM-10266) to go look at it for the mobile app

[2018-04-18 12:09] hmhealey commented on #1413
Hi @alizainkazmi,

At this time, you can only configure your theme through the Mattermost web app, but the theme you set there should apply to the mobile app when logged in.

[2018-04-18 15:04] khronosschoty commented on #1501
Its not a MIRC issue, I don't even use MIRC and never really have. This is an issue with mattermost and matterircd. The issue is technically resolved, however, due to a fix by matterircd. Furthermore, I tried to make a feature request, because, I would love for mattermost to have support for MIRC colors. MIRC colors are a defacto standard that goes well beyond MIRC its self.

[2018-04-18 15:33] amyblais commented on #1548
This has been discussed with our engineers and it seems that the current behaviour matches with what is expected by the OS. Closing this issue for now,

[2018-04-18 15:33] #1548 closed

[2018-04-18 16:28] amyblais commented on #1495
Hi @estan, This has been discussed with our engineers - it seems that the client certificate verification that you are trying to use is not supported yet. There are plans to add the support in the future but it will be an Enterprise Edition E20 feature and only available on iOS.

Closing this issue for now,

[2018-04-18 18:00] estan commented on #1495
@amyblais I know it's not supported, that's why I reported the issue. Could you please motivate your decision, since I'm having a hard time understanding it. It's a plain defect in the software that prevents its use in many environments. Client certificate verification is an integral part of the SSL specification. This is not a feature request but a defect report.

The fact that you're planning to

[2018-04-18 18:12] lindy65 commented on #1501
Thanks for clarifying @khronosschoty,

I've reopened this issue so you can link back to the feature request once you've created it on our [forum](https://mattermost.uservoice.com/forums/306457-general).  Others will also be able to up-vote your suggestion to increase its popularity.

Thanks!

[2018-04-18 18:47] lindy65 commented on #1474
Hi @mattrampolla,

Thanks for your feedback,

Currently this is the expected and normal behavior (the same behavior can be seen in Chrome).

Once react native adds support for it, we can see if we can make the changes (it might only have some support for iOS).

[2018-04-18 18:47] #1474 closed

[2018-04-18 18:54] #722 closed

[2018-04-18 18:56] lindy65 commented on #784
Hi @estama @erinarbleizez @Maxim-Filimonov

If one of you or anyone in the community is interested in submitting a pull request for this feature, we'd welcome your help!

[2018-04-18 18:58] lindy65 commented on #844
This issue is fixed in the latest release so I'll close it off for now.  Please feel free to open a new issue if the problem persists after upgrading to the [latest version](https://about.mattermost.com/download/#mattermostApps).

[2018-04-18 18:58] #844 closed

[2018-04-18 19:00] lindy65 commented on #910
I'll close this issue off for now as it doesn't seem that we'll be supporting this feature in the near future.

[2018-04-18 19:00] #910 closed

[2018-04-18 19:01] lindy65 commented on #916
This issue is fixed in the latest version so I'll close it off here for now.  Please feel free to open a new issue if the problem still exists after upgrading to the [latest version](https://about.mattermost.com/download/#mattermostApps).

[2018-04-18 19:01] #916 closed

[2018-04-18 19:02] lindy65 commented on #935
Hi @lin493369

Please check the translations on the translation server or look for the translations in the localized file.

If the translation is there then we should see why is it happening as it is then most likely a bug.

[2018-04-18 19:03] #936 closed

[2018-04-18 19:07] lindy65 commented on #972
Hi @dohliam @fuedhdf

Thanks for your feedback,

We've created [this ticket](https://mattermost.atlassian.net/browse/MM-10273) to implement the hashtag feature in the app.

[2018-04-18 19:08] lindy65 commented on #982
Hi @Shygar

This feature is now implemented and you can upgrade to the latest version [here](https://about.mattermost.com/download/#mattermostApps).

[2018-04-18 19:08] #982 closed

[2018-04-18 19:11] lindy65 commented on #1050
This issue is fixed in the latest version.  Please upgrade [here](https://about.mattermost.com/download/#mattermostApps).

[2018-04-18 19:11] #1050 closed

[2018-04-18 19:13] lindy65 commented on #1097
Hi @pokamest,

Could you upgrade to the [latest version](https://about.mattermost.com/download/#mattermostApps) and check whether this is still an issue for you?

[2018-04-18 19:13] #1106 closed

[2018-04-18 19:14] lindy65 commented on #1155
This issue is fixed in the [latest version](https://about.mattermost.com/download/#mattermostApps).  Please feel free to open a new issue if the problem still exists after upgrading.

[2018-04-18 19:14] #1155 closed

[2018-04-18 19:16] lindy65 commented on #1297
[This documentation](https://docs.mattermost.com/developer/mobile-developer-setup.html#build-your-own-app-from-source) might help resolve your issue.

[2018-04-18 19:16] #1297 closed

[2018-04-18 19:17] lindy65 commented on #1301
I'll close this issue off here for now as there has been no feedback so we assume your issue is resolved.  Please feel free to open a new issue if you are still experiencing a problem and we'll gladly help troubleshoot!

[2018-04-18 19:17] #1301 closed

[2018-04-18 19:22] #1046 closed, assigned to nobody

[2018-04-18 19:55] Hanzei commented on #1097
This is still a problem with version 1.7.1

[2018-04-18 20:10] koxen commented on #1097
yes seems to me like an issue with react-native-navigation

[2018-04-18 20:17] koxen commented on #1522
this is not correct, this shuld be "iPhone Distribution: Nicolas furno (XXXXXX)" and not email
also for some reason it's important for it to be distribution and not developer

in case of more errors do a `match nuke` please, before rebuild

[2018-04-19 06:45] lindy65 commented on #1097
Thanks @Hanzei

I've created [this ticket](https://mattermost.atlassian.net/browse/MM-10281) to track the issue.

[2018-04-19 14:02] nicolinuxfr commented on #1522
Done and done, but same thing… 😞

Maybe it's a profile configuration error, but if I automatically sign the project in Xcode, it works perfectly.

[2018-04-19 14:38] hmhealey commented on #1591
@gregoryperrin I can check with our UX team to see what they'd think about doing that. I can't remember if we made a conscious decision to not include that in the mobile app or if it was just left out to save time on an initial version.

[2018-04-19 16:48] amyblais commented on #1495
Re-opened this ticket as this has been queued for further team discussion.

[2018-04-19 16:57] esethna commented on #1591
Thanks guys, I created a ticket to be discussed in our next triage meeting. This is definitely something we'd like to implement.

https://mattermost.atlassian.net/browse/MM-10285

[2018-04-19 16:58] estan commented on #1495
@amyblais Thanks a lot, and sorry if I sounded a little harsh. The best solution would be if React Native could support this in its `fetch` API. I think any changes needed to Mattermost Mobile would then be small.

[2018-04-19 18:01] amyblais commented on #1495
No worries at all! This is an important issue to discuss further with the team, thank you for bringing it to our attention.

[2018-04-20 03:46] Hyeongmin-Kwon commented on #1524
Hello @lindy65, thanks for reply. I tested again today as you said.

<img width="539" alt="screenshot_20180420-124026" src="https://user-images.githubusercontent.com/31919589/39029717-3dfe7c9e-4498-11e8-8c49-99410054f306.png">

I'm on v1.7.1 of the mobile app, and v4.9 of Mattermost server. However, the same issue occur.
Thanks.

[2018-04-20 06:34] lindy65 commented on #1524
Hi @Hyeongmin-Kwon,

Thanks for your feedback and for testing again...

This is fixed in v1.8 of the app which we are hoping to release on April 26th.

[2018-04-20 07:15] lindy65 commented on #1591
Thanks `esethna`, I'll close this issue off here for now and we can track via the above-linked ticket.

[2018-04-20 07:15] #1591 closed

[2018-04-20 07:29] lindy65 commented on #1575
Thanks @faxe78 @sudheerDev

I've created a [ticket](https://mattermost.atlassian.net/browse/MM-10291) to investigate the scrolling
issue in the app.

I'll close this issue off here for now and we can track via the ticket.

[2018-04-20 07:29] #1575 closed

[2018-04-20 07:42] junlicn opened #1601 "need Sign up function in Mobile version"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Issue in one concise sentence.

#### Environment Information

- Device Name:
- OS Version:
- Mattermost App Version:  Mobile version 1.7.1
- Mattermost Server Version:  mattermost-4.9.0-linux-amd64

#### Steps to reproduce
How can we reproduce the issue

[2018-04-20 12:27] rnestler commented on #1038
I experienced it also the other way around: I read a message on the phone, but it still showed up as new and unread on the Desktop client.

[2018-04-20 12:28] jasonblais commented on #1495
Hi @estan @law! First, thanks for using the Mattermost mobile apps!

There are in fact two types of client-side certificate authentications in play here.

1) SSL client certificate via TLS mutual auth for client/device authentication. This is not yet supported in the mobile apps as you've identified. I believe this is what you are referring to?

We are tracking this [feature proposal here](https:/

[2018-04-20 12:36] Maxim-Filimonov commented on #784
I can have a look at it when i'm back from my trip on 28th. Unless someone else is keen to jump in before that.

[2018-04-20 18:57] jasonblais commented on #1495
@estan Perfect, sounds good. I'll close this issue off for now and we can track through the feature proposal.

[2018-04-20 18:57] #1495 closed

[2018-04-21 09:36] MarkusTeufelberger commented on #622
What's the resolution of this issue? I still have that problem...

[2018-04-21 17:32] lindy65 commented on #784
Thanks @Maxim-Filimonov !

That will be great!

[2018-04-21 17:38] lindy65 commented on #622
Hi @MarkusTeufelberger

Thanks for your question,

At this stage, the resolution of this issue is as per `lfbrock's` [post](https://github.com/mattermost/mattermost-mobile/issues/622#issuecomment-324621342) above...

[2018-04-22 23:39] SamSaffron opened #1607 "Big amount of scrolling and jumping around when opening chat after an interval"
#### Summary

When I open up the mattermost app in the morning, the chat window dances around while it catches up with all the chunks of messages overnight.

#### Environment Information

- Device Name: iPhone X
- OS Version: Latest

#### Steps to reproduce

- Open chat app
- Switch to another app
- Post 100 messages
- Open chat app

#### Expected behavior

- Messages do not "dance" focus is stabl

[2018-04-23 00:26] koxen commented on #1097
I am not able to find anything interesting in logcat when it happens...but a funny fact is is that it won't crash if it's started initially in splitscreen mode

[2018-04-23 06:09] SmartHoneybee commented on #1573
Hi @lindy65,

sorry for the delay.
Yes, still able to reproduce after the upgrade to Mattermost Team Edition 4.9.0.

Regards,
Bee

[2018-04-23 07:53] lindy65 commented on #1607
Hi @SamSaffron

Could you share which app version you have installed as well as which version of Mattermost server is running?

You can check this by tapping the 3-dot main menu >Settings >About Mattermost

[2018-04-23 07:55] lindy65 commented on #1601
Hi @junlicn

Thanks for your feedback,

Can you try creating an account on our [nightly build server](https://pre-release.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676) and let me know if you can successfully log in?

[2018-04-24 01:36] junlicn commented on #1601
yes,  I have successfully log in with name lijun on my desktop computer.
How I could get a pre-build  mobile client release to test it on my android?

[2018-04-24 08:04] Rudloff commented on #566
We patched the old Mattermost Classic app to remove Google Play dependencies: https://gitlab.com/fdroid/fdroiddata/blob/f6758e60af063658e8b6d38aa1c3ba1f2a3b718b/metadata/com.mattermost.mattermost/play-services.patch

But the new React app is harder to patch because two libraries require Play services:
* https://github.com/rebeccahughes/react-native-device-info/issues/381
* https://github.com/wix/r

[2018-04-24 09:53] lindy65 commented on #1601
Hi @junlicn

To install and test on the Beta version you can go [here](https://github.com/mattermost/mattermost-mobile/blob/master/README.md#testing)

[2018-04-24 10:12] junlicn commented on #1601
In China,  Google Play doesn't work. would you please provide a  github download url like  normal release version: https://github.com/mattermost/mattermost-mobile/releases

[2018-04-25 06:29] AL-Cui opened #1618 "I cannot find the function of language setting"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
i found the react-native-i18n.but,I can not found the function of language setting in “mattermost-mobile/app/screens/settings/display_settings”

#### Environment Information

- Device Name: Android 7.1
- OS Version:
- Mattermost App Version: Mobile vers

[2018-04-25 08:08] lindy65 commented on #1607
We have [this ticket](https://mattermost.atlassian.net/browse/MM-10317) open to address the jumping/scrolling.

[2018-04-25 11:08] enahum commented on #1601
The apk for the latest release can be found here https://github.com/mattermost/mattermost-mobile/releases/download/v1.7.1/Mattermost.apk and you can find the apk's for every release in https://github.com/mattermost/mattermost-mobile/releases

Sadly the published beta won't be published in the releases on this repo

[2018-04-25 11:09] enahum commented on #1618
@AL-Cui I do not know exactly what you mean, but in any case the translation files can be found here https://github.com/mattermost/mattermost-mobile/tree/master/assets/base/i18n let me know if this isn't what you mean

[2018-04-26 02:21] underst00d opened #1624 "uws problem"
#### Summary
[Error] Error: Compilation of µWebSockets has failed and there is no pre-compiled binary available for your system. Please install a supported C++11 compiler and reinstall the module 'uws'

#### Environment Information

- Device Name: Mac
- OS Version: High Sierra
- Node: v10.0.0
- Xcode: Version 9.4 beta (9Q1004a)
- Mattermost App Version: latest (b7d58ed3eabe54aa4881def55289c603b1d1

[2018-04-26 02:52] AL-Cui commented on #1618
Ok,I know the i18n.I want to say that I can not find the button of language setting

[2018-04-26 07:52] lindy65 commented on #1618
Hi @AL-Cui

If you're looking to change the language setting from within the UI, you'll need to change it in a browser first by going to the "hamburger menu", selecting "Account Settings" > "Display" > "Language".  This will change the language and then when you log in on mobile, the language will be what you changed it to.

We're still working on incorporating these settings into the mobile app.

[2018-04-26 08:33] enahum commented on #1624
Hi @underst00d,

I had the same iasue happening for me yesterday where the uws dependency didn’t install correctly.

Have you tried a make clean and then run again?

[2018-04-26 13:48] JAStanton opened #1625 "C++ Exception: std::__1::system_error"
This is going to be really random, and a bit of a stretch for me. But my app has been throwing:
[code]
with no stack trace.

It's a React native app. My google-fu lead me to https://mattermost.atlassian.net/browse/MM-9080 which is similar. But it was resolved in private. I'm reaching out to you guys to see if you have any more context on the issue & if you managed to solve it. Was it application s

[2018-04-26 14:16] JAStanton opened #1626 "EXC_BAD_ACCESS Attempted to dereference garbage pointer"
So, this is similar to my other ticket (https://github.com/mattermost/mattermost-mobile/issues/1625) in the sense that I was digging around your source to try to see if you fixed that issue and discovered you attempted to fix "EXC_BAD_ACCESS Attempted to dereference garbage pointer" by upgrading to react-native-sentry 0.34.0. I also am seeing this error (tracked officially here https://github.com/

[2018-04-26 14:36] koxen commented on #1626
hi, our problems with exc_bad_access are related to this bug: https://github.com/facebook/react-native/issues/6117#issuecomment-379146076

[2018-04-26 14:58] JAStanton commented on #1626
@koxen thank you for this tip! Sounds like it's still unresolved :) I'll go ahead and close this ticket then. Thanks for letting me bug you!

[2018-04-26 14:58] #1626 closed

[2018-04-26 22:13] underst00d commented on #1624
@enahum tried that and deleted node_modules folder. still no luck

[2018-04-27 01:49] AL-Cui commented on #1618
@lindy65 Hi,
I compiled the "mattermost-mobile" source code and run it on **Android device**.Then,I selecting "Account Settings" > "Display",i can not find the "Language". There is only one button,"Clock display"。

 Does the "language" function have not been done yet，or,I downloaded the wrong source code.I downloaded the source code from this link,"https://github.com/mattermost/mattermost-mobile.g

[2018-04-27 19:08] emresaracoglu opened #1642 "Speed up"
Hello,

The average speed of opening the application is 5 seconds (On both platforms, iOS & Android). Could you shorten this opening speed for next versions?

Thank you.

[2018-04-27 21:24] koxen commented on #1642
Hi,
Most of the work to fix it have already been _done_(it's blazing fast with all patches applied :D) but we are now working on fully integrating it upstream, which is harder.
For example removing non-us locale files shrinks 1-2s from startup time, but we can't push such thing upstream, so we are working on a more complicated solutions for loading non-us locales. etc.
Here's one of the bigger pul

[2018-04-28 08:45] emresaracoglu commented on #1642
Fantastic. I reviewed the link you sent.
I hope this problem will disappear in a short time on both platforms.

[2018-04-28 08:45] #1642 closed

[2018-04-30 07:56] SmartHoneybee commented on #1573
Thanks again, @lindy65.

No longer reproducible after upgrade to v1.8.0.

[2018-04-30 07:56] #1573 closed

[2018-04-30 14:15] iGeekFace opened #1647 "Disconnection without notice, requiring app restart to send messages"
#### Summary
Randomly the Android app will silently disconnect, meaning that it isn't connected but there is no message indicating that it isn't connected. When this occurs, I'm unable to post messages even after several attempts. To resolve it, I need to restart the app, but doing so causes any messages I sent that didn't successfully post to disappear, so I need to retype them.

#### Environment

[2018-04-30 14:54] zoobiaashfaq43 commented on #1647
Same happened with me. I am also not receiving any notification from mattermost on my Andiod app. Like I have to check the app to see if I have any notification/message.

[2018-04-30 15:35] hmhealey commented on #1338
Hi @th-joerger, I'm not able to reproduce this issue on the latest beta version of the app available from the Play Store. I think it was fixed with https://github.com/mattermost/mattermost-mobile/pull/1304. Do you still see the issue if you upgrade your app to latest?

[2018-04-30 18:36] th-joerger commented on #1338
Hey @hmhealey, I can confirm it as fixed on my device (on which I discovered the bug) with Mattermost Android App version 1.7.1 (Build 92). Thank you!

[2018-04-30 18:37] #1338 closed

[2018-05-01 07:36] lindy65 commented on #1573
Good to hear @SmartHoneybee  :)

[2018-05-01 07:44] lindy65 commented on #1618
Hi @AL-Cui

The feature cannot be set on mobile yet.  You'll need to log into your account on browser, set the language and then log in on Android device.

[2018-05-01 08:29] ebouJ commented on #1269
I could not reproduce this. Is it fix?

[2018-05-01 08:42] lindy65 commented on #1647
Hi @iGeekFace @zoobiaashfaq43

Thanks for the report,

I've created a ticket [here](https://mattermost.atlassian.net/browse/MM-10408) for us to investigate and try to reproduce...

[2018-05-01 08:48] lindy65 commented on #1625
Thanks for the report @JAStanton

Could you share which version of the mobile app you have installed?

Perhaps updating to the [latest version](https://about.mattermost.com/download/#mattermostApps) will resolve your issue?

If you are on the latest version, let me know and I'll check with our developers to see whether we've been seeing this in our app monitoring RN issues...

[2018-05-02 01:59] AL-Cui commented on #1618
@lindy65
OK,Thank u!
Do you know that how to download the "mattermost classic"source code.I found a APP named "mattermost classic" rather than "mattermost beta".The interface of this APP  is similar to the  browser that you said. And,this APP has the "Language Setting"function. Do you know this?And ,Do you know how to download the source code about mobile device.

[2018-05-02 06:34] lindy65 commented on #1618
Hi @AL-Cui

My pleasure,

You can find information on compiling your own apps [here](https://docs.mattermost.com/mobile/mobile-compile-yourself.html)

Hope this helps?

[2018-05-03 23:21] bbodenmiller opened #1653 "GitLab signin returns white screen if user has not authorized Mattermost"
#### Summary
GitLab signin returns white screen if user has not authorized Mattermost as follows from web interface

![image](https://user-images.githubusercontent.com/1192780/39607008-5e161c4e-4eed-11e8-88fa-597028e3a3d2.png)

#### Environment Information

- Device Name: Android
- OS Version: 7.0
- Mattermost App Version: 1.8.0
- Mattermost Server Version: 4.7.3

#### Steps to reproduce
1. Setup

[2018-05-03 23:25] bbodenmiller commented on #1108
Any chance this might be related to https://github.com/mattermost/mattermost-mobile/issues/1653?

It's complicated on [iOS](https://stackoverflow.com/questions/437061/how-do-you-monitor-network-traffic-on-the-iphone) and Android but you might try and inspect your network traffic to better understand where this is failing.

[2018-05-04 07:29] lindy65 commented on #1653
Hi @bbodenmiller,

Thanks for the report 👍

Can you try upgrading to the [latest server version](https://about.mattermost.com/download/#mattermostServer) of Mattermost to see whether this issue still reproduces for you?

[2018-05-04 09:03] Nek- commented on #1108
This is fixed for me.

[2018-05-04 10:04] bbodenmiller commented on #1653
That won't be possible for at least a month. Regardless this is the GitLab interface that the app doesn't handle properly, not seeing how a minor setver upgrade is going to help that.

[2018-05-06 16:53] Rudloff commented on #566
I patched mattermost-mobile so it could be included in F-Droid: https://gitlab.com/fdroid/fdroiddata/blob/ef9895cd885c90fb0d6f4c4b3955f34f61f6ac65/metadata/com.mattermost.rnbeta/play-services.patch
I had to remove the native Youtube player and all the GCM (push) functions.

However, [the F-Droid team is not willing to maintain this patch in the long run](https://gitlab.com/fdroid/fdroiddata/merge_

[2018-05-07 02:34] AL-Cui commented on #1618
@lindy65
Thank you vary much!
I found the source code what I want from [here](https://github.com/mattermost/mattermost-android-classic)

[2018-05-07 07:07] lindy65 commented on #1618
Fantastic, thanks for posting back @AL-Cui :)  I'll close this issue off here then ...

[2018-05-07 07:07] #1618 closed

[2018-05-07 13:15] amyblais commented on #1653
@bbodenmiller What version of GitLab do you use?

[2018-05-07 13:41] bbodenmiller commented on #1653
10.6

[2018-05-07 13:55] amyblais commented on #1653
1. Would you be able to help gather any logs from around the time the issue occurs, both from Mattermost and GitLab?

2. Have you recently upgraded to a new server or app version (is this is a new issue or is this the first time you are trying Gitlab sign-in)?

3. Have you set your Site URL field in System Console > Configuration? https://docs.mattermost.com/administration/config-settings.html#sit

[2018-05-08 09:51] sherifelgafary commented on #1624
I have the same issue on a machine running high sierra while on one running sierra it works fine could u please help me

[2018-05-08 15:15] amyblais commented on #1624
Hi @sherifelgafary, thank you for reporting this,

Can you help provide more details on your Environment, any observed behaviour and any repro steps that you may have (or let me know if these match with the original reporter's information)?

[2018-05-09 01:14] sherifelgafary commented on #1624
thanks a lot for helping

my OS version is 10.13.4
XCode 9.3 (but it doesn't matter as the issue generated from terminal)

i just ran the commands :
make pre-run
npm install
make start

and i had the same issue as the reporter's issues

i tried cleaning the node-modues directory and re-installing using yarn also the issue still there

while i tried the same project with the same steps on another m

[2018-05-09 07:08] lindy65 commented on #1647
I'll close this issue off here for now and we can track via the above-linked ticket.

[2018-05-09 07:08] #1647 closed

[2018-05-09 07:09] lindy65 commented on #1625
@JAStanton is your issue resolved?

[2018-05-09 07:13] lindy65 commented on #1607
Hi @SamSaffron - is your issue resolved? (apart from the scrolling which is still under investigation by our engineers)

[2018-05-09 07:13] lindy65 commented on #1601
I'll close this issue off here for now...

[2018-05-09 07:13] #1601 closed

[2018-05-09 07:15] lindy65 commented on #1524
Hi @Hyeongmin-Kwon

v1.8 has released and your issue should be resolved.  If you're still seeing problems, please feel free to open a new issue and we'll investigate.

[2018-05-09 07:15] #1524 closed

[2018-05-09 07:27] lindy65 commented on #1413
I'll close this issue off here for now.  Feel free to open a new issue if you're still needing help :)

[2018-05-09 07:27] #1413 closed

[2018-05-09 07:31] lindy65 commented on #1108
@bbodenmiller @gordallott @artlbv @bhaney

Is the issue resolved for you?  OK to close off this issue here now?

[2018-05-09 07:33] lindy65 commented on #1097
I'll close this issue off here for now and we can track via the above-linked ticket.

[2018-05-09 07:33] #1097 closed

[2018-05-09 07:39] lindy65 commented on #1038
@koxen - can you add a link for tracking purposes please?

[2018-05-09 07:40] artlbv commented on #1108
@lindy65 still not working for me in the new app, while the classic app works. Our admins claimed it’s a problem from the mattermost side..

[2018-05-09 07:40] lindy65 commented on #972
I'll close this issue off here for now and we can track via the above-linked ticket.

[2018-05-09 07:41] lindy65 commented on #935
I'll close this issue off here for now due to inactivity.  If you're still experiencing problems, please feel free to open a new issue and we'll help troubleshoot further.  Thanks!

[2018-05-09 07:41] #935 closed

[2018-05-09 07:43] lindy65 commented on #784
Hi @Maxim-Filimonov

Hope you had a good trip!?  Have you had time to look at submitting a pull request for this feature?

[2018-05-09 13:33] hmhealey commented on #1079
FYI, we're working on this right now and hoping to have it added to the app for the next release. You can track this issue in more detail [here](https://mattermost.atlassian.net/browse/MM-10314)

[2018-05-09 13:34] tareko commented on #1079
Great to hear! This pain point is getting worse over time as it grates on more and more of our users... Thank you for working on this.

[2018-05-09 14:25] JAStanton commented on #1625
@lindy65 nope, let me rephrase:

I haven't used your app, but I noticed while building my own app that we shared the same crash: https://mattermost.atlassian.net/browse/MM-9080 but I don't have any access to see how your crash was resolved.

So out of curiosity I'm filing this request to see if you guys resolved it and if so what it was.

Obviously you don't have an SLA for helping people who aren

[2018-05-09 14:25] khronosschoty commented on #1501
will do ASAP (as in right now)

[2018-05-09 14:31] khronosschoty commented on #1501
https://mattermost.uservoice.com/forums/306457-general/suggestions/34197916-add-support-for-mirc-color-codes-for-formatting-te

[2018-05-09 14:49] bhaney commented on #1108
@lindy65 It is still not working for me. There is no such panel as seen in issue #1653 when I log in on Safari from iOS, and it goes directly to Mattermost.

I experience the same thing as @artlbv, I am able to log in on the Classic App, and I'm able to log in through Safari, but I'm not able to log in from the new app. I still just get the white screen after signing in through SSO.

[2018-05-09 23:48] bbodenmiller commented on #1653
I think you're misunderstanding... These will not help in fixing the issue.

1. N/a
2. Not a new issue
3. Yes

The issue is that on the first login of Mattermost via GitLab, GitLab prompts the user to confirm they want to allow Mattermost to access their account. Mattermost mobile app does not know how to handle this. It's like when you login to a website using Facebook... Facebook has to verify w

[2018-05-10 02:51] Maxim-Filimonov commented on #784
Hey, sorry didn't have a chance. Our instance of mattermost is shutdown now as I'm not sure how to even test it anymore. We have switched to telegram for simplicity sake.

[2018-05-10 18:54] amyblais commented on #1653
My apologies for misunderstanding, I will have one of our engineers take a look.

[2018-05-10 23:52] #1501 closed

[2018-05-11 06:49] lindy65 commented on #1501
Thank you @khronosschoty :)  Appreciated!

[2018-05-11 07:00] lindy65 commented on #784
Hi @Maxim-Filimonov

Thanks for letting us know and sorry to hear you're not using Mattermost anymore...

@enahum - should we open a Jira tix to look at implementing this some time in the future?

[2018-05-11 07:42] lindy65 commented on #1108
Hi @artlbv @bhaney

I have just retested on one of our test servers running Mattermost server v4.9.3 and the new app downloaded from the App Store / Playstore (v1.8.0 Build 101) and I am able to log in first time without any issues.

After entering the server URL and clicking on the `Sign in with GitLab` button, I was directed to GitLab to log in and after logging in to GitLab, I was instantly rou

[2018-05-11 07:52] lindy65 commented on #1625
Hi @JAStanton,

Thanks for your feedback,

The [ticket](https://mattermost.atlassian.net/browse/MM-9080) you referenced above was opened due to our automated app monitoring software finding the same crash as you are experiencing.  We couldn't reproduce the crash and, for now, we are monitoring for further occurrences of the same crash.

Have you perhaps taken a look at our documentation for [build

[2018-05-11 13:32] hmhealey commented on #1653
Hey @bbodenmiller, I've filed a ticket to look into this further.

https://mattermost.atlassian.net/browse/MM-10573

[2018-05-11 14:40] hmhealey commented on #566
Hi @Rudloff, if it can be done conditionally, we'd certainly accept a PR for it. Preferably, it would be configured using an environment variable like we use to enable and disable Sentry integration at build time https://github.com/mattermost/mattermost-mobile/blob/master/android/app/build.gradle#L82

[2018-05-11 14:54] hmhealey commented on #566
Those might also work. I'm not too familiar with them myself, so I was just suggesting what I've used in the past.

[2018-05-11 15:22] enahum commented on #784
Perhaps best to ask @esethna about this

[2018-05-11 15:35] bhaney commented on #1108
@lindy65

Here is a link to a video I just made right now (May 11, 2018) of me downloading the Mattermost App from the App store and trying to log in through GitLab SSO. It is a fresh install of the app.

https://drive.google.com/file/d/1nS9sg4ExydFXykbhwSiEaHxWPRN_0bPn/view?usp=sharing

I am using iOS version 11.3.1, and the Mattermost App version is 1.8.0.

My current work around is to use the M

[2018-05-11 15:38] MicaelCarvalho commented on #1108
Have you all tried with http as well as https (during the connection, in the app)? When we had a similar problem in our university, it was just a matter of switching between these.

[2018-05-11 15:40] bhaney commented on #1108
In the video I use https://, but I have just now tried using http:// and I see the same problem (indefinite white screen after pressing GitLab SSO button).

[2018-05-11 16:55] Rudloff opened #1671 "Build gets stuck at bundleReleaseJsAndAssets"
#### Summary
`gradle assembleRelease` often gets stuck at `bundleReleaseJsAndAssets`.

#### Environment Information
I'm building on Debian 9.4.

#### Steps to reproduce
[code]

#### Expected behavior
The build completes.

#### Observed behavior
When I try to build 1.8.0, 90 % of the time, the build gets stuck at `bundleReleaseJsAndAssets`.
I tried to let it run for 30 minutes and it never stops. B

[2018-05-11 19:09] lindy65 commented on #1108
Thanks @bhaney - a [similar issue](https://github.com/mattermost/mattermost-mobile/issues/1653) was reported so we've created a [ticket](https://mattermost.atlassian.net/browse/MM-10573) to investigate.

[2018-05-11 23:04] #536 closed

[2018-05-11 23:04] #1267 closed

[2018-05-13 08:29] SamSaffron commented on #1607
It is still behaving very erratically every time I open it in the morning
but I guess you can close if you are tracking this elsewhere

On Wed, 9 May 2018 at 5:13 pm, lindy65 <notifications@github.com> wrote:

[2018-05-13 13:13] PromoFaux opened #1672 "Scrolling issues on Android P DP2"
Apologies if there is an issue template, however it is not showing on the app I use for GitHub while mobile!

Since updating to the Android Phone DP2  beta, the scrolling in Mattermost 1.8 has been a bit iffy. Not seeing this issue in any other apps.

It seems to work fine if I hold and scroll, however if I try to "fling" scroll, it behaves weirdly. Almost as though it is going the opposite direct

[2018-05-13 13:31] PromoFaux commented on #1672
Example here : https://youtu.be/1wH7DhQf-cM

[2018-05-13 19:32] koxen commented on #1038
@lindy65 https://github.com/mattermost/mattermost-server/pull/8477

[2018-05-14 14:29] amyblais commented on #1672
Thank you for reporting this @PromoFaux!

I am not aware of an open ticket for this, so I'll help troubleshoot this.

A screenshot / video as a start will be helpful (as you mentioned).

[2018-05-14 17:46] PromoFaux commented on #1672
Hi @amyblais Just shared a video with Elias over on your mm server. (Took it down from here because I realised it had identifying info of our server on it!)

Can share with you over there too, if you like?

[2018-05-14 22:25] esethna commented on #784
Thanks @lindy65, yes let's open a ticket for this and queue for triage.

[2018-05-15 09:49] lindy65 commented on #784
Ticket here: https://mattermost.atlassian.net/browse/MM-10601

[2018-05-15 12:08] amyblais commented on #1607
@SamSaffron Can you share which app version you are using as well as which version of Mattermost server is running?

[2018-05-15 12:42] enahum commented on #1671
Hi @Rudloff

As you pointed out in your workaround (btw thanks for taking the time to find it) this seems to happen only in some OS's (actually this is the first time I ever seen this) and is not actually caused by our app directly but a third party which we depend on meaning that we cannot do much to fix it, but we could add it in our troubleshooting section in our docs.

Thanks again from bringi

[2018-05-15 20:24] l0Op3r opened #1678 ""Return" button sets a new line in mattermost chat instead of sending the message"
#### Summary
"Return" button sets a new line in mattermost chat instead of sending the message

#### Environment Information

- Device Name: iPad Pro
- OS Version: iOS 11
- Mattermost App Version: 1.8.0 (Build 101)
- Mattermost Server Version: 4.9.0

#### Steps to reproduce
How can we reproduce the issue?
1. Start a new chat with another person.
2. Type a message, press return on Apple's official

[2018-05-16 00:36] SamSaffron commented on #1607
Hi Amy

Running app version 1.8.0 build 101 on iOS store and server version 4.9.2,
db is postgres

On Tue, May 15, 2018 at 10:08 PM, amyblais <notifications@github.com> wrote:

[2018-05-16 02:43] koxen commented on #1678
I think the preferred way here is to use ctrl+enter.

[2018-05-16 12:31] enahum commented on #1678
There is a Help-Wanted ticket if you want to work on it ;)
https://github.com/mattermost/mattermost-server/issues/8797

[2018-05-16 17:43] amyblais commented on #1624
@sherifelgafary @underst00d Have you had a chance to check with https://github.com/uNetworking/uWebSockets?

[2018-05-16 17:44] amyblais commented on #1672
@PromoFaux Did Elias provide feedback on the video and has there been any progress in troubleshooting the issue outside this Github ticket?

[2018-05-16 18:31] amyblais commented on #1607
Thank you for the additional information @SamSaffron! Does this ticket that we have open describe what you are seeing: https://mattermost.atlassian.net/browse/MM-10317? Would you have a screenshot / video to share about what you are experiencing?

[2018-05-16 18:50] enahum commented on #1522
Have you followed the docs for this?

Did you create an app group for your appID, and did you associated it with it? you can use XCode to do it for you. Also remember that you need to set the env var for the app group as well

[2018-05-16 22:35] amyblais commented on #1671
The doc PR is now merged so I will close this issue for now.

[2018-05-16 22:35] #1671 closed

[2018-05-17 00:40] SamSaffron commented on #1607
Yes that looks correct to me! It describes my issue.(does not take minutes
to stabilize just 5-15 seconds)

On Thu, May 17, 2018 at 4:31 AM, amyblais <notifications@github.com> wrote:

[2018-05-17 08:39] PromoFaux commented on #1672
Last we left it, I was going to try and set up a dev environment and poke about to see if I could spot anything but real life has gotten rather in the way of that so far...

He reckons it's something to do with `react-native`

[2018-05-17 08:50] nicolinuxfr commented on #1522
I think I did follow the doc, but maybe I missed something.

Everything is correct for the app group and appID, since I can compile the app without problem in Xcode.

However, I'm not sure for your last point. Here's the redacted content of my `.env` file, do you think it misses something ?

https://github.com/mattermost/mattermost-mobile/issues/1522#issuecomment-379992246

[2018-05-17 13:47] amyblais commented on #1607
Thanks for letting me know! We can track this issue with that ticket, I also added a link to this Github issue in the Jira ticket.

[2018-05-17 23:01] amyblais commented on #784
Hi @estama and everyone!

We have created a [Help Wanted issue here](https://github.com/mattermost/mattermost-server/issues/8797) and are looking for community's help. Would you be interested helping with a pull request?

[2018-05-17 23:01] #784 closed

[2018-05-17 23:04] amyblais commented on #1678
Hi @l0Op3r!

Thanks for the report! As Elias mentioned we have created a [Help Wanted issue here](https://github.com/mattermost/mattermost-server/issues/8797) and are looking for community's help. Would you be interested helping with a pull request?

[2018-05-17 23:04] #1678 closed

[2018-05-18 13:19] amyblais commented on #1672
@PromoFaux Thanks for the update and no worries! Keep me updated on when you are ready to set up a dev environment or if you need any help with that.

[2018-05-20 02:32] cburn11 commented on #1624
I received this error after following the mobile build environment guide. I solved it by specifically installing node@6 (instead of brew install node, which installed node@8)

[2018-05-21 16:55] amyblais commented on #1624
Hi @cburn11,

Is this the doc that you are referring to: https://docs.mattermost.com/developer/mobile-developer-setup.html?highlight=mobile%20build#development-environment-setup?

I'll check with our engineers whether there is something in our docs that should be adjusted.

[2018-05-21 19:21] cburn11 opened #1687 "Apps built from source don't receive push notifications; DeviceId column in Sessions table is empty"
#### Summary
Android mobile apps compiled from source (following https://docs.mattermost.com/developer/mobile-developer-setup.html) built with "make build-android" & "make unsigned-android" don't receive push notifications. When apps built from source are signed in to the local server, they work. However they don't receive push notifications, and the sql table Sessions in the mattermost DB does no

[2018-05-21 19:56] svelle opened #1688 "Vibration notification settings do not get saved"
#### Summary
Vibration notification settings do not get saved, still getting vibrations when setting turned off.

#### Environment Information

- Device Name: LG Nexus 5X, Huawei Mate 9
- OS Version: 8.1, 7.0
- Mattermost App Version: 1.8.0
- Mattermost Server Version: 4.8.1

#### Steps to reproduce
Turn off vibration in notification settings and receive any notification.

#### Expected behavior
S

[2018-05-21 22:26] koxen commented on #1687
and have signed and unsigned APKs built with a google-services.json file modified for my account. I have a a server running 4.10.0 running and pointed at custom push proxy which uses my google key. All of which seem to work without issue, except apps built from source don't receive push notifications.

works fine for me. did you follow the part with gcmSenderId?

[2018-05-21 22:27] koxen commented on #1687
if you think the Deviceid is wiped from sessions that might be caused by push proxy getting an "invalid api key" etc. response from google. please check what your push proxy log says

[2018-05-22 10:30] koxen commented on #1687
please check the push proxy log like I mentioned

[2018-05-22 10:33] koxen commented on #1687
after digging a little bit DeviceId == null seems to be caused by GCM registration error. please check what your android logcat says about this

[2018-05-22 13:09] amyblais commented on #1688
Hi @svelle, thank you for reporting this!

I will try the repro steps and report back here my findings.

[2018-05-23 00:11] amyblais commented on #1688
Quick update on this - I realized that this is on Android, so I will ask someone on our team with Android to test this.

[2018-05-23 07:34] dbarden commented on #1624
Yeah, downgrading from Node 10 should solve it. The steps I did were roughly:

[code]

[2018-05-23 14:17] amyblais commented on #1688
Hi @svelle, a team member tested this and they were unable to reproduce the issue. My recommendation is to upgrade to 4.10 or another option is to test on [our nightly build server](https://pre-release.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676) to see if you can reproduce this there. Would one of these options sound good?

[2018-05-23 15:42] svelle commented on #1688
Okay. I'll try that later today and report back to you. I'll also see if I
can take a short video of the bug.

On Wed, May 23, 2018, 4:18 PM amyblais <notifications@github.com> wrote:

[2018-05-24 12:11] amyblais commented on #1522
Hi @nicolinuxfr! Did Elias' note above help?

[2018-05-24 12:13] amyblais commented on #1687
Hi @cburn11! Just checking in - did koxen's note above help?

[2018-05-24 13:12] nicolinuxfr commented on #1522
Sorry, I did not have time to try.

So, I started with a fresh copy of mattermost, and even a different Mac to be sure. I used your `.env` file and changed values as needed. I also copied the release folder with my custom images and configuration.

I did a `make pre-run` and then `make build-ios` and I'm immediately stuck with this error :

[code]

I tried to do a `bundle install` from the fastlan

[2018-05-24 13:19] enahum commented on #1522
@nicolinuxfr you need to install `fastlane`.

ensure that you have ruby installed on your mac, cd into the `fastlane` directory and run `bundle install`

[2018-05-24 13:21] nicolinuxfr commented on #1522
@enahum

I already have fastlane installed :

[code]

As for `bundle install`, here's the result :

[code]

[2018-05-24 13:59] enahum commented on #1522
@nicolinuxfr right, but very often we do update `fastlane` and it will update the dependencies for fastlane as well, so you may not be having a new dependency or the right version number, that is why you'll have to run that command

[2018-05-24 15:32] nicolinuxfr commented on #1624
I have the same problem and I'm also using node 10. So I guess I should downgrade as well ?

[2018-05-24 15:34] nicolinuxfr commented on #1522
I tried without transferring assets (setting the `IOS_REPLACE_ASSETS` parameter to false in the .env file). The previous error disappears, of course, but then I'm back to the beginning, with the same error described [in the fist post](https://github.com/mattermost/mattermost-mobile/issues/1522#issue-306504457).

[2018-05-24 17:05] enahum commented on #1624
This is an issue from one of the RN dependencies and does not work with node 10, so any other version below 10 should solve this

[2018-05-24 23:44] amyblais commented on #1625
Hi @JAStanton, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-05-24 23:44] #1625 closed

[2018-05-25 09:15] rAnAaRsl opened #1705 "make Command issue"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Issue in one concise sentence.

#### Environment Information

- Device Name: Motorola Turbo
- OS Version: Linux
- Mattermost App Version:
- Mattermost Server Version:

#### Steps to reproduce
How can we reproduce the issue?
make build-android

#### Expe

[2018-05-25 09:16] rAnAaRsl commented on #1705
on windows 10

[2018-05-25 09:20] rAnAaRsl commented on #404
how to do it with Cygwin ?

[2018-05-25 12:29] nicolinuxfr commented on #1522
Let me correct my previous statement, the error is different since it involves automatic signing, which is disabled by the `.env` file :

[code]

The profile 'com.XXXXXX.mattermost.MattermostShare' is indeed wrong, I checked the configuration, and it is supposed to be 'com.XXXXXX.mattermost.Share'. Maybe it's an error the build process code ?

[2018-05-25 12:46] cburn11 commented on #1687
I have not been able to resolve the issue.

[2018-05-25 12:56] amyblais commented on #1705
Hi @rAnAaRsl! Thank you for reaching out.

I would need a little more information to troubleshoot the issue you are seeing, can you help fill in the above form? Let me know if you have any questions!

[2018-05-25 13:13] amyblais commented on #1687
@koxen Would you know how to troubleshoot this further, or just let me know if you're not sure and I can grab one of our devs to take a look at this!

[2018-05-25 13:31] koxen commented on #1687
@amyblais as I said I need the android logcat logs and in case they show nothing, then proxy log

[2018-05-25 13:36] amyblais commented on #1687
Thanks koxen! @cburn11 please help with the information requested above ^ or let me know any questions.

[2018-05-25 18:02] cburn11 commented on #1687
According to the device logs, the application seems to get a device id from GCM:

[ 05-25 10:35:25.950 24599:24631 D/ReactNativeNotifs ]
GCM is refreshing token... instanceId=dJmSrjJVt2I

[ 05-25 10:35:25.953 24599:24631 I/ReactNativeNotifs ]
GCM has a new token: instanceId=dJmSrjJVt2I, token=eQ_R52X-BrI:APA91bEjVIxNWuP-3QX73ixZfyL4Nf9ru_3ZyWfeb4KEQfRikm0cOG3TWPnJ-EXnCjlgYO
KzWcfjV6b7n0wcJVdPrsTM1

[2018-05-25 18:34] cburn11 commented on #1687
Well I might have to take "The issue is not with the push proxy server." back. If I manually insert the deviceId from logcat into the db:

MariaDB [(none)]> update Sessions set DeviceId = 'android_rn:eQ_R52X-BrI:APA91bEjVIxNWuP-3QX73ixZfyL4Nf9ru_3ZyWfeb4KEQfRikm0cOG3TWPnJ-EXnCjlgYOKzWcfjV6b7n0wc
JVdPrsTM1QxDC3YQYaLn7T2mvvkgKbnQFh_T9x1-N6ojxZck8U1TmGi5' where UserId='kbfd56di8b8mifos5jqsyhswko';

A

[2018-05-26 02:35] koxen commented on #1687
do you have android_rn section in config?

 "AndroidPushSettings":[
   {
       "Type":"android",
       "AndroidApiKey":"xx"
   },
   {
       "Type":"android_rn",
       "AndroidApiKey":"xx"
   }
 ]

[2018-05-28 11:33] ageekhere commented on #1108
Have the same issue with the android mobile app (have tried all 3 of them).
When I open the app I enter in the address and that passes. Then I press gitlab to login however all I get is a white screen and no login screen.
Logging in via chrome (on the android phone) works.
IOS app also works fine

[2018-05-28 13:09] rAnAaRsl commented on #1705
i have editted my question

[2018-05-28 13:26] amyblais commented on #1705
Hi @rAnAaRsl, thank you for the additional information!

Was there any specific documentation that you followed when trying to make build-android?

Recently also [this issue](https://github.com/mattermost/mattermost-mobile/issues/1624) was opened, and it might be related to the issue you are seeing - can you help attach here what code you are using and whether you are using node10?

Let me know if

[2018-05-28 14:46] cburn11 commented on #1687
Yes, the proxy config is setup the way described:

clifford@push-proxy-server:/opt/matter-push-proxy$ cat config/config-push-proxy.json

{
    "ListenAddress": ":8067",
    "ThrottlePerSec": 300,
    "ThrottleMemoryStoreSize": 50000,
    "ThrottleVaryByHeader": "X-Forwarded-For",
    "ApplePushSettings":[
           {
               "Type":"apple",
               "ApplePushUseDevelopment":false,

[2018-05-28 16:03] cburn11 commented on #1687
I can send a message directly to the GCM service and it gets delivered to the phone from which I pulled the deviceId from logcat:

clifford@Office-PC:/mnt/c/Users/Clifford$ curl -X POST --header "Authorization: key=XX[Legacy API key]XX" --Header "Content-Type: applicat
ion/json" https://fcm.googleapis.com/fcm/send -d "{\"to\":\"cS4qSV_9YFA:APA91bFSYdgl-nUfTEmXQzjc9RlsLIqZCZuJB6G6bkDUU5qXYkphkuzUTq

[2018-05-28 23:53] koxen commented on #1687
you sure your mobile app is build from master?

[2018-05-29 00:06] cburn11 commented on #1687
I forked the master branch 8 days ago and have been cloning drom that.On May 28, 2018 4:53 PM, Michał Odziemczyk <notifications@github.com> wrote:you sure your mobile app is build from master?

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2018-05-29 00:27] koxen commented on #1687
please try latest master.
If it still doesn't work you can add a breakpoint here https://github.com/mattermost/mattermost-mobile/blob/e8712f9199b8f8e337adae3391fd354f9ef83e85/app/screens/entry/entry.js#L148 and see what happens

[2018-05-29 02:38] cburn11 commented on #1687
Good call. The issue is not present when I build from source cloned directly from the master branch rather than my fork. I have no idea what happened in my fork, and I am not really interested in investigating. Thanks for sticking with me. I appreciate your help.

[2018-05-29 07:27] svelle commented on #1688
Sorry for the late reply. I got unexpectedly busy last week. I did some more checking and could confirm the same behavior with the mobile-app on a Xiamoi running Lineage 15.1 (Android 8.1).
I also experienced this behavior using different Clients, with the same latest app version, with different Servers (4.8-4.10). I think this could also be an issue with the react-native implementation of the vib

[2018-05-29 09:29] #1705 closed

[2018-05-29 11:55] amyblais commented on #1705
Hi @rAnAaRsl! Was the issue resolved for you? Let us know if not and I can ask one of our engineers to further troubleshoot this.

[2018-05-29 16:11] lucius-the opened #1712 "Unable to download attachments"
#### Summary
I am unable to download attachments (an image or a Word document) on Android app.

#### Environment Information

- Device Name: Nokia 8 (also confirmed on Samsung Galaxy S7)
- OS Version: Android 8.1.0 on Nokia (don't know what is on Galaxy S7)
- Mattermost App Version: 1.8.0 (build 101)
- Mattermost Server Version: 4.8.0

#### Steps to reproduce
Just try to click on any attachment in

[2018-05-29 17:26] amyblais commented on #1688
Hi @svelle! The colleague tested on a Galaxy S6 as well as on Moto G4 S, but he is not able to repro this.

As next steps, can you help:

1. Confirm if you are seeing the issue only on notifications while the app is in the background or does it also happen when the test notification is pushed from the settings area?

2. Double check that the affected devices do not have the ringer set to vibrate?

[2018-05-29 17:43] svelle commented on #1688
The first point I can definitely confirm. It happens when testing and also with real notifications out of the app.
But that second point might be it, it stops vibrating as soon as I go into regular ringer mode (not vibrate). I could only check this on my Nexus right now. But will report back when I can test on other devices tomorrow. I do feel rather stupid now if that's the reason why it kept vib

[2018-05-29 19:19] lucius-the commented on #1712
Ah, ok... found a way. One needs to click on the icon representing the attachment (not on the text), after which a preview of the (that same attachment icon) will open - which is strange and unexpected, I would expect that click to start the download. But ! From there, one can click on the upper right menu and choose "Download" to finally get the file.

I might call that a bit user-unfriendly :)
B

[2018-05-29 19:19] #1712 closed, assigned to nobody

[2018-05-29 22:39] amyblais commented on #1607
Closing this issue for now as this can be tracked with the ticket https://mattermost.atlassian.net/browse/MM-10317.

[2018-05-29 22:39] #1607 closed

[2018-05-30 10:35] rAnAaRsl commented on #1687
i am facing the same issue app does not update deviceid in the session however when i send notification from firebase console my app receives the notification

[2018-05-30 10:36] rAnAaRsl commented on #1687
i had cloned master just 2 days ago

[2018-05-31 12:27] amyblais commented on #1687
Hi @rAnAaRsl, sorry to hear that!

Here are some suggestions to further troubleshoot this:

Have you followed the documentation here: https://docs.mattermost.com/developer/mobile-developer-setup.html?

Can you provide any other information about your environment, e.g. device name, OS version, Mattermost App version, Mattermost Server version?

Can you help share your push proxy logs?

[2018-06-01 13:33] amyblais commented on #1522
Hi @nicolinuxfr - Giving you an update here that the engineer who has been helping you with this recently (enahum) has been off for the last few days and I'll ping him again to take a look at this when he is back next week.

[2018-06-01 13:35] nicolinuxfr commented on #1522
Thanks for the update ! :-)

No worry, I can manually build the app in the meantime.

[2018-06-01 15:01] svelle commented on #1688
okay, after testing this out on some other devices this sure seems like an android "bug" and not a mattermost bug so I'll close this. Thanks for all the help in figuring this out @amyblais !

[2018-06-01 15:01] #1688 closed

[2018-06-01 15:08] amyblais commented on #1079
The ticket linked above has been resolved and the PRs related to the improvement have been merged, so I will close off this issue for now

[2018-06-01 15:08] #1079 closed

[2018-06-01 15:10] amyblais commented on #1672
Hi @PromoFaux, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-06-04 02:38] vukhanhtruong opened #1720 "Cannot connect to the server"
Hello,

#### Summary
Everything works fine after upgrading, but the mobile app.
Also, the logs section in the console, it shows nothing.

#### Environment Information

- Device Name:  Xiaomi Redmi Note 4X
- OS Version: 7.0 NRD90M
- Mattermost App Version:  1.8.0
- Mattermost Server Version: 4.10.0

#### Steps to reproduce
Input Server URL.
Hit `Connect` button.
It says "Cannot connect to the serve

[2018-06-04 04:03] #1687 closed

[2018-06-04 14:33] amyblais commented on #1720
Hi @vukhanhtruong! Thank you for reaching out.

As a first step, we recommend checking with your System Admin to validate the SSL chain for your server. Please let me know any questions.

[2018-06-05 05:16] vukhanhtruong commented on #1720
Hi,

I've just renewed SSL using Letsenscrypt.
I was double check on ssllabs.com, you can see the result here https://ibb.co/bK3nq8
So, Could you please give me more detail how to solve this issue.

I really appreciate your support.
Thank you very much.

[2018-06-05 09:59] aborderon opened #1724 "Support self-signed certificate"
#### Summary
Can not connect to server using self signed certificate

#### Environment Information

- Device Name: OnePlus 5T (Android 8)
- OS Version: Ubuntu 16.04
- Mattermost App Version: 1.8.0
- Mattermost Server Version: 4.10

#### Steps to reproduce
Set up a Mattermost server and point a domain to it that is using a self signed certificate

#### Expected behavior
The app should be able to co

[2018-06-05 13:42] amyblais commented on #1720
Hey @vukhanhtruong, thank you for the additional information.

Here are some additional tips/questions:

1. Can you help share an example of the URL you are using to connect via your phone?
2. Have you tried uninstalling and reinstalling the app to see if it helps?
3. Can you try connecting to https://pre-release.mattermost.com and see if you hit the same issue?
4. What happens if you try and open

[2018-06-06 02:07] vukhanhtruong commented on #1720
Hey,

Thanks for your kindly support. Here are my answers:
1. It would be nice if you could send me an email to [me](mailto:vukhanhtruong@gmail.com) using your own email address, then I can share the URL privately.
2. Yes, I did.
3. It works, no issue
4. My URL is working fine with the mobile browser
5. I'm using the Mattermost docker https://github.com/mattermost/mattermost-docker

Best Regards,

[2018-06-06 13:45] amyblais commented on #1720
Hi @vukhanhtruong!

Thank you for the additional information, I just sent you an email regarding point 1.

[2018-06-06 22:18] amyblais commented on #1720
Ah, I just realized you were seeing the issue on Android (I only have iOS), so I will ask a teammate to help test this tomorrow. I will forward the URL you sent to me earlier today privately to a colleague.

[2018-06-07 13:51] amyblais commented on #1720
A colleague tested this and he is seeing the same issue with the URL that you provided.

@enahum The user is unable to connect to server on Android 1.8 (doesn't repro on pre-release or any other devices/browsers) - do you see anything in the license that could be an issue: https://ibb.co/bK3nq8?

[2018-06-07 13:55] enahum commented on #1720
Yeap, as you can see in the screenshot it says that the SSL has chain issues, those need to be corrected and then it should be ok

[2018-06-08 08:40] vukhanhtruong commented on #1720
@enahum Why the mobile app on iOS still works? Thanks for the kind support.

[2018-06-08 09:02] aborderon commented on #1724
Alright I understand. Because it is a real problem for use mattermost in a private network.

[2018-06-10 21:01] PromoFaux commented on #1672
Sorry Amy, been snowed under with "real life"! Issue still occurring, but I've not looked into why yet. Clearly nobody else has seen it happening! :)

[2018-06-11 11:32] svelle opened #1756 "OAuth not working when GitLab still requires acceptance of TOS"
#### Summary
When the GitLab instance that the user wants to OAuth with has a TOS that still needs to be accepted the mobile app will only return: ``` Could not parse auth data out of gitlab user object ```

#### Environment Information

- Device Name: LG Nexus 5X
- OS Version: Android 8.1
- Mattermost App Version: 1.9
- Mattermost Server Version: 4.9.1

#### Steps to reproduce
Enable some kind of

[2018-06-11 19:09] amyblais commented on #1756
Hi @svelle! Thank you for reaching out.

Next step is that I will test this out / ask a colleague to help test this.

[2018-06-12 15:10] amyblais commented on #1522
Hi @nicolinuxfr! Giving you an update here that we will test this on v1.9 (released this Friday) to see if we have the same or similar issues.

[2018-06-12 15:14] enahum commented on #1720
@vukhanhtruong as you can see in the screenshot your certificate has an incomplete chain, is not a matter of a new key or not, is probably that you need an intermediate certificate.

perhaps take a look at https://letsencrypt.org/certificates/ and https://letsencrypt.org/2015/06/04/isrg-ca-certs.html for more info

![image](https://user-images.githubusercontent.com/6757047/41299519-99c18e82-6e31-1

[2018-06-12 15:21] nicolinuxfr commented on #1522
OK great ! Let me know if I can help in any way…

[2018-06-13 13:29] amyblais commented on #1756
@svelle Came to my mind - which build version of 1.9 are you using?

[2018-06-14 14:47] jfchevrette commented on #1672
I have the same issue on Android P DP3.

[2018-06-15 06:57] raimaj commented on #1672
Same issue here on Android P Developer Preview 2.
Scrolling up a channel only works if done really slow. Normal scroll gesture makes the channel scroll up a bit and then bounce back down.

[2018-06-17 00:38] PromoFaux commented on #1672
Is the v1.9 being released the same as the beta version 1.9 that was released on May 31st? If so, I switched to the beta version a while back to see if it had been fixed and still seeing the same issue :)

### Are you experiencing the issues with the Mattermost Mobile App, if so what version and OS?
App version 1.8 (and beta version 1.9) on an original Pixel XL running Android P DP3.

Not sure how

[2018-06-18 13:17] jekil opened #1774 "Unable to login with GitHub"
#### Summary
Usually I login to gitlab via openID with github. When trying to login via app, the openid login is not available.

#### Environment Information

- Device Name: iphone 6s
- OS Version: 11.4 (updated today)
- Mattermost App Version: 1.8.0 (updated today)
- Mattermost Server Version: dunno

#### Steps to reproduce
Create a gitlab account via openid with github.
Install and login via app

[2018-06-18 15:16] amyblais commented on #1672
v1.9 final is not the same as the beta version (it includes a lot more bug fixes and improvements) - the final version will be available in a few days. I'm asking my colleagues if they can repro / if 1.9 final includes fixes related to this (I don't have Android so not able to test myself).

[2018-06-18 18:59] PromoFaux commented on #1672
Just as an update of some further experiments.

Mattermost Mobile v1.9 (build 110) downloaded from github release page - Same issue.
Switching servers between ours and pre-release.mattermost.com - Same issue.
Mattermost 1.9 on Android O - No issue.

It's likely the issue lies in Android P or React, but not sure which.

[2018-06-18 22:28] amyblais commented on #1672
An engineer mentioned just now that there is probably not much we can do from our end for this problem as this seems to be an issue specifically on that platform on RN - perhaps would it help to start with checking with RN if this a known issue on their side or if they are working on a fix?

[2018-06-18 22:55] amyblais commented on #1774
Hi @jekil! Thank you for reporting this.

You can find out your Server version by clicking the menu (three dots) on the right hand side > Settings > About Mattermost.

Also, do you see the same issue when you try to log in from the browser?

[2018-06-19 22:56] PromoFaux commented on #1672
Yeah, I'll have a browse of RN repos see if there are any similar issues that have come up... in the mean time.. I've finally got around jumping into the rabbit hole...
![image](https://user-images.githubusercontent.com/1998970/41628429-67a49af2-741c-11e8-8c3e-bfbbc6558831.png)

[2018-06-20 12:44] jekil commented on #1774
It is a first time install (setup from scratch, no upgrade).

[2018-06-20 16:10] amyblais commented on #1774
@enahum Can you help confirm if we support logging in to Gitlab via openID with Github?

[2018-06-20 16:11] enahum commented on #1774
The official support is for gitlab login, if your gitlab uses another auth method that is secondary to gitlab we do not officially support it

[2018-06-21 17:31] artlbv commented on #1108
Hey everyone, magically, the iOS app started to work for me!

[2018-06-21 17:45] bhaney commented on #1108
It works for me now as well!

[2018-06-21 19:20] svelle commented on #1756
@amyblais So this is still happening with the 1.9 stable release. On Android and iOS. Server Version is still 4.9.1

[2018-06-21 22:29] vRobM opened #1799 "iOS Update from 6/20, app crash upon login (sig 11)"
#### Summary
After login, signal 11 (null) message appears and closes the app.

#### Environment Information

- Device Name:
- OS Version: 10.3.2
- Mattermost App Version: 1.9.0
- Mattermost Server Version: 5.0.0

[2018-06-21 22:56] jfew opened #1802 "No message previews shown in iOS push notifications"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Despite having configured Mattermost.app push notifications to always show a message preview in push notifications, they are never shown.

#### Environment Information

- Device Name: iPhone X
- OS Version: iOS 11.4
- Mattermost App Version: 1.9.0
- Mat

[2018-06-21 23:42] amyblais commented on #1724
Hi @aborderon! Sounds like there is nothing we can do at this point on our end, so I'll close this Issue for now.

[2018-06-21 23:42] #1724 closed

[2018-06-21 23:46] amyblais commented on #1799
Hi @vRobM!

Thanks for reaching out. To give you the best help we can, could you review [this web page](https://docs.mattermost.com/process/support.html#general-questions-for-any-issues) and send us the relevant logs, config files, and other additional information so we can diagnose this issue?

I would also like to let you know that we are in the process of cutting a v1.9.1 dot release for some i

[2018-06-22 01:18] sounance commented on #1799
Hi.
I have also encountered the same problem.

Environment Information
Device Name: iPhone8 Plus
OS Version: 11.4
Mattermost App Version: 1.9.0
Mattermost Server Version: 4.10.1(NGINX use SSL)

![image-1](https://user-images.githubusercontent.com/36125007/41752912-2dedf674-7605-11e8-8c90-ca0846c44ae7.jpg)

[2018-06-22 14:54] amyblais commented on #1802
Hi @jfew! Thank you for reporting this.

We added some push notification styling improvements in v5.0 and the message preview shows on that version (I just tested), so I'll need to ask the team about what is expected on v4.10. I'll let you know the feedback.

[2018-06-22 15:01] amyblais commented on #1756
@hmhealey Do you know if this is a known issue or would it help if I ask QAs to test it and then open a ticket if they can repro? Is this at all related to the ticket open here: https://mattermost.atlassian.net/browse/MM-10573?

[2018-06-22 15:46] sounance commented on #1799
This happens every time after launch the application. Everyone who uses mattermost from iOS on my team is in the same state. Even when uninstalling and reinstalling it will crash as well. With 1.8.0 there was no problem. Android does not have this issue.

[2018-06-22 15:52] hmhealey commented on #1756
It's the same issue as that, but this one affects the mobile app instead of the web app. I think we should file a separate ticket for this issue on mobile since it requires some more work than the web app which just needs better error text.

[2018-06-22 16:28] hmhealey commented on #1756
Thanks for the report @svelle and thanks for filing that @amyblais!

[2018-06-22 18:38] amyblais commented on #1799
FYI all, our engineers are currently figuring out a fix for this issue.

[2018-06-22 19:51] hmhealey commented on #1799
@sounance You said that this issue was affecting everyone on your team. Are you using a custom build of the mobile app or an EMM solution to manage your devices? We haven't been able to reliably reproduce the issue yet, so we're looking for anything common between people affected by it

[2018-06-22 21:12] mabushey opened #1807 "docker-compose spins up Postgress, and broken docker ps -a"
#### Summary
docker-compose does not bring up a healthy environment. Postrgess is running happy, but web_1 is pretty unhappy it cannot reach mysqladmin.

[code]

#### Environment Information

- Device Name:
- OS Version: Ubuntu 18.04
- Mattermost App Version:
- Mattermost Server Version:
mattermostdocker_db                                   latest              0f3808b4fe0a        24 minutes ago

[2018-06-23 00:29] sounance commented on #1799
@hmhealey
I appreciate your verification.
We are using the official app published in the AppStore. We do not use the custom build application.
This is the same on the server side, and we are using an official build.
The iPhone does not use a management system like EMM.MDM to intervene in the operation of the application, so it is a plain environment.

Since version 1.8.0 and earlier could be used

[2018-06-23 07:42] sadsfae opened #1812 "IOS Client prompts for password / auth half of the time it is opened."
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Mattermost client for IOS forgets it's auth when opening every other time it's opened.  Session settings are set to 365 days, session time set to 10 minutes in MM server.  Re-opening the application connects you back most of the time.

Basically every o

[2018-06-23 08:30] bkarlson commented on #1799
![image](https://user-images.githubusercontent.com/30080507/41807545-575d8e98-76fa-11e8-8ad0-12f7c3c35bcd.png)

same issue here after latest update on IOS

[2018-06-23 09:15] sadsfae commented on #1812
Additional note here:  Bouncing my `4.9.1` (Gitlab CE) server this seems to have gone away, same with the `4.10.1` (standalone).  I've also upgraded my `4.10.1` to `5.0.0` to see if that makes a difference.

I didn't see anything in logs but this has happened for multiple people on IOS only.

[2018-06-24 00:42] vRobM commented on #1799
Updated to 1.9.1 from the app store and now upon launch goes to a black screen and exits.

No error message.

[2018-06-24 13:04] enahum commented on #1802
Can you share your server config? I’m interested in the push notification part

[2018-06-24 15:46] Twilek-de opened #1814 "Android client doesn´t show previews of uploaded photos"
#### Summary
Android client doesn´t show previews of uploaded photos

#### Environment Information

- Device Name:  Android mobile
- OS Version:  7.0
- Mattermost App Version: 1.0 (Biuild 39)
- Mattermost Server Version: 5.0.0

#### Steps to reproduce
Upload a photo with the android client

#### Expected behaviour
Show thumbnail (I added a screenshot of the same chat section shown in a Ios client)

[2018-06-24 16:58] abdelrahmanrifai opened #1815 "Arabic text encoding issue on Android"
#### Summary
There an issue with Arabic text encoding on Android starting version 1.9.0, sometimes Arabic text appears correctly, however after clearing the app cache or uninstall and re-install again all Arabic text appears as following screenshot.

![mattermost](https://user-images.githubusercontent.com/4334778/41969294-3cbea29c-7a07-11e8-8745-8d9238acac6d.png)

#### Environment Information

- D

[2018-06-25 11:20] scrazy77 opened #1816 "iOS app can't type Chinese"
#### Summary
Can't type Chinese .

#### Environment Information

- Device Name: iPhone 7
- OS Version: 11.4
- Mattermost App Version: 1.9.1(Build 114)
- Mattermost Server Version: 4.7.1(Build 4.7.3)

#### Steps to reproduce
Under chat channel, switch to Chinese input method.
Then type Chinese, we should select Chinese words, but it only shows Chinese symbols :
"， 。 ？ ！ 、 … "
![img_7236 2](https://

[2018-06-25 13:19] amyblais commented on #1807
Hi @mabushey! Thank you for reporting this.

@pichouk The reporter is referring to docker, so just wanted to check in whether this is something you are familiar with?

[2018-06-25 13:20] amyblais commented on #1812
Hi @sadsfae! Thank you for reporting this.

We just published a v1.9.1 dot release which includes a fix for this issue. Would you like to help upgrade, and then let us know if you still experience the same issue?

[2018-06-25 13:23] amyblais commented on #1814
Hi @Twilek-de! Thank you for reporting this.

It is most likely that v1.0 does not yet support image previews on Android - would you like to try upgrading to a later version to see if that helps? (latest version is v1.9.1).

[2018-06-25 13:45] amyblais commented on #1816
Hi @scrazy77, thank you for reporting this 👍

Letting you know that I've reported this to our engineers as there have been other reports related to Chinese not working on 1.9 and 1.9.1, so we are looking to fix this in a 1.9.2 dot release.

I'll update you on the progress / let you know whether we need any additional information.

[2018-06-25 13:46] scrazy77 commented on #1816
@amyblais  thank you!