[2019-04-18 14:36] #1356 closed

[2019-04-18 19:00] glebtv commented on #2722
There is one already:
https://github.com/joeferraro/react-native-cookies/pull/117

Unfortunately, as per the library's readme it is unmaintained.

If you are willing to use a fork, this fixes it:
[code]

[2019-04-18 19:11] glebtv opened #2723 "Incorrect locale string for create_post.write"
create_post.write is "Write a message..." for English, but "Write to {channelDisplayName}" for all the rest of languages, and channelDisplayName is not passed from js.

This causes an error when starting app in development mode with non-english locale:
![DeepinScreenshot_select-area_20190418220930](https://user-images.githubusercontent.com/1041407/56385052-b23afb80-6226-11e9-99a1-1a5b0eb4978d.png)

[2019-04-18 22:24] #2723 closed

[2019-04-19 07:18] monkeydbobo opened #2728 "How can I see network activity in the chrome debug mode"
i wanna to debug my mobile-app by chrome, but i can't see the network activity , I have add  'global.GLOBAL.XMLHttpRequest = global.GLOBAL.originalXMLHttpRequest || global.GLOBAL.XMLHttpRequest' in the app.js. How can I see network requests in the chrome debug

[2019-04-19 12:45] glebtv opened #2729 "Android crash in production mode on master"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Android crashes in production mode build only, on Android.
Branch release-1.19 works fine
Development build works fine

Here is the log:
[crash.log](https://github.com/mattermost/mattermost-mobile/files/3098135/crash.log)

#### Environment Information

[2019-04-22 19:35] nlowe commented on #2722
A few of our users were seeing this as well. Updating to the latest version available from the app store resolved it for them.

[2019-04-23 09:29] yurastich opened #2736 "After build app I have infinity loading (splash screen)"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Issue in one concise sentence.
After build app I have infinity loading (splash screen)

#### Environment Information

- Device Name: Samsung Galaxy S8
- OS Version: 9.0
- Mattermost App Version:  1.18.0
- Mattermost Server Version: 5.9.0
![2019-04-23 12

[2019-04-23 10:32] enahum commented on #2736
@yurastich, did you follow the docs found [here](https://developers.mattermost.com/contribute/mobile/build-your-own/) to build the apps?

[2019-04-23 18:07] arcdigital commented on #2722
I'm still having this issue (where it just says status: ok) and I have the latest version of the app (released yesterday).

[2019-04-23 19:27] enahum commented on #2722
@arcdigital make sure your server url matches the SiteURL in the system console

[2019-04-23 20:33] cburn11 commented on #2729
Starting with https://github.com/mattermost/mattermost-mobile/commit/9c53852128df14e398c4d001de23b9f113069758 my release builds exhibit a similar crash.

[2019-04-23 21:51] arcdigital commented on #2722
It did, couldn't figure out how to fix it so we changed to a subdomain and it works now.

[2019-04-24 13:37] amyblais commented on #2619
Letting you know that the Jira ticket was closed since this is not supported yet.

Please share this idea on our feature request forum here: https://mattermost.uservoice.com/forums/306457-general.

[2019-04-24 13:37] #2619 closed

[2019-04-24 15:49] amyblais commented on #2729
@hmhealey ^

[2019-04-24 19:11] hmhealey commented on #2729
Are either of you running the release builds on a device where the mobile app was previously installed?  If the development build works fine, was it also ran on a device where the app was previously installed, or was that on a clean environment?

That commit changed the structure of some data in the app, and we hadn't addressed the possibility that there might be migration issues yet. If you're se

[2019-04-24 23:05] cburn11 commented on #2729
I tried on running the crashing build on a device that had just been factory reset, and the same crash occured. I then tried a release build of https://github.com/mattermost/mattermost-mobile/commit/07c2fe40a1105bfa5314e45b66f228e5dac85c17 on that same device and it did not crash.

[2019-04-25 16:50] enahum commented on #2728
we are using rn-fetch-blob for the network requests, not sure if there is a way to make them available in the chrome network tab, if you find a way please share back

[2019-04-25 17:00] ViktorVovk commented on #2729
I have the same issue. test build perfect working but release build crashed after running on a device

[2019-04-29 02:43] scottleedavis opened #2749 "iPhone doesn't display ephemeral attachment"
#### Summary
iPhone doesn't display ephemeral attachment, the iphonex 12.2 emulator does.  Apologies If I am reporting something that is already fixed in the repo, but not yet in appstore.

#### Environment Information

- Device Name: iPhoneX
- OS Version: 12.2
- Mattermost App Version: 1.18.1
- Mattermost Server Version: 5.10.0

#### Steps to reproduce
Running the above device, _not as an emulato

[2019-04-29 03:05] enahum commented on #2749
Fixed by #2710 and will be available in 1.19.0

[2019-04-29 03:10] scottleedavis commented on #2749
Thank you much.  :)

[2019-04-29 03:10] #2749 closed

[2019-04-29 16:35] steedos commented on #2729
+1

[2019-04-30 10:18] ajdev6 commented on #2662
+1 i can not use debugger too

[2019-04-30 14:27] steedos commented on #2729
It's caused by recent update of mattermost-redux, rolled back mattermost-redux before this version will working.

https://github.com/mattermost/mattermost-redux/commit/db7995a01308c85c363ccb4b50ed09fa1126ea60

[2019-04-30 22:04] glebtv commented on #2722
Since the ios part of the cookie library is now pulled into mattermost-mobile for another issue, maybe fix this one there too?

this is a one-line fix, see my first post

[2019-04-30 22:26] enahum commented on #2722
@glebtv perhaps you could submit a PR for that?

[2019-05-01 09:26] P-r-a-d-e-e-P opened #2757 "Mattermost mobile release build (signed) in android crashes on launch"
#### Summary
Mattermost mobile app crashes when run using release mode with signed build. App works fine in dev mode and in debug mode.

#### Environment Information

- Device Name: Lava Iris 60
- OS Version: Android 7.0 API 24
- Mattermost App Version: 1.18.1
- Mattermost Server Version: Screen for server link is not showing itself.

#### Steps to reproduce
Followed instructions on https://develo

[2019-05-01 13:55] amyblais commented on #2461
Closing this as this has been fixed for v1.18 release,

[2019-05-01 13:55] #2461 closed

[2019-05-01 14:00] #2522 closed

[2019-05-01 14:00] amyblais commented on #2522
Thank you for adding the feature request!

[2019-05-02 15:03] amyblais commented on #2757
@svelle Are you familiar with this error?

[2019-05-02 15:27] svelle commented on #2757
No haven't seen it yet.

[2019-05-02 17:12] enahum commented on #2757
What branch are you trying to build?

[2019-05-03 04:52] P-r-a-d-e-e-P commented on #2757
@enahum : I was trying with the Master branch code.

[2019-05-03 05:32] cburn11 commented on #2757
Sounds like https://github.com/mattermost/mattermost-mobile/issues/2729

[2019-05-03 22:26] #2729 closed

[2019-05-03 22:26] #2757 closed

[2019-05-08 09:25] sergeyzhukov commented on #2736
@yurastich you forgot to do make start in another tab

[2019-05-08 09:30] sergeyzhukov commented on #2480
@enahum I built the app from the master branch (version 1.19), lowered minSdkVersion to 23 and app runs without any issues or crashes. Able to log in, write a message, send image and etc. Haven't tested notifications.

[2019-05-12 23:23] asummers commented on #2506
Can also reproduce on Pixel 3 which runs Google's stock Android. There should be a few pixels of padding added to the bottom of the list component. Very curious which Android device the QA person tested with that they're unable to reproduce.

[2019-05-13 07:49] tmdoit opened #2788 "Table is not responsive"
#### Expected behavior
When switching between portrait and landscape table should resize to the available screen space.

#### Observed behavior
Table has fixed size which doesn't change on changing screen mode.

[2019-05-14 14:54] ewwollesen opened #2795 "Mobile app is not limiting channel name length like the webapp and desktop client"
#### Summary
Mobile app is not limiting channel name length like the webapp and desktop client do.

#### Environment Information

- Device Name: Seeing the issue in both Android and iPhone apps
- Mattermost Server Version: 5.9.1

#### Steps to reproduce
Create a channel in new channel in the desktop client or via a browser and it will limit the channel name length to 22 characters. Both iPhone and

[2019-05-14 15:45] hmhealey commented on #2788
Hi @tmdoit.

We used to have something like that, but due to limitations in React Native's layout engine, we had to make the columns of the table use a fixed width to prevent issues with wide tables ([MM-11232](https://mattermost.atlassian.net/browse/MM-11232)).

If you tap on the visible part of the table, it'll open the full table in another screen that's scrollable. Would that solve your proble

[2019-05-14 19:22] tmdoit commented on #2788
Opening the table in new window is not an issue for me. The problem is that the table is not resized to the fullscreen.
![signal-attachment-2019-05-14-211406](https://user-images.githubusercontent.com/26081817/57725832-5715f080-768e-11e9-8dae-3549a53ee38a.jpeg)
![signal-attachment-2019-05-14-211416](https://user-images.githubusercontent.com/26081817/57725833-5715f080-768e-11e9-81a5-d7e8433f343e.jp

[2019-05-15 13:22] amyblais commented on #2728
Closing this for now as there hasn't been activity on this for a while,

[2019-05-15 13:22] #2728 closed

[2019-05-15 17:02] licaon-kter commented on #2593
@amyblais Your QA hasn't repro? Still an issue in 1.19.0, clean app install.

[2019-05-15 17:06] amyblais commented on #2593
@licaon-kter The Jira ticket linked above is still open and under dev investigation.

[2019-05-15 18:43] hmhealey commented on #2788
Okay, good to know that's what you're looking for. As I mentioned above, we're still limited by React Native's layout engine, but I'll open up a Jira ticket so we can discuss if there's any improvements that we could make here.

https://mattermost.atlassian.net/browse/MM-15635

[2019-05-20 01:21] saxon-y opened #2805 "runquestion"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Issue in one concise sentence.

#### Environment Information

- Device Name:
- OS Version:
- Mattermost App Version:
- Mattermost Server Version:

#### Steps to reproduce
How can we reproduce the issue?

#### Expected behavior
Describe your issue in det

[2019-05-20 01:39] saxon-y opened #2806 "trouble running the android app"
#### Summary
I am having a trouble running the android app.

#### Environment Information

- Device Name: MI 8 Lite
- OS Version: mac 10.11
- Mattermost App Version:1.19.0
- Mattermost Server Version:no

#### Steps to reproduce
Follow the official documentation step by step in China Net

#### Expected behavior
When the android app is launched, the interface will always freeze on the startup page,

[2019-05-20 04:27] scottleedavis opened #2807 "Ephemeral interactive buttons don't trigger actions"
#### Summary
Ephemeral interactive buttons render but do not trigger ( as they do with the webapp.)

#### Environment Information

- Device Name: IPhonX
- OS Version:  12.2
- Mattermost App Version: 1.19.0
- Mattermost Server Version:  5.11.0

#### Steps to reproduce
1) Install bot test plugin https://github.com/scottleedavis/mattermost-plugin-bot-test/releases/tag/v0.1.5
2) run `/test-button-ephe

[2019-05-20 14:36] enahum commented on #2807
@scottleedavis there is a ticket for this https://mattermost.atlassian.net/browse/MM-15084

[2019-05-20 14:38] enahum commented on #2806
@dseawel can this be related to the changes you added?

[2019-05-20 14:38] #2805 closed

[2019-05-20 14:57] #2807 closed

[2019-05-20 18:18] dseawel commented on #2806
We reported issues with Android launching on 1.17 but addressed the issues in our own fork. So, no, this couldn’t be related to our changes since they didn’t make it upstream.

[2019-05-21 02:29] saxon-y commented on #2736
@yurastich I also encountered the same problem. Can you solve it before?

[2019-05-21 11:37] amarifleur opened #2809 "iOS app could not connect to development server"
#### Summary
iOS app could not connect to development server
#### Environment Information

- Device Name:  iPhone Simulator
- OS Version: Mac 10.14.5
- Xcode: 10.2.1
- Mattermost App Version: 1.19.0
- Mattermost Server Version: no

#### Steps to reproduce
Clone code from repo
Build the iOS code with node v10.15.3 and npm 6.4.1.
Run from Xcode or from command line with make run-ios

#### Expected b

[2019-05-22 07:28] sergeyzhukov commented on #2809
@amarifleur do you have running **make start** in another tab?

[2019-05-22 10:52] amarifleur commented on #2809
@sergeyzhukov  Hi, i run make clean and make run-ios again.  it not work .
when i run make start in another tab
`React Native packager server already running`

[2019-05-22 17:31] amyblais commented on #2795
Hi @ewwollesen, letting you know that I've asked our team to look at this.

Would you be open to opening a pull request to fix this?

[2019-05-22 17:48] ewwollesen commented on #2795
I would, but I'm not experienced/good enough to find where/how in the mobile app code it's creating channels and then how to put in the code to limit it. I found it in the webapp, but I wasn't able to find it here in the mobile app to add the constraint.

[2019-05-22 20:59] amyblais commented on #2809
Hi @amarifleur, this could be an issue:
The iOS Simulator deployment target is set to 7.0, but the range of supported deployment target versions for this platform is 8.0 to 12.2.99.

[2019-05-22 21:59] amyblais commented on #2809
Hi @amarifleur, it looks rather that you just need to make sure the react native packager is running.

[2019-05-23 04:44] amarifleur commented on #2809
I tried.
React native packager is still running, but app doesn't work
How can I debug this error?
`React Native packager server already running`

[2019-05-23 07:21] amarifleur commented on #2809
Thanks all, i fixed
[code]

[2019-05-23 07:21] #2809 closed

[2019-05-23 15:34] licaon-kter opened #2826 "Sliding interface stuck"
#### Environment Information
- Device Name: AOSP 9
- Mattermost App Version: 1.19.0
- Mattermost Server Version: 5.11.0

#### Steps to reproduce
Use the app, slide the left panel with Channels & Messages, at one point the team button will popup (erroneously, see #2593) and after using the app more I'd get stuck. I can't repro at will.

#### Expected behavior
Not get stuck

#### Observed behavior
!

[2019-05-23 16:44] #2806 closed

[2019-05-23 16:45] MichaelGrupp opened #2828 "App hangs/freezes when a large number of GIFs is posted."
#### Summary

A large amount of animated GIFs posted in a chat room can freeze the mobile app.

#### Environment Information

- Device Name: Honor 10
- OS Version: Android 9
- Mattermost App Version: 1.19.0
- Mattermost Server Version: 5.10.0

#### Steps to reproduce

Post a large number of animated GIF emojis and open the app. A realistic scenario is shown here:
![parrotmania](https://user-images

[2019-05-24 08:42] ssolidus commented on #2826
Can confirm, It seems that there are no bugs when the hamburger button is used to bring out and put away the menu, but when you slide it out, it seeems to slide out too far or not far enough, and then does not register inputs into the menu until you force it to back to the side.

[2019-05-24 09:20] roman-89 commented on #2828
Same problem on:

Device Name: Samsung 9 (SM-G960F)
OS Version: Android 9 (One Ui 1.0)
Mattermost App Version: 1.19.0
Mattermost Server Version: 5.10.0

[2019-05-24 11:32] mehditlili commented on #2828
Also on:
Device Name: Huawei Mate 20 (HMA-L09)
OS Version: Android 9 (EMUI 9.0.0)
Mattermost App Version: 1.19.0
Mattermost Server Version: 5.10.0

Doesn't crash but the phone gets quite laggy an can only recover by switching away from the channel that contains the GIFs.

[2019-05-27 12:12] amyblais commented on #2828
Hi @MichaelGrupp, we opened a ticket for this here: https://mattermost.atlassian.net/browse/MM-15792.

[2019-05-27 12:20] MichaelGrupp commented on #2828
Great, thanks!

[2019-05-29 13:56] amyblais commented on #2826
Hi @licaon-kter, letting you know that we haven't been able to reproduce this so far, but keeping an eye on it,

[2019-05-31 08:43] uni-x commented on #1522
@yakimant

is it all in env file?

What do you assign to provisioningProfiles for gym?

[2019-05-31 08:48] zgordan-vv opened #2851 "iOS app is not built"
#### Summary
ios app is not built

#### Environment Information

- Device Name: Macbook Air
- OS Version: macOS Mojave 10.14.5
- Mattermost App Version: 5.10
- Mattermost Server Version: 5.10

#### Steps to reproduce
I followed manual here https://developers.mattermost.com/contribute/mobile/build-your-own/ios/

#### Expected behavior
ipa file is built

#### Observed behavior
[15:40:27]: ▸ ❌  error

[2019-05-31 20:42] IzzySoft commented on #566
I currently consider removing this app from my repo again. Though I make exceptions now and then for apps exceeding the size limit (which atm is 20M, whith Mattermost using 33M), I have an aversion to trackers. The latest version added Firebase Analytics. Not just tracking but also proprietary. I'd say that doesn't make listing in the official repo easier.

@enahum @lfbrock @jasonblais can you pro

[2019-05-31 20:44] amyblais commented on #2795
Hi @ewwollesen, a fix for this has been submitted for v5.12 with this ticket: https://mattermost.atlassian.net/browse/MM-15310.

[2019-05-31 20:47] IzzySoft commented on #566
PS: Until clarification, I've disabled automated updates and rolled back to v1.18.1 in my repo.

[2019-05-31 21:05] enahum commented on #566
@IzzySoft I must say that the only reason we use Firebase at this moment in time and previously GCm  is purely because the need for push notifications and we haven’t found a way to get push notifications reliably working without this service as well as APNs for iOS.

Sadly there is no solution for this in our radar, and almost all users expect push notifications to work.

If you know of a solution

[2019-05-31 21:54] IzzySoft commented on #566
@enahum Firebase has been in there for some time, and I'm aware of that. But the latest release introduced Firebase **Analytics** as well, which is what I just complained about. Could it be you just switched from GCM to FCM and weren't aware that this step sneaks in Analytics if not explicitly prevented – so adding that wasn't intended but an accident? In that case I gladly re-enable auto-updates

[2019-05-31 21:59] enahum commented on #566
@IzzySoft we were definitely not meaning to include **Firebase Analytics** probably included by a dependency or something like that I did file a ticket to get rid of it https://mattermost.atlassian.net/browse/MM-15959

as for the push notifications thanks for the references, we will definitely look into it.

[2019-05-31 22:05] Rudloff commented on #566
We have had a working build recipe for quite some time but it always fails to build on our build server with some out of memory error:
https://f-droid.org/wiki/page/com.mattermost.rnbeta/lastbuild

No one understands why this happens and I can't reproduce it locally with a similar amount of RAM.

[2019-05-31 22:07] enahum commented on #566
@Rudloff the memory issue can be solved by adding this env var `export NODE_OPTIONS=--max_old_space_size=12000`

[2019-05-31 22:13] IzzySoft commented on #566
@enahum Great, thanks! Please ping me when a new APK without Analytics has been attached to a (new) release, I'll fetch it then ASAP.

[2019-05-31 22:31] enahum commented on #566
PR submitted to disable Firebase Analytics https://github.com/mattermost/mattermost-mobile/pull/2854

[2019-06-01 11:07] IzzySoft commented on #566
Thanks for the fast reaction ( *tapping my hat* ), I'm honestly impressed! Am curious what my scanner will say for the next version – i.e. if disabling it the way it's done will cause the relevant code not to be included (so the scanner doesn't see the analytics classes), or just not to call to it (so the scanner will still yield a warning)…

[2019-06-02 00:08] IzzySoft commented on #566
PS: Last version w/o Analytics is 1.16.1 currently – 1.17.0 introduced it (just to let you know – and in case you want to understand what might have caused the issue). I'm confused why my "watchdog" didn't bark earlier.

[2019-06-02 00:09] enahum commented on #566
That’s the moment when we switch from GCm to Firebase as GCM was being removed

[2019-06-02 00:36] IzzySoft commented on #566
Ah, then it was the usual culprit which hit so many apps (and which I already suspected above) – thanks for confirming! Ugly move by big G. Well, I reset my repo to 1.16.1 for now (to offer the "cleaner version"). As soon as the PR was merged, a new version is released and I get to know, I'll close the gap ASAP and re-enable auto-updates then.

[2019-06-04 11:29] licaon-kter commented on #2826
@amyblais I think this needs https://github.com/mattermost/mattermost-mobile/issues/2593 to be triggered, and I guess you didn't test for that (yet?) but just move the issue between teams (https://mattermost.atlassian.net/browse/MM-14697)

[2019-06-06 20:30] Azero123 opened #2869 "Hangs on logout (when disconnected)"
#### Summary
The application waits for a server response on log out even when there is no connection to the server.

#### Environment Information

- Device Name: iPhone
- OS Version: 12.1.4
- Mattermost App Version: 1.19.0
- Mattermost Server Version: commit 9b275586113e77a9e92a50344c51be064a6cd2d8

#### Steps to reproduce

1) Launch a mattermost server, connect to mattermost using the local ip.
2

[2019-06-07 13:10] southa commented on #2828
Hi @amyblais I don't think your ticket MM-15792 quite captures it.  For me the app hangs, and the only way out is Clear Application Data followed by logging back in and never looking at the problem message again.  Switching away from it is not possible.  Thought I'd mention so that ticket doesn't get filed as a won't fix.

[2019-06-07 17:43] Rudloff commented on #566
Thanks for the help! Using an environment variable did not work, but adding it to `nodeExecutableAndArgs` did the trick (similar to https://github.com/mattermost/mattermost-mobile/issues/2327#issuecomment-459432932).

(It is annoying that `max_old_space_size` is some kind of hard limit that makes Node crash instead of just making it use less memory...)

[2019-06-08 13:30] licaon-kter commented on #566
Published already, pull to refresh your F-Droid repos in client.

_(Website will be updated later)_

[2019-06-10 04:21] jnhssg opened #2873 "App cannot connect to multiple servers"
It would be a great feature if you could connect to multiple servers, because potentially multiple communities could switch to mattermost.

[2019-06-10 12:31] amyblais commented on #2873
Hi @jnhssg, would you be open to upvoting this feature request: https://mattermost.uservoice.com/forums/306457-general/suggestions/10975938-ios-and-android-apps-should-allow-multiple-server?

I'll close this issue for now as a duplicate of the above feature request issue.

[2019-06-10 12:31] #2873 closed

[2019-06-10 18:56] amyblais commented on #2795
I'll close this for now since this has been fixed for 5.12,

[2019-06-10 18:56] #2795 closed

[2019-06-11 09:41] saxon-y opened #2875 "Android apk download from play store but deviceId column in Sessions table is empty"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
The server configured according to the official documentation,version is 5.5,and download apk from play store but deviceid column in sessions table is empty

#### Environment Information

- Device Name: different android device
- OS Version: android
- M

[2019-06-11 15:46] amyblais commented on #2875
Hi @saxon-y, would you be open to upgrading your server version to the latest (v5.11) to see if that fixes the issue? If not, can you help with more details on your Android version?

[2019-06-11 17:55] amyblais commented on #2869
Hi @Azero123, what Mattermost server version are you on? Do you see any log errors in "Report a problem"?

[2019-06-11 19:45] Rudloff commented on #566
Well, the app is actually named like that in the code: https://github.com/mattermost/mattermost-mobile/blob/d1532b651eb96e7d0c129d697c24ec88169983e5/android/app/src/main/res/values/strings.xml#L2

Upstream uses a Fastlane script to change it before build: https://github.com/mattermost/mattermost-mobile/blob/d1532b651eb96e7d0c129d697c24ec88169983e5/fastlane/Fastfile#L429
We don't use Fastlane, but

[2019-06-11 19:48] licaon-kter commented on #566
Yeah, so better upstream these changes ;)

[2019-06-12 04:20] saxon-y commented on #2875
Thanks for your reply,I have upgraded the server to latest version according to your suggestion,but the problem still exists.
And I have logged in to an account on a different android device(MI 8 Lite、M971Q), and I have not found the device_id in the database, but the strange thing is that the ios device is ok.
![image](https://user-images.githubusercontent.com/49136621/59323232-5ebbca00-8d0c-11e9

[2019-06-12 04:21] saxon-y commented on #2875
Thanks for your reply,I have upgraded the server to latest version according to your suggestion,but the problem still exists.
And I have logged in to an account on a different android device(MI 8 Lite、M971Q), and I have not found the device_id in the database, but the strange thing is that the ios device is ok.
![image](https://user-images.githubusercontent.com/49136621/59323258-90349580-8d0c-11e9

[2019-06-12 04:24] saxon-y commented on #2875
@amyblais Thanks for your reply,I have upgraded the server to latest version according to your suggestion,but the problem still exists.
And I have logged in to an account on a different android device(MI 8 Lite、M971Q), and I have not found the device_id in the database, but the strange thing is that the ios device is ok.
![image](https://user-images.githubusercontent.com/49136621/59323383-0a651a00

[2019-06-12 12:55] amyblais commented on #2736
Closing this as there hasn't been feedback for a while from the original reporter. Please re-open this issue if the problem persists.

[2019-06-12 12:55] #2736 closed

[2019-06-12 14:45] amyblais commented on #2875
Hi @saxon-y, wondering if this earlier thread might help: https://github.com/mattermost/mattermost-mobile/issues/1687. If not, I'll ask our devs about this.

[2019-06-14 05:09] jinaoh opened #2886 "Cannot launch iOS app"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Cannot launch iOS app

#### Environment Information

- Device Name: iPhoneX
- OS Version: 12.3.1
- Mattermost App Version: 1.19.0
- Mattermost Server Version:5.11.0

#### Steps to reproduce
Launch the app

#### Expected behavior
App works.

#### Observe

[2019-06-14 06:45] saxon-y commented on #2875
@amyblais Thanks for your reply, I hope to find the answer from the link.

[2019-06-14 09:26] saxon-y commented on #2875
Hi @amyblais ,I want to use my own push service, but I don't know where I should start from.

[2019-06-14 14:58] amyblais commented on #2875
Hi @saxon-y, you can find more information on our docs here:

- https://docs.mattermost.com/mobile/mobile-faq.html#how-do-push-notifications-work
- https://docs.mattermost.com/mobile/mobile-faq.html#what-are-my-options-for-securing-push-notifications

[2019-06-14 21:20] Azero123 commented on #2869
Sure thing I was working out of commit 9b275586113e77a9e92a50344c51be064a6cd2d8 @amyblais

[2019-06-15 18:22] #2722 closed

[2019-06-17 02:14] saxon-y commented on #2875
@amyblais Thanks for your reply. The links refers to the documentation of your official push service built by GCM. I want to build a push service myself, but I don't know how to integrate it into the mattermost. I hope you can give me some advice. I will really appreciate

[2019-06-17 15:12] amyblais commented on #2886
Hi @jinaoh, what do you see happen before you are forced to quit the app? Do you see any errors in the "Report a Problem" when you see this issue?

[2019-06-17 15:16] amyblais commented on #2875
Hi @saxon-y, let me know if these docs might help:
 - https://docs.mattermost.com/mobile/mobile-compile-yourself.html
 - https://docs.mattermost.com/mobile/mobile-overview.html

[2019-06-18 04:25] jinaoh commented on #2886
The app was forced to end after only the Mattermost splash screen was displayed.

[2019-06-18 08:39] saxon-y commented on #2875
Thanks for your reply, I have already read your documentation, but there seems to be no content about the push service I built. I feel that I urgently need a developer to help me solve the problem, but I don't know how to contact developer. I think you should be able to help me, I will really appreciate.

[2019-06-18 08:39] saxon-y commented on #2875
@amyblais ,thanks for your reply, I have already read your documentation, but there seems to be no content about the push service I built. I feel that I urgently need a developer to help me solve the problem, but I don't know how to contact developer. I think you should be able to help me, I will really appreciate.

[2019-06-18 21:42] enahum commented on #2875
@saxon-y just out of curiosity why do you need to build your own push notification service? and why this one https://github.com/mattermost/mattermost-push-proxy is not enough?

[2019-06-19 01:59] saxon-y commented on #2875
@enahum Most mobile devices in China cannot visit google, so GCM is unstable.I am very helpless to push notification service through Firebase.Can you give me some valuable advice?I will really appreciate.

[2019-06-19 12:50] Centzilius opened #2897 "Chat/Room slider does not fully open/close sometimes"
#### Summary
Sometimes the Chat list slider does not fully open/close.

#### Environment Information

- Device Name: Oneplus 6T
- OS Version: Android 9
- Mattermost App Version: 1.20.0 (Build 198)
- Mattermost Server Version: 5.4.0 EE w/o License

#### Steps to reproduce
It's kind of tricky but it happens sometimes on day to day usage. Please see the video attached.
https://youtu.be/vEemTlhZ-aA

#

[2019-06-19 18:10] amyblais commented on #2875
Hi @saxon-y, here is a link to a F-Droid project that some members of our community have forked, which does not rely on Google Play for notifications: https://github.com/mattermost/mattermost-mobile/issues/566. Would this be something you are able to consider?

[2019-06-19 18:30] amyblais commented on #2897
Hi @Centzilius, this might be similar to https://github.com/mattermost/mattermost-mobile/issues/2826 which we haven't been able to reproduce so far internally.

Would you be open to testing this on a recent server version (such as v5.11 or v5.12)? Do you see any errors in "Report a Problem"?

[2019-06-19 19:32] enahum commented on #2875
@saxon-y these are the facts:
* The app in the Android Play Store uses firebase to receive push notifications
* The current push proxy server connects to firebase to send the push notifications
* The mattermost server sends a payload to the push proxy with the notification to be sent.

I believe that you'll need to make changes in the mobile app and the push proxy to use something else other than

[2019-06-20 17:29] somenet opened #2905 "Sometimes not all posts are displayed in threadview."
#### Summary
Sometimes the threadview in the mobile app wont display all posts in a thread and closing threadview is required to read those posts.

#### Environment Information
- Device Name: N/A
- OS Version: Android Pie
- Mattermost App Version: 1.20.0
- Mattermost Server Version: 5.12

#### Steps to reproduce
Heisenbug. It doesnt happen allways, but it happened a few times now.

#### Expected b

[2019-06-20 17:53] enahum commented on #2905
@somenet thanks for the report, we are cutting a dot release to be deployed really soon that will take care of this issue.

probably in a day or two

[2019-06-20 18:07] somenet opened #2906 "Channellist sorted inconsistently."
#### Summary
Since the update to 1.20.0 the channel list is sorted inconsistently to the webapp, which causes confusion.

#### Environment Information
- OS Version: Android Pie
- Mattermost App Version: 1.20.0
- Mattermost Server Version: 5.12.0

#### Steps to reproduce
Create Channels named
+ ``~Test``
+ ``Test2``
+ ``#Test3``
+ ``(T)est4``

#### Expected behavior
Channels to be sorted in webapp

[2019-06-21 13:47] Centzilius commented on #2897
Hi @amyblais,
In contrast to #2826 I do not have to force close the app for it to become unstuck.
Regarding the server version I've updated the Martermost Server to 5.12 (I think yesterday) and still experience this issue although I'll try later today to reproduce it on pre-release.mattermost.com. The "Report a Problem" button did not indicate an error related to this (only to a different issue).

[2019-06-21 15:18] amyblais commented on #2096
Closing via https://github.com/GantMan/jail-monkey/pull/36

[2019-06-21 15:18] #2096 closed

[2019-06-21 15:24] #2476 closed

[2019-06-21 15:30] amyblais commented on #2706
Hi @unistylist, the ticket was closed as we haven't been able to reproduce this anymore, are you still experiencing this issue on v1.20?

[2019-06-21 16:17] amyblais commented on #2906
Ticket here: https://mattermost.atlassian.net/browse/MM-16532.

[2019-06-22 10:48] atomekk opened #2911 "Channel sidebar remains open on mobile device"
#### Summary
Channel sidebar remains open on mobile device can't hide it which makes it unusable in portrait orientation of device.

#### Environment Information

- Device Name: moto g(7)
- OS Version: Android 9
- Mattermost App Version: 1.20.0

#### Steps to reproduce
In device portrait orientation channel sidebar remains open no ability to hide it.

#### Expected behavior
Channel sidebar should

[2019-06-22 13:35] enahum commented on #2911
@atomekk for some reason your phone is being detected as a tablet :S

[2019-06-22 21:13] markmaas commented on #2911
I have the same issue with the same phone. Can we set it to mobile version manually?

[2019-06-22 21:40] enahum commented on #2911
do you know what is the size of that phone?

[2019-06-22 21:44] enahum commented on #2911
For some reason the app is detecting your diagonalSizeInches to be above 6.9

[2019-06-23 19:18] atomekk commented on #2911
According to spec it is:
Screen: 6.2" IPS LCD, 1080 x 2270px resolution (19:9); ~405 ppi.

Such option should be controlled by user settings and not unreliable auto detect IMHO.

[2019-06-23 19:39] enahum commented on #2911
really strange as
[code]

diagonalSizeInches ~6.2

[2019-06-23 20:03] lunarthegrey commented on #2911
I have a Motorola G7 as well, running Android 9 and experiencing the same issue. Referred to this issue via https://twitter.com/Mattermost/status/1142874791554273280

The issue started after installing the 2 latest updates I believe.

[2019-06-24 10:29] markmaas commented on #2911
Version 1.19.0 works fine btw.

[2019-06-24 11:10] atomekk commented on #2911
It works fine on 1.19.0 because new update was introduced in 1.20.0 https://github.com/mattermost/mattermost-mobile/blob/master/CHANGELOG.md#tablet-improvements

[2019-06-24 15:24] amyblais commented on #2886
@jinaoh, are you able to reproduce this also on v1.20 version? Do you see any errors in the "Report a Problem" when this issue occurs?

[2019-06-24 17:18] amyblais commented on #2851
Hi @zgordan-vv, apologies for late reply. I encourage posting this issue on our [Mobile apps channel](https://community.mattermost.com/core/channels/native-mobile-apps) on our community server and one of our developers or other community members will be able to help with this.

[2019-06-24 17:44] amyblais commented on #2905
Closing as this has been fixed in the dot release,

[2019-06-24 17:44] #2905 closed

[2019-06-24 17:54] amyblais commented on #2675
Hi @yakimant, did the comment from ``csduarte`` in the pull request help or are you still experiencing this issue?

[2019-06-24 17:57] amyblais commented on #2636
Hi @txnathrt, was this issue resolved or do you need further help here? If you need further help, I recommend posting this issue on our [Mobile apps channel on our community server](https://community.mattermost.com/core/channels/native-mobile-apps) and one of our devs or other community members will be able to help.

[2019-06-24 18:57] amyblais commented on #2346
Hi @samnazarko, the other issue was closed a while ago, let me know if you are still experiencing this issue and need further help with this and we can re-connect with our devs.

[2019-06-25 02:29] carlocanlas opened #2921 "[Android] Push notifications not working"
#### Summary
Unable to receive any type of push notification in Android App.

#### Environment Information
- Device Name: Nokia 7 Plus
- OS Version: Android 9 Pie
- Mattermost App Version: 1.20.1
- Mattermost Server Version: 4.10.0

#### Expected behavior
Expecting to receive push notifications

#### Observed behavior
No push notifications are reaching the device, regardless id using mobile data o

[2019-06-25 12:32] amyblais commented on #2921
Hi @carlocanlas, would you be open to posting your push notification settings as well as take a look at our troubleshooting doc: https://docs.mattermost.com/mobile/mobile-troubleshoot-notifications.html?

[2019-06-25 15:09] amyblais commented on #2405
Hi @mgrebenets, was this issue resolved earlier? If not, I encourage joining our [Mobile apps channel on our community server](https://community.mattermost.com/core/channels/native-mobile-apps) and our devs or other community members will be able to help.

[2019-06-25 20:40] enahum commented on #2911
Hey guys, I've built a quick app to get the screen metrics to see if there is something weird going on on those devices.

I've uploaded the apk in the Mattermost community server and you can access the [permalink here] (https://community.mattermost.com/core/pl/utqwrg8m53nsmxbk1xiawfr63c). It would be great if you can download, install and share a screenshot or the values that you get in the same t

[2019-06-26 04:17] ReDetection opened #2928 "Please revise your release flow"
#### Disclaimer

This is the fourth time I review this text and I try to make it as calm as possible and remove all the hate speech. I appreciate the work you've done to make this app a reality and have no expectations, but I have a suggestion for your team to consider.

#### Summary

Being a company who run our own mattermost instance and have our own push server with own app and own push certifi

[2019-06-26 08:09] ThiefMaster commented on #2928
Assuming they are using the same flow as used in webapp/server, a `git rebase --onto` might help you!

For example, to apply my changes to 5.12.0, after they've been on 5.10.0, I use `git rebase --onto v5.12.0 v5.10.0`.

[2019-06-26 16:38] atomekk commented on #2911
@enahum
![image](https://user-images.githubusercontent.com/1046622/60198308-8b5dfe80-9841-11e9-8c44-25d4637ddb9c.png)

[2019-06-26 18:24] enahum commented on #2911
Thanks for this @atomekk

So looking at the results your device is actually reporting ~320ppi instead of ~405ppi as the spec mention for some reason.

obviously by doing the math with 320ppi it actually yields a 7.9" screen size instead of 6.2" which is why is being detected as a tablet.

the way we get the ppi is with this https://developer.android.com/reference/android/util/DisplayMetrics.html#x

[2019-06-26 18:48] atomekk commented on #2911
@enahum
Its brand new model from my mobile operator no custom rom not rooted.
By notch you mean that cam blended in screen on top?
![image](https://user-images.githubusercontent.com/1046622/60206417-c2d5a680-9853-11e9-8c11-73fa0743d519.png)

[2019-06-26 18:49] enahum commented on #2911
@migbot looking at this last comment from @atomekk and as per our discussion, this seems to be that the manufacturer is reporting the wrong ppi's right?

[2019-06-26 18:53] enahum commented on #2911
If that is the case we'll need to add a specific check for the device model, but I really want to try and avoid that at all costs.

[2019-06-26 18:56] atomekk commented on #2911
Why just not move that options to user setting: channel side bar fixed [x] IMHO?

[2019-06-26 19:36] olsonsp4c commented on #2911
My wife and I both also have the issue on Motorola G7 with Android Pie.

[2019-06-26 19:57] olsonsp4c commented on #2911
https://drive.google.com/file/d/12zOQnPWLejYQR1CPojQiAIfTMCqghmVj/view?usp=drivesdk

[2019-06-27 06:20] ReDetection commented on #2928
Yes, this is possible workaround and in fact I do it when there are too much of the conflicts to resolve in a reasonable time. Still, it has downsides too:
* it produces unnecessary commit duplicates – all versions would have same set of changes on top of them
* in order to keep organized, I would need to have my very own tags which basically duplicate yours but have same set of changes on top

Pl

[2019-06-27 06:27] JtheBAB commented on #2928
It was a theme yesterday at the dev meeting:
![image](https://user-images.githubusercontent.com/42135332/60242190-62775100-98b5-11e9-8fcb-4b8848d3551d.png)

[2019-06-27 14:30] enahum commented on #2928
This is the flow that we use https://developers.mattermost.com/contribute/getting-started/branching/

[2019-06-28 06:44] viralS-tuanlv opened #2937 "Migrate to androidx"
Please migrate to androidx and update new version. Thanks

[2019-06-28 07:30] harshilsharma63 opened #2938 "Documentation and examples are out of sync - again"
https://github.com/mattermost/mattermost-mobile/blob/master/fastlane/env_vars_example and https://developers.mattermost.com/contribute/mobile/build-your-own/environment-vars/ are out of sync, yet again - `NOTIFICATION_SERVICE_IDENTIFIER` this time.

There is a previously reported issue with the same theme at https://github.com/mattermost/mattermost-mobile/issues/2401

The two items were brought in

[2019-06-28 08:37] enahum commented on #2937
@viraS-tuanlv Migrating to androidx in our case requieres React Native upgrade to 0.60 that hasn’t yet been released as well as any other dependency of the project, but I’m very interested in understanding why you would want us to migrate?

[2019-06-28 08:38] enahum commented on #2938
@harshilsharma63 would you like to submit a PR?

[2019-06-28 08:45] enahum commented on #2906
Fixed by https://github.com/mattermost/mattermost-mobile/pull/2931

[2019-06-28 08:45] #2906 closed

[2019-06-28 08:54] harshilsharma63 commented on #2938
@enahum I can, but the problem here is not the out-of-sync state at present but rather the multiple occasions when this has happened. Can we expect the two items to stay in sync starting next release?

[2019-06-28 08:56] enahum commented on #2938
The PR can be to remove the sample var and just follow the documentation. Is very easy to forget about the sample vars and imo is just that “a sample”.

[2019-06-28 08:56] viralS-tuanlv commented on #2937
I cloned this project for 1 month ago, and it work fine, until today i build it and fail for androidx, and then i clone this project again at version 1.20.0 and run again it fine. So i want to know how do you fix this? other projects i have to migrate to androidx to run it.

[2019-06-28 09:00] enahum commented on #2937
Oh we saw this at some point cause react-native-device-info had a google dependency that wasn’t locked to a fix version, and that caused it to requiere androidx. Once we updated the dependency they did lock the version and so androidx is no longer required.

Does that answer your question?

[2019-06-28 13:09] viralS-tuanlv commented on #2937
oh thanks, i see

[2019-06-28 15:30] enahum commented on #2911
Hey guys @atomekk @olsonsp4c and @markmaas can I ask you to provide your exact model as it is shown in the phone preferences?

[2019-06-28 16:36] olsonsp4c commented on #2911
Moto G7 - Hardware verison PVT - Model Number XT1962-1

Scott

On Fri, Jun 28, 2019 at 9:30 AM Elias Nahum <notifications@github.com>
wrote:

[2019-06-28 18:01] enahum commented on #2911
Ok guys another POC to see if this reports `isTablet` as NO.. please let me know how it goes

The build can be found here https://community.mattermost.com/core/pl/sa4zigmsgp8zmmuh385r944krc

[2019-06-28 19:54] nils-tekampe opened #2940 "New messages are often covered behind keyboard or text field"
![IMG_0006](https://user-images.githubusercontent.com/10251788/60367693-2cd68300-99ef-11e9-88ee-65ef7297b980.jpeg)

Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
If I get a new message under iOS and open the app or switch to the channel, the message is often covered by the text field for answering.

[2019-06-29 03:44] olsonsp4c commented on #2911
That works for me!

On Fri, Jun 28, 2019, 12:01 PM Elias Nahum <notifications@github.com> wrote:

[2019-06-29 10:55] enahum commented on #2911
@olsonsp4c can you share a screenshot or the values?

[2019-06-29 13:37] olsonsp4c commented on #2911
Here you go

On Sat, Jun 29, 2019, 4:55 AM Elias Nahum <notifications@github.com> wrote:

[2019-06-30 04:21] bnelsonfs commented on #2911
Hi all.  Just got a G7 myself, so I can help test.  Looks like isTablet is still yes on the latest test app.
GitHub doesn't seem to have an attach button for the screenshots(?), but the values reported are as follows:
Pixel w=1080 h=2270
Inches w=3.4 h=7.1
DPI x=319.0 y=320.3
Diagonal 7.9"
Is tablet yes

I'll get to a real computer in a bit to upload the screenshots.  The APK version does show 1.0

[2019-06-30 04:26] enahum commented on #2911
Hi @bnelsonfs thanks for your help on this. in the above permalink there should an apk attached, and you should also see in the screen when running the app fields for Model, manufacturer and brand in addition to what you shared.

If you are using your phone to browse GitHub I really haven't tried to upload an image from there, but in your computer you should be able to do so. (no rush but when you

[2019-06-30 05:01] bnelsonfs commented on #2911
@enahum Here are the screenshots for ya.
![metricsreport](https://user-images.githubusercontent.com/7918019/60392511-97f08a00-9ac1-11e9-96ac-5b221420b76b.png)
![appdetails](https://user-images.githubusercontent.com/7918019/60392512-98892080-9ac1-11e9-95eb-85558621dff7.png)

I've opened a ticket with Lenovo with a link back to this issue as well, and let you know if anything comes of that.

[2019-06-30 15:10] enahum commented on #2911
@bnelsonfs I've built another apk adding the model to a black list to see if it is now detected as a phone instead of a tablet. The apk can be found here https://community.mattermost.com/core/pl/6g45i6rcdjrqpg448xadwe5kay can you please confirm?

[2019-06-30 17:37] nils-tekampe opened #2944 "Mattermost iOS client keeps message counter though no unread messages exist"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Under iOS (iPad and iPhone) the Mattermost app keeps showing a message counter on the home screen even though there are no unread messages left.

#### Environment Information

- Device Name: iPad Pro 11
- OS Version: 12.3.1
- Mattermost App Version: 1.2

[2019-06-30 18:40] bnelsonfs commented on #2911
Thank you again @enahum for your work here.  Here are the results from the latest build.  Unfortunately, I really need a functional phone for work, so I'm returning the phone today for a different model, and won't be able to run further tests for you.

More testing shows that ~50% of websites will display the desktop version of the site, rather than mobile, making even general browsing on the inte

[2019-07-01 17:28] amyblais commented on #2944
@nils-tekampe This issue was fixed in server v5.7.0, so I recommend upgrading your server.

[2019-07-01 17:29] amyblais commented on #2940
Hi @nils-tekampe, we opened a PR for this here: https://github.com/mattermost/mattermost-mobile/pull/2943.

[2019-07-01 17:33] nils-tekampe commented on #2940
Good to know. Thanks!

[2019-07-02 05:32] bnelsonfs commented on #2911
Lenovo directed me to the forums for support:
[code]

[2019-07-02 11:43] olsonsp4c commented on #2911
That is ludicrous

On Mon, Jul 1, 2019, 11:33 PM Bryan Nelson <notifications@github.com> wrote:

[2019-07-02 12:15] enahum commented on #2911
So it is a manufacturer issue then.. I'm really sorry guys, but everything we tried to make it work doesn;'t seem to help.

I brought up this issue with a PM and we will see how feasible is to make this an opt-in/opt-out option, probably as a help wanted ticket, so if any of you want to volunteer and help that would be awesome 😎

[2019-07-02 12:52] olsonsp4c commented on #2911
I'll help however I can

On Tue, Jul 2, 2019, 6:15 AM Elias Nahum <notifications@github.com> wrote:

[2019-07-03 01:55] hotlong commented on #2944
Sometimes the push message may missed due to network problems, If the mobile app update badge number before hide, the badge will be more accurate

[2019-07-03 06:53] nils-tekampe commented on #2944
Updating the server seems to have solved the issue. My bad.
Thanks for your support!

[2019-07-03 06:53] #2944 closed

[2019-07-03 09:33] bitdessert opened #2949 "iOS app crash in direct message"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
iOS app is crashed
-release version is 1.20.0(internal version is 1.20.1 / build number is 201)

#### Environment Information

- Device Name: iPhoneXR
- OS Version: iOS 12.3.1
- Mattermost App Version: 1.20.1
- Mattermost Server Version:.5.7

#### Steps

[2019-07-03 09:39] bitdessert opened #2950 "iOS app is not launched"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
After installing a new iOS app, I can not proceed with the app after push agreement

#### Environment Information

Device Name: iPhoneXR
OS Version: iOS 12.3.1
Mattermost App Version: 1.20.1
Mattermost Server Version:.5.7

#### Steps to reproduce
Delete

[2019-07-03 13:48] amyblais commented on #2940
Closing as this was fixed for upcoming v1.21 release,

[2019-07-03 13:48] #2940 closed

[2019-07-03 18:53] esethna commented on #2911
@bnelsonfs @olsonsp4c we've discussed increasing the required screen size for the fixed sidebar to 8" diagonal, which should be large enough to solve the issue found with the G7 (even considering the incorrectly reported screen resolution by the manufacturer). @enahum is going to build another version of the screen metrics app with this change and then we can have your help retesting to verify you

[2019-07-03 20:58] olsonsp4c commented on #2911
Thank you!
Scott

On Wed, Jul 3, 2019 at 12:54 PM Eric Sethna <notifications@github.com>
wrote:

[2019-07-04 15:41] enahum commented on #2911
@bnelsonfs @olsonsp4c @atomekk @esethna here is the build that should report that is a tablet only on 8" + screen sizes https://community.mattermost.com/core/pl/dbymxtmr5pyr3f51dqpp1qemor

please confirm if this works

[2019-07-04 16:51] amyblais commented on #2949
Hi @bitdessert, I asked our devs and they said they've not seen this before and it might be an issue on your build. Would you be able to help with more details on which instructions you followed for this?

[2019-07-04 19:59] olsonsp4c commented on #2911
Here you go!

On Thu, Jul 4, 2019, 9:42 AM Elias Nahum <notifications@github.com> wrote:

[2019-07-04 20:31] enahum commented on #2911
@olsonsp4c I don't see anything with your post other than `here you go!`

[2019-07-04 22:01] olsonsp4c commented on #2911
I attached a screenshot. Let me know if it doesn't work

On Thu, Jul 4, 2019, 2:31 PM Elias Nahum <notifications@github.com> wrote:

[2019-07-04 23:57] enahum commented on #2911
@olsonsp4c I don't see any screenshots, probably attaching files when replying to the email does not work

[2019-07-05 13:12] olsonsp4c commented on #2911
[image: Screenshot_20190704-135844.png]

On Thu, Jul 4, 2019 at 5:57 PM Elias Nahum <notifications@github.com> wrote:

ᐧ

[2019-07-05 13:14] enahum commented on #2911
@olsonsp4c hahahahaha still nothing dude.. you can either upload the image directly in Github or just report if the field for is Tablet says **No**

[2019-07-05 13:17] olsonsp4c commented on #2911
well, that is interesting! Tablet does say NO. That time I had directly
inserted the screenshot in the response! Oh well.

Scott

On Fri, Jul 5, 2019 at 7:14 AM Elias Nahum <notifications@github.com> wrote:

[2019-07-05 13:18] enahum commented on #2911
Thanks for confirming that it says No

[2019-07-06 18:04] lunarthegrey commented on #2911
Any word on the opt-in/opt-out feature? Mattermost has been unusable for a while for me :(

[2019-07-06 19:40] enahum commented on #2911
@lunarthegrey the opt-in/out feature will be a help wanted ticket, for now we added a workaround on a dot release, you can download and install the release candidate here https://releases.mattermost.com/mattermost-mobile-beta/1.20.2/204/Mattermost_Beta.apk

[2019-07-08 05:33] axemclion opened #2958 "RN App: Convert string refs to use callbacks"
## Summary
String refs are deprecated, so need to move to callbacks or `React.createRef()`. May be needed when upgrading to RN version 0.60

#### Environment Information
N/A

#### Steps to reproduce
Upgrade to RN 0.60, see that ref errors show up.

#### Expected behavior
No errors show up when app is upgraded to 0.60

#### Observed behavior
Redbox errors with RN 0.60 when string refs are used.

##

[2019-07-08 06:15] bitdessert commented on #2949
I logged in to the mobile and desktop app with same ID.
(mobile app logged in by sender@test.com / desktop app logged in by sender@test.com)

I started a conversation with the tester through the private message feature.(I started conversations on mobile and desktop with the tester. Of course, the tester id(tester@test.com) is the same.).

In that state, I send a message to the tester through the d

[2019-07-08 07:55] atomekk commented on #2911
@enahum Just installed that rc and its working OK

[2019-07-08 23:25] amyblais commented on #2949
Hi @bitdessert, would you be open to joining our community server and posting about this either in [Mobile Apps channel](https://community.mattermost.com/core/channels/native-mobile-apps) or [Peer-to-Peer help](https://community.mattermost.com/core/channels/peer-to-peer-help) channel and one of our devs or community members will probably be able to help?

[2019-07-09 04:04] bitdessert commented on #2949
I have solved it using mattermost-mobile-1.21.
In version 1.20, I replaced the mattermostbucket.m and the uploadSession.swift file.
I do not know if I need both files.
I have not tested it, but I think I only need uploadSession.swift. :)
I think the cause of this problem is a null(nil) error.

[2019-07-10 02:56] olsonsp4c commented on #2911
I can't open the file

On Sat, Jul 6, 2019, 1:40 PM Elias Nahum <notifications@github.com> wrote:

[2019-07-11 06:24] hotlong opened #2971 "UI error when iOS adjust to bigger text size"
#### Environment Information

- Device Name: iPhone X
- OS Version: 12.3.1
- Mattermost App Version: 1.20.2
- Mattermost Server Version: 5.12.0

#### Steps to reproduce
How can we reproduce the issue?
- Settings -> Display & Brightness -> Text Size
- Select the biggest text size

#### Observed behavior
What did you see happen? Please include relevant error messages and/or screenshots.

Menu text s

[2019-07-11 22:38] amyblais commented on #2971
Hi @hotlong, a fix for this will go in for v1.21 release.

[2019-07-14 10:02] greenertux commented on #2480
Could you please review the text on https://mattermost.com/download/#mattermostApps?
It states the Android App would work on "Android 8.0+" while "Android 7.0+" would be correct, right?

[2019-07-14 13:03] jasonblais commented on #2480
@greenertux Great, thanks for the catch! I'll queue the the note to be updated to Android 7+

@enahum more an FYI that iOS 10.3 is marked as supported on the README, but 11+ on our download page. I believe the intent is 11+ since earlier versions are not supported by Apple.

[2019-07-16 09:22] tgly307 opened #2978 "[Android]Badge never clear by click notification directly"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Open mattermost app by clicking notification in mobile notification bar directly will never clear the badge on app until next notification arrive.

#### Environment Information

- Device Name: HUAWEI MATE 20 pro
- OS Version: Android 9.0
- Mattermost Ap

[2019-07-16 21:08] DougParker1992 opened #2981 "Mattermost is not responsive when returning to a channel that has been previously deleted"
#### Summary
Mattermost is not responsive when returning to a channel that has been previously deleted.

#### Environment Information

- Device Name: Pixel 3 XL
- OS Version: Android 9 (Pie)
- Mattermost App Version: 1.20.2 (Build 204)
- Mattermost Server Version: 5.12.0 (Build 5.12.4)

#### Steps to reproduce
1. Create a channel named `test`.
2. Enter the `test` channel in the Mattermost mobile a

[2019-07-16 21:23] DougParker1992 commented on #2981
Actually, this was caused because I was able to delete the `town-square` channel from the CLI. I didn't realize that it was a required channel.

[2019-07-16 21:24] DougParker1992 commented on #2981
Closing this issue since it's not actually relevant.

[2019-07-16 21:24] #2981 closed

[2019-07-18 01:51] olsonsp4c commented on #2911
I did get this to work.

On Sat, Jul 6, 2019, 1:40 PM Elias Nahum <notifications@github.com> wrote:

[2019-07-18 10:14] hotlong commented on #2978
I think it should be better if mobile app use some script to updates badge when opened yes, there is a badge count in redux store, not depending on the remote push message.

[2019-07-18 14:57] RaphaSS commented on #2911
Hello guys. I'm facing this problem also on a Meizu M6 Note. The provided RC didn't work also :/

Here goes my metrics screenshot:
![image](https://user-images.githubusercontent.com/6097918/61468144-30f12300-a953-11e9-821e-4f2c6bf0c70a.png)

[2019-07-18 15:04] enahum commented on #2911
@RaphaSS this is very unfortunate and I really don't know what else can be done here as your device is reporting to have a diagonal size of 13.8" which is definitely going to be considered as a tablet.

Have you tried reaching out to the manufacturer?

[2019-07-18 15:12] RaphaSS commented on #2911
No @enahum. I haven't. I don't see how they could be of any help, actually. I wonder if the test for the phone to be considered a tablet is missing something like an additional variable? My phone is not that big to be considered a tablet haha.

I'll probably stick to an older version for a while and have a look into the code to see if I can help.

[2019-07-18 15:16] enahum commented on #2911
@RaphaSS help is always appreciate it ;)

[2019-07-19 15:07] amyblais commented on #2921
We haven't received feedback for a while so I'll close this issue for now. Please re-open this issue with additional information if the issue persists.

[2019-07-19 15:07] #2921 closed

[2019-07-19 15:15] #2405 closed

[2019-07-21 19:04] eeveefox commented on #2911
some problem on Wileyfox Swift 2 X
waiting fix

[2019-07-22 12:29] andrey-yantsen opened #3007 "Syntax highlight not working"
#### Summary

Code-blocks with defined syntax aren't highlighted on iOS app.

#### Environment Information

- Device Name: iPhone (issues exists on Android as well, checked on Samsung galaxy s8)
- OS Version: 12.1
- Mattermost App Version: 1.21
- Mattermost Server Version: 5.12

#### Steps to reproduce

Send message containing syntax highlight, e.g.

[code]

#### Expected behavior

The syntax high

[2019-07-22 13:59] enahum commented on #3007
@andrey-yantsen the syntax highlight feature was never implemented in the mobile app, would you like to work on it and submit a PR? We love contributions like this one ;)

[2019-07-22 14:13] andrey-yantsen commented on #3007
Uh... I'm not really good with React :) But I'll ask my colleagues whether anybody is interested.

[2019-07-22 14:43] enahum commented on #3007
Sounds good @andrey-yantsen thanks

[2019-07-25 23:46] lindalumitchell commented on #2593
@licaon-kter I have rediscovered the Jira ticket for this issue; apologies that it was so long ago. We have tried again to reproduce but couldn't. Is this still an active issue for you?

[2019-07-26 04:52] licaon-kter commented on #2593
Yup, still an issue on 1.21.1 w/ server 5.13.0

![archivedteams1211](https://user-images.githubusercontent.com/2282799/61926626-e67a3280-af60-11e9-87c1-59772f7808ab.jpg)

(_those last two were archived a long time ago_)

[2019-07-26 05:39] lindalumitchell commented on #2593
Thanks for the info! Turns out we just happened to repro this since my post, while investigating another bug. I'll reopen the Jira ticket and we'll track progress there. https://mattermost.atlassian.net/browse/MM-14697

Appreciate your patience and your help!

[2019-07-26 15:12] jplemaire opened #3049 "message timestamps displayed as utc0 when phone is set to gmt+7"
#### Summary
When phone is set to gmt+7 the message timestamps appears to be displayed as UTC (gmt+0), if we use other timezones such as gmt+8 or utc -4, the timestamps is properly displaying local time again.
Seems similar/related to an old issue: https://github.com/mattermost/mattermost-mobile/issues/1935

#### Environment Information

- Device Name: google pixel 3
- OS Version: android 9
- Matt

[2019-07-26 15:22] amyblais commented on #3049
Hi @jplemaire,

1. Are you by any chance currently traveling and the timezone didn't get changed correctly?
2. Does the server have the Experimental Time Zone flag enabled?

[2019-07-26 15:37] jplemaire commented on #3049
Negative, the issue was sent to us by one of our user living remotely, we tested from gmt-4 timezone, changed manually our mobile timezone reference, restarted mattermost and application timestamps display as UTC.
If we manually set anything like like gmt+8, timestamps is properly displayed as gmt+8, this only seems to affect gmt+7.

Timezone in advanced/experimental is set to false.

As such, onl

[2019-07-26 18:44] amyblais commented on #3049
Hi @jplemaire, if you turn the timezone setting to true, do you see anything different?

[2019-07-26 22:40] jplemaire commented on #3049
Hi @amyblais

No changes with the settings enabled and leaving the app mobile client timezone as "set automatically".

I enabled the Timezone experimental option to true, cleared app cache, set timezone to gmt+7, local time is currently 5:34 on phone and timestamp in application shows as 10:32.

If however I manually force it in the application to gmt+7 while disabling mobile application automatic

[2019-07-29 16:20] jasonblais commented on #2949
Thanks @bitdessert! Given the issue is resolved, would you be okay for closing the issue?

[2019-07-29 16:21] jasonblais commented on #2958
Thanks @axemclion for submitting a PR for this :) https://github.com/mattermost/mattermost-mobile/pull/2959

[2019-07-29 16:22] jasonblais commented on #2971
v1.21 release is now live and available from the app store. If you're still experiencing issues on v1.21, please let us know!

[2019-07-29 16:22] #2971 closed

[2019-07-29 23:09] jasonblais commented on #3049
Hi @jplemaire, just letting you know that @amyblais is out of office this week but will get back to you afterwards, or escalate to dev team as needed.

[2019-07-29 23:13] jasonblais commented on #2978
Hey @tgly307 @hotlong does this reproduce consistently for you? Do you belong to one or multiple teams in your Mattermost server?

[2019-07-30 02:37] tgly307 commented on #2978
@jasonblais hi, there is only one team in my sever and I belong to it. I can reproduce this issue in the latest version app(1.21.1).

[2019-07-30 08:09] shawn111 commented on #3049
@jasonblais

We have similar issue.

Server timezone: UTC+8 (CST)
Server: 5.2.0  (Build 5.2.1)

mattermost-mobile ios: 1.21.1 (Build210), good
mattermost-mobile android: 1.21.1 (Build210), bad, timezone show as UTC-6 (CST)
mattermost-mobile classic android: good

[2019-07-30 10:58] enahum commented on #2978
can you please share what launcher are you guys using?

[2019-07-30 10:58] enahum commented on #3049
Have you checked the user settings for the Timezone? does the server has the timezone setting set?

[2019-07-30 14:03] tgly307 commented on #2978
@enahum hi, I don't know the meaning of launcher you point.

[2019-07-31 17:35] esethna commented on #2911
Since the device reporting as tablet sized is out of our control and could be affecting multiple device types, we have a fix up that adds a setting to enable/disable the permanent sidebar: https://github.com/mattermost/mattermost-mobile/pull/3060

[2019-08-01 21:15] bbodenmiller commented on #2940
@amyblais still seeing this issue in 1.21 app release.

[2019-08-02 14:32] andreasarifin commented on #3049
I have similar issue. I am using latest mattermost mobile app. My OS is Android 9, Pixel 3XL. Timezone setting in my phone is set to Western Indonesian Time (UTC+7). Changing to Japan time show the correct time.

[2019-08-02 15:08] colorchestra commented on #3049
Same here. The iOS app shows timestamp in UTC, the web client correctly shows CEST.

Client: iOS 12.3.1, Mattermost 1.21.1. Timezone set to CEST (UTC+2)
Server: Debian Stretch, Mattermost 5.13.0 Timezone also set to CEST (UTC+2).

[2019-08-02 17:50] #2911 closed

[2019-08-03 12:31] pharshdev opened #3071 "Can receive only test notification"
#### Summary
Built the app from master. Set-up the firebase and MPNS with the server key from Firebase. Enabled notification on console with MPNS. Send Test notification works fine, I receive the notification. But I don't receive any notification for messages. Running signed apk.

#### Environment Information

- Device Name: Xiaomi RN4 and OnePlus 6
- OS Version: Android 8.1.0
- Mattermost App Ver

[2019-08-04 00:01] #2938 closed

[2019-08-05 18:38] jasonblais commented on #2958
As noted in the PR by Miguel, we're tracking changes via this ticket: https://mattermost.atlassian.net/browse/MM-17142

[2019-08-05 19:16] amyblais commented on #3071
Hi @pharshdev, would you be open to upgrading your server version? We require v5.9 or later version if you're on on v1.22 or other recent mobile app version. See changelog: https://github.com/mattermost/mattermost-mobile/blob/master/CHANGELOG.md#1211-release.

Have you also had a chance to take a look at our troubleshooting docs: https://docs.mattermost.com/mobile/mobile-troubleshoot-notifications

[2019-08-06 04:09] pharshdev commented on #3071
Thank @amyblais for pointing this out. Will post after the server upgrade.

[2019-08-06 05:56] Riccorbypro commented on #3049
Having a similar issue on my Xperia Z3 (Android 9.0, CarbonROM). Phone is set to UTC+2 (South African Standard Time) but all timestamps are displayed in UTC.
Using Mattermost 1.21.2, Server is Mattermost 5.12.4

[2019-08-06 09:10] PanderMusubi commented on #566
Can this issue be closed? See https://f-droid.org/en/packages/com.mattermost.rnbeta/

[2019-08-06 09:33] licaon-kter commented on #566
I'd rather not, those patches are not in this repo, right?

Also, it fails to build after 1.19.0 :(

[2019-08-06 14:01] PanderMusubi commented on #566
I have no idea. See also https://gitlab.com/fdroid/fdroiddata/blob/master/metadata/com.mattermost.rnbeta.yml Hope to see next version with merged patches in F-Droid soon.

[2019-08-06 19:23] karser commented on #1512
IMHO this feature is not important. It's easy to work around this by using the [Dual Apps](https://play.google.com/store/apps/details?id=com.app.hider.master.dual.app&hl=bg). or there is also a [feature in MIUI](https://www.youtube.com/watch?v=9U5Tnhqqn0o) that does the same out of the box.
I wish Mattermost developers joined forces with Gitlab folks and implemented Mattermost backup for GitLab Om

[2019-08-07 00:23] amyblais commented on #3049
Hi all, what is your Timezone setting set to in Mattermost > Account Settings > Display > Timezone?

Do you have this setting enabled on your server https://docs.mattermost.com/administration/config-settings.html#timezone?

[2019-08-07 04:37] aniac0105 commented on #2950
Me too.
Is there a solution?

[2019-08-07 09:05] colorchestra commented on #3049
Hi, on my Mattermost 5.13.0 installation I can't find a Timezone setting in Account Settings > Display... should it be there?

The `ExperimentalTimezone` feature is disabled.

[2019-08-07 12:19] storrgie commented on #1512
@karser classy hijack of a thread.

[2019-08-07 12:25] amyblais commented on #3049
Hi @colorchestra, this setting should be enabled to see the Timezone setting in Account Settings: https://docs.mattermost.com/administration/config-settings.html#timezone.

[2019-08-07 12:25] amyblais commented on #2940
Hi @bbodenmiller, there is a new PR open here: https://github.com/mattermost/mattermost-mobile/pull/3074.

[2019-08-09 11:28] colorchestra commented on #3049
Is this for debugging purposes, or a requirement to get the correct time shown? I don't feel really comfortable enabling a feature labelled "Experimental" on a production system...

[2019-08-09 12:33] amyblais commented on #3049
@colorchestra The timezones on your Mattermost will work properly when the timezone setting is enabled in the system console.

[2019-08-09 17:00] cburn11 opened #3095 "Android app bypasses local image proxy"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
The android app directly requests image (inline image in a message attachment) instead of using the server's image proxy.

#### Environment Information

- Device Name: Pixel 2 xl
- OS Version: 9
- Mattermost App Version: 1.21.0 (Build 204)
- Mattermost

[2019-08-12 15:42] hmhealey commented on #3095
Hi @cburn11,

Thanks for the report. It's a known issue that the mobile apps don't use the image proxy correctly in some circumstances, but I'll bring it up for discussion again to see if we can get it reprioritized.

[2019-08-13 10:01] philipborbon opened #3110 "'AutoSelectServerUrl: true' Losing config.SiteName On Resume"
#### Summary
'AutoSelectServerUrl: true' causes to loss config.SiteName on resume.

#### Steps to reproduce
1. Set `AutoSelectServerUrl: true` and `DefaultServerUrl`
2. In login screen, press home to put app in background.
3. Open App again from overview using overview button.
4. SiteName and other config is gone.

#### Environment Information
Only happens on Android.

#### Possible fixes
Commenti

[2019-08-13 23:06] amyblais commented on #3110
Hi @philipborbon, what Mattermost mobile app version are you on?

[2019-08-14 01:49] philipborbon commented on #3110
Version: `1.22.0`
Commit Hash: 21a790e820c7db67524fbd05ca74e905f181701c

[2019-08-14 22:54] amyblais commented on #3110
@enahum This seems to be an issue on master based on the comment above?

[2019-08-14 23:42] enahum commented on #3110
@amyblais please file a ticket unless @philipborbon is willing to submit a fix for it

[2019-08-15 01:17] philipborbon commented on #3110
@amyblais, I don't have the proper solution or fix for this issue.
[code]
These lines of code is there for a reason. It might be an underlying issue in `handleServerUrlChanged`.

[2019-08-15 10:06] enahum commented on #3110
@philipborbon thanks for bringing this to our attention, it is actually a bug in 1.22 so you caught it in time.

@amyblais PR here https://github.com/mattermost/mattermost-mobile/pull/3125 awaiting cherry-pick approval

[2019-08-15 12:00] amyblais commented on #3049
Hi all, we're working on a fix for this here: https://github.com/mattermost/mattermost-mobile/pull/3126.

[2019-08-15 15:25] #3110 closed

[2019-08-15 16:32] #3049 closed

[2019-08-16 13:10] somenet commented on #2905
This is again an issue in 1.21.2 (215) and server 5.13.2.

now only the first and last message of a thread gets displayed in the threadview.

[2019-08-16 13:11] somenet opened #3135 "Sometimes not all posts are displayed in threadview. -> #2905"
#2905 is still/again an issue in 1.21.2 (215) and server 5.13.2.

Now only the first and last message of a thread gets displayed in the threadview.

[2019-08-19 16:06] arjitc opened #3147 "Disabled users appearing in @mentions"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Users who are disabled appear in the auto-complete when using @ to mention a user, this does not happen in the webapp or in the desktop app.

#### Environment Information

- Device Name: OnePlus
- OS Version: Android 9.0
- Mattermost App Version: 1.21.2

[2019-08-20 04:49] Reonaydo commented on #2477
I have same problem with android application. All messages are in the previous day.
Version 1.21.2
Timezone: GMT+8

[2019-08-20 12:02] amyblais commented on #2477
@Reonaydo This issue has been fixed in upcoming v1.22 release.

[2019-08-20 15:05] DHaussermann commented on #3147
Hi @arjitc Thank you for reporting this issue. I have created an issue in our ticket tracker for this to be reviewed.

[2019-08-20 18:30] amyblais commented on #3135
Hi @somenet, would you be able to help with more details such as repro steps? Can you help update to v1.22 when it is available in the app store to see if it still repros?

[2019-08-20 19:42] DHaussermann commented on #2978
Hi @tgly307,
I'm curious if your still seeing this issue.

I believe for your version of Android, that you should be able to verify what launcher you're using by going to _Settings >> Apps>> Default Apps>> Launcher_

If you have not changed your launcher, it should say `Huawei Home`
Let me know if this helps.

[2019-08-21 00:01] tgly307 commented on #2978
@DHaussermann thx, I have check my settings.
@enahum hi, I checked my settings, it is default, `Huawei Home`.

[2019-08-21 08:57] lindy65 commented on #2978
Hi @tgly307

I tried to reproduce your issue on Huawei P30 Pro, Android 9 using Launcher "Drawer Home" (I have not changed this setting - it is the default I found when going to the setting) but am not able to reproduce.

The notification dot on the Mattermost App icon clears once I have tapped on the notification in the notification bar.  I tested on server v5.15 release branch, mobile app v1.22

[2019-08-21 10:07] tgly307 commented on #2978
HI, @lindy65 , thx for your test. My server is v5.14 and app version is v1.22. This issue is still exist. The laucher and other system settings of my phone are all default. I make some gif to show my issue.
![2](https://user-images.githubusercontent.com/25153311/63423251-731fef80-c43e-11e9-91ea-4fb32473eca4.gif)
![1](https://user-images.githubusercontent.com/25153311/63422937-e37a4100-c43d-11e9-84

[2019-08-21 10:42] lindy65 commented on #2978
Thanks @tgly307 - I wasn't sure whether you had updated to the latest server/app versions as your original report stated

Mattermost Server Version: 5.12.4

The notification icon on the Mattermost app badge disappears almost immediately for me once I've viewed the message from the push notification.  Does the badge on your app icon not disappear at all or have you perhaps waited a little while to

[2019-08-21 13:51] amyblais commented on #2593
Closing as this was fixed in v1.22.

[2019-08-21 13:51] #2593 closed

[2019-08-21 14:28] licaon-kter commented on #1356
And again for 1.22.0...

[2019-08-21 16:58] tgly307 commented on #2978
Hi @lindy65 .
When I recieve message from other user, the badge (the number of unread message) will appear on app icon when the push notification arrives, and I click the notification to open the app from notification bar, the badge will not disappear at all whether the message is read or unread, even after I click the app icon to open the app,it still there ( just like second gif in my last reply

[2019-08-21 18:11] lindy65 commented on #2978
Hi @tgly307

Thanks for the feedback and steps showing how you can get the badge on the app icon to disappear. I'm sorry, but I am not able to reproduce your issue.

I'm wondering whether it is a Launcher issue...  I do not have any other options to change my Launcher to. I only have "Drawer Home" available to choose.  Do you have any other Launcher options available to choose from?

[2019-08-21 23:15] glunardi commented on #2937
Ran into something similar (I presume). On my system, react-native updated itself to version ` "0.60.5" ` which suggests it is now released [1].

And right now, the build fails because of this:
 `mattermost-mobile/node_modules/@react-native-community/netinfo/android/src/main/java/com/reactnativecommunity/netinfo/ConnectivityReceiver.java:12: error: package android.support.v4.net does not exist`

C

[2019-08-21 23:29] glunardi commented on #2937
After spending a few seconds on this myself, I realize it is kind of a silly question, I just forced a different version number in your package.json file and it picked that up. It just moved the issue to another compatibility problem (not building/finding mattermost-redux).

[2019-08-22 01:49] tgly307 commented on #2978
@lindy65 Thanks for reply. I only have one option too. The system of Huawei P30 Pro should be same with Huawei mate 20 pro, the newest version is EMUI 9.1. I don't have any other Android 9 phone so I can't test this issue on other device. Maybe the system is different between phones in different areas?
It is so weird.

[2019-08-22 04:50] tgly307 opened #3165 "[Android] mattermost app crash when launch"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
mattermost app will crash when start it.

#### Environment Information

- Device Name: HUAWEI MATE 20 pro
- OS Version: Android 9.0
- Mattermost App Version: 1.22.0(build 221)
- Mattermost Server Version: 5.14.0

#### Steps to reproduce
1. Clean up the

[2019-08-22 05:07] JtheBAB commented on #3165
Maybe related to https://mattermost.atlassian.net/browse/MM-17971

[2019-08-22 06:04] tgly307 commented on #3165
@JtheBAB thanks for the information. I tried switch language to english, and the app will start correctly. The app will crash when switch the language setting from desktop.

[2019-08-22 06:05] JtheBAB commented on #3165
Ok then it is this bug and there will be soon a 1.22.1 that fix that.

[2019-08-22 06:25] lindy65 commented on #2978
Hi @tgly307 - yeah, it is really weird. I'm so sorry I can't help any further. Perhaps other people with a Huawei Mate 20 Pro can try to reproduce your issue and see what they find...

[2019-08-22 13:13] enahum commented on #3165
Yes there was an issue with `zh-TW` causing the app to crash, there is an already merged PR #3155 that fixes it, and we will be shipping a dot release soon.

In the meantime as a workaround you can change your language settings on the webapp/desktop to English and revert back to Chinese once 1.22.1 is out.

Sorry for the inconvenience .

Closing issue.

[2019-08-22 13:13] #3165 closed

[2019-08-22 21:02] glunardi commented on #2937
Quick update here (for myself mostly): with the master branch, I can run ```make run-android``` vanilla and with my little patches and it works fine (served up using metro), including proxy push-notification.

But when I try to ```make build-android``` it fails with mattermost-redux package not found errors and then even ```make run-android``` fails after that.

Does that ring a bell with anyone p

[2019-08-22 22:45] enahum commented on #2937
Nom is not running the prepare script of mm-redux you could do `cd node_modules/mattermost-redux && npm i`

[2019-08-23 03:02] huyp182 opened #3169 "mattermost android app error when signing in with gitlab"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
mattermost android app shows an error message when signing in with gitlab.
Error message: {"id":"api.user.authorize_oauth_user.invalid_state.app_error","message":"无效状态","detailed_error":"","status_code":400}

#### Environment Information

- Device Name:

[2019-08-23 14:49] amyblais commented on #3169
Hi @huyp182, would you be open to checking what server version you're on? v1.22 version requires being on v5.9+ server version so I just want to make sure the bug is not caused by an old server version. https://github.com/mattermost/mattermost-mobile/blob/master/CHANGELOG.md#1220-release

[2019-08-23 19:03] glunardi opened #3178 "Release build (master) fails in :app:bundleReleaseJsAndAssets"
#### Summary
Build (master) fails in :app:bundleReleaseJsAndAssets

Found https://github.com/mattermost/docs/pull/2011#discussion_r188634264
Try to apply it but that does not help. Build host is Ubuntu 16.04.6 LTS (can try something else)

As soon as ```env BUILD_FOR_RELEASE=true VARIANT=release``` are set, it fails to build.

Building in beta works fine and runs in metro.

#### Environment Inform

[2019-08-23 19:59] esethna commented on #2788
FYI this is opened as a Help Wanted ticket if anyone would be interested in taking this on: https://github.com/mattermost/mattermost-server/issues/11949

Closing so it can be tracked there

[2019-08-23 19:59] #2788 closed

[2019-08-23 20:53] glunardi commented on #3178
Tried a different version of nodejs and react-native cli but it does not seem to fix it. Extended the VM memory to >10GB and that does not help either.

[2019-08-24 13:05] huyp182 commented on #3169
How can I know the server version?

[2019-08-26 12:10] amyblais commented on #3169
@huyp182 On iOS you can find out your server version from Mattermost > Main Menu > Settings > About Mattermost. It should be on a very similar place on the Android app as well.

[2019-08-26 12:29] huyp182 commented on #3169
But I cannot sign in on android app, the mattermost client on windows is the newest version, 4.2.3.

[2019-08-27 02:13] huyp182 commented on #3169
Yes, it‘s desktop app.

[2019-08-27 20:44] glunardi opened #3198 "Makefile build-android runs `npm install`"
#### Summary
It seems build-android is meant to rely on `npm ci` only
but `make build-android` still runs `npm install`

#### Environment Information
mattermost-mobile master (20190827)

#### Steps to reproduce
Every time one runs `make build-android`

#### Expected behavior
There are so many version dependencies in node, react, react-native, etc... that it seems the build must rely on the provide

[2019-08-28 02:11] huyp182 commented on #3169
Mattermost 版本： 5.13.2
数据库 Schema 版本： 5.13.0
数据库： postgres

[2019-08-28 02:12] huyp182 commented on #3169
Mattermost Version： 5.13.2
Database Schema Version： 5.13.0
Database： postgres

[2019-08-29 02:33] huyp182 commented on #3169
![微信图片_20190829103122](https://user-images.githubusercontent.com/22772980/63905919-686de780-ca48-11e9-8084-9492f34db3bb.png)
That's the screenshot.

[2019-08-29 07:08] bitdessert opened #3201 "Logged out automatically - iOS app"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Logged out automatically in mattermost iOS app(ver 1.22.1)

#### Environment Information

- Device Name: iPhone Xr, simulator
- OS Version: iOS 12.4
- Mattermost App Version: 1.22.1
- Mattermost Server Version:

#### Steps to reproduce
git clone -> make

[2019-08-30 07:12] bitdessert commented on #3201
I FOUND IT!!!
There is a hard-coded part.
The code like below(in 'MMMConstants.m')
NSString *APP_GROUP_ID = @"group.com.mattermost.rnbeta";

[2019-08-30 07:12] #3201 closed

[2019-08-30 15:33] miguellara999 opened #3207 "Error certificate Letsencrypt"
#### Environment Information

- Device Name: Samsung Galaxy S8+
- OS Version: Android 8
- Mattermost App Version: 1.22.1
- Mattermost Server Version: 5.14.1

#### Expected behavior

We are testing Mattermost in a server where we installed another letsencrypt ceritficate and exist an apache running in 443 port.

The Mattermost is running on port 8065 and we set the .key file and .crt file from webg

[2019-09-01 07:42] someone-somenet-org opened #3210 "com.mattermost.custom-attributes - does not work on mobile app"
It seems that the mobile app is generally lagging behind alot.

#### Summary
No custom profile fields are displayed on the mobile app.

#### Environment Information
- Device Name: OnePlus 5t (irrelevant)
- OS Version: LOS 16 (irrelevant)
- Mattermost App Version: 1.22.1
- Mattermost Server Version: 5.14.1

#### Steps to reproduce
+ enable bundled plugins.
+ set custom profile fields.
+ verify cust

[2019-09-02 00:04] hmhealey commented on #3169
I'm not aware of any new issues here.

@huyp182 Did Android login work on mobile before? Are you using the Mattermost app from the Play Store, or did you build it yourself?

[2019-09-02 03:26] skhrshin commented on #2897
It happens on my environment too.

- Device Name: ZenFone4 Max Pro
- OS Version: Android 7.1.1
- Mattermost App Version: 1.22.1 (Build 225)
- Mattermost Server Version: 5.13.0 (Build 5.13.2)

I often see this behavior when I flick the screen from left edge to right rapidly.

[2019-09-02 11:55] somenet commented on #3135
Doesnt seem to happen anymore/did not experience it since updating to 5.14.x + 1.22.1

[2019-09-02 11:55] #3135 closed

[2019-09-02 13:50] huyp182 commented on #3169
It's the first time I use the mobile app, it's from the Play Store.

[2019-09-03 05:45] pharshdev commented on #3071
Ok server upgraded, on master now. Still can only receive test notification. Even this

`http://127.0.0.1:8066/api/v1/send_push -X POST -H "Content-Type: application/json" -d '{"type": "message", "message": "test", "badge": 1, "platform": "PLATFORM", "server_id": "MATTERMOST_DIAG_ID", "device_id": "DEVICE_ID", "channel_id": "CHANNEL_ID"}'`

with my values of course returns  `{"status":"OK"}`

and

[2019-09-03 19:14] amyblais commented on #3210
Hi @somenet, please see more details here: https://developers.mattermost.com/extend/plugins/mobile/.

[2019-09-03 23:49] amyblais commented on #3207
Hi @miguellara999, this doc might help: https://docs.mattermost.com/mobile/mobile-troubleshoot.html#i-keep-getting-a-message-cannot-connect-to-the-server-please-check-your-server-url-and-internet-connection.

[2019-09-04 00:18] amyblais commented on #3071
@pharshdev Please confirm if you have followed this documentation and please send details on your push notification settings: https://docs.mattermost.com/mobile/mobile-compile-yourself.html.

[2019-09-04 05:36] pharshdev commented on #3071
Followed all the steps in the documentation.

Mattermost-push-proxy.json
`{
    "ListenAddress":":8065",
    "ThrottlePerSec":300,
    "ThrottleMemoryStoreSize":50000,
    "ThrottleVaryByHeader":"X-Forwarded-For",
    "EnableMetrics": false,
    "ApplePushSettings":[
        {
            "Type":"apple",
            "ApplePushUseDevelopment":false,
            "ApplePushCertPrivate":"",

[2019-09-04 09:29] Gloriashield opened #3216 "Could not create new channel"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
If you select "Combine all channel types" for channel grouping, you will not be able to create new conversations or channels.

#### Environment Information
- Device Name: Galaxy S9 / iPhone SE
- OS Version: 9.0 (same, any version)
- Mattermost App Versi

[2019-09-04 15:06] amyblais commented on #3216
Thanks @Gloriashield, we opened a ticket here: https://mattermost.atlassian.net/browse/MM-18223.

[2019-09-05 03:25] Gloriashield commented on #3216
@amyblais Thank you for your quick response.

[2019-09-06 00:01] enahum commented on #2958
Fixed by #3217

[2019-09-06 00:01] #2958 closed

[2019-09-06 00:02] enahum commented on #2949
Closing

[2019-09-06 00:02] #2949 closed

[2019-09-06 04:05] Gloriashield commented on #3216
Thank you!

[2019-09-06 04:05] #3216 closed

[2019-09-06 22:44] hmhealey commented on #3169
And you can log into the server using GitLab from a browser?

Do you use the same URL to log into Mattermost on both the browser and in the mobile app? I know there's some people that use that setup, but it can cause problems sometimes

[2019-09-07 10:41] huyp182 commented on #3169
Yes, I can log in on Chrome and desktop mattermost app. The mattermost server URL is http://gitpd.appdao.com:8065.
When I log in on desktop app, it shows "错误 无效状态 返回到 Mattermost", the translation is "Error. Invalid state. Go back to Mattermost". When I click "go back to Mattermost", I log in successfully.
But on Android, it shows "{"id":"api.user.authorize_oauth_user.invalid_state.app_error","mess

[2019-09-07 22:53] Naticus opened #3229 "Links with spaces break if using formatting syntax for links"
#### Summary
Spaces in a link using the format [Text](Link) will break the link on mobile.

#### Environment Information
- OS Version: Android 9
- Mattermost App Version: 1.22.1
- Mattermost Server Version: 5.14.2

#### Steps to reproduce
How can we reproduce the issue?
Create a link such as `[test test test](https://google.com/search?q=test test test)`

#### Expected behavior
Describe your issue

[2019-09-09 13:49] hmhealey commented on #3229
Hi @Naticus,

The behaviour that you're seeing on the mobile app is actually the correct behaviour since we've been trying to standardize our Markdown to more closely match the [CommonMark](https://commonmark.org/) version used by other platforms such as GitHub. Similarly, if you paste that text in GitHub, you'll get the same behaviour as the mobile app.

If you're wanting to use spaces in a link,

[2019-09-09 13:52] Naticus commented on #3229
Damn, I was REALLY hoping you weren't going to say something like that.  One issue we're having is that we're using Autolink to create things like search links.  So for example typing in
`Google:test test test`
Will result in
`[Google Search for <test test test>](https://google.com/search?q=test test test)`

The problem I am having is that I don't know if there's a good way to play with regex wher

[2019-09-09 16:02] hmhealey commented on #3229
Perhaps something like a slash command might work better here? Writing a pattern that captures things like `Google:test test test` with spaces seems like it'd be difficult if there's any text in the post that you don't want to capture, and if that's the whole post, it might be easier to make a slash command that responds to `/google test test test` with a link instead.

Alternatively, there might

[2019-09-09 16:13] Naticus commented on #3229
Yeah I was thinking something like that with making a bunch of group designations and concatenating them with %20's.  Maybe give room for up to like 20 words.  I'll see if I can come up with a workable solution, thanks.

[2019-09-09 19:43] hmhealey commented on #3169
That's strange that you get that error message on the desktop app as well. I wouldn't expect to see that error at all. When you click "go back to Mattermost" are you already logged in, or do you have to click on the GitLab button on the login page a second time? I've seen that happen a few times when something wasn't configured correctly.

Is there perhaps a redirect occurring when you're sent bac

[2019-09-09 23:31] amyblais commented on #3071
@pharshdev For 2, would you be open to trying with one of the examples in this doc: https://docs.mattermost.com/administration/config-settings.html#id4?

[2019-09-11 04:27] huyp182 commented on #3169
When I click "go back to Mattermost" I'm already logged in, and I don't need to click on the Gitlab button a second time.
Oh, the reason is probably that the server's configuration is wrong. thanks.

[2019-09-11 04:30] huyp182 commented on #3169
When I log in http://mm.paodingai.com/login on Chrome, the error doesn't appear, when I click on Gitlab button I log in, but when on Desktop and mobile APP, it occurs.

[2019-09-11 09:36] pharshdev commented on #3071
I did try the example in the doc, no luck. New information, we haven't renewed the enterprise license(for this same notification hassle unfortunately). So currently we're running enterprise without license but that shouldn't be the problem since you the notifications work even on team-edition.

[2019-09-13 20:06] hmhealey commented on #3169
They'll be available in the Mattermost System Console under the Authentication > GitLab section. You'll want to make sure that:
1. The GitLab Site URL matches the URL that you access your GitLab instance from
2. The User API Endpoint, Auth Endpoint, and Token Endpoint should be set based off of that
![image](https://user-images.githubusercontent.com/3277310/64891581-4e372a80-d640-11e9-808a-0370228

[2019-09-16 15:56] chuttam opened #3261 "Android share textbox is small/insufficient for multi-line text"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
The text input area in the Android Share Extension window doesn't make use of all the available space, resulting in a tight/cumbersome experience when sharing multi-line text.

**Current experience**

![ezgif-5-2ab997a3f1e5](https://user-images.githubus

[2019-09-16 19:08] chuttam commented on #3261
Resolved via https://github.com/mattermost/mattermost-mobile/pull/3262

[2019-09-16 19:08] #3261 closed

[2019-09-18 05:11] licaon-kter commented on #566
Could someone take a look at the fail log? Any tips help...
https://f-droid.org/wiki/page/com.mattermost.rnbeta/lastbuild_230

[2019-09-18 23:09] amyblais commented on #3147
Closing as this will be fixed in v1.24 release, to be released on October 16th,

[2019-09-18 23:09] #3147 closed

[2019-09-19 06:39] huyp182 commented on #3169
I cannot use Mattermost System Console...

[2019-09-19 12:31] amyblais commented on #3169
@huyp182 Would you be able to contact the System Administrator on your server to check the settings?

[2019-09-20 14:57] zgordan-vv opened #3292 "Android app crashes on launch after increasing targetSdkVersion to 28"
#### Summary
Android app crashes on launch after increasing targetSdkVersion to 28

#### Environment Information

- Device Name: Nexus 5X API 28 (Simulator)
- OS Version: 9
- Mattermost App Version: 1.21.0
- Mattermost Server Version: ?

#### Steps to reproduce
Change targetSdkVersion to 28 instead of 26 in android/build.gradle

#### Expected behavior
All runs ok

#### Observed behavior
in adb log

[2019-09-21 13:07] RonakAndroid opened #3294 "In Android or any other plateform can we have direct forwarding the message to other chat recipient"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Issue in one concise sentence.

#### Environment Information

- Device Name:
- OS Version:
- Mattermost App Version:
- Mattermost Server Version:

#### Steps to reproduce
How can we reproduce the issue?

#### Expected behavior
Describe your issue in det

[2019-09-21 17:41] enahum commented on #3294
You have the option to copy the message and then you could paste it to another channel, GM or DM.

What would be the use case to forward the message as in an email client or whatsapp?

[2019-09-22 18:46] zgordan-vv commented on #3292
I see it is fixed in df3a3eb3

[2019-09-22 18:46] #3292 closed

[2019-09-23 10:21] divined commented on #2921
The same:
But -> Under System Console > General > Logging > File Log Level
I don't see any System console in my android APP. Please do screenshots for the process.

[2019-09-23 10:25] divined commented on #2921
I am not android developer. I am user with MM client. I don't have android notifications. When i click send test notification nothing happens.

[2019-09-23 16:52] amyblais commented on #2921
@divined The logs are normally are accessed via webapp/desktop. If you don't have access to the System Console you can ask your system admin to check the logs. I'd also recommend checking the push notification settings in System Console: https://docs.mattermost.com/administration/config-settings.html#push-notification-server.

[2019-09-23 19:53] divined commented on #2921
But notifications work well on desktop. It doesn't work on the mobile app only |(

[2019-09-24 06:17] RonakAndroid commented on #3294
yes, we can follow the forwarding process like whats app and email client.
do you you think it is remarkable to implement ?

[2019-09-24 17:03] yakimant opened #3305 "No buttons on client upgrade screen during first run"
#### Summary
If I install an app, which version is not latest - after choosing a server client shows and upgrade screen. But buttons are missing on it.

#### Steps to reproduce
Install a client with version higher than minimal, but lower than latest.
Enter a Server URL.
Update App screen appears.

#### Expected behavior
Should have Update and Skip buttons
![IMG_0045](https://user-images.githubuser

[2019-09-25 14:28] freerider7777 commented on #2327
I have the same problem... VM has 6GB of memory and gets out of memory error here...

[2019-09-26 14:54] l112119 opened #3331 "Can't build iOS app: "Could not find CFPropertyList-3.0.0 in any of the sources""
#### Summary
I trying to build local iOS app using instruction on https://developers.mattermost.com/contribute/mobile/build-your-own/
On the final step `make build-ios` it freezes.

#### Environment Information
- OS Version: macOS 10.13.6
- ruby 2.3.7p456
- fastlane 2.131.0
- Mattermost App Version: latest

#### Steps to reproduce
I followed by instruction: https://developers.mattermost.com/contri

[2019-09-27 08:42] #3331 closed

[2019-09-29 21:04] vernonrj opened #3350 "Text is truncated to 5 lines in certain cases."
#### Summary
Some messages aren't fully displayed on the Android mobile app in certain circumstances - they should be 6 lines long, but are only showing the first 5 lines of the message.

#### Environment Information

- Device Name: Pixel 2, Pixel 3
- OS Version: Android 10
- Mattermost App Version: Mattermost Beta 1.24.0 (Build 233), Mattermost 1.23.1 (Build 234)
- Mattermost Server Version: 5.15

[2019-09-30 08:25] enahum commented on #3350
Hi @vernonrj this is a bug in React Native on Android Q here is the issue filed in their repo https://github.com/facebook/react-native/issues/25258 most probable is that we'll need to wait until this is fixed on their end.

[2019-09-30 14:52] #3007 closed

[2019-09-30 14:53] saturninoabril commented on #3007
Thanks @cardoso for your contribution!

[2019-09-30 18:20] vernonrj commented on #3350
Yes, that is definitely the bug I'm seeing. Thanks for looking into this.

[2019-10-01 20:54] ramack opened #3355 "No notification / Polling messages"
#### Summary
When a new message come in, I don't get any notification from the mattermost beta app.

#### Environment Information

- Device Name: Xcover 4
- OS Version: Android Pie
- Mattermost App Version: 1.19.0 (Build 193)
- Mattermost Server Version: 5.2.0 (Build 5.2.1)

#### Steps to reproduce
Disable all google services.

#### Expected behavior
Notification on new messages.

#### Observed be

[2019-10-01 22:16] amyblais commented on #3355
@ramack Would you be open to updating to latest versions (mobile 1.23.1 and server 5.15) to see if you experience the same issue?

[2019-10-02 04:35] enahum commented on #3355
@ramack no polling mechanism is present and currently we are not planning to add it.

If this is a major pain point for you and you team you can consider joining our [community server](https://community.mattermost.com] and have a conversation about this to figure out the proper implementation that then you and your team could work on and contribute to the project if determined that it makes sense.

[2019-10-02 04:59] ramack commented on #3355
For sure, I'll update automatically as soon as the version is available in f-droid. Did you setup the detection of new versions correctly?

[2019-10-02 05:02] enahum commented on #3355
Latest version does not have a polling mechanism and sadly no other version will as long as it is not contributed by someone.

Also updates to f-droid are done by the community and not the mattermost team.

[2019-10-02 05:04] ramack commented on #3355
If you don't want to support devices that are free of google services want is the meaning of doing the app as free software? I can live with manual polling it will just not be as instant as what mattermost promises. My tesm is aware that mattermost is not relyable in notifications.

I mainly filed this ticket for you as an opportunity to improve, if you don't care, I don't also.

[2019-10-02 05:06] enahum commented on #3355
We never said we don’t care.. we are open to discuss it and a Pull request is more than welcome ;)

[2019-10-02 12:34] freerider7777 commented on #2327
But this is crazy, 6GB memory required to build mobile app...

[2019-10-02 21:11] enahum commented on #2327
@freerider7777 maybe you need to tweek the max-workers for gradle, if you are building in a CI consider disabling gradle daemon also you could try setting this env vars

[code]

and see if that helps

[2019-10-03 07:41] freerider7777 commented on #2327
I'm building from command line "make run-android", ok, I'll try!

[2019-10-03 09:57] ramack commented on #3355
Yes, I have seen. But it doesn't look easy to build your app, so maybe you want to help a little out, because you as developers have two options.
1) Do your best to make it as easy as possible to build for f-droid or
2) leave everything up to some poor guys trying to make your app available for people who care about really free software and/or have some concerns with google.

You didn't say that e

[2019-10-04 18:57] BastienF commented on #2639
@dbrgn , You can freely fork the docker factory I made : https://github.com/BastienF/mattermost-mobile/tree/master/factory

[2019-10-08 06:24] 00Spider47 opened #3381 "App builds successfully, but not running for iOS"
#### Summary
I am able to open files in .xcworkspace and build the app but it's getting stuck on start signalling the information that some modules are missing.

#### Environment Information

- Device Name: iOS Simulator
- OS Version: 12.1
- Mattermost App Version: Latest
- Mattermost Server Version: Latest

#### Steps to reproduce

1) Open the iOS folder and .xcworkspace.
2) Install the npm modul

[2019-10-08 06:48] enahum commented on #3381
On a terminal you can run `make dist/assets` to fix this issue. Maybe this helps https://developers.mattermost.com/contribute/mobile/developer-workflow/

[2019-10-08 07:13] 00Spider47 commented on #3381
@enahum  : Ran the command

![image](https://user-images.githubusercontent.com/45037094/66374536-e1a61600-e9c8-11e9-9b71-f2ac8f0eda05.png)

![image](https://user-images.githubusercontent.com/45037094/66374577-f682a980-e9c8-11e9-9e0d-f8299e5655c4.png)

and the folder is generated

![Screen Shot 2019-10-08 at 12 42 01 PM](https://user-images.githubusercontent.com/45037094/66374657-15813b80-e9c9-11e9

[2019-10-08 07:30] enahum commented on #3381
@00Spider47 is it the same issue? have you tried running the packager in the terminal as well? what about using `npm start -- --reset-cache` just to be sure. Also I would recommend not installing the pods or npm directly but running either `make start` or `make pre-run`.

[2019-10-08 07:50] 00Spider47 commented on #3381
@enahum : Restarted the packager and ran the build from xcode.Got it working now
![Simulator Screen Shot - iPhone XR - 2019-10-08 at 13 20 36](https://user-images.githubusercontent.com/45037094/66377058-70696180-e9ce-11e9-9876-d308ef1a78e3.png)

[2019-10-08 08:13] enahum commented on #3381
Perfect.

Will close the issue then. Feel free to re-open it if needed.

[2019-10-08 08:13] #3381 closed

[2019-10-08 13:47] 00Spider47 commented on #3381
Thanks a lot buddy :)

On Tue, Oct 8, 2019 at 1:43 PM Elias Nahum <notifications@github.com> wrote:

[2019-10-09 09:56] 00Spider47 opened #3392 "iOS: Bundle Url not Present"
#### Summary
Issue in one concise sentence.

#### Environment Information

- Device Name: Iphone 5c
- OS Version:  10.3
- Mattermost App Version:  Latest
- Mattermost Server Version: Latest

#### Steps to reproduce
Build the app using development profile from Xcode

#### Expected behavior
App should launch and take to domain screen

#### Observed behavior
Generates Error Message saying bundle url

[2019-10-09 12:57] mirceanis commented on #3178
was this ever fixed?

[2019-10-09 13:39] 00Spider47 commented on #3392
I was able to fix this by creating a .jsbundle and generating assets which thereafter had to be added to xcode.
Command Used :react-native bundle --entry-file ./index.js --platform ios --bundle-output ios/main.jsbundle --assets-dest ./ios

[2019-10-09 13:39] #3392 closed

[2019-10-11 21:03] ArnY opened #3410 "Task :app:bundleReleaseJsAndAssets : Module `mattermost-redux/actions/users` does not exist in the Haste module map"
#### Summary
When building release, during bundleReleaseJsAndAssets task, process fails with error:

[code]
The suggested solution doesn't improve anything.

#### Environment Information

- OS Version: Debian 10.0
- Mattermost App Version: master branch

#### Steps to reproduce
my env:
[code]
nodejs: 10.16.0
npm: 6.9.0

I start building with the following command
[code]

[2019-10-13 02:59] bradjones1 commented on #3331
This will occur if you install `fastlane` directly, instead of installing `bundler` first then running `bundle update && bundle install` inside the fastlane directory.

[2019-10-14 12:07] henricook opened #3416 "Pinging a mattermost instance behind Google IAP (or other authentication layer)"
#### Summary
When a mattermost instance is located behind Google's Identity-aware proxy the 'ping' endpoint gets redirected to a Google login page.

**Expected:** User sees a popup / open browser window to Google authenticate and enable transparent communication through the proxy

**Actual:** Ping fails, mattermost mobile claims the server is unconnectable

#### Environment Information

- Device N

[2019-10-14 12:15] redbaron commented on #3416
from client side, IAP is quite similar to captive portals many free WiFi hotspots use: upon request redirect occurs, where user must do some actions on a page before redirected to originally requested URL.

Difference is that captive portals registry MAC address, so it is possible to "complete" them using another app (like browser), but for  IAP there must be shared cookie storage between app and

[2019-10-16 17:55] glebtv opened #3427 "Not resizeable on samsung DeX"
#### Summary
Not resizeable on samsung DeX mode

#### Environment Information
- Device Name: Samsung s10 plus
- OS Version: Android 9
- Mattermost App Version: master
- Mattermost Server Version:5.15

#### Steps to reproduce
Open mattermost-mobile in samsung DeX mode

#### Expected behavior
The app is resizeable

#### Observed behavior
The app is not resizeable

#### Possible fixes
Samsung has a g

[2019-10-16 18:34] bradjones1 commented on #2639
I think an image factory might be a bit much, but regardless I will +1 here by linking to [my own build](https://github.com/bradjones1/mattermost-mobile-android-build); the CI file is for GitLab CI but it mostly uses a purpose-built Docker image and executor environment that should be easy enough to replicate using your preferred toolchain.

[2019-10-23 12:19] e-stonia commented on #2921
I have the same issue. I'm sure it's not an issue with system console as on one latest updated MatterMost Android app on Android 9 push notifications work but on my other Android 9 also latest updated MatterMost app it doesn't work.

[2019-10-23 13:32] amyblais commented on #2706
I'll close this for now as there hasn't been updates on this for a while, but I hope you will re-open this issue with additional relevant information if the problem persists,

[2019-10-23 13:32] #2706 closed

[2019-10-23 19:07] amyblais commented on #3427
Thanks, appreciate your feedback @glebtv,

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and we'

[2019-10-24 08:41] ArnY commented on #3410
am I the only one having the problem?

[2019-10-27 06:25] bezumkin commented on #3410
@ArnY I have the same problem after fetching current code from upstream

[2019-10-27 06:29] bezumkin commented on #3294
@enahum We can copy only text, but not an attachments.

Which could very handy when you work in a company and you need share one document in different chats.

[2019-10-29 16:03] tuxity opened #3488 "Sidebar slide"
#### Summary

Picking up the sidebar is kinda difficult in comparaison of Slack app since it hover the channel messages view.

#### Environment Information

- Device Name: iPhone
- OS Version: 13.2
- Mattermost App Version: 1.24.0
- Mattermost Server Version: 5.16

#### Steps to reproduce
Try to grab sidebar multiple times

#### Expected behavior
sidebar panel should appear

#### Observed behavior

[2019-10-30 20:27] glebtv commented on #3427
If I enable ""Force activities to be resizable" in Dex Labs - Mattermost window becomes resizeable and works perfectly. (If you enable it, you need to restart dex mode)

So I think all is needed is to mark it as resizeable

[2019-11-01 05:05] damodon opened #3510 "iPad physical keyboard"
On an iPad using a physical keyboard you cannot send the message by hitting enter, instead needing to tap the send button on the screen.  Hitting enter should send the message.

#### Environment Information

- Device Name: iPad Pro with smart keyboard
- OS Version: iOS12x / iOS13x
- Mattermost App Version: 1.2X
- Mattermost Server Version: unknown

#### Steps to reproduce
Connect a supported iPad

[2019-11-01 12:35] amyblais commented on #3510
@damodon There is a Help Wanted issue open for this here: https://github.com/mattermost/mattermost-server/issues/8797.

[2019-11-05 14:41] bwo commented on #1935
this still happens for me on linux. version 4.3.1.

[2019-11-08 17:16] dannyhanes opened #3532 "Profile images are not shown in Android notifications"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Profiles images are not shown in Android notifications. Also, name shown is shortname and not display name. (homeassistant vs Home Assistant)

#### Environment Information

- Device Name: Pixel 3 XL
- OS Version: 10
- Mattermost App Version: Prod (1.24)

[2019-11-08 22:12] amyblais commented on #3532
@dannyhanes Does this happen with all users or only bots?

[2019-11-08 22:16] dannyhanes commented on #3532
@amyblais seems to be with all users including bots.

[2019-11-12 07:38] Wikinaut opened #3544 "[App Version 1.24.0 (Build 239)] German text in the push notification system needs a correction"
A text inside the Push-Notification-System should be corrected, this text is apparently not part of the mattermost translation system (pls. correct me, if I am wrong):

The incorrect text is:
```Diesist eine Test-Push-Benachrichtigung```

and should be corrected to
```Dies ist eine Test-Push-Benachrichtigung.```

[2019-11-12 08:52] stezz opened #3545 "iOS app cannot open (powerpoint) attachments"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
When someone posts a Powerpoint (.pptx) attachment to a mattermost channel and I try to click on it to open it it opens the icon rather than the attachment: I see an image rather than a powerpoint.

#### Environment Information

- Device Name: iPhone XS

[2019-11-12 14:31] amyblais commented on #3545
We have a Help Wanted issue here to add support for this: https://github.com/mattermost/mattermost-server/issues/4300.

See documentation for more details: https://docs.mattermost.com/help/messaging/attaching-files.html#viewing-media.

[2019-11-12 15:07] amyblais commented on #3544
@Wikinaut What mobile app version are you on?

It seems to be already translated here and I'm not sure why it shows wrong:
 - https://translate.mattermost.com/de/mattermost/translate/web_static.po#unit=509444
 - https://github.com/mattermost/mattermost-mobile/blob/master/assets/base/i18n/de.json#L305

[2019-11-12 17:22] amyblais commented on #3532
@dannyhanes What are the following settings set to on your instance/account?

1. Account Settings>> Display>> Teammate Name Display
2. System Console > Site Configuration > Notifications > Push Notification Contents

Also, do you mean that the icon should be displaying an image and not an alphabetical letter?

[2019-11-12 18:36] stezz commented on #3545
Thanks Amy,

Great to see that there’s so much progress already on that thread 💪

What escapes my understanding though is why not to fallback to “simply
download the file” and use some other preview apps to handle the preview in
the meantime while this other gets fixed.

Seems to be a suboptimal but still a sensible solution that doesn’t cripple
the user experience.

Couldn’t find any reasoning on

[2019-11-14 12:27] ilgooz commented on #3545
Hey @stezz, I'm the guy who is working on https://github.com/mattermost/mattermost-server/issues/4300 but our focus on that one is to solve this issue for the Web version _(Webapp)_.

As I'm aware of, Mattermost's iOS and Android apps should already be launching appropriate native apps for viewing different file types.

I myself had a chance to test this on Android and it's working but I haven't t

[2019-11-14 16:34] Wikinaut commented on #3544
@amyblais You are right with your strings, I did *not* find them but these are mostly correct.
I would however suggest to add a "dot" at the end of the messages and already submitted a corresponding change on https://translate.mattermost.com/de/mattermost/translate/web_static.po#unit=509444 .

The Android App version is

App Version 1.24.0 (Build 239)
Build hash is 533c7bb3e....
EE Buld hash is eb

[2019-11-14 17:37] dannyhanes commented on #3532
@amyblais - Here are the results.

1. Show nickname if one exists, otherwise show first and last name.
2. Send full message snippet.

And yes, ideally the notification should show the image instead of the icon with an alphabetical letter.

[2019-11-14 20:07] stezz commented on #3545
Thanks Ilker for your efforts! And thanks for replying so quickly as well.

It’s hard for me to provide insights on what’s exactly happening here on my
phone .

What I can tell you however is that if I access Mattermost webview on
Safari on the same phone the same file can be downloaded (and consequently
opened with whatever app I want) while on the app it’s just not there, it
shows up simply as a

[2019-11-14 22:46] amyblais commented on #3545
One option is to check if mime types are set properly https://docs.mattermost.com/mobile/mobile-troubleshoot.html#no-image-previews-available-in-the-mobile-app.

[2019-11-15 08:51] stezz commented on #3545
Not really sure, this doesn't seem to be an issue with image previews
here, it's a powerpoint file turned into an image rather than made
available for download.

I'll ask to check anyhow. Thanks for pointing this out

Cheers
Stefano

Follow me at
https://medium.com/@stezz/
https://twitter.com/zzste
https://www.linkedin.com/in/stezz
https://www.facebook.com/stefanomosconi.stezz

On Fri, Nov 15, 201

[2019-11-15 10:00] zetaab commented on #3545
Hi

I debugged this little bit and it seems that mattermost-server do have broken mimetype handler when uploading new files.

[code]

However, that has not been always like that:

[code]

We tested this:
1) uploaded new powerpoint file with current mattermost server 5.14
2) tried to download that file with iOS client (does not work)
3) then we modified database and added `MimeType` to `application

[2019-11-15 11:14] zetaab commented on #3545
same applies to docx and excel files as well. So something is broken

[2019-11-17 02:48] amyblais commented on #3532
@dannyhanes Showing an image instead of icon would be a feature request.

The issue with the name shown is shortname and not display name can be fixed by changing Account Settings>> Display>> Teammate Name Display to "Show first and last name".

[2019-11-17 20:15] varac commented on #1512
Any updates on this, as Q4 2019 already started ?

[2019-11-17 22:02] enahum commented on #1512
Work already started but it will take time

[2019-11-18 02:27] dannyhanes commented on #3532
@amyblais Ah ok. Then consider having the profile photo as a feature request :)

As for the display name, here are my settings:
    System Console >> Users and Teams >> Teammate Name Display: Show first and last name
    Account Settings >> Display >> Teammate Name Display: Show first and last name

Here are the notifications I see from various devices. It looks like the channel name "Home Assista

[2019-11-21 00:48] amyblais commented on #3532
What is the bot's Display Name set to in Main Menu > Integrations > Bot Accounts?

[2019-11-21 10:34] paalbra opened #3589 "Android, "Critical Error Occured" crash"
#### Summary
Android app crashes at random.

#### Environment Information

- Device Name: Huawei P9, EVA-L09
- OS Version: Android 7.0
- Mattermost App Version: 1.25.0
- Mattermost Server Version: 5.17.0

#### Steps to reproduce
1. Use the app as normal
2. Close the app
3. Reopen the app

#### Expected behavior
No crashes.

#### Observed behavior
Sometimes the app has crashed. I haven't been able

[2019-11-21 13:36] atikhonchuk commented on #3589
We have errors too, two users send me notifications that they have this error at different devices by android 7

[2019-11-21 13:40] atikhonchuk commented on #3589
We cleared cache, reinstalled application, but problem wasn't decide

[2019-11-21 13:51] dannyhanes commented on #3532
![home_assistant_mattermost](https://user-images.githubusercontent.com/3778687/69343698-13eb9a00-0c3c-11ea-9b4c-b12f14930d7b.PNG)

[2019-11-21 14:39] atikhonchuk commented on #3589
Device Name:  redmi note 4
OS Version: Android 7.0
Mattermost App Version: 1.25.0
Mattermost Server Version: 5.15.0

[2019-11-22 07:57] swallowave opened #3598 "json string of submission of checkbox element"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
when submitting interactive dialog via android/ios app v1.25b245, the json string of submission of checkbox element expected to be json-bool or -null value e.g. ..,"element-name"=true/false/null,.. , but we got a regular json-string value like  ..,"elem

[2019-11-22 13:32] amyblais commented on #3589
Hi @paalbra, can you help test the fix that was done for this (https://github.com/mattermost/mattermost-mobile/pull/3590) on mobile app build number 247 (we don't have Android 7 to test the fix).

You can become a beta tester via https://play.google.com/apps/testing/com.mattermost.rnbeta.

[2019-11-22 13:54] paalbra commented on #3589
@amyblais Hey. I just installed Mattermost Beta, but it looks like I got build 245. Do I have to do something more to get the newer build or isn't it available through Google Play yet?

[2019-11-22 13:55] amyblais commented on #3589
I'll ask one of our product managers,

[2019-11-22 16:34] amyblais commented on #3589
One of our QAs was actually able to test the fix, so we'll be submitting 1.25.1 dot release to app stores soon.

[2019-11-25 14:34] amyblais commented on #3589
Closing this for now as 1.25.1 has been released,

[2019-11-25 14:34] #3589 closed

[2019-11-26 08:42] bitdessert opened #3606 "iOS status bar height is zero"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
The height becomes zero after closing the image preview screen.

#### Environment Information

- Device Name: iOS
- OS Version:
- Mattermost App Version: 1.25.1
- Mattermost Server Version: 5.16

#### Steps to reproduce
1. Image click in channel
2. Clic

[2019-11-26 13:24] amyblais commented on #3606
A ticket was opened here: https://mattermost.atlassian.net/browse/MM-20673.

[2019-11-27 10:46] nicolinuxfr commented on #1522
After many months without any issue, I have the same problem of signing now :

[code]

I'm using macOS Catalina with latest stable Xcode (11.2.1). I rewrote my `.env` file based [on the example](https://github.com/mattermost/mattermost-mobile/blob/master/fastlane/env_vars_example), so I don't think there are issues here.

Let me know if you need more information.

[2019-11-28 14:25] perphilip opened #3630 "Android App unable to send image "dimensions (8000 by 6000 pixels) exceed the limits""
#### Summary
The Android app was unable to post an image to the Mattermost server, apparently the image dimensions were too large.

#### Environment Information

- Device Name:
- OS Version:
- Mattermost App Version:
- Mattermost Server Version: 5.16.2

#### Steps to reproduce
Try to upload a large image in the Android App. In our case it was a photo taken on the phone with resolution 8000x6000 pi

[2019-11-28 14:31] amyblais commented on #3630
What Mattermost mobile app version are you on? What Android version are you on?

[2019-11-28 14:51] Azazeal90 commented on #3630
Mattermost app version: 1.25.1
Device name: ROG_PhoneII
Android version: 9

[2019-11-28 20:59] DHaussermann commented on #3532
Hi @dannyhanes thanks for the report. I have tested this and cannot reproduce your issue. The bot display name is correctly showing for me in the push notification both for DMs (as in your screenshot) and for mentions in other channels.

This may have been fixed in 5.17. There was a related issue where the bot display name was not appearing correctly on the mobile app channel bar. This was fixed w

[2019-12-02 03:20] ReDetection commented on #2928
Hi. I wonder did it go any further since your last message? Or maybe you have some schedule to describe some reasoning in the wiki?

[2019-12-02 05:43] JtheBAB commented on #2928
I think @enahum need to answer this

[2019-12-02 10:15] rishabhshah09 opened #3642 "Unable to run code"
Unable to run code getting below errors

error: bundling failed: Error: Unable to resolve module `./dist
/assets/config` from `index.js`:

None of these files exist:
  * dist/assets/config(.native|.android.js|.native.js|.js|.android.json|.native.json|.json|.android.ts|.native.ts|.ts|.android.tsx|.native.tsx|.tsx)
  * dist/assets/config/index(.native|.android.js|.native.js|.js|.android.json|.native

[2019-12-02 10:21] enahum commented on #3642
Does this happen if you follow the docs?

Anyway, you could run `make dist/assets`. The previous command should be implicitly called by `pre-run`, `start` or `build*`

[2019-12-02 10:25] rishabhshah09 commented on #3642
Thanks, @enahum,

It is working

[2019-12-02 10:25] #3642 closed

[2019-12-02 10:25] eni23 opened #3643 "Cannot download Libreoffice documents on iOS App"
## Summary

Users cannot download Libreoffice Documents on the iOS Mattermost app.
Its about the following MIME-Types:

[code]

#### Environment Information

- Device Name: Apple iPad Pro
- OS Version: 12 and 13, both tested
- Mattermost App Version: 1.25.1
- Mattermost Server Version: 5.9 E20

#### Steps to reproduce
Attach a Libreoffice document. It cannot be downloaded or viewed

#### Expected

[2019-12-02 14:46] amyblais commented on #3545
I asked our devs about this and they said that this issue is related to a bad server config.

[2019-12-02 15:13] amyblais commented on #3643
@eni23 We have a few tickets open for this here:
 - https://mattermost.atlassian.net/browse/MM-20231
 - https://mattermost.atlassian.net/browse/MM-13320

[2019-12-02 18:18] amyblais commented on #2928
I asked our devs about this and they said that having merge conflicts was a known issue when we decided to adopt this branching policy.

A workaround is that you can rebase your branch instead of merge the following release's branch to avoid merge conflicts. I can open a doc PR to update the existing documentation with this tip.

[2019-12-03 09:11] hanzei commented on #3598
Thanks for the report @swallowave :+1:

I've observed this behaviour a while ago, but wasn't able to reproduce it. I will reopen our internal JIRA ticket for this and we will investigate. I might reach out you if I fail to reproduce the bug. You can find the ticket at https://mattermost.atlassian.net/browse/MM-17519

[2019-12-04 03:15] swallowave commented on #3598
1. submit from android/ios client v1.25
![Screenshot_20191204-110509_Mattermost](https://user-images.githubusercontent.com/7712032/70109263-5a061c00-1686-11ea-93e7-4d245095537b.jpg)
![20191204_104913](https://user-images.githubusercontent.com/7712032/70109323-802bbc00-1686-11ea-8474-5d0c7a5d00ba.jpg)

2. submit from android client "Mattermost Classic" or PC Browser
![Screenshot_20191204-110535_Mat

[2019-12-08 11:14] GolfSierra opened #3674 "Connexion with the beta takes more than a minute"
#### Summary
Connexion with the beta takes more than a minute.

#### Environment Information
- Device Name: Android (same problem on several devices)
- OS Version: Android 9
- Mattermost App Version: 1.26 build 249
- Mattermost Server Version: 5.17.1

#### Steps to reproduce
launch the app on the mobile

#### Expected behavior
connection in less than 3 seconds (as all previous beta or even last st

[2019-12-09 11:58] acostroma opened #3675 "Can't send message with smiles on iOS in case I use Gboard keyboard"
#### Summary
Can't send message on iOS

#### Environment Information

- Device Name: iPhone 6, iPhone SE
- OS Version: iOS 12.4.3, latest iOS 13
- Mattermost App Version: 1.25.1 (Build 247), 1.26.0 (Build 249)
- Mattermost Server Version: 5.16.0 (Build 5.16.3)

#### Steps to reproduce
1 Try to send message
2 Always get 'Unable to send your message'
(sometimes I can send 1 message, but I can never

[2019-12-09 12:24] enahum commented on #3675
@acostroma have you verified your internet connection? is the server reachable? this looks like a connectivity issue more than anything else.

[2019-12-09 12:31] acostroma commented on #3675
@enahum it's ok with internet connection.
I receive messages with no problems.
This issue reproduces on WiFi & cellular data.

[2019-12-09 12:32] enahum commented on #3675
@acostroma does it reproduces to anyone else on your team? are there any logs on the server ?

[2019-12-09 18:10] tuxity commented on #3488
Fixed here https://github.com/mattermost/mattermost-mobile/pull/3622

[2019-12-09 18:10] #3488 closed

[2019-12-10 09:02] urbels commented on #3674
Same issue. Tried to clear data. First login was slow but successful but after that same issue with white screen again.

[2019-12-10 13:42] amyblais commented on #3674
Fix: https://github.com/mattermost/mattermost-mobile/pull/3677.

[2019-12-11 10:55] enahum commented on #2828
This issue has been resolved

[2019-12-11 10:55] #2828 closed

[2019-12-11 11:16] MichaelGrupp commented on #2828
Awesome!! Thanks a lot guys!

[2019-12-11 14:08] amyblais commented on #3674
Closing as build 250 has been released for beta testers,

[2019-12-11 14:08] #3674 closed

[2019-12-12 07:14] acostroma commented on #3675
The issue reproduces on the latest beta (1.26.0 b249) :(

[2019-12-12 11:07] R0one opened #3694 "Button for desktop notifications is called "email""
#### Summary
The button for setting the desktop notifications settings is called "email address" and has an email icon.

#### Environment Information

- Device Name: Xiaomi Mi 9T
- OS Version: Android 9 PKQ1
- Mattermost App Version: 1.25.1 build 247
- Mattermost Server Version: 5.16.0

#### Steps to reproduce
(translated from french)
* three little dots menu on the top right
* settings
* notifica

[2019-12-12 11:21] enahum commented on #3675
@acostroma my friend I think you’ll need to provide much more detail in order for us to try and get to the root cause. As you would understand your issue is about the core functionality of the product and would’ve become a red flag for the app and wouldn’t ship.

Please try and provide as much detail as you can including server deployment etc...

[2019-12-12 11:29] acostroma commented on #3675
@enahum maybe you have an article describing the best way to gather as much information as possible?

[2019-12-12 12:07] svelle commented on #3675
@acostroma there's not really a guide but you can go through these questions: https://docs.mattermost.com/process/support.html#general-questions-for-any-issues

Any additional infrastructure info is also relevant. Like if you have a proxy like nginx in front of mattermost and the configuration files of those.

Please don't post the info here. You can send them directly to me on the mattermost comm

[2019-12-13 12:11] ahangarha opened #3701 "F-droid version is not up to date"
The app on Fdroid is not up to date.

The classic version is for a year ago and the beta version ia for six month ago. This is while the beta version on Google Play Store has been published just two days ago!

Whatbis the issue?

[2019-12-13 12:28] enahum commented on #3701
hi @ahangarha thanks for the report. The builds on F-droid are completely managed and maintained by community members, Mattermost does not directly maintain F-droid. Not even sure who is the owner of that :S

[2019-12-13 13:10] dannyhanes commented on #3532
@DHaussermann Hey, I apologize for the late reply.

I just upgraded to 5.17.1 and pushed a new notification via webhook, and here is what I am seeing.

### VERSION
<img width="608" alt="Screen Shot 2019-12-13 at 8 07 12 AM" src="https://user-images.githubusercontent.com/3778687/70802521-aa186900-1d7f-11ea-9c54-081c04fc15f7.png">

### ANDROID NOTIFICATION
![Android](https://user-images.githubuserco

[2019-12-13 15:13] ahangarha commented on #3701
Does that mean you have non-free components on your app which cannot be directly published on f-droid?

[2019-12-13 15:21] DHaussermann commented on #3532
Hey @dannyhanes,

I did not know this when I replied to you but, the issue with bot display name not updating on mobile was not properly resolved. I filed a follow-up ticket here to address the renaming issue. https://mattermost.atlassian.net/browse/MM-21066

Can you tell me more about the web app screen? Are you seeing that updates to the bot display name are not properly showing on WebApp? I don

[2019-12-13 18:23] dannyhanes commented on #3532
@DHaussermann ,

So yeah, the web screenshot I provided is showing the name "homeassistant" instead of the display name "Home Assistant" .

Also when I hover over the bot, I get the following information. Not sure if this is as intended or not.

<img width="289" alt="Screen Shot 2019-12-13 at 8 06 16 AM" src="https://user-images.githubusercontent.com/3778687/70822470-9daa0580-1dab-11ea-8a3b-541500

[2019-12-13 21:32] enahum commented on #3701
@ahangarha sadly we are using google services for notifications

[2019-12-15 21:36] wget commented on #3694
Hello everyone.

I checked on [our translation server](http://translate.mattermost.com/) and I haven't been able to locate a single string called `Email`even by filtering to the `.mobile` nodes.

![Screenshot_20191215-221509](https://user-images.githubusercontent.com/2997662/70869433-4793b880-1f8b-11ea-8b2f-ab6c8fd31b48.jpg)

[2019-12-19 11:08] jackychanfox commented on #3410
same issue. new repo doesn't include this file ```mattermost-redux/actions/users```
[code]

[2019-12-19 18:39] brettle opened #3737 "Restarted Android app hangs with white screen when switching channels even on demo server"
#### Summary
Restarted Android app hangs with white screen when switching channels even on demo server

#### Environment Information

- Device Name: OnePlus 3T (ONEPLUS A3000)
- OS Version: Android 9, OxygenOS 9.0.6
- Mattermost App Version: 1.26.0 (Updated on 12/16/29, did not experience issue before update)
- Mattermost Server Version: 5.7.0 (demo.mattermost.com)

#### Steps to reproduce
How can

[2019-12-20 08:23] philippedeoliveira commented on #3737
I got the exact same issue with Samsung S6 on Android 7

[2019-12-20 21:14] brettle commented on #3737
I hear that the issue is with the server version. The latest version of the apps require server version 5.9 or higher. We'll be upgrading our local server this weekend to see if that resolves the problem for us. Someone should probably upgrade demo.mattermost.com.

[2019-12-30 13:19] chetanyakan commented on #1522
I am also facing a similar issue with `enterprise` provisioning profiles.
Each time I want to run the build with `make build-ios`, it fails until I manually make the following changes in Xcode:
1. Select the provisioning profiles
2. Update code signing identity from the build settings.

It seems to be an issue with more recent versions of the mattermost-mobile app as I did not need these changes e

[2020-01-07 08:40] nebulade opened #3778 "Archive channel action is at the wrong position"
#### Summary
We have had a couple of accidental channel archive actions being performed, since the archive action on the Android (not sure about iOS) app is at the very bottom, while the leave channel action is at the bottom of the menu on the web application. This is even made more confusing with the menu item separator.

#### Expected behavior
Have consistency across clients to avoid accidental

[2020-01-07 09:39] till44 opened #3779 "Message "Device must be secured with a passcode" when passcode is set (iOS)"
#### Summary
Message "This device must be secured with a passcode to use Mattermost" appears on managed iOS device even though a passcode is set. (See screenshot)

![Image from iOS_](https://user-images.githubusercontent.com/1992143/71885087-eac69080-3139-11ea-836f-68c631bbf22b.png)

#### Environment Information

- Device Name: iPhone 7
- OS Version: 13.3 (managed)
- Mattermost App Version: 1.26.1

[2020-01-07 09:43] svelle commented on #3779
Hi @till44
thanks for reporting this. A fix for this has already been merged into master.
See for more info: https://github.com/mattermost/mattermost-mobile/pull/3773

We're testing it today and hope to have it released to the app stores soon with a 1.26.1 dot release.

[2020-01-07 09:48] till44 commented on #3779
Great, thank you! Looking forward to try the new release then.

[2020-01-07 11:16] deepakpawar80 opened #3780 "Mattermost is getting blocked by MobileIron on iOS devices"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Mattermost is getting blocked by MobileIron on iOS devices.
Please see the attached snapshots.
![Screenshot_2019-12-27-16-29-13-813_com whatsapp](https://user-images.githubusercontent.com/59564199/71891468-c20bbe80-316c-11ea-8380-938b3b32c995.jpg)
![Scr

[2020-01-07 11:24] JtheBAB commented on #3780
Sound like this: https://github.com/mattermost/mattermost-mobile/issues/3779#issuecomment-571512172

[2020-01-07 11:52] enahum commented on #3780
Fixed by https://github.com/mattermost/mattermost-mobile/pull/3773 and a new release will ship out soon

[2020-01-07 11:52] #3780 closed

[2020-01-07 18:40] deepakpawar80 commented on #3780
Please let me know what actions  have to take?

[2020-01-08 07:15] #3606 closed

[2020-01-08 07:15] bitdessert commented on #3606
thanks :)

[2020-01-08 07:29] bitdessert opened #3788 "Android badge number is fixed"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Android's launcher icon badge number is fixed.
It does not increase when I receive a push message.
If I check the message, it seems normal for the badge to disappear.

#### Environment Information

- Device Name: Android 9
- OS Version:
- Mattermost App

[2020-01-08 09:08] deepakpawar80 commented on #3779
Hey could you please let us know when new release will be available on app store?

[2020-01-08 09:19] KarinBerg commented on #3779
Can confirm that the bug is fixed in the Beta App :) if you need the fix fast, sign up for beta testing

[2020-01-08 09:25] till44 commented on #3779
I confirm that 1.26.2 solves the issue. Thanks!

[2020-01-08 09:25] #3779 closed

[2020-01-10 11:21] astyltsvig opened #3795 "Mattermost app wont post recorded video"
#### Summary
My OnePlus 6T wont upload/post recorded video, the video successfully records but once i click "approve", it just returns to conversation thread in mattermost without actual sending the video.

#### Environment Information

- Device Name: OnePlus 6T
- OS Version: 10.3.0
- Mattermost App Version: 1.26.2 (Build 258)
- Mattermost Server Version: 5.14.0 (Build 5.14.2) & 5.18.0

#### Steps

[2020-01-11 11:54] simonpcook commented on #3410
I'm also having this issue trying to build the app for iOS. Did any of you who had this before manage to solve it?

[2020-01-13 12:55] amyblais commented on #3795
Hi @astyltsvig, what app are you using to record the video that you're attempting to upload? It may be that the output format is not being expected and is failing silently.

[2020-01-13 15:05] deepakpawar80 commented on #3779
Hi,
Let me know this issue has been fixed and new app version has been released?

[2020-01-13 15:06] deepakpawar80 commented on #3779
Thanks for the update.
This version has been released for iOS ?

[2020-01-14 08:24] astyltsvig commented on #3795
@amyblais
It doesnt even work with regular photo upload.

[2020-01-14 12:09] Allineer opened #3811 "ToDO's checkboxes not shown"
#### Summary

ToDO's checkboxes not shown in the last beta.

#### Environment Information

- Device Name: Xiaomi Mi9SE
- OS Version: 9 PKQ1.181121.001
- Mattermost App Version: 1.27.0 (Build  257)
- Mattermost Server Version: 5.18.0 EE

![image](https://user-images.githubusercontent.com/1168049/72343348-b6297a80-36df-11ea-9991-73f33fb6e4b6.png)

[2020-01-14 14:43] svelle commented on #3779
@deepakpawar80 Yes the version has been released to the app stores already.
Alternatively you can also download the ipa file here: https://github.com/mattermost/mattermost-mobile/releases

[2020-01-15 14:12] amyblais commented on #3811
Are you using the Todo plugin from here https://github.com/mattermost/mattermost-plugin-todo/issues? Would you like to open an issue in the repo?

Plugins are not yet supported on mobile apps, not sure if that might be related to this issue.

[2020-01-15 20:55] Allineer commented on #3811
@amyblais, no, I'not.
I talk about general message formatting - https://docs.mattermost.com/help/messaging/formatting-text.html

[2020-01-15 21:18] amyblais commented on #3811
Did you format the list the same way as in the example?

[code]

[2020-01-16 00:10] amyblais commented on #3811
I'm able to reproduce this, @enahum do you know if this is supported on mobile?

[2020-01-16 00:12] amyblais commented on #3795
We submitted a fix related to this in build 259 (for upcoming v1.27 release), would you like to sign up as a beta tester to test it? https://github.com/mattermost/mattermost-mobile#testing

[2020-01-16 00:48] enahum commented on #3811
@amyblais They should work without the * at the beginning, if I’m right the behavior is the same on the webapp.

[2020-01-16 00:55] enahum commented on #3811
Correction not supported on the mobile app.

@hmhealey can you confirm?

[2020-01-16 06:23] Allineer commented on #3811
Some message from webapp:
![Screenshot_2020-01-16-09-22-22-275_com android chrome](https://user-images.githubusercontent.com/1168049/72499012-c8bbc500-3841-11ea-89e3-962167680b8b.jpg)

[2020-01-16 10:58] enahum commented on #3811
@Allineer https://github.com/mattermost/mattermost-mobile/issues/3811#issuecomment-574928535

[2020-01-16 13:29] Allineer commented on #3811
@enahum nice.

[2020-01-16 15:37] hmhealey commented on #3811
@enahum That's correct that we don't support them on mobile. There's a ticket to add that here: https://mattermost.atlassian.net/browse/MM-9375

[2020-01-17 16:22] Allineer commented on #3811
@hmhealey how about replacing checkboxes via some pictures/icons?

[2020-01-20 19:27] hmhealey commented on #3811
That would still fall under the ticket that I linked. Currently, the app can't even recognize which list items should contain checkboxes.

[2020-01-21 03:31] xRahul opened #3835 "Typing right after clicking send button doesn't clear the old message"
#### Summary
When you're sending a message to anyone, start typing right after clicking the send button and it will append to old message instead of clearing that and starting with a new one

#### Environment Information

- Device Name: Pixel 2 XL
- OS Version: Android 10
- Mattermost App Version: 1.26.2
- Mattermost Server Version: 5.19

#### Steps to reproduce
How can we reproduce the issue?
Whe

[2020-01-21 14:51] acostroma commented on #3675
@enahum @svelle I found out that issue reproduces **only** if I use smiles. Ordinary text messages work perfect!

[2020-01-21 23:43] amyblais commented on #3835
@xRahul Would you be open to testing this on v1.27.1 which will be available on the app stores in the next day or two and see if it still reproduces? You can also download an apk here if you want to: https://releases.mattermost.com/mattermost-mobile/1.27.1/260/Mattermost.apk,

[2020-01-22 03:18] xRahul commented on #3835
@amyblais sure, I'll check. I've applied for the pre-release channel as I don't have access to any other MM channel right now to test this.

[2020-01-22 08:20] Pavelioso commented on #936
I have the same issue. Is there any resolve for this? Just get the number next to the app, but no sound.

[2020-01-22 23:43] gppcff commented on #1522
In my case (version 1.27.0) the problem was in the list of bundleids indicated in the variable MATCH_APP_IDENTIFIER, it did not allow the correct execution of the cycle shown below and the consequent execution of the "update_project_provisioning":

fastfile fragment:
[code]
my new bundleid did not include the word 'MattermostShare' and did not perform the 'update_project_provisioning'.

I hope thi

[2020-01-23 03:59] xRahul opened #3846 "Timezone resets to GMT 0 after upgrading to 1.27.x"
#### Summary
For the same server, when using the app 1.27.0 or 1.27.1, the timezone in the app resets to GMT 0. Thich changes all the displayed time to reflect that and give false date time.

#### Environment Information

- Device Name: Pixel 2 XL
- OS Version: Android 10
- Mattermost App Version: 1.27.0, 1.27.1
- Mattermost Server Version: 5.19.0

#### Steps to reproduce
How can we reproduce the

[2020-01-23 04:00] xRahul commented on #3835
I've tried in the recently releaesd 1.27.1 version and ths issue is still there.

[2020-01-23 13:21] amyblais commented on #3846
@xRahul Do you have the timezone setting enabled on your server https://docs.mattermost.com/administration/config-settings.html#timezone?

[2020-01-23 16:28] nicolinuxfr commented on #1522
@gppcff

My bundleid does not include MattermostShare, so I guess this code can not work for me either.

I tried to change this line to adapt the file to the name of my `EXTENSION_APP_IDENTIFIER` but it still did not work.

What did you do on your side ?

[2020-01-23 21:30] fritojay opened #3853 "iOS Keyboard hides bottom portion of chat history"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
iOS Keyboard hides the bottom section of the chat history.

#### Environment Information

- Device Name: iPhone XS
- OS Version: 13.3
- Mattermost App Version: 1.27.1
- Mattermost Server Version: 5.17.1

#### Steps to reproduce
How can we reproduce the

[2020-01-23 23:19] amyblais commented on #3853
@fritojay We have this ticket open and aim to fix it for next release: https://mattermost.atlassian.net/browse/MM-21276.

[2020-01-23 23:48] saturninoabril commented on #3846
@xRahul Thank you for the report.  Additional question for use to replicate the issue.
- What's your timezone setting at Settings > Display > Timezone (auto/manual, timezone value)?  Did it change after upgrading to 1.27.x?  If yes, was it different from the webapp?
- Could you share screenshots on the unexpected behavior you're seeing?

[2020-01-24 03:04] xRahul commented on #3846
@saturninoabril
I do not actually see the timezone option int he app's settings. There's only Settings > Display > Clock Display that I can see.
I have recently upgraded the server from 4.7 to 5.19. Could it be due to some new settings we should set?

![Screenshot_20200124-110206](https://user-images.githubusercontent.com/1639945/73041631-1e9df780-3e56-11ea-95cd-32f497c1cb05.png)

[2020-01-24 04:05] xRahul commented on #3846
Found the setting to enable it in experimental features. Will check and confirm!

[2020-01-24 06:40] xRahul commented on #3846
Enabled it, but still not seeing it in the app. It looks like the issue is not there in the official app though, so could be something we are doing wrong in our fork and not getting. We DID recently upgrade directly from 4.x to 5.19, so there could be artifacts missing also.

I don't think this should be a concern in the main repo though. Thanks for letting me know about this setting! Closing the

[2020-01-24 06:40] #3846 closed

[2020-01-24 15:50] fritojay commented on #3853
@amyblais that is great news! Thank you!

[2020-01-24 16:08] amyblais commented on #3835
A ticket for this was opened here: https://mattermost.atlassian.net/browse/MM-22029.

[2020-01-27 07:21] saturninoabril commented on #3846
I've seen you closed this issue but I'm curious if you could give a try to test whether the fix at https://github.com/mattermost/mattermost-mobile/pull/3861 solves your issue.  Here is the link for Android app in case you're interested to test - https://pr-builds.mattermost.com/mattermost-mobile/build-pr-3861/Mattermost_Beta.apk

[2020-01-27 12:19] eni23 commented on #3643
Any news on this?

[2020-01-28 08:19] acostroma commented on #3675
@enahum @svelle Does anyone interested in fixing that bug?
I can **always** reproduce it!

[2020-01-28 11:53] enahum commented on #3675
@acostroma can you please provide exact repro steps, as you can **always** reproduce. Without does exact repro steps it is a bit difficult to figure it out as no one else has reported it either.

[2020-01-28 12:02] acostroma commented on #3675
@enahum
1 open latest Mattermost on iphone
2 write message to anyone with the following content:
"test :tada:"
Result: message send failed. You can tap "Retry" infinite amount of time it will **never** send it

At the same, if I try to send the message containing only "test" everything works perfectly.

Should I record a video for you?

[2020-01-28 12:07] acostroma commented on #3675
@enahum @svelle I got an update on this. This happens only if I insert smile using google's keyboard "Gboard"
In case I insert smile manually letter by letter everything works.

[2020-01-28 12:10] enahum commented on #3675
@acostroma Ok “gboard” is actually an important piece of the puzzle.

@josephbaylon would you be willing and try an repro? And maybe with SwiftKey as well?

Thanks

[2020-01-28 20:36] eljeffeg opened #3869 "Session expire reauth issue"
#### Summary
When my session expires and after I log back in, it refuses to connect.  I have to log out and then back in.  I believe this is due to using a client certificate.  I think it's forgetting about the client cert in the session expire / reauth process.

#### Environment Information

- Device Name: iOS
- OS Version: 13.3
- Mattermost App Version: 1.27.1 (Build 260)
- Mattermost Server Ver

[2020-01-29 09:48] svelle commented on #3675
@enahum @acostroma I tried reproing (see attached video) but it worked. Anything I missed?

[RPReplay_Final1580291145.zip](https://github.com/mattermost/mattermost-mobile/files/4127244/RPReplay_Final1580291145.zip)

[2020-01-29 10:55] acostroma commented on #3675
@svelle @enahum Did you try it on iPhone? It looks like you have used Android...
Here is my video
https://www.dropbox.com/s/o845ogr88zryzg0/VID_20200129_133915.mp4?dl=0

[2020-01-30 10:09] vamsimudadla commented on #3410
rm -rf node_modules
npm cache clean --force
npm i
This one worked for me

[2020-01-30 16:18] andreasarifin commented on #3846
@saturninoabril I am having the same problem. After installing the beta app, I can confirm the issue is fixed.

[2020-01-30 16:20] saturninoabril commented on #3846
Thank you @andreasarifin!

[2020-01-30 21:05] kwantumhab opened #3880 "Android 8 Oreo Missing notification preferences"
#### Summary
On Android Oreo 8 there is no vibration or sound selection settings...

#### Environment Information

- Device Name: Xiaomi Redmi 5A
- OS Version: 8.1.0 OPM1.171019.026 - MIUI Global 11.0.2 | Sable 11.0.2.0(OCKMIXM)
- Mattermost App Version: 1.27.1 Build 260
- Mattermost Server Version: 5.19.0 Build 5.19.1

#### Steps to reproduce
On the mentioned android OS there is only 3 options in

[2020-01-30 21:27] enahum commented on #3880
sorry @kwantumhab but those features are only available on Android 7, Android O and above those not have those features.

[2020-01-30 21:28] enahum commented on #3880
you can change those features in the notification settings on the phone specific to each app

[2020-01-30 21:34] kwantumhab commented on #3880
Thank you for your response. :D

[2020-01-30 21:34] #3880 closed

[2020-01-31 10:40] acostroma commented on #3675
@svelle @enahum were you able to reproduce it locally?

[2020-01-31 10:44] svelle commented on #3675
@acostroma the video was recorded on an iPhone XR, so unfortunately no :/

[2020-01-31 14:30] sag1 opened #3881 "Inline base64 image is not displaying in mobile app"
#### Summary
Markdown inline image source in base64 strips the base64 content.

#### Environment Information

- Device Name: Huawei P20
- OS Version: Android 9
- Mattermost App Version: 1.27.1 (Build 260)
- Mattermost Server Version: 5.17.0 (Build 5.17.1)

#### Steps to reproduce
How can we reproduce the issue?

Insert an image with inline source

![Photo](data:image/jpeg;base64,/9j/4AAQSkZJRgABAQ

[2020-02-01 05:30] xRahul commented on #3846
@saturninoabril I did try both the 1.27.1 and 1.27.0 and am facing this issue in them both. I'll wait for the next version release and check in that.
@andreasarifin which beta version did you install? From app store, or built from this repo?

[2020-02-01 19:54] aminzafarghandi opened #3883 "Mattermost plugins doesnt work on Mobile app"
Dears,
Some mattermost plugins like voice message , jira and ... doesnt work on mobile app .
Do you have any plan to resolve this issue . and if your answer is positive , what is your estimated time ?

#### Summary
Mattermost doesnt support some plugins like voice on mobile client

[2020-02-03 08:24] andreasarifin commented on #3846
@xRahul it is the beta that @saturninoabril have shared in his comment.

[2020-02-03 10:34] ArnY commented on #3410
Hello @valentijnnieman
The make build-android process already remove the modules and clears the cache. This doesn't fix anything for me, unfortunately...

[2020-02-03 13:23] amyblais commented on #3883
Mobile plugins is a planned feature, but we don't yet have a specific timeline for it.

[2020-02-04 12:30] Retrospector opened #3886 "Inline custom emojis not displaying in portrait mode"
#### Summary
Custom Emojis aren't shown when used inline, work fine when posted as single message

#### Environment Information

- Device Names: Motorola G6 Plus (Android 9) Google Pixel 3 XL (Android 10)
- OS Versions: See above
- Mattermost App Version: 1.27.1 (Build 260)
- Mattermost Server Version: 5.17.3 (Gitlab Omnibus Installation)

#### Steps to reproduce
* add custom emoji
* have phone in

[2020-02-05 15:46] amyblais commented on #3881
This sounds similar to https://github.com/mattermost/mattermost-server/issues/9274
Does the workaround suggested by the community member [at the bottom of the issue thread](https://github.com/mattermost/mattermost-server/issues/9274#issuecomment-416897628) help?

[2020-02-05 16:13] sag1 commented on #3881
In my case, there is no space before and after comma. You can see the content above

[2020-02-07 05:43] promethe42 commented on #622
@hzj629206 I remember it was easy to setup the custom user agent in the code base. But #2484 made it impossible for me to test.

I can open a PR with those changes if someone can help me with the testing.

[2020-02-07 17:36] lindy65 commented on #3886
Thanks @Retrospector - I've reproduced your issue and have filed https://mattermost.atlassian.net/browse/MM-22379 to address the issue

[2020-02-08 05:29] enahum commented on #3630
Sorry but this is a server restriction that prevents images with those dimensions, I believe it was added about 2 years ago to prevent image bombs.

If I’m correct you won’t be able to upload the image with any client.

[2020-02-08 10:35] devopstales commented on #622
@promethe42 you did not answered the questions on #2484.

[2020-02-13 06:40] nicksanchezc137 commented on #1671
Try Building using gradlew assembleRelease -x bundleReleaseJsAndAssets

[2020-02-13 13:10] dns2utf8 opened #3920 "Android 10 has a gap on top"
#### Summary
There is dead space in the beta and stable app on android 10.

#### Environment Information

- Device Name: Nokia 8.1
- OS Version: Android 10
- Mattermost App Version: Beta
- Mattermost Server Version: 5.16.5 - 5.19.0

#### Steps to reproduce
How can we reproduce the issue?

Install the app

![Screenshot_20200213-140050](https://user-images.githubusercontent.com/739070/74438234-f9574

[2020-02-13 13:16] dbrgn commented on #3920
This does not happen on my Pixel 3a with Android 10 and the stable app (version 1.27.1).

[2020-02-13 13:59] enahum commented on #3920
@dbrgn just to confirm that nokia model has a notch at the top? Gotta love different manufacturers

[2020-02-13 20:19] dns2utf8 commented on #3920
@enahum yes, this has a notch. To be precise it is a wide notch. Roughly 2/3 of the width.

[2020-02-20 09:38] bitdessert opened #3948 "The GIF image disappears."
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
The GIF image disappears on iOS app

#### Environment Information

- Device Name: iPhone XR
- OS Version: 13.3.1
- Mattermost App Version: 1.28.0
- Mattermost Server Version: 5.20.1

#### Steps to reproduce
Send Image (GIF) to someone.
Scroll Up
Scroll

[2020-02-20 09:47] bitdessert opened #3949 "Why 'Refreshing messages failed. Pull up to try again.' always showing?"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
After pressing the 'Mark as Unread'  button in a conversation, the following message is always displayed.
The message 'Refreshing messages failed. Pull up to try again.'  always appears at the top.

#### Environment Information

- Device Name: iPhone XR

[2020-02-20 12:19] enahum commented on #3948
@bitdessert can you share more details? Is it a gif from a link? A file attachment? Do you happen to know if there is an image proxy running?

So far I’ve been unable to reproduce

[2020-02-20 12:21] enahum commented on #3949
Hi @bitdessert is there anything else modified other than the bundleID?

[2020-02-20 12:21] bitdessert commented on #3948
A file attachment

[2020-02-20 12:22] bitdessert commented on #3949
No. just BundleID changed

[2020-02-20 13:54] kylerlaird commented on #1512
I'm starting to recommend Mattermost to others and I want to be able to use all of the servers I configure from my Android phone.  It appears that an app "cloner" is the solution here.  I haven't used one.  I see that many don't support notifications, which I definitely want for Mattermost.  Any suggestions on a version that works well?  I prefer an Open or pay version (no ads, etc.).

[2020-02-21 00:27] bitdessert commented on #3948
@enahum Attach the recording.

[2020-02-24 16:33] jbohren opened #3959 "Downloaded files on Android have the words `download successful` appended to their filenames"
#### Summary
Downloaded files on Android have the words `download successful` appended to their filenames, which prevents file type identification from extension, and thereby prevents the file from being opened until it is renamed in the file manager.

#### Environment Information

Server Version: 5.19.0 (Build 5.19.1)
App Version: 1.28.0 (Build 268)
App Platform: android

#### Steps to reproduce

[2020-02-24 17:17] cheald commented on #2897
This happens more often than not when I try to slide the drawer out using touch gestures. A quick flick (like I'd use with slack) results on the drawer opening only far enough to cover the avatar column. I have to use the hamburger menu to collapse it afterwards. I have to use a very slow gesture to get the drawer to come all the way out. It's maddening.

It feels like an element in the UI stream

[2020-02-24 18:40] dns2utf8 commented on #3920
Do you think the nozzle detection is broken?

[2020-02-25 22:03] amyblais commented on #3959
https://mattermost.atlassian.net/browse/MM-22687

[2020-02-25 23:16] amyblais commented on #2897
Hi all, we have made some changes to upcoming v1.29 release where the side bar on Android will use sideMenu from the navigation library, which will improve this behaviour.

[2020-02-26 14:11] cheald commented on #2897
My mobile client shows 1.29.0 (build 271) already. What build or version string should I expect to see with the new behavior?

[2020-02-26 14:57] svelle commented on #2897
@cheald 1.29.0 is supposed to fix the sidebar getting stuck issue. I've also tested this on some devices as well as my personal pixel 3 and couldn't repro anymore. The issue posted by @Centzilius was fixed as far as I'm concerned.
I'd like to get some more info on the other problems mentioned.
Would you mind if we move that conversation to a different issue to prevent confusion between the two top

[2020-02-26 14:58] cheald commented on #2897
Sure! Sorry for wandering off topic!

[2020-02-26 15:46] svelle commented on #2897
No worries, just want to make sure we're able to follow all issues the best we can :)

[2020-02-26 15:47] svelle opened #3965 "Sidebar swiping doesn't register all of the times"
_Originally posted by @cheald in https://github.com/mattermost/mattermost-mobile/issues/2897#issuecomment-591445540_

[2020-02-26 15:49] svelle commented on #3965
@cheald could you give a bit more info on what device you're seeing this on?

Device name and manufacturer as well as the OS version would be greatly appreciated.

I've also went ahead and tested this on my pixel 3 using all three of the available navigation methods and I can see some of the pain points you're describing:

- 3 buttons: sidebar slides out everytime, direction irrelevant
- 2 buttons

[2020-02-26 16:01] cheald commented on #3965
This is on a Google Pixel 3 XL, Android 10, latest patches.

Here's a video showing two of the issues: https://drive.google.com/open?id=110utFNqnxtH0wv3EeqZg0A6mY0YlInnN

I show the gesture in Mattermost build 271, as well as Slack, for comparison.

1. The pullout is highly sensitive to *any* vertical movement in the initial part of the swipe. The first half inch or so has to be just nearly perfec

[2020-02-26 16:04] svelle commented on #3965
Fantastic, very helpful.

Just one more question. Which of the navigation options are you using? See image below.

![image](https://user-images.githubusercontent.com/7526550/75363138-fd4b8380-58b9-11ea-8eb4-daba77d4b9f7.png)

[2020-02-26 16:05] cheald commented on #3965
I'm currently using 2-button navigation.

[2020-02-26 16:05] svelle commented on #3965
Thanks, if that's the case even more of a reason to further look into this IMO.

[2020-02-26 18:22] jbohren commented on #3959
@hahmadia @migbot was this fixed in #3646?
https://github.com/mattermost/mattermost-mobile/pull/3646/commits/16f306d20410f77c48986796449a9a6cf9f6beb5

[2020-02-26 18:41] hahmadia commented on #3959
@jbohren
Hey! It doesn't seem that fixed the problem you had described.
I have created a PR to fix this problem here https://github.com/mattermost/mattermost-mobile/pull/3970

[2020-02-27 02:34] Gloriashield opened #3972 "Keyboard hides the message window"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Have anyone had the same experience? This problem only occurs on iOS devices. Reproduction methods are not clear, but often appear.  The keyboard hides the message window.

My friends using iPhone have a common experience. This problem also occurs in la

[2020-02-27 03:22] enahum commented on #3972
@Gloriashield fix for this https://github.com/mattermost/mattermost-mobile/pull/3921

[2020-02-27 04:38] Gloriashield commented on #3972
@enahum Thank you very much! If 1.29 will released, I will try it! Have a nice day!

[2020-02-27 10:18] Gloriashield commented on #3972
I applied Patch(patches/react-native-keyboard-tracking-view+5.6.1.patch) to Mobile App version 1.29. Previous problem was confirmed to be solved. Thank you.

However, a new problem occurred.

1. Send a message.
2. Sometimes scroll doesn't go up.
3. I must pull up the screen.

Fortunately, it doesn't have to be restarted. Please watch attachment video file 🗡

[Recorded Video #3](https://s3-ap-north

[2020-02-27 11:01] enahum commented on #3972
Hour third video is about the jira ticket I posted.

Note the following, before You receive the message, there is a `user is typing...` indicator above the text input area which animates up and down.

This animation behavior results in the post list changing its dimensions and conflicting with keeping the scroll position when new elements are added.

To confirm, please wait until the `user is typi

[2020-02-27 11:34] Gloriashield commented on #3972
@enahum , Thank you for your prompt reply.

1. My friend typed a message to me.
2. Wait for "user is typing ..." to disappear.
3. He pressed a Send Message button.
4. The screen was still frozen.
5. I tried several times but it was the same.

However, if I turned off "Enable User Typing Messages" function, no problem. (wow!) I think that this is very useful function to everyone. Please do not give

[2020-02-27 20:06] #3972 closed

[2020-03-07 19:52] pflanzenandi opened #4020 "Answering via notification makes future notification not get shown"
When answering an incoming message via notification (heads up), future replies of this specific recipient are not shown (no notifications), but log shows that they are pushed. Same happens when answering via GSconnect on Ubuntu.

- Device Name: MotoG5 plus
- OS Version: Android 9
- Mattermost App Version: 1.28.0
- Mattermost Server Version: 5.20.0

[2020-03-11 13:18] amyblais commented on #3959
This is scheduled to be fixed in v1.29,

[2020-03-11 13:18] #3959 closed

[2020-03-11 13:18] amyblais commented on #3886
This is scheduled to be fixed in v1.29,

[2020-03-11 13:18] #3886 closed

[2020-03-11 13:18] amyblais commented on #3853
This is scheduled to be fixed in v1.29,

[2020-03-11 13:18] #3853 closed

[2020-03-12 19:39] jeffg2k commented on #3869
To add additional information.  The problem happens when the Connect screen transitions to the Login Screen, without first going to the Import Key screen.  If I logout and try to log back in without closing the application, it will skip the Import Key screen and sit at a "connecting.." state once logged in.  If I close out of the app after logout, it will ask me for the import key prior to the Log

[2020-03-14 22:53] licaon-kter commented on #1356
Yet again for 1.29.0...

[2020-03-14 22:54] licaon-kter commented on #566
Any news?

[2020-03-14 23:05] jasonblais commented on #566
@Rudloff Wondering if you would know on the above?

[2020-03-14 23:53] licaon-kter commented on #566
:)

We would have fixed it already, but we are not familiar with NPM and whatnot.

Latest log always here: https://f-droid.org/wiki/page/com.mattermost.rnbeta/lastbuild

[2020-03-15 10:52] Rudloff commented on #566
`tar write after end` can be caused by an outdated NPM version. (Our VM has 5.8.0, which is quite old.)

@jasonblais What version of NPM/Yarn do you recommend?

[2020-03-15 15:40] jasonblais commented on #566
@Rudloff Looks like NPM v6.4.1 is currently recommended: https://developers.mattermost.com/contribute/mobile/developer-setup/#install-nodejshttpsnodejsorgen

[2020-03-16 13:07] PanderMusubi commented on #566
At FOSDEM, I've discussed some issues with a team member of Mattermost. On F-Droid, there is the classic app. Is that suppose to get phased out or should it be removed from F-Droid store? Or should it be kept for legacy reasons?

The launcher icon of the newer app has written BETA over it. Is that still the case should/can a non-BETA be packaged? See also https://search.f-droid.org/?q=mattermost

[2020-03-16 13:24] Rudloff commented on #566
Here is an attempt to build 1.28.0 with NPM 6.4.1: https://gitlab.com/fdroid/fdroiddata/-/merge_requests/6483

[2020-03-16 17:21] jasonblais commented on #566
Thanks Rudloff! @licaon-kter let us know if it works with build 1.28.0?

Wondering if @Rudloff you would know?

@PanderMusubi For context, Mattermost doesn't maintain the F-Droid apps, they are community-maintained

[2020-03-16 19:32] Rudloff commented on #566
I think we should keep Mattermost Classic on F-Droid until we can build recent versions of the react native app.

As for the app name, see my answer here: https://github.com/mattermost/mattermost-mobile/issues/566#issuecomment-500995302

[2020-03-17 05:36] xRahul opened #4038 "Missing logError argument in checkUpgradeType function call (since v1.28.0)"
Error coming during login since v1.28.0

Reference:
https://github.com/mattermost/mattermost-mobile/blob/217ef59f1c31ff4bac7e35112f7ecdaa328c50bb/app/screens/select_server/select_server.js#L112

Method:
https://github.com/mattermost/mattermost-mobile/blob/217ef59f1c31ff4bac7e35112f7ecdaa328c50bb/app/utils/client_upgrade.js#L9

Error:
[code]

Error triggered due to the following error at line:
http

[2020-03-17 05:45] xRahul commented on #3835
Any update on when this will be picked up in the pipeline?

[2020-03-17 11:36] th-joerger opened #4039 "Emoji picker selects wrong emoji. Possible off-by-one error?"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Emoji picker possible of by one error?

#### Environment Information

- Device Name: LG G7 ThinQ
- OS Version: Android 9, Kernel 4.9.112
- Mattermost App Version: 1.29.0 (Build 276)
- Mattermost Server Version: 5.19.0 (Build 5.19.1)

#### Steps to repro

[2020-03-17 13:06] enahum commented on #4039
Fix submitted

[2020-03-17 13:07] enahum commented on #4038
@xRahul would you mind submitting a PR to fix it? That would be great if you can

[2020-03-17 15:46] licaon-kter commented on #566
It build, thanks.  👍

[2020-03-17 19:48] #4039 closed

[2020-03-18 00:38] licaon-kter commented on #566
Published too, but can't actually login. 5.21.0 says:

Nothing in logcat

![com mattermost rnbeta](https://user-images.githubusercontent.com/2282799/76913963-7aae5680-68b0-11ea-8dc2-87a740c83c43.jpg)

[2020-03-18 01:17] enahum commented on #566
@licaon-kter how are you building it? Are the npm patches being applied?

[2020-03-18 06:50] licaon-kter commented on #566
@enahum https://gitlab.com/fdroid/fdroiddata/-/blob/master/metadata/com.mattermost.rnbeta.yml#L308

[2020-03-18 07:12] PanderMusubi opened #4043 "Almost evebody is called 'Someone' in 1.28.0"
#3968 ## Summary
Almost evebody is called 'Someone' since 1.28.0

#### Environment Information
- Mattermost App version: 1.28.0 via F-Droid

#### Steps to reproduce
Simply watch a chat

#### Expected behavior
Profile names are shown, like was before

#### Observed behavior

![IMG_20200318_081011](https://user-images.githubusercontent.com/198964/76934820-2d51d980-68f0-11ea-86a9-ef28305c8806.jpg)

[2020-03-18 07:18] PanderMusubi opened #4044 "F-Droid Cannot send messages in 1.28.0"
#### Summary
Sending messages does not work  anymore

#### Environment Information
- Mattermost App Version: 1.28.0 via F-Droid

#### Steps to reproduce
Send a message

#### Expected behavior
Send messages

#### Observed behavior
Message is not send, is shown only in gray with red exclamation mark in circle. Try again does not work.

[2020-03-18 07:24] PanderMusubi opened #4045 "Images not shown in 1.28.0"
#### Summary
Images are not shown

#### Environment Information
- Mattermost App Version: 1.28.0 via F-Droid

#### Steps to reproduce
View chat with images

#### Expected behavior
Images are shown.

#### Observed behavior

![Screenshot_20200318-082045_Mattermost_Beta](https://user-images.githubusercontent.com/198964/76935469-735b6d00-68f1-11ea-861a-b240894cba88.png)

[2020-03-18 07:57] PanderMusubi commented on #566
Tested it, see 3 regression issues

[2020-03-18 08:02] xRahul commented on #4038
@enahum What should be the fix here? Personally, I've just put an if/else over logError such that if it exists, log it, or skip logging on error.
If we need to pass it, would I find it in same place, as in, props.action?

[2020-03-18 08:04] xRahul commented on #4043
Working for me. Can you update the server you're using? Check what data is being returned? This looks like a fallback to me in case names are not there in the data

[2020-03-18 12:02] PanderMusubi commented on #4043
It works with the previous version of Mattermost beta and the current version of Mattermost classic.

Using Mattermost Enterprise Edition 5.7.0

[2020-03-18 12:31] amyblais commented on #4043
@PanderMusubi Would you be open to upgrading your server version to the latest (v5.21.0)? v5.7.0 is not a supported version anymore.

[2020-03-18 12:44] PanderMusubi commented on #4043
I'm not in control of the server but I can ask.

[2020-03-18 12:47] PanderMusubi commented on #4045
At the moment discussed in https://github.com/mattermost/mattermost-mobile/issues/4043

[2020-03-18 12:47] PanderMusubi commented on #4044
At the moment discussed in https://github.com/mattermost/mattermost-mobile/issues/4043

[2020-03-18 12:47] PanderMusubi commented on #4043
Server will be upgraded and I will retest. Will post result in here a few days. Thanks.

[2020-03-18 12:52] enahum commented on #4038
@xRahul probably the issue is with the `semver` import, maybe try to change it for `import semver from 'semver/preload';`

[2020-03-18 18:13] esethna commented on #4043
@PanderMusubi please also help upgrade to the latest mobile app version v1.29.0

[2020-03-20 07:17] euschn opened #4056 "Markdown Code syntax highlighting does not work"
#### Summary
Syntax highlighting in Markdown code blocks does not work.

#### Environment Information

- Device Name:
- OS Version: Android 9
- Mattermost App Version: 1.29.0 (Build 276)
- Mattermost Server Version: 5.17.0

#### Steps to reproduce
1.  Post a message with a syntax highlighted code snippet, e.g.:
[code]
2. Observe that in the browser client, the code is properly highlighted/colored

[2020-03-20 09:41] esbeeb commented on #3071
Works for me, but not by default.

@pharshdev , check that you did the following:
On mobile app,
- tap 3 dots in upper right
- tap Settings
- tap Mobile
- tap "Trigger push notifications when"
Note that the default value is "Away, or offline".  Change it to "Online, away, or offline".
- tap Save
Back all the way out by tapping upper left corner thrice.

Now send a sample message to that phone wher

[2020-03-20 09:55] esbeeb commented on #2869
I too experienced a hanging, when I tried to close the Linux desktop Mattermost client, but the server had been ungracefully terminated (as in, I "Paused" the VM where the Mattermost server was running, but clients still had connections open).  It seems as though the clients patiently wait for the server, even though the server can't communicate.
I've installed the latest current version of the Li

[2020-03-20 11:32] enahum commented on #4056
Last time I tried to add syntax highlight feature it was terribly slow, specially on Android, so for now it won’t be added

[2020-03-23 14:43] NaeiKinDus commented on #4043
FYI the F-Droid repo does not have the v1.29.0 yet.

[2020-03-24 03:05] Pavel-Sayekat opened #4068 "Android app cannot connect to self-signed https/ssl/tls enabled server"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Android app cannot connect to https/tls enable serverAndroid app cannot connect to https/tls enable server

#### Environment Information

- Device Name:  Android
- OS Version: 10
- Mattermost App Version: 1.29.0
- Mattermost Server Version: 5.21.0, 5.20

[2020-03-24 06:44] euschn commented on #4056
Too bad. Any insights on why it was slow?

[2020-03-24 07:44] bitdessert opened #4070 "After editing the message, the keypad does not disappear."
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
After editing the message, the keypad does not disappear.

#### Environment Information

- Device Name: Android
- OS Version:
- Mattermost App Version: 1.29.0
- Mattermost Server Version: 5.21.0

#### Steps to reproduce
1. Send a message to someone
2. E

[2020-03-24 15:12] PanderMusubi commented on #4043
Build is requested at https://gitlab.com/fdroid/fdroiddata/-/issues/1987 Will report back when 1.29.0 is installed and our server has been upgraded.

[2020-03-24 20:53] amyblais commented on #4070
@bitdessert Which Android version are you on?

[2020-03-24 23:56] bitdessert commented on #4070
What I tested was the Android 9 version, but I expect it to happen on other Androids as well.

[2020-03-24 23:56] bitdessert commented on #4070
@amyblais What I tested was the Android 9 version, but I expect it to happen on other Androids as well.

[2020-03-25 13:47] amyblais commented on #4020
@pflanzenandi Do you still experience this issue on v1.29.0?

[2020-03-25 19:42] lindy65 commented on #4070
Thanks for the report @bitdessert - I've reproduced your issue and have filed https://mattermost.atlassian.net/browse/MM-23609 to track.

[2020-03-27 03:44] taina0407 commented on #622
Any update on this ?

[2020-03-27 11:41] enahum commented on #3350
Hey @vernonrj is this issue still true for you?

[2020-03-27 18:00] vernonrj commented on #3350
It looks like this has been fixed. The example text is correctly shown in both mattermost beta and stable apps. You're welcome to close if you'd like.

[2020-03-27 20:09] enahum commented on #3350
Thanks for confirming

[2020-03-27 20:09] #3350 closed

[2020-03-31 08:52] eni23 commented on #3643
The tickets are still in progress. Is there any ETA when this is done?

[2020-04-03 08:26] jrtberlin opened #4117 "Android 10 Gesture Navigation Conflicts with Drawer"
#### Summary
The Android 10 "back" gesture conflicts with the swipe gesture to open the channel drawer. This situation results in accidental app closes.
The GIF shows the situation and a workaround (angled swipe):

<img src="https://user-images.githubusercontent.com/14153182/78338644-6d24ec00-7593-11ea-892a-b7847cc83b44.gif" alt="mattermost_android10_gestures" width="auto" height="500">

#### Envi

[2020-04-03 12:49] enahum commented on #4117
Hi @jrtberlin this is a know issue and sadly so far we haven't been able to do anything about this, would you be willing an try and contribute in order to fix it?

[2020-04-03 13:07] jrtberlin commented on #4117
@enahum Sorry, I dislike working with react native.
I thought that this should be documented publicly. Can you point into a component where changes are required? Maybe someone else picks this up.

[2020-04-03 13:12] enahum commented on #4117
No worries at all @jrtberlin thanks for bringing this up.

Initial work should be done in the dependency library  [react-native-navigation](https://github.com/wix/react-native-navigation) and then either submit a PR to that repo or patch it locally (preferably the former) then apply the needed changes in the mattermost app (update the dependency or apply the patch / Modify the navigation actions a

[2020-04-06 07:19] Hartwin2342 opened #4119 "Connection only possible to the first DNS-names, mentioned in Let's Encrypt certificate"
#### Summary
If a server key is signed by Let's Encrypt for more than one alterantive names (DNS-name), the android app will only connect successfully to the first mentioned alternative.

#### Environment Information

- Device Name: Samsung SM-T825
- OS Version: Kernel 3.18.115-17011592
- Mattermost App Version: 1.29.0
- Mattermost Server Version: 5.21.0

#### Steps to reproduce
* Create Server Ke

[2020-04-06 07:42] enahum commented on #4119
Thanks for the report @Hartwin2342

So checking the cert for primary and secondary domains return valid results, no broken chains and all good? How is the cert setup? Is it a cert with multiple domains or a multiple domain server with each domain holding its own cert? Just want to make sure I fully understand.

We are actively working on https://mattermost.atlassian.net/browse/MM-18642 but it has

[2020-04-07 01:13] hkuwabara3 commented on #3207
Android apps are still unavailable. Why not cure SSL failures?

[2020-04-07 03:14] Hartwin2342 commented on #4119
Try it:

https://1u1-office.trust-on.net:10117
https://mm.trust-on.net:10117

Both URLs seeing the same mattermost instance with the same key and cert.

It is a cert  with multiple domains. The mentioned URLs  are in the same order like DNS-names in the cert.

[2020-04-07 12:51] enahum commented on #4119
@Hartwin2342 both domains are working fine for me.
![DNS-names](https://user-images.githubusercontent.com/6757047/78671111-d87cff80-78ac-11ea-9c24-2b1ea9fd856e.gif)

[2020-04-08 07:03] ilippert commented on #4044
I confirm this behaviour.

[2020-04-09 21:30] #4119 closed

[2020-04-09 21:42] Hartwin2342 commented on #4119
Maybe the setup was an older one. The described problem was reported to me as a screenshot at the 15th of march. Maybe the mattermost android client was 1.28.0 or even 1.27.1. Maybe the adroid version was somewhat to old because the tablet was older than 3 years.
Using a brand new tablet (got yesterday, newest android) and mattermost client 1.29.0, I got the same result like @enahum

[2020-04-10 01:59] ATranDev commented on #4043
When I click on an image, I do not display a detailed image. I'm checking the latest version, commit 3013 - Bump app build number to 280 (# 4139)

[2020-04-10 03:13] AiTranXuan opened #4141 "Error of not building the app- 'Mattermost-Swift.h' file not found"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary: Error of not building the app- 'Mattermost-Swift.h' file not found

#### Environment Information

- Device Name: iPhone
- OS Version: Macos
- Mattermost App Version: 1.29

<img width="1440" alt="Screen Shot 2020-04-10 at 10 13 00" src="https://user-ima

[2020-04-10 06:23] AiTranXuan commented on #4141
I have solved the problem.
You can go to your target -> Build Settings -> Search keywords ```Objective-C Generated Interface Header Name```

[2020-04-10 06:23] #4141 closed

[2020-04-10 09:25] huyp182 commented on #3169
Solved.

[2020-04-10 09:25] #3169 closed

[2020-04-11 09:18] AiTranXuan commented on #4045
When I click on an image, I do not display a detailed image. I'm checking the latest version, commit 3013 - Bump app build number to 280 (# 4139)
![ezgif-4-1be578b93c6b](https://user-images.githubusercontent.com/15552410/78956127-8980d580-7b0b-11ea-889c-7b1f5c29567a.gif)

[2020-04-12 09:05] AiTranXuan opened #4144 "Version newest 1.29 fail show image detail"
#### Summary
When I click on an image, I do not display a detailed image. I'm checking the latest version, commit 3013 - Bump app build number to 280 (# 4139)
Mattermost-mobile 1.29
![ezgif-4-1be578b93c6b](https://user-images.githubusercontent.com/15552410/78956127-8980d580-7b0b-11ea-889c-7b1f5c29567a.gif)

#### Environment Information
- Device Name: ALL
- OS Version: Both Android and ios
- Matter

[2020-04-12 13:28] robcohen commented on #622
Is this issue resolved?

[2020-04-12 17:22] enahum commented on #4144
@AiTranXuan have you tried resetting the cache?

[2020-04-12 18:36] AiTranXuan commented on #4144
I cleared the cache, I pulled a new version from the master branch, this error persists

[2020-04-12 23:38] enahum commented on #4144
I am unable to reproduce though

[2020-04-13 01:52] AiTranXuan commented on #4144
This is the latest code from the master branch. This is my re-enactment of each step.
server: https://mmc-demo.nal.vn
account: aitx
password: nalnal

![ezgif-6-3a07e9f5e28b](https://user-images.githubusercontent.com/15552410/79085758-e8d92280-7d63-11ea-8f83-747c57e16d40.gif)
![ezgif-6-2fb01f7978ca](https://user-images.githubusercontent.com/15552410/79085746-e1197e00-7d63-11ea-954d-a29c46a1206d.gif

[2020-04-13 10:06] stigok opened #4146 "Unable to login: password field must not be blank"
#### Summary
I am unable to login with my username and password. It says I have a blank password field, which I don't.

#### Environment Information

- Device Name: Xperia Z3 Compact (Suzuran)
- OS Version: LineageOS 16.0, Android 9
- Mattermost App Version: 1.28.0
- Mattermost Server Version: 5.19.1 (DB 5.19.0)

#### Steps to reproduce
- Start app from scratch
- Provide mattermost URL
- Attempt t

[2020-04-15 13:08] amyblais commented on #3598
Closing as this was fixed in v1.28,

[2020-04-15 13:08] #3598 closed

[2020-04-15 13:40] amyblais commented on #4146
@stigok Do you see the same issue on v1.29?

[2020-04-15 19:37] stigok commented on #4146
I will have to wait and see until v1.29 is available on F-Droid.

[2020-04-15 20:22] lkraav commented on #4045
On 1.29.0, app reinstall helped restore image display. Maybe cache clear would've worked but I forgot to try it first.

[2020-04-16 20:47] djbusby commented on #3795
I'm on Android Pixel; App v1.29.0 from Play Store; Server is v5.20.2.  These conditions fail (and don't produce any error message (or any real useful info) in logs (which are set to DEBUG).

* Select Photo from Photos App, Choose Share => Mattermost -- fails to post message, fails silently.
* From App choose Photo button, pick the image file, It spins a loading icon; to 100% then shows the circle-

[2020-04-17 21:23] licaon-kter commented on #1356
bump

[2020-04-18 08:36] OneTwoBarbecue commented on #3795
I'm facing the same problem as described by djbusby. My environment is:

- Mattermost Server Version 5.22.0 with mysql, fresh install, running on Ubuntu VM 18.04.4 LTS, all updates applied, restored mysql-dump, resynced data-folder, ownership and group of data folder changed to mattermost:mattermost
- NGINX Version 1.17.9 reverse proxy running on Ubuntu VM 18.04.4 LTS, all updates applied
- Matter

[2020-04-18 10:12] jonasdagefoerde opened #4184 "Beta App repeatedly requires user login"
#### Summary
Beta App requires me to login several times per day

#### Environment Information

- Device Name: iPhone 6s
- OS Version: 13.4.1
- Mattermost App Version: 1.30.0 (Build 282)
- Mattermost Server Version: 5.21.0

#### Steps to reproduce
1. Use the app
2. keep it in background for some time
3. open app again

May be it is important that I use the official MM App as well to login to anoth

[2020-04-18 14:16] enahum commented on #4184
@johnsenner please do upgrade to build 285

[2020-04-18 14:16] enahum commented on #4184
Closing this issue as this was resolved before release was published

[2020-04-18 14:16] #4184 closed

[2020-04-18 15:48] licaon-kter commented on #566
1.30.0 builds fine, expect it next cycle, but I still [can't login](https://github.com/mattermost/mattermost-mobile/issues/566#issuecomment-600366797) :( :(

[2020-04-18 15:50] licaon-kter commented on #4146
Yup, same here, even on 1.30.0 build via F-Droid (locally).

@amyblais Can anyone get the F-Droid version and test?

[2020-04-18 15:50] licaon-kter commented on #3701
/close as duplicate #566

[2020-04-18 16:20] jonasdagefoerde commented on #4184
How can I install Build 285? I checked for updates and reinstalled the beta app but only get 282.

[2020-04-18 16:35] amyblais commented on #4184
Sorry, I've published build 285 to Testflight now.

[2020-04-18 17:35] #3701 closed

[2020-04-18 19:38] svanesveld opened #4185 "All channels are showing as read only since v1.30.0"
#### Summary
Since version 1.30.0 was installed on my phone, all Mattermost channels are shown as read-only "This channel is read-only". I have confirmed with others that this is not unique to my phone.

#### Environment Information

- Device Name: Xiaomi Mi 9 Lite
- OS Version: 10 QKQ1.190828.002
- Mattermost App Version: 1.30.0
- Mattermost Server Version: 4.4.0

[2020-04-18 19:39] amyblais commented on #4185
@svanesveld Would you be open to upgrading your server version to a more recent version? Our supported server versions include v5.19.0 or later.

[2020-04-18 19:51] svanesveld commented on #4185
@amyblais Thanks for the quick response. Unfortunately I don't own the server side installation, so that's not possible at this moment. I'll forward the suggestion to the administrator. I've downgraded to v1.29.0 which resolved it for now. Might still be worth to check which particular changes would've broke this for older server versions? My hunch is it's related to pull request [#3904](https://g

[2020-04-18 21:10] shred86 opened #4186 "Not receiving push notification for session expiring"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
Push notification is not sent/received when login session expires on mobile app.

#### Environment Information

- Device Name: Apple iPhone 11 Pro
- OS Version: iOS 13 13.4.1
- Mattermost App Version: 1.30.0 (Build 285)
- Mattermost Server Version: 5.22

[2020-04-19 00:41] djbusby commented on #3795
**SOLVED** BLUF: set `client_max_body_size` in Nginx in the "server" section.

Thanks to @OneTwoBarbecue clues I re-inspected my nginx configuration.  Here's the answer, tailing the nginx logs I noticed it was sending a 413 response; so it was simply a case where pictures from our Android devices were larger than any images shared on other platforms?  I didn't feel like digging too much but a quic

[2020-04-19 10:15] OneTwoBarbecue commented on #3795
Glad to hear that my approach was helpful.

I'm sorry to say that unfortunately adding  client_max_body_size to the server, the http and/or the location-section in nginx did not solve the problem for me. I also did not find any 413-errors in the nginx-logs.

Additionaly I switched to MariaDB 10.4 to possibly improve performance.

Upload via mobile browser is still perfectly working.

Upload via ap

[2020-04-20 19:32] esethna commented on #622
For those following this issue, we have a ticket open here for anyone interested in contributing the change: https://mattermost.atlassian.net/browse/MM-13602

[2020-04-21 06:52] josexlito commented on #4185
In our company have Mattermost Server 4.2.0 and Mattermost Mobile 1.30.0 (similar that @svanesveld mentioned), and my team have the same problem. The only solution that works are downgrade the app to 1.29.0.

What server version do you think will work properly with the lastest version of Mattermost mobile app?

[2020-04-21 10:34] skhrshin opened #4190 "Custom emoji images not shown"
#### Summary
Custom emoji images are not shown despite the registered emoji are available on the list of emoji. The images are shown on the desktop app properly.

#### Environment Information

- Device Name: SH-M12
- OS Version: Android 9
- Mattermost App Version: 1.30.0
- Mattermost Server Version: 5.21.0

#### Steps to reproduce

##### Case 1

See custom emoji in someone's message.

##### Case 2

[2020-04-21 11:03] skhrshin opened #4191 "Back button causes logout from GitLab SSO"
#### Summary
Where I'm logging into my Mattermost server with GitLab SSO, the app logs out from the server when I close the app by the back button.

#### Environment Information

- Device Name: SH-M12
- OS Version: Android 9
- Mattermost App Version: 1.30.0
- Mattermost Server Version: 5.21.0

#### Steps to reproduce
1. Open the app.
1. Log in to the server with GitLab SSO.
1. Press the back butto

[2020-04-21 12:02] amyblais commented on #4185
We support versions v5.19+,
 - https://github.com/mattermost/mattermost-mobile#mattermost-mobile
 - https://github.com/mattermost/mattermost-mobile/blob/master/CHANGELOG.md#1300-release

[2020-04-21 12:56] stigok commented on #4146
Ping me if you want me to test a new version *available on F-Droid*.

[2020-04-21 13:21] josexlito commented on #4185
Oh, reading this, I see that our Mattermost Server is very outdated hahaha

Sorry for the inconvenience, and thanks a lot for your help.

[2020-04-21 17:15] amyblais commented on #4191
@skhrshin Do you have "ExperimentalStrictCSRFEnforcement" setting enabled on your server?

[2020-04-22 02:17] skhrshin commented on #4191
@amyblais No, I don't. It was disabled.

[2020-04-22 04:57] bitdessert opened #4199 "When I'm typing a message, the last message from the other person is hidden by the keyboard."
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
When I'm typing a message in a chat window, when the other person sends me a message, the last message is hidden by my keyboard.

#### Environment Information

- Device Name: iphone xr, iphone 6
- OS Version: iOS 13.4.1
- Mattermost App Version: 1.30.0

[2020-04-22 07:47] bitdessert opened #4200 "When sending a gif image, the preview is not visible"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary

The gif image does not appear in the preview.

#### Environment Information

- Device Name: iOS simulator, iphone xr
- OS Version: iOS 13.4.1
- Mattermost App Version: 1.30.0
- Mattermost Server Version: 5.22.0

#### Steps to reproduce

Press the fourt

[2020-04-22 08:02] lindy65 commented on #4190
Hi @skhrshin,

Thanks for the report!

I have tried to reproduce your issue on v1.30, build 285, server v5.22, Android 9, Huawei P30 Pro and I am not able to.

Custom emoji appear for me on the mobile app in all 3 of the above scenarios you've mentioned.

![image](https://user-images.githubusercontent.com/13020833/79956160-10c13800-8480-11ea-94bf-2a17c1ad3593.png)

![image](https://user-images.git

[2020-04-22 08:08] lindy65 commented on #4191
Thanks for the report @skhrshin :)

I am not able to reproduce your issue on Android app v1.30, build 285, server v5.22 Huawei P30 Pro.

After hitting the back button to put the app into the background and then reopening it, I am taken back to the channel I was viewing before hitting the back button.

[2020-04-22 08:37] skhrshin commented on #4190
I noticed that the default custom emoji "mattermost" is displayed as usual. It doesn't look to be a matter of the image file, because the custom emoji with same image and different name is not displayed.

#### Desktop App
![custom_emoji_desktop](https://user-images.githubusercontent.com/28780681/79959937-bba51680-84bf-11ea-9342-b490a85966c1.png)

#### Android App
![custom_emoji_android](https://us

[2020-04-22 09:06] skhrshin commented on #4190
It works fine after downgrading to 1.29.0.

[2020-04-22 09:08] skhrshin commented on #4191
This issue doesn't occur after downgrading to 1.29.0.

[2020-04-22 12:06] enahum commented on #4200
@bitdessert is this happening to you with any `gif` image? I can't reproduce your issue, would you mind sharing the gif here so I can give it a try ?

[2020-04-22 17:04] lindy65 commented on #4190
Hi @skhrshin

I've retested by creating a totally new custom emoji called :pineapples: and am still not able to reproduce your issue.

![image](https://user-images.githubusercontent.com/13020833/80011362-10e72500-84cc-11ea-83a9-62426d611493.png)

What build were you on in v1.30 when you reproduced this? I tested on build 285.

[2020-04-22 17:19] skhrshin commented on #4190
It's same. Build 285. Now I'm trying to build the app by myself so that I can do git bisect.

[2020-04-22 18:16] lindy65 commented on #4190
Thanks! This is so strange.... Perhaps it has something to do with you being on server version 5.21 and I'm on v5.22

[2020-04-22 23:42] jasonblais commented on #4190
@lindy65 Have we tested if it reproduces for us on server version 5.21?

[2020-04-22 23:59] bitdessert commented on #4200
@enahum Here is the image address I tested. https://i.pinimg.com/originals/5e/4b/21/5e4b2163c7c3f3383c22ecf282e8ad93.gif

[2020-04-23 00:13] enahum commented on #4200
Right it is definitely working for me.

![IMG_0754](https://user-images.githubusercontent.com/6757047/80045474-84416480-84d5-11ea-8cb8-58ef08f422d1.GIF)

[2020-04-23 00:30] bitdessert opened #4209 "When I hit the 'Delete Documents & Data' button, the button to join the team disappears."
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary

When I hit the 'Delete Documents & Data' button in  'advanced_settings.js' file, the button to join the team disappears.

#### Environment Information

- Device Name:  galaxy 9, Android emulator(Nexus 5X API 24)
- OS Version:  Android 9
- Mattermost Ap

[2020-04-23 01:50] bitdessert commented on #4200
@enahum Thank you. Then I'll test it more.

[2020-04-23 02:15] #4200 closed

[2020-04-23 06:12] skhrshin commented on #4190
I could successfully build the app by myself and found a mysterious phenomenon.

At first, I made a branch pinning to v1.29.0, which was available on the history of v1.30.0 release tag.
[code]
#### Case 1 (The issue is not reproducible)
[code]
Even though I uninstall the beta app and run `make run-android` again, the issue is not reproducible.

#### Case 2 (The issue is reproducible)
[code]
I trie

[2020-04-23 07:29] skhrshin commented on #4190
5a2bb0125b848435faf66c7b350cef17ce284437 seems to be suspicious on my environment. The following steps reproduce the issue:
[code]
I also tried the case without `make run-android` after checking out build-276, but it was mandatory.

The following steps don't reproduce the issue:
[code]

[2020-04-23 07:54] skhrshin commented on #4190
The thing which is mandatory may be not to run `make run-android` but to uninstall the app. Here is log of what I tried:
[code]
Custom emoji was shown at this time.
[code]
Custom emoji was still shown.
[code]
Custom emoji was not shown at this time.

[2020-04-23 08:02] lindy65 commented on #4190
Thanks so much for all the investigation @skhrshin

Yes @jasonblais - I have tested on prev.test v5.21 and am still not able to reproduce the issue on Android 9, v1.30, build 285:

![image](https://user-images.githubusercontent.com/13020833/80074411-66ade280-8549-11ea-9908-e0ab80e96578.png)

![image](https://user-images.githubusercontent.com/13020833/80074465-7b8a7600-8549-11ea-9e5b-40610230dcd2.p

[2020-04-23 08:32] skhrshin commented on #4191
Uninstalling the app and installing 1.30.0 again seems to solve the issue.

[2020-04-23 08:35] lindy65 commented on #4191
Good news! Thanks for the feedback @skhrshin :)

[2020-04-23 09:28] skhrshin commented on #4190
I tried editing `node_modules/react-native-fast-image/android/src/main/java/com/dylanvann/fastimage/FastImageOkHttpProgressGlideModule.java` by my hand and got the following result.

At first, I checked out v1.30.0.
[code]
Cleared the storage data, and then logged into my server. Custom emoji wasn't shown.

Then I opened FastImageOkHttpProgressGlideModule.java and commented out the line where `.co

[2020-04-23 10:32] skhrshin commented on #4190
logcat has dumped this error.
[code]

[2020-04-23 10:44] skhrshin commented on #4190
I think I must explain about authorization steps of my Mattermost server, since it might be strongly related with the kinds of Cookie the client must hold.

My Mattermost server is set up with GitLab SSO. And my GitLab server is set up as a service provider of SAML. The identity provider of SAML is my Keycloak instance. So the login steps are below.
1. Enter the server address.
1. Mattermost asks

[2020-04-23 12:07] skhrshin commented on #4190
At this code in `FastImageCookieJar#loadForRequest`,
[code]
my `cookie` value was like
[code]
so multiple cookie must be returned, but it does just
[code]
I changed this code like below
[code]
Then the custom emoji image was shown correctly.

[2020-04-23 12:30] amyblais commented on #4190
Would you be open to submitting a PR to update our react-native-fast-image patch to allow multiple cookies as you found?

[2020-04-23 12:39] enahum commented on #4190
@skhrshin thanks for the finding... @amyblais I have a PR coming up for 1.31 that is all about `FastImage` perhaps it would make sense to add @skhrshin findings in that PR as it will take about 5 mins to add it in.

Really appreciate this! and please continue to share, Also to the point @amyblais is making, feel free to submit a PR for bug fixes and Help Wanted tickets at any time ;)

[2020-04-23 15:07] skhrshin commented on #4190
Thanks, I'm looking forward to 1.31 :)

[2020-04-23 19:18] amyblais commented on #4209
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-24501.

[2020-04-24 21:04] amyblais commented on #4191
Mobile v1.30.1 dot release has been released and will be available in the app stores soon.

[2020-04-24 21:04] #4191 closed

[2020-04-24 21:04] amyblais commented on #4185
Mobile v1.30.1 dot release has been released and will be available in the app stores soon.

[2020-04-24 21:04] #4185 closed

[2020-04-27 20:44] licaon-kter commented on #4146
Same for 1.30.1 build via F-Droid locally.

[2020-04-28 15:23] #4190 closed

[2020-04-29 17:47] kishori-shipcom commented on #1522
@nicolinuxfr
We are facing the same issue with Manual CodeSign and Provisioning Profile doesn't support the Groups & Entitlements. Any luck with this ?

[2020-04-29 18:41] licaon-kter commented on #4146
@stigok 1.30.0 is live: https://f-droid.org/en/packages/com.mattermost.rnbeta/

[2020-04-29 19:14] robinmetral commented on #4146
Just tested on my end, still getting the error :confused:

[2020-04-30 06:11] nicolinuxfr commented on #1522
@kishori-shipcom

Frankly, I have given up at this point. I usually start with the automated building, and when it fails, I open Xcode and finish the work there.

Usually, I have to activate the automated signing process, correct an error or two sometimes. It's pretty easy, but manual, so I hope a better solution can be found but until then, it works at least.