[2021-03-25 18:58] ryankern43 commented on #5243
No error. It crashes to home screen. Reopening the app will resume as if nothing happened, but then crash again if you continue trying to upload pictures or scrolling the channel. Trying to capture video, but it crashes video capture as well.

[2021-03-25 20:04] amyblais commented on #5243
@migbot / @josephbaylon Can you reproduce / is this a known issue?

[2021-03-25 20:12] josephbaylon commented on #5243
@ryankern43 If you can, please recreate a private channel that will crash on iOS with the large documents in community.mattermost.com through the webapp/desktop and add the following users
- `@joseph.baylon`
- `@miguel.alatzar`
- `@elias`
- `@amy.blais`

[2021-03-26 14:05] realmichaelye commented on #622
Will sign up with google / oauth be released like in slack? https://gyazo.com/d01e5b3fef593dd20b4a117d96238c45

[2021-03-31 14:47] adamk77 opened #5260 "Possible Unhandled Promise Rejection (id: 0)"
#### Summary
After logging into the Mattermost server, the iOS app displays at the bottom of the screen: "Possible Unhandled Promise Rejection (id: 0)"

#### Environment Information

- Device Name: iPhone 12
- OS Version: 14.4.1
- Mattermost App Version:  master branch
- Mattermost Server Version: 5.33.2 Linux

#### Steps to reproduce
Compile and launch app then login

[2021-03-31 15:24] amyblais commented on #5260
cc @enahum @migbot

[2021-03-31 17:02] adamk77 commented on #5260
Yes, I still see the warning. I've attached the screenshot.

![PNG image](https://user-images.githubusercontent.com/1545197/113182797-51ddd280-9221-11eb-9248-cce4af6881e1.png)

[2021-03-31 18:01] adamk77 commented on #5260
Here you go.

![PNG image 2](https://user-images.githubusercontent.com/1545197/113189771-8fdef480-9229-11eb-83aa-acd53a9cec07.png)
![PNG image 3](https://user-images.githubusercontent.com/1545197/113189777-92414e80-9229-11eb-9a84-1f48cacdd0d1.png)

[2021-03-31 18:07] adamk77 commented on #5260
Also including the entitlements:

Mattermost.entitlements
[code]

MattermostShare.entitlements
[code]

NotificationService.entitlements
[code]

[2021-03-31 18:15] adamk77 commented on #5260
Here's a screenshot of it caught in the debugger:

![Screen Shot 2021-03-31 at 2 14 31 PM](https://user-images.githubusercontent.com/1545197/113191389-79d23380-922b-11eb-837a-d65249323bc8.png)

[2021-03-31 18:24] adamk77 commented on #5260
Also screenshot showing content of attributes and mAttributes.  It says "group.com.mattermost.rnbeta". Is this right? I know this was set to my own personal one.

![Screen Shot 2021-03-31 at 2 23 03 PM](https://user-images.githubusercontent.com/1545197/113192462-c8340200-922c-11eb-9945-f30141c0f557.png)

[2021-03-31 18:33] adamk77 commented on #5260
I apologize for the barrage of posts.  Here is a screenshot where I searched for "com.mattermost.rnbeta". I'm not sure why all the Info.plist still has the old ids when I've changed them in XCode.  After I changed all the Info.plist to the new ids, the warning has disappeared.

![Screen Shot 2021-03-31 at 2 31 49 PM](https://user-images.githubusercontent.com/1545197/113193561-1990c100-922e-11eb-87

[2021-03-31 18:36] enahum commented on #5260
Glad you had all this resolved. The ids in the Info.plist files are replaced accordingly when you set the right env vars before building. More info [here](https://developers.mattermost.com/contribute/mobile/)

[2021-03-31 22:10] enahum commented on #4957
this is already resolved

[2021-03-31 22:10] #4957 closed

[2021-04-01 00:07] enahum commented on #5046
Can we give this [apk](https://pr-builds.mattermost.com/mattermost-mobile/build-pr-5199/Mattermost_Beta.apk) a try and see if it got a little bit better?

Thanks

[2021-04-01 00:22] rezun commented on #5046
I've tried it on my S20. Didn't help at all, sadly.

[2021-04-01 00:45] enahum commented on #5046
This is what I see in my pixel 4 that was presenting a scrolling lag

https://user-images.githubusercontent.com/6757047/113227913-1c110c00-926a-11eb-8b06-d4b09ba39e21.mp4

[2021-04-01 12:46] zetaab commented on #5046
We updated to mattermost 5.32 server and at least for me the mobile is faster. Okay its faster with computer also

[2021-04-01 16:04] Barlerer commented on #5046
![image](https://user-images.githubusercontent.com/34626564/113322160-0577bd00-931d-11eb-9937-6ad68b6a23ba.png)
Strange, we also run the latest version but the app is still slow.

[2021-04-01 18:23] #5260 closed

[2021-04-02 07:15] schweigel commented on #3630
Hi,

are there any news about this issue?

[2021-04-02 13:31] TwizzyDizzy commented on #5046
@enahum

Just found this issue and gave your beta app a shot. It seems to be a tad better (maybe 10-15%) but still very noticable and UX-impeding.

My setup: Google Pixel 2 XL (taimen) on LineageOS 18.1 (Android 11). Mattermost Server: `5.33.3`.

Cheers & Thanks for your efforts so far!
Thomas

[2021-04-03 15:52] #5124 closed

[2021-04-03 15:53] #5102 closed

[2021-04-06 14:28] #5081 closed

[2021-04-06 14:29] #5218 closed

[2021-04-06 15:12] #5217 closed

[2021-04-08 09:40] larsellingsen commented on #5046
I have the same problem on my S10+ with Android 11 OneUI 3.1. Really sluggish behavior, nowhere near 30 fps. Server version 5.30.6.

[2021-04-09 11:44] vbrz commented on #5046
I tested the build listed above in the merge request link on my Galaxy S20 Ultra and there is **no improvement**. It's still not smooth at all (approx 10 fps while scrolling).

Did anyone reach a different conclusion?

[2021-04-09 12:22] enahum commented on #5046
I can't reproduce this any longer on my Pixel 4 with the build referenced in the PR.

It seems that Samsung is still affected.

What I don't know if this is something caused by the app or something with the device type or what the hell.

Perhaps someone can take the tedious task of testing previous versions of the app, idk maybe go back 10 versions and see if there is a difference and if there is,

[2021-04-09 12:58] VincentSC commented on #5046
The beta has improvements and I'm using this app instead, but it's not fully solved. It looks like multiple problems that all add up to the observed slugginess.

One sub-problem: when I do a big swipe on my Samsung Note10 (same SW as the others), it takes half a second(?) before it reacts. Other apps react to my thumb-movements without any delay, so it feels like I touch the "paper" and move it ar

[2021-04-13 06:20] bitdessert opened #5314 "The video does not play."
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
The video does not play.
For example, mp4 files are not played.

#### Environment Information

- Device Name: iphone 12 pro
- OS Version:
- Mattermost App Version: 1.41.1
- Mattermost Server Version:

#### Steps to reproduce
Upload a new video file.
Cli

[2021-04-13 07:22] #5314 closed

[2021-04-13 09:14] majidit opened #5315 "Push notifications on Mobile"
I’m not receiving push notifications on my device ...

@Adovenmuehle @bryanculver  @rthill  @chikei  @phuihock

I did all these steps :
https://docs.mattermost.com/mobile/mobile-testing-notifications.html

BUT ... But nothing happened ...

[2021-04-13 12:34] amyblais commented on #5315
1. Are you using any type of proxy in front of Mattermost or a load balancer?
2. What is the **Notifications** config set to on the mobile OS level (iOS and Android)?
3. What is the **Notifications** config set to on the Mattermost app level? - **Settings > Notifications > Mobile and Settings > Notifications > Mentions and Replies**.
4. What is the status of the user when the unread push notificat

[2021-04-13 12:51] enahum commented on #5315
Adding to the questions:
- what push proxy server is being used by your Mattermost server?
- if you inspect your user session using the webapp under **Account Settings -> Security -> View and logout of active sessions** do you see an active native app session?
- have you insoected the mattermost server logs and notification logs?

If you don't have access to your Mattermost admin console or logs,

[2021-04-14 07:44] bitdessert opened #5320 "How to play video files that require permission?"
Submit feature requests to http://www.mattermost.org/feature-requests/. File non-security related bugs here in the following format:

#### Summary
How to play video files that require permission?

#### Environment Information

- Device Name:  iPhone 12
- OS Version:
- Mattermost App Version: 1.41.1
- Mattermost Server Version:5.32.1

#### Steps to reproduce
Upload a video file to the channel.
Clic

[2021-04-14 13:53] amyblais commented on #5320
@josephbaylon Do you know?

[2021-04-14 14:54] josephbaylon commented on #5320
@amyblais @bitdessert I'm a little unsure about this. Is this about uploading an actual video from device or posting a video url on the channel. If the latter, then it needs to be public.

[2021-04-14 23:59] bitdessert commented on #5320
@amyblais @josephbaylon Thank you for your answer.
Prior to version 1.36.0, files were opened after downloading.
When the user clicks download and the download is complete, the file is played.

It seems that a lot of parts have changed as the gallery component was changed from 1.41.1.
In the current version, the file is not downloaded and it tries to play it with only the URL.
Click Share, and aft

[2021-04-15 00:53] josephbaylon commented on #5320
@bitdessert To download a file attachment,
1. Tap on attachment
2. Tap share button at the bottom right

In case of iOS, usually there is a **Save to Files** option, otherwise you can share through other apps that lets you download the file to the device.

In case of Android, usually if you don't see the save to device option, which is dependent on your android device, you can share via google dri

[2021-04-15 01:01] bitdessert commented on #5320
thanks, @josephbaylon

The problem now is that after tapping the uploaded video file, it won't play.

If you tap on a video file that has not been downloaded for the first time, an error message pops up.

In 'gallery_video.tsx' file
'mobile.video_playback.failed_description'
An error occurred while trying to play the video.

[2021-04-15 01:29] josephbaylon commented on #5320
@bitdessert  Mind sharing the video in question?

[2021-04-15 01:31] josephbaylon commented on #5320
@bitdessert Can you try this locally?
1. On a channel, tap on capture video icon
2. Create and use the video
3. Upload the video
4. Tap on the video you just uploaded

[2021-04-15 01:51] bitdessert commented on #5320
@josephbaylon  It's not a video file problem.

The problem is as follows.
1. Upload the file.
2. Tap the file.

When you tap the file, the file url is fetched from the source code below.
'setUri(exist ? localPath : Client4.getFileUrl(file.id, Date.now()));'
At this time, the url I got is not a public URL.
When accessing the URL, json is returned.
The json content is that I don't have permission to

[2021-04-15 01:54] josephbaylon commented on #5320
@enahum I don't think I'm understanding the issue, if there's any. Can you please chime in on this and see if there's a current limitation/restriction or the behavior is as expected?

[2021-04-15 02:04] bitdessert commented on #5320
https://user-images.githubusercontent.com/42505950/114803315-31457900-9dda-11eb-820d-47c28802e23c.mov

[2021-04-15 02:07] bitdessert commented on #5320
Url when first tapped : https://~~~/api/v4/files/zkpt5f1rhpr7bbb31r64na9aew?1618452093697
The above url does not have access rights.

The file does not have access rights, but the downloaded file is played.

After tapping the share button, url : /~~~/CoreSimulator/Devices/6A75B1D9-D85C-4C8D-ACB9-83ECEF10155C/data/Containers/Data/Application/1A922E7C-398D-4862-A1DC-9DB9C1997583/Library/Caches/Video

[2021-04-15 02:09] enahum commented on #5320
This doesn't look like a permission issue but more of a streaming problem.

[2021-04-15 02:11] bitdessert commented on #5320
@enahum
When the above address is accessed from a browser, a json return as shown below is received.
https://~~~/api/v4/files/zkpt5f1rhpr7bbb31r64na9aew?1618452093697
![image](https://user-images.githubusercontent.com/42505950/114803825-293a0900-9ddb-11eb-8939-c2e43ef43d51.png)

[2021-04-15 02:12] enahum commented on #5320
If you access the same url from a browser but after logging in into MM you'll get a different result

[2021-04-15 02:16] bitdessert commented on #5320
@enahum
I just tried accessing that URL in a browser.
I am logged in on mobile.

https://user-images.githubusercontent.com/42505950/114804180-da40a380-9ddb-11eb-8d4d-6e0a66e49a89.mov

[2021-04-15 02:22] bitdessert commented on #5320
@enahum
I think that the module called 'react-native-video' tries to play the video by accessing the url in the get method.
The file should be played after checking the authority by sending the login information in the header together,
but I think that an error occurs because the login information is not sent.
That's why I suggested a way to download the file in advance.
Of course, if you can send

[2021-04-15 03:48] majidit opened #5326 "Send voice message"
Hello to all dear friends
Why can't you send a voice message in the mobile version?
This is a basic need and our team users have requested it a lot

@Adovenmuehle @bryanculver @rthill @chikei @phuihock

[2021-04-15 05:13] bitdessert commented on #5320
@enahum @josephbaylon
The video seemed to be confusing, so I recorded it again.

https://user-images.githubusercontent.com/42505950/114817330-c2c1e480-9df4-11eb-9682-795338495659.mov

[2021-04-15 05:43] bitdessert commented on #5320
@enahum @josephbaylon
The video uploaded as an attachment seems to have not been properly recorded, so I recorded it again and uploaded it.

https://user-images.githubusercontent.com/42505950/114819737-e0914880-9df8-11eb-98ab-7a36084e92f9.mov

[2021-04-15 10:13] enahum commented on #5326
For anyone interested this was answered here https://community.mattermost.com/core/pl/sxot6hjn9bbzixp474brwydtio

[2021-04-15 10:13] #5326 closed

[2021-04-15 11:31] chicout commented on #5046
I have the same issue with my new Samsung S21 Ultra

[2021-04-17 06:00] majidit opened #5335 "Separation of sent and received chats"
Hello friends
Annoying enters

One of the things that can greatly increase the beauty and efficiency of the program
Separation of sent and received messages
Like WhatsApp and Telegram messengers where the sent messages are displayed on the right and the received messages are displayed on the left
And the username is displayed on the same side

[2021-04-17 07:57] mthld opened #5336 "Mattermost iOS v1.42.0 crashes at launch"
#### Summary
Mattermost iOS v1.42.0 crashes at launch.

#### Environment Information
- Device Name: Apple iPhone SE (2nd gen)
- OS Version: iOS v14.4.2
- Mattermost App Version: v1.42.0
- Mattermost Server Version: v5.33.3

#### Steps to reproduce
Update the iOS app from the appstore to the desired version, open it, see it crash.

#### Expected behavior
The app should be launching.

#### Observed

[2021-04-17 10:02] lsochanowski commented on #5336
+1

[2021-04-17 10:07] zer0init1 commented on #5336
Hi all.
This is not server problem. I checked the network traffic and found that the error appears before the start of communication with the Mattermost server. The problem is present on IOS 14.4.2 and with the latest version of the Mattermost app v1.42.0 from the App Store.

It only helps to remove the Mattermost application from the IOS device, and reinstall it from the App Store.

[2021-04-17 10:13] lsochanowski commented on #5336
true it helps

[2021-04-17 11:51] amyblais commented on #5336
@enahum @migbot FYI

[2021-04-18 13:25] nerthazrim commented on #5320
Exact same issue on Android 9, 10 or 11.

Note that I can playback a video I uploaded myself, though.

[2021-04-19 11:30] jasonblais commented on #5335
Thanks @majidit, closing this as a duplicate of https://github.com/mattermost/mattermost-server/issues/17432

[2021-04-19 11:30] #5335 closed

[2021-04-19 11:49] m-a-v opened #5338 "Server upgrade required warning message appears despite installed version 5.31"
#### Summary
Server upgrade required warning message appears despite installed version 5.31.

#### Environment Information

- Device Name: iPhone XS Max
- OS Version: iOS 14.4.2
- Mattermost App Version: 1.42.0 (Build 353) iOS
- Mattermost Server Version: 5.31.1

#### Expected behavior
Warning message should not appear!

#### Observed behavior
A warning message appears, when using the newest mobil

[2021-04-19 11:52] rcaillon-Iliad commented on #5338
Same problem:
- server: 5.31.2
- client android 1.42.0

[2021-04-19 12:03] amyblais commented on #5338
@m-a-v @rcaillon-Iliad There was a bug that has been fixed in v5.31.3. Would you be open to upgrading to see if it fixes the issue?

[2021-04-19 12:19] rcaillon-Iliad commented on #5338
My admin sys is currently on vacation :/

[2021-04-19 17:40] amyblais commented on #5338
Servers need to be on v5.31.3 because [v5.31.3 fixes an issue where the server version was reported as v5.30.0](https://docs.mattermost.com/administration/changelog.html#release-v5-31-esr).

Mobile app changelog has been updated with the details https://docs.mattermost.com/administration/mobile-changelog.html, and we have pushed a v1.42.1 dot release to the app stores that clarifies the minimum su

[2021-04-19 17:40] #5338 closed

[2021-04-19 17:40] amyblais commented on #5336
We have pushed a v1.42.1 dot release to the app stores that fixes this issue. It should be available for download soon.

[2021-04-19 17:40] #5336 closed

[2021-04-19 17:56] m-a-v commented on #5338
@amyblais Thank you for the clarification. We have to do the update anyway.

[2021-04-21 04:18] majidit commented on #5315
Thank you for your guidance
We are working on it

[2021-04-26 05:34] UniverseOfTomorrow opened #5350 "Our custom GUI can't be displayed on the mobile normally"
We have developed a system with the Web app plugins at Mattermost, but its custom GUI can not be displayed in the mobile client normally.
We learned that the full support for mobile plugins is still a work in progress from https://developers.mattermost.com/extend/plugins/mobile/
So we need to find a feasible solution. If you have  good ideas please contact me.

[2021-04-28 04:16] #5315 closed

[2021-05-04 02:01] adanielvv opened #5370 "Easy switch between servers"
It should be easier to switch between servers on the app, or you need to be able to connect multiple servers.

Just like you can easily switch between gmail accounts. Only remembering the URLs is already a big improvement.

[2021-05-04 02:02] adanielvv commented on #5370
/kind feature

[2021-05-07 09:49] Barlerer commented on #5046
Just to reiterate, the issue does get worse the more text is on screen. If it is files\images it works well.

[2021-05-09 00:05] Hetti commented on #5160
bump;

I am running Mattermost Beta 1.43.0 on Android 11

we have this issue on our Mattermost Server.

I couldn't see any broken image link in the Webapp of Mattermost as hinted in this issue: https://github.com/mattermost/mattermost-mobile/issues/5178

It is in a channel, where a Bot posts emails.

[code]

[2021-05-10 05:23] AkromDev commented on #3788
@bitdessert I am also facing similar bug. Were you able to fix it?

[2021-05-10 13:22] amyblais commented on #5160
@migbot Do the error logs above indicate what the issue may be?

[2021-05-10 13:51] moussetc opened #5381 "MessageSource is not respected when editing a message"
#### Summary
When a post's `MessageSource` [(here's the server-side definition](https://github.com/mattermost/mattermost-server/blob/fc0dbe0ace7414bfad5ac76bb2ed02cc99612194/model/post.go#L86)) is present, it is not used by the app to prefill the edit box (the post's `Message` is used instead), contrary to the behavior of the webapp.

While `MessageSource` is mainly used by the image proxy right n

[2021-05-10 16:30] amyblais commented on #4994
FYI @ashishbhate ^

[2021-05-10 16:30] josephbaylon commented on #5381
@amyblais I'm able to reproduce this. However, I'm not sure if it's expected for mobile. I'll let @enahum chime in.

[2021-05-10 16:40] enahum commented on #5381
@josephbaylon no this is not expected unless someone from a feature team made a change and did not reflect it on mobile.

[2021-05-11 12:39] enahum commented on #622
Google auth was added in this PR https://github.com/mattermost/mattermost-mobile/pull/5075

I do believe is available in the Enterprise edition though

[2021-05-11 13:55] ashishbhate commented on #4994
I've created a new ticket https://mattermost.atlassian.net/browse/MM-35620 for this follow-up issue.

[2021-05-12 06:16] jn5010 commented on #4723
New sidebar features have been released as the general feature in web app. (https://mattermost.com/blog/custom-collapsible-channel-categories/).  Are there any plans to update this feature in the mobile app?

[2021-05-13 09:17] XVilka opened #5387 "Categories are not synchronized with the Web client"
#### Summary

If in Web-client Category is created it isn't shown in the mobile client.

### Environment Information
  - Device Name: any
  - OS Version: Android 10
  - Mattermost App Version: 1.42.1 (Build 3000354)
  - Mattermost Server Version: 5.34.0 (Build 5.34.1)

#### Steps to reproduce
1. Add a new category in Web client
2. Move some public  and private channels inside
3. Open the mobile ap

[2021-05-13 19:20] esethna commented on #4723
@jn5010 yes, the mobile part of the feature unfortunately got a bit delayed, but we have a developer actively working on it now. Here's the spec if you're interested :)

https://mattermost.atlassian.net/wiki/spaces/CSO/pages/1198227475/Mobile+UX+-+Collapsable+Custom+Categories

[2021-05-14 17:26] SilverFuzz commented on #5047
Bump. We produce tons of videos and nothing works on ios, so we’re one week from trashing Mattermost after many years of use. What can we do?

[2021-05-14 17:34] enahum commented on #5047
@SilverFuzz as a work around in the gallery, you could attempt to "share" the video so it gets downloaded and played from the downloaded file instead of trying to stream it.

I'll look into adding an option to download the file in case the stream errors out, but that won't be included until the june release at the earliest.

[2021-05-14 17:42] SilverFuzz commented on #5047
That would be amazing! We have tried all sortsof waysto download videos via various browsers or VLC on ipad, but nothing works. I suppose there’s only a (broken) stream so nothing to download?

[2021-05-15 10:40] nylocx commented on #4481
Is this a won't fix issue? Than maybe I have to look for an alternate solution in my GitLab configuration. But a statement would be nice.

[2021-05-16 09:02] mech01nc01 commented on #5046
hello,

we have the same issue, especially when lots of text is visible, extremely if someone quotes lots of text

2xS20+, more than 20 Motorola G30 (all Android 11)
Version 5.34.2
App-Version 1.43.0

[2021-05-17 15:37] enahum commented on #5046
Hey guys, made a minor tweak to the app and want to validate if that makes a difference for you.

Here is [an apk](https://community.mattermost.com/files/tsjbaed3mpnzinmkf9e5jjgffc/public?h=qNzVf35OEbzlo82jZbfSo96JUSrgRSt5DWNvTd94VoM) to test it out.

[2021-05-17 15:42] Barlerer commented on #5046
It is the same for me 😢

[2021-05-17 15:43] enahum commented on #5046
@Barlerer when you say the same, you mean channel with lots of text do look janky when scrolling up/down ? or blank spaces?

would you mind sharing a video?

[2021-05-17 15:49] rezun commented on #5046
@enahum
When text is visible on screen.
I've opened a duplicate with a video where you can see the problem
#5131

[2021-05-17 15:52] Barlerer commented on #5046
https://user-images.githubusercontent.com/34626564/118518601-f61fc800-b740-11eb-845e-e7ac236aecd1.mp4

[2021-05-17 15:57] rezun commented on #5046
Also tested that apk version and it didn't make a difference for me (on S20).
Stuttering is happening when text is seen. If it's mostly images, it's smooth.
It's the same with the channel list btw. Since that is text only, it also stutters when scrolling there.

[2021-05-18 07:39] larsellingsen commented on #5046
I have an interresting observation on this issue: When I scroll in a search result page, the scrolling i perfectly smooth. So when i scroll in a normal channel, the scrolling stutters. But when i search for the same channel with "in:channelname", the resulting page has normal smooth scrolling.

(S10 Plus, Android 11, One UI 3.1, app version 1.43.0 build 3000356)

[2021-05-18 08:29] Barlerer commented on #5046
@larsellingsen That's a good one. Also for me, the scrolling works like wonder when viewed from the search.

[2021-05-18 08:29] enahum commented on #5046
@larsellingsen thanks for the observation, that is really helpful.

I started digging into this and other related matters and I'm looking to do the following to help with performance:
* try and measure the height of each post before it gets saved to the data store, that way the list won't need to perform calculations while the messages are being rendered on screen. (At least make the best to estim

[2021-05-18 09:01] jfolz commented on #5046
Number of posts doesn't seem to matter. Even searches with a lot of results (hundreds) are fast, but channels with just a handful of longer text messages are sluggish. Even weirder is that messages can be as long as they want and render fast, as long as there is just one word per line. Maybe something in channels is forcing soft line wrap to be calculated over and over?

[2021-05-18 14:36] enahum commented on #5046
So I found out that the channel post list is inverted and that is causing the thing to lag.. after changing the list to not to be inverted (same as search) then it feels super smooth (like search).

I need to dig into the react-native code and see if I'm able to spot the reason why this happens.

[2021-05-18 14:55] enahum commented on #5046
Also found this.. https://github.com/facebook/react-native/issues/30034 they mention that scrolling with the keyboard opened does not seem to lag (which is true for me).

Perhaps we should try and add our findings in that github issue..

[2021-05-18 15:20] esethna commented on #5370
Hi @adanielvv, thanks for this. Multi-server support is the most requested feature for our mobile app and we're working on the infrastructure to support it in our mobile app v2, releasing in beta at the end of the year. Check out the designs here: https://www.figma.com/file/a9w2q3JnVvBwo2IScP8j3K/Phase-1-Design?node-id=110%3A3

[2021-05-18 15:20] #5370 closed

[2021-05-18 15:25] adanielvv commented on #5370
Wow, looks real nice. For now I think we are going to use Discord, but Mattermost is a close second.

[2021-05-18 21:32] enahum commented on #5046
Ok after playing with this for a while and while there is still work to be done, can you please try with [this build](https://community.mattermost.com/files/p3cqipbz9iyp3yjooxhukpmt3o/public?h=0uDyE5xfYlXtfBPw0Hu2vca9fDN4WOsXp949kxx87GM) and see if this one resolves the lag on scroll?

Thanks.

[2021-05-18 21:37] VincentSC commented on #5046
So. Much. Better! Thanks!
(Samsung Note10+)

[2021-05-18 21:49] rezun commented on #5046
@enahum
Indeed, that build is smooth as butter on my S20

[2021-05-18 21:54] enahum commented on #5046
Let's wait on the others to report back as I want to get as much eyes as possible before I continue moving forward with the rest of the work needed.

Thanks for your patience and guidance to try and figure out what in the hell was wrong here.

[2021-05-18 22:11] TwizzyDizzy commented on #5046
@enahum

With this beta build I can confirm the absence of any and all perceived lag. As smooth as freshly shaved. Thanks for your efforts!

Device: Pixel 2 XL (taimen) on LineageOS 18.1 (Android 11).

Cheers & Thanks
Thomas

[2021-05-18 22:25] larsellingsen commented on #5046
The beta is smooth as silk on my S10+! Thank you @enahum! 😃👏🏻👏🏻

[2021-05-19 06:06] Barlerer commented on #5046
Words cannot describe how happy I am that Mattermost is finally usable again on my phone!
Works perfectly!

[2021-05-19 08:13] francislavoie commented on #4117
Can another look be taken at this? Mattermost is practically unusable because of this issue when gesture navigation is enabled.

Other apps like Slack allow for the entire content view to be right-awipeable to open the navigation drawer. If mattermost did the same, it would completely resolve the problem. Right now, nothing at all happens when right-swiping in the middle of the screen, so it would

[2021-05-19 16:33] mech01nc01 commented on #5046
also tested on S20+, works like charm ;)

[2021-05-19 18:58] VincentSC commented on #5046
I'm now really curious why it was initially only not working on specific phones, which were all fast. Reproduction was the main problem, so I did not expect something non-UI. Can anybody explain?

[2021-05-19 19:03] enahum commented on #5046
@VincentSC on Android 11 the FlatList component transformation had a performance degradation when using `transform:[{scaleY: -1}]` which is what React Native ships as default, this degradation is not seen when applying the "deprecated" `scaleY: -1` property without transformation, the reality is that this was a lucky strike by someone who was facing the same problem as you can read here https://gi

[2021-05-20 09:03] Ch1llb0 commented on #5046
It's smooth and perfect here as well. Please get this out as a regular update to users as fast as possible 👍🏻 Great work, thank you!

[2021-05-20 11:49] enahum commented on #5046
Thanks @Ch1llb0  will try but I'm still working on some other needed improvements that require a bit of time before we can ship the "fix", my rough estimate to submit the PR is about a week or so, just wanted to confirm this build caused the desired effect. Sorry about the inconvenience.

[2021-05-21 15:22] adf-patrickha opened #5401 "iPadOS 14: Mattermost notification badge shows non-existent unread messages"
#### Summary
The Mattermost app reports unread messages in the app overview (notification badge) even though there are none.

### Environment Information
  - Device Name: iPad
  - OS Version: iPadOS 14.4.2
  - Mattermost App Version: 1.42.1
  - Mattermost Server Version: 5.31.4

#### Steps to reproduce
It's hard to reproduce. It happens one some devices and on some it doesn't. Event though they us

[2021-05-21 16:17] amyblais commented on #5401
@adf-patrickha Does re-installing the app help? Or logging out and back in?
Does this also repro on the latest v1.43 app version?

[2021-05-21 16:44] adf-patrickha commented on #5401
A reinstallation and logging out/in did both not solve the issue.

We only deploy version 1.42 yet (MDM). I don't know if the newer version will be deployed in the near future. Is something issue-related mentioned in the changelog of v1.43?

[2021-05-21 17:06] amyblais commented on #5401
@josephbaylon Does this repro for you?

[2021-05-21 17:25] josephbaylon commented on #5401
@amyblais @adf-patrickha I'm unable to reproduce the issue on v1.43. Maybe try upgrading to 1.43 and see if you still encounter the issue. Thanks

[2021-05-24 09:43] i23098 commented on #4249
I know this is closed, but I think it should be implemented... My phone broke and I have started using an older phone that only has Android 6. It would be nice to have a client for people on older phones.

[2021-05-24 10:02] eadmaster commented on #4249
As alternative I am actually using the Firefox browser to access MM, which is still updated on Android 6.

[2021-05-25 14:15] adf-patrickha commented on #5401
Screen recording by the user (you can ignore the audio):
https://user-images.githubusercontent.com/84573341/119513126-3c45de80-bd74-11eb-8aa1-09cf1ecb82c6.mp4

AFAIK the user does nothing wrong and the issue is iPadOS or app related.

[2021-05-26 12:21] amyblais commented on #5401
@enahum Would you have any additional tips for this?

[2021-05-26 13:41] enahum commented on #5401
Video is not playing for me.

[2021-05-26 13:43] adf-patrickha commented on #5401
@enahum This is a GitHub issue. Just get the video via wget or copy the URL to VLC for example.

[2021-05-26 13:53] enahum commented on #5401
The video does not show, but is there a notification present in the iPad notification center, that could be why the badge does not clear.

Even thought the above is true, this is still a bug.
cc: @amyblais

[2021-05-26 14:01] amyblais commented on #5401
Opened a ticket: https://mattermost.atlassian.net/browse/MM-36046.

[2021-05-27 07:56] streamer45 commented on #3630
@schweigel

Yes. We are working on bumping the maximum accepted resolution for uploaded images.

[2021-05-28 00:21] #4645 closed

[2021-06-03 18:12] #5046 closed

[2021-06-03 18:14] enahum commented on #5046
Next release does have this fix and other perf improvements ;)

Thanks guys for your patience and help ❤️

[2021-06-03 18:45] panther7 commented on #5046
Finally, thanks...

[2021-06-05 16:30] iameru opened #5429 "App loses focus on text-field when specialcharacters are input with blackberrykeyboard"
#### Summary
Mattermost on Android escapes (or loses its focus) text-input-field when entering character using 'sym' key on blackberry key one with real keyboard (no touchpad).

### Environment Information
  - Device Name: blackberry key one
  - OS Version: android 8.1
  - Mattermost App Version: 1.43
  - Mattermost Server Version: 5.35

#### Steps to reproduce
Should be reproducible using the dev

[2021-06-06 09:16] Vorlif commented on #4843
We had the same problem. In our case, it was because an IPv6 address was defined in the DNS, but the server could not be reached at this address. Maybe it is also a DNS problem for you?

[2021-06-07 12:22] amyblais commented on #5429
@josephbaylon Are you able to reproduce?

[2021-06-09 08:32] alexander-potemkin opened #5441 "MM iOS share screen issues"
#### Summary
iOS's share screen have an ugly halo; very small place to choose the destination.

### Environment Information
  - Device Name: iPad Pro 11, 12.9
  - OS Version: 14.4.2
  - Mattermost App Version: 1.43.0 (356 build)
  - Mattermost Server Version: 5.35.0 (build 5.35.2)

#### Steps to reproduce
Choose share anything on iOS, tap MatterMost, enjoy!

#### Expected behavior
No background 'h

[2021-06-09 13:02] amyblais commented on #5441
We have a ticket here: https://mattermost.atlassian.net/browse/MM-31757.

[2021-06-09 14:54] alexander-potemkin commented on #5441
Thanks. I did GitHub issues search first, but not the Jira.
By the way, am I right in understanding that GitHub Issues is more like a support, while is used for the actual development planning?

[2021-06-09 14:55] amyblais commented on #5441
That's correct!

[2021-06-09 14:59] alexander-potemkin commented on #5441
Got it, thanks!

[2021-06-11 10:01] Adesfire opened #5445 "emoji autocomplete not working"
#### Summary
Using the web interface of the mattermost-5.35.2 version, pressing ":" doesn't bring up the emoji autocomplete modal as expected.

### Environment Information
  - Device Name: Windows computer / Google Chrome
  - OS Version: 21H1 / Google Version 91.0.4472.101 (Official Build) (64-bit)
  - Mattermost App Version: mattermost-5.35.2
  - Mattermost Server Version: mattermost-5.35.2

####

[2021-06-11 12:50] enahum commented on #5445
Hi @Adesfire is this for the mobile app or for the desktop app?

[2021-06-11 14:28] Adesfire commented on #5445
Hi, from my desktop (Windows 10 and Chrome as explained above).
First I thought it was because of Grammarly, but even if it's disabled, no luck.

[2021-06-11 14:34] enahum commented on #5445
@Willyfrog @amyblais bringing this to your attention.. maybe we want to transfer this issue to the right repo ?

[2021-06-11 14:39] Willyfrog commented on #5445
This should go to the server, but I don't think I have permissions in the mobile repo.

I'll check nonetheless in a few minutes as I'm not at the laptop ATM.

[2021-06-17 08:33] fpeterschmitt opened #5463 "iOS - blank content after thread answer or adding photos with text"
#### Summary

Each time i navigate in a discussion thread or try to upload more than one photo (after navigation), the app goes blank with only the "blue bar" displayed.

I have to restart the app completely in order to recover.

### Environment Information
  - Device Name: iPhone 7
  - OS Version: 14.6
  - Mattermost App Version: 1.44.0
  - Mattermost Server Version: 5.36.0

#### Steps to reprodu

[2021-06-17 12:00] split-brain-83 opened #5464 "can't join bigbluebutton meeting"
#### Summary
MM mobile app (ios and android) won't allow to join BBB meeting. Instead of showing 'join meeting' button and linking to the BBB session, it shows a couple of hashes and no link at all. MM desktop app, MM classic mobile app and web browsers has no problems integrating with BBB plugin.

### Environment Information
  - Device Name: iphone SE
  - OS Version: 14.5.1
  - Mattermost App Ver

[2021-06-17 12:08] split-brain-83 commented on #3883
I really appreciate your hard work on MM mobile and hope this will get resolved soon. All the best!

[2021-06-17 13:44] amyblais commented on #5463
@josephbaylon Can you reproduce this?

[2021-06-17 17:24] Leryan commented on #5463
If there is a possibility to install and test with a "debugging version" of the app, i'll be more than happy to do so :)

[2021-06-17 17:49] josephbaylon commented on #5463
@amyblais I'm not able to repro this issue.

[2021-06-17 18:08] amyblais commented on #5463
cc @enahum if you have any thoughts on this.

[2021-06-17 18:48] enahum commented on #5463
This is the first time I'm seeing this, happening for more than a year? interesting... cause no one and I mean no one as had an issue like that.. Also I doubt is data driven as @Leryan says he is seeing this on a newly installed server.

@Leryan is this only happening to you on your iPhone 7? does it happen on other iOS devices or to anyone else using your deployment?

[2021-06-17 19:12] Leryan commented on #5463
I also find this very strange indeed.

I'm alone having this problem, other iOS users have more recent iPhones than me :)

Could it be from the OS itself with consecutive upgrades?

If i'm alone having this, the chances it's from my device are quite high.

Any chance to get a debug build though?

[2021-06-17 19:39] Leryan commented on #5463
fyi, i've set zoom and text size to their default values, deinstalled the app, rebooted, reinstalled, and same behaviour. so it's not related to a "display" problem.

if having a "debug" build is impossible i'll reset the entire phone and retry 🤷

[2021-06-17 19:41] enahum commented on #5463
@Leryan the best way to get a "debug"  build is to clone the repo and run it in development mode.. "Debug builds" is not something that we can easily distribute

[2021-06-17 21:02] Leryan commented on #5463
I found the bug I think: in Accessibility parameters, Motion settings, enable "Reduce Motion" and "Prefer Cross-Fade Transitions"

It's 100% reproducible that way, and I don't have the problem if the last option is deactivated!

[2021-06-18 01:26] enahum commented on #5463
@Leryan in fact I was able to reproduce by enabling "Prefer Cross-Fade Transitions" on iOS 14 and iOS 15.

This seems to be a bug with the React Native framework https://github.com/facebook/react-native/issues/31484 the issue is already opened and we would need to wait until it gets resolved.

[2021-06-18 10:11] Leryan commented on #5463
Ah thanks! I guess the issue can be closed then, as you wish :)

[2021-06-21 08:45] Terrymax-88 opened #5470 "Source"

[2021-06-21 12:29] #5470 closed

[2021-06-25 12:39] berenikaa opened #5485 "Markdown tables are not rendered on mobile application"
#### Summary
Markdown tables are not rendered on mobile application

### Environment Information
  - Device Name: Samsung A52
  - OS Version: Android 11
  - Mattermost App Version: 1.44.0
  - Mattermost Server Version:

#### Steps to reproduce
Create a message with table using markdown syntax in web application. Check the message via mobile application

#### Expected behavior
Table is rendered

##

[2021-06-25 12:42] enahum commented on #5485
Hi @berenikaa can you share an example? Is very easy to mis-format a table.

Our parser for tables in the webapp are a bit more forgiving than the one used in the mobile app.

[2021-06-25 12:51] berenikaa commented on #5485
Hi @enahum
Indeed our formatting was misleading - we were ending the headers with || instead of | - what renders correctly on web app but not on phone. Sorry not having spotted that earlier and thanks for your fast reply. Ticket can be closed.

[2021-06-25 12:51] #5485 closed

[2021-06-27 22:20] enahum commented on #4816
this https://mattermost.atlassian.net/browse/MM-28984 seems that it was already merged.

[2021-06-27 22:20] #4816 closed

[2021-06-29 13:19] ganpa3 opened #5500 "scroll To Index out of range"
#### Summary
Bug report in one concise sentence
App crashed with error: scroll To Index out of range

### Environment Information
  - Device Name: Realme 3 Pro
  - OS Version: Android 10
  - Mattermost App Version: 1.44.0
  - Mattermost Server Version: 5.35.0

Installed the app. Joined a community. Read some messages. Opened the app after 10 days. Saw a blue banner at the top saying "445 unread me

[2021-06-29 13:38] enahum commented on #5500
@ganpa3 thanks for the report, I've submitted a fix to be included in the next release ;)

[2021-06-29 18:32] #5500 closed

[2021-06-29 20:37] KlavsKlavsen commented on #566
perhaps ask in react-native-webview (upstream) issue queue? this is an upstream module - thats failling to compile with those 3 exclude's patched-in, no? If those weren't patched in - does it then compile? (just shooting blanks here.. also really  missing this app in mattermost)

[2021-07-02 14:21] licaon-kter commented on #566
patch as above + updated recipe a bit
[code]
fails with
[code]

[2021-07-06 14:10] enahum opened #5508 "Do you enjoy working in React Native, this post may be for you!"
#### Summary
In this GitHub repo you can find issues that people post about, and you may have the solution for those, or you may want to build a new feature from our roadmap because you know you have the skills needed to make our mobile app even better.

If that is the case, you may want to do that as your regular day to day job and consider joining us by applying [here](https://jobs.lever.co/matt

[2021-07-07 07:52] bitdessert opened #5512 "After clicking the 'Delete Documents & Data' menu, the 'Open teams you can join' menu disappears."
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2021-07-07 08:00] bitdessert opened #5513 "After setting 'Automatic Direct Message Replies', automatic reply messages are not rendered."
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2021-07-07 10:38] #5513 closed

[2021-07-07 16:24] #5512 closed

[2021-07-11 23:22] softmastx opened #5531 "iOS app forces login after app terminated."
#### Summary
iOS app forces login after app terminated
Everything else works as expected and notifications work if the app is minimized and closed/removed from app tray.

### Environment Information
  - Device Name: iPhone 8 Plus
  - OS Version: iOS 14.6
  - Mattermost App Version:  1.45.0 build 362
  - Mattermost Server Version: 5.36.1
  - Database Schema Version: 5.36.1
  - Database: mysql

  Ex

[2021-07-11 23:24] enahum commented on #5531
@softmastx are you building the app yourself? Are you uaing the beta published in test flight?

This is definitely not reproducing on my end

[2021-07-12 12:23] amyblais commented on #5531
@josephbaylon @lindalumitchell Are you able to repro this on v1.45-beta?

[2021-07-12 15:24] softmastx commented on #5531
I build the app in Xcode
https://www.linkedin.com/posts/softmastx_mattermost-activity-6820191886922412033-GAGm

[2021-07-12 16:18] enahum commented on #5531
@softmastx if you are building the app yourself I'd recommend to do it as described in the docs as there are a few things that the scripts take care of like properly assigning the app groups

[2021-07-13 23:42] softmastx commented on #5531
@enahum Can you confirm if the app groups setting or else was correct the app won't force re-logging in again when it has terminated on real device and Simulator?

I'm having this issue only on mobile app and there is no issue for web browser!
Thanks

[2021-07-14 00:08] enahum commented on #5531
@softmastx yes the app group is used to store a session token in the keychain

[2021-07-14 04:10] softmastx commented on #5531
@enahum According to this link https://developers.mattermost.com/contribute/mobile/build-your-own/ios/

I'm just confusing on the step 2 saying:

[code]

Let say that my app identifier is **com.softmastx.Mattermost** so, the app group, iCloud container and keychain would be
**group.com.softmastx.Mattermost**, **iCloud.com.softmastx.Mattermost**, **com.softmastx.Mattermost** respectively.

 App Gro

[2021-07-14 05:23] #5531 closed

[2021-07-14 05:25] softmastx commented on #5145
@satryacode thanks a million!

[2021-07-15 23:36] harshilsharma63 opened #5543 "Interactive dialog submission button not visible on mobile app"
#### Summary
When opening an interactive dialog, the submission button is expected to be visible so the user can submit their choices. On the mobile app though, the button is not visible.

### Environment Information
  - Device Name: OnePlus 6
  - OS Version: Android 10
  - Mattermost App Version: 1.45 (12 July release)
  - Mattermost Server Version: 5.38

#### Steps to reproduce
1. Install any pl

[2021-07-15 23:39] enahum commented on #5543
@larkox ☝️

[2021-07-18 09:20] PromoFaux opened #5545 "Carriage Return / Line Feed appears to crash the app"
1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://mattermost.atlassian.net/jira/software/c/projects/MM/issues/) to ensure that the ticket does not already exist.
2. Confirm your issue does not involve security. Otherwise, please see our [Responsible Disclosure Policy](https://about.mattermost.com/report-security-issue/).
3. [File a new issue](https://github.com/matter

[2021-07-18 13:02] enahum commented on #5545
@PromoFaux thanks for the report.. We'll make sure to include a fix for this crash in the upcoming dot release.

[2021-07-19 12:47] amyblais commented on #5543
@DHaussermann @larkox Are you able to reproduce and can you open a ticket?

[2021-07-20 00:19] #5545 closed

[2021-07-20 11:12] larkox commented on #5543
I can reproduce, and looking at the code I am would say this is not a recent regression.
The problem is that the submission button is taking the label from the dialog definition. If the dialog has no `submit_label` property, the button shows no text (but it is still there).

I just submitted a PR.

@harshilsharma63 a quick fix for your integration is to add a `submit_label` to the dialog definitio

[2021-07-20 11:23] harshilsharma63 commented on #5543
@larkox adding the `SubmitLabel` worked!

![Screenshot_20210720-165152](https://user-images.githubusercontent.com/18575143/126315970-0f832833-e844-4c6c-8f31-ba25c3b94654.jpg)

[2021-07-21 06:28] snowowl78 opened #5560 "Android: Picture share from Gallery to mattemost is not working"
#### Summary
Android App Image Share from Gallery with no effect / Upload

### Environment Information
  - Device Name: Samsung Galaxy S20FE
  - OS Version: Android 11 / One Ui-Version 3.1
  - Mattermost App Version: 1.45.0
  - Mattermost Server Version: 4.6.2

#### Steps to reproduce
Open Samsung Gallery app
Open picture you want to send
Hit share button
Select Mattermost from list
Now enter text

[2021-07-21 08:29] Bobo357 opened #5565 "MFA login stopped working for Android app"
We've been running Mattermost server for a long time but recently we noticed that when MFA is enabled for a user then app stops after entering MFA token. It concerns multiple users and only Android app. One user that has both Android and iPhone confirmed that he is able to login using iPhone but not with Android.

Server version:
Version: 5.36.0
Build Number: 5.36.0
Build Date: Thu Jun 10 13:14:06

[2021-07-21 18:56] amyblais commented on #5560
@snowowl78 We haven't been able to reproduce this, would you be open to upgrading your Mattermost server to the latest version (v5.37.0)?

[2021-07-22 04:46] snowowl78 commented on #5560
@amyblais I am sorry the Server is not under my control. But I took a look again to the server version (via the app's information screen) So I provided the wrong version to you.  As you will see in the provided Screenshot, the cyrrent actual server version is already at 5.33.2,  maybe this helps to investigate further?
![Screenshot_20210722-063554_Mattermost](https://user-images.githubusercontent.

[2021-07-22 05:56] snowowl78 commented on #5560
@amyblais I am sorry the Server is not under my control. But I took a look again to the server version (via the app's information screen) So I provided the wrong version to you.  As you will see in the provided Screenshot, the current actual server version is already at 5.33.2,  maybe this helps to investigate further?
![Screenshot_20210722-063554_Mattermost](https://user-images.githubusercontent.

[2021-07-22 12:57] PromoFaux commented on #5545
Confirmed working in latest release. Thanks for the speedy fix!

[2021-07-22 17:05] amyblais commented on #5565
@Bobo357 Was it working with the previous v1.44 Mattermost app version?

[2021-07-22 17:06] amyblais commented on #5560
@snowowl78 Was this working with the previous v1.44 Mattermost app version?

[2021-07-22 18:15] Bobo357 commented on #5565
That kind of question is very hard to answer because:
1) you don't usually check for app version when you don't have problems
2) App asks for MFA very rarely because usually you are constantly logged in
All I know that first reports came in around last weekend and it's currently affecting at least 6 people.

[2021-07-22 18:36] amyblais commented on #5565
@migbot @streamer45 Elias wasn't able to reproduce this and he doesn't know why this is affecting Android but not iOS. Would you have any additional ideas on how to troubleshoot this?

[2021-07-22 19:30] Bobo357 commented on #5565
@amyblais I could send you an invite to our server if it's any help.

[2021-07-22 20:08] enahum commented on #5565
@Bobo357 yes that could be helpful. Feel free to reqch out to me in our community server and we csn coordinate from there

[2021-07-23 06:10] Bobo357 commented on #5565
One user sent me very detailed report what happened:
1. He updated MM app to version 1.45.0 (before this everything was working correctly)
2. After opening app it shows only MM logo on white background, it's not possible to do anything else. Notifications however worked (when someone tagged him in message, etc)
He tried the following to remediate the problem:
1. restart phone
2. MM app force stop

[2021-07-23 11:56] snowowl78 commented on #5560
I am sorry, I have never tried this before. This was the very first time I used this share function in combination with the mattermost app.

[2021-07-23 13:35] enahum commented on #5565
It seems your deployment is setting an additional cookie called `Max-Age`, Android is complaining that this cookie contains an `Illegal character` for cookies, as far as my understanding goes an hyphen, dash is not valid in a cookie name. For some reason iOS is being a bit more forgiving than Android at their cookie parser implementation.

@Bobo357  I would advice the removal of the `Max-Age` cook

[2021-07-23 14:53] amyblais commented on #5560
@snowowl78 Are you the only one on your server seeing this issue or do you know if there are other people on the same server affected by this?

If just one user is affected, it may be related to a connection instability.

[2021-07-25 08:20] vext01 opened #5570 "Prevent the app logging out so frequently?"
#### Summary

App auto-logs you out every week or so.

### Environment Information
  - Device Name: Pixel 4a
  - OS Version: 11
  - Mattermost App Version: 1.45.1
  - Mattermost Server Version: unsure.

#### Steps to reproduce

Log in. Wait a week or so. You will be logged out.

This is awkward, since my password manager is on my PC at home, and I may not have immediate access to the password.

##

[2021-07-26 06:18] snowowl78 commented on #5560
I asked my colleagues to try to verify this behaviour.

On the other side do I not believe that this is related to a connection instability, because sharing from wihtin mattermost-app itself worked perfectyl fine.

I tried this more than ones now, and can still reproduce it every time.

[2021-07-26 17:22] amyblais commented on #5570
@vext01
1. What is your [session length setting](https://docs.mattermost.com/configure/configuration-settings.html#session-length-for-mobile-apps-days) set to?
2. You can find your server version from main menu > About Mattermost.

[2021-07-26 18:20] ghkc35 commented on #5570
@amyblais

Having this issue as well on Android. We have our session length set to 30 days and server version is 5.31.4. We had to revert back to v1.43.0.

[2021-07-29 08:57] alexander-potemkin opened #5576 "Mobile app takes like half a minute to load messages on cold start"
#### Summary
Cold open the mobile app against self hosted server; it takes like 30 seconds for the app to display that there are new messages.

### Environment Information
  - Device Name: various iPhones
  - OS Version: latest iOS (14.7.1)
  - Mattermost App Version: 1.45.1
  - Mattermost Server Version: 5.37.0

#### Steps to reproduce
Cold open app on iOS, measure the waiting time till the chann

[2021-07-30 07:30] alexander-potemkin commented on #5576
just in case - it’s not the same on desktop app and quite a frustrating experience: you open the messenger and sees nothing, so you close it. Then it’s turned out, that there were messages in there, quite a lot of them, but you had to wait for an unknown period of time.

I guess, an element showing that things are in progress of being loaded would help a lot as a short term fix.

[2021-07-30 14:10] licaon-kter commented on #566
Another recipe update (same patch), maybe now somebody can drop in some wisdom?
[code]

Fails with:
[code]

[2021-07-30 17:35] amyblais commented on #5570
cc @enahum Adding you here in case you have additional thoughts on this issue.

[2021-07-30 17:35] amyblais commented on #5576
cc @enahum Adding you here too in case you have additional thoughts on this issue.

[2021-07-30 17:40] enahum commented on #5570
Is this a stock app or a custom build?
Do you see any 401 status codes in the server logs? if so, when?
Are we sure is the app? Have you tried the same repo steps logging into our community server?

[2021-07-30 17:41] enahum commented on #5576
No additional thoughts, not sure why is taking so long for them, it shouldn't take really more than 2 or 3 seconds on a slow connection even if it has to go through a few requests before it fetches new posts. @alexander-potemkin do you see the same results if you connect to our community server?

[2021-08-02 06:58] Bobo357 commented on #5565
Thank you for quick response and solution! Removing the cookie helped.

[2021-08-02 06:58] #5565 closed

[2021-08-03 14:27] jasonblais commented on #5576
@alexander-potemkin in case you weren't sure, our community server is at https://community.mattermost.com

[2021-08-03 14:37] jasonblais commented on #2346
Given the related issue was closed https://github.com/mattermost/mattermost-mobile/issues/2347, and there hasn't been recent activity, we'll assume that the problem is fixed or is no longer valid.

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2021-08-03 14:37] #2346 closed

[2021-08-03 14:38] jasonblais commented on #3355
@9cat sorry to hear about your experience. Would you be open to share more on the behaviour you're observing, and what you would expect to see?

[2021-08-03 14:40] jasonblais commented on #3630
Quick update: we have an open PR that adds a new `FileSettings.MaxImageResolution` setting to allow admins to set a custom limit to the dimension of uploaded images. We also raise the default limit to 33MP (8K resolution) which seems like a good compromise that should cover most cases.

https://github.com/mattermost/mattermost-server/pull/17941

It is now undergoing QA review.

[2021-08-03 14:42] jasonblais commented on #3643
Hi @eni23 sorry for the delay in getting back to you.

The tickets were completed a few months ago, and were released in December/2020 (v1.38 of the mobile apps).

I'll close the issue for now. If you see the issue persisting, please ensure your mobile apps are on v1.38 or later, or otherwise reopen this issue and we'll be glad to help you.

[2021-08-03 14:42] #3643 closed

[2021-08-03 14:44] jasonblais commented on #3675
@josephbaylon would you be open to try reproduce this issue on iPhone?

@svelle anything particular they should be looking for from the server logs?

[2021-08-03 14:48] jasonblais commented on #3694
@R0one thanks for your report. The setting you're referring to actually does refer to email notifications. You can configure your desktop notifications on your desktop or browser via **Account Settings > Notifications > Send desktop notifications**.

Let us know if this is helpful, happy to clarify if you have any questions.

[2021-08-03 14:49] jasonblais commented on #3737
Thanks both for your report. Given this impacts an older mobile version and an older server version, I'll close this issue.

If anyone else stumbles upon this issue, please review the changelog to review the compatible server versions for the mobile app you are running: https://docs.mattermost.com/deploy/mobile-app-changelog.html

[2021-08-03 14:49] #3737 closed

[2021-08-04 09:59] R0one commented on #3694
As a matter of fact, I thought this menu was for setting desktop (web) notifications because of the only button that appeared: «envoyer des notifications de bureau» which translates to "send desktop notifications".

So it's actually this string that should be fixed to something like «envoyer des e-mails» or «envoyer des courriels».

But this issue is old that I'm not even sure this button still ex

[2021-08-08 09:14] mimi89999 opened #5611 "App theme doesn't change when system theme changes"
#### Summary
App theme doesn't change when system theme changes

### Environment Information
  - Device Name: Samsung Galaxy A3 2017
  - OS Version: 11
  - Mattermost App Version: 1.45.0
  - Mattermost Server Version: 5.37.0

#### Steps to reproduce
1. In the Settings app or in quick settings change system theme from light to dark
2. Notice that most apps changed the theme to dark
3. Open Mattermo

[2021-08-10 12:09] jasonblais commented on #5611
@mimi89999 thank you for the report. Curious if this is similar/related to this feature proposal? https://mattermost.uservoice.com/forums/306457-general/suggestions/43424589-switch-theme

[2021-08-11 15:19] alexander-potemkin commented on #5576
@jasonblais , thank you - I didn't know indeed, that was of help!

@enahum , it seems to be Ok on community server - it's not exactly accurate, as not that many people are writing there and there are not active threads in there; but there is one more thing - it _seems_ like on my own server it started working faster after I re-loged-in, but not for a long time: just today, after a long conversatio

[2021-08-11 15:46] enahum commented on #5576
@alexander-potemkin currently the mobile app does a lot of things when you first open it and any of them can be causing things to slow down for you.

Let me explain high level what happens:
1. As the app opens we fetch your updated data, this means: Your user, preferences, your teams, the number of unread messages in your teams.
2. The app opens up the channel screen, in here then we sync the chan

[2021-08-12 07:32] mimi89999 commented on #5611
@jasonblais Yes

[2021-08-13 21:06] jasonblais commented on #5611
@mimi89999 Thank you for confirming!

Would you be open to [contributing this in the feature idea proposal](https://mattermost.uservoice.com/forums/306457-general/suggestions/43424589-switch-theme) so it can be discussed, upvoted and considered for a [help wanted ticket](https://handbook.mattermost.com/contributors/join-us/help-wanted)?

You get **10** votes in the feature idea forum, and each one

[2021-08-13 21:06] jasonblais commented on #5611
To add, our product team also regularly monitors additions to the forum. This will help keep all feature proposals across our community in one place. Let me know if you have any questions :)

[2021-08-14 16:02] mimi89999 commented on #5611
My proposal on how to implement this feature is to make separate server side settings for the light and dark theme and per device settings: auto, light, dark.

[2021-08-16 11:28] alexander-potemkin commented on #5576
@enahum , thank you very much for such a detailed explanation! I suspected something of the kind, but it looks like a lot, indeed =)

A few questions from my side:
- is there any way to introduce some 'Loading...' message somewhere on the interface, so that the user would be aware that what he/she sees, is not up to date (because that's the main problem now)?
- is there any estimate for the new ar

[2021-08-17 11:12] #5543 closed

[2021-08-18 02:05] perpetualrobe commented on #4144
@AiTranXuan I'm having the same issues and cant find anything. Have you found a fix for it?

[2021-08-21 13:23] someone-somenet-org opened #5633 "Join as guest not displayed correctly."
#### Summary
When guests join the app doesnt display it correctly.

### Environment Information
  - Device Name: Oneplus 5t
  - OS Version: LOS 18.1
  - Mattermost App Version: 1.46.0
  - Mattermost Server Version: 5.37

#### Steps to reproduce
+ let guests join any channel.
+ open channel in app.

#### Expected behavior
Guest joins getting dispalyed and squashed correctly.

#### Observed behavior

[2021-08-21 16:54] jasonblais commented on #5633
Thank you @someone-somenet-org for the report!

I've reproduced the issue and created a ticket for our engineering team to triage and prioritize: https://mattermost.atlassian.net/browse/MM-38065

If anyone in the community is open to help with a contribution, let us know! Otherwise I'll post back here once the ticket is queued for a release.

[2021-08-21 16:55] jasonblais commented on #5633
(Really great details in your report, made it easy for me to reproduce and share with our engineering team, thank you! 👍 )

[2021-08-21 18:21] jasonblais commented on #4547
@ahmaddanialmohd Would you have any guidance on how we might be able to troubleshoot this further?

@kernandreas @darkpiv Can you help share what iPhone and iOS version do you have? Have you recently seen this issue (cc @madhermit as well whether you've still seen this issue occur)

[2021-08-21 18:23] jasonblais commented on #4530
@alexanderon Since it's been a few months from last activity on this issue, we'll assume that the problem is fixed or is no longer valid.

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you if we can, though as mentioned the internal team uses MacOS for development.

[2021-08-21 18:23] #4530 closed

[2021-08-21 18:25] jasonblais commented on #4514
@migbot were you able to take a look / do you know if this issue has been resolved?

[2021-08-21 18:27] #4478 closed

[2021-08-21 18:28] jasonblais commented on #4478
Jira ticket reference: https://mattermost.atlassian.net/browse/MM-26489

[2021-08-21 18:30] jasonblais commented on #4472
@bitdessert Sorry for the delay in responding to you. Would you be open to let us know if this issue is still occurring for you?

[2021-08-21 18:32] jasonblais commented on #4470
@bitdessert Sorry for the delay in responding to you. I just tried it but wasn't able to reproduce, that said I have an iOS device. Would you be open to let us know if this issue is still occurring for you?

[2021-08-21 18:33] jasonblais commented on #4431
We haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2021-08-21 18:33] #4431 closed

[2021-08-21 18:33] jasonblais commented on #4430
We haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2021-08-21 18:33] #4430 closed

[2021-08-21 18:34] jasonblais commented on #4429
We haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2021-08-21 18:34] #4429 closed

[2021-08-21 18:34] jasonblais commented on #4428
We haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2021-08-21 18:34] #4428 closed

[2021-08-21 18:36] jasonblais commented on #4292
Thanks for your report! A fix for this issue was shipped in v1.34, released in the app stores in August 2020.

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

Jira ticket for reference: https://mattermost.atlassian.net/browse/MM-21155

[2021-08-21 18:36] #4292 closed

[2021-08-21 18:42] jasonblais commented on #4199
@bitdessert Sorry for not responding to you earlier.

We released a fix with v1.34, which shipped in August 2020. Jira ticket here for reference: https://mattermost.atlassian.net/browse/MM-21155

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2021-08-21 18:42] #4199 closed

[2021-08-21 18:43] jasonblais commented on #4144
@perpetualrobe Thanks for letting us know. Are you open to share the information below to help us troubleshoot:

- Device Name (e.g. iPhon 8S)
- OS Version:
- Mattermost App Version:
- Mattermost Server Version:

If you're uncertain how to get any of the above information, let us know and we're happy to help you.

[2021-08-21 18:45] jasonblais commented on #4020
We haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the latest version.

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2021-08-21 18:45] #4020 closed

[2021-08-21 18:47] jasonblais commented on #3835
@xRahul Thanks for reporting this issue to us! We released a fix for this issue with v1.34, released in August 2020.

Jira ticket for reference: https://mattermost.atlassian.net/browse/MM-22029

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2021-08-21 18:47] #3835 closed

[2021-08-21 19:07] jasonblais commented on #3694
@R0one Thank you, I appreciate it 👍  I suspect this was fixed some time between your initial report and today, as this setting should be consistent with Android and IOS.

I'll close this as resolved, but it can always be reopened if a current Android user experiences the issue.

Thanks again!

[2021-08-21 19:07] #3694 closed

[2021-08-21 19:08] jasonblais commented on #3630
The PR was merged and is scheduled for Mattermost v6.0, releasing on September 15.

[2021-08-23 00:27] ahmaddanialmohd commented on #4547
@jasonblais I think it is best to get the mobile team involved since it is very specific to that.

@enahum @migbot @avinashlng1080 Have you encountered something like this before?

[2021-08-23 00:29] enahum commented on #4547
@ahmaddanialmohd in my case, not ever.

[2021-08-25 03:41] perpetualrobe commented on #4410
@fabioespinosa Were you able to fix this? I have the same issue

[2021-08-25 12:44] licaon-kter commented on #4044
@PanderMusubi This was not fixed in the latest available version in F-Droid?

[2021-08-25 12:50] ilippert commented on #4044
I confirm this issue seems to be fixed.

[2021-08-25 15:38] licaon-kter commented on #566
Nothing new, I just noticed that patch-package failed, wrong path:
[code]
...same error as above

[2021-08-30 16:00] enahum commented on #4514
I haven't been able to reproduce this at all.. and this report seems a bit old in my opinion.

Also this is only applicable if you are trying to build the app yourself and change a few default values in the configuration. Most of this is changing on Gekidou as @migbot pointed out, so unless the developer trying to build the app can work around this I would say try and not to modify the default con

[2021-08-31 02:08] jasonblais commented on #4514
Thanks both. Just realized this was from Jul/2020, I thought it was from Jul/2021.

@bitdessert Given this is a relatively old issue, we'll close the problem as fixed or is no longer valid.

However, if you still experience the same problem, try upgrading to the latest Mattermost server version.  If the issue persists, reopen this issue with the relevant information and we'd be glad to help you wh

[2021-08-31 02:08] #4514 closed

[2021-08-31 05:41] bitdessert opened #5652 "When I click on the settings menu, nothing happens."
#### Summary
When I click on the settings menu, nothing happens.

### Environment Information
  - Device Name: galaxy
  - OS Version: Android 9
  - Mattermost App Version: 1.46.0
  - Mattermost Server Version: 5.38

#### Steps to reproduce
Settings -> Display -> Click on Mobile notifications -> Permission OK -> modal closed -> Click on Mobile notifications
 -> no response -> back button -> Display

[2021-08-31 06:07] bitdessert opened #5653 "There seems to be a problem with uploading and downloading gif files."
#### Summary
There seems to be a problem with uploading and downloading gif files.

### Environment Information
  - Device Name: galaxy
  - OS Version: Android 9
  - Mattermost App Version: 1.46.0
  - Mattermost Server Version: 5.38.1

#### Steps to reproduce
1. Use the image upload function of quick action
2. Select gif
3. Send
4. Check uploaded images
5. Uploaded image does not move
6. Even afte

[2021-08-31 11:55] xRahul commented on #3835
Thank you!

[2021-08-31 15:20] Gituser564738 opened #5657 "ShareViewController crashes if managed config inAppPinCode is true"
#### Summary
When trying to share a Document or image to Mattermost ShareViewController crashes

### Environment Information
  - Device Name: iPhone
  - OS Version: iOS 14.5.1
  - Mattermost App Version: 1.46.0
  - Mattermost Server Version:  5.37.0

#### Steps to reproduce
Set app config inAppPinCode = true
Try to share document or image to the app with iOS built in sharing feature to the matterm

[2021-09-01 08:13] Gituser564738 commented on #5657
Did some more research and it seems that the crash is because the LAContext deviceownerauthentication is called in background before Sharing is in foreground
https://github.com/mattermost/mattermost-mobile/blob/c90d040b40015db6e8906ab9a96eaad137bd5832/ios/MattermostShare/ShareViewController.swift#L53

[code]
inserting a DispatchQueue solves the crash and presents the authentication window correctl

[2021-09-01 14:16] amyblais commented on #5657
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-38299.

[2021-09-01 17:00] josephbaylon commented on #5652
@amyblais I'm not able to repro this issue. Settings menu is responsive for me given the steps above.

[2021-09-01 17:55] amyblais commented on #5653
Thanks, opened a ticket: https://mattermost.atlassian.net/browse/MM-38309.

[2021-09-01 18:32] #5633 closed

[2021-09-01 18:50] #5657 closed

[2021-09-01 23:56] bitdessert commented on #5652
@josephbaylon The expected behavior is as follows.
* Settings -> Display -> Click on Mobile notifications -> Permission OK -> modal closed -> Click on Mobile notifications
-> responsive
Settings -> Help -> Back button -> All menus responsive

[2021-09-02 00:14] josephbaylon commented on #5652
@bitdessert @amyblais I'm now able to repro the unresponsiveness of the settings menu. I misunderstood the steps so I listed more detailed steps below.

A.
1. Settings > Notifications > Mobile
2. Tap on Allow for permissions, then modal closes
3. Attempt to tap on any of the Notifications options (Mentions and Replies, Mobile, Email)

Expected: User should be redirected to the appropriate views
Ac

[2021-09-02 12:21] amyblais commented on #5652
Ticket: https://mattermost.atlassian.net/browse/MM-38322.

[2021-09-02 12:42] #5653 closed

[2021-09-05 19:47] mantuko opened #5667 "Android users not able to log in due to invalid or expired session"
#### Summary
Multiple Users using the Android app get the message "Invalid or expired session, please login again." when trying to log in.

### Environment Information
  - Device Name: Mobile Android phone
  - OS Version: Android 11 RKQ1.200826.002 (will add other one later when I got info)
  - Mattermost App Version: 1.46.0
  - Mattermost Server Version: 5.38.2

#### Steps to reproduce
Unknown …

[2021-09-07 12:13] alexander-potemkin commented on #5576
@enahum , gentle reminder

[2021-09-07 12:23] enahum commented on #5576
@alexander-potemkin I'm sorry for the delayed response

There's nothing planned for this as of today, Also I'm curious if this happens in other servers like the community server, perhaps there is something else to be looked at here instead of just adding a loading indicator.

This is a huge task and no promises are being made although the timeline is to roll out a beta version by Jan 2022, but kee

[2021-09-07 12:23] alexander-potemkin commented on #5326
@enahum , I followed the link and for the future reference of anyone looking for that feature, here is the content:

It also links to https://github.com/mattermost/mattermost-mobile/tree/voice-message

As I heard on some of the thread, mobile client changes are coming - won't they include that one as well?

If not, how can I contribute this to the main source code? What will be required, so that I

[2021-09-07 12:24] alexander-potemkin commented on #5326
and, btw, I understand, that server plugins (https://developers.mattermost.com/integrate/plugins/mobile/) - is another way of achieving this, paired with https://github.com/streamer45/mattermost-plugin-voice ?

[2021-09-07 12:25] enahum commented on #5326
Not a feature that I'm aware of, the branch you linked was a hackathon project and is extremely old and not near production ready. I'd recommend reaching out to a PM instead.

[2021-09-07 12:26] alexander-potemkin commented on #5326
any clue who is that and how to do that?

[2021-09-07 14:03] enahum commented on #5326
You can always join our clmmunity server at https://community.mattermost.com you'll gind most of the staff there and conversations about everything we are working on and all that. Feel free to get involve in the conversations :)

[2021-09-07 15:47] alexander-potemkin commented on #5326
Thank you, I'm in, actually...
What is the right channel or who is the right person to approach in my specific case, to get an understanding on what needs to be done to estimate the costs and probably implement it, is it something you can assist? Or shall I just shout on Town Square for that, @enahum ? =)

[2021-09-07 15:55] enahum commented on #5326
I would suggest the [Feature proposals](https://community-daily.mattermost.com/core/channels/feature-ideas) channel

[2021-09-07 18:04] amyblais commented on #5401
Closing, this was fixed in v1.44 release,

[2021-09-07 18:04] #5401 closed

[2021-09-07 18:05] amyblais commented on #5039
Closing, this was fixed in v1.42 release,

[2021-09-07 18:05] #5039 closed

[2021-09-07 18:08] amyblais commented on #4851
Closing, this has been completed,

[2021-09-07 18:08] #4851 closed

[2021-09-07 18:09] amyblais commented on #4817
Closing, this was fixed in v1.45 release,

[2021-09-07 18:09] #4817 closed

[2021-09-08 00:32] jasonblais commented on #5667
@mantuko Thank you for the detailed issue description! Really appreciate it.

Few questions about your environment:

1. Are you open to confirm that your server has email/password login enabled only? (I assume so based on your note "...in red above the input for email or username...", but wanted to confirm)
2. Does anything appear in the Mattermost logs when they try to log in? You may need to tem

[2021-09-08 05:38] mantuko commented on #5667
@jasonblais Thank you for your response.

1. Yes, I email/password login is the only enabled option. No AD/LDAP, SAML, …
2. I just set the File Log Level to DEBUG and ask them to try to log in. I'll then post interesting log entries here.
3. Session length are (default as 95% as the other settings):
    - Extend session length with activity: false
    - Session Length AD/LDAP and Email (days): 180

[2021-09-08 06:48] mantuko commented on #5667
@jasonblais OK, my test users were quite fast. I like them :) I narrowed it down to to log messages each concerning the login. There's a gap of > 5 seconds to the previous and next log messages so I figured they have nothing to do with it. It's "Received HTTP request" with status 200 for loading the brand image or similar. So here are the logs:

    // 1st user - start
    {
        "level": "debu

[2021-09-08 15:55] alexander-potemkin commented on #5576
@enahum , no worries, thanks for the detailed responce.

I did indeed tested on community server [earlier](https://github.com/mattermost/mattermost-mobile/issues/5576#issuecomment-896917584), and from what I can see it's not a server specific.

And in my case it took much longer that a couple of seconds, for a muuuuch less loaded self-hosted server, and pull up to refresh doesn't help... =(

Havin

[2021-09-08 23:41] LoneStudent opened #5674 "iOS Push Notification stopped working"
All of a sudden, iPhones stopped receiving push notification. Android / desktop app still receiving notification. No server change.

### Environment Information
  - Device Name: iPhone 8 / X
  - OS Version: 14.7.1
  - Mattermost App Version: 1.46.0 (build 368)
  - Mattermost Server Version: 5.38.2

#### Steps to reproduce
How can we reproduce the issue (what version are you using?)

Send message f

[2021-09-09 02:05] jasonblais commented on #5667
@mantuko Thank you! This is excellent. It is okay to leave the `reqeuest_id` fields sanitized. I'll try and see if the team has any insights on this and get back to you.

[2021-09-09 06:55] ahmaddanialmohd commented on #5667
Hi, @mantuko

I understand that you are facing this specifically on the Mattermost Android app and at this point, we have the following information to help us understand what the potential root cause is:

* "msg": "Invalid or expired session, please login again."
* "err_details": "UserRequired"

I could not find any specific reason as to why it is only affecting a specific mobile OS for now.

As I

[2021-09-09 07:14] mantuko commented on #5667
@ahmaddanialmohd You now have an account on my server.

What I have to add it's not all Android users. I got three users with Android devices. One has no problems and two have the same problem which prevents them from logging in.

The one having no problems users also uses Android 11. I visited her yesterday and wie logged out an in without a problem.

[2021-09-09 08:37] mantuko commented on #5667
I just had a colleague try to login while standing next to her and solved the issue. I hat a redirect going from another domain and the ones who cannot log in used the redirected domain. The ones that can log in used the final url.

Sorry for wasting your time.

[2021-09-09 08:37] #5667 closed

[2021-09-09 11:20] jasonblais commented on #5667
@mantuko Glad the issue got resolved!

[2021-09-09 12:09] amyblais commented on #5674
@LoneStudent There was an issue with the push proxy for iOS devices but it is fixed now. Do you still experience this issue?

[2021-09-09 23:05] ahmaddanialmohd commented on #5667
Hi, @mantuko

All good. For transparency purposes, we had a conversation in your instance to confirm that I had no issues with logging in your server initially and I was able to communicate with you from there.

Happy to know that the issue is resolved now.

[2021-09-12 06:19] LoneStudent commented on #5674
Hi,

Its working again.

Thanks for taking the time to respond.

[2021-09-12 06:19] #5674 closed

[2021-09-15 13:00] someone-somenet-org commented on #5633
Is there an eta on this?

Our channels currently look like this
![IMG_20210915_145943](https://user-images.githubusercontent.com/5354356/133437932-013f6eb3-20e3-4fc4-9090-391a9937382b.jpg)

[2021-09-15 13:08] jasonblais commented on #5633
@someone-somenet-org It is scheduled for the next mobile app release, v1.47.  This is planned for on or around Oct 13.

[2021-09-16 14:19] juska commented on #5570
I experience this behavior too, with a more recent app and server version. I am using app version 1.46.0 (build 3000368) and server version 5.38.1 (build cern-ci) on an Android 11 device (Galaxy S10). The session length is set to 30 days.
My colleague using an Apple phone told be that also she has noticed this behavior.

[2021-09-16 14:40] amyblais commented on #5570
Would you be open to sharing more details based on the dev questions above

1. Is this a stock app or a custom build?
2. Do you see any 401 status codes in the server logs? if so, when?
3. Have you tried the same repo steps logging into our [community server](https://community.mattermost.com/)?

[2021-09-16 14:48] juska commented on #5570
1. This is "CERN Mattermost Team Edition"
2. I have no idea. I'm a user.
3. No.

[2021-09-16 21:42] rousesDev opened #5679 "[iOS] app forces user to login after app has been closed."
#### Summary
Mattermost app on iOS forces the user to login page when opening the app after closing it. This does not happen on the android version of the app.

### Environment Information
  - Device Name: iPad (7th gen)
  - OS Version: 14.7.1
  - Mattermost App Version: 1.4.6
  - Mattermost Server Version: 5.26.1

#### Steps to reproduce
Install the app, Login, close the app, remove it from runni

[2021-09-16 22:22] amyblais commented on #5679
@rousesDev Would you be open to upgrading to a more recent server version to see if the issue is improved? I'd recommend upgrading to v5.37.2 or later.

Do you see the same issue if you connect to our [community server here](https://community.mattermost.com/)?

[2021-09-17 02:50] enahum commented on #5679
@rousesDev if you are building the app without using the build scripts on every target Info.plist file you need yo update the app group identifier to match yours.

That said, I strongly suggest you use the scripts and follow the docs to avoid this or any other issues from happening

[2021-09-17 16:51] rousesDev commented on #5679
@enahum I forgot to add the group. part to the start of the appgroupidentifer when editing the info.plist as soon as I added that it resolved this issue.

[2021-09-17 16:51] #5679 closed

[2021-09-17 23:17] redfast00 opened #5681 "Android notifications shows profile picture of webhook creator instead of custom webhook picture"
#### Summary

Android notifications shows profile picture of webhook creator instead of custom webhook picture

### Environment Information
  - Device Name: OnePlus 2
  - OS Version: 10
  - Mattermost App Version: 1.46.0
  - Mattermost Server Version: latest

#### Steps to reproduce

1. Create an incoming webhook with account A
2. In the webhook, go to "Profile Picture", and paste a URL of an imag

[2021-09-17 23:35] enahum commented on #5681
Great catch @redfast00 iOS does not have this issue as it does not display the user profile image.

Now that you identified the issue, would you be able to submit a PR to include override_icon? The potential problem that I see here is to follow the server config that is not available native side to check for the EnableIconOverride setting.

[2021-09-18 07:36] redfast00 commented on #5681
No, with the new academic year starting, I unfortunately don't have the time to get worked into the codebase

[2021-09-20 10:37] florencebiree opened #5682 "Team icons not displayed in mattermost mobile for Android"
#### Summary
Team icons are not shown in Mattermost mobile android

### Environment Information
  - Device Name: Samsung Galaxy S5
  - OS Version: LineageOS 18.1 (Android 11)
  - Mattermost App Version: 1.46.0 (apk downloaded here on github)
  - Mattermost Server Version: 5.39.0

#### Steps to reproduce

When I open the team choice pannel in the mobile app, teams icon are not shown, only initials

[2021-09-20 12:11] amyblais commented on #5681
Ticket: https://mattermost.atlassian.net/browse/MM-38660.

[2021-09-22 20:42] amyblais commented on #5682
@florencebiree Would you be open to testing if you can reproduce it on our subpath test server https://subpath.test.mattermost.com/mattermost/signup_user_complete?

We haven't been able to repro this on our end.

[2021-09-25 08:37] daniel-jirca opened #5693 "App crashes during search for share targets."
#### Summary
App crashes during search for share targets.

### Environment Information
  - Device Name Xiaomi Mi 9T:
  - OS Version: Lineage OS 17.1, September update
  - Mattermost App Version: 1.46.0
  - Mattermost Server Version:
Mattermost Version: master
Database Schema Version: 6.0.0
Database: postgres
Build Hash: ef639973b7665d6f1d054359fe9569be6decc21f
EE Build Hash: none
Webapp Build Hash

[2021-09-26 18:51] jasonblais commented on #5693
@daniel-jirca Thank you for the report. For step 1, can you confirm from which app have you attempted to share a picture/url, which then resulted in a crash in step 4?

[2021-09-26 19:14] daniel-jirca commented on #5693
The source app does not matter. You can use any app, as I have specified in the report.

The crash happens during the search channel operation.

[2021-09-27 11:08] jsimomaa opened #5695 "App crashes when clicking notification"
#### Summary
App crashes when clicking notification

### Environment Information
  - Device Name: OnePlus 7T
  - OS Version: Android 11
  - Mattermost App Version: 1.46.0
  - Mattermost Server Version: 5.38.1

#### Steps to reproduce
Click notification

#### Expected behavior
Mattermost Mobile opens to channel where notification came from

#### Observed behavior (that appears unintentional)
App cr

[2021-09-27 13:05] amyblais commented on #5693
Can we reproduce this? @josephbaylon cc @enahum @shazm

[2021-09-27 13:05] amyblais commented on #5695
Can we reproduce this? @josephbaylon cc @enahum

[2021-09-27 13:08] enahum commented on #5693
@amyblais yes this reproduces

[2021-09-27 13:11] amyblais commented on #5693
Ticket: https://mattermost.atlassian.net/browse/MM-38855

[2021-09-27 13:17] enahum commented on #5695
@amyblais chances are high that this PR fixes it https://github.com/mattermost/mattermost-mobile/pull/5669

[2021-09-28 03:36] kiroswu opened #5697 "IOS15 mattermost app cannot receice msg notifications"
After upgraded to IOS15, the mattermost app cannot receice msg notifications. It's all fine in ios14 before ios upgrade. What should i do or how to fix it? Thx

Mattermost server version: 5.38.2 linux x64
Push Notification Server: https://push-test.mattermost.com
ios mattermost app version: 1.46.0(build 368)

Mobile notification is configurated for all activity and triggered when online away or of

[2021-09-28 13:45] amyblais commented on #5697
@enahum @josephbaylon Can we reproduce this?

[2021-09-28 13:48] enahum commented on #5697
As you can see in this screenshot attached is working totally fine for me
![image](https://user-images.githubusercontent.com/6757047/135099820-bf78facd-1db4-4bb8-8a5d-dd5117df0124.jpeg)

[2021-09-28 14:27] #5693 closed

[2021-09-28 15:51] florencebiree commented on #5682
It seems I need an invitation to create a account on this server, isn't it?

[2021-09-28 16:42] amyblais commented on #5682
@florencebiree The link I shared above should allow you to sign up / create a new account. What do you see when you click the link?

[2021-09-29 08:16] florencebiree commented on #5682
@amyblais I see a screen where I can create an account. When I fill the form for a login with e-mail and password, after the click on "Create account", a message appear: "This server does not allow open signups. Please speak with your Administrator to receive an invitation."

[2021-09-29 12:24] amyblais commented on #5682
Sorry about that, @josephbaylon would you be able to share an invite link with @florencebiree? (I don't have an account on the subpath server either)

[2021-10-03 13:56] daniel-jirca commented on #5101
I too would like to have the option of downloading pictures sent via mattermost. The option to download is present in the web app, but not in the android app and it's very frustrating when you want to extract photos from a conversation.

[2021-10-03 14:11] daniel-jirca commented on #5128
I would vote for the removal of the 5 files maximum limit when sharing to mattermost.
It seems arbitrary and only hinders the experience when sharing photos.

[2021-10-09 18:02] jbozanowski opened #5736 "iPad with physical keyboard: enter key never sends message"
Starting with first beta release of 1.47, pressing the physical enter key on my smart folio keyboard never sends the message, only inserts a newline (including using any modifiers like cmd, option, etc.). The only way to send the message seems to be to press the on-screen send button, which on iPadOS 15 is almost entirely obscured by system keyboard widgets for changing keyboard settings and dicta

[2021-10-10 01:50] enahum commented on #5736
@amyblais this is a regression, apps built with Xcode 13 and running on iPad 15, requires us to set a new property called `WantsPriorityOverSystemBehavior`.

Will submit a PR tomorrow and cut a new build as a new RC

Thanks for reporting @jbozanowski

[2021-10-10 13:49] #5736 closed

[2021-10-12 15:23] marbaugh commented on #5387
Agree, having this organization sync across web and mobile app would be very useful!

[2021-10-13 16:58] marbaugh commented on #5387
Got the update last night and the syncing is great. Thanks!

[2021-10-13 18:52] dipak-demansol opened #5750 "No internet/Connecting... Toast message is not removed After Connection app successfully with Internet/WiFi"
#### Summary
User open the app

### Environment Information
  - Device Name: - Redmi note 5
  - OS Version:- 8.1.0
  - Mattermost App Version:- 1.47.0 (Build 3000374) & 1.46.0 (Build 3000368)
  - Mattermost Server Version: 6.0.0

#### Steps to reproduce
1) Turn Off the internet/WiFi.
2) open the app.
3) in the Header section the user will see the Toast message as "No internet"
4) Turn ON the Inter

[2021-10-13 19:24] josephbaylon commented on #5750
@amyblais I'm able to repro on Android. Though it doesn't seem to be a recent regression since it's also happening on v1.46.

A workaround is to close and re-open app so that connection bar goes away.

[2021-10-13 20:14] amyblais commented on #5750
Opened a ticket: https://mattermost.atlassian.net/browse/MM-39338.

[2021-10-16 19:29] Elehiggle opened #5757 "GIF emojis play at 4x speed with newest Mattermost mobile update on iPhone 13 Pro (120hz)"
#### Summary
GIF emojis play at 4x speed with iPhone 13 Pro (120hz)

### Environment Information
  - Device Name: iPhone 13 Pro
  - OS Version: 15.0
  - Mattermost App Version: v1.47.0
  - Mattermost Server Version: 5.37.2 (happens on v5.31 too)

#### Steps to reproduce
Send any GIF emoji.
It worked perfectly normal before the Mattermost app update (old version 1.46.0)
A colleague has confirmed th

[2021-10-17 14:02] enahum commented on #5757
Hi @Elehiggle thanks for the report.

Sadly the iOS simulator for iPhone 13 and variations does not run at 120Hz or I haven't find a way to enable 120Hz on them, so  we are going to have to ask for a bit of time until we can get an actual device to try it on and see if we can find a fix for it, is probably something to do with `ProMotion` which was introduced very recently on iOS devices.

My hope

[2021-10-17 18:32] jasonblais commented on #5757
@enahum Would it be helpful to create a Jira ticket for internal tracking, or not until we have access to the device for further troubleshooting?

[2021-10-17 18:35] jasonblais commented on #5682
@josephbaylon would you be open help share an invite link to join the subpath test Mattermost server at https://subpath.test.mattermost.com/mattermost?

[2021-10-18 02:03] kiroswu commented on #5697
@jasonblais it comes back normal after exit app - restart iphone - reopen app. Thanks

[2021-10-18 11:57] #5697 closed

[2021-10-19 03:11] wezm opened #5764 "Adjusting the text selection manipulates the underlying view on iOS"
#### Summary

Editing text with the newly released mobile app is a frustrating experience as grabbing the text selection handles also manipulates the underlying view.

### Environment Information

  - Device Name: iPhone 12 mini
  - OS Version: 15.0.2
  - Mattermost App Version: 1.47.0
  - Mattermost Server Version: 5.39.0

#### Steps to reproduce

1. Type several words in the message field
2. Dou

[2021-10-19 03:14] enahum commented on #5764
A fix for this just got merged today and will be available on the next release this week. See https://github.com/mattermost/mattermost-mobile/pull/5762

[2021-10-19 03:40] wezm commented on #5764
All good, feel free to close.

[2021-10-19 03:41] #5764 closed

[2021-10-19 19:27] chlasch opened #5773 "Sending a new message should autocorrect the last word"
#### Summary
When sending a new message on iOS, the last word in the message is not autocorrected

### Environment Information
  - Device Name: iPhone 12 Mini
  - OS Version: iOS 15.0.2
  - Mattermost App Version: v1.47.0
  - Mattermost Server Version: Cloud

#### Steps to reproduce
Type out a message, mispell the last word, and hit send. the last word will not be autocorrected

#### Expected beha

[2021-10-22 15:42] acataluddi opened #5777 "Archived Channels reappears on v1.47.1 (Build 375)"
#### Summary
After having upgraded Mattermost, channels archived long time ago are showing again. Such channels are **only showing on mobile** and not visible on the desktop/web application, as expected.
By clicking on it, the mobile client confirms that the channel is an archived one (see screenshot below):

![Archive-Bug](https://user-images.githubusercontent.com/8874358/138483909-34399e0e-38c2-

[2021-10-23 13:51] ZeroTyp opened #5778 "Android: Twitter preview disappeared after comment"
#### Summary
I posted an twitter link and how expected a preview appeared. But after making a single comment (starting a thread) this preview disappeared. I tried to restart app multiple times, but this didn't solved the problem.

### Environment Information
  - Device Name: Samsung S20 FE 5G
  - OS Version: Android 11
  - Mattermost App Version: 1.47.1
  - Mattermost Server Version: 6.0.1

#### S

[2021-10-26 08:18] uusijani opened #5792 "New releases not published on Github"
#### Summary
Release v1.47.2 was mentioned in [another issue's comments](https://github.com/mattermost/mattermost-mobile/issues/5695#issuecomment-951350810), and [Play Store version](https://play.google.com/store/apps/details?id=com.mattermost.rn&hl=fi&gl=US) has indeed been updated, but that release is missing from [Github releases](https://github.com/mattermost/mattermost-mobile/releases).

####

[2021-10-26 12:42] #5792 closed, assigned to nobody

[2021-11-01 15:15] #5695 closed

[2021-11-09 09:29] trbolexis opened #5818 "Large Image File/Size Upload Fails - Small Image File/Size Upload Success - iOS or Android"
#### Summary
*Large* Image upload fails from mobile app. iOS or Android. Reduced image size uploads successfully.

#### Environment Information
  - Device Name: Raspberry Pi 4B+ ::: 4GB Ram
  - OS Version: Ubuntu 21.04 64Bit
  - Kernel: Linux 5.11.0-1017-raspi
  - Architecture: arm64
  - Mattermost Server Version: 6.0.2 (Build dev-linux-arm-v6.0.2)
  - Apache2 Reverse Proxy

#### Mobile Device for

[2021-11-09 19:06] amyblais commented on #5818
@trbolexis
1. Do you or your admin have access to check if there are any errors in the server logs?
2. Has this issue happened in previous versions?
3. Do you see the same issue on our community server https://community.mattermost.com/?

[2021-11-09 19:24] trbolexis commented on #5818
Thank you for the comment.

1. I do have admin login, and I am also unsure of details found in the logs. Nothing stands out to me, but I am no expert: https://pastebin.com/dCQEqRrZ
2. This is my first installation/implementation of Mattermost (self-hosted), So I am unable to speak about previous versions.
3. I did **NOT** experience the same issue uploading to the community,mattermost.com server i

[2021-11-12 18:19] amyblais commented on #5652
We couldn't reproduce this anymore. Please re-open the issue if the problem persists,

[2021-11-12 18:19] #5652 closed

[2021-11-18 09:49] frandominguezl opened #5834 "[iOS] Mattermost consumed 18% of battery with just 1 min usage on screen"
#### Summary
Excesive battery consume with really low usage on screen of the app

### Environment Information
  - Device Name: iPhone 13
  - OS Version: iOS 15.1
  - Mattermost App Version: 1.48.0 (Build 360)
  - Mattermost Server Version: 6.0.1

#### Steps to reproduce
I believe this is somehow related to notifications, since I didn't open the app yesterday but I did receive notifications.

####

[2021-11-18 13:35] amyblais commented on #5834
@enahum Similar has been reported before, is there a ticket for this or is this on track for V2?

[2021-11-18 13:37] enahum commented on #5834
@amyblais nothing is being done to determine what could cause the battery consumption really...

[2021-11-18 14:51] amyblais commented on #5834
Opened a ticket: https://mattermost.atlassian.net/browse/MM-40183

[2021-11-18 15:14] adsche opened #5835 "Android: Sending message often fails, retrying always fails."
#### Summary
Sending a message almost always fails despite an active connection (receiving at the same time works). Resending ("try again") always fails. When refreshing (swiping up) the message is successfully sent and appears, however, as a duplicate; the failed message is still there.

### Environment Information
  - Device Name: Nokia 8.1
  - OS Version: Android 11
  - Mattermost App Version:

[2021-11-18 15:22] adsche opened #5836 "Android: Cannot create channel ("invalid response from server")"
#### Summary
Trying to create a channel from the android app results in "invalid response from server" when app is freshly opened, but not when the app is opened, screen is locked and unlocked.

### Environment Information
  - Device Name: Nokia 8.1
  - OS Version: Android 11
  - Mattermost App Version: 1.48.0 (Build 3000380)
  - Mattermost Server Version: 6.0.1 (**edit:** still present in v6.1.0)

[2021-11-18 15:23] adsche commented on #5836
Could be related to #5835 which also shows different behaviour on cold start than on wake up. In fact, I only discovered this bug when testing the other.

[2021-11-18 15:26] amyblais commented on #5836
@josephbaylon Are you able to reproduce this on Android?

[2021-11-18 16:01] adsche commented on #5836
Server logs during a reproduction:
[code]

User id and ip in the last 3 lines match the user trying to create the channel, but the messages seem unrelated - similar messages are printed for other users (first lines).

[2021-11-19 10:38] Mannshoch opened #5837 "Button to create a Jitsi meet is missing on Mattermost"
#### Summary
In Webbrowser (desktop and mobile phone), and desktop app (linux) there is a possibility to create a Jitsi Meeting. But in the Andoid App from App-store this Button is missing.

### Environment Information
  - Device Name: Galaxy S10
  - OS Version: Android
  - Mattermost App Version: 1.48.0
  - Mattermost Server Version: 6.01

#### Steps to reproduce
No possibility to create a Jitsi

[2021-11-22 17:59] someone-somenet-org opened #5840 "Latex and inline-Latex not parsed in mobile app"
#### Summary
Latex and inline-Latex not parsed in mobile app

### Environment Information
  - Device Name: OnePlus 5t
  - OS Version: LOS 18.1
  - Mattermost App Version: 1.48.0
  - Mattermost Server Version: 6.1.0

#### Steps to reproduce
+ Write some Latex and inline-Latex in webapp
[code]
(backslashes before the code block were added here in github issue)

+ shows neatly in webapp
![image](http

[2021-11-22 18:09] enahum commented on #5840
This is yet to be merged https://github.com/mattermost/mattermost-mobile/pull/5651

[2021-11-23 21:25] daniel-jirca opened #5842 "Client reports incorrect server version 6.2.0"
#### Summary
Mobile client reports server version as being 6.2.0, when currently the latest release available is 6.1.0.

### Environment Information
  - Device Name: Xiaomi Mi 9T
  - OS Version: Android 11
  - Mattermost App Version: 1.48.0
  - Mattermost Server Version: Build Hash: fd8fea804bba2a9ffa0127e40e4d7cacb6698a5b

#### Steps to reproduce
Open settings in the mobile app and click the abou

[2021-11-23 21:28] enahum commented on #5842
It seems you are running the master branch, but regardless of that the mobile app just displays the server verdion that is sent by the server in the config, mobile app has nothing to do with the determine the server version.

[2021-11-24 08:01] daniel-jirca commented on #5842
The same version is shown even after a server update.
The web client shows 6.2.0 as a database schema version.
Afaik there is no 6.2.0 server version, that's why I suspect that the version might be taken from the wrong "source".
![Screenshot_20211124-095838_Firefox](https://user-images.githubusercontent.com/2178486/143198030-6fd90ce4-470d-4e07-9878-818463aee268.png)

[2021-11-24 13:23] amyblais commented on #5842
@daniel-jirca What steps did you take to download / upgrade to 6.1?

[2021-11-24 16:28] daniel-jirca commented on #5842
I run the `mattermost/mattermost-team-edition:master` docker image so I just did a `docker pull` and restart.

[2021-11-25 16:12] BeRo1985 opened #5847 "I can't build due to broken project dependency (mmjstool)"
#### Summary

I can't build due to broken project dependency (mmjstool).

### Environment Information
  - Device Name: Macbook Air M1
  - OS Version: macOS 12.0.1
  - Mattermost App Version: #e9df1b3dbb07b29aea113ccf0456c78822563d26 master
  - Mattermost Server Version:

#### Steps to reproduce
Just do a fresh checkout/pull, do the appropriate preparations and try to run `npm run build:android` .

[2021-11-29 15:05] dojoVader commented on #5847
@BeRo1985
Same here currently experiencing this issue but what i did was to do this

  "mmjstool": "github.com/mattermost/mattermost-utilities#3faa6075089a541d8c90ed85114e644c7a23fedf" and it installed

[2021-12-02 09:28] namanhmhn commented on #5847
I had same issue

npm ERR! sha512-84xbA6yRt+pEbYk/OmM9sbJQp7PkSAgqvn0N/QXuj1RKR+upxdAa6vTbTTBA+XweECN6xebCWncGJJiqWrtR1g== integrity checksum failed when using sha512: wanted sha512-84xbA6yRt+pEbYk/OmM9sbJQp7PkSAgqvn0N/QXuj1RKR+upxdAa6vTbTTBA+XweECN6xebCWncGJJiqWrtR1g== but got sha512-xqr3JVKbdU38+uDYP6p+EENRg/fR2EP2Z9k3CKacDI7RRWXKeHuB0yRdPsgZuI7XCrp31mU1fGb9Ni5HJYoQ==. (687008 bytes)

I tried to

[2021-12-06 04:45] bitdessert opened #5863 "When will version 1.48 be released?"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2021-12-06 13:44] amyblais commented on #5863
cc @enahum

[2021-12-06 13:46] enahum commented on #5863
Thanks, publishing

[2021-12-06 13:46] #5863 closed

[2021-12-10 08:38] nicolinuxfr commented on #5847
I had the same issue and your solution worked @namanhmhn so thanks ! 👍

[2021-12-10 17:16] #3630 closed

[2021-12-10 17:37] amyblais commented on #4716
Closing as https://mattermost.atlassian.net/browse/MM-22195 is completed.

[2021-12-10 17:37] #4716 closed

[2021-12-12 10:08] bcag2 opened #5873 "on mobile app under android, can't open or download OpenDocument"
I saw similar issue as https://forum.mattermost.org/t/can-not-download-attachment-on-mobile-app/12342, so I upgrade my mattermost client from 1.46 to 1.48 with no changes,
I saw also https://github.com/mattermost/mattermost-mobile/issues/4809, seems a little different.

#### Summary
I can open pdf file with OpenDocument reader app, **but I can't open OpenDocument file** (.odt in my case), and I ca

[2021-12-13 13:53] amyblais commented on #5873
@josephbaylon Are you able to reproduce this on Android?

[2021-12-13 17:33] bcag2 commented on #5873
Yes, I can. Do you need additional screenshot?

[2021-12-15 07:33] Molyleaf opened #5876 "Android APP cannot save images"
#### Summary
There is only share and public link buttons, but not save to gallery in image preview screen.

### Environment Information
  - Device Name: All Andriod Phone
  - OS Version: From Android 11 to Harmony OS 3
  - Mattermost App Version: 1.4.8, the latest
  - Mattermost Server Version: 6.1.0, the latest

#### Steps to reproduce
Open image preview screen, you won't see download button.

##

[2021-12-15 13:33] amyblais commented on #5876
Thank you for the feedback, we have a ticket here to track this: https://mattermost.atlassian.net/browse/MM-32204.

[2021-12-15 13:50] Molyleaf commented on #5876
will

[2021-12-15 13:56] Molyleaf commented on #5876
It hurts a lot to user impressions.

[2021-12-30 13:26] liuan3756 opened #5888 "java.lang.NullPointerException in NavigationModule"
just launch app and go this
 java.lang.NullPointerException: Parameter specified as non-null is null: method kotlin.jvm.internal.Intrinsics.checkNotNullParameter, parameter context
        at com.reactnativenavigation.options.params.ThemeColour$Companion.parse(Unknown Source:2)
        at com.reactnativenavigation.options.params.ThemeColour.parse(Unknown Source:2)
        at com.reactnativenavigat

[2021-12-30 16:03] amyblais commented on #5888
@liuan3756 What Mattermost mobile app version are you on? What Mattermost server version are you on?

[2021-12-31 03:05] liuan3756 commented on #5888
app source code from tag 1.48.1，server code from tag 6.0.0

[2021-12-31 10:28] #5888 closed

[2022-01-05 17:32] wjurkowlaniec commented on #1548
+1 for slide left to go back to main channel, like in slack

[2022-01-06 05:08] rinkimekari opened #5892 "Android app cannot set status to never clear"
When trying to set a custom status in the Android mobile app to never clear, it seems initially that it worked. However, the button then says "Failed to update status. Try again." The status falls back to what was there before, and when trying to set a new status to never clear, it doesn't have a status to fall back on, so it's nothing.

I will happily provide screenshots if needed, and I have a s

[2022-01-06 13:29] amyblais commented on #5892
We have a ticket for this here https://mattermost.atlassian.net/browse/MM-40206, and we are planning to release a fix for it soon.

[2022-01-06 15:57] rinkimekari commented on #5892
Ah thanks! I didn't see that site when I searched for the issue. I'll wait patiently for the fix!

[2022-01-06 15:57] #5892 closed

[2022-01-07 14:23] amyblais commented on #5892
This has now been fixed in v1.48.2 dot release.

[2022-01-07 15:48] rinkimekari commented on #5892
Thanks! It's working perfectly.

[2022-01-18 03:44] bitdessert opened #5904 "There is a problem with the public link copy function."
#### Summary
There is a problem with the public link copy function.

### Environment Information
  - Device Name: ios, android
  - OS Version:
  - Mattermost App Version: 1.48.2
  - Mattermost Server Version:

#### Steps to reproduce
1. Upload multiple images.
2. Slide the image.
3. Press the 'Copy Public Link' button.
4. Paste it into your web browser address to confirm.
5. The first image before

[2022-01-18 09:07] wicaodian commented on #5876
It's so frustrating that Unable to download images

[2022-01-18 14:12] amyblais commented on #5904
@josephbaylon Are you able to reproduce this?

[2022-01-18 20:23] amyblais commented on #5904
I opened a ticket: https://mattermost.atlassian.net/browse/MM-41113.

[2022-01-19 08:18] lifepillar commented on #4582
Any update on this? I have this issue with Mattermost on iOS (but not on desktop): messages containing emojis don't go through.

App version: 1.48.2 (Build 382)
Server Version: 6.0.0
Database: mysql

[2022-01-21 01:56] wezm opened #5906 "Mattermost iOS uploads HEVC videos that don't play back in desktop Firefox"
#### Summary

A video uploaded in the iOS app does not playback on Firefox Linux

### Environment Information

- Device Name: iPhone 12 mini
- OS Version: iOS 15.1.1
- Mattermost App Version: 1.48.2 (Build 382)
- Mattermost Server Version: 6.3.0
- Firefox version 96.0 on Arch Linux

#### Steps to reproduce

1. Record a video with the iOS Camera app
2. Upload this video to a channel in Mattermost u

[2022-01-21 02:03] wezm commented on #5906
#1015 is related, it's closed but perhaps they only dealt with images.

[2022-01-21 02:51] amyblais commented on #5906
@wezm Would you be open to test if you can reproduce this issue on our community server here https://community.mattermost.com?

[2022-01-21 03:17] wezm commented on #5906
Confirming the issue happens there too: https://community.mattermost.com/core/pl/9qyjaq1jr3dhifers4hcunwbsr

[2022-01-21 03:31] wezm commented on #5906
I just checked in Firefox on macOS and the behaviour is the same.

[2022-01-21 13:25] amyblais commented on #5906
Opened: https://mattermost.atlassian.net/browse/MM-41201.

[2022-01-26 21:10] PanderMusubi commented on #5847
Fixing this issue will reintroduce Mattermost in the F-Droid app store. At the moment the last build was so old that it didn't work with contemporary servers, so the complete app is temporarily removed, until this issue has been resolved.

[2022-01-26 21:11] PanderMusubi commented on #5847
See also https://gitlab.com/fdroid/fdroiddata/-/issues/1987

[2022-01-27 07:16] licaon-kter commented on #5847
That's not really true, though :)

There are more issues elsewhere :(

[2022-01-27 07:54] PanderMusubi commented on #5847
Do you have a list of which ones?

[2022-01-27 08:42] licaon-kter commented on #5847
@PanderMusubi subscribe to https://github.com/mattermost/mattermost-mobile/issues/566

[2022-02-02 18:28] #5757 closed

[2022-02-04 09:45] bitdessert opened #5929 "I want to download the excel file."
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2022-02-04 17:05] amyblais commented on #5929
@enahum Let me know if you have thoughts on if this is a bug.

[2022-02-04 17:06] enahum commented on #5929
@amyblais there is a story ticket for this

[2022-02-04 17:09] amyblais commented on #5929
Thanks, if you happen to know the link please post it here, I did a quick search and didn't find it now.

[2022-02-04 17:35] enahum commented on #5929
https://mattermost.atlassian.net/browse/MM-32204

[2022-02-07 00:52] bitdessert commented on #5929
@amyblais @enahum I wish I could directly download other files as well as images or excel files.
May I know when the feature will be applied?
Which version are you planning to release?

[2022-02-07 10:19] enahum commented on #5929
@bitdessert a contribution is very much welcome ;) otherwise I don't think is going to happen soon

[2022-02-07 11:14] davvore33 opened #5933 "Publishing on F-Droid store"
Hi,
this might not be the right place where to ask this, I'm about to install your app on my Android phone and I'll probably download it straight from github, although it would be nice to have it published on F-Droid if that could be possible

thanks

[2022-02-07 21:15] enahum commented on #5933
see #566

[2022-02-07 21:15] #5933 closed

[2022-02-09 15:26] licaon-kter commented on #5847
@BeRo1985 so this is fixed now?

[2022-02-10 10:00] licaon-kter commented on #566
Trying to run again, a fresh bug elsewhere fyi https://github.com/software-mansion/react-native-reanimated/issues/2936 pfft

[2022-02-10 23:22] paalbra opened #5956 "Very long posts crashes/freezes the mobile app"
#### Summary
Long posts (very many characters) crashes the app on iPhone and Android (not sure about version of Android).

### Environment Information
  - Device Name: iPhone SE
  - OS Version: 15.3
  - Mattermost App Version: 1.48.2 (Build 382)
  - Mattermost Server Version: 5.39.3

#### Steps to reproduce
1. Produce some posts in a channel with a large amount of characters. I created a series of

[2022-02-11 00:19] amyblais commented on #5956
@enahum Should I create a ticket for this or do we need more info?

[2022-02-11 03:18] josephbaylon commented on #5956
@enahum For me, on both Android and iOS, the channel with several long texts (11 posts with max characters each) in it does freeze for about `10 seconds` but eventually loads and the buttons can be interacted with and can add new posts.

Also on Android, switching to another channel freezes the app but eventually loads the other channel and switching back to the long text channel also freezes the

[2022-02-11 06:50] eklockare commented on #5835
I get this all the time, very frustrating. At least let me copy the failed message, ending having to retype the entire thing. I don't use the app enough to remember to copy thr text before sending 😓

[2022-02-11 07:23] paalbra commented on #5956
PS.
I noticed that the [go library](https://github.com/mattermost/mattermost-server/blob/01a3ed0d3e401d45b52480f1013fd0c0cfc2ba00/model/client4.go#L3585) was getting "invalid post" on _very_ long posts (40k). I then figured that it has a limitation on just below 2^14/16384 characters. I'm not sure if this limitation is in the server or where it is, but that's why I created messages of that length.

[2022-02-11 11:32] licaon-kter commented on #566
Some progress, updated recipe:
[code]
...which fails later when webrtc stuff can't be found

@streamer45 How does one build your fork of `react-native-webrtc` from FOSS dependencies? I tried to add `implementation 'org.webrtc:google-webrtc:1.0.32006'` so it's picked up from maven and not use _"random binaries dropped in libs/"_ but it appears to have a lot of missing sections in build.gradle. It e

[2022-02-11 12:53] streamer45 commented on #566
@licaon-kter I am not sure I ever tried, honestly I am still very new to mobile development so probably not the best person to help here. I am wondering if you are able to compile the original project (https://github.com/react-native-webrtc/react-native-webrtc). If so we may look into what's happening with the fork itself.

[2022-02-12 12:42] karantin2020 commented on #4056
Hello. Is there any way to add syntax highlight to mobile version? It is very useful. May be need help?

[2022-02-12 13:23] enahum commented on #4056
@karantin2020 help is always appreciated :)

[2022-02-13 13:58] licaon-kter commented on #566
@streamer45 Is that really upstream? Looking in https://github.com/mattermost/mattermost-mobile/blob/v1.48.0/package.json#L80 I guess it's https://github.com/juncocoa/react-native-webrtc2 ?

Looking at https://github.com/streamer45/react-native-webrtc upstream is https://github.com/openland/react-native-webrtc which is a fork of https://github.com/react-native-webrtc/react-native-webrtc

So many f

[2022-02-13 16:35] licaon-kter commented on #566
This... I can't even... https://github.com/react-native-video/react-native-video/issues/2454

[2022-02-13 20:12] licaon-kter commented on #566
Ok, let's postpone the video stuff, that has issues beyond this scope, for now, so back off to 1.47.2.

VT report looks almost ready, https://www.virustotal.com/gui/file/48c1681dce23c1e7853ef125fd96a6f550761e4454e021544568618aef194109/details so I'm close

Recipe so far after a lot of trial and error:
[code]
...so this builds but, crashes on start after the splash :(

Next, will rm more notificati

[2022-02-14 09:06] adsche commented on #5835
@eklockare hey, thanks for confirming my report. can I ask you a few questions? I've been trying to isolate myself where this bug comes from. are you the admin of your mattermost instance or do you maybe otherwise know whether you use mysql or postgres as database backend? also, do you use the new/experimental "collapsed reply threads" feature?

[2022-02-17 14:25] CeesJol commented on #4922
I see this issue is quite old, but as a suggestion: you can change the global font size of iOS in Settings > Accessibility, then select Display & Text Size. I can imagine that Android has similar functionality. By changing this, you can increase the font size. I think that this suffices as a font size option, what do you think? @x9t9

[2022-02-17 14:38] abel-vs opened #5983 "iOS share screen unnecessary scroll view"
#### Summary
When sharing a document, the share screen has an unnecessary scroll view over the whole content and thereby the "Channels" tab is partly covered.

### Environment Information
  - Device Name: iPhone 12 mini
  - OS Version: 15.1.1
  - Mattermost App Version: 1.48.2 (Build 382)
  - Mattermost Server Version: 6.3.2

#### Steps to reproduce
Try to share any file with Mattermost and scroll

[2022-02-17 14:39] Abel-VS commented on #5983
I would like to solve this issue myself.

[2022-02-17 21:08] twnk commented on #5873
Having an issue where trying to open a PDF on Android redirects to the Google Play Store with “application/pdf” prefilled in the search bar.

[2022-02-17 21:38] twnk commented on #5873
Warning from https://www.npmjs.com/package/react-native-file-viewer — I can't see in the code where file extensions are specified during the file viewing, I wonder if these being missing are causing Android to reject the files as non-openable?

[code]

[2022-02-18 15:07] nicolinuxfr commented on #5847
I can also confirm the error is still present… 😢

As @namanhmhn instructed, I edited the package-lock.json file to replace `sha512-d2p3iGoWbBpmYrZJnGOGoxfSeLTtwQKBQB+LeDA91RAc2RUCiMAA5kYGneSD0uK3L/TgEu6BuObQiCS2GoFMwA==` with `sha512-80k8ic7XSrvwlin2D5dtpNth4rl+zrabqfDhEJ0fZS3D5J9CvFGb7Sj7U2z6j9F2D9/FXhXV2uxi++HHsQWvYQ==` and it worked, but it's quite annoying.

[2022-02-19 21:55] Pheester commented on #5873
I am having the same issue as twnk along with word and excel.

[2022-02-22 09:47] Thoro opened #5994 "SVGs are abnormally large (original size) even with width and height specified"
#### Summary
Since svgs are now displayed (#5869 , MM-40588) - and the mobile app does not appear to adhere to the size limits referenced here: https://docs.mattermost.com/messaging/formatting-text.html#in-line-images , svgs are displayed in their ?original? size. Which in my case is abnormally large.

### Environment Information
  - Device Name: iPhone 12
  - OS Version: 15.3.1
  - Mattermost App

[2022-02-22 10:44] enahum commented on #5994
@esethna can you please open this as Help Wanted?

@Thoro Would you be insterested in providing a fix for it?

[2022-02-22 13:06] Thoro commented on #5994
@enahum I will try, but can't promise anything - it's blocking my workflow. No doing anything regularly wit react / ios.

Pointers on where to change would be appreciated.

[2022-02-23 21:56] amyblais commented on #5873
We have released a v1.49.1 dot release to fix this issue - should be available in the app stores within 1 or 2 days.

[2022-02-24 14:31] CeesJol opened #6006 "iOS Swipe back from navigation not working on Teams overview"
#### Summary
In iOS (possibly in Android too), swiping back from navigation to the channel - i.e., closing the hamburger menu, does not work, given that the user has swiped back to the "Teams" overview.

### Environment Information
  - Device Name: iPhone 12
  - OS Version: iOS 15.3.1
  - Mattermost App Version: 1.49.0 (Build 385)
  - Mattermost Server Version: 6.3.2

#### Steps to reproduce
1. Op

[2022-02-24 14:31] CeesJol commented on #6006
I would like to solve this issue myself.

[2022-02-24 14:53] amyblais commented on #6006
@CeesJol Feel free to take the issue 👍

[2022-02-25 08:12] crevete opened #6007 "iOS app broken"
#### Summary

my iOS app is broken since yesterday (cf screenshot).

### Environment Information
  - Device Name: iPhone XS
  - OS Version: iOS 15.3.1
  - Mattermost App Version: 1.49.1
  - Mattermost Server Version: 6.3.4

#### Steps to reproduce
I run the app and I see the login page, but when I log in, the unexpected error appears. I kill the app and run it again, the same message appears once

[2022-02-25 13:08] crevete commented on #6007
I close this issue because it works now (I don’t have any idea why it didn’t since yesterday…)

[2022-02-25 13:08] #6007 closed

[2022-02-28 06:22] Avi00001 opened #6013 "No visible @interface for 'UIKeyCommand' declares the selector 'setWantsPriorityOverSystemBehavior:'"
- Device Name: Iphone 11 Pro(Simulator)
  - OS Version: 14.4
  - Mattermost App Version: 1.49
![Screenshot 2022-02-28 at 10 44 41 AM](https://user-images.githubusercontent.com/100348868/155934283-b1c97672-800b-4607-9d66-1b991b73d7d0.png)

#### Steps to reproduce
At the time of compile the code on xcode

#### Expected behavior
when I am trying to compile the code on Xcode then build failed with thi

[2022-02-28 09:46] enahum commented on #6013
Yes!

[2022-03-01 13:46] wandersiemers commented on #5994
I can reproduce this

[2022-03-01 22:55] esethna commented on #5994
Opened a ticket for this here and set to HW: https://mattermost.atlassian.net/browse/MM-42220

[2022-03-03 12:39] yareach opened #6023 "Missing app for Windows 10 Phone"
There is no app for Window 10 Phone which is newer than Android 7. Moreover, a UWP app for Windows 10 desktop can be deployed on ARM-based Windows Phone device with very low effort.

[2022-03-04 11:49] wandersiemers commented on #5994
I'd be interested in working on this, however I first have to resolve some issues with building before I can.

[2022-03-04 14:49] wandersiemers commented on #5994
I have resolved the issues and would like to work on this issue.

[2022-03-04 21:03] gigawhitlocks commented on #5876
Sharing (at least to Google Messages) no longer works, either, so there's no way to share an image from Mattermost to a text message without having a third party web service to upload the image to in the interim.

I currently work around this by having a NAS that I can upload images to, and then I share images to other apps from my NAS's app.

[2022-03-06 10:25] #6013 closed

[2022-03-07 08:52] wandersiemers commented on #5994
Okay, did some research on this. First of all, there are big differences in the rendering of markdown images between iOS and desktop. This syntax works on desktop for adding size information (in this case height=200) to the SVG: `![Image](svg_url =x200 "Image")`. However: it doesn't on mobile (that's the bug described in this issue): the image will just render at full size. But there are more diff

[2022-03-07 11:27] enahum commented on #5994
There is a PR for this already. It now supports setting the size for example `=100`and `=100x` sets a width of 100, `=x100` does it for the height and `=100x80` would be a width of 100 and height of 80. This is applicable for all markdown images including SVG's

The reason svg where being rendered that big is that they do not have metadata in the post about its size, so if you added an svg with a

[2022-03-07 11:39] wandersiemers commented on #5994
Ah, hadn't seen the new PR, sorry for that! Thanks for the clarification @enahum, learnt something new :)

[2022-03-07 18:20] #5994 closed

[2022-03-08 13:59] bcag2 commented on #5873
Thanks a lot, I upgraded to v1.49 and it works fine now

[2022-03-08 13:59] #5873 closed

[2022-03-08 17:53] seanm commented on #4557
I guess since this ticket is still open, this is still an issue today?

I've had `TLSMinVer` set to `1.3` for a long time, and no one ever complained. But the other day I changed my Let's Encrypt certs from RSA to ECDSA and since then coworkers using the iOS/Android app cannot connect, but using any browser from any OS works fine.  I just reduced `TLSMinVer` to `1.2` and now they can connect.

Is

[2022-03-10 19:33] Thoro opened #6048 "Svg images are not inlined"
There‘s a issue, MM-40588, which has inline in the text, but it‘s just about supporting svg rendering, the inlineing doesn‘t work in newest beta 1.50

#### Summary
Svg images are displayed in the correct size, but are not inlines

### Environment Information
  - Device Name: iPhone 12
  - OS Version: 15.3.1
  - Mattermost App Version: 1.50 beta
  - Mattermost Server Version: 5.39.1

#### Steps to

[2022-03-10 19:42] amyblais commented on #6048
Opened: https://mattermost.atlassian.net/browse/MM-42463.

[2022-03-10 19:51] amyblais commented on #6048
A response from a dev:
This is expected. Every inline image regardless of the type is not rendered side by side. Inline images differ from the webapp in this respect.

[2022-03-10 21:12] Thoro commented on #6048
Is it possible to test the v2 implementation?

i also noticed parsing irregularties if svgs (or images.. not sure) are used:

- last image not displayed
- Links not parsed and displayed

both work fine on the webapp

[2022-03-10 23:42] amyblais commented on #6048
We are planning a beta release of v2 in a few months from now.

[2022-03-18 00:26] simonheb opened #6062 "Excessive loading time via Android App on self-hosted server"
#### Summary
On two different Android phones I'm experiencing excessive loading times (>10 seconds per channel). This is independent from network and occurs while reading the same content in the browser works without delay. The server is self-hosted.

### Environment Information
  - Device Name: XQ-AS52
  - OS Version: Android 12 and also 11 on another phone.
  - Mattermost App Version: Version 1.

[2022-03-18 12:25] amyblais commented on #6062
@enahum Do you have any ideas which of the changes in v1.50 may have caused slowness? https://github.com/mattermost/mattermost-mobile/milestone/52?closed=1

[2022-03-18 12:37] enahum commented on #6062
This does not reproduce in local environment nor using our community servers. Also based on the milestone there is nothing that stands out as a potential cause.

[2022-03-18 12:46] amyblais commented on #6062
@simonheb Would you be open to upgrading to the latest v5.37.9 ESR version to see if it helps? We've added some server performance fixes throughout the ESR dot release versions https://docs.mattermost.com/install/self-managed-changelog.html#release-v5-37-extended-support-release.

[2022-03-18 13:12] #5778 closed

[2022-03-18 13:13] #5463 closed

[2022-03-18 13:15] #4895 closed

[2022-03-18 13:16] #4843 closed

[2022-03-18 13:35] #5842 closed

[2022-03-18 13:55] simonheb commented on #6062
Unfortunately I have no way of changing the server. I'm happy to test anything that can be done from the client side

[2022-03-18 21:19] harmeling opened #6070 "Mattermost on iOS: `TaskQueue: Error with task: View`"
#### Summary
Starting Mattermost on iOS very shortly shows normal view of the team then shows error message "Unexpected error occurred".  I am posting here on mattermost-server, since the origin of the `TaskQueue` might be server?

#### Steps to reproduce
mattermost server: 6.4.2
iOS: 15.3.1 (iPhone 13) is not working.
Mattermost on macOS (11.6.4) is working fine and I can post and view messages a

[2022-03-18 23:11] amyblais commented on #6070
@harmeling Are you on Mattermost mobile app v1.50?
@enahum Does this look related to https://github.com/mattermost/mattermost-mobile/pull/6064?

[2022-03-18 23:14] enahum commented on #6070
Yes, looks like that channel has. Message with latex thus the issue

[2022-03-19 07:13] harmeling commented on #6070
Thank you for looking into this!
Yes, we do have Latex in our posts (just started a week ago).
Yes, Mattermost mobile app v1.50.0.
On the serverside we use nginx and mysql (but that might be irrelevant ;).

[2022-03-19 10:51] harmeling commented on #6070
Also after switching off latex rendering in the Mattermost system prefs, the error still appears.

[2022-03-19 13:09] Hawkeye1909 commented on #6070
Same here on Android with v1.50.0. I installed the beta from #6064 and the error is gone.

[2022-03-20 00:04] pinktrink opened #6073 "$ $ causes the mobile app to crash"
#### Summary
A message containing the string $ $ will cause the mobile app to crash when visiting that channel

### Environment Information
  - Device Name: Pixel 5
  - OS Version: 11
  - Mattermost App Version: 1.50.0 (Build 3000387)
  - Mattermost Server Version: 6.3.0 (Build 6.3.0-nixpkgs)

#### Steps to reproduce
Post $ $ (an empty LaTeX block) to a channel and attempt to visit it in the mobil

[2022-03-20 00:09] pinktrink commented on #6073
![Screenshot_20220319-152205](https://user-images.githubusercontent.com/660917/159142589-c501bc17-ac07-449b-bed8-28ed0a5b056d.png)

[2022-03-20 00:41] enahum commented on #6073
Already fixed with https://github.com/mattermost/mattermost-mobile/pull/6064 which should ve release on monday

[2022-03-20 00:54] pinktrink commented on #6073
Perfect, thanks.

[2022-03-20 00:54] #6073 closed

[2022-03-21 19:09] amyblais commented on #6070
Fix will be available in app stores soon.

[2022-03-21 19:09] #6070 closed

[2022-03-22 15:42] svenseeberg opened #6081 "User avatars & icons not loading"
#### Summary
User avatars are not loading in the mobile app. They work fine in the browser.

### Environment Information
  - Device Name: Dalvik/2.1.0 (Linux; U; Android 11; ONEPLUS A5010 Build/RQ3A.211001.001
  - OS Version: LineageOS 18.1
  - Mattermost App Version: 1.50.0
  - Mattermost Server Version: 6.5.0 (and some versions before)

#### Steps to reproduce
1. Set up Mattermost with Nginx rev

[2022-03-23 07:48] harmeling opened #6087 "Latex doesn't get rendered on iOS mattermost app"
#### Summary
Latex not rendered on iOS mattermost app.

### Environment Information
mattermost server: 6.4.2
mattermost app on iPhone: v1.50.1
iOS: 15.3.1 (iPhone 13) is not working.
Mattermost on macOS (11.6.4) is working fine and I can post and view messages as usual.

#### Steps to reproduce
Put some latex stuff like $x=\pi$ into a post.
On Mattermost on iOS it is **not** rendered.
On Mattermos

[2022-03-23 09:47] enahum commented on #6087
Sorry my friend. The issue is not related as Latex is not supported at this moment. There is someone attempting to add support as a contribution, see #5651 is been a bit stale, not sure why, but perhaps you or someone uou know can offer to help him?

[2022-03-23 09:50] harmeling commented on #6087
Ok!  Sorry, didn't that Latex was supported!  Thanks for your speedy response!

[2022-03-23 09:50] #6087 closed

[2022-03-24 06:00] 4shutosh opened #6089 "Login text field should trim the text input"
#### Summary
Login email/username field does not trims the text input and throws error if any whitespace is included.

### Environment Information
  - Device Name: Pixel
  - OS Version: Android 11
  - Mattermost App Version: 1.50.0

#### Steps to reproduce
1. Open the application
2. Enter Login email or username along with a space in the end
3. See the error

#### Expected behavior
White spaces fr

[2022-03-24 12:17] amyblais commented on #6089
@enahum Let me know if I should open a bug ticket for this and whether this is a regression.

[2022-03-24 12:21] enahum commented on #6089
@amyblais it is not a regression. Before opening any ticket, this should be discuss with UX in my opinion. Also idk if the server allows passwords or usernames to end with a space, if that is the case then this would be working as expected

[2022-03-24 12:46] amyblais commented on #6089
I tested and it looks like server trims the whitespace. @matthewbirtch Let me know if you have thoughts on opening a ticket for this.

[2022-03-24 20:09] matthewbirtch commented on #6089
I don't have any problem with trimming the whitespace, but the answer to the question from @enahum about whether passwords can end in spaces is important before deciding on this.

[2022-03-24 20:13] matthewbirtch commented on #6089
I just tested this and passwords can have space characters at the end. I successfully created a password with 10 spaces at the end and it was accepted. So, I think this is working as it should based on the acceptable password rules.

I just tested changing a username to have spaces at the end and that did get trimmed when it saved by the looks of it. So I guess in theory we should be okay to do th

[2022-03-26 11:08] starlightknight opened #6092 "Crash on Open with Self-compiled Android App"
#### Summary
Self-compiled v1.50.1 Android app succeeds on Linux but crashes immediately on open.

### Environment Information

  - Device Name: Android Emulator (happens on my real phone too)
  - OS Version: Built on Linux Mint 20.3, nvm use 16 (documentation says 15 or 16)
  - Mattermost App Version: 1.50.1
  - Mattermost Server Version: 6.4

#### Steps to reproduce

- I checked out the latest r

[2022-04-01 10:47] biva opened #6118 "Numbered list with sub-list doesn't display correctly on Android"
#### Summary
The sub-list numbers of a numbered list with doesn't display correctly on Android.

### Environment Information
  - Device Name: Samsung S10e
  - OS Version: 11
  - Mattermost App Version: 1.50.1
  - Mattermost Server Version:

#### Steps to reproduce
Type a list like this:
![image](https://user-images.githubusercontent.com/9964305/161248911-63712471-1376-4bc9-9fbc-7e112c6a060a.png)

[2022-04-01 12:32] amyblais commented on #6118
@josephbaylon Can you reproduce this on Android, and is this a regression?

[2022-04-01 14:08] starlightknight commented on #6092
I tried compiling on Mac OS X today and the above mentioned library was properly included and the app worked. I have no idea why just that one lib is not present when I built on Linux.

[2022-04-08 14:12] licaon-kter commented on #566
Note to future me, don't use `npm@latest` since `8.6.0` will fail to find deps on `npm install`, same issue seen on https://github.com/conversejs/converse.js so `8.5.5` is the latest you can use (for now)

[2022-04-09 15:11] tabarra commented on #6089
I don't think it's correct to edit the inputted password, BUT the username/email for sure is.
Came here to actually make a a QoL feature request to trim the email as I lost about 5 stupid minutes today on it, but saw that this was already posted.

[2022-04-11 08:53] JinZhuXing opened #6155 "Push service problem on Chinese Android Phone"
#### Summary
I am using Android Phone which does not contain Google Service.
I love Mattermost, and our company build Mattermost server.
I want to use Mattermost on my Android Phone. Also want to receive push.
Please teach me the way to build Mattermost mobile apk for Chinese push service.
I did check with "Send Test Notification" at notification setting, but not received test notification.

### E

[2022-04-11 12:34] amyblais commented on #6155
Hi @JinZhuXing What you'd need to do is:

1. Modify the app code base to add support for another way/service to receive push notifications (then build the app yourself and publish).
2. Modify the push proxy to use something other than Firebase Cloud Messaging with another service and make it compatible with the server.
3. Configure your Mattermost server to use the custom push proxy.

[2022-04-13 12:23] maxammann commented on #6081
I'm experiencing the same problem. The weird thing is that the bearer token itself seems to be valid.
Also only some users are affected.

[2022-04-13 14:35] svenseeberg commented on #6081
It seems I made a mistake when interpreting the dump file. The BEARER token is not being sent with the request for the avatars. This issue could potentially be a duplicate of https://github.com/mattermost/mattermost-mobile/issues/4486

[2022-04-13 17:46] okias commented on #566
Is there any ETA when F-Droid release happen? I'm kinda suprised this issue is 5 years old.

[2022-04-13 18:01] licaon-kter commented on #566
My effort can't really go further as I'm not the app developer. I'm happy that I got it to build, but... from here on this needs a dev touch.

[2022-04-14 10:03] okias commented on #566
Would be very nice, if someone from dev team join a hand. I think it wouldn't take more than 1 MD to preprare it from team member..

[2022-04-20 20:02] gudladona opened #6183 "Re-login does not show SSO options in Mattermost Android"
#### Summary
Re-login does not show SSO options in Mattermost Android

### Environment Information
  - Device Name: Google Pixel 6 Pro
  - OS Version: Android 12
  - Mattermost App Version: 1.51.0
  - Mattermost Server Version: 6.6.0

#### Steps to reproduce
Enable 2 SSO logins on MM server. Logout of mattermost app.

#### Expected behavior
App login to mattermost server shows all available SSO op

[2022-04-20 20:13] amyblais commented on #6183
@josephbaylon @enahum Are you able to reproduce on Android and is it a regression? Could it be related to https://mattermost.atlassian.net/browse/MM-42868?

[2022-04-20 20:18] gudladona commented on #6183
FWIW, iOS users are experiencing the same in my org.

[2022-04-20 20:32] gudladona commented on #6183
https://github.com/mattermost/mattermost-mobile/blob/55b1fa5c55bd6912550adfb69745d621603e9039/app/screens/select_server/select_server.js#L262 -- seems to  be the issue. Code seem to assume the login by email/username is enabled. We dont have any such thing. We only allow login by SSO, as most orgs do now a days.

[2022-04-20 22:05] enahum commented on #6183
@gudladona can you confirm that you have only SSO enabled but MORE than one at the same time ?

[2022-04-20 22:06] gudladona commented on #6183
We have 2 SSO enabled Gsuite and Office365

[2022-04-20 23:11] Arvind8998 commented on #5837
Can i take this issue ?

[2022-04-20 23:14] enahum commented on #6183
@amyblais then the answer is yes, this would be caused by the ticket you linked.

[2022-04-20 23:18] amyblais commented on #6183
@enahum I created a ticket https://mattermost.atlassian.net/browse/MM-43607. I think this is a candidate for a dot release if you agree.

[2022-04-20 23:22] enahum commented on #6183
Submitted a PR to fix it #6185 in the PR there will be a link posted for the Android build that you could use to try it out while we go through the whole release process.

Thanks for reporting.

[2022-04-21 01:28] yukdumboobumm commented on #5818
Reviving this issue as I have the same problem and (nearly) same setup.

Environment Information

- Device Name: Raspberry Pi 4B+ ::: 4GB Ram
- OS Version: ~~Ubuntu 21.04 64Bit~~ Raspberry Pi OS 32bit
- Kernel: ~~Linux 5.11.0-1017-raspi~~ 5.10.103-v7l+
- Architecture: arm64
- Mattermost Version: dev-linux-arm-v6.6.0
- Database Schema Version: 78
- Database: mysql
- Apache2 Reverse Proxy

Mobile De

[2022-04-21 07:30] larkox commented on #5837
For the time being, this is expected. Plugins are not able to add changes in the UI to the mobile application. Only [Apps from the Apps Framework](https://developers.mattermost.com/integrate/apps/) can do that.

The only way to make it work as of today, would be:
- Add specific code to the mobile app to deal with Jitsi
- Convert the Jitsi plugin to an App (or hybrid plugin-app)

CC @aaronrothschil

[2022-04-21 16:40] #6183 closed

[2022-04-25 08:10] svenseeberg commented on #4486
Was anybody able to solve this by changing the server configuration? If yes, what was changed?

[2022-04-26 03:57] bill2004158 commented on #4486
@svenseeberg,
as I explain above,
the main problem, the mobile app, used **WebView** & **RNFetchBlob** for communicate with server,
thus the cookie(MMAUTHTOKEN) is stored in different location.
(which doesn't have this issue for browser)
we just "copy the cookies to NSHTTPCookieStorage.sharedHTTPCookieStorage" after sso login,
that resolve the issue for our case.
we didn't change anything at serve

[2022-05-26 15:47] madalinignisca commented on #5837
If another user creates from the web or desktop app a jitsi call, touching the link will open jitsi mobile app as expected. I guess the only thing in the mattermost app would be an init call butoon to do identical same thing. Would be nice if call plugins would respect some common api and the apps would show the button if such a plugin is enabled, allowing the api to generate the meeting

[2022-05-27 21:07] caryoscelus opened #6321 "login field lacks cursor on first run (even after clicking) on android"
#### Summary
on the first run application asked to login , but the login field wasn't visually in focus (lacked cursor)

### Environment Information
  - Device Name: android
  - OS Version:
  - Mattermost App Version: 1.52
  - Mattermost Server Version: 6.3.3

#### Expected behavior
login field should be in focus and display cursor on first login or at least when clicked on it

#### Observed behav

[2022-05-27 22:11] amyblais commented on #6321
@caryoscelus
1. What Android version are you on?
2. Can you (optionally) share a screenshot or a short video of what you're seeing?

[2022-05-30 09:15] caryoscelus commented on #6321
1. 10
2. i can try , but entering a password on the screen is so painful so i'd rather keep myself logged in for a bit

[2022-05-30 20:47] brynwhyman opened #6326 "Cannot set status on mobile (android)"
#### Summary
Unable to set a profile status in the Android mobile app.

App version: 1.52.0
Server version: 6.7.0

#### Steps to reproduce
1. Open mobile app, choose option to 'Set a status'
2. Choose a status from the 'Recent' list
3. Confirm with the 'Done' action

#### Expected behavior
Your status should reflect the changes made

#### Observed behavior (that appears unintentional)
Your status

[2022-05-30 22:12] amyblais commented on #6326
@brynwhyman What Android version are you on?

[2022-05-31 14:31] amyblais commented on #6321
I don't have Android to test this. @enahum @saturninoabril Are you able to help test this on Android?

[2022-05-31 20:17] jgilliam17 commented on #6326
@amyblais I've checked on v1.52 (398) on Galaxy A52, Android 12 and can set status from Recents

[2022-05-31 22:11] amyblais commented on #6326
@brynwhyman Do you see this issue on our community server https://community.mattermost.com/?

[2022-05-31 22:19] xgenem opened #6329 "Could not install packages"
#### Summary
`npm install` failed.

### Environment Information
  - Device Name: Macbook Pro M1
  - OS Version: Monterey 12.3.1
  - Mattermost App Version: n/a
  - Mattermost Server Version: n/a

#### Steps to reproduce
Clone latest github and `npm install`

#### Expected behavior
Expected behaviour is to install the packages without issues

#### Observed behavior (that appears unintentional)
[cod

[2022-05-31 23:18] xgenem commented on #6329
Installed with `--legacy-peer-deps` flag but I don't think this is an acceptable solution.

[2022-06-01 01:29] enahum commented on #6329
What is your node and npm versions?

[2022-06-01 13:17] moburkhardt commented on #1512
two years later, any update on this feature? Seems like something many people including myself are vying for.

[2022-06-01 13:31] amyblais commented on #6321
@jgilliam17 Would you be open to help test this one as well?

[2022-06-01 14:12] larkox commented on #1512
We are at the moment working on this. You can join the Gekidou (codename for the new version of the mobile app) channel in the community servers to get the latest news: https://community.mattermost.com/core/channels/ship-gekidou--mobile-v2

Right now we are in "internal alpha" stage, so keep tuned for when we enter the beta stage.

[2022-06-01 17:16] jgilliam17 commented on #6321
@amyblais I've tested on v1.52 (398) on Galaxy A52, Android 12
I've removed the app and started the flow from the beginning download/install, add server and use email and password to login.
Observed: The user name field is not focused, but tapping on the field focuses it and adds a visible cursor.

[2022-06-01 17:23] amyblais commented on #6321
@caryoscelus Do you see this issue on our community server https://community.mattermost.com/ (it is on the latest server version)?

[2022-06-02 21:13] brynwhyman commented on #6326
Hi, I've just tried to recreate the issue and I can't. I just upgraded to Android 12 (from 11), but not sure if that would have affected this or not anyway?

Either way, happy to close this. Thanks for the quick response!

[2022-06-02 21:14] #6326 closed

[2022-06-06 07:25] xgenem commented on #6329
Hi @enahum
[code]

Cheers,

[2022-06-06 07:33] enahum commented on #6329
Downgrade to npm 8.5.5 and it should be fine

[2022-06-07 10:27] Asgoret commented on #3883
Same here( We got a lot of plugins, but non of them worked on mobile (jitsi\raven\todo\playbooks\etc)...

[2022-06-07 11:05] larkox commented on #3883
The plugin support is still limited on mobile. Slash commands, Interactive Dialogs and Interactive Messages do work on mobile, but anything that implies changes in the client side (adding buttons to the interface or custom dialogs for example) do not work.

Nevertheless, the Apps Framework (https://developers.mattermost.com/integrate/apps/) will be able to add more integration with mobile. This wi

[2022-06-08 14:05] steinhh commented on #936
I have this issue as well - still. Extremely irritating for an app called *matter*most, since if it really matters, you shouldn't use it... I see the issue was closed, but with no fix?

[2022-06-10 06:16] charan9999 commented on #6023
wait, who is using windows phone??

[2022-06-10 07:09] ElonVolo commented on #6329
@enahum

I had the same issue when I tried to install and run the mattersmost mobile project today and the downgraded npm seemed to work fine.

One suggestion I have for preventing confusion and problems over incompatible versions of global binaries (such as those in the issue) would be to incorporate an environment checker such as  [Solidarity](https://infinitered.github.io/solidarity) into the p

[2022-06-10 13:17] yareach commented on #6023
I am. Why would I buy a new one if it works? A lot of work to move all apps! BTW - Slack runs on it.
I could ask the same questions on any subject: Who is driving a 30-years old Porsche? Who is reading 2000-years old bible?
And I still have my Motorola V500 and Nokia N97. Nice small devices and both work. I use the latter to play fairy tales for my son. In the other hand iPhone 3 is in a box becau

[2022-06-10 14:34] charan9999 commented on #6023
It's not about wether you are interested in buying a new phone?? It's about the fact that people do use it other than the two major mobile operating system's which is Android and iOS. As it is not reasonable for developers to work on platforms with not much user base. Funny thing is you mentioned Bible, which is completely different scenario and not making any point. I'm not sure what you got so o

[2022-06-11 06:25] yareach commented on #6023
I'm not offended. You'll have to try a lot harder if you want me to be. Don't confuse me me with a girl on Instagram who posted her 100th selfie today and you instead of just clicking like dared commenting on her lipstick color.
You remind me of conversation with a girl from Chile 20 years ago. Those times on ICQ. She told me she wanted to learn Catalan. I replied: "Why would somebody learn a lang

[2022-06-13 12:14] biva commented on #6118
Hello, were you able to reproduce it? By the way, I just discover that it's the same on Focalboard, when I add content within the _Content_ section: the rendering is not the same as within Mattermost (cc @chenilim)

[2022-06-13 18:17] chenilim commented on #6118
Thanks @biva! @ogi-m, could you help repro this for Focalboard / Boards and file a bug if so? Thanks! cc @wuwinson.

[2022-06-14 11:49] GabrielAlexandru47 commented on #5074
Same issue here - @techyyz did you find the source of the problem?

[2022-06-17 20:19] mikeattey opened #6406 "Cannot connect to mattermost server using mobile apps"
After putting in my server url, I get the following message "Cannot connect to the server. Please check your server URL and internet connection." I know I have internet connection on my phone and if I go to the url using the phone web browser I get the login page.
This also happens on the IOS.

I'm using mattermost-ee-7.0 dockerized behind nginx reverse proxy with ssl ,I've tried it with ssl off b

[2022-06-19 06:17] aol-nnov opened #6408 "Wrong input hints leading to wrong keyboard appearance"
#### Summary

Input field has wrong hints, which leads to wrong keyboard type: .com/.net/.org quick button instead of emojis button, emails auto completeion, no typos auto correction. Mattermost client 2.0.0, Gboard. It worked fine before client update, but now it freaks me out every time I'm typing a message!

### Environment Information
  - Device Name: oneplus nord
  - OS Version: 11
  - Matter

[2022-06-19 07:03] kpd200081 commented on #6408
I can confirm this, I am using Yandex.Keyboard.

Device Name: Mi 9 T Pro
OS Version: 11
Mattermost App Version: 2.0.0

[2022-06-19 11:49] enahum commented on #6408
Hey @aol-nnov @kpd200081 first of all thank for testing our v2 beta app 🎉 definitely appreciate bug reports like this one.

Yes, at times bugs can be annoying, we'll try to update this version weekly to minimize bugs as we move forward with the addition of other missing features.

The whole idea behind making this v2 beta version of the app publicly available is to receive bug reports like this on

[2022-06-19 12:12] enahum commented on #6408
One thing I forgot to mention, we already submitted a fix for this bug to React Native https://github.com/facebook/react-native/pull/33924 which should be available in their next release, so as soon as that happens and we are able to upgrade, this issue should be resolved.

[2022-06-20 07:23] aol-nnov commented on #6408
@enahum thanks for the prompt reply! Glad to hear you've sorted it out already!

To be frank, I was using beta for ages and could bear with almost all sort of bugs (and reported them through appstore) but this one is beyond good and evil! Hope, you'll roll out an update any time soon!

Best,
Andrey

[2022-06-20 08:40] PhilippeWeidmann opened #6410 "Cannot build for release with with Sentry enabled"
#### Summary
When Sentry is enabled the command `npm run build:ios` fails.

### Environment Information
  - Device Name: -
  - OS Version: macOS 12.4
  - Mattermost App Version: 1.53
  - Mattermost Server Version: -
  - NPM version: I tried 7.24.2 and 8.5.5
  - Node version: Tried 15 and 16.15.0

#### Steps to reproduce
Simply enable Sentry in the fastlane env
[code]

Then do `npm run build:ios`

[2022-06-20 12:56] enahum commented on #6410
Hi @PhilippeWeidmann we've stopped building with sentry enabled for almost a year, so perhaps there are a few thing that need aome tweaking. A PR would be very much welcome

[2022-06-20 13:11] PhilippeWeidmann commented on #6410
Thanks, sadly I'm very new to the project and I have never developed an app using React Native.
Apart from the first fix I added, I didn't manage to get it working 😔

If this is not a priority you can go ahead and close the issue as I don't think I will be able to fix it.

One thing I was wondering is how do you handle the client crash / errors if they are not reported on Sentry ?

[2022-06-20 13:22] enahum commented on #6410
At the moment we do not have sourcemaps so is a bit complicated (until we re-enable it again), so we basically look at the reports on testflight and the play console.

there are plans to enable this in Q3, not sure if is going to be sentry or another service, but it will be on our v2 app which is currently in open beta. The `gekidou` branch is the main branch for v2

[2022-06-20 13:29] PhilippeWeidmann commented on #6410
Thanks for the answer 😌
Not sure if you want to close the issue but it's fine for me 👍

[2022-06-21 12:44] enahum commented on #6408
Fixed by #6409

[2022-06-21 12:44] #6408 closed

[2022-06-21 20:04] Orga84 opened #6418 "Mattermost Changing SwiftKey Keyboard Without User Input"
#### Summary
Mattermost changing SwiftKey keyboard

### Environment Information
  - Device Name: Samsung Galaxy S22 Ultra
  - OS Version: Android 12 / OneUI 4.1
  - Mattermost App Version: 2.0.0
  - Mattermost Server Version: 6.7.2

#### Steps to reproduce
Type text into any channel and insert it. Once the send button has been pressed, the keyboard layout will automatically change.

#### Expected

[2022-06-21 20:13] Clegko commented on #6418
Similar issues are happening to me, as well. I also have the Mattermost Beta (2.0.0) and server 6.7.2, but I am on a OnePlus 9 using GBoard.

GBoard also doesn't recommend words for auto-correct. It's like the text input field is tagged incorrectly and the keyboard doesn't know how to handle it?

[2022-06-21 22:44] enahum commented on #6418
This has already been fixed, will be avilable on the next beta build in a weeks time

[2022-06-21 22:44] #6418 closed

[2022-06-23 07:04] christianhueserhzdr opened #6424 "For some users of the iOS app in v1.53.0 no images, avatars, icons are displayed"
#### Summary
When using the newest iOS app in version 1.53.0 no images, avatars, icons are displayed when inspecting posts.

### Environment Information
  - Device Name: -
  - OS Version: iOS
  - Mattermost App Version: 1.53.0
  - Mattermost Server Version: 6.6.1

#### Steps to reproduce
Add Mattermost server in iOS app, become member of a team, inspect posts in channels.

#### Expected behavior
I

[2022-06-23 08:17] amyblais commented on #6424
This other issue might help: https://github.com/mattermost/mattermost-mobile/issues/4486.

https://github.com/mattermost/mattermost-mobile/issues/4486#issuecomment-1109302515

[2022-07-01 20:03] LouisSung opened #6451 "Error rendering when using autolink (@customgroup) in mobile app (even in v2)"
#### Summary
It's glad to hear the mobile v2.0 is under beta 🎉
However, this issue for custom group rendering does not seem to be fixed even in v2.0.0 (409)
Actually, I have been filed the issue for v1 as mattermost/mattermost-plugin-autolink#124 two years ago.

I guess maybe here is the better place to file the issue?

Sorry about not available to trace the code and pending that issue for such a

[2022-07-01 20:32] LouisSung commented on #6451
Alright, seems like the `mattermost-webapp` just ignore everything and escape them as a http URL
An acceptable solution except if there is any security concern I couldn't think of 🤔
<img src="https://user-images.githubusercontent.com/37973545/176964263-4e7a3207-f968-401b-a7ae-db3482221fee.png" width="300"/>

[2022-07-01 23:10] enahum commented on #6451
Hey Luis thanks for reporting.. i just don't know if we rver going to address that as there is now a new custom groups feature that does not require the autolink plugin and the hack for the custom groups :)

[2022-07-02 14:03] LouisSung commented on #6451
wow ok, glad to hear that  :D
I see the doc for [custom group](https://docs.mattermost.com/welcome/manage-custom-groups.html) and will make it a try
Just haven't caught up for a really long time and report the issue once I tried the mobile v2 beta app

I'll close this issue as there's already a better approach

[2022-07-02 14:17] LouisSung commented on #6451
Sorry for not taking closer look, the custom group feature seems limited to enterprise users (that why I didn't aware of)
Is this feature planned to land on Team version in the future?
If not, then I think this issue is still worth to resolve...

Although hacking with autolink is not the best and native choice, at least it works as is.
![image](https://user-images.githubusercontent.com/37973545/17

[2022-07-02 14:20] enahum commented on #6451
I'm not sure about the enterprise or not enterprise version of the feature, but if you really really want the autolinking resolved, you can always submit a pull request for review :)

[2022-07-02 14:24] LouisSung commented on #6451
That's reasonable, but I'm not sure if to align the implementation of Webapp (i.e., escape everything as http link) is safe  enough in mobile app.
Should that be discussed in the PR (if there is)?

[2022-07-02 14:25] enahum commented on #6451
Absolutely, we could diacuss it in the PR

[2022-07-05 10:31] p-baum opened #6457 "Camera app doesn't open on android"
#### Summary
Camera app doesn't open on android

### Environment Information
  - Device Name: Samsung Galaxy s7
  - OS Version: Android 8.0.0
  - Mattermost App Version: 1.53.0 (Build 3000404)
  - Mattermost Server Version: 7.0.1

#### Steps to reproduce
1. touch the camera icon to send a picture
2. Grant all requested permissions
4.  touch camera or video symbol

#### Expected behavior
Camera app

[2022-07-11 07:17] amyblais commented on #6457
@josephbaylon Are you able to reproduce this on Android?

[2022-07-11 07:23] josephbaylon commented on #6457
@amyblais It works for me using the app and server versions above. However, I tested on Pixel 3 XL (Android 12). Maybe they might want to try on Android 11 and above.

[2022-07-12 16:18] Yinameah opened #6470 "Markdown Check box are not displayed in android"
The markdown syntax for checkbox :

[code]

 which works in web and desktop app for me don't render properly in the android app.

The rendering does generate the bullet list, but the brackets remains as is.

___________

Mattermost android application version :  1.53.0 (build 3000404)
Server version : 7.0.1
Android version on my phone : 12

[2022-07-12 16:24] amyblais commented on #6470
@josephbaylon Are you able to reproduce this on Android?

[2022-07-12 23:24] enahum commented on #6470
Long standing missing feature, already included in v2

[2022-07-17 13:57] O5ten opened #6482 "NFE when uploading file on mattermost beta app"
#### Summary
NFE when trying to upload a file, image or otherwise on OnePlus 9 nord pro

### Environment Information
  - Device Name: OnePlus 9 pro (LE2123)
  - OS Version: Android 12
  - Mattermost App Version: 2.0.0 (BETA)
  - Mattermost Server Version: 7.0.1

#### Steps to reproduce
Open a channel
Upload a file or an Image
Get exception thrown in face

#### Expected behavior
I expect my file to

[2022-07-17 14:50] enahum commented on #6482
@O5ten Thanks for reporting, we'll address the crash for sure.

[2022-07-17 15:00] enahum commented on #6482
Also, can you share the locale of your device?

[2022-07-17 17:44] O5ten commented on #6482
The locale is swedish. Inget an error that it is missing a swell when i login, but it doesn't seem to affect anything.

[2022-07-17 17:46] O5ten commented on #6482
Happens every time for me. Here is the complete stack trace. Here i uploaded an image.
![Screenshot_2022-07-17-19-45-00-57_54b3de6ee54af4857dd823b6cb3a47b6](https://user-images.githubusercontent.com/3242379/179418211-8b25bf9a-b8bc-4b53-8c74-5a76d3674d86.jpg)

[2022-07-17 17:47] enahum commented on #6482
Thanks I'll check it out

[2022-07-17 21:48] enahum commented on #6482
@O5ten Can you confirm if you change your device language to english and see if the error persist?

Thanks

[2022-07-18 07:34] O5ten commented on #6482
Nope. The problem is gone then. As is the error message at the start. I did not think they were related. Attaching the startup error below.

![Screenshot_2022-07-18-09-32-34-15_54b3de6ee54af4857dd823b6cb3a47b6](https://user-images.githubusercontent.com/3242379/179463953-69a5753f-c3d4-485e-a5d5-2f3df19fc7fb.jpg)
![Screenshot_2022-07-18-09-32-39-93_54b3de6ee54af4857dd823b6cb3a47b6](https://user-imag

[2022-07-21 06:51] schmitts opened #6495 "Mattermost beta does not appear in list of apps to share to"
Hi!

Using the Mattermost beta, the Mattermost app on Android does not appear in the list of apps to share to using the Twitter client's share button. The current/old Mattermost app did and I used it regularly.

Thanks,

Sebastian

PS: confirmed by https://community.mattermost.com/core/pl/ty4saz5m13g93getf7fzqbaowo

[2022-07-21 06:53] schmitts opened #6496 "Back to last channel in Mattermost beta"
Hi!

Using the Mattermost beta on Android. After opening the list of channels I don't see a way to get back to the last channel I had open. This was possible in the current/old app by just swiping the channel list (checking for unread messages) and then swiping it again to get back to the channel I was following last. It would be good to have a "back to last channel" feature in the new app.

Thank

[2022-07-21 12:48] avinashlng1080 commented on #6496
Thanks Sebastian for your feedback.

The beta app - aka v2 app - is a redesign and yes, the navigation flow is a bit different.

@esethna I'm assigning you to this issue.  IIRC, you were looking into this together with @matthewbirtch ?

[2022-07-21 16:52] esethna commented on #6496
100% agree @schmitts, we should be supporting swiping gestures to return to the last viewed channel. I will open a tix for this: https://mattermost.atlassian.net/browse/MM-45904

[2022-07-21 16:52] esethna commented on #6496
@schmitts how is the rest of your experience with the app. Please share any feedback you have in our development channel: https://community.mattermost.com/core/channels/ship-gekidou--mobile-v2

[2022-07-25 14:48] schmitts opened #6505 "Font size too large in Mattermost beta on Android"
Hi!

It would be nice to have the option to change the font size in Mattermost beta on Android. Especially the channel list (and to a lesser extend the channel icons) are too large.

Thanks,

Sebastian

[2022-07-25 14:52] schmitts opened #6506 "German locale module unknown in Mattermost beta on Android"
Hi!

Starting Mattermost beta on Android, I get the following error (see attached screenshot):

`Requiring unknown module "./locale/de".`

I get the option to restart after which the application starts.

Thanks,

Sebastian

![Screenshot_20220721-153051](https://user-images.githubusercontent.com/1502412/180806409-d53eac3e-3b0f-4b71-b2f0-638567237120.png)

[2022-07-25 15:15] enahum commented on #6506
@schmitts What build are you on?

[2022-07-25 15:21] schmitts commented on #6506
2.0.0

[2022-07-25 15:23] enahum commented on #6506
That is the version, I'm talking about the build number.

You can see the build number in the about screen (account -> settings -> about) or at the bottom of the new server screen

[2022-07-25 15:27] schmitts commented on #6506
Sorry. When doing "account -> settings -> about" I get a different error:

`Text strings must be rendered within a <Text> component.` (see attached)

and I'm back to the account menu.
![Screenshot_20220725-172653](https://user-images.githubusercontent.com/1502412/180816289-c0ed1ccb-19cb-4ec4-882f-87d7b30a403e.png)

[2022-07-25 17:13] enahum commented on #6506
Ok cool we can deal with this one separately, in the meantime try getting the value from the server screen, "add" a new server, close the keyboard and look at the number on the lower left of the screen then cancel the addition of the server

[2022-07-26 08:21] schmitts commented on #6506
It's build 6000413.

[2022-07-26 14:08] enahum commented on #6506
@josephbaylon I'm unable to reproduce the problem with `de` locale, can you please give it a try ?

[2022-07-28 13:50] larkox commented on #1522
Closing this issue due to its age and that seems to be solved. If you still see the issue, feel free to reopen it.

[2022-07-28 13:50] #1522 closed

[2022-07-28 13:52] larkox commented on #2283
@esethna Is this still relevant, or should we close the ticket?

[2022-07-28 14:06] larkox commented on #3675
Closing this due to its age. @acostroma If this is still an issue for you, would be great if you can test with the new V2 version (https://mattermost.com/blog/mobile-beta-program-v2/ ) and reopen the ticket if needed.

[2022-07-28 14:06] #3675 closed

[2022-07-28 14:09] larkox commented on #3778
@matthewbirtch This is an old ticket, but is still valid (the order is different between mobile and web). Is this lack of consistency intended, or something to look into?

[2022-07-28 14:12] larkox commented on #3788
@bitdessert Are you still seeing this in the latest versions?

[2022-07-28 14:22] #3811 closed

[2022-07-28 15:12] matthewbirtch commented on #3778
In v2 we've placed the two destructive actions (Leave and Archive) together on the channel info modal. So, from that standpoint it's intentional. I wonder if it might make more sense to change the webapp to align with what we've proposed on mobile instead of the other way around.

[2022-07-28 16:02] #3883 closed

[2022-07-28 16:03] larkox commented on #3920
Closing due to the age of the issue. If you still see this issue in the latest versions of the app, feel free to reopen it.

[2022-07-28 16:03] #3920 closed

[2022-07-28 16:04] larkox commented on #3948
@bitdessert Closing because of the age of the issue. If you are still seeing this issue in the latest versions, feel free to reopen it.

[2022-07-28 16:04] #3948 closed

[2022-07-28 16:06] larkox commented on #3949
Closing because of the age of the issue. If you are seeing this in the latest versions, feel free to reopen the issue.

[2022-07-28 16:06] #3949 closed

[2022-07-28 18:00] josephbaylon commented on #6506
@enahum I'm able to reproduce. It only affects Android.

[2022-07-28 18:01] enahum commented on #6506
@josephbaylon did you try the PR with the "fix"

[2022-07-28 18:04] josephbaylon commented on #6506
@enahum Not yet, I'm still building it. I'll try in the next few minutes

[2022-08-02 11:16] enahum commented on #6495
Going to close this issue, you can keep track of the progress made here https://mattermost.atlassian.net/browse/MM-39945

[2022-08-02 11:16] #6495 closed

[2022-08-02 21:47] dns2utf8 commented on #3920
It is fixed with Android 12, so ... :shrug:

[2022-08-02 22:29] esethna commented on #6505
Thanks for the feedback @schmitts, the larger text was intentional for better readability but I can understand the other side of the coin. We'll keep this feedback in mind as we progress to GA.

As a potential alternative, it is possible to reduce the text size slightly in the accessibility settings on iOS but it will apply to all apps.

[2022-08-02 22:36] esethna commented on #2283
We can close and reopen as necessary

[2022-08-02 22:36] #2283 closed

[2022-08-04 14:37] linsui commented on #566
I want to have a try but I got
[code]
when `npm install`.

[2022-08-04 14:43] licaon-kter commented on #566
@linsui my recipe above or?

[2022-08-04 15:00] linsui commented on #566
Oh, my fault. I was thinking 8.11.0 is older that 8.5.5...

[2022-08-05 09:08] ericzzh opened #6549 "husky pre-commit grep regular expression"
#### Summary
This regular expression will include ios entitlements file, since the last "ts" will be mathced.
[code]

#### Steps to reproduce
Change something of entitlements file

#### Possible fixes
Escape the "."
[code]

[2022-08-08 06:05] christianhueserhzdr commented on #6424
Dear Amy @amyblais, thank you very much for pointing to this issue. I think you are right that these issues are related. I will post a comment there as well to ask for a fix for this issue.

[2022-08-08 06:06] christianhueserhzdr commented on #4486
Dear @bill2004158, that's really great to read that there is an explanation for this behaviour and a proposed solution. Many thanks for taking the time to pin down what is going wrong here. Do you think this could eventually be resolved at some point? It would be great to have images, avatars and icons working for all users. Would it be possible to assign this issue to someone who is able to fix t

[2022-08-08 10:45] christianhueserhzdr commented on #4486
Dear @enahum, since @bill2004158 reported this issue only and seems not to be a contributor yet, maybe you could give an estimation on what it takes to fix this issue and how long it could take? Do you have people working in it already? Thank you very much in advance for your response!

[2022-08-08 12:03] enahum commented on #4486
Hi @christianhueserhzdr sadly this is not something that we are actively looking at, the reality is that since this issue was opened, it looks like the affected deployments are not many in comparison with the amount of deployments that use SSO, which leads me to believe this is not really about the app but perhaps something in a reverse proxy or something.

On the other hand, the team full focus i

[2022-08-08 12:34] christianhueserhzdr commented on #4486
Dear Elias @enahum, many thanks for your estimation. I will give mobile v2 app a try. Great that the team is eagerly working on it! I will let you know if this issue is resolved in that new version.

[2022-08-09 12:40] enahum commented on #4486
@anurag6713 can you take a look into this?

[2022-08-18 17:54] enahum commented on #6549
PR's are welcome :)

[2022-08-22 13:47] francislavoie opened #6590 "Beta crash when opening Threads"
A fraction of a second after tapping on "Threads", I get this error popup. If I tap on relaunch, I get stuck with a blank screen and I need to kill the app and relaunch it. I'm not able to copy the stack trace, it's not selectable in the dialog.

I'm guessing what happened was my coworker deleted the root comment from a thread sometime last week when there was one reply to it. This could have left

[2022-08-22 13:54] amyblais commented on #6590
This looks to be related to https://mattermost.atlassian.net/browse/MM-46098? cc @anurag6713

[2022-08-22 14:03] francislavoie commented on #6590
Yeah, that looks about right. There's probably more than one way to make a comment no longer reachable, and the issue happens in that case.

[2022-08-22 15:40] anurag6713 commented on #6590
https://mattermost.atlassian.net/browse/MM-46098 is about not having access to the `channel` data. This issue seems to be about the `post`.

Is it continuously crashing every time you navigate to the threads screen?

[2022-08-22 16:17] francislavoie commented on #6590
Yes, I can't access the threads screen at all on mobile. Not a huge deal for me right now because I spend 95% of my time on my PC, just using the app to catch stray notifications.

[2022-08-23 12:38] licaon-kter commented on #566
Merged thanks to @linsui ref: https://gitlab.com/fdroid/fdroiddata/-/merge_requests/11589

[2022-08-23 13:56] amyblais commented on #6590
@anurag6713 Do we create a new ticket for this issue?

[2022-08-23 13:59] anurag6713 commented on #6590
I have created a ticket already.

https://mattermost.atlassian.net/browse/MM-46531

Fix will be in with this PR

https://github.com/mattermost/mattermost-mobile/pull/6592

[2022-08-24 17:17] okias opened #6597 "login: Phabricator support"
#### Summary
Support login though Phabricator.

#### Possible fixes
MR will follow.

[2022-08-29 18:31] amyblais commented on #5750
We couldn't reproduce this anymore internally on the latest mobile version (v1.55).
There is a separate ticket to implement connection banners for v2: https://mattermost.atlassian.net/browse/MM-39764.

[2022-08-29 18:31] #5750 closed

[2022-08-30 16:22] licaon-kter commented on #566
/close this https://f-droid.org/en/packages/com.mattermost.rnbeta/

[2022-08-30 16:47] ArchangeGabriel commented on #566
There is something strange though, version in PlayStore is 2.0.0 (and has been for a while now), which introduced multiserver support. Does 1.55 also have that? If so, why the different version numbers? If not, where is 2.0.0 source/release?

[2022-08-30 22:58] linsui commented on #566
See the readme.

[2022-09-06 17:39] amyblais commented on #6590
Closing as the PR is merged,

[2022-09-06 17:39] #6590 closed

[2022-09-06 17:47] #5840 closed

[2022-09-06 17:54] #6506 closed

[2022-09-06 17:56] francislavoie commented on #6590
Yep, confirmed, I don't see the crash anymore :+1: I'm on build `6000421`

[2022-09-06 18:17] #4994 closed

[2022-09-06 18:22] amyblais commented on #5929
This is implemented in Mattermost Mobile V2 Beta. Please see more details here: https://mattermost.com/blog/mobile-beta-program-v2/.

[2022-09-06 18:22] #5929 closed

[2022-09-06 18:22] amyblais commented on #5876
This is implemented in Mattermost Mobile V2 Beta. Please see more details here: https://mattermost.com/blog/mobile-beta-program-v2/.

[2022-09-06 18:22] #5876 closed

[2022-09-06 18:23] #5101 closed

[2022-09-06 18:25] amyblais commented on #4259
This is implemented in Mattermost Mobile V2 Beta. Please see more details here: https://mattermost.com/blog/mobile-beta-program-v2/.

[2022-09-06 18:25] #4259 closed

[2022-09-06 18:29] amyblais commented on #6406
Let us know if the suggestion above did not resolve the issue and we can re-open this,

[2022-09-06 18:29] #6406 closed

[2022-09-14 05:23] itsharis opened #6643 "Mobile app - Android app does not connect to self hosted server."
#### Summary
Android app does not connect to self hosted server.

### Environment Information
  - Device Name: Galaxy s10e
  - OS Version: 12
  - Mattermost App Version: Beta 2.0.0 and Official 1.55.0
  - Mattermost Server Version: v7.2.1

#### Steps to reproduce
Download the beta app from playstore or the regular app.
Enter the URL of the self hosted server. (using HTTP)
Type in the display name.

[2022-09-14 16:51] tralston commented on #4486
@svenseeberg @enahum

Just wanted to add some extra data to the issue. We are a corporate customer, on Enterprise Cloud. This affects us too. There's nothing I can do about our server config or reverse proxies, because that's all configured at MM. On my own iPad (company managed) I was having the same problem, and I logging out/in didn't work. But removing the app, then reinstalling and logging in

[2022-09-16 03:04] itsharis commented on #6643
I just had a look at it. I dont see anything similar to the issue i am having. There is no proxy in my case and i am trying to get the android app to connect directly to the mattermost docker container.

[2022-09-16 17:37] amyblais commented on #6643
Were there any errors with the SSL certificate configuration?

[2022-09-17 13:06] svenseeberg commented on #4486
Just want to add that this does not work for me. The issue persists after reinstalling the app.

[2022-09-21 08:16] jayDevel commented on #910
Are there any plans for implementing it after all? We would love this feature on our team, as this would be much more convenient than using the web-browser.

[2022-09-23 17:03] itsharis commented on #6643
I dont have SSL configured. Trying this over HTTP currently.

[2022-09-23 18:22] amyblais commented on #6643
Would you be open to raising this issue at https://community.mattermost.com/core/channels/peer-to-peer-help? One of our community or staff members may be able to help troubleshoot this.

[2022-09-26 15:51] cgonzales2679 opened #6655 "Direct Messages not showing up then disappearing from history after tapping notification"
#### Summary
Message notification pops up, is tapped, then app does not load and needs to be restarted, leading to the message not showing up in the recent message history.

### Environment Information
  - Device Name: iPhone 14 Pro
  - OS Version: Latest (16.0.2)
  - Mattermost App Version: 1.55.1
  - Mattermost Server Version: 7.0.1

#### Steps to reproduce
- Send a message to a user who has the

[2022-09-26 16:30] amyblais commented on #6655
@josephbaylon Are you able to reproduce this on the above environment? (I wasn't able to repro on V1 or V2 but I'm on an older device and OS version). cc @enahum

[2022-10-06 10:13] Willyfrog opened #6665 "Mobile v2 Help Wanted tickets"
We are currently developing the new version of mobile in which we make a few architectural changes, it would be great if you could help us deliver a better app.

## Get the environment setup

[Setup your work environment](https://developers.mattermost.com/contribute/more-info/mobile/developer-setup/)

## How to get help
If you want to have a glimpse on how is the new architecture, take a look at [

[2022-10-09 10:24] BigmenPixel0 opened #6673 "Unified Push support"
What about this?
unifiedpush.org

[2022-10-11 15:08] cgonzales2679 commented on #6655
@amyblais Bumping this issue. Have you found any good leads for the issue, maybe a fix?

[2022-10-11 15:13] amyblais commented on #6655
@cgonzales2679 I haven't been able to reproduce this on my end. Some things you could try out:

1. Delete and re-install the app.
2. Upgrade your server version to the latest (v7.3.0).
3. Try out our new v2.0 Beta app to see if the issue persists there too - instructions are here on how to sign up as a tester: https://mattermost.com/blog/mobile-beta-program-v2/.

[2022-10-12 16:55] leitmori opened #6680 "Emojis cropped when selecting a reaction"
#### Summary
Emojis are cropped when selecting a reaction to a message.

### Environment Information
  - Device Name: iPad Air 4
  - OS Version: iPadOS 15.7
  - Mattermost App Version: 1.55.1
  - Mattermost Server Version: 7.2.0

#### Steps to reproduce
Select reaction to a message.

#### Expected behavior
Emojis are not cropped.

#### Observed behavior (that appears unintentional)
Emojis are crop

[2022-10-12 18:43] amyblais commented on #6680
@josephbaylon Do you or someone on QA have iPad Air to test this?

[2022-10-12 19:17] amyblais commented on #6680
Opened https://mattermost.atlassian.net/browse/MM-47526.

[2022-10-13 15:10] cgonzales2679 commented on #6655
Looked into it, update to 7.3 fixed it, rolling out the update soon.
Will send another issue for further problems.

[2022-10-13 15:10] #6655 closed

[2022-10-19 15:53] amyblais commented on #6680
This is fixed in Mattermost Mobile V2 Beta. Please see more details here on how to sign up as a beta tester: https://mattermost.com/blog/mobile-beta-program-v2/.

[2022-10-19 15:53] #6680 closed

[2022-10-19 15:54] amyblais commented on #5904
Closing as fixed,

[2022-10-19 15:54] #5904 closed

[2022-10-19 15:54] amyblais commented on #5834
Closing as this is currently not a priority,

[2022-10-19 15:54] #5834 closed

[2022-10-26 12:23] #6048 closed

[2022-10-29 16:02] Nixellion commented on #6023
I am not developer of Mattermost but I am pretty sure its made with Electron, which basically runs its web version in a browser inside the app. This does not work with UWP. If windows app was made with UWP framework initially then it would not have required much effort to port. Assuming all APIs are available on mobile. But its not written with UWP and not even as a native C# or C++ app. Its a web

[2022-10-31 22:02] yousefg opened #6718 "resize image upload"
#### Summary
 images should be compressed and resized before upload to server.

### Environment Information
  - Device Name: iPhone 13 Pro - Asus  Zenfone Max Plus
  - OS Version: 16.1 - Android 7
  - Mattermost App Version: 1.55.1
  - Mattermost Server Version: 7.0.1

#### Expected behavior
the image should be resized on the client BEFORE uploading automatically (eg. like whatsapp)

[2022-11-02 18:36] esethna commented on #6718
Hi @yousefg, thanks for the feedback. Can you help me understand why this is desirable?

To shed some context here, we previously used to compress images but received negative feedback about the reduced image quality. We've since uploaded images at full size to maintain high quality when accessed via the computer or shared outside mattermost.

[2022-11-02 19:24] esethna commented on #6718
Got it, can you help a feature request on our idea forum so we can track it there? Agree it should be optional.
https://mattermost.uservoice.com/forums/306457-general

[2022-11-02 19:54] yousefg commented on #6718
there is a request submitted on 2017!

https://mattermost.uservoice.com/forums/306457-general/suggestions/18343426-resize-image-upload

[2022-11-03 17:55] esethna commented on #6718
Thanks @yousefg, are you open to contributing an improvement like this? I am envisioning a system console setting where the admin can decide the default behaviour for the server (ie compressed or uncompressed)

[2022-11-03 19:07] yousefg commented on #6718
Yes I’ll do my best, but I think client side compressing has better performance than server side. user can choose quality of images for upload(like Microsoft Teams). although admin already can limit Maximum File Size.

[2022-11-03 19:23] esethna commented on #6718
@yousefg can you share the settings or options you're referring to in Teams?

[2022-11-03 19:24] esethna commented on #6718
@Rishselva looping you in here as it relates to the investigation you were doing on max image dimensions and max file size defaults. I wonder if there's a solution here that solves both these use cases? I'll leave this in your hands to take over.

[2022-11-03 20:22] yousefg commented on #6718
Thanks @esethna for your consideration.

**Microsoft Teams Image upload quality screenshot:**
![ab7f102378944d368220bfe37250e150](https://user-images.githubusercontent.com/21288086/199825772-258b5e7f-b1e3-4e55-8d45-ae8dc5e67584.jpg)

[2022-11-08 13:35] tmotyl opened #6749 "channels in search should be sorted by activity"
#### Summary
Search box for channels and private messages should show them using last activity order (like it is on desktop and web)
Right now alphabetical order is shown.
This is especially painful when you have old conversations with person with name starting with "A". I have several inactive users starting with A, so conversations with them are shown on the top of the list. Which makes me scrol

[2022-11-08 18:27] esethna commented on #6749
Hi @tmotyl, I'd encourage you to opt-in to our beta program to try the Mobile app v2.0 where we've resolved this:  https://mattermost.com/blog/mobile-beta-program-v2/

[2022-11-11 17:53] #6749 closed

[2022-11-15 06:33] tmotyl commented on #6749
Thanks @esethna! the beta app works fine. No issues so far (ios)

[2022-11-16 17:00] Mannshoch commented on #6673
I already use it for a matrix client. It works !

[2022-11-23 19:47] kz159 commented on #4557
Can someone please add this to documentation?
I've spent two days fighting this and when i've added TLSv1.2 to nginx(where TLSv1.3 only) it worked like a charm
No more annoying bar that says connecting, finally

[2022-11-23 20:02] amyblais commented on #4557
@kz159 Do you have an idea on where in the documentation you'd expect to find this information? Would you be open to creating a docs issue for this here https://github.com/mattermost/docs/issues (I can also help create an issue if you'd prefer)?

[2022-11-23 22:20] enahum commented on #4557
The upcoming mobile v2 should support TLS1.2 and TLS 1.3 for websocket connections

[2022-11-24 12:12] kz159 commented on #4557
@amyblais sure! and i would love to take some help with this, how we will deal with this?

[2022-11-24 12:58] kz159 commented on #4557
@amyblais here, can you review? https://github.com/mattermost/docs/issues/6070

[2022-11-24 13:16] amyblais commented on #4557
Looks good, thank you!

[2022-11-27 03:33] erinarbleizez commented on #6673
As a LineageOS user in order to de-google my phone because that's the best thing to do in this dark time (and without Micro-G possibility because my phone is not supported yet) I would really like having my notification pushed through unifiedpush (which is the best simple alternative to firebase cloud messaging).

It would also be more in accordance with F-Droid philosophy of not depends on Google

[2022-11-28 08:37] ados8 opened #6794 "OpenID not supported on Android"
#### Summary
Appears according to documentation that only web interfaces support OpenID.
Using mobile platform, in this case Android, there is no option to see/use the OpenID provider; option is plain missing.
Using the community Team Edition.

#### Steps to reproduce
Configure OpenID, visually see it in the web and able to login.
Open the mobile app and sign in page has no option other than usern

[2022-11-28 08:44] Mannshoch commented on #3355
Unified Push support: https://github.com/mattermost/mattermost-mobile/issues/6673

[2022-11-28 14:15] amyblais commented on #6794
Our upcoming Mobile V2 release will support OpenID in Team Edition: https://github.com/mattermost/mattermost-mobile/pull/6755. The release is currently scheduled for December 15th.

[2022-11-29 09:34] ados8 commented on #6794
Thats excellent, thank you for the swift response.
Look forward to the feature.

[2022-11-30 05:42] kz159 commented on #4557
Happy to help!
Thank you for mattermost!

[2022-11-30 12:27] recsdj opened #6802 "on iOS cannot reply via notification or share while the app is closed"
#### Summary
Two long-standing bugs on iOS. They manifest whenever MM app is closed, regardless of login status. If the app is running in background, everything works as expeced. No other chatting app exhibits such behaviour, *even WeChat works properly* in both scenarios.

- Replying via force-touch on a notification fails with "Message failed to send"
- Sharing a file fails with "Authentication

[2022-11-30 13:17] amyblais commented on #6802
@recsdj Would you be open to testing if you also see these bugs in our upcoming V2 app? You can get access to the beta version via the instructions here https://mattermost.com/blog/mobile-beta-program-v2/.